
/* PC */
@media screen and (max-width: 1800px) {   	

	.header .h_bottom .h_category { max-width: 69%;}

}


@media screen and (max-width: 1580px) {   
	
	.header .h_bottom .h_category { max-width: 72%; gap: 2.4rem; }
	.header .h_bottom .h_schbox { width: 25%; padding: 0 2rem;}

}


@media screen and (max-width: 1440px) {  
	
	.header .h_top { gap: 5.6rem;}

	.adm_sec .tbl_topftbox .select_box { width: 18rem;}
	.adm_sec .tbl_topftbox .input_box { width: 100%; flex: 1;}
	.adm_sec .tbl_topftbox .input_box .input_text { width: 100%;}
	.adm_dashboard .dash_col .contbox .infobox2 .item .desc { font-size: 2.4rem;}

}


@media screen and (max-width: 1380px) {  
	
	.header .h_top { gap: 4.6rem;} 
	.header .h_top .h_nav > li { font-size: 2.2rem;}
	.header .h_bottom .h_category > li { font-size: 1.8rem;}
	
}


@media screen and (max-width: 1280px) {

  	html {font-size: 9px !important;}  

}


@media screen and (max-width: 1180px) {

  	html {font-size: 8px !important;}  

}