
/* 어드민 공통 */
.admin_wrap .container {padding-top: 0;}
.adm_topbox { position: relative; width: 100%;  height: 9rem;  background: #f5f7f9;   border-bottom: 1px solid #000;display: flex; z-index: 5;} 
.adm_topbox .top_left { width: 24rem;  padding: 0 2rem; display: flex; align-items: center;}
.adm_topbox .top_left .logo { display: flex;  align-items: center;  gap: 1.5rem;   font-weight: 600;  font-size: 2.4rem;  line-height: 100%;  color: #000;}
.adm_topbox .top_left .logo .thum {display: flex; align-items: center; justify-content: center; width: 5rem; aspect-ratio: 1/1; border-radius: 50%; overflow: hidden;}
.adm_topbox .top_left .logo .thum .img {width: 100%; height: 100%; object-fit: cover;}
.adm_topbox .top_right { width: calc(100% - 24rem);  display: flex; align-items: center;  justify-content: space-between;  padding: 0 5.6rem 0 4rem;}
.adm_topbox .top_right .leftbox { display: flex; align-items: center; gap: 7.4rem;}
.adm_topbox .top_right .leftbox .infobox { display: flex;  align-items: center;  gap: 4rem;}
.adm_topbox .top_right .leftbox .infobox .item { font-size: 1.6rem;  line-height: 100%;  color: #000; display: flex; align-items: center; gap: 0.8rem;}
.adm_topbox .top_right .leftbox .infobox .item .desc { display: flex;  align-items: center;  gap: 0.8rem;  font-weight: 600;}
.adm_topbox .top_right .leftbox .infobox .item .desc .icon { width: auto;  height: 1.7rem; display: inline-block;}
.adm_topbox .top_right .leftbox .infobox .item .state_dot { width: 1.7rem;  aspect-ratio: 1 / 1; border-radius: 50%;  border: 1px solid #2E4369;}
.adm_topbox .top_right .leftbox .infobox .item .state_dot.state1 {background: #44d88d;}
.adm_topbox .top_right .leftbox .infobox .item .state_dot.state2 {background: #fc6;}
.adm_topbox .top_right .leftbox .infobox .item .state_dot.state3 {background: #f27e7c;}
.adm_topbox .top_right .leftbox .infobox .item .state_dot.state4 {background: #808080;}
.adm_topbox .top_right .leftbox .noticebox {display: flex; align-items: center; gap: 1rem; font-size: 1.3rem;line-height: 100%;color: #000;}
.adm_topbox .top_right .leftbox .noticebox .tit {font-weight: 600;}
.adm_topbox .top_right .leftbox .noticebox .cont {display: flex; align-items: center; gap: 1rem;}
.adm_topbox .top_right .leftbox .noticebox .cont .bar {width: 1px; height: 1.1rem; background: #d9d9d9;}
.adm_topbox .top_right .leftbox .noticebox .cont .date {font-size: 1.2rem;line-height: 100%;color: #666;}
.adm_topbox .top_right .rightbox .date{font-size: 1.3rem;line-height: 100%;color: #000;}
.adm_sec { position: relative; width: 100%; display: flex; background: #fafcfe;}
.adm_sec .adm_side { position: relative; width: 24rem; border-right: 1px solid #c3cfdb; overflow: hidden;}
.adm_sec .adm_side .sidemenu { display: flex;  flex-direction: column;}
.adm_sec .adm_side .sidemenu > li { border-bottom: 1px solid #c3cfdb;}
.adm_sec .adm_side .sidemenu > li .title, 
.adm_sec .adm_side .sidemenu > li .acc_tit { font-weight: 600; font-size: 1.6rem;   line-height: 113%; color: #000; display: flex;  align-items: center;  justify-content: space-between;  padding: 1.4rem 2rem; cursor: pointer;}
.adm_sec .adm_side .sidemenu > li .title .tit,
.adm_sec .adm_side .sidemenu > li .acc_tit .tit {flex: 1;}
.adm_sec .adm_side .sidemenu > li .title .arrow,
.adm_sec .adm_side .sidemenu > li .acc_tit .arrow {background: url(../img/sidemenu_arrow.png) no-repeat center/contain; width: 0.8rem; aspect-ratio: 1/1; transition: all 0.4s ease; }
.adm_sec .adm_side .sidemenu > li .title .arrow {transform: rotate(-90deg);}
.adm_sec .adm_side .sidemenu > li.show .acc_tit .arrow {transform: rotate(-180deg);}
.adm_sec .adm_side .sidemenu .acc_cont {display: none; background: #fff;}
.adm_sec .adm_side .sidemenu .acc_cont .submenu {display: flex; flex-direction: column; gap: 1.4rem; padding: 1.5rem 2.8rem;}
.adm_sec .adm_side .sidemenu .acc_cont .submenu > li .link {font-size: 1.4rem;color: #465568;}
.adm_sec .adm_side .sidemenu .acc_cont .submenu > li.on .link {font-weight: 600; color: #000;}
.adm_sec .adm_cont {position: relative; width: calc(100% - 24rem);}

.adm_sec .period_box { border: 1px solid #c3cfdb; display: flex;}
.adm_sec .period_box .btn { position: relative; width: 6rem;  height: 3.7rem;   font-size: 1.4rem; line-height: 100%; text-align: center; color: #465568;  border-right: 1px solid #c3cfdb; display: flex; align-items: center; justify-content: center;}
.adm_sec .period_box .btn:last-child {border-right: 0; }
.adm_sec .period_box .btn::after { content: "";  position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%, -50%);  border: 1px solid #000;  width: 100%;  height: 100%;  opacity: 0;}
.adm_sec .period_box .btn.on {font-weight: 600;color: #000;}
.adm_sec .period_box .btn.on::after {opacity: 1;}
.adm_sec .date_box {display: flex; align-items: center; gap: 1.3rem;}
.adm_sec .date_box .date_item { border: 1px solid #c3cfdb; width: 14.5rem;  height: 3.7rem;  display: flex;}
.adm_sec .date_box .date_item .input { flex: 1; width: 100%; font-size: 1.4rem;  line-height: 100%; color: #465568; padding: 0 1.4rem; border: 0; border-right: 1px solid #c3cfdb; cursor: pointer;}
.adm_sec .date_box .date_item .btn {background:url(../img/ico_date.png) no-repeat center/contain; height: 100%; aspect-ratio: 1/1; cursor: pointer;}
.adm_sec .date_box .date_txt {font-size: 1.4rem;line-height: 100%;text-align: center;color: #465568;}
.adm_sec .input_box {width: 100%;}
.adm_sec .input_box .input_text { width: 100%; height: 3.7rem; font-weight: 400;  line-height: 100%; color: #465568;  padding: 0 1.3rem;  border: 1px solid #c3cfdb;   background: #fff;font-size: 1.2rem;line-height: 100%;color: #99a7b4;}
.adm_sec .input_box .input_text::placeholder {color: #99a7b4;}
.adm_sec .input_flex {display: flex; gap: 1.2rem;}
.adm_sec .input_flex .input_btn { width: 11.2rem; height: 3.7rem;  font-weight: 600; font-size: 1.4rem;  line-height: 100%; color: #fff; background: #000; padding: 0 1.6rem; display: flex; align-items: center; justify-content: center; white-space: nowrap;}
.adm_sec .select_box {width: 100%;}
.adm_sec .select_box .select {width: 100%; height: 3.7rem; appearance: none; background: url(../img/ico_selectarrow.png) no-repeat right 1.3rem center/0.85rem #fff; padding-left: 1.3rem; padding-right: 3rem; border: 1px solid #c3cfdb;font-size: 1.2rem;line-height: 100%;color: #465568; cursor: pointer;}
.adm_sec .check_wrap {display: flex; align-items: center; flex-wrap: wrap; gap: 1rem 2.6rem;}
.adm_sec .check_box{display: flex; align-items: center; gap: 0.9rem;}
.adm_sec .check_box .input_check {appearance: none; width: 2rem; height: 2rem; background: url(../img/checkbox_off.png) no-repeat center/contain; cursor: pointer;}
.adm_sec .check_box .label_check {font-size: 1.4rem;line-height: 114%;color: #465568; cursor: pointer;}
.adm_sec .check_box .input_check:checked {background-image: url(../img/checkbox_on.png);}
.adm_sec .check_box .input_check:checked + .label_check {font-weight: 600; color: #000;}
.adm_sec .ico_btn {height: 3.7rem; display: flex; align-items: center; gap: 0.5rem ; padding: 0.7rem 1rem; border: 1px solid #c3cfdb; background: #fff; font-size: 1.2rem;line-height: 100%;color: #465568; white-space: nowrap;}
.adm_sec .ico_btn .icon {width: 1.6rem;}
.adm_sec .tbl_wrap {padding: 5rem 5rem 6rem; display: flex; flex-direction: column;}
.adm_sec .tbl_wrap.ver2 {padding-top: 2.5rem; padding-bottom: 4.8rem;}
.adm_sec .tbl_topbtnbox {border-bottom: 1px solid #c3cfdb; padding-bottom: 2.5rem; margin-bottom: 2.5rem; display: flex; align-items: center; justify-content: space-between;}
.adm_sec .tbl_topbtnbox .leftbox, 
.adm_sec .tbl_topbtnbox .rightbox { display: flex; align-items: center; gap: 1.2rem;}
.adm_sec .tbl_topbtnbox .rightbox {justify-content: flex-end;}
.adm_sec .tbl_topbtnbox .btn { font-size: 1.4rem; line-height: 100%; color: #465568;  padding: 1rem 1.2rem; border: 1px solid #99a7b4;  background: #fff; display: flex; align-items: center; justify-content: center; gap: 1rem;}
.adm_sec .tbl_topbtnbox .btn.ver2 {border-color: #465568;}
.adm_sec .tbl_topbtnbox .btn .arrow {background: url(../img/btn_arrow.png) no-repeat center/contain; width: 0.6rem ; aspect-ratio: 6/10;} 
.adm_sec .tbl_topftbox { display: flex; align-items: center; gap: 1.2rem; margin-bottom: 3rem;}
.adm_sec .tbl_topftbox > .tit {font-size: 1.4rem;line-height: 100%;color: #465568; margin-right: 1.4rem; } 
.adm_sec .tbl_topftbox .select_box {width: 20.5rem;} 
.adm_sec .tbl_topftbox .input_box {width: auto;}
.adm_sec .tbl_topftbox .input_box .input_text {width: 37rem;} 
.adm_sec .tbl_box {position: relative; width: 100%;}
.adm_sec .tbl_box .tbl {width: 100%; border-collapse: collapse; border: 1px solid #c3cfdb;}
.adm_sec .tbl_box .tbl thead tr th { height: 4rem; font-weight: 600; font-size: 1.3rem;  line-height: 108%; text-align: center; color: #465568; border-right: 1px solid #c3cfdb;  background: #f6f8fa; padding: 1.2rem 0.4rem; text-align: center;}
.adm_sec .tbl_box .tbl thead tr th:last-child {border-right: 0;}
.adm_sec .tbl_box .tbl tbody tr { border-top: 1px solid #c3cfdb;}
.adm_sec .tbl_box .tbl tbody tr td { height: 3rem; padding: 0.35rem 0.4rem;  font-size: 1.2rem; line-height: 130%; color: #465568; border-right: 1px solid #c3cfdb; text-align: center;}
.adm_sec .tbl_box .tbl tbody tr td:last-child {border-right: 0;}
.adm_sec .tbl_box .tbl tbody tr td .tit { white-space: nowrap;  overflow: hidden;   text-overflow: ellipsis;  display: block;  width: 100%;  max-width: calc(282px - 1rem * 2);}
.adm_sec .tbl_box .tbl .align_left {text-align: left;}
.adm_sec .tbl_box .tbl .align_center {text-align: center;}
.adm_sec .tbl_box .tbl .align_right {text-align: right;}
.adm_sec .tbl_box .tbl .link {text-decoration: underline;color: #0b0bd8;}
.adm_sec .tbl_box .tbl .bold {font-weight: 600;}
.adm_sec .tbl_box .tbl .green {color: #0fb67d;}
.adm_sec .tbl_box .tbl .red {color: #e91b1b;}
.adm_sec .tbl_box .tbl [data-th="allcheck"] {padding: 0 0.8rem;}
.adm_sec .tbl_box .tbl .check_box {display: inline-flex;}
.adm_sec .tbl_box .tbl .check_box .input_check {border: 1px solid #c3cfdb; border-radius: 0.5rem; background: #fff; width: 1.6rem; height: 1.6rem;}
.adm_sec .tbl_box .tbl .check_box .input_check:checked {background: url(../img/checkbox_on.png) no-repeat center/contain;border-color: #000;}
.adm_sec .tbl_box .tbl .select_box .select { height: 2.2rem;  background-position-x: right 0.8rem; padding-right: 2.2rem; padding-left: 0.6rem; font-size: 1.1rem;}
.adm_sec .tbl_box .tbl .input_box .input_text { height: 2.2rem;  padding: 0 0.6rem;  font-size: 1.1rem;}
.adm_sec .tbl_layout {display: flex; align-items: flex-start;}
.adm_sec .tbl_box.sticky .tbl {border-right-color: #465568;}
.adm_sec .tbl_box.w372 {width: 37.2rem; min-width: 37.2rem;}
.adm_sec .tbl_box.overflow {flex: 1; overflow: auto; border-right: 1px solid #c3cfdb;}
.adm_sec .tbl_box.overflow::-webkit-scrollbar {display: none;}
.adm_sec .tbl_box.overflow .tbl { min-width: max-content;}
.adm_sec .tbl_box.overflow .tbl .custom_scrollbar { position: absolute;  left: 1rem;   bottom: 0;  width: calc(100% - 1rem * 2);  height: 3rem;  cursor: pointer;}
.adm_sec .tbl_box.overflow .tbl .custom_scrollbar .bar {position: absolute; left: 0;  top: 50%; transform: translateY(-50%);  width: 0; height: 1.4rem; border-radius: 10rem; background: #465568;cursor: grab;}
.adm_sec .tbl_box.overflow .tbl .custom_scrollbar .bar::before,
.adm_sec .tbl_box.overflow .tbl .custom_scrollbar .bar::after {content: ""; width: 1.2rem; aspect-ratio: 1/1; background: no-repeat center/contain; position: absolute; top: 50%; transform: translateY(-50%);}
.adm_sec .tbl_box.overflow .tbl .custom_scrollbar .bar::before {background-image: url(../img/scroll_left.png); left: 0;}
.adm_sec .tbl_box.overflow .tbl .custom_scrollbar .bar::after {background-image: url(../img/scroll_right.png); right: 0;}
.adm_sec .tbl_bottom { padding: 2.5rem 5rem;display: flex; flex-direction: column;    gap: 2.5rem;background: #f5f7f9;}
.adm_sec .tbl_bottom .item {display: flex; align-items: center; gap: 3.6rem; padding-bottom: 2.5rem; border-bottom: 1px solid #c3cfdb;}
.adm_sec .tbl_bottom .item:last-child {border-bottom: 0; padding-bottom: 0;}
.adm_sec .tbl_bottom .item .tit {font-size: 1.6rem;line-height: 100%;color: #465568; width: 9rem; }
.adm_sec .tbl_bottom .item .cont {flex: 1; display: flex; flex-wrap: wrap; gap: 0.7rem;}
.adm_sec .tbl_bottom .item .cont .btn { font-size: 1.4rem; line-height: 100%;  color: #465568;  padding: 1rem 1.2rem; border: 1px solid #99a7b4; background: #fff;}
.adm_sec .pagination {display: flex; align-items: center; justify-content: center; gap: 0.5rem; margin-top:4rem}
.adm_sec .tbl_wrap.ver2 .pagination {margin-top: 5rem;}
.adm_sec .pagination .page_btn {background: no-repeat center/contain #f6f8fa; border: 1px solid #c3cfdb; width: 4rem; aspect-ratio: 1/1;} 
.adm_sec .pagination .page_btn.start {background-image: url(../img/page_start.png);}
.adm_sec .pagination .page_btn.prev {background-image: url(../img/page_prev.png);}
.adm_sec .pagination .page_btn.next {background-image: url(../img/page_next.png);}
.adm_sec .pagination .page_btn.end {background-image: url(../img/page_end.png);}
.adm_sec .pagination .page_link {background:#f6f8fa; border: 1px solid #c3cfdb; width: 4rem; aspect-ratio: 1/1; font-weight: 500;font-size: 1.4rem;text-align: center; color: #353535; display: flex; align-items: center; justify-content: center; width: 4rem; aspect-ratio: 1/1;}
.adm_sec .pagination .page_link.on {background: #000; border-color: #000; color: #fff;}

.adm_cont {display: flex; flex-direction: column; gap: 4rem; padding: 4rem;}
.adm_cont .dash_row { width: 100%; display: flex; gap: 2.5rem;}
.adm_cont .dash_col { border: 1px solid #c3cfdb; background: #fff; display: flex;  flex-direction: column;}
.adm_cont .dash_col.col1 {width: calc((100% - 2.5rem*3)/4);}
.adm_cont .dash_col.full {width: 100%; flex: 1;}
.adm_cont .dash_col .titbox { position: relative; width: 100%;  height: 6rem;   display: flex;  align-items: center;  justify-content: space-between; padding: 0 2rem; border-bottom: 1px solid #c3cfdb;}
.adm_cont .dash_col .titbox .left,
.adm_cont .dash_col .titbox .right {display: flex; align-items: center; gap: 0.7rem; width: 50%;}
.adm_cont .dash_col .titbox .left .adm_tit {font-weight: 600;font-size: 1.6rem;line-height: 100%;color: #465568;}
.adm_cont .dash_col .titbox .left .adm_tit .small {font-size: 1.2rem; line-height: 100%;}
.adm_cont .dash_col .titbox .right {justify-content: flex-end;}
.adm_cont .dash_col .titbox .right .select_box {width: 14.5rem;}
.adm_cont .dash_col .titbox .right .select_box .select {height: 3rem;background-position-x: right 1rem; padding-right: 2.2rem; padding-left: 0.9rem;}
.adm_cont .dash_col .titbox .right .ico_btn {height: 3rem;}
.adm_cont .dash_col .contbox {position: relative; width: 100%;} 

.adm_titbox {display: flex; align-items: center; gap: 1rem;}
.adm_titbox .icon {width: auto; height: 3.2rem;}
.adm_titbox .tit {font-weight: 400;font-size: 2rem;line-height: 100%;color: #000;}

.adm_search {padding: 3rem 5rem; display: flex; flex-direction: column; gap: 3rem;}
.adm_search .sch_item {display: flex; align-items: flex-start; gap: 3.6rem; border-bottom: 1px solid #c3cfdb; padding-bottom: 2.5rem;}
.adm_search .sch_item.center {align-items: center;}
.adm_search .sch_item .sch_tit {font-weight: 600;font-size: 1.6rem;line-height: 100%;color: #465568; width: 9rem;}
.adm_search .sch_item .sch_cont { flex: 1; display: flex; align-items: center; flex-wrap: wrap; gap: 1.2rem 2rem;}
.adm_search .sch_item .sch_cont .sch_row {width: 100%; display: flex; align-items: center; gap: 2rem;}
.adm_search .sch_item .sch_cont .sch_row.mb12 {margin-bottom: 1rem;}
.adm_search .sch_item .sch_cont .full {flex: 1;}
.adm_search .sch_item .sch_cont .w100 {width: 100%;}
.adm_search .sch_item .sch_cont .mx508 {max-width: 50.8rem;}
.adm_search .sch_item .sch_cont .mx594 {max-width: 59.4rem;}
.adm_search .sch_item .sch_cont .minus16 {margin-left: -1.6rem;}
.adm_search .sch_itembox {display: flex; align-items: center; flex-wrap: wrap; gap: 2.4rem 13.6rem; border-bottom: 1px solid #c3cfdb; padding-bottom: 2.5rem;}
.adm_search .sch_itembox:last-child {border-bottom: 0; padding-bottom: 0;}
.adm_search .sch_itembox .sch_item {border-bottom: 0; padding-bottom: 0;}
.adm_search .sch_bottom {width: 100%;}
.adm_search .sch_bottom .sch_btn {font-weight: 600;font-size: 1.6rem;line-height: 100%;color: #fff; padding: 1.4rem 2rem; background: #000;}
.adm_search .select_box {width: 15rem;}  

.adm_sendbox {padding: 3.2rem 5rem; display: flex; flex-direction: column; gap: 3.2rem;}
.adm_sendbox .send_item { display: flex; align-items: center; gap: 3.6rem;  border-bottom: 1px solid #c3cfdb; padding-bottom: 3rem;}
.adm_sendbox .send_item:last-child {border-bottom: 0; padding-bottom: 0;}
.adm_sendbox .send_item .send_tit {font-weight: 600;font-size: 1.6rem;line-height: 100%; width:9rem}
.adm_sendbox .send_item .send_tit.green {color: #0fb67d;}
.adm_sendbox .send_item .send_tit.red{color: #e91b1b;}
.adm_sendbox .send_item .send_cont { flex: 1; display: flex; flex-wrap: wrap; gap: 1.2rem;}
.adm_sendbox .send_item .send_cont .item { position: relative; width: 18.9rem;  height: 6rem;  border: 1px solid #c3cfdb; background: #fff; display: flex;  align-items: center;  gap: 1.3rem;  padding: 0 2.4rem 0 1.5rem;}
.adm_sendbox .send_item .send_cont .item .icon { width: 3.6rem;}
.adm_sendbox .send_item .send_cont .item .txtbox { flex: 1; display: flex;  flex-direction: column; gap: 0.3rem;}
.adm_sendbox .send_item .send_cont .item .txtbox .tit { font-size: 1.2rem; line-height: 100%; color: #465568;}
.adm_sendbox .send_item .send_cont .item .txtbox .desc {font-weight: 600;font-size: 2.2rem;line-height: 100%;color: #000;}
.adm_sendbox .send_item .send_cont .item .txtbox .desc.green {color: #0fb67d;}	
.adm_sendbox .send_item .send_cont .item .txtbox .desc.red {color: #e91b1b;}	
.adm_sendbox .send_item .send_cont .item .info_btn { background: url(../img/ico_info.png) no-repeat center / contain; width: 2rem; aspect-ratio: 1 / 1; position: absolute;  right: 0.5rem; top: 0.5rem;}


/* 대시보드 */
.adm_dashboard .dash_col .titbox { position: relative; width: 100%;  height: 6rem;   display: flex;  align-items: center;  justify-content: space-between; padding: 0 2rem; border-bottom: 1px solid #c3cfdb;}
.adm_dashboard .dash_col .titbox .tit { font-weight: 600;  font-size: 2rem;  line-height: 100%;  color: #000;  display: flex; align-items: center; gap: 0.8rem;}
.adm_dashboard .dash_col .titbox .tit .icon {width: auto; height: 3.2rem;}
.adm_dashboard .dash_col .titbox .reset_btn {background: url(../img/ico_reset.png) no-repeat center/contain; width: 2rem; aspect-ratio: 1/1;}
.adm_dashboard .dash_col .contbox .stepbox {display: flex; align-items: center; justify-content: space-between; padding: 5rem 9.2rem 6.2rem;}
.adm_dashboard .dash_col .contbox .stepbox .item {display: flex; flex-direction: column; gap: 1rem; text-align: center;}
.adm_dashboard .dash_col .contbox .stepbox .item .tit {font-weight: 400;font-size: 1.6rem;line-height: 100%;color: #465568;}
.adm_dashboard .dash_col .contbox .stepbox .item .desc {font-weight: 600;font-size: 3rem;line-height: 100%;color: #000;}
.adm_dashboard .dash_col .contbox .stepbox .item .desc.green {color: #0fb67d;}
.adm_dashboard .dash_col .contbox .stepbox .arrow {background: url(../img/adm_step_arrow.png) no-repeat center/contain; width: 1.5rem; aspect-ratio: 1/1;}
.adm_dashboard .dash_col .contbox .calbox {display: flex; flex-direction: column; gap: 1.6rem; padding: 1.6rem 2rem 1.8rem;}
.adm_dashboard .dash_col .contbox .calbox .item {display: flex; flex-direction: column; gap: 0.4rem; border-bottom: 1px solid #c3cfdb; padding-bottom: 1.8rem;}
.adm_dashboard .dash_col .contbox .calbox .item:last-child {border-bottom: 0; padding-bottom: 0;}
.adm_dashboard .dash_col .contbox .calbox .item .tit {font-weight: 400;font-size: 1.6rem;line-height: 100%;color: #465568;}
.adm_dashboard .dash_col .contbox .calbox .item .desc {text-align: right; font-weight: 600;font-size: 3rem;line-height: 100%;color: #000;}
.adm_dashboard .dash_col .contbox .infobox {display: flex; flex-direction: column; gap: 2rem;padding: 1.5rem 3rem 2.4rem;}
.adm_dashboard .dash_col .contbox .infobox .item {display: flex; align-items: center; justify-content: space-between;}
.adm_dashboard .dash_col .contbox .infobox .item .tit {font-size: 1.6rem;line-height: 130%;color: #465568; flex: 1; word-break: keep-all;}
.adm_dashboard .dash_col .contbox .infobox .item .desc {width: 30%; font-weight: 600;font-size: 2.4rem;line-height: 130%;text-align: right;}
.adm_dashboard .dash_col .contbox .infobox .item .desc.green {color: #0fb67d;}
.adm_dashboard .dash_col .contbox .infobox .item .desc.red {color: #e91b1b;}
.adm_dashboard .dash_col .contbox .infobox2 {display: flex;}
.adm_dashboard .dash_col .contbox .infobox2 .item {flex: 1; padding: 2.8rem 0 3rem; text-align: center; border-right: 1px solid #c3cfdb;}
.adm_dashboard .dash_col .contbox .infobox2 .item:last-child {border-right: 0;}
.adm_dashboard .dash_col .contbox .infobox2 .item .tit {font-size: 1.6rem;line-height: 100%;color: #465568; margin-bottom: 1rem;}
.adm_dashboard .dash_col .contbox .infobox2 .item .desc {font-weight: 600;font-size: 3rem;line-height: 100%;text-align: center;color: #000; margin-bottom: 1.8rem;}
.adm_dashboard .dash_col .contbox .infobox2 .item .info {font-size: 1.4rem;line-height: 100%;text-align: center;color: #465568;}
.adm_dashboard .dash_col .contbox .infobox2 .item .info .percent {font-weight: 600;}
.adm_dashboard .dash_col .contbox .infobox2 .item .info .percent.up {color: #0fb67d;}
.adm_dashboard .dash_col .contbox .infobox2 .item .info .percent.down {color: #e91b1b;}



/* 상품주문정보 조회 */ 
#prdOrdInfo_modal .modal_box {width: 90%; max-width: 1200px; overflow: auto;}
#prdOrdInfo_modal .modal_box::-webkit-scrollbar {display: none}
#prdOrdInfo_modal .modal_head {min-height: 10rem;}
#prdOrdInfo_modal .modal_body { padding: 2.8rem 4rem 0; display: flex;  flex-direction: column;  gap: 4rem; overflow: unset;}
#prdOrdInfo_modal .ordInfo_wrap {display: flex; flex-direction: column; gap: 4rem;}
#prdOrdInfo_modal .ordInfo_box {display: flex; flex-direction: column;}
#prdOrdInfo_modal .ordInfo_box .ordInfo_tit {font-weight: 700;font-size: 1.8rem;line-height: 100%;color: #000; margin-bottom: 1.5rem;}
#prdOrdInfo_modal .ordInfo_box .infobox { border: 3px solid #c3cfdb; background: #fff; display: flex;  align-items: center; gap: 1.2rem; padding: 2rem;  margin-bottom: 3rem;font-size: 1.6rem;line-height: 100%;color: #000;}
#prdOrdInfo_modal .ordInfo_box .infobox .desc {font-weight: 700;font-size: 1.6rem;line-height: 100%;color: #0fb67d;}
#prdOrdInfo_modal .ordInfo_box .infobox .desc.green {color: #0fb67d;}
#prdOrdInfo_modal .ordInfo_box .infobox .desc.red {color: #e91b1b;}
#prdOrdInfo_modal .ordInfo_box .tbl_wrap {position: relative; width: 100%;}
#prdOrdInfo_modal .ordInfo_box .tbl {width: 100%; border-collapse: collapse; border: 1px solid #c3cfdb;}
#prdOrdInfo_modal .ordInfo_box .tbl tbody tr { border-top: 1px solid #c3cfdb;}
#prdOrdInfo_modal .ordInfo_box .tbl tbody tr th { height: 5rem; background: #f5f7f9; border-right: 1px solid #bcc5ce; font-weight: 400; font-size: 1.5rem;line-height: 100%;color: #465568; text-align: left; padding: 1rem 2rem;}
#prdOrdInfo_modal .ordInfo_box .tbl tbody tr td { height: 5rem;  padding: 1.7rem 1.7rem; font-size: 1.5rem; line-height: 130%; color: #000; border-right: 1px solid #c3cfdb;  text-align: left;}
#prdOrdInfo_modal .ordInfo_box .tbl tbody tr td:last-child {border-right: 0;}
#prdOrdInfo_modal .ordInfo_box .tbl .tbl_inline {display: flex; align-items: center; gap: 1.6rem;}
#prdOrdInfo_modal .ordInfo_box .tbl .tbl_inline.between {justify-content: space-between;}
#prdOrdInfo_modal .ordInfo_box .tbl .tbl_inline .small_btn { font-size: 1.2rem;  line-height: 100%; text-align: center; color: #465568; border: 1px solid #c3cfdb;  padding: 0.5rem 0.7rem;  background: #fff;}
#prdOrdInfo_modal .ordInfo_box .tbl .tbl_inline .date {text-align: right; color: #465568;}