@charset "utf-8";

/* webfont */
@import url("https://djv24y2jjxsp7.cloudfront.net/ontest/font/Pretendard-1.3.4/web/static/pretendard.css");
@import url("https://djv24y2jjxsp7.cloudfront.net/ontest/font/Montserrat/montserrat.css");
@import url('https://djv24y2jjxsp7.cloudfront.net/ontest/font/Exo_2/exo2.css');

:root {
    --orange-prime: #FF6D00;
    --orange-prime-darken: #FF3D00;
    --notice-alert: #FF5252;
    --notice-em: #006DD2;
    --black-100: #02000F;
    --black-90: #1B1A21;
    --black-80: #35333F;
    --black-60: #67666F;
    --black-40: #9A999F;
    --black-30: #B3B2B7;
    --black-20: #CCCCCF;
    --black-10: #E6E5E7;
    --bg-light-gray: #FBFBFB;
    --light-gray: #F5F5F5;
    --light-blue: #F5F7FF;
    --bg-light-blue: #E8F2FF;
    --blue: #005FCE;
    --white: #ffffff;
}

* {margin:0; padding:0; font-family:'Montserrat','Pretendard',"맑은 고딕","돋움", Dotum, AppleGothic, Sans-serif;outline:none;box-sizing:border-box }
body {font-size:13px; line-height:160%; position:relative; color:#666666;width:100%;}
img {vertical-align:middle; border:none;}
fieldset, button {border:none;}
hr, button img {display:none; margin:0; padding:0;}
ul, ol, dl, li, dt, dd {list-style: none;}
p {text-align:justify;word-break: keep-all;}
a {text-decoration:none;color:#333333;}
a:hover, a:active, a:focus {text-decoration:underline;color:#666666;}
textarea {overflow:auto; padding:5px;} 
label{}
address, em {font-style:normal; font-weight:normal;}
html:first-child select {padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */

/* hidden contents */
#skip_navi,
.skip,
.hidden,
legend, 
caption {position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; z-index:-1;}
.hide{display:none}
.index-title{}
.index-title span{font-size: 21px; font-weight: 700; color: #000; border-bottom: 3px solid #FF3300; display: inline-block; margin-bottom: -1px; padding: 2px 4px; margin-left: -2px;letter-spacing:0px}

.cau_li{background-color: #787878; border-radius: 3px;
    letter-spacing: -1px;
    text-align: left;
    padding: 8px 15px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;   
    line-height: 160%;margin-top:20px;margin-bottom:10px}


#hearder { height:70px; background-color: #FFFFFF; width: 100%;box-shadow: 0px 0px 7px -3px #393939; display: inline-block;}
#hearder .logoArea{position:relative;border-collapse:collapse;border:0;float:left; height:70px; margin-left:25px;}
#hearder .logoArea h1{ font-size:20px; letter-spacing:-1px;margin-top:0px; color:#444444}
#hearder .logoArea h1 span{ font-size:20px; letter-spacing:-2px; color:#35383f;}
#pright {min-width:770px;margin:0 auto;max-width:1020px}
#contents_guide_intro_box td {border:0;}
.contents_area{background-color:#FFFFFF;padding:30px;word-break:keep-all}
.content_top_box_bl{border-bottom:1px solid #ddd !important;}
#univ_logo{position:relative}
#univ_logo img{position:absolute;right:15px;top:18px;max-height:32px}

.b_logo img {display:none}

/* 시사상식 131120 이수현 추가*/
.bor_line2{border:10px solid #e4e4e4;padding:20px 20px 0 20px}
.bor_line2 dl dt a{color:#0046a4;text-decoration:underline;}
.bor_line2 dl dt a:hover{color:red}
.bor_line2 dl dt{font-weight:bold;}
.bor_line2 dl.list dt {padding-left:10px;font-weight:bold;background:url(https://www.educe.co.kr/contents/aptitude_data/blt_plus_orange.gif) no-repeat 0 5px;}
.bor_line2 dl dd{margin:5px 0 20px 0;}
.bor_line_left4{margin:20px 0 0 0;padding-bottom:20px;) no-repeat left bottom;}
.bor_line_left4 span{display:block; margin:5px 0 0 0;}
.bor_line_left4 ul{margin:5px 0 0 0;}
.bor_line_left4 ul li{padding-left:25px;line-height:24px;background:url(https://www.educe.co.kr/contents/aptitude_data/icon_paper.gif) no-repeat 0 5px}
.bor_line_left4 ul li a{color:#0046a4;text-decoration:underline;}
.bor_line_left4 .tip_txt {padding:0; margin-left:0;background:#ffeddb url(https://www.educe.co.kr/contents/aptitude_data/icon_tip.gif) no-repeat 10px 15px;}
.bor_line_left4 .tip_txt dl {padding:13px 20px; margin-left:25px;}
.bor_line_left4 .tip_txt dl dt{padding:0; margin:0}
.bor_line_left4 .tip_txt dl dd{padding:5px 0 0 0; margin:0; line-height:14px; font-size:11px;}

.blue_box {padding:15px; background:#e9f0f6; border:1px solid #dee5ec; margin-bottom:10px;}
.tri{font-size:12px; font-weight:bold; color:#0046a4;}
.imgset {position:relative; height:100%; display:inline-block}
.imgset .img{float:left; margin-bottom:5px; margin-right:5px; clear:both}
.imgset .txt{height:100%; width:100%}

.table_sisatype{position:relative; border-top:1px solid #e9e9ea; color:#666666;}
.table_sisatype tr th{width:30px; text-align:center; font-size:11px; font-weight:bold; background-color:#f4f4f5;;border-right:1px solid #e9e9ea}
.table_sisatype tr th.list{width:150px;font-size:12px; text-align:left; padding-left:10px; padding-right:10px;}
.table_sisatype tr th,.table_sisatype tr td {padding:5px;border-bottom:1px solid #e9e9ea}
.table_sisatype tr td.img {width:135px;}
.minitest li{font-weight:bold;line-height:30px;}
#wrappers {
    background: #555;min-height: 100vh;
}

.table_style {position:relative;border-collapse:collapse;border:1px solid #ccc;}
.table_style tr {text-align: center;}
.table_style thead th{padding:5px 0;background:#e6e6e6;border:1px solid #ccc;}
.table_style tbody th{padding:6px 6px;background:#f5f5f5;border-left:1px solid #e6e6e6;border:1px solid #ccc;}
.table_style tbody th.bold,.table_style tbody td.bold{font-weight:bold}
.table_style tbody td{padding:6px 6px;border-left:1px solid #e6e6e6;border:1px solid #ccc;}
.table_style tbody td.pp{padding:3px;}
.table_style tfoot td{padding:6px 10px;border:1px solid #ccc;}

/* 면접가이드북추가 20130319 이수현 */
.question_type {border-bottom:1px solid #cccccc; padding-top:5px;width:100%;}
.question_type p{width:465px;}
.question_type ul {}
.question_type ul li {float:left;}
.question_type ul.import {position:relative;float:right;width:235px;top:-18px;}
.question_type ul.import img{margin-top:2px;}

.question_lay_blue{margin-top:20px;padding:10px;border:2px solid #00cccc}
.question_lay_blue .q_tit{margin:-10px -10px 10px -10px;padding-bottom:5px; padding-left:10px; padding-top:10px;font-size:12px;text-align:left;border-bottom:1px solid #ccc; background:#FAFAFA}
.question_lay_blue li{line-height:20px}

.question_lay_oran{margin-top:20px;padding:10px;border:2px solid #cf8c47}
.question_lay_oran .q_tit{margin:-10px -10px 10px -10px;padding-bottom:5px; padding-left:10px; padding-top:10px;font-size:12px; color:#d56318; text-align:left;border-bottom:1px solid #ccc; background:#FAFAFA}
.question_lay_oran li{line-height:20px}



.view-subject { padding: 10px 20px; border: 1px solid #ededed; background-color: #fbfbfb; line-height: 180%; word-break: keep-all; border-radius: 10px;margin: 10px 0px; }

.view-subject h5 { color: #6e6e6e; font-size: 15px; display: inline-block }

.view-subject span.info { color: #6e6e6e; font-size: 12px; display: inline-block; text-align: right; width: 250px; }

.view-subject ul li { display: inline-block;margin:0px }

.view-subject span.ic { display: inline-block; width: 40px; vertical-align: top;margin-top:4px }

.view-subject ul.sec-infos { width: calc(100% - 40px); display: inline-block; }

.view-subject span.gubun { color: #dfdfdf; display: inline-block; margin: 0 8px }

.intern-icon { background-color: #ff901f; color: #fff; line-height: 16px; min-width: 28px; font-size: 11px; display: inline-block; vertical-align: middle; height: 18px; border-radius: 2px; border: 1px solid #e39648; text-align: center; margin-top: -2px }

.newbie-icon { background-color: #39f; color: #fff; line-height: 16px; min-width: 28px; font-size: 11px; display: inline-block; vertical-align: middle; height: 18px; border-radius: 2px; border: 1px solid #3794f1; text-align: center; margin-top: -2px }

.sel-contents { background-color: #f7f7f9; border-radius: 10px; margin-top: 15px; }


h2.spec{font-size:15px;margin-bottom:10px}

.spec-tbm tr td{padding:0px !important}
.spec-tbm tr td .spec_board03 tr td{padding:10px 5px !important}
.spec-tbm tr td .spec_board03.last tr td{padding:2.3px 0px !important}

/* 탭메뉴 */
.tapmenu{position:relative; margin-bottom:30px;}

.tapmenu .tab01 .selc_green{background-color:#4ac3be; border:1px solid #4ac3be;}
.tapmenu .tab01 .selc_green a{color:#FFF;}

.tapmenu .tab02 .selc_green{background-color:#4ac3be; border:1px solid #4ac3be;}
.tapmenu .tab02 .selc_green a{color:#FFF;}

.tapmenu .tab03 .selc_green{background-color:#4ac3be; border:1px solid #4ac3be;}
.tapmenu .tab03 .selc_green a{color:#FFF;} 

.tapmenu .tab01 {width:100%;}
.tapmenu .tab01 li{background-color: #FFF; letter-spacing: -1px; text-align: center; border: 1px solid #dddddd; padding: 0px 0; line-height: 36px; width: 114px; margin:1px 2px; display: inline-block; box-sizing: border-box;}

.tapmenu .tab01 li a{ display:table-cell; vertical-align:middle;color:#444444;}

.tapmenu .tab02 {width:100%; clear:both;}
.tapmenu .tab02 li{float:left; background-color:#FFF; letter-spacing:-1px; text-align:center; border:1px solid #dddddd; border-width:0px 1px 1px 0; padding:20px 0}
.tapmenu .tab02 li.borl{border-left:1px solid #dddddd;}
.tapmenu .tab02 li a{ display:table-cell; vertical-align:middle;color:#444444;}

.tapmenu .tab03 {width:100%; clear:both;}
.tapmenu .tab03 li{float:left; background-color:#FFF; letter-spacing:-1px; text-align:center; border:1px solid #dddddd; border-width:0px 1px 1px 0; padding:20px 0; height:30px; vertical-align:middle;}
.tapmenu .tab02 li.borl{border-left:1px solid #dddddd;}
.tapmenu .tab03 li a{ display:table-cell; vertical-align:middle; color:#444444;}

body.aud-start{background:url(https://image.educe.co.kr/educe/pages/bg_join.jpg) no-repeat center / cover;height:100vh}

body.aud-start .ico{display:inline-block;font-size:0;line-height:0;color:transparent;vertical-align:middle;margin:-3px 5px 0 0}
body.aud-start .sp_img{background:url(https://image1.educe.co.kr/univ/logo/<?=$logo?>) no-repeat}
body.aud-start .logo .sp_img{background-position:-293px 0}

body.aud-start #header{position:relative;display:block;width:auto;padding:10px 20px}
body.aud-start #header .logo{margin:0 auto}
body.aud-start #header .logo span{display:block;margin:0 auto;min-height:34px;}
body.aud-start #header .until{position:relative;width:1000px;margin:-31px auto 34px}
body.aud-start #header .until a.btn_home{position:absolute;top:0;left:0;display:block;width:80px;z-index:9}
body.aud-start #header .until a.btn_home .ico{margin-right:10px}
body.aud-start #header .until .ur_group{position:relative;text-align:right;margin-top:-3px}
body.aud-start #header .until .ur_group .info{display:inline-block;font-size:12px}
body.aud-start #header .until .ur_group .small_img{display:inline-block;vertical-align:middle;margin-right:2px}
body.aud-start #header .until .ur_group .btn_out{font-size:11px;margin:0 16px 0 15px;font-weight:bold}
body.aud-start .red{color:#e71419}
body.aud-start h3{padding:20px 0px 10px 0px;}

body.aud-start .pcon{font-size:14px}

body.aud-start ul table ul{cursor:pointer;border:1px solid #f6a7a8;padding:20px;background-color:#fef8f8;border-radius:10px}
body.aud-start ul table ul li.txt{padding: 5px; font-size: 12px; letter-spacing: -0.5px; font-weight: 500;line-height:18px}
body.aud-start .line{width:760px; margin: 0 auto; padding: 10px 40px 40px 40px; background-color: #FFFFFF; vertical-align: middle; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border-radius: 3px; box-shadow: 0px 2px 20px -5px #4f4f4f;}
body.aud-start .line span{font-size:18px;font-weight:bold;line-height:30px}
body.aud-start .line .title{text-align:center;font-size:25px;font-weight:700;line-height:30px;padding:28px 0px;color:#000;}
body.aud-start .line .title2{color:#ff3300;border-bottom:1px solid #b9c1ce;text-align:left;font-size:15px;font-weight:bold;line-height:30px;padding-bottom:5px}
body.aud-start .line .title3{color:#ff3300;text-align:center;font-size:15px;font-weight:bold;line-height:30px;padding-top:30px;padding-bottom:10px}
body.aud-start .line .title4{color: #e71419; font-size: 13px; text-align: center; line-height: 30px; padding-bottom: 2px; display: inline-block; width: 100%; padding-top: 20px; font-size: 15px; font-weight: 500;text-decoration: underline;text-underline-position: under;}

body.aud-start .pop-aualnd-sel{position: absolute; z-index: 10; left: 50%; top: 50%; margin-left: -380px; margin-top: -250px;}

body.aud-start .btn_black_s { width: 200px; height: 48px; background-color: var(--black-80); border-radius: 4px; color: var(--white); font-size: 18px; font-weight: 500; text-align: center;cursor:pointer; }
body.aud-start .btn_black_s:hover { background-color: var(--black-90); }
body.aud-start .btn_black_s:disabled { background-color: var(--black-20); }

body.aud-start .gray-bg{background-color:rgba(0, 0, 0, 0.3);position:absolute;top:0px;left:0px;width:100%;height:100vh;z-index:1}

body.aud-start .radio_label input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  border: none;
}
body.aud-start .radio_label {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  padding-left: 28px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer; 
}

body.aud-start .radio_label .check_mark {
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid var(--black-40);
  border-radius: 50%;
}
body.aud-start .radio_label input[type='radio']:checked + .check_mark {
  border-color: #e71419;
}
body.aud-start .radio_label input[type='radio']:checked + .check_mark:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color:#e71419;
  border-radius: 50%;
}
body.aud-start .radio_label input[type='radio']:disabled + .check_mark {
  opacity: 0.6;
}

body.aud-start .radio_type .radio_label {
  margin-left: 20px;font-weight:600
}
body.aud-start .radio_type .radio_label:first-child {
  margin-left: 0;
}

body.aud-start .mr10{margin-right:10px}
body.aud-start .line li.mt5{margin-top:5px}
body.aud-start .line li.mt5 .radio_label .check_mark{top:0px}
body.aud-start .line li.title2.mb10{margin-bottom:10px}

.copy-right{background: #555;width:100%;bottom: 0px; text-align: right; padding-right: 10px;}