
/* 메인 */
.m_titbox {display: flex; flex-direction: column; align-items: center; text-align: center;}
.m_titbox.mb {margin-bottom: 5rem;}
.m_titbox.mb2 {margin-bottom: 3rem;}
.m_titbox .tit {font-weight: 700;font-size: 2.25rem;line-height: 133%;color: #131720;}
.m_titbox .tit2 {font-weight: 700; font-size: 2.25rem;line-height: 133%;color: #131720;}
.m_titbox .tit3 {font-weight: 700; font-size: 1.75rem;line-height: 143%;color: #131720;}
.m_titbox .desc {font-size: 1.125rem;line-height: 156%;color: #131720; margin-top: 1rem;}
.m_titbox .desc2 {font-size: 1rem;line-height: 150%;color: #131720; margin-top: 0.75rem;}
.m_titbox .btnbox  {margin-top: 2.5rem; display: flex; gap: 1rem;}
.m_titbox .btnbox .button {display: flex; gap: 1rem;}

.main_wrap .container {padding-top: 5rem;} 
.ms1 {/*background: url(../img/ms1_bg_pc.jpg) no-repeat center/cover; */ padding-top: 6.25rem; margin-bottom: 7.5rem; background: linear-gradient(180deg, #dbe4ff 0%, #c7d0ff 100%);}
.ms1 .txtbox { display: flex; flex-direction: column;  align-items: center;   text-align: center;}
.ms1 .txtbox .sub {  font-weight: 700;  font-size: 1.5rem;  line-height: 133%; color: #4766ff; margin-bottom: 1.25rem;}
.ms1 .txtbox .tit { font-weight: 700;  font-size: 3.5rem;  line-height: 125%;   color: #131720;  margin-bottom: 2.5rem;}
.ms1 .txtbox .btnbox{display: flex; gap: 1rem;}
.ms1 .imgbox {display: flex; width: 81%; max-width: 96rem; margin: -4rem auto 0;}

.ms2 {margin-bottom: 11.25rem;}
.ms2 .ms2_swiper{width: 100%;}
.ms2 .ms2_swiper .item { position: relative;  width: calc((100% - 24px * 3 - 37.5rem) / 3); height: 27.5rem; background: #f0f1f8;  border-radius: 0.5rem;   overflow: hidden;  transition: all 0.4s ease-in-out; cursor: pointer; margin-right: 24px;}
.ms2 .ms2_swiper .item .bg { position: absolute;  left: 0;  top: 0;  width: 37.5rem;  height: 100%;  background: no-repeat center bottom / contain; transition: all 0.4s ease-in-out;}
.ms2 .ms2_swiper .item1 .bg{background-image: url(../img/ms2_item_img1-1_pc.png);}
.ms2 .ms2_swiper .item2 .bg{background-image: url(../img/ms2_item_img2-1_pc.png);}
.ms2 .ms2_swiper .item3 .bg{background-image: url(../img/ms2_item_img3-1_pc.png);}
.ms2 .ms2_swiper .item4 .bg{background-image: url(../img/ms2_item_img4-1_pc.png);}
.ms2 .ms2_swiper .item .txtbox { display: flex; flex-direction: column;  gap: 0.563rem;  position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 2.5rem; transition: all 0.3s ease-in-out;}
.ms2 .ms2_swiper .item .txtbox .tit{font-weight: 700;font-size: 1.5rem;line-height: 133%;color: #131720; word-break: keep-all; transition: all 0.3s ease-in-out;}
.ms2 .ms2_swiper .item .txtbox .desc{font-size: 1rem;line-height: 150%;color: #383838;  white-space: nowrap; transition: all 0.2s ease-in-out; opacity: 0;}

@media screen and (min-width: 1081px) {
	.ms2 .ms2_swiper .item.on{ width: 37.5rem; }
	.ms2 .ms2_swiper .item1.on .bg{background-image: url(../img/ms2_item_img1-2_pc.png);}
	.ms2 .ms2_swiper .item2.on .bg{background-image: url(../img/ms2_item_img2-2_pc.png);}
	.ms2 .ms2_swiper .item3.on .bg{background-image: url(../img/ms2_item_img3-2_pc.png);}
	.ms2 .ms2_swiper .item4.on .bg{background-image: url(../img/ms2_item_img4-2_pc.png);}
	.ms2 .ms2_swiper .item.on .txtbox .desc{opacity: 1;}
}

.ms3 {margin-bottom: 11.25rem;}
.ms3 .paging_box { position: sticky;  top: 8rem; height: 27.5rem; display: flex;  flex-direction: column; align-items: flex-end; justify-content: center;  margin-right: -2rem; z-index: 10; pointer-events: none;}
.ms3 .paging_box .paging {  display: flex; flex-direction: column; gap: 0.5rem; }
.ms3 .paging_box .paging .dot {width: 8px; aspect-ratio: 1/1; background: #dfdfdf;  transition: var(--transition); border-radius: 50%;}
.ms3 .paging_box .paging .dot.active {background: #131720;}
.ms3 .paging_box .mouse_icon {background: url(../img/ic_mouse.png) no-repeat center/contain; width: 4rem; aspect-ratio: 1/1; position: absolute; left: 50%;  bottom: -2rem; transform: translate(-50%, 0); animation: mouseAni 1.5s ease-in-out infinite;}
 @keyframes mouseAni {
	0% {transform: translate(-50%, 0); opacity: 0;  }
  	50% {opacity: 1;}
  	100% { transform: translate(-50%, 1.5rem);opacity: 0; }
}
.ms3 .ms3_swiper{position: relative; width: 100%; margin-top: -27.5rem;}
.ms3 .ms3_swiper .swiper-wrapper { gap: 6.25rem;}
.ms3 .ms3_swiper .item {position: sticky; top: 8rem; height: 27.5rem; border-radius: 1.5rem; padding: 2.5rem 4rem 2.5rem 5rem;  display: flex; align-items: center; gap: 1.25rem;}
.ms3 .ms3_swiper .item1{background: #e2f0ff;}
.ms3 .ms3_swiper .item2{background: #eaeaff;}
.ms3 .ms3_swiper .item3{background: #eddfff;}
.ms3 .ms3_swiper .item .txtbox { flex: 1;}
.ms3 .ms3_swiper .item .txtbox .tit{font-weight: 700;font-size: 2rem;line-height: 137%;color: #131720;margin-bottom: 1.5rem;  word-break: keep-all;}
.ms3 .ms3_swiper .item .txtbox .desc{font-weight: 500;font-size: 1rem;line-height: 162%;color: #383838; margin-bottom: 1rem; word-break: keep-all;}
.ms3 .ms3_swiper .item .txtbox .ai_txt{font-size: 0.813rem;line-height: 154%;color: #627383;display: flex; align-items: center; gap: 0.25rem;}
.ms3 .ms3_swiper .item .txtbox .ai_txt .icon{width: 0.813rem; display: inline-block; }
.ms3 .ms3_swiper .item .txtbox .btnbox{ margin-top: 2rem;}
.ms3 .ms3_swiper .item .txtbox .btnbox .button {gap: 0.438rem; padding-right: 1.75rem; border-radius: 0.5rem;}
.ms3 .ms3_swiper .item .txtbox .btnbox .button .icon{background: url(../img/btn_arrow.png) no-repeat center/contain;width: 1.5rem; aspect-ratio: 1/1;}
.ms3 .ms3_swiper .item .imgbox { width: 43%; max-width: 30rem; display: flex;  align-items: center; justify-content: center;}
.ms3 .ms3_swiper .pagination {display: none;}
.ms3 .ms3_swiper .pagination .swiper-pagination-bullet{width: 8px; height: auto; aspect-ratio: 1/1; background: #dfdfdf; opacity: 1; transition: var(--transition);}
.ms3 .ms3_swiper .pagination .swiper-pagination-bullet-active{background: #131720;}

.ms4 {margin-bottom: 11.25rem;}
.ms4 .contbox{display: flex; flex-wrap: wrap; gap: 3rem 2rem;}
.ms4 .contbox .item{width: calc((100% - 2rem*3)/4);}
.ms4 .contbox .item > .link{display: flex; flex-direction: column; 
gap: 1.5rem; text-align: center;}
.ms4 .contbox .item .imgbox{display: flex; background: #f2f0f4; border-radius: 1.5rem; overflow: hidden;}
.ms4 .contbox .item .tit{font-weight: 700;font-size: 1.125rem;line-height: 156%;color: #131720;}

.ms5 {margin-bottom: 15.813rem;}
.ms5 .m_titbox {margin-bottom: 6.875rem;}
/* .ms5 .contbox{display: flex; flex-wrap: wrap; gap: 1.875rem 0;} */
.ms5 .contbox {display: flex; flex-wrap: wrap; gap: 1.375rem 0;max-width: 1024px;  margin: 0 auto;}
.ms5 .contbox .item{width: calc(100%/7); display: flex;}
.ms5 .imgbox {display: flex; width: 90%; max-width: 90.625rem; margin: 0 auto;}

.ms6 {background: url(../img/ms6_bg.jpg) no-repeat center/cover; padding: 6.25rem 0;}
.ms6 .m_titbox .tit,
.ms6 .m_titbox .desc {color: #fff;}

.ms7 {/* background: url(../img/ms7_bg.jpg) no-repeat center/cover;*/ background: linear-gradient(180deg, #f3f6ff 0%, #e2e7ff 100%); padding-top: 6.25rem;}
.ms7 .m_titbox{margin-bottom: 4.5rem;}
.ms7 .m_titbox .btnbox .button{border-radius: 1rem; gap: 0.625rem;}
.ms7 .imgbox{display: flex; max-width: 40.5rem; margin: 0 auto;}

.ms8 {margin-bottom: 11.25rem;}
.ms8 .contbox {  position: relative; display: flex; justify-content: center;}
.ms8 .contbox .item {  position: relative; padding-left: 5.648rem;  display: flex;  align-items: center; justify-content: center; transition: var(--transition);}
.ms8 .contbox .item + .item { margin-left: -7.46rem;}
.ms8 .contbox .item:last-child { margin-right: calc(5.648rem / 2); }
.ms8 .contbox .item .img { position: relative; max-width: 17.813rem; }
.ms8 .contbox .item:hover {transform: translateY(-2rem);}
.ms8 .contbox .item .shadow { position: absolute; left: 0%; bottom: 0%; width: 72%;  max-width: 16.863rem;}
.ms8 .imgbox {display: none;}

.ms9 {margin-bottom: 11.25rem;}
.ms9 .m_titbox .tab_wrap { margin-top: 1.5rem;}
.ms9 .m_titbox .tab_navbox {gap: 0.75rem; }
.ms9 .vidbox {position: relative; border-radius: 1.5rem; overflow: hidden; max-width: 960px; margin: 0 auto;}
.ms9 .vidbox .video {position: relative; width: 100%; aspect-ratio: 1/0.5625; display: flex;}
.ms9 .vidbox .video .ms9_video{width: 100%; height: 100%; object-fit: cover;}
.ms9 .vidbox .video .shadow {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; height: 100%; background: #383b40;mix-blend-mode: multiply;opacity: 0.7; transition: var(--transition);}
.ms9 .vidbox .video .play_btn {background: url(../img/ic_vid_play.png) no-repeat center/contain; width: 5rem; aspect-ratio: 1/1; position: absolute; left: 50%; top: 45%; transform: translate(-50%,-50%); transition: var(--transition);}
.ms9 .vidbox .controls {position: absolute; left: 0; bottom: 0; width: 100%;  height: 3.5rem; background: #212223;  padding: 1rem 1.5rem; display: flex; align-items: center; transition: var(--transition);}
.ms9 .vidbox .controls .control_btn{background: url(../img/ic_play.png) no-repeat center/contain; width: 1.5rem; aspect-ratio: 1/1; margin-right: 0.5rem;}
.ms9 .vidbox .controls .time{font-size: 0.875rem;line-height: 157%; color: #747983; margin-right: 0.938rem;}
.ms9 .vidbox .controls .time .now{color: #fff;}
.ms9 .vidbox .controls .progress {position: relative; flex: 1; border-radius: 0.625rem; height: 0.25rem; background: #383b40; overflow: hidden;} 
.ms9 .vidbox .controls .progress .load{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #747983; opacity: 0.5;  border-radius: 0.625rem;  transition: var(--transition);}
.ms9 .vidbox .controls .progress .bar{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #32baff;  border-radius: 0.625rem;  transition: var(--transition);}
.ms9 .vidbox .controls .btnbox {display: flex; gap: 1rem; margin-left: 1.5rem;}
.ms9 .vidbox .controls .btnbox .btn {background: no-repeat center/contain; width: 1.5rem; aspect-ratio: 1/1;}
.ms9 .vidbox .controls .btnbox .btn.volume_btn {background-image: url(../img/ic_volume.png);}
.ms9 .vidbox .controls .btnbox .btn.full_btn {background-image: url(../img/ic_fullscreen.png);}
.ms9 .vidbox .controls .btnbox .btn.opt_btn {background-image: url(../img/ic_option.png);}
.ms9 .vidbox.play .video .shadow {opacity: 0; pointer-events: none;}
.ms9 .vidbox.play .video .play_btn {opacity: 0; pointer-events: none;}
.ms9 .vidbox.play .controls .control_btn { background-image: url(../img/ic_pause.png);}



/* 기능소개 */
.fs1 {margin-bottom: 3rem; padding-top: 11.25rem;}
.fs1 .m_titbox .tit{color: #000;}
.fs1 .m_titbox .desc{color: #383838;}
.fs1 .fs_swiper {position: relative; width: 100%; height: 32.5rem; padding: 3.75rem 0; margin-top: -3.75rem;}
.fs1 .fs_swiper::after {content: ""; background: url(../img/ic_mouse.png) no-repeat center/contain; width: 4rem; aspect-ratio: 1/1; position: absolute; left: 50%;  bottom: 2rem; transform: translateX(-50%); z-index: 10; animation: mouseAni 1.5s ease-in-out infinite;}
.fs1 .fs_swiper .item {height: 100%; border-radius: 1.5rem; padding: 1.25rem 4rem 1.25rem 5rem;  display: flex; align-items: center; gap: 1.25rem; position: absolute; left: 0; top: 0; width: 100%;  height: 100%;}
.fs1 .fs_swiper .color1{background: rgb(225, 241, 255, 50%);}
.fs1 .fs_swiper .color2{background: rgb(225, 239, 255, 50%);}
.fs1 .fs_swiper .color3{background: rgb(225, 236, 255, 50%);}
.fs1 .fs_swiper .color4{background: rgb(225, 234, 255, 50%);}
.fs1 .fs_swiper .color5{background: rgb(225, 232, 255, 50%);}
.fs1 .fs_swiper .color6{background: rgb(225, 229, 255, 50%);}
.fs1 .fs_swiper .color7{background: rgb(224, 227, 255, 50%);}
.fs1 .fs_swiper .color8{background: rgb(224, 225, 255, 50%);}
.fs1 .fs_swiper .color9{background: rgb(223, 223, 255, 50%);}
.fs1 .fs_swiper .color10{background: rgb(222, 221, 255, 50%);}
.fs1 .fs_swiper .color11{background: rgb(222, 219, 255, 50%);}
.fs1 .fs_swiper .color12{background: rgb(222, 217, 255, 50%);}
.fs1 .fs_swiper .color13{background: rgb(224, 214, 255, 50%);}
.fs1 .fs_swiper .color14{background: rgb(225, 211, 255, 50%);}
.fs1 .fs_swiper .color15{background: rgb(227, 208, 255, 50%);}
.fs1 .fs_swiper .color16{background: rgb(228, 208, 255, 50%);}
.fs1 .fs_swiper .item .txtbox { flex: 1;}
.fs1 .fs_swiper .item .txtbox .tit{font-weight: 700;font-size: 2rem;line-height: 137%;color: #131720;margin-bottom: 1.5rem; word-break: keep-all;}
.fs1 .fs_swiper .item .txtbox .descbox {display: flex; flex-direction: column; gap: 1rem;}
.fs1 .fs_swiper .item .txtbox .descbox .desc{font-weight: 400;font-size: 1rem;line-height: 150%;color: #131720;}
.fs1 .fs_swiper .item .txtbox .descbox .desc.ver2 {font-weight: 500; font-size: 0.875rem;
color: #627383;}
.fs1 .fs_swiper .item .txtbox .btnbox{ margin-top: 2rem;}
.fs1 .fs_swiper .item .txtbox .btnbox .button {gap: 0.375rem; padding-right: 1.75rem; border-radius: 0.5rem;}
.fs1 .fs_swiper .item .txtbox .btnbox .button .icon{background: url(../img/btn_arrow.png) no-repeat center/contain;width: 1.5rem; aspect-ratio: 1/1;}
.fs1 .fs_swiper .item .imgbox { width: 43%; max-width: 30rem; display: flex;  align-items: center; justify-content: center;}
.fs1 .fs_swiper .pagination {display: none;}
.fs1 .fs_swiper .pagination .swiper-pagination-bullet{width: 8px; height: auto; aspect-ratio: 1/1; background: #dfdfdf; opacity: 1; transition: var(--transition);}
.fs1 .fs_swiper .pagination .swiper-pagination-bullet-active{background: #131720;}
.function_wrap .ms4 {margin-bottom: 7.5rem;}
.function_wrap .ms4 .m_titbox{margin-bottom: 2.5rem;}
.function_wrap .ms4 .contbox .item > .link {gap: 1rem;}
.function_wrap .ms4 .contbox .item .tit {font-size: 1rem; line-height: 150%;}




/* 도입 문의하기 */
.inquiry_wrap .container {padding-top: 10rem;} 
.is1 { margin-bottom: 4rem;}
.is1 .contbox{display: flex;gap: 2.5rem; padding-bottom: 4rem; border-bottom: 1px solid #e5e8ec;}
.is1 .contbox .item{width: calc((100% - 2.5rem*2)/3); display: flex;flex-direction: column; align-items: center; gap: 1rem; padding: 2.5rem 1rem; border-radius: 0.5rem; box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.08); background: #fff; border: 2px solid transparent; transition: var(--transition);}
.is1 .contbox .item:hover { border-color: #000;}
.is1 .contbox .item .imgbox{display: flex; width: 7.5rem;}
.is1 .contbox .item .tit{font-weight: 700;font-size: 1.125rem;line-height: 144%;text-align: center;color: #131720;}

.is2 {margin-bottom: 7.5rem;}
.is2 .from_wrap { max-width: 50rem; margin: 0 auto; display: flex;  flex-direction: column; align-items: center; gap: 3rem;}
.is2 .form_box {width: 100%; display: flex; flex-direction: column; gap: 2.5rem;}
.is2 .form_item {display: flex; flex-direction: column;}
.is2 .form_item .form_tit {margin-bottom: 0.75rem;}
.is2 .form_item .form_desc {margin-top: 1rem;}
.is2 .submit_btn { width: 10rem; height: 4rem; padding: 0;  font-weight: 800;  font-size: 1.125rem; line-height: 144%; border-radius: 1rem;}



/* 플랜 */
.plan_wrap .container {padding-top: 10rem;} 
.ps1 {margin-bottom: 4rem;}
.ps1 > .inner {padding-bottom: 4rem; border-bottom: 1px solid #e5e8ec;}
.ps1 .m_titbox .color_txt{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #4766ff; margin-bottom: 0.5rem;}
.ps1 .profile { background: rgba(224,227,255,0.5); border-radius: 0.5rem;  padding: 2rem 2.5rem; display: flex; align-items: center;  gap: 2rem; max-width: 50rem; margin: 0 auto;}
.ps1 .profile .thumbox{width: 10rem; display: flex;}
.ps1 .profile .txtbox{flex: 1;}
.ps1 .profile .txtbox .title {display: flex; align-items: center; gap: 0.438rem;}
.ps1 .profile .txtbox .title .name{font-weight: 700;font-size: 1.25rem;line-height: 144%;color: #131720;}
.ps1 .profile .txtbox .title .desc{font-weight: 400;font-size: 0.813rem;line-height: 154%;
color: #383838;}
.ps1 .profile .txtbox .inq_btn { height: 2.5rem; font-weight: 800;  font-size: 0.813rem;  line-height: 154%; padding: 0 1.5rem; border-radius: 0.5rem; margin-top: 0.75rem;}

.ps2 {margin-bottom: 7.5rem;}
.ps2 .m_titbox .desc2{margin-top: 0.5rem;}
.ps2 .m_titbox .button {border-radius: 0.5rem; padding: 0 2.125rem; margin-top: 2rem;}
.ps2 .contbox {display: flex; gap: 2.5rem;}
.ps2 .contbox .item{width: calc((100% - 2.5rem)/3); padding: 2.5rem 2rem 1.688rem; box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.08);background: #fff; border-radius: 1.5rem;} 
.ps2 .contbox .item .top{ margin-bottom: 1.625rem; padding-bottom: 1.5rem; border-bottom: 1px solid #e5e8ec; display: flex; flex-direction: column; align-items: center ; text-align: center;}  
.ps2 .contbox .item .top .icon{display: flex; width: 6rem; margin-bottom: 1rem;}
.ps2 .contbox .item .top .tit{font-size: 1rem;line-height: 150%;color: #131720; margin-bottom: 0.125rem;}
.ps2 .contbox .item .top .price{font-weight: 700;font-size: 1.5rem;line-height: 133%;color: #131720; display: flex; align-items: baseline; gap: 0.25rem;}
.ps2 .contbox .item .top .price .txt{ font-weight: 400; font-size: 0.875rem;}
.ps2 .contbox .item .top .price .line{ text-decoration: line-through; font-weight: 400;  margin-right: 0.5em; opacity: 0.3;  display: inline-block;}
.ps2 .contbox .item .list{display: flex; flex-direction: column; gap: 0.75rem;}
.ps2 .contbox .item .list .listitem{font-size: 0.875rem;line-height: 100%;color: #131720;display: flex; align-items: center; gap: 0.5rem;}
.ps2 .contbox .item .list .listitem .icon{background: url(../img/ic_check.png) no-repeat center/contain; width: 1.125rem; aspect-ratio: 1/1;}
.ps2 .contbox .item .list .listitem.plus1 .icon{background-image: url(../img/ic_plus.png);}
.ps2 .contbox .item .list .listitem.plus2 .icon{background-image: url(../img/ic_plus2.png);}
.ps2 .contbox .item .list .listitem .txt{flex: 1;}
.ps2 .contbox .item .list .listitem.plus1 .txt {font-weight: 700; color: #32baff;}
.ps2 .contbox .item .list .listitem.plus2 .txt {font-weight: 700; color: #7c00ff;}



/* 기술소개 */
.skill_wrap .container {padding-top: 10rem;} 
.ss1 {margin-bottom: 7.5rem;}
.ss1 .m_titbox {margin-bottom: 2.5rem;}
.ss1 .tab_swiper {margin-bottom: 5rem;}
.ss1 .contbox {display: flex; flex-direction: column; align-items: center; gap: 2.5rem;}
.ss1 .contbox .imgbox {display: flex; border: 1px solid #c4cdd6; border-radius: 0.5rem; overflow: hidden;}
.ss1 .contbox .txtbox {display: flex; flex-direction: column; align-items: center; gap: 0.5rem; text-align: center;}
.ss1 .contbox .txtbox .tit {font-weight: 700;font-size: 1.25rem;line-height: 150%;color: #131720;}
.ss1 .contbox .txtbox .desc {font-size: 1rem;line-height: 150%;color: #131720;}

