    
/* PC 반응형 */

@media screen and (max-width: 1680px) {
    
    html {font-size: 16px !important;}
    
    
}



@media screen and (max-width: 1580px) {
    
    html {font-size: 15.5px !important;}
       
    .fixed_btnbox .btn {
        padding: 10px 17px 10px 15px;
    }


    .Section2 .ms2_bottom_cont .txtbox {
        margin-left: 6%;
    }

    .loading_wrap .intro_logo {
        transform: translate(-50%,-50%) scale(2.5);
    }

    
}



@media screen and (max-width: 1440px) {
    
    html {font-size: 15px!important;}

    .Section5 .ms5_imgbox {
        width: 52%;
    }

    .Section5 .ms5_txtbox {
        width: 35%;
        margin-right: 5%;
    }
    
}




@media screen and (max-width: 1366px) {
    
    html {font-size: 14.5px !important;}

    
  
}




@media screen and (max-width: 1280px) {


    .Section2 .ms2_bottom_cont .ms2_slidbox {
        width: 53%;
    }

    .Section2 .ms2_bottom_cont .txtbox .m_txt3 p br {
        display: none;
    }

    .Section6 .ms6_slider .swiper-slide.slide6 {
        width: 30rem;
    }
       

}



@media screen and (max-width: 1200px) {
    
    html {font-size: 14px !important;}
    
    .loading_wrap .intro_logo {
        transform: translate(-50%,-50%) scale(2);
    }

    .Section3 .ms3_img_txt .desc {
        font-size: 0.9rem;
        letter-spacing: -0.5px;
    }
    
}



@media screen and (max-width: 1080px) {

    
    .Section6 .ms6_slider .swiper-slide.slide6 {
        width: 20rem;
    }

}




    
/* mobile */

@media screen and (max-width: 1023px) {
    
    .pc_main {display: none;}
    .mob_main {  display: block;  width: 100%;  height: 100%; }


    .pc {display: none !important}
    .mob {display: block !important;}

    html {font-size: 14px !important;}    
    body.hidden { overflow: hidden;}


    .wrap {height: auto; }


    .loading_wrap { background: url(../image/mo_intro_bg.png) no-repeat center top/cover; }
    .loading_wrap .intro_logo { transform: translate(-50%,-50%) scale(1.5); }
    .loading_wrap .intro_tit { margin-bottom: 4vh; line-height: 1.6;}
    .loading_wrap .intro_tit .bold { font-size: 2.2rem;    font-weight: 500;  }
    .loading_wrap .intro_cont .item .desc {  font-size: 1.4rem; margin-bottom: 5px; }
    .loading_wrap .intro_cont { flex-direction: column; }
    .loading_wrap .intro_cont .item {  width: 100%;  display: flex;  flex-direction: column-reverse; }
    .loading_wrap .intro_cont .item .num_box { margin-bottom: 0;}
    .loading_wrap .intro_cont .bar { width: 100%;  height: 1px;   background-color: #000000; opacity: 0.1; margin: 2rem 0;    }
    .loading_wrap .skip_btn { top: 92%; font-size: 1.5rem;     gap: 0 0.95rem; }
    .loading_wrap .skip_btn > img {max-width: 25px; }

    

    .header {background-color: #fff; height: 65px;} 
    .header.white {background-color: #fff;}
    .header.white:hover {background-color: #fff;}
    .header .sub_menubox { display: none; }
    .header .header_inner {justify-content: space-between; }
    .header .header_logo { width: 48%; margin-top: 5px;  max-width: 225px;}
    .header.white .header_logo > a > img {  filter: none; }
    .header .side_navbox { gap: 0 25px;}
    .header.white .side_navbox .contact { font-size: 0;  display: block; letter-spacing: 0; max-width: 22px; }
    .header.white .side_navbox .contact .call_icon { filter: none;     margin: 0;}
    .header.white .side_navbox .menu_icon .nav_icon span {      background: #000000; }


    .nav_box {position: fixed; background-color: rgba(0,0,0,0.85); width: 100%;  padding: 17vh 5% 3vh; overflow: auto; min-width: initial;}
    .nav_box .nav { gap: 5% 0;}
    .nav_box .nav > li > .tit {font-size: 2.2rem; }
    .nav_box .nav_ul li { font-size: 1.5rem; opacity: 1;}

    
    .quick_talkbox { width: 90%;}
    .quick_talk {padding: 45px 40px 25px;  width: 90%; margin: auto; box-sizing: border-box; }
    .quick_talk .quick_head .tit {font-size: 2.2rem; }
    .quick_talk #quick_form .form_box {margin-bottom: 20px; }
    .quick_talk #quick_form .form_tit {font-size: 1.5rem;}
    .quick_talk #quick_form .form_inputbox .form_input { font-size: 1.2rem;}
    .quick_talk #quick_form .form_selectbox .form_select { font-size: 1.2rem; }
    .quick_talk #quick_form .form_bottom {margin-top: 30px;  flex-direction: column; gap: 10px 0;}
    .quick_talk #quick_form .form_checkbox .form_check { width: 1.5rem; height: 1.5rem;}
    .quick_talk #quick_form .form_checkbox .form_check_label { font-size: 1.3rem; flex: 1;}
    .quick_talk #quick_form .form_bottom .info_btn {font-size: 1.2rem;}
    .quick_talk #quick_form .last_info_txt { font-size: 1.1rem;}
    .quick_talk #quick_form .form_btn { font-size: 1.5rem; }


    .fixed_btnbox { position: fixed; right: 4%; bottom: 4%; }
    .fixed_btnbox.top { bottom: 4%;  }
    .fixed_btnbox .btn {font-size: 1.4rem; padding: 10px 15px; gap: 0 6px; }
    .fixed_btnbox .btn .icon { max-width: 24px;}
    .fixed_btnbox .btn.btn_top { width: 40px;  height: 40px; font-size: 1.2em; }


    .footer_top .footer_nav { justify-content: center; width: 100%; }
    .footer_bottom .footer_infobox .com_info { flex-wrap: wrap; width: 100%; justify-content: center;  gap: 1.25rem; }
    .footer_bottom .footer_infobox .copyright { margin-top: 20px;  text-align: center; }
    .footer_bottom .sns_box { display: flex;  align-items: center;     gap: 0 12px; justify-content: center; margin-top: 3.5rem;  }
    .footer_bottom .sns_box .sns_item {max-width: 26px; opacity: 0.85;}
    .footer_bottom .sns_box .sns_item > img { filter: invert(10) brightness(10);}
    .footer_bottom .sns_box .bar { width: 1px; height: 12px; background-color: #fff; margin-bottom: 5px;}


    .swiper-pagination-bullets.main-Pag { display: none; }
    .main_contbox { height: auto; padding-top: 70px; }
    .m_btn { font-size: 1.1rem; padding: 6px 15px 6px 20px; }
    .m_txt3 {font-size: 1rem; }


    .Section1 { width: 100%;  height: 100%; position: relative;}
    .Section1::after { top: 65px; height: 25%; }
    .Section1 .ms1_txtbox { top: 55%;}
    .Section1 .ms1_txtbox .m_txt1 { margin-bottom: 16px; }
    .Section1 .ms1_videobox { position: relative; top: auto; left: auto; transform: none; }
    .Section1 .mouse_scroll { width: 12px;}
    .Section1 .mouse_scroll .mouse {height: 22px;}
    .Section1 .mouse_scroll .m_scroll_arrows {display: none; }
    .Section1 .mouse_scroll .wheel { height: 5px; width: 2px; }


    .Section2 .main_contbox {display: block; background: linear-gradient(to bottom, #f5f5f5 70%, transparent);}
    .Section2 .ms2_top_cont {flex-direction: column; gap: 6rem 0; }
    .Section2 .ms2_top_cont .txtbox { width: 100%; margin-right: 0; text-align: center; }
    .Section2 .ms2_top_cont .ms2_slidbox { width: 85%;  margin-left: 15%; z-index: 5;}
    .Section2 .ms2_top_cont .ms2_floor_txt { left: auto; right: -4%; top: 18%; transform: none; ;}
    .Section2 .ms2_bottom_cont {flex-direction: column;  margin-top: 4rem;  }
    .Section2 .ms2_bottom_cont .ms2_slidbox {  width: 85%;  margin-right: 15%; }
    .Section2 .swiper .swiper-button-prev,.Section2 .swiper .swiper-button-next {width: 3%;}
    .Section2 .ms2_bottom_cont .txtbox {  margin-left: 0; width: 100%;  margin-top: 3rem;  text-align: center; }
    .Section2 .ms2_bottom_cont .txtbox .m_txt3 p br { display: block; }
    .Section2 .ms2_bottom_cont .ms2_floor_txt { left: auto; right: 0;   bottom: 31%; transform: none;    }


    .Section3 .main_contbox { gap: 4rem 0; margin-top: 2rem; }
    .Section3 .ms3_bgbox {display: none; }
    .Section3 .ms3_img_txtbox { flex-wrap: wrap; }
    .Section3 .ms3_img_txt { width: 50%; height: 50%; gap: 20px 0; padding-top: 0; background: no-repeat center/cover; box-sizing: border-box; }
    .Section3 .ms3_img_txt + .ms3_img_txt { border-left: 0; }
    .Section3 .ms3_img_txt:nth-child(1) {  background-image: url(../image/mo_ms3_bg1.png); }
    .Section3 .ms3_img_txt:nth-child(2) {  background-image: url(../image/mo_ms3_bg2.png); }
    .Section3 .ms3_img_txt:nth-child(3) {  background-image: url(../image/mo_ms3_bg3.png); }
    .Section3 .ms3_img_txt:nth-child(4) {  background-image: url(../image/mo_ms3_bg4.png); }
    .Section3 .ms3_img_txt .sub { opacity: 1; }
    .Section3 .ms3_img_txt .tit { opacity: 1;line-height: 1.5;      margin-bottom: 5px;}
    .Section3 .ms3_img_txt .desc { display: none; }
    .Section3 .ms3_img_txt .btnbox {  opacity: 1; }

    .Section4 .main_contbox { background: #fff; }
    .Section4 .ms4_video_wrap {max-width: 90%; height: auto;    margin: 4rem auto 3rem;  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);    position: relative; left: auto; top: auto; transform: translate3d(0,100px,0);transition: all 1s ease-in-out; }
    .Section4 .ms4_video_wrap .ms4_video_item .play_btn {max-width: 45px; }
    .Section4 .ms4_video_wrap .ms4_video_item .play_btn.hide {opacity: 0;}


    .Section5 .main_contbox {margin-bottom: 8rem;}
    .Section5 .ms5_txtbox { width: 90%; margin: 0 auto; }
    .Section5 .ms5_txtbox .top_txt {text-align: center;  margin-bottom: 2.5rem; }
    .Section5 .ms5_imgbox { width: 100%;}
    .Section5 .ms5_imgbox .img { position: relative;left: auto; top: auto; height: 275px; overflow: hidden;}
    .Section5 .ms5_imgbox .swiper-slide-active .img {opacity: 1;}
    .Section5 .ms5_txtbox .bottom_txt {max-width: 100%;  margin-top: 2rem; }
    .Section5 .ms5_txtbox .bottom_txt.mob_ms5_txt .swiper-wrapper {      flex-direction: column;}
    .Section5 .ms5_txtbox .bottom_txt.mob_ms5_txt .swiper-wrapper .swiper-slide { width: 100% !important; }
    .Section5 .ms5_txtbox .bottom_txt .txt_item { padding: 12px 0; }
    .Section5 .ms5_txtbox .bottom_txt .txt_item .tit { font-size: 1.6rem;}
    .Section5 .ms5_txtbox .bottom_txt .txt_item .desc {  font-size: 1.2rem; }
    .Section5 .ms5_txtbox .bottom_txt .swiper-slide-thumb-active .txt_item .tit {color: #000000;}
    .Section5 .ms5_txtbox .bottom_txt .swiper-slide-thumb-active .txt_item .desc {height: 3.6em;}


    .Section6 { margin: 0; padding: 0;}
    .Section6 .main_contbox { padding-top: 44px;  background: url(../image/mo_ms6_bg.png) no-repeat center top / cover;}
    .Section6 .slide1 {width: 90%;  margin: auto; }
    .Section6 .slide1 .m_txt3 {  margin-top: 1.5rem; }
    .Section6 .slide2 { position: relative; margin-top: 6rem; }
    .Section6 .ms6_img1-1 {max-width: 65%;}
    .Section6 .ms6_img1-2 {max-width: 50%; margin-left: 50%;     margin-top: -4rem;    }
    .Section6 .slide3 { position: relative; margin-top: -7rem;      margin-bottom: 1rem;}
    .Section6 .ms6_img2 {  max-width: 28%;  margin-left: 3%;  position: absolute; left: 0; top: 12%; }
    .Section6 .ms6_name_box { height: auto; gap: 1rem 0; }
    .Section6 .ms6_name_box .ms6_name { font-family: 'Sorts Mill Goudy','Noto Serif KR'; line-height: 1; letter-spacing: 4px; color: #ffffff; font-size: 10rem;}
    .Section6 .ms6_name_box .ms6_name.name1 {  position: absolute; right: -4%; top: -7%;}
    .Section6 .ms6_name_box .ms6_name.name2 {  padding: 0;  text-align: right;  margin-right: -6%; }
    .Section6 .ms6_name_box .ms6_name.name3 {  padding-left: 0;  margin-left: -8%;  margin-top: 1.25rem; }
    .Section6 .slide4 { position: relative; padding-left: 5%; }
    .Section6 .ms6_img3-1 { max-width: 30%; z-index: 5; position: relative; }
    .Section6 .ms6_img3-2 { max-width: 88%;  margin-left: 12%;  margin-top: -10%;}
    .Section6 .slide5 {width: 85%; margin: 3rem auto 5rem; }    
    .Section6 .ms6_ceo_info .tit { font-family: 'Noto Serif KR', serif; font-size: 2.3rem; font-weight: 500; color: #000000; letter-spacing: -0.25px; margin-bottom: 20px;}
    .Section6 .desc_list {display: flex; flex-direction: column; gap: 0.75rem 0; margin-bottom: 35px;}
    .Section6 .desc_list > p { font-size: 1.05rem; font-weight: 300; color: #000000; letter-spacing: -0.25px; padding-left: 1rem; position: relative;}
    .Section6 .desc_list > p::before { content: ""; position: absolute; left: 0; top: 0.55em; width: 0.2em; height: 0.2em; background-color: #000000; border-radius: 50%;}
    

    .Section7 .ms7_item .inner { padding: 5rem 0;  }
    .Section7 .main_contbox { padding: 0; }
    .Section7 .ms7_item .m_txt3 { height: auto;
        transition: all 0.6s ease-in-out; padding: 1.5rem 0;}
    .Section7 .ms7_item.item1 { background-image: url(../image/mo_ms7_img1.png);}    
    .Section7 .ms7_item.item2 {background-image: url(../image/mo_ms7_img2.png);}
    .Section7 .ms7_item.item3 { background-image: url(../image/mo_ms7_img3.png); }
     


    .Section8 .main_contbox {  padding: 0;  }
    .Section8 .ms8_txtbox { position: relative; right: auto;  bottom: auto; width: 85%;  margin: 3rem auto 5rem;}
    .Section8 .ms8_map .map_pin {  left: 63.2%;  top: 29.5%; }

   
    

    }



@media screen and (max-width: 768px) {

  html {font-size: 12px !important;}


}



@media screen and (max-width: 599px) {

    html {font-size: 11px !important;}
  
}
    
    
    
@media screen and (max-width: 480px) {  

    html {font-size: 10px !important;}

     /*    header   */
    .header_logo { max-width: 100px;  }

    #menu_icon i {font-size: 28px;}
    #open_btn { width: 28px; height: 28px; }
    #close_btn { width: 28px; height: 28px;} 

    
    #lang.on .lang_sub {height: 75px;}



}



@media screen and (max-width: 320px) {

  html { font-size: 9px !important;}





}
