/* 02회원관리_06회원정보popup */
#memberInfoPopup .modal_box {width: 67.5rem;}
#memberInfoPopup .info_titbox {width: 100%; display: flex; align-items: center; justify-content: center; gap: 1rem;}
#memberInfoPopup .info_titbox > .name {font-size: 0.813rem;line-height: 154%;color: #4d5057;}
#memberInfoPopup .info_titbox > .info_tit {display: flex; align-items: center; gap: 1rem;}
#memberInfoPopup .info_titbox > .info_tit .prev_btn {background: url(../img/tit_prev.png) no-repeat center/contain; width: 1.25rem; aspect-ratio: 1/1;}
#memberInfoPopup .info_titbox > .info_tit .next_btn {background: url(../img/tit_next.png) no-repeat center/contain; width: 1.25rem; aspect-ratio: 1/1;}
#memberInfoPopup .info_titbox > .info_tit .title {display: flex; align-items: center; gap: 0.5rem;}
#memberInfoPopup .info_titbox > .info_tit .title .tit {font-weight: 700;font-size: 1rem;line-height: 150%;color: #131720;}
#memberInfoPopup .info_titbox > .info_tit .title .paging {font-weight: 700;font-size: 0.75rem;line-height: 150%;color: #131720; padding: 0.125rem 0.5rem; border-radius: 0.375rem; background: #f4f6f8;}
#memberInfoPopup .member_infobox {display: flex; flex-direction: column; gap: 1.688rem; margin-bottom: 2.5rem;}
#memberInfoPopup .member_infobox .top {display: flex; align-items: center; gap: 1rem;}
#memberInfoPopup .member_infobox .top .profile {width: 3.5rem; aspect-ratio: 1/1; border-radius: 50%; overflow: hidden;}
#memberInfoPopup .member_infobox .top .profile .img {width: 100%; height: 100%; object-fit: cover;}
#memberInfoPopup .member_infobox .top .info {flex: 1; display: flex; flex-direction: column; gap: 0.125rem;}
#memberInfoPopup .member_infobox .top .info .tit {font-weight: 700;font-size: 1rem;line-height: 150%;color: #131720;}
#memberInfoPopup .member_infobox .top .info .desc {font-size: 0.813rem;line-height: 154%;color: #4d5057;}
#memberInfoPopup .member_infobox .bottom {display: flex; gap: 1.5rem;}
#memberInfoPopup .member_infobox .bottom .leftbox {width: 48rem; border: 1px solid #c4cdd6; border-radius: 1rem; box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; overflow: hidden;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont1 {padding: 2.25rem 0; display: flex; align-items: center; flex: 1;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont1 .item {flex: 1; display: flex; flex-direction: column; align-items: center; gap: 0.125rem; text-align: center;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont1 .item .tit {font-weight: 700;
font-size: 0.875rem;line-height: 157%;color: #131720;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont1 .item .num {position: relative; font-weight: 800;font-size: 2rem;line-height: 138%;color: #131720;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont1 .item .num.dot::before {  content: ""; position: absolute; right: -0.313rem;  top: 0.313rem;  width: 0.375rem;  aspect-ratio: 1 / 1;  border-radius: 50%;  background: #f9471e;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont1 .bar {width: 1px; height: 3rem; background: #dfe5ec;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 { display: flex;  align-items: center;  background: #f9fafd; border-top: 1px solid #dfe5ec; padding: 1.063rem 0;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 .item {  flex: 1;  display: flex;  align-items: center;  justify-content: center;  gap: 0.5rem;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 .item .tit {font-size: 0.75rem;line-height: 150%;color: #131720;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 .item .tagbox {  display: flex;  align-items: center;  flex-wrap: wrap;  gap: 0.375rem;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 .item .tagbox .tag {  font-weight: 800;  font-size: 0.688rem;  line-height: 145%;  text-transform: uppercase;   padding: 0.188rem 0.5rem;  border-radius: 0.25rem;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 .item .tagbox .tag.typeA { background: #eef0f6;  color: #747983;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 .item .tagbox .tag.typeB { background: #ffebe7;  color: #f9471e;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 .item .tagbox .tag.typeC { background: #e3f8e8;  color: #00a756;}
#memberInfoPopup .member_infobox .bottom .leftbox .infocont2 .bar {width: 1px; height: 1.5rem; background: #dfe5ec;}
#memberInfoPopup .member_infobox .bottom .rightbox {flex: 1; border: 1px solid #c4cdd6; border-radius: 1rem; box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; gap: 1.5rem; overflow: hidden; padding: 1.5rem 1.25rem;}
#memberInfoPopup .member_infobox .bottom .rightbox .txtbox { display: flex;  flex-direction: column;  gap: 0.5rem;}
#memberInfoPopup .member_infobox .bottom .rightbox .txtbox .item {display: flex; align-items: center; justify-content: space-between; gap: 0.5rem;}
#memberInfoPopup .member_infobox .bottom .rightbox .txtbox .item .tit {font-size: 0.813rem;line-height: 154%;color: #131720;}
#memberInfoPopup .member_infobox .bottom .rightbox .txtbox .item .desc {font-weight: 700;font-size: 1rem;line-height: 150%;text-align: right;}
#memberInfoPopup .member_infobox .bottom .rightbox .txtbox .item .desc.color1 {color: #7c00ff;}
#memberInfoPopup .member_infobox .bottom .rightbox .txtbox .item .desc.color2 {color: #f9471e;}
#memberInfoPopup .member_infobox .bottom .rightbox .btn { height: 2.75rem;  border-radius: 0.75rem;}
#memberInfoPopup .clevr_box {margin-top: 2.5rem;}
#memberInfoPopup .clevr_box .form_tit {margin-bottom: 0.938rem;}
#memberInfoPopup .clevr_box .contbox {display: flex; flex-direction: column; gap: 1.5rem; margin-bottom: 1.5rem;}
#memberInfoPopup .clevr_box .contbox .item {border: 1px solid #dfe5ec; border-radius: 0.75rem; padding: 2rem; background: #fafafc; display: flex; align-items: flex-start; gap: 1rem;max-height: 22rem; overflow: auto;}  
#memberInfoPopup .clevr_box .contbox .item::-webkit-scrollbar {display: none;}
#memberInfoPopup .clevr_box .contbox .item .imgbox {display: flex; align-items: center; justify-content: center; width: 5.125rem;}
#memberInfoPopup .clevr_box .contbox .item .txtbox { flex: 1; display: flex; flex-direction: column; gap: 0.75rem;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .title { display: flex;  align-items: center; gap: 0.5rem;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .title .tit {font-weight: 700;font-size: 1rem;line-height: 150%;color: #131720;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .title .desc {font-size: 0.875rem;line-height: 157%;color: #4d5057;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .msgbox {width: 100%;  display: flex; flex-direction: column; align-items: flex-start; gap: 1.625rem;} 
#memberInfoPopup .clevr_box .contbox .item .txtbox .msgitem { position: relative; font-size: 0.875rem; line-height: 157%; padding: 1.125rem 1.375rem;  background: #fff; box-shadow: 0 0.125rem 0.313rem 0 rgba(0, 0, 0, 0.1);  border-radius: 0.625rem;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .msgitem.left {padding-left: 1.5rem;  color: #383b40;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .msgitem.right {margin-left: auto; padding-right: 1.5rem;  color: #131720;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .msgitem::before { content: "";  position: absolute;  top: -0.125rem;  background: no-repeat center / contain;  width: 1rem;  aspect-ratio: 1 / 1;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .msgitem.left::before {background-image: url(../img/msg_tail_left.png); left: -0.55rem;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .msgitem.right::before {background-image: url(../img/msg_tail_right.png); right: -0.55rem;}
#memberInfoPopup .clevr_box .contbox .item .txtbox .msgitem .txt{}
#memberInfoPopup .clevr_box .btnbox {display: flex; justify-content: center;}


/* 05기업목록_02상세보기popup */
#companyInfoPopup .modal_box {width: 50rem;}
#companyInfoPopup .modal_box .input_box.date {max-width: 15rem;}
#companyInfoPopup .modal_box .form_titbox {display: flex; flex-direction: column; align-items: flex-start; gap: 0.5rem; margin-bottom: 1.5rem;}
#companyInfoPopup .modal_box .form_titbox .tag {font-size: 0.75rem;line-height: 150%;color: #4d5057; padding: 0.25rem 0.75rem; border: 1px solid #d8dadd; border-radius: 0.5rem; background: #fafafc;}
#companyInfoPopup .modal_box .form_titbox .title {display: flex; align-items: baseline; gap: 0.563rem;}
#companyInfoPopup .modal_box .form_titbox .title .tit {font-weight: 700;font-size: 1.75rem;line-height: 143%;color: #131720;}
#companyInfoPopup .modal_box .form_titbox .title .txt {font-size: 0.875rem;line-height: 157%;color: #4d5057;}
#companyInfoPopup .tbl_wrap.ver2 {margin-top: 0.25rem;}
#companyInfoPopup .tbl_wrap.ver2 .tbl {border-top: 1px solid #131720;}
#companyInfoPopup .tbl_wrap.ver2 .tbl thead tr {background: #f4f6f8;}
#companyInfoPopup .tbl_wrap.ver2 .tbl thead tr th { padding: 0.688rem 0 0.688rem 1.5rem; font-weight: 700;}
#companyInfoPopup .tbl_wrap.ver2 .tbl tbody tr td { padding: 0.563rem 0 0.563rem 1.5rem;}
#companyInfoPopup .input_btnbox {margin-top: 0.75rem; margin-bottom: 1rem;}
#companyInfoPopup .modal_foot { border-top: 1px solid #dfe5ec; padding: 0.75rem 1.5rem; justify-content: space-between;}
#companyInfoPopup .modal_foot .page_btn {font-size: 0.813rem;line-height: 154%;color: #000017;display: flex; align-items: center; gap: 0.25rem; border: 1px solid #adb2bb; border-radius: 0.5rem; background: #fff; padding: 0.75rem 1rem;}
#companyInfoPopup .modal_foot .page_btn .icon {width: 1.25rem;}


/* 06매출관리_05환불내역_02매출내역상세보기popup */
#paymentDetailsPopup .modal_box {width: 50rem;}
#paymentDetailsPopup .modal_box {width: 50rem;}
#paymentDetailsPopup .form_box.medium_gap {gap: 1.75rem;}
#paymentDetailsPopup .tbl_wrap {border-top: 1px solid #131720;}
#paymentDetailsPopup .tbl_wrap .tbl { font-size: 0.813rem; line-height: 154%;}
#paymentDetailsPopup .tbl_wrap .tbl thead tr { background: #f4f6f8;}
#paymentDetailsPopup .tbl_wrap .tbl thead tr th {padding: 0.625rem 1rem; font-weight: 700}
#paymentDetailsPopup .tbl_wrap .tbl tbody tr td {padding: 0.75rem 1rem;}
#paymentDetailsPopup .tbl_wrap .tbl tbody tr td .bold {font-size: 0.875rem;line-height: 157%;}
#paymentDetailsPopup .form_subtit {margin-bottom: 0.75rem;}
#paymentDetailsPopup .tbl_box { border-top: 1px solid #131720; border-bottom: 1px solid #e5e8ec; display: flex; flex-wrap: wrap; overflow: hidden;}
#paymentDetailsPopup .tbl_box > .item { width: 100%;  display: flex;}
#paymentDetailsPopup .tbl_box > .item.wid50 {width: 50%;}
#paymentDetailsPopup .tbl_box > .item.last {border-bottom: 0;}
#paymentDetailsPopup .tbl_box > .item .tit { width: 8.75rem; font-weight: 700;font-size: 0.813rem;line-height: 154%;color: #131720;  background: #f4f6f8; padding: 0.875rem 1rem; border-bottom: 1px solid #e5e8ec; }
#paymentDetailsPopup .tbl_box > .item.last .tit {border-bottom-color: transparent;}
#paymentDetailsPopup .tbl_box > .item .desc { flex: 1;  padding: 0.875rem 1rem;  font-size: 0.813rem; line-height: 154%; color: #131720;  border-bottom: 1px solid #dfe5ec;}
#paymentDetailsPopup .tbl_box > .item.last .desc {border-bottom-color: transparent;}
#paymentDetailsPopup .tbl_box > .item .desc.bold{font-weight: 700;}


/* 07접속통계_01트래픽분석 */
.statistics_wrap .traffic_box { display: flex; gap: 1.5rem;}
.statistics_wrap .traffic_box > .item { width: 26%; max-width: 22.5rem; border-radius: 1rem;  background: #fafafc; padding: 1.375rem 1.5rem; display: flex; align-items: center;  justify-content: space-between; flex-wrap: wrap;  gap: 1rem; border: 1px solid #dfe5ec;}
.statistics_wrap .traffic_box > .item .tit_box { display: flex; align-items: center; gap: 1rem;}
.statistics_wrap .traffic_box > .item .tit_box .icon { width: 3.5rem; aspect-ratio: 1 / 1;  display: flex; align-items: center; justify-content: center; border: 1px solid #dfe5ec; border-radius: 0.5rem; }
.statistics_wrap .traffic_box > .item .tit_box .txt { font-weight: 700; font-size: 1rem;line-height: 150%;color: #131720;}
.statistics_wrap .traffic_box > .item .desc_box { text-align: right;}
.statistics_wrap .traffic_box > .item .desc_box .view_btn { font-weight: 700;font-size: 0.813rem ;line-height: 154%;color: #131720; border: 1px solid #adb2bb;border-radius: 0.5rem; background: #fff; padding: 0.25rem 0.938rem;}
.statistics_wrap .traffic_box > .item.user {flex: 1; max-width: unset;} 
.statistics_wrap .traffic_box > .item.user .desc_box { font-size: 0.813rem;  line-height: 154%; text-align: right; color: #747983;}
.statistics_wrap .traffic_box > .item.user .desc_box .data{ font-weight: 700;  font-size: 1.25rem; line-height: 140%; color: #f9471e; margin-left: 0.75rem; }
.statistics_wrap .section_wrap .section_item.item1 {flex: 1;}
.statistics_wrap .section_wrap .section_item.item1 .section .sec_cont.padding_0 {padding-right: 0.5rem;}
.statistics_wrap .section_wrap .section_item.item1 .tbl_wrap {max-height: 38.75rem; overflow: auto; margin-right: -0.5rem;}
.statistics_wrap .section_wrap .section_item.item1 .tbl_wrap::-webkit-scrollbar {width: 6px; cursor: pointer; display: block;}
.statistics_wrap .section_wrap .section_item.item1 .tbl_wrap::-webkit-scrollbar-track {background: transparent; border-radius: 0.25rem;}
.statistics_wrap .section_wrap .section_item.item1 .tbl_wrap::-webkit-scrollbar-thumb {background:#c4cdd6; border-radius: 0.25rem;}
.statistics_wrap .section_wrap .section_item.item1 .tbl_wrap.ver2 .tbl thead tr th {  padding: 0.688rem 0 0.688rem 3.125rem;}
.statistics_wrap .section_wrap .section_item.item1 .tbl_wrap.ver2 .tbl tbody tr td {  padding: 0.563rem 0 0.563rem 3.125rem;}
.statistics_wrap .section_wrap .section_item.item1 .tbl_wrap .tabl {}
.statistics_wrap .section_wrap .section_item.item2 { width: 35%;  max-width: 28rem;}
.statistics_wrap .tbl_wrap .tbl tbody tr td .bold {font-size: 0.875rem;}
.statistics_wrap .tbl_wrap .tbl thead tr th[data-th="타이틀"],
.statistics_wrap .tbl_wrap .tbl tbody tr td[data-th="타이틀"] {padding-right: 0;}
.statistics_wrap .lanking_box { width: calc(100% - 0.5rem* 2);  height: 16rem;  overflow: auto; margin: 0.5rem; padding: 1rem 1rem 0.75rem;  display: flex;  flex-direction: column;  gap: 1rem;}
.statistics_wrap .lanking_box::-webkit-scrollbar {width: 6px; cursor: pointer; display: block;}
.statistics_wrap .lanking_box::-webkit-scrollbar-track {background: transparent; border-radius: 0.25rem;}
.statistics_wrap .lanking_box::-webkit-scrollbar-thumb {background:#c4cdd6; border-radius: 0.25rem;}


/* 04접속통계_02접속환경분석 */
.statistics_wrap .connection_box { display: flex; flex-wrap: wrap;  gap: 0.938rem 1.063rem;}
.statistics_wrap .connection_box > .item {  width: calc((100% - 1.063rem * 2) / 3); border-radius: 1rem;  border: 1px solid #dfe5ec;  background: #fafafc;   padding: 2.313rem 1.5rem;  display: flex;  flex-direction: column;  align-items: center;   gap: 0.75rem;  text-align: center;}
.statistics_wrap .connection_box > .item .iconbox{ display: flex; align-items: center;  justify-content: center;  width: 3.5rem; min-width: 3.5rem; aspect-ratio: 1 / 1; border: 1px solid #dfe5ec;border-radius: 0.438rem;}
.statistics_wrap .connection_box > .item .iconbox img{width: 100%;}
.statistics_wrap .connection_box > .item .txtbox{flex: 1; width: 100%; display: flex; flex-direction: column;}
.statistics_wrap .connection_box > .item .txtbox .tit{font-size: 0.875rem;line-height: 157%;color: #747983;}
.statistics_wrap .connection_box > .item .txtbox .desc{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720;}
.statistics_wrap .connection_box.ver2 > .item { flex-direction: row;  text-align: left;  gap: 1.25rem; padding: 1rem 1.5rem;}
.statistics_wrap .connection_box.ver2 > .item.wid50{ width: calc((100% - 1.063rem * 1) / 2);}
.statistics_wrap .connection_box.ver2 > .item .txtbox .desc {font-size: 1.125rem;line-height: 144%;color: #131720;}



/* PC */
@media screen and (max-width: 1800px) {    
	
	.statistics_wrap .connection_box {  gap: 1.5rem;}
	.statistics_wrap .connection_box > .item {  flex-direction: row;  width: 100%;   text-align: unset; gap: 1rem; padding: 3.188rem 2.5rem;}
	.statistics_wrap .connection_box > .item .iconbox {  width: 4rem; min-width: 4rem;}
	.statistics_wrap .connection_box.ver2 {  gap: 1rem;}
	.statistics_wrap .connection_box.ver2 > .item { width: 100%;   gap: 1rem;   padding: 1rem 2.5rem; }
	.statistics_wrap .connection_box.ver2 > .item.wid50 { width: 100%;}
	.statistics_wrap .connection_box.ver2 > .item .txtbox .desc {font-size: 1.25rem; line-height: 140%;}

}

@media screen and (max-width: 1600px) {    

	.card_box .card_item .bottom {flex-direction: column;}
	.card_box.column .card_item .top { justify-content: center;}
	.card_box.column .card_item .bottom {  align-items: unset; padding: 1.5rem 2.5rem;}

}

@media screen and (max-width: 1560px) {    

	html {font-size: 15.5px !important;}  
	
	.statistics_wrap .section_wrap.column_change {flex-direction: column;}
	.statistics_wrap .section_wrap.column_change .section_item.item2 {width: 100%;max-width: 100%;	flex-direction: row;}

	.box_switch { width: calc((100% - 1.5rem * 2) / 3);}
}


@media screen and (max-width: 1440px) {    

	html {font-size: 15px!important;}    

}


@media screen and (max-width: 1380px) {    

	html {font-size: 14.5px !important;}        

}