
/* common */
body.dark_mode {background: #000;}

.dark_mode .header {background: rgba(0, 0, 0, 0.65);}
.dark_mode .header .h_logo .link > img:nth-child(1) { opacity: 0;}
.dark_mode .header .h_logo .link > img:nth-child(2) { opacity: 1;}
.dark_mode .header .menu_icon .menu_linebox .menu_line { background: #fff;}

.dark_mode .nav_box { background: #000;}
.dark_mode .nav_box .nav .nav_ul > li .link { color: #555555;}
.dark_mode .nav_box .nav .nav_ul > li .link:hover { color: var(--color_white);}
.dark_mode .nav_box .nav_infobox > .infoitem .txt { color: #555555;}

.dark_mode .more_btn:not(.white) { background: var(--color_white); color: #14151a;}

.dark_mode .form_cont .form_box .form_item .input_text { color: var(--color_white);}
.dark_mode .form_cont .form_box .form_item .input_text:focus { border-color: var(--color_white);}

.dark_mode .page_titbox > .title { color: var(--color_white);}
.dark_mode .page_titbox > .desc { color: var(--color_white);}

.dark_mode .page_dot_tit { color: var(--color_white);}
.dark_mode .page_dot_tit::before { background: var(--color_white);}
.dark_mode .page_dot_desc { color: var(--color_white);}

.dark_mode .page_sub_tit { color: var(--color_white);}

.dark_mode .tab_navbox .tab_nav { background: #393C49;  color: var(--color_black);}
.dark_mode .tab_navbox .tab_nav.on { background: var(--color_white);}
.dark_mode .tab_navbox .tab_nav::after { background: var(--color_black); border-color: var(--color_black);}
.dark_mode .tab_navbox .tab_nav.on::after { background: var(--color_white);}
.dark_mode .tab_navbox .tab_nav:hover {background: #555;}

.dark_mode .form_term .term_wrap { background: #393C49; border-color: #393c49;}
.dark_mode .form_term .term_cont::-webkit-scrollbar-thumb {background: var(--color_white); border-color: #393C49;}
.dark_mode .form_term .term_cont .term_txt { color: var(--color_white);}

.dark_mode .form_term .term_check .input_check { background-image: url(../img/check_icon.png); background-color: #393C49;}
.dark_mode .form_term .term_check .label_check { color: #393C49;}
.dark_mode .form_term .term_check .input_check:checked { background-color: var(--color_white);}
.dark_mode .form_term .term_check .input_check:checked + .label_check { color: var(--color_white);}

.dark_mode .form_cont .form_box .form_item .radio_item .label_check { background: #393C49; color: var(--color_black);}
.dark_mode .form_cont .form_box .form_item .radio_item .label_check .circle { background: var(--color_black); border-color: var(--color_black);}
.dark_mode .form_cont .form_box .form_item .radio_item .input_check:checked + .label_check { background: var(--color_white); color: var(--color_black);}
.dark_mode .form_cont .form_box .form_item .radio_item .input_check:checked + .label_check .circle { background: var(--color_white);}

.dark_mode .form_cont .form_box .form_item .file_box .file_name { color: var(--color_white);}
.dark_mode .form_cont .form_box .form_item .file_box .file_label { background: #393C49; color: var(--color_white);}

.dark_mode .form_btn_box .btn { color: var(--color_black); }
.dark_mode .form_btn_box .btn.btn_confirm { background: var(--color_white);}
.dark_mode .form_btn_box .btn.btn_cancel { background: #393C49;}

.dark_mode .box_tit { color: var(--color_white);}
.dark_mode .box_tit::before {  background: var(--color_white); }
.dark_mode .box_desc { color: var(--color_white);}


/* main */
.dark_mode .ms1 .ms1_txtwrap { color: #fff;}
.dark_mode .ms1 .ms1_txtwrap .ani_txtbox .blink { background: var(--color_white);}

/* .dark_mode .ms2 .ms2_contbox .ms2_cont .bg_img.map {background-image: url(../img/main/ms2_map_on.jpg);} */
.dark_mode .ms2 .ms2_contbox .ms2_cont .linkitem .top_box .number { color: var(--color_white);}
.dark_mode .ms2 .ms2_contbox .ms2_cont .linkitem .bottom_box .tit { color: var(--color_white);}
.dark_mode .ms2 .ms2_contbox .left_item { background: var(--color_black);}
.dark_mode .ms2 .ms2_contbox .top_item.top_left .top_left_item.top > .item { background: var(--color_black);}
.dark_mode .ms2 .ms2_contbox .top_item.top_right .top_right_item { background: #14151a;}
.dark_mode .ms2 .ms2_contbox .top_item.top_right .top_right_item.bottom > .item.item1 { background: var(--color_bg); color: var(--color_black);}
.dark_mode .ms2 .ms2_contbox .top_item.top_right .top_right_item.bottom > .item.item2 { background: #BDBEC0; color: var(--color_black);}
.dark_mode .ms2 .ms2_contbox .top_item.top_right .top_right_item.bottom > .item.item3 { background: #4B4C50; color: var(--color_white);}
.dark_mode .ms2 .ms2_contbox .top_item.top_right .top_right_item.bottom > .item.item4 { background: var(--color_black); color: var(--color_white);}
.dark_mode .ms2 .ms2_contbox .bottom_item { background: var(--color_black);}
.dark_mode .ms2 .ms2_contbox .bottom_item.bottom1 .bottom_box { border-color: #24252C;}
.dark_mode .ms2 .ms2_contbox .bottom_item.bottom1 .bottom_box .time { color: var(--color_white);}
.dark_mode .ms2 .ms2_contbox .bottom_item.bottom2 .bottom_box .tit {
  color: var(--color_white);}
.dark_mode .ms2 .ms2_contbox .bottom_item.bottom3 { background: var(--color_bg);}
.dark_mode .ms2 .ms2_contbox .bottom_item.bottom3 .bg_img { opacity: 0;}
.dark_mode .ms2 .ms2_contbox .bottom_item.bottom3 .top_box .icon { background-image: url(../img/main/mode_light.png);}
.dark_mode .ms2 .ms2_contbox .bottom_item.bottom3 .bottom_box .dark_txt {opacity: 0;}
.dark_mode .ms2 .ms2_contbox .bottom_item.bottom3 .bottom_box .light_txt { opacity: 1;}

.dark_mode .ms3 {background: #141519;}
.dark_mode .ms3 .ms3_txtbox .top_txtbox .tit { color: var(--color_white);}
.dark_mode .ms3 .ms3_txtbox .cont_box .cont_txt { color: var(--color_white);}
.dark_mode .ms3 .ms3_txtbox .label_box > .item { border-color: #AAAAAA; background: rgba(0, 0, 0, 0.15);}

.dark_mode .ms4 .ms4_contbox .rightbox .form_cont { background: var(--color_black);}
.dark_mode .ms4 .ms4_contbox .rightbox .form_cont .form_item .mail_txt { background: #333333; color: var(--color_white);}
.dark_mode .ms4 .ms4_snsbox > .item { background: var(--color_black);}
.dark_mode .ms4 .ms4_snsbox > .item .txtbox .txt .word { color: var(--color_white);}

.dark_mode .ms4 .ms4_snsbox > .item.pinterest .icon { background-image: url(../img/main/sns_pinterest_w.png);}
.dark_mode .ms4 .ms4_snsbox > .item.behance  .icon { background-image: url(../img/main/sns_behance_w.png);}

.dark_mode .ms4 .ms4_snsbox > .item.slack  .icon { background-image: url(../img/main/sns_slack_w.png);}

.dark_mode .ms4 .ms4_snsbox > .item.brochure .icon { background-image: url(../img/main/sns_kacelab_w.png);}

.dark_mode .ms4 .ms4_snsbox > .item.brochure .txtbox .download{ background-image: url(../img/down_icon_w.png);}


@media screen and (min-width: 1025px) {

  .dark_mode .ms4 .ms4_snsbox > .item.pinterest:hover .icon { background-image: url(../img/main/sns_pinterest_w_on.png);}
  .dark_mode .ms4 .ms4_snsbox > .item.behance :hover .icon { background-image: url(../img/main/sns_behance_w_on.png);}
  .dark_mode .ms4 .ms4_snsbox > .item.slack :hover .icon { background-image: url(../img/main/sns_slack_w_on.png);}
  .dark_mode .ms4 .ms4_snsbox > .item.brochure:hover .icon { background-image: url(../img/main/sns_kacelab_w_on.png);}
  .dark_mode .ms4 .ms4_snsbox > .item.brochure:hover .txtbox .download { background-image: url(../img/down_icon_on.png);}

}


/* Who We are */
.dark_mode .WhoWeAre_page .ss1 .ss1_contbox .page_dot_txtbox { border-color: var(--color_black);}
.dark_mode .WhoWeAre_page .ss2 .item > .title { color: var(--color_white);}
.dark_mode .WhoWeAre_page .ss2 .item > .slide_cont { border-color: var(--color_white);}
.dark_mode .WhoWeAre_page .ss2 .item > .slide_cont .txtbox .tit { color: var(--color_white);}
.dark_mode .WhoWeAre_page .ss2 .item > .slide_cont .txtbox .tit::before { background: var(--color_white);}
.dark_mode .WhoWeAre_page .ss2 .item > .slide_cont .txtbox .desc { color: var(--color_white);}
.dark_mode .WhoWeAre_page .ss2 .item > .slide_cont .iconbox .icon.icon1{ background-image: url(../img/who/who_ss2_icon1_on.png);}
.dark_mode .WhoWeAre_page .ss2 .item > .slide_cont .iconbox .icon.icon2{ background-image: url(../img/who/who_ss2_icon2_on.png);}
.dark_mode .WhoWeAre_page .ss2 .item > .slide_cont .iconbox .icon.icon3{ background-image: url(../img/who/who_ss2_icon3_on.png);}

.dark_mode .WhoWeAre_page .ss3 .ss3_marquee .marquee_group .item { color: var(--color_white);}


/* KSPM */
.dark_mode .KSPM_page .ss1 .ss1_contbox .contbox .imgbox {border-color: var(--color_white);}
.dark_mode .KSPM_page .ss1 .ss1_contbox .contbox .imgbox > img:nth-child(1) { opacity: 0; }
.dark_mode .KSPM_page .ss1 .ss1_contbox .contbox .imgbox > img:nth-child(2) { opacity: 1; }


/* Counseling */
.dark_mode .Counseling_page .ss2 .bo_content .bo_top .sch_box .input_sch { color: var(--color_white); border-color: var(--color_white);}
.dark_mode .Counseling_page .ss2 .bo_content .bo_top .sch_box .sch_btn { background-image: url(../img/sch_icon_on.png);}
.dark_mode .Counseling_page .ss2 .bo_content .bo_top .question_btn { background: var(--color_white); color: var(--color_black);}
.dark_mode .Counseling_page .ss2 .bo_content .bo_tblbox .bo_tbl tr td.content .bo_tit { color: var(--color_white);}
.dark_mode .Counseling_page .ss2 .bo_content .bo_tblbox .bo_tbl tr.secret_mode td.content .bo_tit .secret_icon.secret_icon { background-image: url(../img/secret_cion_on.png);}
.dark_mode .Counseling_page .ss2 .bo_content .bo_tblbox .bo_tbl tr.answered td.answer .bo_answer { color: var(--color_white);}
.dark_mode .Counseling_page .ss2 .bo_content .bo_tblbox .bo_tbl tr.answered td.answer .bo_answer .chk_icon { background-image: url(../img/check_icon_w.png);}

.dark_mode .Counseling_popup .popup_contbox { background: var(--color_black);}


/* Career */
.dark_mode .Career_page .ss1 .ss1_contbox > .item { background: var(--color_black);}
.dark_mode .Career_page .ss1 .ss1_contbox > .item .box_tit { color: var(--color_white);}
.dark_mode .Career_page .ss1 .ss1_contbox > .item .box_tit::before { background: var(--color_white);}
.dark_mode .Career_page .ss1 .ss1_contbox > .item .box_desc { color: var(--color_white);}
.dark_mode .Career_page .ss1 .ss1_contbox > .item:hover {background: var(--color_bg);}
.dark_mode .Career_page .ss1 .ss1_contbox > .item:hover .box_tit { color: var(--color_black);}
.dark_mode .Career_page .ss1 .ss1_contbox > .item:hover .box_tit::before { background: var(--color_black);}
.dark_mode .Career_page .ss1 .ss1_contbox > .item:hover .box_desc { color: var(--color_black);}

.dark_mode .Career_page .ss2 .ss2_contbox { border-color: var(--color_black);}
.dark_mode .Career_page .ss2 .ss2_contbox > .leftbox .title {color: var(--color_white);}
.dark_mode .Career_page .ss2 .ss2_contbox > .rightbox .rightitem .txtbox .tit {color: var(--color_white);}
.dark_mode .Career_page .ss2 .ss2_contbox > .rightbox .rightitem .txtbox .desc {color: var(--color_white);}
.dark_mode .Career_page .ss2 .ss2_contbox > .rightbox .rightitem .txtbox .file_box .file_name {background: #000; border-color: var(--color_white); color: var(--color_white);}
.dark_mode .Career_page .ss2 .ss2_contbox > .rightbox .rightitem .txtbox .file_box .file_label, .dark_mode .Career_page .ss2 .ss2_contbox > .rightbox .rightitem .txtbox .file_box .file_send {color: var(--color_black); background: var(--color_white);}


/* Contact */
.dark_mode .Contact_page .ss2 .ss2_contbox .leftitem.top { background: var(--color_black);}
/* .dark_mode .Contact_page .ss2 .ss2_contbox .leftitem.bottom > .link .map_img { background-image: url(../img/contact/contact_ss2_map_on.jpg);} */
.dark_mode .Contact_page .ss2 .ss2_contbox .rightbox { background: var(--color_black);}



/* dark mode */  
@media screen and (max-width: 1024px) {

  /* navbox */
  .dark_mode .nav_box .nav .nav_ul > li .link { color: var(--color_white);}
  .dark_mode .nav_box .nav_infobox > .infoitem .txt { color: #777;}

  
  /* footer */
  .f_dark .footer { border-radius: 0;}


  /* main */
  /* .dark_mode .ms2 .ms2_contbox .ms2_cont .bg_img.map { background-image: url(../img/main/mob_ms2_map_on.jpg);} */
  .dark_mode .ms2 .ms2_contbox .top_item.top_left .top_left_item.top > .item.right .map_item {  border-color: var(--color_black);}

  .dark_mode .ms3 .ms3_txtbox .label_box > .item { border-color: rgba(115, 115, 115, 0.8);background: rgba(115, 115, 115, 0.8); color: #000;}


  /* Who we Are */
  .dark_mode .WhoWeAre_page .ss2 .item > .title { color: var(--color_white);}
  .dark_mode .WhoWeAre_page .ss2 .item > .slide_cont { border-color: var(--color_white);}


  /* Contact */
  .dark_mode .Contact_page .ss2 .ss2_contbox .leftitem.bottom {border-color: var(--color_black);}
  /* .dark_mode .Contact_page .ss2 .ss2_contbox .leftitem.bottom > .link .map_img { background-image: url(../img/contact/mob_contact_ss2_map_on.jpg);  } */
  
  

}