
/* 01사전테스트_01디폴트 */
.preTest_wrap .test_section { padding: 48px 0;}
.preTest_wrap .test_box { position: relative; width: 100%; margin: 0 auto; display: flex; flex-direction: column;}
.preTest_wrap .test_box .titbox { display: flex;  flex-direction: column;  gap: 4px;   margin-bottom: 44px;  text-align: center;}
.preTest_wrap .test_box .titbox .tit { font-weight: 800;  font-size: 20px;  line-height: 160%;  color: #000;}
.preTest_wrap .test_box .titbox .desc {font-weight: 500;font-size: 12px;line-height: 150%;text-align: center;color: #000;}
.preTest_wrap .test_box .picturebox {display: flex; flex-direction: column; gap: 16px; margin-bottom: 16px;}
.preTest_wrap .test_box .picturebox .topbox{padding: 13px 14px; display: flex; align-items: center; justify-content: center; gap: 24px; border: 1px solid #d8dadd; border-radius: 8px; background: #fff;}
.preTest_wrap .test_box .picturebox .topbox .item{font-weight: 400;font-size: 13px;line-height: 154%;color: #131720; display: flex; align-items: center; gap: 6px;}
.preTest_wrap .test_box .picturebox .topbox .item .color{width: 12px; aspect-ratio: 1/1; border-radius: 50%;}
.preTest_wrap .test_box .picturebox .topbox .item .color.typeA{background: #00a756;}
.preTest_wrap .test_box .picturebox .topbox .item .color.typeB{background: #f9471e;}
.preTest_wrap .test_box .picturebox .imgbox {display: flex; align-items: center; justify-content: center; background: #f4f6f8; border-radius: 8px; overflow: hidden;}
.preTest_wrap .test_box .picturebox .imgbox .img{width: 100%;}
.preTest_wrap .test_box .contbox {display: flex; flex-direction: column;}
.preTest_wrap .test_box .contbox .txtbox {display: flex; flex-direction: column; gap: 8px; margin-bottom: 16px;}
.preTest_wrap .test_box .contbox .txtbox .txt {font-size: 12px;line-height: 150%;color: #383b40; }

@media screen and (orientation: landscape) { 
	.preTest_wrap .test_section { padding: 16px 0;}
	.preTest_wrap .test_box { flex-direction: row; align-items: flex-start; gap: 24px;}
	.preTest_wrap .test_box .picturebox { gap: 12px; margin-bottom: 0; width: 300px;  max-width: 42.38%;}
	.preTest_wrap .test_box .picturebox .topbox { padding: 10px;}
	.preTest_wrap .test_box .picturebox .topbox .item {  font-size: 12px; line-height: 150%;  gap: 4px;}
	.preTest_wrap .test_box .picturebox .imgbox {height: 200px; border-radius: 6px;}
	.preTest_wrap .test_box .contbox {flex: 1;}
	.preTest_wrap .test_box .contbox .titbox { display: flex !important; gap: 8px; margin-bottom: 24px;}
	.preTest_wrap .test_box .contbox .titbox .tit { font-size: 18px;  line-height: 144%; text-align: left;}
	.preTest_wrap .test_box .contbox .titbox .desc { font-size: 11px; line-height: 145%; text-align: left;}
}


/* 02로그인_01디폴트 */
.login_wrap .login_section { max-width: 440px; margin: 0 auto;  padding: 48px 0 16px;}
.login_wrap .login_box { width: 100%; margin: 0 auto; display: flex; flex-direction: column;}
.login_wrap .login_box .titbox { display: flex;  flex-direction: column;  gap: 2px;   margin-bottom: 24px;  text-align: center;}
.login_wrap .login_box .titbox .tit { font-weight: 800;  font-size: 20px;  line-height: 160%;  color: #000;}
.login_wrap .login_box .titbox .desc {font-weight: 400;font-size: 13px;line-height: 154%;color: #383b40;}
.login_wrap .login_box .form_box { margin-bottom: 16px; gap: 12px;}
.login_wrap .login_box .btn_box{ margin-bottom: 24px;}

@media screen and (orientation: landscape) { 	
	.login_wrap .login_section { padding: 24px 0 20px;}
	.login_wrap .login_box .titbox { gap: 4px;}
	.login_wrap .login_box .titbox .tit {font-size: 18px;line-height: 144%;}
	.login_wrap .login_box .titbox .desc {font-size: 12px;line-height: 150%;}
	.login_wrap .login_box .form_box { flex-direction: row; gap: 8px;  margin-bottom: 8px;}
	.login_wrap .login_box .btn_box { margin-bottom: 20px;}
}


/* 02실시간화상감시_03접속상세 */
.sessionInfo_wrap .session_section { padding: 24px 0;}
.sessionInfo_wrap .session_box {position: relative;}
.sessionInfo_wrap .session_box .picturebox {display: flex; flex-direction: column; gap: 16px; margin-bottom: 24px;}
.sessionInfo_wrap .session_box .picturebox .imgbox { width: 100%;  height: 218px;  background: #f4f6f8; border-radius: 8px; overflow: hidden;}
.sessionInfo_wrap .session_box .picturebox .imgbox .img{width: 100%; height: 100%; object-fit: cover;}
.sessionInfo_wrap .session_box .picturebox .labelbox{display: flex; align-items: center; justify-content: space-between; border: 1px solid #d8dadd; border-radius: 8px; background: #fff; padding: 13px 16px; }
.sessionInfo_wrap .session_box .picturebox .labelbox .tit {font-size: 13px;line-height: 154%;color: #131720;}
.sessionInfo_wrap .session_box .picturebox .labelbox .num {font-weight: 700;font-size: 14px;line-height: 157%;text-align: right;color: #01a4ff;}
.sessionInfo_wrap .session_box .txtbox {position: relative; display: flex; flex-direction: column; gap: 24px;}
.sessionInfo_wrap .session_box .txtbox .note_box{display: flex; flex-direction: column; gap: 8px;}
.sessionInfo_wrap .session_box .txtbox .note_box.ver2{ margin-bottom: 13px;}
.sessionInfo_wrap .session_box .txtbox .note_box .title { font-weight: 700;   font-size: 12px;  line-height: 150%;  color: #000;  display: flex; align-items: center;   gap: 4px;}
.sessionInfo_wrap .session_box .txtbox .note_box .title .icon{width: 16px;}
.sessionInfo_wrap .session_box .txtbox .note_box .descbox{display: flex; flex-direction: column; gap: 4px;}
.sessionInfo_wrap .session_box .txtbox .note_box .descbox .desc { font-size: 12px;
line-height: 150%; color: #383b40; letter-spacing: -0.01em; display: flex;  align-items: flex-start;  gap: 0.25em; word-break: keep-all;}
.sessionInfo_wrap .session_box .txtbox .note_box .descbox .desc .num {width: 10px;}
.sessionInfo_wrap .session_box .txtbox .note_box .descbox .desc .txt {flex:1}

@media screen and (orientation: landscape) { 	
	.sessionInfo_wrap .session_section { padding: 16px 0;}
	.sessionInfo_wrap .session_box { display: flex;  align-items: flex-start; gap: 24px; }
	.sessionInfo_wrap .session_box .picturebox { gap: 12px; margin-bottom: 0; width: 300px;  max-width: 42.38%;}
	.sessionInfo_wrap .session_box .picturebox .imgbox { height: 200px; border-radius: 6px;}
	.sessionInfo_wrap .session_box .picturebox .labelbox { padding: 10px 16px;}
	.sessionInfo_wrap .session_box .picturebox .labelbox .tit { font-size: 12px;  line-height: 150%;}
	.sessionInfo_wrap .session_box .picturebox .labelbox .num {font-size: 13px;line-height: 154%;}
	.sessionInfo_wrap .session_box .txtbox {flex: 1; gap: 16px;}
}


/* 04접속종료 */
.termination_wrap .termination_section{ padding: 48px 0;}
.termination_wrap .termination_box{display: flex; flex-direction: column; gap: 16px;}
.termination_wrap .termination_box .imgbox{width: 100%; display: flex; align-items: center; justify-content: center;}
.termination_wrap .termination_box .imgbox .img {max-height: 170px;}
.termination_wrap .termination_box .txtbox {display: flex; flex-direction: column; gap: 24px;}
.termination_wrap .termination_box .txtbox .titbox {padding-bottom: 24px; border-bottom: 1px solid #e5e8ec;}
.termination_wrap .termination_box .txtbox .titbox .tit{font-weight: 800;font-size: 16px;line-height: 150%;color: #000; text-align: center;}
.termination_wrap .termination_box .txtbox .note_box{display: flex; flex-direction: column; gap: 6px;}
.termination_wrap .termination_box .txtbox .note_box .title { font-weight: 700;   font-size: 12px;  line-height: 150%;  color: #000;  display: flex; align-items: center;   gap: 4px;}
.termination_wrap .termination_box .txtbox .note_box .title .icon{width: 16px;}
.termination_wrap .termination_box .txtbox .note_box .descbox{display: flex; flex-direction: column; padding-right: 10px;}
.termination_wrap .termination_box .txtbox .note_box .descbox .desc { font-size: 11px;   line-height: 145%; color: #383b40;  display: flex;  align-items: flex-start;  gap: 0.25em;}
.termination_wrap .termination_box .txtbox .note_box .descbox .desc .num {width: 10px;}

@media screen and (orientation: landscape) { 	
	.termination_wrap .termination_box { flex-direction: row; gap: 24px;}
	.termination_wrap .termination_box .imgbox { width: 300px; max-width: 42.38%;}
	.termination_wrap .termination_box .txtbox {flex: 1;}
	.termination_wrap .termination_box .txtbox .titbox { padding: 16px 0; }
	.termination_wrap .termination_box .txtbox .titbox .tit{ text-align: left; }
}