* {-webkit-tap-highlight-color: transparent;}

/* main */
.main_wrap .sec1 .ms1_swiper { height: 100vh;}
.main_wrap .sec1 .ms1_swiper .pagination { bottom: 30px;}


/* 공통 -  모달 ver2 */
.modal.ver2 .modal_box { padding: 40px 20px 32px; border-radius: 0;}
.modal.ver2 .modal_box .modal_btnbox { margin-top: 24px; justify-content: center;}
.modal.ver2 .modal_box .modal_btnbox .modal_btn {  width: 90px;  height: 48px;   display: flex;  align-items: center;  justify-content: center; border-radius: 4px; font-weight: 700; font-size: 14px; line-height: 157%; text-align: center;}
.modal.ver2 .modal_box .modal_btnbox .modal_btn.typeA {background: #000; color: #fff;}
.modal.ver2 .modal_box .modal_btnbox .modal_btn.typeB {background: #fff; color: #000;}


/* 01아이콘_01디폴트_02M */
.aiBtn { position: fixed; bottom: 24px; right: 20px; z-index: 50;}
.aiBtn .icon {  position: relative;  background: url(../img/ai_btn.png) no-repeat center / contain;  width: 40px;  aspect-ratio: 1 / 1;  display: flex;  z-index: 10;}
.aiBtn .msgbox {  position: absolute;  right: -6px;  top: 50%;  transform: translateY(-50%);  border: 2px solid #709bfd;  border-radius: 100px;  max-width: 400px; height: 48px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16); padding: 0 4px;  background: #fff; display: flex;  align-items: center;  transition: all 0.4s ease; opacity: 0;}
.aiBtn .msgbox .msg { font-weight: 700;  font-size: 14px;  line-height: 157%;  color: #000;   padding: 0 53px 0 15px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; transition: all 0.5s ease; max-width: 0;}
.aiBtn.show .msgbox {opacity: 1;}
.aiBtn.show .msgbox .msg {max-width: 300px;}



/* 02클레버메인_01디폴트_02M */
.clvr_popup {  position: fixed;  left: 0; top: 0; width: 100%; height: 100%; opacity: 0;  pointer-events: none;  transition: all 0.4s ease; z-index: 300; overflow: auto; display: flex; justify-content: center; align-items: flex-start;  letter-spacing: 0; }
.clvr_popup::-webkit-scrollbar {display: none;}
.clvr_popup.show { opacity: 1; pointer-events: unset;}
.clvr_popup * {font-family: 'Pretendard', sans-serif; letter-spacing: 0; }
.clvr_popup .pop_box { width: 100%; height: 100%; background: #fff; display: flex; flex-direction: column; overflow: auto;}
.clvr_popup .pop_box::-webkit-scrollbar {display: none;}
.clvr_popup .pop_head {  position: relative; width: 100%; height: 60px; min-height: 60px; padding: 0 16px;  display: flex; align-items: center; justify-content: space-between; background: #fff;}
.clvr_popup .pop_head .leftbox { position: relative; display: flex; align-items: center; gap: 12px;}
.clvr_popup .pop_head .rightbox { position: relative; display: flex; align-items: center; justify-content: flex-end; gap: 12px;}
.clvr_popup .pop_head .btn_box { position: relative;}
.clvr_popup .pop_head .btn_box .pop_btn { background: no-repeat center / contain; width:24px;  aspect-ratio: 1 / 1;  display:  flex; align-items: center; justify-content: center;}
.clvr_popup .pop_head .btn_box .badge { font-weight: 600; font-size: 9px;  line-height: 1;  color: #fff; background: linear-gradient(180deg, #769cfc 0%, #eb78c6 100%);  position: absolute; top: -6px;  right: -6px;  min-width: 16px;  height: 16px;  display: flex;  align-items: center;  justify-content: center;  border-radius: 100px; padding: 0 3px;}
.clvr_popup .pop_head .btn_box .pop_home {background-image: url(../img/pop_home.png);}
.clvr_popup .pop_head .btn_box .pop_menu {background-image: url(../img/pop_menu.png);}
.clvr_popup .pop_head .btn_box .pop_talk {background-image: url(../img/pop_talk.png);}
.clvr_popup .pop_head .btn_box .pop_close {background-image: url(../img/pop_close.png);}

.clvr_popup .pop_head .clvr_menu_popup { position: fixed; left: 0;  bottom: 0;  width: 100%;  height: 100%;  z-index: 30; background: rgba(0, 0, 0, 0.5);  opacity: 0;   pointer-events: none; transition: all 0.4s ease;}
.clvr_popup .pop_head .clvr_menu_popup.show { opacity: 1; pointer-events: auto;}
.clvr_popup .pop_head .clvr_menu_popup .pop_box { height: auto; position: absolute;   left: 0;  bottom: 0;  border-radius: 16px 16px 0 0;  overflow: hidden;  transition: all 0.4s ease;  transform: translateY(40px);  opacity: 0;  pointer-events: none;}
.clvr_popup .pop_head .clvr_menu_popup.show .pop_box { transform: translateY(0);   opacity: 1;  pointer-events: unset;}
.clvr_popup .pop_head .clvr_menu_popup .head_box {width: 100%; height: 56px; padding: 0 40px; display: flex; align-items: center; justify-content: center; margin-bottom: 7px;}
.clvr_popup .pop_head .clvr_menu_popup .head_box .title{font-weight: 700;font-size: 16px;line-height: 150%;text-align: center;color: #000;}
.clvr_popup .pop_head .clvr_menu_popup .head_box .pop_close {background: url(../img/pop_close.png) no-repeat center/contain; width: 24px; aspect-ratio: 1/1; display: flex; position: absolute; right: 16px; top: 16px;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box { margin-bottom: 54px; display: flex;flex-direction: column;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box .item { position: relative;  padding: 14px 12px 14px 16px;display: flex;  align-items: center; background: rgba(255, 255, 255, 0.2);  border-radius: 12px; cursor: pointer;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box .item::before { content: "";   position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(90deg, #d3dbfd 0%, #6e9cfe 29.01%, #c377e4 60.55%, #ec78c6 84.44%, #feb1de 100%);  opacity: 0;  transition: all 0.4s ease; pointer-events: none;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box .item.hover::before {opacity: 0.2;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box .item .txtbox {position: relative; flex: 1; display: flex;  flex-direction: column; gap: 2px;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box .item .txtbox .tit { font-weight: 700;   font-size: 13px; line-height: 154%; color: #000;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box .item .txtbox .date { font-weight: 400;  font-size: 12px; line-height: 150%; color: #737984;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box .item .optbox { position: relative;}
.clvr_popup .pop_head .clvr_menu_popup .menu_box .item .optbox .otp_btn{background: url(../img/pop_option.png) no-repeat center/contain; width: 32px; aspect-ratio: 1/1;}

.clvr_popup .pop_head .clvr_menuopt_popup { position: absolute;  right: 0; top: calc(100% + 4px);  min-width: 120px;  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);   background: #fff;  padding: 12px 16px;  border-radius: 12px;  z-index: 30;  opacity: 0;   pointer-events: none;  transition: all 0.4s ease;}
.clvr_popup .pop_head .clvr_menuopt_popup.show { opacity: 1; pointer-events: auto;}
.clvr_popup .pop_head .clvr_menuopt_popup .btn { display: flex; align-items: center;   gap: 6px; font-weight: 700; font-size: 13px; line-height: 154%; color: #000;   width: auto;  height: auto; background: none; border-radius: 0;}
.clvr_popup .pop_head .clvr_menuopt_popup .btn .icon { width: 16px;}
.clvr_popup .pop_head .clvr_menuopt_popup .btn .txt{flex: 1;}

.clvr_popup .pop_body { flex: 1; display: flex;  flex-direction: column; padding: 0 16px; }

.clvr_popup .pop_body .pop_title { display: flex; align-items: center;  justify-content: center; gap: 4px;  padding: 16px 0 18px; border-bottom: 1px solid #e5e8ec;}
.clvr_popup .pop_body .pop_title .title {font-weight: 700;font-size: 16px;line-height: 150%;color: #000;}
.clvr_popup .pop_body .pop_title .arrow {appearance: none; background: url(../img/pop_title_arrow.png) no-repeat center/contain; width: 24px; aspect-ratio: 1/1;}

.clvr_popup .pop_body .clvr_topbox { position: relative; margin: 16px 0 0;  display: flex;  flex-direction: column;  align-items: center; gap: 24px; padding-bottom: 32px; border-bottom: 1px solid #e5e8ec;}
.clvr_popup .pop_body .clvr_topbox .clvr_title{display: flex; align-items: flex-end; gap: 12px;}
.clvr_popup .pop_body .clvr_topbox .clvr_title .logo{width: 84px;}
.clvr_popup .pop_body .clvr_topbox .clvr_title .tit { font-weight: 700; font-size: 14px;   line-height: 157%; color: #000;}
.clvr_popup .pop_body .clvr_topbox .clvr_tabs { width: 100%; display: flex; flex-wrap: wrap; gap: 8px;}
.clvr_popup .pop_body .clvr_topbox .clvr_tabs .tab { position: relative; width: calc((100% - 8px)/2); height: 40px;  border-radius: 8px; background: #f4f6f8;  border: 1px solid #f4f6f8;  display: flex;  align-items: center;  justify-content: center;  gap: 4px;  font-size: 12px;  line-height: 133%;  text-align: center;  color: #737984; transition: all 0.4s ease; cursor: pointer;}
.clvr_popup .pop_body .clvr_topbox .clvr_tabs .tab::before {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(131deg, #d3dbfd 0%, #6e9cfe 29.01%, #c377e4 60.55%, #ec78c6 84.44%, #feb1de 100%);
opacity: 0; transition: all 0.4s ease; pointer-events: none;}
.clvr_popup .pop_body .clvr_topbox .clvr_tabs .tab .icon{position: relative; width: 24px;}
.clvr_popup .pop_body .clvr_topbox .clvr_tabs .tab .txt {position: relative;}
.clvr_popup .pop_body .clvr_topbox .clvr_tabs .tab.on{border-color: #709bfd; font-weight: 800; color: #709bfd;}
.clvr_popup .pop_body .clvr_topbox .clvr_tabs .tab.on::before {opacity: 0.2;}

.clvr_popup .pop_body .pop_search_box { position: sticky; bottom: 0;  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);  width: calc(100% + 16px * 2);  margin: 0 -16px; padding: 52px 16px 20px; z-index: 10;}
.clvr_popup .pop_body .pop_search { border: 2px solid #709bfd; border-radius: 100px;   width: 100%; height: 48px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);  background: #fff;  display: flex; align-items: center; gap: 12px;  padding: 4px; }
.clvr_popup .pop_body .pop_search .sch_input { flex: 1; height: 100%;  font-size: 14px;   line-height: 157%; color: #000; border: none; background: none; padding: 0 16px;}
.clvr_popup .pop_body .pop_search .sch_input::placeholder {color: #adb2bb;}
.clvr_popup .pop_body .pop_search .input_btn{ background: url(../img/pop_input_btn.png) no-repeat center/contain; width: 24px; aspect-ratio: 1/1;}
.clvr_popup .pop_body .pop_search .sch_btn{background: url(../img/pop_sch_btn.png) no-repeat center/contain; width: 40px; aspect-ratio: 1/1;}

.clvr_popup .pop_body .clvr_tabconts {position: relative;}
.clvr_popup .pop_body .clvr_tabconts .tabcont{padding-top: 32px;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .titbox{display: flex; flex-direction: column; gap: 6px; margin-bottom: 24px;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .titbox .tit { font-weight: 700;  font-size: 16px; line-height: 150%; text-align: center; color: #000;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .titbox .desc{font-size: 13px;line-height: 154%;text-align: center;color: #000;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .resultbox { background: #f8faff;  border: 1px solid #dce6ff; border-radius: 12px; padding: 24px; display: flex;  flex-direction: column; gap: 24px;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .resultbox .item { display: flex;   flex-direction: column; gap: 12px;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .resultbox .item .tit{font-weight: 700;font-size: 14px;line-height: 157%;text-align: center;color: #000;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .resultbox .item .badge_list { display: flex;  flex-direction: column; align-items: center;  gap: 8px;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .resultbox .item .badge_group { width: 100%;  display: flex; justify-content: center; gap: 8px;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .resultbox .item .badge_item {  position: relative;  border: 1px solid #d8dadd;  border-radius: 8px;  min-width: 160px;   height: 40px;  background: #fff; padding: 0 22px 0 18px;  font-weight: 400; font-size: 13px; line-height: 154%; color: #000;display: flex; align-items: center; gap: 4px;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .resultbox .item .badge_item .icon {  width: 13px;}
.clvr_popup .pop_body .clvr_tabconts .tabcont .resultbox > .bar { align-self: flex-end; width: 100%;  height: 1px; background: #e5e8ec;}



/* 02클레버메인_02검색결과_02M */
.clvr_popup .pop_body .clvr_result { width: 100%; display: flex;  flex-direction: column;   align-items: center; width: 100%;  margin-top: 24px; margin-bottom: 27px;}
.clvr_popup .pop_body .clvr_result .result_date { font-weight: 400;  font-size: 12px;   line-height: 150%;  color: #737984;  background: #f0f1f8;  padding: 5px 15px;   border-radius: 100px; margin-bottom: 16px;}
.clvr_popup .pop_body .clvr_result .result_cont{width: 100%; margin-bottom: 24px;}
.clvr_popup .pop_body .clvr_result .result_cont .tit{font-size: 14px;line-height: 169%;color: #000017;font-weight: 700;}
.clvr_popup .pop_body .clvr_result .result_cont .desc{font-weight: 400; font-size: 13px;line-height: 169%; color: #000;}
.clvr_popup .pop_body .clvr_result .result_source{width: 100%;}
.clvr_popup .pop_body .clvr_result .result_source .titbox {margin-bottom: 12px;}
.clvr_popup .pop_body .clvr_result .result_source .titbox .title{font-weight: 700;font-size: 14px;line-height: 157%;color: #000;}
.clvr_popup .pop_body .clvr_result .result_source .titbox .title .color{color: #4870f9;}
.clvr_popup .pop_body .clvr_result .result_source .slidebox { position: relative;}
.clvr_popup .pop_body .clvr_result .result_source .slidebox .prev_btn,
.clvr_popup .pop_body .clvr_result .result_source .slidebox .next_btn{background: no-repeat center/contain; width: 24px;  height: auto; aspect-ratio: 1 / 1; transition: all 0.4s ease; display: none;}
.clvr_popup .pop_body .clvr_result .result_source .slidebox .prev_btn.swiper-button-disabled,
.clvr_popup .pop_body .clvr_result .result_source .slidebox .next_btn.swiper-button-disabled { opacity: 0;}
.clvr_popup .pop_body .clvr_result .result_source .slidebox .prev_btn{background-image: url(../img/swiper_prev.png); left: -16px;}
.clvr_popup .pop_body .clvr_result .result_source .slidebox .next_btn{background-image: url(../img/swiper_next.png); right: -16px;}
.clvr_popup .pop_body .clvr_result .result_source_swiper {width: calc(100% + 16px*2); margin: 0 -16px; padding: 0 16px;}
.clvr_popup .pop_body .clvr_result .result_source_swiper .item { width: 208px;  background: #fff; border: 1px solid #d8dadd; border-radius: 8px; padding: 16px;  display: flex;  flex-direction: column; gap: 8px;}
.clvr_popup .pop_body .clvr_result .result_source_swiper .item .title{font-weight: 700;
font-size: 13px;line-height: 154%;color: #000; text-overflow: ellipsis;  overflow: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
.clvr_popup .pop_body .clvr_result .result_source_swiper .item .url{display: flex; align-items: center; gap: 6px;font-size: 12px;line-height: 150%;color: #334353;}
.clvr_popup .pop_body .clvr_result .result_source_swiper .item .url .icon{width: 20px;}
.clvr_popup .pop_body .clvr_result .result_source_swiper .item .url .txt {flex: 1;}