

/* PC */
@media screen and (max-width: 1560px) {    

  	html {font-size: 15.5px !important;}  

}


@media screen and (max-width: 1440px) {    

  	html {font-size: 15px!important;}    

}


@media screen and (max-width: 1380px) {    

  	html {font-size: 14.5px !important;}    

}


@media screen and (max-width: 1200px) {

  	html {font-size: 14px !important;}  

}



  
/* Tablet */
@media screen and (max-width: 1080px) {


	:root {
		/* Typography */
		--56_display_r: 400 5.6rem/1.286 'Pretendard', sans-serif;
		--56_display_m: 500 5.6rem/1.286 'Pretendard', sans-serif;
		--56_display_sb: 600 5.6rem/1.286 'Pretendard', sans-serif;
		--56_display_b: 700 35.6rem/1.286 'Pretendard', sans-serif;

		--40_display_r: 400 4rem/1.3 'Pretendard', sans-serif;
		--40_display_m: 500 4rem/1.3 'Pretendard', sans-serif;
		--40_display_sb: 600 4rem/1.3 'Pretendard', sans-serif;
		--40_display_b: 700 4rem/1.3 'Pretendard', sans-serif;

		--36_title_r: 400 3.6rem/1.334 'Pretendard', sans-serif;
		--36_title_m: 500 3.6rem/1.334 'Pretendard', sans-serif;
		--36_title_sb: 600 3.6rem/1.334 'Pretendard', sans-serif;
		--36_title_b: 700 3.6rem/1.334 'Pretendard', sans-serif;

		--32_title_r: 400 3.2rem/1.334 'Pretendard', sans-serif;
		--32_title_m: 500 3.2rem/1.334 'Pretendard', sans-serif;
		--32_title_sb: 600 3.2rem/1.334 'Pretendard', sans-serif;
		--32_title_b: 700 3.2rem/1.334 'Pretendard', sans-serif;

		--30_title_r: 400 3rem/1.334 'Pretendard', sans-serif;
		--30_title_m: 500 3rem/1.334 'Pretendard', sans-serif;
		--30_title_sb: 600 3rem/1.334 'Pretendard', sans-serif;
		--30_title_b: 700 3rem/1.334 'Pretendard', sans-serif;

		--28_title_r: 400 2.8rem/1.358 'Pretendard', sans-serif;
		--28_title_m: 500 2.8rem/1.358 'Pretendard', sans-serif;
		--28_title_sb: 600 2.8rem/1.358 'Pretendard', sans-serif;
		--28_title_b: 700 2.8rem.358 'Pretendard', sans-serif;

		--24_title_r: 400 2.4rem/1.334 'Pretendard', sans-serif;
		--24_title_m: 500 2.4rem/1.334 'Pretendard', sans-serif;
		--24_title_sb: 600 2.4rem/1.334 'Pretendard', sans-serif;
		--24_title_b: 700 2.4rem/1.334 'Pretendard', sans-serif;
		
		--22_heading_r: 400 2.2rem/1.364 'Pretendard', sans-serif;
		--22_heading_m: 500 2.2rem/1.364 'Pretendard', sans-serif;
		--22_heading_sb: 600 2.2rem/1.364 'Pretendard', sans-serif;
		--22_heading_b: 700 2.2rem/1.364 'Pretendard', sans-serif;

		--20_heading_r: 400 2rem/1.4 'Pretendard', sans-serif;
		--20_heading_m: 500 2rem/1.4 'Pretendard', sans-serif;
		--20_heading_sb: 600 2rem/1.4 'Pretendard', sans-serif;
		--20_heading_b: 700 2rem/1.4 'Pretendard', sans-serif;

		--18_headline_r: 400 1.8rem/1.445 'Pretendard', sans-serif;
		--18_headline_m: 500 1.8rem/1.445 'Pretendard', sans-serif;
		--18_headline_sb: 600 1.8rem/1.445 'Pretendard', sans-serif;
		--18_headline_b: 700 1.8rem/1.445 'Pretendard', sans-serif;

		--17_headline_r: 400 1.7rem/1.412 'Pretendard', sans-serif;
		--17_headline_m: 500 1.7rem/1.412 'Pretendard', sans-serif;
		--17_headline_sb: 600 1.7rem/1.412 'Pretendard', sans-serif;
		--17_headline_b: 700 1.7rem/1.412 'Pretendard', sans-serif;

		--16_body_normal_r: 400 1.6rem/1.4 'Pretendard', sans-serif;
		--16_body_normal_m: 500 1.6rem/1.4 'Pretendard', sans-serif;
		--16_body_normal_sb: 600 1.6rem/1.4 'Pretendard', sans-serif;
		--16_body_normal_b: 700 1.6rem/1.4 'Pretendard', sans-serif;

		--16_body_read_r: 400 1.6rem/1.6 'Pretendard', sans-serif;
		--16_body_read_m: 500 1.6rem/1.6 'Pretendard', sans-serif;
		--16_body_read_sb: 600 1.6rem/1.6 'Pretendard', sans-serif;
		--16_body_read_b: 700 1.6rem/1.6 'Pretendard', sans-serif;

		--15_body_normal_r: 400 1.5rem/1.467 'Pretendard', sans-serif;
		--15_body_normal_m: 500 1.5rem/1.467 'Pretendard', sans-serif;
		--15_body_normal_sb: 600 1.5rem/1.467 'Pretendard', sans-serif;
		--15_body_normal_b: 700 1.5rem/1.467 'Pretendard', sans-serif;

		--15_body_read_r: 400 1.5rem/1.6 'Pretendard', sans-serif;
		--15_body_read_m: 500 1.5rem/1.6 'Pretendard', sans-serif;
		--15_body_read_sb: 600 1.5rem/1.6 'Pretendard', sans-serif;
		--15_body_read_b: 700 1.5rem/1.6 'Pretendard', sans-serif;

		--14_label_normal_r: 400 1.4rem/1.429 'Pretendard', sans-serif;
		--14_label_normal_m: 500 1.4rem/1.429 'Pretendard', sans-serif;
		--14_label_normal_sb: 600 1.4rem/1.429 'Pretendard', sans-serif;
		--14_label_normal_b: 700 1.4rem/1.429 'Pretendard', sans-serif;

		--14_label_read_r: 400 1.4rem/1.571 'Pretendard', sans-serif;
		--14_label_read_m: 500 1.4rem/1.571 'Pretendard', sans-serif;
		--14_label_read_sb: 600 1.4rem/1.571 'Pretendard', sans-serif;
		--14_label_read_b: 700 1.4rem/1.571 'Pretendard', sans-serif;

		--13_label_r: 400 1.3rem/1.385 'Pretendard', sans-serif;
		--13_label_m: 500 1.3rem/1.385 'Pretendard', sans-serif;
		--13_label_sb: 600 1.3rem/1.385 'Pretendard', sans-serif;
		--13_label_b: 700 1.3rem/1.385 'Pretendard', sans-serif;

		--12_caption_r: 400 1.2rem/1.334 'Pretendard', sans-serif;
		--12_caption_m: 500 1.2rem/1.334 'Pretendard', sans-serif;
		--12_caption_sb: 600 1.2rem/1.334 'Pretendard', sans-serif;
		--12_caption_b: 700 1.2rem/1.334 'Pretendard', sans-serif;

		--11_caption_r: 400 1.1rem/1.273 'Pretendard', sans-serif;
		--11_caption_m: 500 1.1rem/1.273 'Pretendard', sans-serif;
		--11_caption_sb: 600 1.1rem/1.273 'Pretendard', sans-serif;
		--11_caption_b: 700 1.2rem/1.273 'Pretendard', sans-serif;

		--10_caption_r: 400 1rem/1.273 'Pretendard', sans-serif;
		--10_caption_m: 500 1rem/1.273 'Pretendard', sans-serif;
		--10_caption_sb: 600 1rem/1.273 'Pretendard', sans-serif;
		--10_caption_b: 700 1rem/1.273 'Pretendard', sans-serif;

		/* shadow */
		--box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.1)
	}

  	html {font-size: 16px !important;} 

	body::before { content: "";  position: fixed;  left: 0;  top: 0;  width: 100%;  height: 100%; background-color: rgba(0,0,0,0.4); z-index: 99;  transition: all 0.4s ease; opacity: 0; pointer-events: none;cursor: pointer;}
	body.hidden::before { opacity: 1;  pointer-events: auto;} 
	body.menu::before { opacity: 1;  pointer-events: auto;} 
	body.popup::before { opacity: 1;  pointer-events: auto;} 

	.pc {display: none !important;}
	.tablet {display: block !important;}
	.inner { width: 100%; padding: 0 1.6rem;}


	/* sidenav */
	.sidenav { position: fixed;  left: 0; top: 0; z-index: 200; width: 85%; left: -85%; max-width: 450px;}
	.sideopen .sidenav {width: 85%; left: 0;}
	.sidenav .side_top, .sidenav .side_cont { width: 100%;}


	/* header */


	/* footer */

	/* container */
	.container { width: 100%;}


	/* form */
	.form_box .form_item {  width: 100%;}

	.input_box .label_text { font: var(--14_label_normal_m); word-break: keep-all;}
	.input_box .input_text { border-radius: 0.6rem; padding: 0 1.2rem; height: 4rem;  font: var(--14_label_normal_r);}
	.input_box textarea.input_text { height: 14rem; padding: 1.2rem;}
	.input_box .input_text.datepicker { background: url(../img/ic_datepicker.png) no-repeat right 1.2rem center / 1.6rem auto var(--basic-white);  padding-right: 3.6rem;}
	.input_box_sch .input_text { padding: 0 2rem; height: 4rem; padding-right: 3.2rem;}
	.input_box .input_status { font: var(--12_caption_r);}
	.input_box_sch .sch_btn { width: 1.6rem;}
	.input_box_file { gap: 0.8rem;}
	.input_box_file .input_btn { font: var(--14_label_normal_sb); border-radius: 0.6rem; padding: 0 1.2rem; height: 4rem;}
	.input_box .input_flex .input_text {flex: 1;}

	.check_box { gap: 0.8rem;}
	.check_box .input_check { width: 1.8rem; min-width: 1.8rem; height: 1.8rem; border-radius: 0.4rem;}
	.check_box .input_check::before { width: 1rem;}
	.check_box .label_check { font: var(--14_label_normal_r); word-break: keep-all;}
	.check_box .label_check.star_ver { gap: 0.4rem;}
	.check_box .label_check.star_ver .stars .star { width: 1.2rem;}

	.radio_box .input_radio {width: 1.8rem; height: 1.8rem;}
	.radio_box .input_radio::before { width: 0.9rem}
	.radio_box .label_radio { font: var(--14_label_normal_r); word-break: keep-all;}

	.select_box .select { background: url(../img/select_arrow.png) no-repeat right 1.2rem center / 1.6rem var(--basic-white);border-radius: 0.6rem;  padding: 0 3.6rem 0 1.2rem;  height: 4rem; font: var(--14_label_normal_r); }

	.control_box { border-radius: 1rem;}
	.control_box .input_control {  width: 3.6rem;}
	.control_box .input_count {  width: 5rem;  height: 3.6rem;}


	/* datepicker */
	.ui-datepicker {  margin-top: 1.2rem;  box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.1);  border-radius: 1.6rem; padding: 2rem 0.8rem;}
	.ui-datepicker .ui-datepicker-header { padding: 0 1rem; margin-bottom: 2rem;}
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { width: 1.6rem  !important; }
	.ui-datepicker .ui-datepicker-prev {order: 2; margin-right: 0.8rem;}	
	.ui-datepicker-calendar>thead>tr>th { width: 3rem; height: 3rem;  padding: 0;  }
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { width: 3rem; height: 3rem;}
	.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,
	.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,
	.ui-button:hover,.ui-button:focus { width: 3rem; height:3rem;}	
	.ui-state-active::before, .ui-widget-content .ui-state-active::before, .ui-widget-header .ui-state-active::before, a.ui-button:active::before, .ui-button:active::before, .ui-button.ui-state-active:hover::before { border-radius: 0.8rem;  width:3rem; }


	/* table */
	/* .tbl tbody tr td::before {content: attr(data-th); white-space: pre-line;} */




}


@media screen and (max-width: 900px) {

  	html {font-size: 14px !important;}


}


@media screen and (max-width: 700px) {

  	html {font-size: 11.5px !important;}

}




/* Mobile */
@media screen and (max-width: 599px) {

  	html {font-size: 11px !important;}  

  	.mobile {display: block !important;}
  

}
  
      
@media screen and (max-width: 480px) {  

  	html {font-size: 10px !important;}

}


@media screen and (max-width: 320px) {

  	html { font-size: 9px !important;}

}
