
/* 01 로그인 */
.login_wrap .login_section { position: relative; width: 100%;  height: 100vh;  background: url(../img/login_bg.jpg) no-repeat center / cover; display: flex; align-items: center;  justify-content: center; padding: 6.25rem;}
.login_wrap .login_section .login_box { position: relative; display: flex; width: 100%; max-width: 1280px; height: 100%; background: var(--basic-white); border-radius: 2.5rem; overflow: hidden;}
.login_wrap .login_section .leftbox { position: relative; width: 50%; display: flex;  flex-direction: column; align-items: center; justify-content: center;  gap: 2.5rem;  padding: 4rem;  background: var(--basic-white);}
.login_wrap .login_section .leftbox .titbox{width: 100%; max-width: 450px; display: flex; flex-direction: column; gap: 0.75rem;}
.login_wrap .login_section .leftbox .titbox .tit{font:var(--36_title_sb); line-height: 122%; letter-spacing: -0.02em; color: var(--basic-black)}
.login_wrap .login_section .leftbox .titbox .desc{font:var(--16_body_normal_r);line-height: 150%; color: var(--basic-darkgray)}
.login_wrap .login_section .leftbox .formbox{width: 100%; max-width: 450px; display: flex; flex-direction: column; gap: 1.5rem;}
.login_wrap .login_section .leftbox .formbox .input_wrap{ display: flex; flex-direction: column ; gap: 1rem;}
.login_wrap .login_section .leftbox .formbox .input_box{gap: 0.5rem;}
.login_wrap .login_section .leftbox .formbox .button_box .button {height: 3.75rem;}
.login_wrap .login_section .rightbox { position: relative; width: 50%; display: flex;  flex-direction: column;  justify-content: space-between;  padding: 4rem; background: linear-gradient(to top, #005ad3, #2f88ff);}
.login_wrap .login_section .rightbox .logobox { width: 10rem; filter: invert(10) brightness(10);  display: flex; align-items: center; justify-content: center; margin-left: auto;}
.login_wrap .login_section .rightbox .txtbox {  display: flex;  flex-direction: column;  gap: 1rem;}
.login_wrap .login_section .rightbox .txtbox .img { width: 12rem; margin-bottom: -1rem;  margin-left: -1rem;}
.login_wrap .login_section .rightbox .txtbox .tit { font: var(--36_title_sb);  line-height: 1;   letter-spacing: 0.1em; color: var(--basic-white);}
.login_wrap .login_section .rightbox .txtbox .desc {  font: var(--14_label_read_r); line-height: 1.4;  font-weight: 300;  line-height: 1.5;  color: var(--basic-white);}


/* 02 대시보드 */
.dashboard_wrap .ds_sec{display: flex; flex-wrap:wrap;  gap: 1rem;}
.dashboard_wrap .ds_sec .card_box { width: 100%; display: flex; flex-wrap:wrap;  gap: 1rem;}
.dashboard_wrap .ds_sec .card_box.wid40 {width: calc((100% - 1rem * 1)*0.4);}
.dashboard_wrap .ds_sec .card_box.wid60 {width: calc((100% - 1rem * 1)*0.6);}
.dashboard_wrap .ds_sec .card {border: 1px solid transparent; border-radius: 0.875rem;  box-shadow: var(--box-shadow);  background: var(--basic-white); transition: all 0.4s ease;}
.dashboard_wrap .ds_sec .card:hover {border-color:#1f88f0; box-shadow:0 0 16px rgba(31,136,240,.2);}
.dashboard_wrap .ds_sec .card.wid20 {width: calc((100% - 1rem * 4)/5);}
.dashboard_wrap .ds_sec .card.wid25 {width: calc((100% - 1rem * 3)/4);}
.dashboard_wrap .ds_sec .card.wid33 {width: calc((100% - 1rem * 2)/3);}
.dashboard_wrap .ds_sec .card.wid50 {width: calc((100% - 1rem * 1)/2);}
.dashboard_wrap .ds_sec .card .card_link{width: 100%; display: flex; flex-direction: column; gap: 1rem; padding: 1rem 1.25rem; }
.dashboard_wrap .ds_sec .card .card_head{position: relative; width: 100%;}
.dashboard_wrap .ds_sec .card .card_head .tit{font: var(--15_body_normal_m); color: var(--basic-darkgray);}
.dashboard_wrap .ds_sec .card .card_body{display: flex; align-items: center; justify-content: space-between;}
.dashboard_wrap .ds_sec .card .card_body .cont{display: flex; flex-direction: column;}
.dashboard_wrap .ds_sec .card .card_body .cont .result{font: var(--24_title_m);  letter-spacing: -0.025em; color: var(--basic-darkgray);}
.dashboard_wrap .ds_sec .card_box .card .card_body .cont .result {font: var(--18_headline_r);}
.dashboard_wrap .ds_sec .card .card_body .cont .result.type_info {color: var(--state-info);}
.dashboard_wrap .ds_sec .card .card_body .cont .result.type_error {color: var(--state-error);}
.dashboard_wrap .ds_sec .card .card_body .cont .result.weather_ver {display: flex; align-items: center; gap: 1rem;}
.dashboard_wrap .ds_sec .card .card_body .cont .result.weather_ver .icon {  width: 3.75rem;  aspect-ratio: 1 / 1; display: flex;}
.dashboard_wrap .ds_sec .card .card_body .cont .result.weather_ver .city{font:var(--16_body_normal_m); color: var(--basic-darkgray); display: flex; flex-direction: column;}
.dashboard_wrap .ds_sec .card .card_body .cont .result.desc_ver {font:var(--14_label_normal_r);  letter-spacing: 0;   display: flex;  flex-direction: column;  gap: 0.125rem;}
.dashboard_wrap .ds_sec .card .card_body .cont .result.desc_ver > li{display: flex; align-items: center; gap: 0.25rem;}
.dashboard_wrap .ds_sec .card .card_body .cont .result.desc_ver > li .tit{color: var(--basic-darkgray);}
.dashboard_wrap .ds_sec .card .card_body .cont .result.desc_ver > li .desc{color: var(--basic-black); font-weight: 500;}
.dashboard_wrap .ds_sec .card .card_body .more { display: flex;align-items: center;   gap: 0.25rem;   line-height: 1;  font-weight: 500;  margin-top: 0.5rem;  color: var(--basic-darkgray); font: var(--14_label_normal_r);}
.dashboard_wrap .ds_sec .card .card_body .cont .desc .badge{display: inline-flex;  align-items: center;  margin-top: 0.5rem; font:var(--12_caption_r); border-radius: 0.313rem; font-weight: 500;}
.dashboard_wrap .ds_sec .card .card_body .graphic{display: flex; justify-content: flex-end;}
.dashboard_wrap .ds_sec .card .card_body .graphic.chart_graphic {}
.dashboard_wrap .ds_sec .card .card_body .graphic.icon_graphic .icon{width: 4.5rem;}
.dashboard_wrap .ds_sec .card .card_body .graphic.temperature_graphic {display: flex; flex-direction: column; align-items: center; text-align: center;  color: var(--brand-hover);}
.dashboard_wrap .ds_sec .card .card_body .graphic.temperature_graphic .now {font-size: 1.75rem; font:var(--28_title_m);}
.dashboard_wrap .ds_sec .card .card_body .graphic.temperature_graphic .today {font:var(--14_label_read_r);}
.dashboard_wrap .ds_sec .card .card_body .graphic [class^="ph"].icon {  background: var(--primary-primary200);  width: 3rem;   aspect-ratio: 1 / 1;  font-size: 1.8rem;  color: var(--brand-primary);  display: flex;   align-items: center;  justify-content: center; border-radius: 50%;}


.dashboard_wrap .ds_sec1{}