@charset "utf-8";

/* web font */
@import url(https://fastly.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

html,
body {
	height: 100%;
    font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', gulim, '굴림', dotum, '돋움', AppleGothic, sans-serif;
    font-size: 14px;
    color: #fff;
}
input{outline:none;}
/* vue js */
[v-cloak] { display: none; }

/* 공통 */
* {
    box-sizing: border-box;
}
.clear_float:after {
	content: "";
	clear: both;
	display: block;
}
.pos_relative {
	position: relative;
}

/* margin */
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt35 {
	margin-top: 35px;
}
.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top: 50px;
}
.mt70 {
	margin-top: 70px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.ml20 {
	margin-left: 20px;
}
.mb10 {
	margin-bottom: 10px;
}
/* button style */
.btn_dark_blue {
	min-width: 170px;
	height: 50px;
	background: #333C64;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}
.btn_dark_blue:hover {
	background: #192248;
}
.btn_dark_blue:disabled,.btn_big_blue:disabled {
	opacity: 0.4;cursor:default;
}
.btn_dark_blue:disabled:hover,.btn_dark_blue:disabled:hover {
	background: #333C64;
}

.btn_big_blue {
	width: 300px;
	height: 50px;
	background: #333C64;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}
.btn_big_blue:hover {
	background: #192248;
}

.btn_light_blue {
	width: 200px;
	height: 50px;
	background: #34BACC;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}

.btn_light_blue.small {
	width: 80px;
	height: 25px;
	font-size: 13px;
	font-weight:500
	
}

.btn_light_blue:hover {
	background: #15A2B5;
}

.btn_light_blue2 {
	width: 200px;
	height: 50px;
	background: #1d96a7;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}

.btn_light_blue2:hover {
	background: #187683;
}

.btn_big_blue2 {
	width: 200px;
	height: 50px;
	background: #333C64;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}
.btn_big_blue2:hover {
	background: #192248;
}

.btn_big_blue3 {
	width: 200px;
	height: 50px;
	background: #007B8B;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}
.btn_big_blue3:hover {
	background: #005A65;
}

.btn_big_blue4 {
	width: 300px;
	height: 50px;
	background: #007B8B;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}
.btn_big_blue4.off {
	opacity: 0.3; cursor:default;
}
.btn_big_blue4.off:hover {
	background: #007B8B;
}

.btn_big_blue4:hover {
	background: #005A65;
}

.btn_check {
	width: 360px;
	height: 50px;
	margin-top: 25px;
	background: #34BACC;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}
.btn_check:hover {
	background: #15A2B5;	
}

/* 좋아요 button */
.btn_good {
	position: relative;
	width: 170px;
	height: 50px;
	padding-left: 70px;
	background: #34BACC;
	border-radius: 40px;
	text-align: left;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}
.btn_good i {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	padding-top: 10px;
	background: #15A2B5;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	cursor:pointer;
}
/*
.btn_good:hover {
	background: #15A2B5;
}
.btn_good:hover i {
	background: #008395;
}
*/
.btn_good:disabled {
	background: #E2E2E2;
}
.btn_good:disabled i {
	background: #c9c9c9;
}

/* 인식 button */
.btn_function {
	position: relative;
	width: 200px;
	height: 50px;
	padding-left: 70px;
	background: #9553FF;
	border-radius: 40px;
	text-align: left;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;	
	cursor: pointer;
}
.btn_function .btn_inner_icon {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	padding-top: 14px;
	background: #7B2FF5;
	border-radius: 50%;
	text-align: center;
}

/* 인식 성공 button */
.btn_function2 {
	position: relative;
	width: 200px;
	height: 50px;
	padding-left: 70px;
	background: #00D95C;
	border-radius: 40px;
	text-align: left;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;	
	cursor: pointer;	
}
.btn_function2 .btn_inner_icon {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	padding-top: 14px;
	background: #00B74E;
	border-radius: 50%;
	text-align: center;
}

.btn_set {
	position: relative;
	width: 170px;
	height: 50px;
	padding-left: 70px;
	background: #73757E;
	border-radius: 40px;
	text-align: left;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;	
}
.btn_set>span {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;	
	padding: 5px 0 0 5px;
	background: #4E4F58;
	border-radius: 50%;	
}
.btn_set:hover {
	background: #4E4F58;
}
.btn_set:hover>span {
	background: #2F3038;
}

/* input */
.input_style {
	width: 360px;
	height: 50px;
	padding-left: 10px;
	border: 1px solid #E2E2E2;
	font-size: 16px;
}

/* select style */
.select_style {
	width: 360px;
	height: 50px;
	padding-left: 10px;
	background: url(/images/game/bg_select.png) right 18px no-repeat;
	border: 1px solid #E2E2E2;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select::-ms-expand {
    display: none;
}

/* checkbox */
.checklabel {
	display: inline-block; 
	position: relative; 
	padding-left: 28px; 
	cursor: pointer; 
	line-height: 16px; 
    -webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}
.checklabel input {
	position: absolute; 
	opacity: 0; 
	height: 0; 
	width: 0;
}
.checklabel .checkmark {
	position: absolute; 
	top: -2px; 
	left: 0; 
	height: 20px; 
	width: 20px; 
	background-color: #fff;
	border: 1px solid #D0D0D0;
}
.checklabel:hover input ~ .checkmark {
	background-color: #fff;
}
.checklabel input:checked ~ .checkmark {
	background-color: #fff;
}
.checklabel .checkmark:after {
	content: ""; 
	position: absolute; 
	display: none;
}
.checklabel input:checked ~ .checkmark:after {
	display: block;
}
.checklabel .checkmark:after {
	left: 5px; 
	top: 0; 
	width: 6px; 
	height: 12px; 
	border: solid #575757; 
	border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	transform: rotate(45deg);
}

.checklabel2 {
	display: inline-block; 
	position: relative;  
	width: 20px;
	height: 20px;
	cursor: pointer; 
	line-height: 16px; 
    -webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}
.checklabel2 input {
	position: absolute; 
	opacity: 0; 
	height: 0; 
	width: 0;
}
.checklabel2 .checkmark2 {
	position: absolute; 
	top: -2px; 
	left: 0; 
	height: 20px; 
	width: 20px; 
	background-color: #fff;
	border: 2px solid #707070;
	border-radius: 50%;
}
.checklabel2:hover input ~ .checkmark2 {
	background-color: #fff;
}
.checklabel2 input:checked ~ .checkmark2 {
	background-color: #007B8B;
	border: 2px solid #007B8B;
}
.checklabel2 .checkmark2:after {
	content: ""; 
	position: absolute; 
	display: none;
}
.checklabel2 input:checked ~ .checkmark2:after {
	display: block;
}
.checklabel2 .checkmark2:after {
	left: 5px; 
	top: 1px; 
	width: 5px; 
	height: 10px; 
	border: solid #fff; 
	border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	transform: rotate(45deg);
}

/* device_check_design */
.state_check {
	position: relative;
}
.state_check.check_true {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #007B8B;
	border: 2px solid #007B8B;
	border-radius: 50%;	
}
.state_check {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #73757E;
	border-radius: 50%;
}
.state_check.check_true:after {
	content: ""; 
	position: absolute; 
	left: 5px; 
	top: 1px; 
	width: 5px; 
	height: 10px; 
	border: solid #fff; 
	border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	transform: rotate(45deg);	
}

/* radio */
.checks {
	position: relative;
}
.checks input[type="radio"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}
.checks input[type="radio"] + label { 
	display: inline-block; 
	position: relative; 
	padding-left: 30px; 
	cursor: pointer; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
}
.checks input[type="radio"] + label:before { 
	content: ''; 
	position: absolute; 
	left: 8px; 
	top: -15px; 
	width: 20px; 
	height: 20px; 
	text-align: center; 
	background: #fafafa; 
	border: 2px solid #73757E; 
	border-radius: 100%; 
}
.checks input[type="radio"] + label:active:before, .checks input[type="radio"]:checked + label:active:before { 
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); */
}
.checks input[type="radio"]:checked + label:before { 
	background: #fff; 
	border-color: #46bcd0; 
}
.checks input[type="radio"]:checked + label:after { 
	content: ''; 
	position: absolute; 
	top: -9px; 
	left: 14px; 
	width: 12px; 
	height: 12px; 
	background: #46bcd0; 
	border-radius: 100%; 
}

/* interviewer select radio */
.check_interviewer {
	position: relative;	
}
.check_interviewer input[type="radio"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}
.check_interviewer input[type="radio"] + label { 
	display: inline-block; 
	position: relative; 
	width: 332px;
	height: 122px;
	cursor: pointer; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 

}
.check_interviewer input[type="radio"]#male + label {
	margin-right: 36px;
}
.check_interviewer input[type="radio"]#male + label:before { 
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 330px; 
	height: 120px; 
	text-align: center; 
	background: url(/images/game/btn_male.png) left top no-repeat; 
}
.check_interviewer input[type="radio"]#female + label:before { 
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 330px; 
	height: 120px; 
	text-align: center; 
	background: url(/images/game/btn_female.png) left top no-repeat; 
}
.check_interviewer input[type="radio"]#male:checked + label:before { 
	background: url(/images/game/btn_male_on.png) left top no-repeat;
}
.check_interviewer input[type="radio"]#female:checked + label:before { 
	background: url(/images/game/btn_female_on.png) left top no-repeat;
}

.check_interviewer span label{animation: shadow-pulse-gender 1s infinite;border:1px solid #d1d1d1; box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.05);}

.no_animation { 
	animation:none !important
}

/* reward select radio */
.check_reward {
	position: relative;	
}

.check_reward .round_info {
	position:absolute;top:-40px;left:395px;color:#fff;font-size:20px
}

.check_reward input[type="radio"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}
.check_reward input[type="radio"] + label { 
	display: inline-block; 
	position: relative; 
	width: 400px;
	height: 260px;
	cursor: pointer; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	box-shadow: none;
	border:5px solid transparent
}
.check_reward input[type="radio"]#chioceNow + label {
	margin-right: 50px;
}
.check_reward input[type="radio"]#chioceNow + label:before { 
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 0; 
	width:390px; 
	height: 250px; 
	text-align: center; 
	background: url(/images/game/bg_choiceA.png) left top no-repeat; 
}

.check_reward input[type="radio"]#chioceNow + label:hover { 
	width: 400px; 
	height: 260px; 
	border:5px solid red;
	transition: all 0.3s;
}
.check_reward input[type="radio"]#choiceAfter + label:before { 
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 390px; 
	height: 250px; 
	text-align: center; 
	background: url(/images/game/bg_choiceB.png) left top no-repeat; 
}
.check_reward input[type="radio"]#choiceAfter + label:hover { 
	width: 400px; 
	height: 260px; 
	border:5px solid #2db000;
	transition: all 0.3s;
}
.check_reward input[type="radio"]#chioceNow:checked + label:before { 
	box-shadow: 4px 4px 8px 10px rgba(0,0,0,0.1);
	position: absolute; 
	left: -5px; 
	top: -5px; 
	width:390px; 
	height: 250px; 
	border:5px solid red;
}
.check_reward input[type="radio"]#choiceAfter:checked + label:before { 
	box-shadow: 4px 4px 8px 10px rgba(0,0,0,0.1);
	position: absolute; 
	left: -5px; 
	top: -5px; 
	width:390px; 
	height: 250px; 
	border:5px solid #2db000;
}

/* layout */
#wrapIntro {
    width: 100%;
	height: 100%;
	padding-top: 300px;
	background: url('/images/game/img_BG.png') left top no-repeat;
	background-size: cover;	
}
.btn_start_inface {
	width: 440px;
	margin: 0 auto;
}
.btn_start_inface button {
	cursor: pointer;
}
#wrapInterview {
    width: 100%;
	background: url('/images/game/img_BG.png') left top no-repeat;
	background-size: cover;
}

/*
#wrapHd {
	position: relative;
	width: 100%;
	height: 100px;
	padding-top: 30px;
	background: url(/images/game/bg_gnb_step1.png) no-repeat center bottom;
}
#wrapHd.step2 {
	background: url(/images/game/bg_gnb_step2.png) no-repeat center bottom;
}
#wrapHd.step3 {
	background: url(/images/game/bg_gnb_step3.png) no-repeat center bottom;
}
#wrapHd.step4 {
	background: url(/images/game/bg_gnb_step4.png) no-repeat center bottom;
}
#wrapHd.step5 {
	background: url(/images/game/bg_gnb_step5.png) no-repeat center bottom;
}
#wrapHd.step6 {
	background: url(/images/game/bg_gnb_step6.png) no-repeat center bottom;
}
#wrapHd.step7 {
	background: url(/images/game/bg_gnb_step7.png) no-repeat center bottom;
}
.header {
	width: 1120px;
	margin: 0 auto;
}
.header {
	min-width: 1120px;
}
.header ul li {
	float: left;
	width: 160px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}
.header ul li p {
	width: 160px;
	height: 28px;
	font-size: 11px;
	opacity: 0.5;
}
.header ul li:first-child p {
	opacity: 1;
}

*/


#wrapHd {
    position: relative;
    width: 100%;
    height: 90px;
    padding-top: 31px;
    border-bottom: 2px solid rgb(255, 255, 255, 0.3);
}

.header {
    width: 1120px;
    margin: 0 auto;
}

.header {
    min-width: 1120px;
}

.header ul {
    text-align: center
}

.header ul li {
    display: inline-block;
    width: 150.2px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.header ul li.opa:not(.first) dt{opacity: 0.40}

.header ul.cnt2 li {
    width: 534px
}

.header ul.cnt3 li {
    width: 355px;
}

.header ul.cnt4 li {
    width: 265.3px
}

.header ul.cnt5 li {
    width: 211.5px;
}

.header ul.cnt6 li {
    width: 176px;
}

.header ul li dt {
    font-weight: 500
}

.header ul li dd {
    margin-top: 31px;
}

.header ul li dd span {
    position: absolute;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
    opacity: 0.3;
    display: inline-block;
    top: 48.5px;
    left: 50%;
    right: 50%;
    margin-left: -4px;
    width: 10px;
    z-index: 1
}

.header ul li.on dd {
    opacity: 1;
    background-color: #fff !important;
    height: 2px;
}

.header ul li.on dd span {
    opacity: 1;
}

.header ul li dd::after {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255, 0.3);
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 46px;
    left: 50%;
    right: 50%;
    margin-left: -11px;
    background-color: #1688b4
}

.header ul.cnt7 li:nth-child(1) dd,
.header ul.cnt7 li:nth-child(1) dd::after {
    background-color: #1686b4;
}

.header ul.cnt7 li:nth-child(2) dd,
.header ul.cnt7 li:nth-child(2) dd::after {
    background-color: #1588b2;
}

.header ul.cnt7 li:nth-child(3) dd,
.header ul.cnt7 li:nth-child(3) dd::after {
    background-color: #158fb3;
}

.header ul.cnt7 li:nth-child(4) dd,
.header ul.cnt7 li:nth-child(4) dd::after {
    background-color: #1492b2;
}

.header ul.cnt7 li:nth-child(5) dd,
.header ul.cnt7 li:nth-child(5) dd::after {
    background-color: #159fb8;
}

.header ul.cnt7 li:nth-child(6) dd,
.header ul.cnt7 li:nth-child(6) dd::after {
    background-color: #13a3b8;
}

.header ul.cnt7 li:nth-child(7) dd,
.header ul.cnt7 li:nth-child(7) dd::after {
    background-color: #11a6b8;
}


.header ul.cnt6 li:nth-child(1) dd,
.header ul.cnt6 li:nth-child(1) dd::after {
    background-color: #1685b6;
}

.header ul.cnt6 li:nth-child(2) dd,
.header ul.cnt6 li:nth-child(2) dd::after {
    background-color: #158ab2;
}

.header ul.cnt6 li:nth-child(3) dd,
.header ul.cnt6 li:nth-child(3) dd::after {
    background-color: #158db0;
}

.header ul.cnt6 li:nth-child(4) dd,
.header ul.cnt6 li:nth-child(4) dd::after {
    background-color: #1394b1;
}

.header ul.cnt6 li:nth-child(5) dd,
.header ul.cnt6 li:nth-child(5) dd::after {
    background-color: #15a0b8;
}

.header ul.cnt6 li:nth-child(6) dd,
.header ul.cnt6 li:nth-child(6) dd::after {
    background-color: #13a2b8;
}

.header ul.cnt5 li:nth-child(1) dd,
.header ul.cnt5 li:nth-child(1) dd::after {
    background-color: #1688b4;
}

.header ul.cnt5 li:nth-child(2) dd,
.header ul.cnt5 li:nth-child(2) dd::after {
    background-color: #158db3;
}

.header ul.cnt5 li:nth-child(3) dd,
.header ul.cnt5 li:nth-child(3) dd::after {
    background-color: #1494b2;
}

.header ul.cnt5 li:nth-child(4) dd,
.header ul.cnt5 li:nth-child(4) dd::after {
    background-color: #15a0b8;
}

.header ul.cnt5 li:nth-child(5) dd,
.header ul.cnt5 li:nth-child(5) dd::after {
    background-color: #13a4b8;
}

.header ul.cnt4 li:nth-child(1) dd,
.header ul.cnt4 li:nth-child(1) dd::after {
    background-color: #1688b3;
}

.header ul.cnt4 li:nth-child(2) dd,
.header ul.cnt4 li:nth-child(2) dd::after {
    background-color:#148fb2;
}

.header ul.cnt4 li:nth-child(3) dd,
.header ul.cnt4 li:nth-child(3) dd::after {
    background-color: #1395b1;
}

.header ul.cnt4 li:nth-child(4) dd,
.header ul.cnt4 li:nth-child(4) dd::after {
    background-color: #13a3b8;
}

.header ul.cnt3 li:nth-child(1) dd,
.header ul.cnt3 li:nth-child(1) dd::after {
    background-color: #168ab3;
}

.header ul.cnt3 li:nth-child(2) dd,
.header ul.cnt3 li:nth-child(2) dd::after {
    background-color: #1492b2;
}

.header ul.cnt3 li:nth-child(3) dd,
.header ul.cnt3 li:nth-child(3) dd::after {
    background-color: #13a2b8;
}

.header ul.cnt2 li:nth-child(1) dd,
.header ul.cnt2 li:nth-child(1) dd::after {
    background-color: #158db2;
}

.header ul.cnt2 li:nth-child(2) dd,
.header ul.cnt2 li:nth-child(2) dd::after {
    background-color: #159fb8;
}

.header ul li.on dd::after {
    border: 2px solid #fff;
}

.header ul li p {
    width: 160px;
    height: 28px;
    font-size: 11px;
    opacity: 0.5;
}

.header ul li:first-child p {
    opacity: 1;
}


.btn_setting {
	position: absolute;
	top: 25px;
	right: 20px;
	cursor: pointer;
}
.footer {
	width: 100%;
	height: 80px;
	padding-top: 30px;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}
.footer span {
	margin-left: 30px;color:#fff;
}

.footer a{
	color:#fff;
}


.phone {
	padding-left: 25px;
	background: url(/images/game/icon_exclamation2.png) left 3px no-repeat;
}
.cs_center {
	padding-left: 25px;
	background: url(/images/game/icon_headset.png) left 3px no-repeat;
}

/* animate */
.animated.ani_delay04 {
	animation-delay: 400ms;
}
.animated.ani_delay08 {
	animation-delay: 800ms;
}
.animated.ani_delay12 {
	animation-delay: 1200ms;
}
.animated.ani_duration800 {
	animation-duration: 800ms;
}
.animated.ani_duration600 {
	animation-duration: 600ms;
}
.animated.ani_duration400 {
	animation-duration: 400ms;
}
.animated.ani_duration300 {
	animation-duration: 300ms;
}

.btn_admin_pass {
	margin-left:10px;
	width: 220px;
	height: 50px;
	background: #ff6600;
	font-family: 'NanumSquare';
	font-size: 18px;
	color: #fff;
	cursor:pointer;
}
.btn_admin_pass:hover {
	background: #ff3300;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

























