@charset "utf-8";

.contents {
	width: 1120px;
	height: calc(100vh - 170px);
	min-height: 900px;
	margin: 0 auto;
	padding-top: 70px;
	text-align: center;
}
.contents.pt50 {
	padding-top: 50px;
}

/* desc_style */
.desc_style1 {
	text-align: center;
	font-family: 'NanumSquare';
	font-size: 30px;
	line-height: 1.5;
}
.desc_style2 {
	display: inline-block;
	margin-top: 30px;
	padding: 14px 55px;
	background-color: rgba(0, 4, 25, 0.25);
	border-radius: 35px;
	font-family: 'NanumSquare';
	font-size: 18px;
	font-weight: 600;
}
.desc_style3 {
	font-family: 'NanumSquare';
	font-size: 40px;
	font-weight: 600;
} 

.desc_style3.question-lh{line-height:42px;word-break: keep-all;font-size:30px;border-radius:20px;padding:10px 25px;background: rgba(0,0,0,0.1)}

.desc_style3 span.q{color:#ffffd2;font-size:25px;font-weight:700;vertical-align:top}

.desc_style4 {
	margin-top: 50px;
	font-family: 'NanumSquare';
	font-size: 22px;
	line-height: 1.5;
}
.desc_style5 {
	font-family: 'NanumSquare';
	font-size: 18px;
}
.desc_style5 span {
	color: #61E5F7;
}
.desc_style6 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 30px 0;
	background: rgba(0,4,25,0.3);
	font-size: 16px;
}
.desc_style7 {
	font-family: 'NanumSquare';
	font-size: 26px;
}
.desc_style8 {
	width: 100%;
	padding: 10px 0 10px 30px;
	background: #6599cd;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.desc_style8 span {
	display: inline-block;
	padding: 5px 0 5px 32px;
	background: url(/images/game/icon_exclamation.png) left 6px no-repeat;
}
.desc_style9 {
	font-family: 'NanumSquare';
	font-size: 18px;
	font-weight: 600;
}
.desc_style10 {
	font-family: 'NanumSquare';
	font-size: 26px;
	font-weight: 700;
}
.desc_style11 {
	font-family: 'NanumSquare';
	font-size: 50px;
	font-weight: 600;
}

/* 사용자 등록 */
.check_device_list li {
	display: inline-block;
	width: 266px;
	height: 266px;
	margin: 0 5px;
	padding-top: 30px;
	background: #fff;
	border-radius: 50%;
}
.check_device_list {
	margin-top: 80px;
}
.pop_keyboard,.pop_mouse,.pop_webcam,.pop_mike {
	cursor: pointer;
}
.nm_device {
	font-family: 'NanumSquare';
	font-size: 18px;
	font-weight: 600;
	color: #007B8B;
}
.txt_device {
	color: #73757E;
	letter-spacing: -1px;
	font-family: 맑은 고딕;
	font-size:12.5px
}
.check_device {
	margin-top: 15px;
	cursor: pointer;
}
.txt_reference {
	display: inline-block;
	margin-top: 50px;
	padding-left: 30px;
	font-size: 16px;
	background: url(/images/game/icon_exclamation.png) left top no-repeat;
	 font-weight: 500;
}

.txt_reference.mt120 {
	margin-top: 120px;
}

/* 정보활용동의 */
.box_agree {
	width: 1110px;
	margin: 50px auto 0 auto;
	display:none
}
.box_agree>div {
	float: left;
}
.box_agree>div:first-child {
	width: 290px;
	height: 440px;
	padding-top: 50px;
	background-color: rgba(0,4,25, 0.65);
	font-family: 'NanumSquare';
	font-size: 36px;
}
.box_agree>div:last-child {
	width: 820px;
	height: 440px;
	padding: 50px 0 0 60px;
	background-color: rgba(0,4,25, 0.45);
	text-align: left;
	font-family: 'NanumSquare';
	font-size: 18px;
	line-height: 1.5;
}
.box_agree>div:last-child p {
	position: relative;
	margin-bottom: 20px;
}
.box_agree>div:last-child p:before {
	display: inline-block;
	position: absolute;
	top: 11px;
	left: -15px;
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #fff;
}
.check_agree {
	margin-top: 60px;
	font-family: 'NanumSquare';
	font-size: 22px;
}

/*해결가이드*/
.box_agree2 {
	width: 1110px;
	margin: 50px auto 0 auto;
	position:absolute;0px;left:0px
}
.box_agree2>div {
	float: left;
}
.box_agree2>div:first-child {
	width: 290px;
	height: 540px;
	padding-top: 50px;
	background-color: rgba(0,4,25, 0.65);
	font-family: 'NanumSquare';
	font-size: 36px;
	line-height:60px;
}
.box_agree2>div:last-child,.box_agree2>div.desc {
	width: 820px;
	height: 540px;
	padding: 50px 0 0 60px;
	background-color: rgba(0,4,25, 0.45);
	text-align: left;
	font-family: 'NanumSquare';
	font-size: 18px;
	line-height: 1.5;
}
.box_agree2>div:last-child p,.box_agree2>div.desc p {
	position: relative;
	margin-bottom: 20px;
}

.box_agree2>div.desc p span {
	font-weight:200;font-size:15px;line-height: 1 !important;
	font-family:'Noto Sans KR';
}

.box_agree2>div:last-child p:before ,.box_agree2>div.desc p:before {
	display: inline-block;
	position: absolute;
	top: 11px;
	left: -15px;
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #fff;
}

.box_agree2 .ok_btn {
	display:inline;width:100%;text-align:center;margin-left:180px
}

#agree_btn_area{display:none}

/* 유의사항 */
.box_caution {
	margin-top: 45px;
}
.box_caution>div {
	position: relative;
	float: left;
	width: 50%;
	height: 440px;
	padding-top: 55px;	
	background: rgba(0,4,25,0.4);
}
.box_caution>div:first-child {
	border-right: 1px solid #17BCC6;
}
.img_caution {
	margin-top: 55px;
}


/* 기본정보 */
.box_input {
	width: 500px;
	/*height: 550px;*/
	margin: 0 auto;
	margin-top: 40px;	
	box-shadow:1px 1px 12px 3px rgb(0,0,0,0.3)}
.tit_page {
	height: 240px;
	padding-top: 105px;
	background: url(/images/game/bg_title.png) left top no-repeat;
	font-family: 'NanumSquare';
	font-size: 40px;
	font-weight: 600;
}
.input_area {
	padding-top: 40px;
	padding-bottom: 70px;	
	background: #fff;
}

.input_area .exam_num {
color:#626262;font-size:20px;font-weight:400;text-align:center;display:block
}

/* modal */
.wrap_modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    padding-top: 130px;
    background-color:rgba(0,0,0,0.5);
    z-index: 200;        
}
.cont_modal {
    position: relative;
    width: 550px;
    height: 580px;    
	margin: 0 auto;
    background-color: #fff;   
    overflow: hidden;
    outline:0;
	box-shadow:1px 1px 6px 1px #363636;
}
.hd_modal {
	position: relative;
	height: 60px;
    padding: 18px 0 0 25px;
    background: #34BACC;
	font-family: 'NanumSquare';
	font-size: 26px;
	font-weight: 600;
    color: #fff;
}
.btn_close {
	position: absolute;
	top: 18px;
	right: 20px;
	cursor: pointer;
}
.body_modal {
	padding: 35px 15px 40px 15px;
	text-align: center;
	font-size: 16px;
	color: #000419;
}
.box_device {
	height: 290px;
	margin-top: 35px;
	padding-top: 20px;	
	background: #F7F7F7;
}
.keyboard {
	position: relative;
	width: 270px;
	height: 166px;
	margin: 0 auto;
}
.keyboard>span {
	position: absolute;
}
.keyboard>span.keyboard_up {
	top: 0;
	left: 93px;
}
.keyboard>span.keyboard_left {
	bottom: 0;
	left: 0;
}
.keyboard>span.keyboard_right {
	bottom: 0;
	right: 0;
}
.keyboard>span.keyboard_down {
	bottom: 0;
	left: 93px;
}

.mouse {
	position: relative;
	padding-top: 20px;
}
.mouse span img {
	cursor:pointer;
}.mouse_click {
	position: absolute;
	top: 11px;
	left: 193px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.mouse_click {
		left: 194px;
	} 
}

#popDeviceError {
	display: none;	
}
.wrap_modal.wrap_modal2 {
	padding-top: 300px;
}
.cont_modal.cont_modal2 {
    position: relative;
    width: 500px;   
	height: 180px;
	margin: 0 auto;
    background-color: #fff;   
    overflow: hidden;
    outline:0;
	text-align: left;
}
.cont_modal.cont_modal2 .body_modal {
	padding-left: 30px;
	text-align: left;
}
.cont_modal.cont_modal2 .body_modal>div {
	padding-left: 55px;
	background: url(/images/game/icon_error.png) left 4px no-repeat;
}

/* modal 장치가이드 */
.wrap_modal_guide {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    padding-top: 80px;
    background-color:rgba(0,0,0,0.5);
    z-index: 200;        
}
.cont_modal.cont_guide {
	width: 880px;	
	height: 800px;
}
.cont_modal.cont_guide .body_modal {
	padding: 30px 30px 20px 30px;
}
.tab_menu>li {
	float: left;
	width: 25%;
	padding: 15px 0;
	background: #333C64;
	font-family: 'NanumSquare';
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
.tab_menu>li.selected {
	background: #34BACC;
}
.tab_contents {
	padding-top: 20px;
	text-align: left;
}
.tab_con2,.tab_con3,.tab_con4 {
	display: none;
}
.tit_guide {
	font-family: 'NanumSquare';
	font-size: 20px;
	font-weight: 500;
}
.img_guide {
	text-align: center;
}
.txt_guide p {
	margin-bottom: 10px;
	font-family: 'NanumSquare';
	font-size: 17px;
}
.txt_guide p>span {
	font-weight: 600;
}

/* 얼굴 인식 */
.webcam {
	width: 240px;
	height: 180px;
	margin: 0 auto;
	border: 1px solid #73757E;
}
.webcam #popVideo {
	position: relative;
	top: -1px;
	left: -3px;
}
.box_video {
	width: 566px;
	height: 488px;
	margin: 30px auto 0 auto;
	background: rgba(0,0,0,0.1);
}
.box_video .pos_relative {
	height: 420px;
}
.webcam2 {
	position: relative;
	width: 550px;
	height: 420px;
	padding-top: 8px;
	margin: 0 auto;
}
.img_scale {
	position: absolute;
	top: 50px;
	left: 80px;
}
.btn_recog {
	position: absolute;
	left: 185px;
	bottom: 30px;
}
.btn_recog2 {
	display: block;
}
.btn_recog2 {
	display: none;
}
.desc_sucess {
	display: none;
}
.div_disabled {
	position: relative;
	left: 0;
	opacity: 0.6;
}

.box_mike {
	position: relative;	
	width: 510px;
	height: 244px;
	margin: 50px auto 0 auto;
	background: #F7F7F7;
}
.mike {
	position: relative;
	top: -25px;
	width: 472px;
	height: 100px;
	margin: 0 auto;
	background: #141414;	
}
.img_mike {
	display: inline-block;
	position: relative;
	top: -35px;
	width: 70px;
	height: 70px;
	padding-top: 4px;
	background: #00D95C;
	border: 6px solid #fff;
	border-radius: 50%;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

#answer_stt{display:none;position:absolute;top:105px;width:472px;left:20px;color:#fff;font-size:20px;z-index:3}
#answer_stt2{text-align:center;color:#ffff00;font-size:16px;width:300px;margin-left:130px;background-color:rgba(0,0,0,0.5);border-radius:60px;font-weight:200;padding:5px}
.box_mike #waveform1 wave {
	height: 100px !important;
}

.box_video.box_audio {
	margin-top: 0;
}
.section_wave {
	width: 549.5px;
	height: 60px;
	margin-left: 8px;
	background: #000419;
	position:relative;
}

.section_wave .microphone{width:32px;height:32px;position:absolute;background: url(/images/game/microphone_off.png) left top no-repeat;left:12px;top:15px;z-index:10}
.section_wave .microphone.on{background: url(/images/game/microphone_on.png) left top no-repeat !important;
animation: shadow-pulse-gender 1s infinite;border-radius: 50px;
}
.section_wave #waveform {
	width: 100%;
}
.section_wave #waveform wave {
	overflow: hidden !important;
	height: 60px !important;
}


/* 음성 인식 */
.box_style {
	width: 1020px;
	margin: 30px auto 0 auto;
}
.box_style.box_style2 {
	width: 1020px;
	margin: 60px auto 0 auto;
}
.box_style>div:first-child {
	float: left;
	width: 566px;
}
.box_style>div:last-child {
	float: right;
	width: 432px;
}
.box_comment {
	height: 300px;
	padding: 115px 0 0 125px;
	background: url(/images/game/bg_comment.png) left top no-repeat;
	line-height: 1.5;
}
.btn_area_right {
	text-align: right;
}
.timer {
	width: 432px;
	height: 300px;
	padding-left: 104px;
	background: url(/images/game/bg_comment.png) left top no-repeat;
}
.wrap_timer {
	position: relative;
	top: -28px;
	width: 356px;
	height: 356px;
	background: url(/images/game/bg_timer.png) 0.5px 0.5px no-repeat;
	color: #000419;
}
.wrap_timer .textDiv_Seconds {
	position: absolute;
    text-align: center;
	padding-top: 25px;
}
.wrap_timer .time_circles>div>h4 {
	font-family: 'NanumSquare';
	font-size: 20px;
	color: #B4B5BC;
}
.wrap_timer .time_circles>div>span {
	font-family: 'NanumSquare';
	font-size: 84px;
	font-weight: 600;
}
.txt_timer,.txt_timer2 {
	display: inline-block;
	position: absolute;
	top: 90px;
	left: 129px;
	margin: 0 auto;
	padding: 3px 15px 4px 15px;
	background: #333C64;
	border-radius: 20px;
	text-align: center;
	color: #fff;
}
#sucessVoiceTxt {
	display: none;
}
.box_video.box_start {
	height: 428px;
}

/* next step */
.box_timer_next_step {
	width: 300px;
	margin: 60px auto 0 auto;
}
.bg_next_timer {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: rgba(0,0,0, 0.2);
}
.box_timer_next_step .wrap_timer {
	left: -27px;
}

/* 기본면접 */
.box_interview {
	width: 1110px;
	height: 740px;
	margin: 0 auto;
	padding-top: 160px;
	background-image: url(/images/game/bg_interview_box.png);
	background-position: center 40px;
	background-repeat: no-repeat;
	background-color: #F5F5F5;	
	box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.1), -2px -2px 8px 2px rgba(0,0,0,0.05);
	color: #000419;
}
.box_inner {
	width: 700px;
	margin: 20px auto 0 auto;
	background: #fff;
	border: 1px solid #D8D8D8;
}
.box_inner>ul {
	padding: 25px 25px 15px 25px;
	text-align: left;
	font-size: 16px;
}
.box_inner>ul li {
	margin-bottom: 15px;
}
.box_inner>ul li:before {
	content: "";
	display: inline-block;
	position: relative;
	top: -4px;
	width: 4px;
	height: 4px;
	margin-right: 10px;
	background: #000419;
	border-radius: 50%;
}
.btn_select button {
	padding: 0;
	font-size: 0;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.05);
}
.btn_male {
	margin-right: 35px;
}
.inface_timer_answer {
	display: none;
}
.el_start_answer {
	display: none;
}

/* 성향 분석 */
.box_interview.tendency {
	background-image: url(/images/game/bg_tendency_box.png);
	background-position: center 40px;
	background-repeat: no-repeat;
	background-color: #F5F5F5;	
}
.box_interview.tendency .box_inner {
	width: 720px;
	margin: 40px auto 0 auto;
}
.box_question {
	width: 1110px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.1), -2px -2px 8px 2px rgba(0,0,0,0.05);
}
.hd_question {
	height: 70px;
	padding-top: 12px;
	background: #333C64;
}
.hd_question>div:first-child {
	float: left;
	width: 616px;
	height: 48px;
	padding-left: 20px;
	line-height: 48px;
	line-height: 48px;
	text-align: left;
	font-family: 'NanumSquare';
	font-size: 20px;
	font-weight: 600;
}
.txt1 {
	position: relative;
	top: -17px;
	margin-right: 10px;
}
.txt2 {
	position: relative;
	top: -12px;
	font-family: 'NanumSquare';
	font-size: 36px;
	color: #61E5F7;
}
.hd_question>div:last-child {
	float: right;
	width: 470px;
}
.border:after {
	content: "";
	display: inline-block;
	position: relative;
	top: 12px;
	width: 1px;
	height: 48px;
	margin: 0 20px;
	background: #fff;
	opacity: 0.1;
}
.answer {
	padding-right: 20px;
}
.answer li {
	float: left;
	width: 20%;
	height: 48px;
	padding-top: 2px;
	border-left: 1px solid rgba(255,255,255,0.1);
	font-size: 14px;
}

.list_question {
	font-size: 16px;
	color: #000419;
}
.list_question ul {
	height: 606px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.list_question ul li {
	padding: 2px 0;
	border-bottom: 1px solid #F7F7F7;
}
.list_question ul li div span.questions{
	vertical-align:middle;
	display:table-cell;
	 font-family: '맑은 고딕';
}

.list_question ul>li:last-child {
	border-bottom: none;
}
.list_question ul li>div:first-child {
	float: left;
	width: 620px;
	text-align: left;
	letter-spacing:-0.5px;
	display: table;
	height:54px;
}
.list_question ul li>div:last-child {
	float: left;
	width: 450px;
	text-align: left;
	display: table;
	height:46px;
}
.checks{
vertical-align:middle;
	display: table-cell;
}
.checks span {
	display: inline-block;
	width: 19%;
	text-align: center;
}
.paging {
	margin: 0 20px;
	padding: 15px 0;
	border-top: 1px solid #CECFD2;
	font-family: 'NanumSquare';
	font-size: 22px;
}
.paging .on_page {
	font-weight: 600;
	color: #41bace;
}

#timerQuestion .jst-seconds {
	position: absolute;
	top: -4px;
	left: 5px;
}
#timerQuestion .jst-hours,
#timerQuestion .jst-minutes {
	display: none;
}

/* 상황대처 */
.box_interview.situation {
	background-image: url(/images/game/bg_situation_box.png);
	background-position: center 40px;
	background-repeat: no-repeat;
	background-color: #F5F5F5;	
}

/* 보상 선호 */
.box_interview.reward {
	background-image: url(/images/game/bg_reward_box.png);
	background-position: center 40px;
	background-repeat: no-repeat;
	background-color: #F5F5F5;
}
.box_reward {
	width: 1110px;
	margin: 40px auto 0 auto; 
}
.hd_reward {
	padding: 40px 0;
	background-color: rgba(0,4,25,0.35);
}
.bd_reward {
	padding: 50px 125px;
	background-color: rgba(0,4,25,0.2);
}
.label_reward {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	text-align: center;
}
.label_reward span {
	display: block;
}
.tit_reward {
	padding-top: 35px;
}
.num_reward {
	margin-top: 80px;
	font-family: 'NanumSquare';
	font-size: 20px;
	color: #B4B5BC;
}
.num_reward em {
	font-family: 'NanumSquare';
	font-size: 70px;
	font-weight: 600;
	color: #000419;
}
.timer_reward {
	width: 890px;
	height: 36px;
	margin: 0 auto;
	background: url(/images/game/bg_reward_timer.png) no-repeat left top;
	text-align: center;
}
.txt_end {
    display: none;
    width: 890px;
	height: 36px;
	margin: 0 auto;
    padding-left: 30px;
	background: url(/images/game/bg_txt_end.png) no-repeat left top;
	text-align: center;
    font-family: 'NanumSquare';
    font-size: 36px;
}
.timer_reward .jst-hours {
	display: none;
} 
.timer_reward .jst-minutes,
.timer_reward .jst-seconds {
	display: inline-block;
	color: #fff;
	font-family: 'NanumSquare';
	font-size: 36px;
}
.timer_reward .jst-minutes {
	padding-left: 50px;
}
.btn_reward_end {
    display: none;
    width: 170px;
    margin: 0 auto;
}

/* 심층면접 */
.box_interview.depth {
	background-image: url(/images/game/bg_depth_box.png);
	background-position: center 40px;
	background-repeat: no-repeat;
	background-color: #F5F5F5;
}

/* 보상 선호 */
.box_interview.alert {
	background-image: url(/images/game/bg_alert_box_blue.png);
	background-position: center 40px;
	background-repeat: no-repeat;
	background-color: #F5F5F5;
}
.box_interview.alert p.desc_style7{
	color:#0078ff;font-weight:500
}

.box_interview.alert p.desc_style9{
	line-height: 38px;
    margin: 30px 0px 30px 0px;
    display: block;font-weight: 500;
	font-size: 20px;
}

.box_interview.alert p.desc_style9 strong{
	color:#ff6600
}

.btn_myinface_complete {
	cursor: pointer;
	outline:none;
	background:url(/images/game/btn_myinface_complete.png) left top no-repeat;
	color:#ffffff;
	display:inline-block;
	width:300px;
	height:100px;
	 transition: all 0.4s;
	 font-size:22px;font-weight:500;
	     font-family: 'NanumSquare';padding-left:100px
}

.btn_myinface_complete:hover{box-shadow:1px 3px 8px 1px #707070; transition: all 0.4s}

.check_menu_list.int{
	    width: 900px;
    margin: 0 auto;
	margin-top:70px;
}
.check_menu_list.int  li{
	
	width: 440px;
	
}

.check_menu_list li {
	float: left;
	width: 270px;
	height: 230px;
	margin: 0 5px;
	padding-top: 30px;
	background: #fff;
	border-radius: 3px;
	box-shadow:0px 1px 4px 1px #535353;
	transition: all 0.3s;
	cursor:pointer;
}

.check_menu_list li.off {
	background-color: #dadada;
	cursor:default;
	color:#c0c0c0 !important;
}

.check_menu_list li:hover {
	background-color: rgba(0, 4, 25, 0.65);
	box-shadow:1px 1px 6px 1px #363636;
	transition: all 0.3s;
}

.check_menu_list li.off:hover {
	background-color: #dadada;
	color:#c0c0c0;
}

.check_menu_list .nm_menu {
	font-family: 'NanumSquare';
	font-size: 26px;
	font-weight: 600;
	color: #007B8B;
}
.check_menu_list li.off .nm_menu {
	background-color: #dadada;
	color:#c0c0c0;
}

.check_menu_list li:hover .nm_menu {
	color:#ffffff
}
.check_menu_list li.off:hover .nm_menu {
	color:#c0c0c0;
}

.check_menu_list {
	margin-top: 80px;
}
.check_menu_list li{
	position:relative;
}
.check_menu_list .use_done{
	position:absolute;left:75px;top:90px;z-index:999;font-size:20px;color:#ffffff;border:2px solid #ff6600;background-color:#ff3300;border-radius:50px;padding:10px 20px
}

.check_menu_list .enabled_use_cnt{
	position:absolute;left:0px;bottom:10px;color:#34bacc;width:270px;text-align:center;font-weight:600;font-size:15px
}


.step_pass_admin{
	position:absolute;right:80px;top:30px;border-radius:20px;padding:3px 15px 6px;color:#fff;cursor:pointer;z-index:9999;background: rgba(0,0,0,0.1);box-shadow:1px 1px 6px 1px #363636;font-size:12px;font-weight:300;font-family:맑은 고딕
}


#end_alert{position: absolute;top: 10px; left: 180px;font-weight:200;color:#ffff66}



.alert_font{color:#ff0000;position:absolute;font-weight:600;left:77px;top:160px;font-size:20px;}
.alert_font.ver2{color:#6c7f98}


.face_ready_line{border:2px solid #ff9900;position:absolute;top:120px;left:176px;width:200px;height:200px;}

.dis_block{display:block !important}
.dis_none{display:none !important}
















