@charset "utf-8";

/* 회원로그인 */
.wrap_member .header {
  background-color: transparent;
}
.wrap_member .educe_logo {
  background-image: url(https://image.educe.co.kr/educe/main/logo_light.svg);
}
.wrap_member .header.sitemap_open .educe_logo {
  background-image: url(https://image.educe.co.kr/educe/main/logo.png);
}
.wrap_member .gnb {
  display: none;
}
.wrap_member {
  display: flex;
  width: 100%;
  min-height: 100vh
}
.wrap_member:before {
  flex: 1;
  content: '';
  width: calc(100% - 520px);
  min-height: 100vh;
  background: url(https://image.educe.co.kr/educe/pages/bg_join.jpg) no-repeat 50%/cover;
}

.wrap_member-login .header {
  background-color: transparent;
}
.wrap_member-login .educe_logo {
  background-image: url(https://image.educe.co.kr/educe/main/logo_light.svg);
}
.wrap_member-login .header.sitemap_open .educe_logo {
  background-image: url(https://image.educe.co.kr/educe/main/logo.png);
}
.wrap_member-login .gnb {
  display: none;
}
.wrap_member-login {
  display: flex;
  width: 100%;
  min-height: 100vh
}

.cont_member {
  flex-shrink: 0;
  width: 520px;
  min-height: 100vh;
  padding: 200px 60px 60px;
  background-color: var(--white);
  text-align: center;
}


.cont_member h2 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1.4px;
}
.form_area {
  margin-top: 40px;
}
.form_txt_row {
  margin-top: 40px;
  text-align: left;
}
.form_txt_row p {
  position: relative;
  margin-top: 16px;
}
.form_txt_row p:first-child {
  margin-top: 0;
}
.form_txt_row p:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.form_txt_row p.form_txt_idpw:before {
  background: url(https://image.educe.co.kr/educe/main/ico_lock.png) no-repeat left top/cover;
}
.form_txt_row p.form_txt_join:before {
  background: url(https://image.educe.co.kr/educe/main/ico_member.png) no-repeat left top/cover;
}
.form_txt_row a {
  display: inline-block;
  padding: 7px 0 7px 34px;
  color: var(--black-60);
  font-size: 1.3rem;
  letter-spacing: -0.65px;
}
.form_txt_row a:hover {
  text-decoration: underline;
}

/* 통합회원가입 */
.form_txt_box {
  padding: 20px;
  border: 1px solid var(--black-10);
  color: var(--black-60);
  text-align: left;
}
.join_info {
  margin-top: 10px;
}
.form_check_row {
  margin-top: 10px;
  text-align: left;
}
.join_sns {
  margin-top: 40px;
}
.join_sns p {
  color: var(--black-40);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 150%; 
}
.join_sns_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.join_sns_list li {
  margin: 0 5px;
}
.join_sns_list img {
  width: 56px;
  cursor: pointer;
}
.form_check_all {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--black-10);
}
.join_agree_step2 .form_check_row {
  margin-top: 20px;
}
.view_txt {
  position: relative;
  top: 7px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* 통합회원가입 정보입력 */
.form_input_df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_input_df>div:nth-child(1) {
  width: 310px;
}
.form_input_df>div:nth-child(2) {
  width: 80px;
}
.form_txt_row02 {
  margin-top: 20px;
  color: var(--black-40);
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
}
.form_txt_row02>p {
  position: relative;
  margin-top: 11px;
  padding-left: 20px;
}
.form_txt_row02>p:first-child {
  margin-top: 0;
}
.form_txt_row02>p:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: url(https://image.educe.co.kr/educe/main/ico_note.png) no-repeat left top/cover;
}
.form_input_email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: var(--black-30);
}
.form_input_email .form_input {
  padding-right: 10px;
}
.form_input_email>div:nth-child(1),
.form_input_email>div:nth-child(3),
.form_input_email>div:nth-child(4) {
  width: 119px;
}
.form_input_email>div:nth-child(2) {
  width: 14px;
  font-size: 1.4rem;
}
.form_input_email .form_input_row {
  margin-top: 0;
}
.form_btn_df {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.form_btn_df button {
  width: 195px;
  border-radius: 4px;
  overflow: hidden;
}
.input_auth_row {
  position: relative;
} 
.auth_time {
  position: absolute;
  top: 15px;
  right: 10px;
  color: var(--notice-alert);
  font-size: 1.3rem;
}
.join_com_txt {
  padding-top: 98px;
  background: url(https://image.educe.co.kr/educe/main/ico_idcard.png) no-repeat center 20px/48px;
  text-align: center;
}
.join_com_txt>p:nth-child(1) {
  color: var(--black-80);
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: -1px;
}
.join_com_txt>p:nth-child(2) {
  margin-top: 10px;
  color: var(--black-60);
  font-size: 1.4rem;
  line-height: 150%;
}

/* 아이디 찾기 */
.search_area {
  margin-top: 40px;
}
.search_list {
  display: flex;
  margin-top: 40px;
}
.search_list li {
  display: flex;
  width: 50%;
}
.search_list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  border-bottom: 2px solid var(--black-80);
  color: var(--black-80);
  font-size: 1.4rem;
}
.search_list li.on a {
  background-color: var(--black-80);
  color: #fff;
}
.search_area .radio_row {
  margin-top: 20px;
}
.search_btn_row {
  margin-top: 40px;
}
.select_phone {
  display: none;
}
.search_id_result {
  display: none;
  margin-top: 40px;
}
.search_id_box {
  padding: 98px 40px 40px;
  background: url(https://image.educe.co.kr/educe/main/ico_user.png) no-repeat center 40px/48px;
  border: 1px solid var(--black-10); 
  color: var(--black-60);
  font-size: 1.4rem;
  line-height: 150%; 
}
.user_id {
  margin-top: 10px;
  color: var(--black-80);
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: -1px;  
}
.search_fail {
  display: none;
  margin-top: 40px;
}
.search_fail_box {
  padding: 98px 40px 40px;
  background: url(https://image.educe.co.kr/educe/main/ico_fail.png) no-repeat center 40px/48px;
  border: 1px solid var(--black-10); 
  color: var(--black-60);
  font-size: 1.4rem;
  line-height: 150%; 
}

/* 비밀번호 찾기 */
.search_pw_result {
  display: none;
  margin-top: 40px;
}
.search_pw_box {
  padding: 98px 40px 40px;
  background: url(https://image.educe.co.kr/educe/main/ico_email.png) no-repeat center 40px/48px;
  border: 1px solid var(--black-10); 
  color: var(--black-60);
  font-size: 1.4rem;
  line-height: 150%; 
}

/* 고객센터 */
/* 공지사항 */
.wrapper {
  height: 100%;
}
.wrapper_inner {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.wrap_cs {
  padding: 132px 0 170px;  
}
.page_tit {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -2.4px;    
}
.sub_list_wrap {
  position: sticky;
  top: 72px;
  margin-top: 40px;
  padding: 20px 0;
  background-color: var(--white);
  z-index: 50;
}
.sub_list_wrap.fixed {
  box-shadow: 0px 4px 4px 0px rgba(48, 52, 154, 0.04)
}
.sub_list {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.sub_list li {
  margin-right: 24px;
  font-weight: 600;
}
.sub_list li a {
  padding: 13px 0;
  color: var(--black-40);
}
.sub_list li.on a {
  color: var(--black-100);
}
.sub_list li a:hover {
  color: var(--black-100);
}
.tbl_notice {
  width: 100%;
  margin-top: 20px;
}
.tbl_notice tr {
  border-bottom: 1px solid var(--black-10);
}
.tbl_notice tr td {
  padding: 20px 0;
}
.tbl_notice a {
  color: var(--black-100);
}
.notice_tit {
  display: flex;
  align-items: center;
  width: 1104px;
}
.notice_tit p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  font-weight: 700;
}
/* 공지사항 notice_tag style */
.notice_tag {
  flex-shrink: 0;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-right: 20px;
  border-radius: 10px 0px;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  line-height: 24px;
}
.notice_tag_new {
  background-color: #FFBB0A;
  font-family: "Exo 2";
}
.notice_tag_noti {
  background-color: var(--black-60);
}
.notice_tag_event {
  background-color: #00B8C3;
}
.notice_tag_open {
  background-color: #558FFF;
}
.notice_tag_edu {
  background-color: #B560F8;
}
.notice_date {
  position: relative;
  color: var(--black-60);
  font-size: 1.3rem;
}
.tbl_notice .notice_date:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  width: 9px;
  height: 9px;
  border-right: 1.5px solid var(--black-20);
  border-bottom: 1.5px solid var(--black-20);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.cs_search_row {
  margin-top: 56px;
}
.cs_search_row .form_search {
  font-size: 1.6rem;
}
.cs_search_row .form_search::placeholder {
  color: var(--black-30);
}
.tbl_notice tr:hover {
  border-bottom: 1px solid var(--black-80);
}
.tbl_notice tr:hover .notice_date:after {
  right: 2px;
}
.loading_lott {
  display: none;
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

/* 공지사항 상세보기 */
.notice_view_box {
  margin-top: 40px;
  border-top: 2px solid var(--black-100);
}
.notice_tit_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  border-bottom: 1px solid var(--black-10);
}
.notice_info {
  display: flex;
  justify-content: end;
  align-items: center;
}
.ico_down {
  margin-left: 20px;
  cursor: pointer;
}
.ico_down img {
  width: 24px;
}
.notice_desc {
  padding: 40px 0;
  border-bottom: 1px solid var(--black-10);
  font-size: 1.4rem;
  line-height: 150%;
}

/* faq */
.wrap_faq {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.wrap_faq>div:nth-child(1) {
  width: 200px;
}
.wrap_faq>div:nth-child(2) {
  width: 1000px;
}
.faq_key li {
  margin-bottom: 29px;
}
.faq_key li a {
  padding-bottom: 5px;
  color: var(--black-40);
  font-weight: 600;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.faq_key li.on a {
  border-bottom: 2px solid var(--black-100);
  color: var(--black-100);
}
.faq_key li:hover a {
  border-bottom: 2px solid var(--black-100);
  color: var(--black-100);
}
.faq_list li {
  position: relative;
  margin-top: 24px;
}
.faq_list li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black-10);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.faq_list li:first-child {
  margin-top: 0px;
}
.faq_question {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 1000px;
  padding: 0 44px 24px 12px;
  cursor: pointer;
}
.faq_question:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-right: 1.5px solid var(--black-100);
  border-bottom: 1.5px solid var(--black-100);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  pointer-events: none;  
}
.faq_list .faq_question.open:after {
  top: 11px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.faq_q {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;  
}
.faq_tag_wrap {
  min-width: 112px;
}
.faq_tag {
  display: inline-block;
  margin-left: 10px;
  padding: 8px;
  border: 1.5px solid var(--black-20);
  border-radius: 10px 0px;
  font-size: 1.3rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;  
}
.faq_tit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-left: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.9px;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.faq_list li:hover:after {
  height: 2px;
  background-color: var(--black-80);
}
.faq_list li:hover .faq_tag {
  background-color: var(--black-80);
  border-color: var(--black-80);
  color: var(--white);
}
.faq_answer {
  display: none;
}
.faq_answer_inner {
  display: flex;
  padding: 16px 12px 32px;
  width: 1000px;
  background-color: var(--bg-light-gray);
}
.faq_a {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;  
}
.faq_ans_desc {
  padding-left: 10px;
  font-size: 1.4rem;
  line-height: 150%;
}

/* 제휴 · 제품 문의 */
.inquire_info {
  margin-top: 40px;
  padding: 10px 0;
  border-bottom: 2px solid var(--black-80);
  font-weight: 600;
}
.wrap_inquire {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.wrap_inquire>div:nth-child(1) {
  width: 200px;
}
.wrap_inquire>div:nth-child(2) {
  width: 1040px;
  padding-left: 40px;
  border-left: 1px solid var(--black-10);
}
.inquire_tit {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.9px;
}
.inquire_input li {
  margin-bottom: 30px;
}
.inquire_input_row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.inquire_input_row:first-child {
  margin-top: 0;
}
.inquire_input_tit {
  min-width: 130px;
  padding-top: 14px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.9px;  
}
.inquire_input_area {
  position: relative;
  width: 870px;
}
.inquire_input_area.form_input_row {
  margin-top: 0;
}
.attach_file_area {
  display: flex;
  flex-wrap: wrap;
  width: 870px;
}
.attach_file_area>div {
  margin: 5px 20px 5px 0;
}
.attach_file {
  position: relative;
  margin-right: 20px;
}
.file_nm {
  display: inline-block;
  padding: 17px 52px 17px 16px;
  background-color: var(--black-10);
  border-radius: 2px;
  color: var(--black-80);
  font-size: 1.3rem;
}
.btn_file_delete {
  position: absolute;
  top: 13px;
  right: 16px;
}
.btn_file_delete img {
  width: 20px;
}
.chptcha_area {
  display: flex;
  align-items: center;
  width: 870px;
}
.chptcah_input {
  position: relative;
  width: 400px;
}
.chapcha_num {
  width: 112px;
  margin-left: 20px;
}
.chapcha_num img {
  width: 100%;
}
.terms_agree_box {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--bg-light-gray);
  font-size: 14px;
  line-height: 150%; 
}
.agree_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 1:1 문의 */
.cs_info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 0 6px 20px;
  border-left: 4px solid var(--black-80);
}
.cs_desc {
  font-size: 2.8rem;
  line-height: 130%;
  letter-spacing: -1.4px;
}
.cs_desc02 {
  position: relative;
  margin-top: 25px;
  padding-left: 32px;
  font-size: 1.4rem;
  font-weight: 600;  
}
.cs_desc02:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url(https://image.educe.co.kr/educe/main/ico_note_black.png) no-repeat left top/cover;
}
.cs_hours {
  display: flex;
}
.cs_hours_tit {
  position: relative;
  margin-right: 5px;
  padding-top: 59px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 120%; 
}
.cs_hours_tit:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 48px;
  height: 48px;
  background: url(https://image.educe.co.kr/educe/main/ico_cs.png) no-repeat left top/cover;
}
.cs_hours_info {
  width: 106px;
  height: 106px;
  margin-left: 5px;
  padding-top: 36px;
  background-color: var(--light-gray);
  border-radius: 50%;
  font-size: 1.3rem;
  text-align: center;
}
.cs_hours_info span {
  display: block;
}
.cs_hours_info span:nth-child(1) {
  margin-bottom: 10px;
  font-weight: 700;
}
.inq_search_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
}
.inq_search_area>p {
  position: relative;
  padding-left: 30px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.inq_search_area>p:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url(https://image.educe.co.kr/educe/main/ico_search.png) no-repeat left top/cover;
}
.inq_search_area .cs_search_row {
  width: 1050px;
  margin-top: 0;
}
.inq_search_area .form_search_row:before {
  display: none;
}
.inq_search_area .form_search {
  padding-left: 0;
}
.faq_best_box {
  margin-top: 20px;
  padding: 40px;
  background-color: var(--light-gray); 
}
.faq_best {
  line-height: 150%;
  letter-spacing: -0.8px;  
}
.faq_best b {
  font-weight: 700;
}
.faq_search_fail {
  display: none;
  font-size: 1.4rem;
}
.faq_search_fail b {
  font-weight: 700;
}
.faq_search_fail em {
  font-weight: 700;
  text-decoration: underline;
}
.faq_link {
  position: relative;
  padding-right: 30px;
  font-weight: 500;
}
.faq_link:after {
  content: '';
  position: absolute;
  top: -4px;
  right: 0;
  width: 24px;
  height: 24px;
  background: url(https://image.educe.co.kr/educe/main/ico_arr.png) no-repeat left top/cover;
}
.faq_best_list {
  display: flex;
  margin-top: 15px;
}
.faq_best_list li {
  position: relative;
  width: 224px;
  height: 214px;
  margin-left: 10px;
  padding: 20px;
  background-color: var(--white);
  border: 2px solid var(--white);
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.faq_best_list li:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 24px;
  height: 24px;
  background: url(https://image.educe.co.kr/educe/main/ico_plus.png) left top/cover;
}
.faq_best_list li:first-child {
  margin-left: 0;
}
.faq_best_list .faq_tag {
  margin-left: 0;
}
.faq_best_list li:hover {
  border-color: var(--black-80);
  box-shadow: 0px 20px 20px 0px rgba(48, 52, 154, 0.08);
}
.faq_best_list li:hover .faq_tag {
  background-color: var(--black-80);
  border-color: var(--black-80);
  color: var(--white);
}
.faq_best_tit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%; 
  letter-spacing: -0.9px;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.faq_search_fail_box {
  display: none;
  margin-top: 15px;
  padding: 40px 20px 20px;
  background-color: var(--white);
  border: 1px solid var(--black-10);
  text-align: center;
}
.no_result {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.faq_search_fail_box>p:nth-of-type(1) {
  margin-top: 10px;
  color: var(--black-80);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%; 
  letter-spacing: -0.9px;  
}
.faq_search_fail_box>p:nth-of-type(2) {
  margin-top: 10px;
  color: var(--black-60);
  font-size: 1.4rem;
  line-height: 150%; 
}
.qna_input_box {
  margin-top: 60px;
  padding: 40px;
  background-color: var(--light-gray);
}
h3.sec_tit {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -1.6px;  
}
.qna_input_tit {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.9px;  
}
.qna_input_row {
  margin-top: 10px;
}
.qna_input_row.dflex>div {
  width: 570px;
}
.qna_txt {
  margin-left: 20px;
  color: var(--black-60);
  font-size: 1.3rem;
  line-height: 150%; 
}
.qna_file_row {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.qna_file_row .qna_input_tit {
  margin-top: 0;
  margin-right: 80px;  
}
.answ_way_box {
  display: flex;
  margin-top: 10px;
}
.answ_way_box>div:nth-child(1) {
  width: 960px;
  padding: 0 20px;
  background-color: var(--white);
}
.answ_way_box>div:nth-child(2) {
  width: 200px;
}
.answ_way_row {
  display: flex;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid var(--black-10);
}
.answ_way_row>div:nth-child(1) {
  width: 110px;
  font-size: 1.4rem;
  font-weight: 600;  
}
.answ_way_row>div:nth-child(2) {
  position: relative;
  width: 320px;
  margin-left: 20px;
  margin-right: 40px;
}
.answ_way_row>div:nth-child(2):after {
  content: '';
  position: absolute;
  top: 1px;
  right: -20px;
  width: 1px;
  height: 22px;
  background-color: var(--black-10);
}
.answ_way_row .form_check_row {
  position: relative;
  top: -3px;
}
.qna_terms_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qna_terms_row .form_check_row {
  margin-top: 0;
}
.qna_terms_box {
  margin-top: 10px;
  padding: 16px 20px;
  background-color: var(--white);
}
.tbl_area {
  display: none;
}
.qna_terms_box.visible .tbl_area {
  display: block;
}
.tbl_privacy {
  width: 100%;
  margin-top: 16px;
}
.tbl_privacy th,
.tbl_privacy td {
  vertical-align: middle;
  border: 1px solid var(--black-10);
  color: var(--black-80);
}
.tbl_privacy th {
  height: 40px;
  background-color: var(--bg-light-gray);
  font-size: 1.4rem;
  font-weight: 600;  
}
.tbl_privacy td {
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 150%;
}
.tbl_privacy td .small {
  margin-top: 10px;
  font-size: 1.2rem;
}
.btn_view_privacy {
  position: relative;
  padding: 8px 34px 8px 10px;
  background-color: var(--light-gray);
  font-size: 1.3rem;
}
.btn_view_privacy:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 12px;
  width: 6px;
  height: 6px;
  border-right: 1.5px solid var(--black-80);
  border-bottom: 1.5px solid var(--black-80);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.qna_terms_box.visible .btn_view_privacy:after {
  top: 13px;
  border-color: var(--white);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);  
}
.btn_view_privacy .hide {
  display: none;
}
.qna_terms_box.visible .btn_view_privacy .show {
  display: none;
}
.qna_terms_box.visible .btn_view_privacy .hide {
  display: block;
}

/* 나의 상담내역 */
.inquiry_num {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.9px;  
}
.inquiry_tit {
  display: flex;
  align-items: center;
  width: 1024px;
}
.inquiry_tit p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  font-weight: 700;
}
/* 나의 상담내역 inquiry_tag style */
.inquiry_tag {
  flex-shrink: 0;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-right: 20px;
  border-radius: 10px 0px;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  line-height: 24px;
}
.inquiry_tag_waiting {
  border: 2px solid var(--orange-prime);
  color: var(--orange-prime);
  line-height: 20px;
}
.inquiry_tag_apply {
  background-color: var(--orange-prime);
}
.inquiry_tag_done {
  background-color: #C8C8C8;
}
.inquiry_tit_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  border-bottom: 1px solid var(--black-10);
}
.inquiry_tit_row .inquiry_tit {
  width: 1060px;
}
.inquiry_tit_row .inquiry_num {
  flex-shrink: 0;
  width: 44px;
}
.inquiry_desc {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--black-10);
  font-size: 1.4rem;
  line-height: 150%;
}
.inquiry_desc>div:nth-child(1) {
  width: 105px;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: -0.8px;  word-break: keep-all;
}
.inquiry_desc>div:nth-child(2) {
  width: 1135px;
  padding: 34px 0 40px 34px;word-break: keep-all;
}
.inquiry_desc .answer {
  color: var(--black-40);
}
.answ_date {
  color: var(--black-60);
  font-size: 1.3rem;
  text-align: right;
}
.answ_date b {
  margin-right: 10px;
}
.myinq_waiting {
  display: none;
  color: var(--black-40);
}
.myinquery_btn_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* 이용권 안내 */
/* 이용권 구매 */
.wrap_voucher {
  margin-top: 72px;
  padding: 60px 0 150px;  
}
.desc_box_bor {
  margin-top: 40px;
  padding-left: 20px;
  border-left: 4px solid var(--black-80);
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -1.4px;  
}
.desc_box_bor b {
  font-weight: 500;
}

.modal_terms_box .desc_box_bor {
    margin-top: 20px;
    padding-left: 10px;
    border-left: 0px;
    font-size: 18px;
    font-weight: 300;
}

.modal_terms_box .desc_box_bor .desc_bor_small {
    margin-top: 12px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.8px;
}

.modal_terms_box .policy_desc1 {
   
    font-size: 16px;
    font-weight:500;
}

.modal_terms_box .tbl_policy,.modal_terms_box .tbl_policy2 {
    background-color: #fff;
}


.vouch_wrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  padding: 0 106px 0px 0px;
}
.voucher {
  width: 498px;
  height: 564px;
}
.voucher.basic {
  opacity: 0;
  -webkit-animation: fadeRight 0.4s 0.4s ease-in forwards;
  animation: fadeRight 0.4s 0.4s ease-in forwards;  
}
.voucher.premium {
  opacity: 0;
  -webkit-animation: fadeLeft 0.4s 0.4s ease-in forwards;
  animation: fadeLeft 0.4s 0.4s ease-in forwards;   
}
.voucher_box {
  height: 564px;
  box-shadow: 0px 20px 20px 0px rgba(48, 52, 154, 0.08);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.voucher:hover .voucher_box {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
.voucher:hover .btn_black_icon:before {
  width: 430px;
  height: 76px;
  -webkit-transform: translate(-6px, -10px);
  transform: translate(-6px, -10px);
}
.vouch_hd {
  padding: 30px 0 34px;
  color: var(--white);
  text-align: center;
}
.vouch_tit {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -1.2px;
}
.basic .vouch_hd {
  background: linear-gradient(90deg, #FF005D 7.56%, #FF654E 51.63%, #fca038 100%);
}
.vouch_info {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.vouch_info>div:nth-child(2) {
  position: relative;
  margin-left: 60px;
}
.vouch_info>div:nth-child(2):before {
  content: '';
  position: absolute;
  top: 24px;
  left: -30px;
  width: 1px;
  height: 30px;
  background-color: rgba(2, 0, 15, 0.16);
}
.vouch_txt {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center; /*2025.01.13 event : left->center*/
}
.vouch_txt2 {
  font-size: 3.8rem;
  font-weight: 300;
  letter-spacing: -1.9px;  
}
.vouch_txt2 span:nth-child(1):not(#event_price,.event_price, .item_event_price) {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -2.4px;
}
.vouch_txt2 span:nth-child(2):not(.unit_txt) {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -2.4px;
}

.vouch_txt2 span.item_dp_price {
  font-size: 4.3rem !important;
}

.vouch_txt2 #event_price,.vouch_txt2 .event_price {
  text-decoration: line-through;
  font-size: 3.3rem;
  letter-spacing: -2.4px;
}

.vouch_txt2 .item_event_price {
  text-decoration: line-through;
  font-size: 2.7rem;
  letter-spacing: -2.4px;
  display: none;
}

.vouch_txt2 span.unit_txt {
  vertical-align: 4px;
}

.vouch_bd {
  padding: 30px;
  background-color: var(--white);
  border: 1px solid var(--black-10);
  border-top: none;
}
.vouch_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 48px;
  margin-top: 10px;
  background-color: var(--light-gray);
  border-radius: 50px;
  color: var(--black-80);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; 
  letter-spacing: -0.8px;
}
.vouch_list li:first-child {
  margin-top: 0;
}
.vouch_list li:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  width: 22px;
  height: 22px;
  background: url(https://image.educe.co.kr/educe/main/ico_check.png) no-repeat left top/cover;
}
.add_info {
  display: inline-block;
  margin-left: 10px;
  padding: 1px 6px;
  background-color: var(--black-60);
  border-radius: 2px;
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: -0.6px;
}
.vouch_list li {
  font-size: 1.4rem;
}
.add_info.small {
  font-size: 1.1rem;
}
.vouch_btn_row {
  margin-top: 36px;
  text-align: center;
}
.premium .vouch_hd {
  background: linear-gradient(90deg, #d649be 7.56%, #B847F6 51.63%, #7000FF 95.7%);
}

/* 결제 완료 */
.payment_box {
  margin-top: 60px;
  padding: 40px;
  background-color: var(--light-gray);
  text-align: center;
}
.payment_desc {
  position: relative;
  padding-top: 74px;
  font-size: 2.4rem;
  line-height: 150%; 
  letter-spacing: -1.2px;  
}
.payment_desc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background: url(https://image.educe.co.kr/educe/main/ico_check2.png) no-repeat left top/cover;
}
.tbl_payment {
  width: 845px;
  margin: 40px auto 0;
}
.tbl_payment th,
.tbl_payment td {
  padding: 14px 0;
  background-color: var(--white);
  border: 1px solid var(--black-10);
  color: var(--black-80);
  font-size: 1.4rem;
}
.tbl_payment th {
  font-weight: 600;
}
.tbl_payment th.tbl_tit {
  vertical-align: middle;
  background-color: var(--black-60);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; 
  letter-spacing: -0.8px;  
}

/* 무료 이용권 */
.sec_tit_s {
  margin-top: 60px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: -1px;  
}
.sec_tit_ani {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
.sec_tit_ani {
  -webkit-animation: fadeUp 0.3s 0.4s ease-in forwards;
  animation: fadeUp 0.3s 0.4s ease-in forwards;
}
.vouch_free {
  display: flex;
  margin-top: 20px;
  box-shadow: 0px 20px 30px 0px rgba(48, 52, 154, 0.08);
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
.vouch_free.basic {
  -webkit-animation: fadeUp 0.3s 0.7s ease-in forwards;
  animation: fadeUp 0.3s 0.7s ease-in forwards;
}
.vouch_free>div:nth-child(1) {
  position: relative;
  width: 286px;
  padding: 30px 28px 30px 82px;
  color: var(--white);
}
.vouch_free.basic>div:nth-child(1) {
  background: linear-gradient(90deg, #FF005D 7.56%, #FF654E 51.63%, #fca038 100%);
}
.vouch_free>div:nth-child(1):before {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  width: 32px;
  height: 32px;
  background: url(https://image.educe.co.kr/educe/main/ico_present.png) no-repeat left top/cover;
}
.vouch_free .vouch_tit {
  margin-top: 10px;
}
.vouch_free>div:nth-child(2) {
  width: 692px;
  padding: 30px 30px 30px 82px;
  background: url(https://image.educe.co.kr/educe/main/ico_upload.png) no-repeat 30px 30px/32px;
  border-top: 1px solid var(--black-10);
  border-bottom: 1px solid var(--black-10);
  color: var(--black-80);
}
.vouch_free>div:nth-child(3) {
  width: 262px;
  padding: 30px 30px 30px 0;
  border-top: 1px solid var(--black-10);
  border-bottom: 1px solid var(--black-10);
  border-right: 1px solid var(--black-10);
}
.btn_upload.btn_black_s {
  width: 100%;
  margin-top: 10px;
}
.vouch_free.premium {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-animation: fadeUp 0.3s 1s ease-in forwards;
  animation: fadeUp 0.3s 1s ease-in forwards;  
}
.vouch_free.premium>div:nth-child(1) {
  background: linear-gradient(90deg, #d649be 7.56%, #B847F6 51.63%, #7000FF 95.7%);
}
.free_info {
  position: relative;
  margin-top: 30px;
  padding-left: 22px;
  font-size: 1.3rem;
  letter-spacing: -0.65px;  
}
.free_info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: url(https://image.educe.co.kr/educe/main/ico_note_black.png) no-repeat left top/cover;
  color: var(--black-80);
}
.free_info_ani {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-animation: fadeUp 0.3s 1.3s ease-in forwards;
  animation: fadeUp 0.3s 1.3s ease-in forwards;  
}

/* 개인정보 처리방침 */
.policy_wrap {
  color: var(--black-80);
}
.desc_box_bor .desc_bor_small {
  margin-top: 12px;
  font-size: 1.6rem;
  line-height: 150%; 
  letter-spacing: -0.8px;  
}
.policy_box {
  margin-top: 40px;
  padding: 30px 30px 10px;
  background-color: var(--bg-light-gray);
  border: 1px solid var(--black-10);
  color: var(--black-80);
}
.policy_desc1 {
  color: var(--black-100);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 150%; 
  letter-spacing: -1px;  
}
.policy_link {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.policy_link li {
  width: 270px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: 150%; 
}
.policy_link li:nth-child(9),
.policy_link li:nth-child(13) {
  width: 560px;
}
.policy_tit {
  margin-top: 40px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%; 
}
.policy_desc2 {
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 150%; 
}
.policy_desc2.mt30 {
  margin-top: 30px;
}
.policy_desc2.mt20 {
  margin-top: 20px;
}
.policy_desc2.mt40 {
  margin-top: 40px;
}
.tbl_policy {
  width: 100%;
  margin-top: 20px;
}
.tbl_policy th,
.tbl_policy td {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid var(--black-10);
  color: var(--black-80);
  font-size: 1.4rem;
  line-height: 150%; 
  text-align: center;
}
.tbl_policy th {
  background-color: var(--bg-light-gray);
}
.tbl_policy2 {
  width: 100%;
  margin-top: 10px;
}
.tbl_policy2 td {
  padding: 20px 0;
  border: 1px solid var(--black-10);
  color: var(--black-60); 
  font-size: 1.4rem;
  line-height: 200%; 
  text-align: center;
}
.policy_prev {
  margin-top: 40px;
}
.policy_prev li {
  margin-bottom: 10px;
}
.policy_prev a {
  color: var(--black-60);
  font-size: 13px;
}

/* 이용약관 */
/* 개인회원 */
.terms_type {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.terms_type li a {
  display: inline-block;
  width: 406px;
  padding: 20px 0;
  background-color: var(--bg-light-gray);
  border: 1px solid var(--black-10);
  font-weight: 600;
  text-align: center;
  line-height: 150%; 
  letter-spacing: -0.8px;   
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.terms_type li.on a {
  background-color: var(--black-80);
  border-color: var(--black-80);
  color: var(--white);
}
.terms_type li:hover a {
  background-color: var(--black-80);
  border-color: var(--black-80);
  color: var(--white);
}
.policy_tit2 {
  margin-top: 40px;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: -0.8px;  
}
.site_link {
  text-decoration: underline;
}

/* 저작권 공지 */
.policy_input_list {
  margin-top: 30px;
}
.policy_input_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid var(--black-10);
}
.policy_input_list li:first-child {
  border-top: 1px solid var(--black-10);
}
.policy_input_list li>p {
  width: 120px;
  font-size: 1.4rem;
}
.policy_input_list li>p:after {
  content: '*';
  margin-left: 3px;
  color: var(--notice-alert);
  font-size: 18px;
}
.policy_input_list li>div {
  width: 1110px;
}
.phone_input_row {
  display: flex;
  align-items: center;
}
.phone_input_row .form_input {
  width: 80px;
  padding-right: 10px;
}
.phone_input_row span {
  margin: 0 5px;
  color: var(--black-30);
}
.policy_chptcha_row {
  display: flex;
  align-items: center;
}
.policy_chapcha_num {
  margin-right: 10px;
  color: var(--notice-em);
  line-height: 150%; 
  letter-spacing: -0.8px;  
}
.policy_chptcha_row span {
  color: var(--notice-em);
}
.form_chptcha {
  width: 400px;
  margin-left: 10px;
}
.chptcha_info {
  position: relative;
  margin-left: 10px;
  padding-left: 20px;
  color: var(--black-40);
  font-size: 1.3rem;
}
.chptcha_info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: url(https://image.educe.co.kr/educe/main/ico_note.png) no-repeat left top/cover;
}
.privacy_box {
  width: 100%;
  height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 16px;
  background-color: var(--light-gray);
  color: var(--black-60);
  font-size: 1.3rem;
  line-height: 160%; 
}
.privacy_box p {
  margin-top: 20px;
}
.privacy_box p:first-child {
  margin-top: 0;
}
.privacy_box p b {
  font-weight: 600;
}
.privacy_agree_row {
  margin-top: 20px;
  text-align: center;
}
.privacy_agree_row p {
  font-size: 1.4rem;
  font-weight: 500;  
}
.privacy_agree_row .radio_row {
  margin-top: 20px;
}
.radio_type .radio_label {
  margin-left: 20px;
}
.radio_type .radio_label:first-child {
  margin-left: 0;
}
.email_poli_box {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--bg-light-gray);
  border: 1px solid var(--black-10);
}
.email_poli_box .policy_tit {
  margin-top: 0;
}
















