body.n1 .depth1 {
    font-size: 2.4rem;
    min-width: 220px;
}

body.n1 .depth2 li a {
    font-size: 1.65rem;
    text-align: center;
    line-height: 130%;
}

body.n1 .depth2 li {
    padding-left: 0px;
}

body.n1 .depth2{
    gap: 5rem;
}

body.n1 .sitemap_inner {
   
    width: 1025px;
    padding: 30px 10px 30px 40px;
   
}

body.n1 .sitemap_inner .sitemap li:nth-child(1) .depth2{
    gap:3rem;
}

body.n1 .sitemap_inner .sitemap li:nth-child(2) .depth2{
    gap: 3.5rem;
}

body.n1 .sitemap_inner .sitemap li:nth-child(3) .depth2{
    gap: 4rem;
}

body.n1 .sitemap>li:first-child {
    margin-top: 0;
}
body.n1 .sitemap>li{margin-top: 40px;}

body.n1 .voucher.premium {width:600px}

body.n1 .vouch_txt2.sel171 {
    width: 100px;
}

body.n1 .voucher_box {
    height:initial
}

body.n1 .vouch_wrap {
    width: 1550px;
}

body.n1 .itemplan {
    justify-content: space-between;
}


body.n1 .itemplan .btn_black_icon {
    width: 235px !important;
}

body.n1 .voucher.item:hover .btn_black_icon:before {
    width: 247px !important;
}

body.n1 .vouch_wrap.mt0, .vouch_wrap.mt0.itemplan {width: 1280px}

body.n1 .voucher.item {padding-right: 20px}

body.n1 .voucher-add-help {width: initial}
body.n1 .modal_wrap.popup .modal_cont .modal_bd,.modal_wrap.popup .modal_cont .modal_bd img {
    border-radius: 20px 20px 0px 0px;
}
body.n1 .modal_wrap.popup .modal_cont .close-area {
    margin-top: 0px;
    background-color: #000;
    color: #fff;
    height: 40px;
    padding-top: 10px;
    border-radius: 0px 0px 20px 20px;
}
body.n1 .modal_wrap.popup .modal_cont .close-area button {
    font-size: 12px;
    padding: 0px 5px;
    font-weight: 500;
    color:#fff;
    text-shadow:initial;
}
body.n1 .voucher.item .vouch_list li.wide{
    font-size: 1.3rem;
    letter-spacing: -0.1rem;
    padding-left: 20px;
}

body.n1 .vouch_list li {
    font-size: 1.32rem;
}

body.n1 .voucher.item .vouch_list{margin-top:36px}
.purchased{opacity: 0.55;}

/*
body.n1 .gnb_all .sitemap_quick {
    margin-top: 15px;
}
*/

body.n1 .voucher.item .vouch_list li.wide span {
    margin-left:2px;
    letter-spacing: -0.18rem;
}

body.n1 .main_nav li {
    margin: 0 40px;
}

body.n1 .gnb_menu {
    width: fit-content;
}

body.n1 .gnb_menu>li:after {   
    right: 0px;
    height: 226px;
}

body.n1 .gnb_menu>li {
    width:260px;
}

body.n1 .gnb_menu>li:nth-child(3) {width:220px}
body.n1 .gnb_menu>li:nth-child(4) {width:235px}

body.n1 .sitemap_quick li {
    margin-left: 6px;
}