  
/* reset */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
html { scroll-behavior: smooth; }
html, body {font: 400 16px/1.3 "Noto Sans KR", sans-serif;  color: #000000; width: 100%; position: relative;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}

  
.wrap {width: 100%; position: relative;}
.section {width: 1130px; margin: 0 auto; padding: 100px 0;}



/* datepicker */
#datepicker:focus>.ui-datepicker { display: block; }
.ui-datepicker { font-family: inherit; display: none; margin-top: 10px; margin-left: 0px; margin-right: 0px; width: 300px; box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1); border: 1px solid #c5c5c5; border-radius: 12px; padding: 20px 10px; background: #fff}
.ui-widget.ui-widget-content { border: 1px solid #c5c5c5;}
.ui-datepicker .ui-datepicker-header { position: relative; padding: 0 10px; display: flex; align-items: center; border-radius: 0; background: #fff; margin-bottom: 14px; border: 0;}
.ui-datepicker .ui-datepicker-title {flex:1; margin: 0; padding: 0; font-weight: 700; font-size: 18px; line-height: 1.3; color: #000; text-align: left; order: 1;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: relative; width: 20px !important; height: auto !important; left: auto; right:auto; top: auto; aspect-ratio: 1 / 1; display: flex; cursor: pointer;}
.ui-datepicker .ui-datepicker-prev {order: 2; margin-right: 8px;}
.ui-datepicker .ui-datepicker-next {order: 3;}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span { background: no-repeat center / contain; width: 100%; height: 100%;}
.ui-datepicker .ui-datepicker-prev span{ background-image: url(../img/datepicker_prev.png);}
.ui-datepicker .ui-datepicker-next span{ background-image: url(../img/datepicker_next.png);}
.ui-datepicker-calendar { width: 100%; }  
.ui-datepicker table {margin: 0;}
.ui-datepicker-calendar>thead>tr>th { width: 30px; height: 30px; padding: 0; font-weight: 500; font-size: 15px;  line-height: 1.4; color: #498dbf;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { border: none; background-color: transparent;text-align: center; font-weight: 400; font-size: 15px;  line-height: 30px; color: #333; width: 30px; height: 30px; padding: 0;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,
.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,
.ui-button:hover,.ui-button:focus { border: none; background-color: transparent;text-align: center; font-weight: 400; font-size: 15px;  line-height: 30px; color: #333; width: 30px; height: 30px; padding: 0;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { position: relative; color: #498dbf; font-weight: 700;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border: none; background: transparent; position: relative; color: #fff}
.ui-state-active::before, .ui-widget-content .ui-state-active::before, .ui-widget-header .ui-state-active::before, a.ui-button:active::before, .ui-button:active::before, .ui-button.ui-state-active:hover::before { content: ""; border-radius: 100%; background: #498dbf; width: 30px; aspect-ratio: 1 / 1; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: -1;}
.ui-state-disabled { cursor: auto; color: #cccccc;}    
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {cursor: auto;  background-color: #fff; }  
.ui-datepicker-calendar>tbody>tr>td:hover {background-color: transparent; opacity: 0.6; }    



/* table */
.tbl_titbox{position: relative;}
.tbl_titbox .tbl_tit{height: 40px; font-weight: 500; font-size: 24px; border-bottom: 2px solid #000000; margin-bottom: 12px;}

.tbl_section {position: relative; margin-bottom: 50px;}
.tbl_section:last-child {margin-bottom: 0;}
.tbl_top{position: relative; font-size: 16px; font-weight: 500; color: #000; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;}
.tbl_top.mt {margin-top: 20px;}
.tbl_top .date{font-weight: 400; color: #333;}

.tbl_filter {position: relative; margin: 12px 0;} 
.tbl_filter .filter_top {display: flex; align-items: center; justify-content: space-between; gap: 10px;}
.tbl_filter .input_box {display: flex; align-items: center; gap: 10px;}
.tbl_filter .input_item {display: flex; gap: 6px;}
.tbl_filter .input{border: 1px solid #d4d4cd; font-size: 14px; color: #454545; height: 30px; margin: 0; padding: 0 5px;}
.tbl_filter .input.datepicker{ width: 110px; background: #fff url(../img/ic_calender.png) no-repeat 90% center; color: #454545; cursor: pointer;padding-left: 5px;}
.tbl_filter .select{ width: 110px; border: 1px solid #d4d4cd; font-size: 14px; color: #454545; height: 30px; margin: 0; padding: 0 5px; cursor: pointer;}
.tbl_filter .total {font-size: 16px; font-weight: 500;}
.tbl_filter .total .red {color: red;}
.tbl_filter .sch_btn { display: inline-flex; align-items: center; justify-content: center; width: 100px;  height: 30px;  line-height: 100%; background: #6db900;  font-size: 14px ;  text-align: center;  color: #fff;  cursor: pointer; border: none;  border-radius: 5px;}
.tbl_filter .filter_btn {display: flex; align-items: center; justify-content: flex-end; gap: 10px; margin-top: 14px;}
.tbl_filter .btn { height: 30px; border: 1px solid #e8e8e8; border-radius: 5px;  color: #252d3a; padding: 0 15px; display: flex; align-items: center; justify-content: center; gap: 5px; font-size: 16px; line-height: 1;}
.tbl_filter .excel_btn .icon{background: url(../img/ic_down.png) no-repeat center/contain; width: 14px; aspect-ratio: 1/1;}

.tbl_filter .input#busSch { width: 100px;}
.tbl_filter .input#prdSch { width: 300px;}
.tbl_filter .input#managerSch { width: 110px;}
.tbl_filter .input#prdSch2 { width: 250px;}

.tbl_wrap {position: relative; overflow: auto; padding-bottom: 10px;} 
.tbl_wrap::-webkit-scrollbar{ width: 4px; height: 4px;  } 
.tbl_wrap::-webkit-scrollbar-thumb{background: #222;cursor: pointer; } 
.tbl_wrap::-webkit-scrollbar-track{background: #ccc; } 
.tbl_wrap .tbl{width: 100%; border-collapse: collapse; border: 1px solid #e2e2e2;  text-align: center;font-size: 14px;}
.tbl_wrap .tbl thead tr th{height: 40px;border: 1px solid #fff; font-weight: 400; color: #000; min-width: 100px;background: #DFE2E7;}
.tbl_wrap .tbl thead tr th:last-child {border-right: 0;}
.tbl_wrap .tbl thead tr td { height: 40px; border: 1px solid #e2e2e2; color: #000;  min-width: 100px;}
.tbl_wrap .tbl thead tr td:last-child{border-right: 0;}
.tbl_wrap .tbl thead tr th.th_region {border-right: 0px;}
.tbl_wrap .tbl thead tr th.th_region + th {border-left: 0px;}
.tbl_wrap .tbl tbody tr{ border: 1px solid #e2e2e2;}
.tbl_wrap .tbl tbody tr th{height: 40px;border: 1px solid #fff; font-weight: 400; color: #000; min-width: 100px;background: #DFE2E7;}
.tbl_wrap .tbl tbody tr td{ height: 40px; border: 1px solid #e2e2e2; padding: 5px;}
.tbl_wrap .tbl tbody tr td.td_region {border-right: 0px;}
.tbl_wrap .tbl tbody tr td.td_region + td {border-left: 0px;}
.tbl_wrap .tbl tbody tr td.hide {border-color: #fff;background: #fff;}
.tbl_wrap .tbl tbody tr td.padding {padding: 10px;}
.tbl_wrap .tbl .td_chk {min-width: 50px;}
.tbl_wrap .tbl .td_num {min-width: 50px;}
.tbl_wrap .tbl .td_price {text-align: right; padding: 0 10px;}
.tbl_wrap .tbl .td_nowrap1 {min-width: 160px;}
.tbl_wrap .tbl .td_region1 {min-width: 140px;}
.tbl_wrap .tbl .input{width: 100%; border: 1px solid #d4d4cd; font-size: 14px; color: #454545; height: 30px; margin: 0; padding: 0 5px;}
.tbl_wrap .tbl .input.datepicker{ width: 110px; background: #fff url(../img/ic_calender.png) no-repeat 90% center; color: #454545; cursor: pointer;padding-left: 5px;}
.tbl_wrap .tbl .check{position: relative; appearance: none; background: #fff; border: 1px solid #c9c9c9; height: 16px; width: 16px; border-radius: 3px; margin: 0 auto;  padding: 0; cursor: pointer;}
.tbl_wrap .tbl .check:checked:after {content: ""; display: block;  width: 8px;  height: 8px; background: #666; position: absolute;  top: 50%; left: 50%; transform: translate(-50%,-50%);}
.tbl_wrap .tbl .input_phone { min-width: 100px;}
.tbl_wrap .tbl .input_price {text-align: right;}
.tbl_wrap .tbl .select{ width: 100%; border: 1px solid #d4d4cd; font-size: 14px; color: #454545; height: 30px; margin: 0; padding: 0 5px; cursor: pointer;}