

/* PC */
@media screen and (max-width: 1560px) {    

  html {font-size: 15.5px !important;}  

}


@media screen and (max-width: 1440px) {    

  html {font-size: 15px!important;}    

}


@media screen and (max-width: 1380px) {    

  html {font-size: 14.5px !important;}        

}


@media screen and (max-width: 1200px) {

  html {font-size: 14px !important;}  

}



  
/* Tablet */
@media screen and (max-width: 1024px) {

  html {font-size: 16px !important;} 

  .pc {display: none !important;}
  .tablet {display: block !important;}
  .wrap { min-width: initial; }
  .header { min-width: initial;}

}


@media screen and (max-width: 900px) {

  html {font-size: 14px !important;}


}


@media screen and (max-width: 700px) {

  html {font-size: 11.5px !important;}

}




/* Mobile */
@media screen and (max-width: 599px) {

  html {font-size: 11px !important;}  

  .mobile {display: block !important;}
  

}
  
      
@media screen and (max-width: 480px) {  

  html {font-size: 10px !important;}

}


@media screen and (max-width: 320px) {

  html { font-size: 9px !important;}

}
