
/* main */
.main_section {position: relative; width: 100%;}

.ms1 { height: 45rem;}
.ms1 .ms1_video {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); object-fit: cover; width: 100%; height: 100%;} 
.ms1 .bg {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); object-fit: cover; background: url(../img/ms1_bg.png) no-repeat center/cover; width: 100%; height: 100%; display: none;}  
.ms1 .txtbox { position: absolute;  left: 50%;  top: 23.5%;  transform: translateX(-50%);  width: 90%; display: flex; flex-direction: column;  align-items: center;  gap: 2.2rem;  text-align: center;}
.ms1 .txtbox .tit { font-size: 3.125rem; line-height: 1.18; font-weight: 600;  color: #fff;  text-transform: uppercase;}
.ms1 .txtbox .desc { font-size: 1.25rem; line-height: 1.4;  color: rgba(255, 255, 255, 0.8);}


.ms2::before { content: "";  position: sticky;  top: 0;  width: 100%;  padding-bottom: 100vh;  background: url(../img/ms2_big_bg.png) no-repeat center / cover;  display: block;}
.ms2 .ms2_visual { position: sticky; top: 5rem; width: 100%; aspect-ratio: 1 / 0.40625;  background: url(../img/ms2_bg.png) no-repeat center / cover; overflow: hidden; margin-top: -100vh;}
.ms2 .ms2_visual .img { position: absolute; bottom: 4%; width: 40%; max-width: 45.938rem; display: flex;}
.ms2 .ms2_visual .img1 { left: -2.5%; animation: ms2_shot_01 1s ease forwards paused; will-change: transform;  animation-delay: calc(var(--progress) * -1s); }
.ms2 .ms2_visual .img2 { left: 81%; animation: ms2_shot_02 1s ease forwards paused; will-change: transform;  animation-delay: calc(var(--progress) * -1s); }
.ms2 .ms2_visual .txtbox { position: absolute; left: 50.5%;  top: 21%;  transform: translate(-50%, 0%); display: flex; flex-direction: column; align-items: center;  gap: 0.5rem;  text-align: center;}
.ms2 .ms2_visual .txtbox .tit { font-size: 18.75rem; line-height: 0.9;  font-weight: 800; color: #fff; animation: ms2_shot_03 1s ease forwards paused;  will-change: transform;  animation-delay: calc(var(--progress) * -1s);transform: scale(0.2);  text-shadow: 0 0 0.25rem rgba(111, 124, 144, 0.15), 0 0 0.75rem rgba(111, 124, 144, 0.1);}
.ms2 .ms2_visual .txtbox .desc{font-size: 4.375rem; font-weight: 500; color: #fff; text-transform: uppercase; animation: ms1_shot_04 1s ease forwards paused;  will-change: transform;  animation-delay: calc(var(--progress) * -1s); opacity: 0; text-shadow: 0 0 0.25rem rgba(111, 124, 144, 0.15), 0 0 0.75rem rgba(111, 124, 144, 0.1); }
@keyframes ms2_shot_01 { 0%, 46% { left: -2.5%;} 100% { left : 28%}}
@keyframes ms2_shot_02 { 0%, 46% { left: 81%;} 100% { left: 50.5%;}}
@keyframes ms2_shot_03 { 0%, 46% {transform: scale(0.2); } 100% { transform: scale(1);}}
@keyframes ms1_shot_04 { 0%, 46% { opacity: 0; } 100% { opacity:1; }}
.ms2 .pin-spacer {pointer-events: none;}


.ms3 {position: relative; padding-top: 5rem; margin-top: -5rem;; }
.ms3 .contwrap {display: flex; flex-direction: column;}
.ms3 .contbox {display: flex;}
.ms3 .contbox:nth-child(even) {flex-direction: row-reverse;}
.ms3 .contbox .txtbox{width: 50%; padding-top: 4.375rem;}
.ms3 .contbox:nth-child(odd) .txtbox {padding-right: 2.5rem;}
.ms3 .contbox:nth-child(even) .txtbox {padding-left: 2.5rem;}
.ms3 .contbox .txtbox .sub{font-size: 0.75rem; font-weight: 500; color: #2d55eb; margin-bottom: 1.25rem; text-transform: uppercase;}
.ms3 .contbox .txtbox .tit{font-size: 2.375rem; font-weight: 600; color: #000000; margin-bottom: 1.875rem;}
.ms3 .contbox .txtbox .desc{font-size: 1.125rem; line-height: 1.5; color: #000000;    opacity: 0.8;}
.ms3 .contbox .imgbox{width: 50%; display: flex;}
.ms3 .contbox .imgbox > img {width: 100%; height: 100%; object-fit: cover;}

 
.ms4 {background: #f5f6f7; padding: 7.25rem 0 9.75rem;}
.ms4 .titbox {margin-bottom: 4.375rem;}
.ms4 .titbox .tit{font-size: 3.125rem; font-weight: 500; color: #000000;}
.ms4 .contbox{display: flex; flex-wrap: wrap; gap: 5.313rem 2.5rem;}
.ms4 .contbox > .item{width: calc((100% - 2.5rem*2)/3); }
.ms4 .contbox > .item > .link{width: 100%; display: flex; flex-direction: column; gap: 1.875rem;}
.ms4 .contbox > .item .imgbox{position: relative; display: flex; overflow: hidden;}
.ms4 .contbox > .item .imgbox img {width: 100%; transition: all 0.4s ease;}
.ms4 .contbox > .item .imgbox:hover img {transform: scale(1.1);}
.ms4 .contbox > .item .imgbox .colorchip {position: absolute; left: 0.875rem; bottom: 1.063rem; display: flex; align-items: center; gap: 0.438rem;}
.ms4 .contbox > .item .imgbox .colorchip .color{width: 0.875rem; aspect-ratio: 1/1; border-radius: 50%;}
.ms4 .contbox > .item .imgbox .colorchip .color1{background: #173477;}
.ms4 .contbox > .item .imgbox .colorchip .color2{background: #000000;}
.ms4 .contbox > .item .txtbox{display: flex; flex-direction: column; gap: 1.5rem; text-align: center;}
.ms4 .contbox > .item .txtbox .tit{font-size: 1.5rem; font-weight: 600; color: #333333;}
.ms4 .contbox > .item .txtbox .tit.ver2 {letter-spacing: -0.02em;}
.ms4 .contbox > .item .txtbox .desc{font-size: 1rem; line-height: 1.5; color: #666666; font-weight: 500; opacity: 0.8;}


.ms5 { padding: 12.125rem 0 11.563rem;}
.ms5 .contbox{display: flex; align-items: flex-start;}
.ms5 .contbox .imgbox{position: relative; width: 50%; margin-top: 5.25rem;}
.ms5 .contbox .imgbox .img { position: absolute; left: 0; top: 0; width: 136%;  max-width: 54.125rem; opacity: 0;}
.ms5 .contbox .imgbox .img:nth-child(1) { position: relative; left: auto;  top: auto;  transform: none;}
.ms5 .contbox .imgbox .img.on{opacity: 1;}
.ms5 .contbox .txtbox{width: 50%; padding-left: 2.5rem; display: flex; flex-direction: column; align-items: flex-start; z-index: 5;}
.ms5 .contbox .txtbox .badge{font-size: 0.875rem; font-weight: 500; color: #000000; padding:0.5rem; border-radius: 0.188rem; border: 1px solid #4c4c4c; margin-bottom: 1.5rem;}
.ms5 .contbox .txtbox .name{font-size: 2.375rem; font-weight: 600; color: #000000; margin-bottom: 2.125rem;}
.ms5 .contbox .txtbox .price{font-size: 2rem; color: #000000; padding-left: 0.375rem; margin-bottom: 2.5rem;}
.ms5 .contbox .txtbox .thumbox{display: flex; gap: 1.25rem; margin-bottom: 2.5rem;}
.ms5 .contbox .txtbox .thumbox > li{position: relative; width: 6.25rem; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center; cursor: pointer;  border: 1px solid #999999;}
.ms5 .contbox .txtbox .thumbox > li.on { border: 3px solid #173477;}
.ms5 .contbox .txtbox .thumbox > li img {width: 5.875rem;}
.ms5 .contbox .txtbox .more_box{margin-bottom: 2.25rem;}
.ms5 .contbox .txtbox .more_btn{padding: 1.125rem 1.5rem; min-width: 10rem;}
.ms5 .contbox .txtbox .accordion{width: 100%; display: flex; flex-direction: column; gap: 1rem;}
.ms5 .contbox .txtbox .accordion .acc_tit{font-size: 1.25rem; font-weight: 600; line-height: 1.2; color: #000000; display: flex; align-items: center; gap: 0.625rem; cursor: pointer;}
.ms5 .contbox .txtbox .accordion .acc_tit .arrow {  background: url(../img/acc_arrow.png) no-repeat center / contain; width: 0.688rem; aspect-ratio: 1 / 1; transition: all 0.4s ease;margin-top: 0.2rem; transform: rotate(180deg);}    
.ms5 .contbox .txtbox .accordion li.show .acc_tit .arrow {transform: rotate(0deg);}
.ms5 .contbox .txtbox .accordion .acc_cont { display: none; margin-top: 1rem;  font-size: 1.125rem; opacity: 0.8; color: #000;}


.ms6 {background: url(../img/ms6_bg.png) no-repeat center/cover; padding: 4.5rem 0 3.625rem;}
.ms6 .titbox{display: flex; flex-direction: column; align-items: center; text-align: center; gap: 2.75rem; margin-bottom: 2.5rem;}
.ms6 .titbox .tit{font-size: 2.5rem; line-height: 1.25; color: #ffffff; font-weight: 600; }
.ms6 .titbox .desc{font-size: 1.25rem; line-height: 1.5; color: #ffffff; opacity: 0.8;}
.ms6 .snsbox {display: flex; align-items: center; justify-content: center; gap: 2.5rem; margin-bottom: 3.938rem;}
.ms6 .snsbox .snsimg {width: 6.25rem; display: block; transition: all 0.4s ease;}
.ms6 .snsbox .snsimg:hover {transform: translateY(-1.25rem);}
.ms6 .bottombox {display: flex; flex-direction: column; align-items: center; text-align: center;}
.ms6 .bottombox .bar{ width: 15rem;height: 1px; background: #ffffff;  margin-bottom: 4.5rem;}
.ms6 .bottombox .tit{font-size: 2rem; font-weight: 600; color: #ffffff; margin-bottom: 1.25rem;}
.ms6 .bottombox .desc{font-size: 1rem; line-height: 1.5; color: #ffffff; margin-bottom: 4.375rem; opacity: 0.8;}
.ms6 .bottombox .more_btn { padding: 1.2rem 1.625rem; display: flex; align-items: center; gap: 1.75rem;}
.ms6 .bottombox .more_btn .arrow { background: url(../img/more_arrow.png) no-repeat center / contain; width: 1.188rem; aspect-ratio: 1 / 1.21052; transition: all 0.4s ease;}
.ms6 .bottombox .more_btn:hover .arrow {filter: invert(10);}


.ms7 {padding: 12.188rem 0 12.438rem;}
.ms7 .contbox{display: flex; flex-wrap: wrap;align-items: flex-end; gap: 2.5rem;}
.ms7 .contbox .left {width: 50%; display: flex;  flex-direction: column;  gap: 2.5rem;}
.ms7 .contbox .right{flex: 1; display: flex;  flex-direction: column;  gap: 2.5rem;}
.ms7 .contbox .bottom{width: 100%;}
.ms7 .contbox .titbox { display: flex;  flex-direction: column; gap: 2rem;}
.ms7 .contbox .titbox .tit { font-size: 3.125rem; font-weight: 300;  color: #000000;}
.ms7 .contbox .titbox .tit .bold { font-weight: 700;}
.ms7 .contbox .titbox .desc { font-size: 1.25rem; line-height: 1.5; color: #000000; }
.ms7 .contbox .imgbox{display: flex; flex-direction: column; gap: 2.5rem;}
.ms7 .contbox .imgbox .img{width: 100%;}


.ms8 {padding-bottom: 12.5rem;}
.ms8 .titbox{margin-bottom: 3.75rem;}
.ms8 .titbox .title{font-size: 3.125rem; font-weight: 500; color: #000000;}
.ms8 .vidbox { position: relative;  aspect-ratio: 1 / 0.5625;  overflow: hidden;}
.ms8 .vidbox .ms8_video { width: 100%; height: 100%; object-fit: cover;}
.ms8 .vidbox .play_btn { display: flex; width: 13.75rem;  aspect-ratio: 1 / 1;  position: absolute; left: 50%;  top: 50%;  transform: translate(-50%, -50%); border-radius: 50%;  box-shadow: 0 2rem 2.88rem rgba(0, 0, 0, 0.54); cursor: pointer; transition: all 0.4s ease;}
.ms8 .vidbox.on {cursor: pointer;}
.ms8 .vidbox.on .play_btn{opacity: 0; pointer-events: none;}



.ms9 {padding-top: 5rem; margin-top: -5rem; margin-bottom: 12.5rem;}
.ms9 .tab_wrap {position: relative; display: flex;}
.ms9 .tab_navbox {width: calc(50% - 2.5rem);}
.ms9 .tab_navbox .title {font-size: 3.125rem; font-weight: 500; color: #000000; margin-bottom: 3.125rem;}
.ms9 .tab_navbox .tab_nav {font-size: 1.5rem; font-weight: 500; color: #999999; transition: all 0.4s ; cursor: pointer;}
.ms9 .tab_navbox .tab_nav + .tab_nav { margin-top: 1em;}
.ms9 .tab_navbox .tab_nav.on {color: #000000; text-decoration: underline; text-underline-offset: 2px;}
.ms9 .tab_contbox { position: relative; width:calc(50% + 2.5rem);}
.ms9 .tab_cont { display: none; animation: 1.2s ease 0s fadeIn;}
.ms9 .tab_cont.on {display: block;}
@keyframes fadeIn {0% {opacity:0}100% {opacity:1;}}
.ms9 .tab_cont .accordion {display: flex; flex-direction: column; border-top: 1px solid #d1d2d3;}
.ms9 .tab_cont .accordion > li{border-bottom: 1px solid #d1d2d3;}
.ms9 .tab_cont .accordion .acc_tit{display: flex; align-items: center; gap: 1.063rem; padding:1rem 0.625rem 1rem 1.063rem;cursor: pointer;}
.ms9 .tab_cont .accordion .acc_tit .q_icon {font-size: 1.875rem; font-weight: 800; line-height: 1; color: #173477;}
.ms9 .tab_cont .accordion .acc_tit .tit{flex: 1;font-size: 1.75rem; font-weight: 500; color: #000000;}
.ms9 .tab_cont .accordion .acc_tit .arrow { background: url(../img/ms9_arrow.png) no-repeat center / contain; transform: rotate(180deg);  width: 0.75rem;  aspect-ratio: 1 / 0.667; transition: all 0.4s ease;}
.ms9 .tab_cont .accordion li.show .acc_tit .arrow {transform: rotate(180deg);}
.ms9 .tab_cont .accordion .acc_cont { display: none;  padding: 0 1.25rem 1.25rem;  font-size: 1.5rem; line-height: 1.5; color: #000000;}
.ms9 .tab_cont .accordion .acc_cont .dot {  font-size: 0.6em;  display: inline-block;   vertical-align: middle;  margin-right: 0.6em;}
.ms9 .tab_cont .accordion .acc_cont .num {  display: inline-block; margin-right: 0.2em;}
.ms9 .tab_cont .accordion .acc_cont .link {display: inline-block; text-decoration: underline;}


.ms10 { background: url(../img/ms10_bg.png) no-repeat center/cover; width: 100%; height: 100%; background: none;} 
.ms10 .ms10_video {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; height: 100%; object-fit: cover;}
.ms10 .txtbox {display: flex; flex-direction: column; align-items: center; padding: 6.25rem 0 18.125rem; text-align: center;}
.ms10 .txtbox .tit{font-size: 2.5rem; line-height: 1.18; font-weight: 500; color: #fff; margin-bottom: 2.75rem;}
.ms10 .txtbox .desc{font-size: 1.25rem; line-height: 1.5; color: rgba(255,255,255,0.8); margin-bottom: 1.875rem;}
.ms10 .txtbox .more_btn{padding: 1.5rem 3.938rem;}

