
/* PC */
@media screen and (max-width: 1800px) {   	

	.header .h_bottom .h_category { max-width: 69%;}

}


@media screen and (max-width: 1580px) {   
	
	.header .h_bottom .h_category { max-width: 72%; gap: 2.4rem; }
	.header .h_bottom .h_schbox { width: 25%; padding: 0 2rem;}

}


@media screen and (max-width: 1440px) {  
	
	.header .h_top { gap: 5.6rem;}

}


@media screen and (max-width: 1380px) {  
	
	.header .h_top { gap: 4.6rem;} 
	.header .h_top .h_nav > li { font-size: 2.2rem;}
	.header .h_bottom .h_category > li { font-size: 1.8rem;}
	
	.prdReview .rv_list { column-count: 4;}

}


@media screen and (max-width: 1280px) {

  	html {font-size: 9px !important;}  

}


@media screen and (max-width: 1180px) {

  	html {font-size: 8px !important;}  

}



  
/* Tablet */
@media screen and (max-width: 1024px) {

  	html {font-size: 10px !important;} 

  	.pc {display: none !important;}
  	.tablet {display: block !important;}
	.container { padding-top: 3rem;}
	.inner {  width: 100%; padding-left: 2rem; padding-right: 2rem;}
	.inner.wide {  padding-left: 2rem;  padding-right: 2rem;}

	.header { min-height: unset; height: 6rem;  padding: 1.6rem 0;}
	.header .h_inner { padding: 0 2rem;}
	.header .h_top { gap: 1rem; justify-content: space-between; }
	.header .h_top .h_logo { width: 8.4rem;}
	.header .h_top .h_nav { display: none;}
	.header .h_top .h_side { gap: 1.6rem;}
	.header .h_top .h_side .btnbox { gap: 1.2rem;}
	.header .h_top .h_side .btnbox .btn { width: 2.2rem;}
	.header .h_bottom {display: none;}


	.footer { padding: 3rem 0 5rem;}
	.footer .f_inner {padding: 0 2rem;}
	.footer .f_topbox {  flex-direction: column; align-items: unset; gap: 2rem; }
	.footer .f_topbox .leftbox .tit { font-size: 1.6rem;}
	.footer .f_topbox .sns_box { justify-content: unset; margin-bottom: 0;}
	.footer .f_centerbox { flex-direction: column;  gap: 4rem;  }
	.footer .f_centerbox .notice_box { width: 100%;  gap: 1.6rem; overflow: hidden;}
	.footer .f_centerbox .notice_box .listbox { gap: 1rem;}
	.footer .f_centerbox .notice_box .listbox .f_desc { white-space: nowrap;  overflow: hidden; text-overflow: ellipsis;}
	.footer .f_centerbox .menubox { flex-wrap: wrap; padding: 0; gap: 4rem 2rem; }
	.footer .f_centerbox .menubox .menuitem { gap: 1.6rem; width: calc((100% - 2rem) / 2);}
	.footer .f_centerbox .menubox .menuitem .listbox{ gap: 1rem;}
	.footer .f_bottombox .linkbox {  justify-content: space-between;  gap: 0.6rem;  margin-bottom: 2.4rem; }
	.footer .f_bottombox .linkbox .link { font-size: 1.2rem;}
	.footer .f_bottombox .infotxt { word-break: keep-all; margin-bottom: 2rem;}


	.popup { min-width: 8.4rem;}
	.popup .linkbox { padding: 0.8rem 1rem;}
	.popup .linkbox > li .link {  font-size: 1.2rem; padding: 0.4rem;}


	.category_box { flex-wrap: wrap; gap: 1rem;  margin-bottom: 3rem; justify-content: unset;}
	.category_box .item {  min-width: unset; height: unset; padding: 0;  border: 0;  border-radius: 0; font-size: 1.3rem;}
	.category_box .item.home { justify-content: unset;  gap: 0.5rem;}	
	.category_box .item.home .icon {width: 1.2rem;}
	.category_box .item .cate_btn { gap: 1rem;}
	.category_box .item .cate_btn .arrow { width: 0.5rem;}


	.prdInner { padding: 0; }
	.prdInfo .imgarea { width: 100%; padding-top: 0; padding-right: 0; gap: 1rem;}
	.prdInfo .imgarea .thumlist { gap: 1rem;}
	.prdInfo .imgarea .thumlist .item::after { border: 0.4rem solid #000000;}
	.prdInfo .infoarea { width: 100%; border-left: 0; padding: 2.4rem 2rem 0;}
	.prdInfo .infoarea .stroebox {  flex-direction: column; align-items: unset;  gap: 1rem; margin-bottom: 2.4rem;}
	.prdInfo .infoarea .stroebox .imgbox { width: 5.6rem;}
	.prdInfo .infoarea .stroebox .txtbox .top .logo { font-size: 2.2rem;}
	.prdInfo .infoarea .stroebox .txtbox .top .url { font-size: 1.4rem;}
	.prdInfo .infoarea .stroebox .txtbox .top .btnbox { width: 100%;}
	.prdInfo .infoarea .stroebox .txtbox .top .btnbox .btn { height: 2.4rem;}
	.prdInfo .infoarea .stroebox .txtbox .desc { margin-top: 1.2rem;  font-size: 1.2rem;  word-break: keep-all;  line-height: 1.4;}
	.prdInfo .infoarea .titbox { border-top: 0.2rem solid #000000;  padding-top: 2.4rem; margin-bottom: 3rem;}
	.prdInfo .infoarea .titbox .prd_number { margin-bottom: 0.6rem; font-size: 1.3rem;}
	.prdInfo .infoarea .titbox .prd_tit { font-size: 1.8rem; margin-bottom: 1.2rem;}
	.prdInfo .infoarea .titbox .pricebox { font-size: 2.4rem;}
	.prdInfo .infoarea .titbox .pricebox .price .small {font-size: 1.6rem;}
	.prdInfo .infoarea .optionbox .opt_select .select {  height: 4.4rem;  font-size: 1.4rem;  padding: 0 1.4rem;  background-position-x: right 1.4rem;}
	.prdInfo .infoarea .optionbox .opt_list { gap: 1rem;}
	.prdInfo .infoarea .optionbox .opt_list .item { width: calc((100% - 1rem * 3) / 4);}
	.prdInfo .infoarea .optionbox .opt_list .item .opt_label .imgbox::after { border: 2px solid #000;}
	.prdInfo .infoarea .optionbox .opt_list .item .opt_label .imgbox .icon {  right: 0.5rem; top: 0.5rem;}
	.prdInfo .infoarea .optionbox .opt_list .item .opt_label .imgbox .icon.hot1 { width: 1.2rem;}
	.prdInfo .infoarea .optionbox .opt_list .item .opt_label .imgbox .icon.hot2 { width: 1.2rem;}
	.prdInfo .infoarea .optionbox .opt_list .item .opt_label .tit { font-size: 1.2rem;}
	.prdInfo .infoarea .optionbox .opt_controls { margin-top: 2rem;}
	.prdInfo .infoarea .optionbox .opt_controls .controls .btn { width: 4rem;  background-size: 1.2rem;}
	.prdInfo .infoarea .optionbox .opt_controls .controls .input {  width: 7rem;  padding: 0 1.2rem; font-size: 1.4rem;}
	.prdInfo .infoarea .optionbox .opt_controls .rightbox .cart_btn {  width: unset;  height: 4rem;  font-size: 1.4rem;   padding: 0 1.6rem;}
	.prdInfo .infoarea .optionbox .opt_controls .rightbox .cart_btn .icon { width: 1rem;}
	.prdInfo .infoarea .totalbox { margin-top: 2.4rem; gap: 2.4rem;}
	.prdInfo .infoarea .totalbox .total_opt { gap: 1.2rem;}
	.prdInfo .infoarea .totalbox .total_opt .item { padding: 1.2rem 1.4rem; gap: 1rem 1.2rem;  gap: 0.4rem;}
	.prdInfo .infoarea .totalbox .total_opt .item .tit { font-size: 1.3rem;}	
	.prdInfo .infoarea .totalbox .total_opt .item .desc { font-size: 1.4rem;}
	.prdInfo .infoarea .totalbox .total_opt .item .del_btn {width: 1.4rem;  top: 1.4rem; }
	.prdInfo .infoarea .totalbox .total_btns { gap: 1rem;  flex-wrap: wrap;}
	.prdInfo .infoarea .totalbox .total_btns .btn {  height: 5rem; font-size: 1.4rem;  order: 2;}
	.prdInfo .infoarea .totalbox .total_btns .btn.typeB { order: 1;  width: 100%;  flex: unset;}
	.prdInfo .infoarea .totalbox .total_btns .btn.wish_btn,
	.prdInfo .infoarea .totalbox .total_btns .btn.share_btn { background-size: 2rem; width: 5rem;}
	.prdInfo .infoarea .infotxtbox {  gap: 4rem;  margin-top: 5rem;}
	.prdInfo .infoarea .infotxtbox .item { gap: 1rem;}
	.prdInfo .infoarea .infotxtbox .item .tit { font-size: 1.6rem;}
	.prdInfo .infoarea .infotxtbox .item .tit .arrow { width: 1rem;}
	.prdInfo .infoarea .infotxtbox .item .desc { font-size: 1.3rem;}	
	.prdInfo .infoarea .infotxtbox .item.spec {  padding-top: 4rem; padding-bottom: 4rem;  margin-top: 0;}
	.prdInfo .infoarea .infotxtbox .item.spec::before { left: -2rem;  width: 100vw;}
	.prdInfo .infoarea .infotxtbox .item.spec .descbox {  gap: 1.6rem;  margin-top: 1rem;}
	.prdInfo .infoarea .infotxtbox .item.spec .descitem {  flex-direction: column;  align-items: unset;  gap: 0.6rem;}
	.prdInfo .infoarea .infotxtbox .item.spec .descitem .desc_tit {  width: 100%;}
				
	.prdInner { flex-direction: column;}
	.prdTitbox::after { top: 50%; width: 1.4rem; transform: translateY(-50%);}
	.prdTitbox .prdTitle { font-size: 2rem;}

	.prdDetail .imgarea {  flex: unset; height: 60rem;  padding-top: 0; padding-right: 0;}
	.prdDetail .imgarea .move_view {  white-space: nowrap;  bottom: 4rem;  height: 4.4rem;  font-size: 1.4rem;}
	.prdDetail .infoarea { width: 100%; border-left: 0;  padding: 2.4rem 2rem 4rem;}
	.prdDetail .infoarea .titbox {  margin-bottom: 3rem;}
	.prdDetail .infoarea .titbox .prd_number { margin-bottom: 0.6rem; font-size: 1.3rem;}
	.prdDetail .infoarea .titbox .prd_tit { font-size: 1.8rem; margin-bottom: 1.2rem;}
	.prdDetail .infoarea .titbox .pricebox { font-size: 2.4rem;}
	.prdDetail .infoarea .titbox .pricebox .price .small {font-size: 1.6rem;}
	.prdDetail .infoarea .optionbox .opt_select .select {  height: 4.4rem;  font-size: 1.4rem;  padding: 0 1.4rem;  background-position-x: right 1.4rem;}
	.prdDetail .infoarea .optionbox .opt_list .itembox { gap: 1rem;}
	.prdDetail .infoarea .optionbox .opt_list .item { width: calc((100% - 1rem * 3) / 4);}
	.prdDetail .infoarea .optionbox .opt_list .item .opt_label .imgbox::after { border: 2px solid #000;}
	.prdDetail .infoarea .optionbox .opt_list .item .opt_label .imgbox .icon {  right: 0.5rem; top: 0.5rem;}
	.prdDetail .infoarea .optionbox .opt_list .item .opt_label .imgbox .icon.hot1 { width: 1.2rem;}
	.prdDetail .infoarea .optionbox .opt_list .item .opt_label .imgbox .icon.hot2 { width: 1.2rem;}
	.prdDetail .infoarea .optionbox .opt_list .item .opt_label .tit { font-size: 1.2rem;}
	.prdDetail .infoarea .optionbox .opt_controls { margin-top: 2rem;}
	.prdDetail .infoarea .optionbox .opt_controls .controls .btn { width: 4rem;  background-size: 1.2rem;}
	.prdDetail .infoarea .optionbox .opt_controls .controls .input {  width: 7rem;  padding: 0 1.2rem; font-size: 1.4rem;}
	.prdDetail .infoarea .optionbox .opt_controls .rightbox .cart_btn {  width: unset;  height: 4rem;  font-size: 1.4rem;   padding: 0 1.6rem;}
	.prdDetail .infoarea .optionbox .opt_controls .rightbox .cart_btn .icon { width: 1rem;}
	.prdDetail .infoarea .totalbox { margin-top: 2.4rem; gap: 2.4rem;}
	.prdDetail .infoarea .totalbox .total_opt { gap: 1.2rem;}
	.prdDetail .infoarea .totalbox .total_opt .item { padding: 1.2rem 1.4rem; gap: 1rem 1.2rem;  gap: 0.4rem;}
	.prdDetail .infoarea .totalbox .total_opt .item .tit { font-size: 1.3rem;}	
	.prdDetail .infoarea .totalbox .total_opt .item .desc { font-size: 1.4rem;}
	.prdDetail .infoarea .totalbox .total_opt .item .del_btn {width: 1.4rem;  top: 1.4rem; }
	.prdDetail .infoarea .totalbox .total_btns { gap: 1rem;  flex-wrap: wrap;}
	.prdDetail .infoarea .totalbox .total_btns .btn {  height: 5rem; font-size: 1.4rem;  order: 2;}
	.prdDetail .infoarea .totalbox .total_btns .btn.typeB { order: 1;  width: 100%;  flex: unset;}
	.prdDetail .infoarea .totalbox .total_btns .btn.wish_btn,
	.prdDetail .infoarea .totalbox .total_btns .btn.share_btn { background-size: 2rem; width: 5rem;}
	
	.prdReview { padding: 3rem 0;}
	.prdReview .rv_top {gap: 2.4rem; margin-bottom: 6rem; margin-top: 2.4rem;}
	.prdReview .rv_top .rv_btn {  font-size: 2rem; width: 100%;  font-size: 1.8rem;   height: 5rem;}
	.prdReview .rv_top .bottombox .rate {  padding: 0; gap: 1.2rem 0;  flex-direction: column;}
	.prdReview .rv_top .bottombox .rate .rate_tit { font-size: 2rem;}
	.prdReview .rv_top .bottombox .rate .rate_box {  flex-direction: column;  gap: 1rem;  align-items: unset;}
	.prdReview .rv_top .bottombox .rate .rate_box > .item .star { height: 1.2rem;}
	.prdReview .rv_top .bottombox .rate .rate_box > .item .number {  font-size: 1.5rem;}
	.prdReview .rv_top .bottombox .summation {  padding: 2rem; gap: 1.2rem;}
	.prdReview .rv_top .bottombox .summation .title { gap: 1rem;  flex-direction: column;  align-items: unset;}
	.prdReview .rv_top .bottombox .summation .title .tit { font-size: 1.6rem;}
	.prdReview .rv_top .bottombox .summation .title .sub { font-size: 1.3rem;}
	.prdReview .rv_top .bottombox .summation .desc { font-size: 1.2rem;}
	.prdReview .rv_list { column-count: 2; column-gap: 1.2rem; margin-bottom: 4rem; }
	.prdReview .rv_list > .item { margin-bottom: 2.4rem;}
	.prdReview .rv_list > .item .imgbox { max-height: 24rem;}
	.prdReview .rv_list > .item .txtbox { padding: 1.4rem; gap: 1.6rem;}
	.prdReview .rv_list > .item .txtbox .top { flex-direction: column;  gap: 0.4rem;}
	.prdReview .rv_list > .item .txtbox .top .profile {  width: 4rem;}
	.prdReview .rv_list > .item .txtbox .top .info { text-align: center;}
	.prdReview .rv_list > .item .txtbox .top .info .name {  font-size: 1.4rem;}
	.prdReview .rv_list > .item .txtbox .top .info .txt { font-size: 1rem; word-break: keep-all; display: flex;  flex-direction: column;}
	.prdReview .rv_list > .item .txtbox .top .info .bar {display: none;}
	.prdReview .rv_list > .item .txtbox .rate { justify-content: center;}
	.prdReview .rv_list > .item .txtbox .rate .star { height: 1rem;}
	.prdReview .rv_list > .item .txtbox .rate .number { font-size: 1.2rem;}
	.prdReview .rv_list > .item .txtbox .cont { gap: 0.4rem; text-align: center;}
	.prdReview .rv_list > .item .txtbox .cont .tit { font-size: 1.5rem;}
	.prdReview .rv_list > .item .txtbox .cont .desc { font-size: 1.2rem;}
	.prdReview .rv_more { width: 100%; height: 5rem; font-size: 1.8rem; }

	.prdQnA { padding: 3rem 0;}
	.prdQnA .prdContbox { padding-bottom: 3rem;}
	.prdQnA .tabbox { flex-wrap: nowrap; gap: 0.6rem;  margin: 2.4rem -2rem 3rem;  padding: 0 2rem; width: calc(100% + 2rem * 2);  overflow: auto; white-space: nowrap;}
	.prdQnA .tabbox::-webkit-scrollbar {display: none;}
	.prdQnA .tabbox .tab {  font-size: 1.3rem;}
	.prdQnA .qna_list .topbox { padding: 0; flex-direction: column; align-items: unset;  gap: 1rem;}
	.prdQnA .qna_list .topbox .leftbox .title { font-size: 1.6rem;}
	.prdQnA .qna_list .topbox .rightbox { gap: 1.2rem; justify-content: unset;}
	.prdQnA .qna_list .topbox .rightbox .check_box { gap: 0.6rem;}
	.prdQnA .qna_list .topbox .rightbox .check_box .input_check { width: 1.6rem;  height: 1.6rem;}
	.prdQnA .qna_list .topbox .rightbox .check_box .label_check {  font-size: 1.3rem;}
	.prdQnA .qna_list .topbox .rightbox .write_btn {  font-size: 1.3rem;   padding: 0 2rem;  height: 3rem;  margin-left: auto;}
	.prdQnA .qna_list .listitem {  padding: 1.6rem 1rem;}
	.prdQnA .qna_list .listitem .top { gap: 1.2rem;}
	.prdQnA .qna_list .listitem .top .name { font-size: 1.4rem;}
	.prdQnA .qna_list .listitem .state { font-size: 1.3rem;}
	.prdQnA .qna_list .listitem .desc { font-size: 1.2rem;}
	.prdQnA .qna_list .listitem .scret { gap: 0.4rem;}
	.prdQnA .qna_list .listitem .scret .icon {  width: 1rem;}
	.prdQnA .qna_list .listitem .scret .txt { font-size: 1.2rem;}
	.prdQnA .qna_list .listitem .answerbox {  margin-top: 1.6rem; padding-top: 0.8rem;  padding-left: 2.2rem; font-size: 1.2rem;}
	.prdQnA .qna_list .listitem .answerbox::before { left: 0.4rem; top: 1rem; width: 1.2rem;}
	.prdQnA .qna_list .listitem .answerbox .answer_tit { margin-bottom: 1rem;}

	.prdGuide { padding: 3rem 0;}
	.prdGuide .guide_box { margin-top: 2.4rem; gap: 4rem;}
	.prdGuide .guide_box .item .tit { font-size: 1.6rem; }
	.prdGuide .guide_box .item { gap: 1.2rem;}
	.prdGuide .guide_box .item .descbox { gap: 0.6rem;}
	.prdGuide .guide_box .item .descbox .desc { font-size: 1.2rem;  line-height: 1.4;  word-break: keep-all;}








	

}



/* Mobile */
@media screen and (max-width: 599px) {
	
  	.mobile {display: block !important;}
  
}

