@media screen and (max-width: 1670px) {

    html {
        font-size: 16px;
    }

}


@media screen and (max-width: 1570px) {

    html {
        font-size: 15.5px;
    }

    .MessageBox .Msgbox .Msgitem {
        width: 22%;
    }

}


@media screen and (max-width: 1470px) {

    html {
        font-size: 15px;
    }

}


@media screen and (max-width: 1400px) {

    html {
        font-size: 14px;
    }

    .MessageBox .Msgbox .Msgitem {
        width: 23%;
    }

}


@media screen and (max-width: 1280px) {

    html {
        font-size: 13.5px;
    }

    .MessageBox .Msgbox {
        width: 95%;
    }

    .MessageBox .Msgbox .Msgitem {
        padding: 3rem 1.5rem 1.8rem;
    }


    .MessageBox .Msgbox .Msgitem>img {
        max-width: 42%;
    }
}


@media screen and (max-width: 1024px) {

    html {
        font-size: 18px;
    }

    .Header .flex-logo {
        text-align: center;
        max-width: 30%;
        margin: auto;
    }

    .IntroBox .MainInner {
        flex-direction: column-reverse;
    }

    .IntroBox .txtbox {
        text-align: center;
        margin-top: 3rem;
        width: 100% !important;
    }

    .IntroBox .imgbox {
        width: 100% !important;
    }

    .IntroBox .imgbox img {
        max-width: 320px;
    }

    .IntroBox .Intro-Ban {
        margin-top: 8rem;
    }

    .IntroBox .Intro-Ban .banner {
        animation: marquee 18s linear infinite;
    }

    .MessageBox .Msgbox {
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-around;
    }

    .MessageBox .Msgbox .Msgitem {
        width: 42%;
    }

    .RecommendBox {
        margin-bottom: 10rem;
    }

    .RecommendBox .Mmsbox {
        margin: 8rem auto 0;
        flex-direction: column;
    }

    .RecommendBox .Mmsitem {
        margin: auto;
        width: 80%;
    }

    .RecommendBox .Mmsitem:nth-child(1) {
        margin-top: 0;
        margin-bottom: 8em;
    }

    .SolutionBox .Solbox {
        flex-direction: column;
        gap: 6rem 0;
    }

    .SolutionBox .Solbox .Solitem {
        width: 85%;
        margin: auto;
    }

    .TrustBox .Trustitem {
        flex-direction: column;
    }

    .TrustBox .Trustitem .imgbox {
        width: 90%;
        margin-bottom: 2rem;
    }

    .TrustBox .Trustitem .txtbox {
        width: 90%;
        text-align: center;
    }

    .MainPartner {
        margin-bottom: 10rem;
    }

    .MainPartner .partner-Ban .banner {
        animation: marquee2 200s linear infinite;
    }

    .HistoryBox {
        margin-bottom: 10rem;
    }

    .HistoryBox .deco_img {
        left: 50%;
        width: 100%;
        top: 7%;
    }    

    .HistoryBox .deco_img img {
        width: 85%;
    }

    .HistoryBox .History .HistoryItem {
        flex-direction: column;
    }

    .HistoryBox .History .HistoryItem .year {
        padding-right: 0;
    }

    .HistoryBox .History .HistoryItem .year span {
        background-color: transparent;
    }

    .HistoryBox .History .HistoryItem.line .year::before {
        display: none;
    }

    .HistoryBox .History .HistoryItem .list {
        margin-top: 2rem;
    }

    .HistoryBox .History .HistoryItem .list p {
        font-size: 1.3rem;
        word-break: keep-all;
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem 0;
        margin-bottom: 1.5rem;
    }

    .HistoryBox .History .HistoryItem .list p .date {
        position: relative;
        right: auto;
        top: auto;
    }

    .Footer .footer_info {
        flex-direction: column-reverse;
        gap: 3rem 0;
    }

    .Footer .infobox1 {
        padding-left: 0;
    }

    .Footer .infobox1 .tit {
        font-size: 1.1rem;
    }

    .Footer .infobox1 .desc {
        font-size: 1.1rem;
    }

    .Footer .infobox1 .copyright {
        font-size: 1.1rem;
    }

}


@media screen and (max-width: 800px) {

    html {
        font-size: 14px;
    }

    .IntroBox {
        padding-top: 5rem;
    }

    .MessageBox {
        margin: 10rem 0;
    }

}


@media screen and (max-width: 700px) {

    html {
        font-size: 13px;
    }

    .MainTxt1 {
        width: 95%;
        margin: auto;
        word-break: keep-all;
    }
}


@media screen and (max-width: 599px) {

    html {
        font-size: 11px;
    }

    .IntroBox {
        padding-top: 4rem;
    }

    .IntroBox .imgbox img {
        max-width: 200px;
    }

    .IntroBox .txtbox .s1-txt1 {
        font-size: 1.7rem;
    }

    .IntroBox .txtbox .s1-txt2 {
        font-size: 3.5rem;
    }

    .IntroBox .txtbox .s1-txt3 {
        font-size: 1.5rem;
    }

    .IntroBox .Intro-Ban {
        margin-top: 6rem;
        height: 25px;
    }

    .IntroBox .Intro-Ban .banner {
        height: 25px;
        background-size: 140px 25px;
    }

    .MessageBox {
        margin: 7rem 0;
    }

    .MainInner {
        width: 90%;
    }

    .MainTxt1 {
        font-size: 2.7rem;
        margin-bottom: 1rem;
    }

    .MainTxt2 {
        font-size: 1.5rem;
        width: 95%;
        margin: auto;
    }

    .MainTxt3 {
        font-size: 1.5rem;
    }

    .MainTxt4 {
        font-size: 2.4rem;
        width: 95%;
        margin: auto;
        word-break: keep-all;
    }

    .MessageBox .Msgbox .Msgitem {
        width: 85%;
        margin-top: 5rem;
    }

    .MessageBox .Msgbox .Msgitem:nth-child(1) {
        margin-top: 0;
    }

    .MessageBox .Msgbox .Msgitem>p {
        font-size: 1.75rem;
    }

    .MessageBox .Msgbox .Msgitem>img {
        max-width: 35%;
    }

    .RecommendBox .Mmsitem {
        width: 85%;
    }

    .RecommendBox .Mmsitem .imgbox {
        width: 100%;
    }

    .RecommendBox .Mmsitem .emoji-img1 {
        max-width: 20%;
    }

    .RecommendBox .Mmsitem .emoji-img2 {
        max-width: 23%;
    }

    .MainPartner .partner-Ban {
        height: 30px;
    }

    .MainPartner .partner-Ban .banner {
        width: calc(1440px * 5);
        height: 30px;
        background-size: 1415px 30px;
        animation: marquee2 250s linear infinite;
    }

    .HistoryBox .deco_img img {
        width: 100%;
    }

    .HistoryBox .History .HistoryItem .list p {
        text-indent: -0.7rem;
        padding-left: 0.75rem;
    }

    .Footer .infobox1 .tit {
        font-size: 1.1rem;
        width: 100px;
    }

    .Footer .infobox1 .desc {
        width: calc(100% - 100px);
    }

}


@media screen and (max-width: 320px) {

    html {
        font-size: 10px;
    }

    .MainTxt1 {
        font-size: 2.6rem;
    }

    .MainTxt4 {
        font-size: 2.2rem;
    }

    .RecommendBox .Mmsitem .inner {
        padding: 4rem 3.5rem;
    }

}