

/* PC */
@media screen and (max-width: 1560px) {    

  	html {font-size: 15.5px !important;}  
	
}


@media screen and (max-width: 1440px) {    

  	html {font-size: 15px!important;}    
	
}


@media screen and (max-width: 1380px) {    

  	html {font-size: 14.5px !important;} 	

}


@media screen and (max-width: 1200px) {

  	html {font-size: 14px !important;}  

}



  
/* Tablet */
@media screen and (max-width: 1024px) {

  	html {font-size: 16px !important;} 

  	.pc {display: none !important;}
  	.tablet {display: block !important;}
	.container { padding-top: 6.4rem;}
	.inner {width: 100%; padding-left: 2rem; padding-right: 2rem;}


	/* header */
	.header {position: fixed;  height: 6.4rem; border-bottom: 0;  border-bottom: 1px solid #adb5c3; }
	.header .h_top { gap: 1.6rem; width: 100%;}
	.header .h_top .h_left .h_logo { width: 17.5rem; display: none;}
	.header .h_top .h_search { display: none;}
	.header .h_top .h_title {font-weight: 600;font-size: 2rem;line-height: 100%;text-align: center;color: #000064; flex: 1;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 0.4rem;}
	.header .h_top .h_right .campaign_btn {display: none;}
	.header .h_top .h_right .mybox {display: none;}
	.header .h_bottom { display: none;}
	.header .h_inner { padding: 0 1.8rem; gap: 1rem; height: 100%; flex-direction: row; align-items: center;}
	.main_wrap .header {background: #1c273e; border-color: #1c273e;}
	.main_wrap .header .h_top .h_left .h_logo { display: flex;}
	.main_wrap .header .h_top .h_title {display: none !important;}
	.main_wrap .header .h_top .back_btn {display: none !important;}
	.main_wrap .header .h_top .menu_open {background-image: url(../img/menu_open_wt.png)}
	

	/* navbox */
	.navbox { max-width: 400px;}


	/* footer */
	.footer { padding: 1.8rem 0;}
	.footer .f_inner { gap: 3.2rem;}
	.footer .f_top { gap: 4.2rem;}
	.footer .f_top .f_logo { width: 12.6rem;}
	.footer .f_top .f_info {  flex-direction: column; align-items: unset; gap: 1.7rem;}
	.footer .f_top .f_info .email { font-size: 2rem;color: #fff;}
	.footer .f_top .f_info .linkbox { gap: 0.8rem;}
	.footer .f_top .f_info .linkbox .link { padding: 0.9rem;  border-radius: 0.5rem;   font-size: 1.2rem;}
	.footer .f_bottom .leftbox { width: 100%;}
	.footer .f_bottom .rightbox { display: none;}
	.footer .f_bottom .leftbox .com_tit { margin-bottom: 0.9rem; font-size: 1.2rem;}
	.footer .f_bottom .leftbox .com_info { font-size: 1rem; line-height: 180%;  margin-bottom: 1.6rem;}
	.footer .f_bottom .leftbox .f_copy { font-size: 1rem;}


	/* datepicker */
	.ui-datepicker {  margin-top: 1.2rem;  box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.1);  border-radius: 1.2rem; padding: 1.6rem 1.2rem; z-index: 50;} 
	.ui-datepicker .ui-datepicker-header { padding: 0 0.6rem; margin-bottom: 1rem;}
	.ui-datepicker .ui-datepicker-title { font-size: 1.5rem; gap: 1.4rem;}
	.ui-datepicker .ui-datepicker-title select { font-size: 1.5rem;  background-size: 1.3rem; padding-right: 1.6rem;}
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { width: 1.6rem  !important; }
	.ui-datepicker .ui-datepicker-prev {order: 2; margin-right: 0.8rem;}	
	.ui-datepicker-calendar>thead>tr>th { width: 3rem; height: 3rem;  padding: 0;  }
	.ui-datepicker-calendar>thead>tr>th span { font-size: 1.4rem;}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { width: 3rem; height: 3rem; font-size: 1.4rem;}
	.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,
	.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,
	.ui-button:hover,.ui-button:focus { width: 3rem; height:3rem;}	
	.ui-state-active::before, .ui-widget-content .ui-state-active::before, .ui-widget-header .ui-state-active::before, a.ui-button:active::before, .ui-button:active::before, .ui-button.ui-state-active:hover::before { border-radius: 0.8rem;  width: 3rem; }


	/* modal */
	.modal .modal_box { padding: 1.6rem 2rem 2rem; max-width: calc(100% - 2rem * 2); border-radius: 2rem;}
	.modal .modal_box .modal_head { margin-bottom: 2.4rem;}
	.modal .modal_box .modal_head .modal_tit { font-size: 1.8rem;}
	.modal .modal_box .modal_head .modal_close { width: 3rem;}
	.modal .modal_box .modal_foot { margin-top: 2.4rem;  gap: 1rem;}
	.modal .modal_box .modal_foot .modal_btn { height: 5rem;  border-radius: 0.5rem;  font-size: 1.6rem; padding: 0 1rem;}


	/* form */
	.form_box { gap: 2.9rem;}	
	.check_wrap { gap: 1rem 2rem;}
	.check_box { gap: 0.98em; }
	.check_box .input_check { width: 1.8rem; height: 1.8rem;}
	.check_box .label_check { font-size: 1.2rem; }	
	.radio_wrap { gap: 1rem 2rem;}
	.radio_box { gap: 0.9rem; }
	.radio_box .input_radio { width: 2rem; height: 2rem;}
	.radio_box .label_radio { font-size: 1.4rem; }
	.input_box .input_text {  height: 3.4rem; font-size: 1.4rem; border-radius: 0.5rem;   padding: 0 1.1rem;}
	.select_box .select { height: 3.4rem; font-size: 1.4rem;  border-radius: 0.5rem;   padding-left: 1.1rem;  padding-right: 3rem;  background-size: 0.8rem;  background-position-x: right 1.4rem;}
	.date_box .date_item { height: 3rem;  font-size: 1.2rem;}
	.date_box .date_item .input { width: 8.8rem; padding: 0 0.8rem;}
	.range_wrap { padding: 0 1.2rem;}
	.range_wrap .noUi-target { height: 2rem;}
	.range_wrap .noUi-connects { width: calc(100% + 1.2rem * 2); margin: 0 -1.2rem;}
	.range_wrap .noUi-origin {height: calc(100% - 0.4rem); margin-top: 0.2rem;}
	.range_wrap .noUi-handle { width: 2.4rem; right: -1.2rem;}
	.range_wrap .range_scale { margin-top: 0.9rem; padding: 0; width: calc(100% + 1.2rem * 2); margin: 0.563rem -1.2rem 0;}
	.range_wrap .range_scale .txt {font-size: 1.2rem;}


	/* search modal */
	.search_modal .sch_list .form_item > .tit { font-size: 1.6rem; margin-bottom: 1.7rem;}
	.search_modal .sch_list .date_box { margin-top: 1.1rem;}
	.search_modal .sch_list .range_wrap { margin-top: 1.7rem;}


	/* 메인 */
	.m_titbox { gap: 1rem;}
	.m_txt1 { font-size: 2rem;}
	.m_txt2 { font-size: 1.4rem;}
	.m_txt2.small { font-size: 1rem;}

	.ms1 { margin-bottom: 3.6rem;}
	.ms1::before, .ms1::after {display: none;}
	.ms1 > .inner {padding: 0;}
	.ms1 .ms1_swiper { overflow: hidden;}
	.ms1 .ms1_swiper .item { height: 24rem; border-radius: 0;}
	.ms1 .ms1_swiper .item .imgbox { opacity: 1;}
	.ms1 .ms1_swiper .item .imgbox::after { opacity: 1;}
	.ms1 .ms1_swiper .item .txtbox { opacity: 1; padding: 1.4rem 1.6rem;}
	.ms1 .ms1_swiper .item .txtbox .tit { font-size: 1.6rem; margin-bottom: 0.7rem;}
	.ms1 .ms1_swiper .item .txtbox .desc { font-size: 1.1rem;  line-height: 127%;   white-space: unset; overflow: unset; word-break: keep-all;}
	.ms1 .ms1_swiper .item .txtbox .hashbox {gap: 0.6rem; margin-top: 1.4rem;}
	.ms1 .ms1_swiper .item .txtbox .hashbox .tag { font-size: 1rem;}
	.ms1 .ms1_swiper .prev_btn, .ms1 .ms1_swiper .next_btn { width: 2rem;}
	.ms1 .ms1_swiper .prev_btn { left: 0.9rem;}
	.ms1 .ms1_swiper .next_btn { right: 0.9rem;}
	.ms1 .ms1_pag { margin-top: 1.4rem;  gap: 0.4rem;}
	.ms1 .ms1_pag .swiper-pagination-bullet { width: 0.5rem;}

	.ms2 {margin-bottom: 4.5rem;  padding-top: 2.8rem;}
	.ms2 > .inner {gap: 2.6rem;}
	.ms2 .contbox1 {display: none;}
	.ms2 .mob_contbox1 { display: flex; flex-direction: column; gap: 1.5rem; border-radius: 2rem; background: #dce4ed; padding: 1rem; }
	.ms2 .mob_contbox1 .topbox {display: flex; flex-direction: column;align-items: center; }
	.ms2 .mob_contbox1 .topbox .img { width: 23.6rem; display: block;  margin: 0 auto; transform: translateX(2.2rem); margin-top: -3.8rem; }
	.ms2 .mob_contbox1 .topbox .tit { position: relative;font-family: var(--second-family); font-weight: 600;  font-size: 1.4rem;  line-height: 100%; text-align: center;  color: #fff;  padding: 0.9rem 1.5rem; background: #182b55;  border-radius: 10rem; margin-top: -0.2rem;  z-index: 5;}
	.ms2 .mob_contbox1 .itembox { display: flex; gap: 1rem; }
	.ms2 .mob_contbox1 .itembox .item {  width: calc((100% - 1rem) / 2); border: 1px solid rgba(255, 255, 255, 0.4);  border-radius: 1rem; background: rgba(255, 255, 255, 0.5); padding: 1.5rem 1rem 1.6rem;}
	.ms2 .mob_contbox1 .itembox .item > .link {  width: 100%;  height: 100%;  display: flex;   flex-direction: column;  align-items: center;  gap: 0.6rem;  text-align: center;}
	.ms2 .mob_contbox1 .itembox .item .icon { width: 3rem; margin-bottom: 0.9rem;}
	.ms2 .mob_contbox1 .itembox .item .tit { font-family: var(--second-family);font-weight: 600;font-size: 2rem;line-height: 100%;text-align: center;color: #182b55;}
	.ms2 .mob_contbox1 .itembox .item .desc { font-size: 1.2rem;line-height: 125%;text-align: center;color: #182b55;}
	.ms2 .contbox2 { flex-direction: column; align-items: unset; gap: 1.4rem; }
	.ms2 .contbox2 .bar {display: none;}
	.ms2 .contbox2 .item { max-width: unset;  align-items: unset; gap: 0.4rem;   text-align: unset;  padding-bottom: 0.9rem;  border-bottom: 1px solid #c3cfdb;}
	.ms2 .contbox2 .item .tit { font-size: 1.3rem;}
	.ms2 .contbox2 .item .desc { font-size: 2.4rem;  text-align: right;}
	.ms3 { margin-bottom: 10rem;}


	/* product */
	.prd_wrap { gap: 2.2rem;}
	.prd_top .leftbox { padding-left: 0;}
	.prd_top .rightbox .check_wrap,
	.prd_top .rightbox .select_box {display: none;}
	.prd_top .rightbox .link_btn { font-size: 1.1rem; padding: 0.5rem 1rem;}	
	.prd_top .rightbox .search_btn { width: 2.4rem;}
	.prd_list { flex-wrap: nowrap; flex-direction: column; gap: 4rem;}
	.prd_list .prd_item { width: 100%; }
	.prd_list .prd_item > .link { gap: 0.7rem;}
	.prd_list .prd_item .imgbox { height: 21.3rem; border-radius: 1rem;}
	.prd_list .prd_item .imgbox .top {  top: 2rem;}
	.prd_list .prd_item .imgbox .top .left { padding-left: 1rem;}
	.prd_list .prd_item .imgbox .top .left .date { height: 2rem; font-size: 1.1rem;  border-radius: 0.2rem; padding: 0 0.5rem;}
	.prd_list .prd_item .imgbox .top .right .wish_btn { width: 2rem;}
	.prd_list .prd_item .imgbox .bottom {  bottom: 1rem; padding: 0 1rem;}
	.prd_list .prd_item .imgbox .bottom .percent {display: none;}
	.prd_list .prd_item .imgbox .bottom .progress { height: 0.5rem;}
	.prd_list .prd_item .txtbox { gap: 0.7rem;}	
	.prd_list .prd_item .txtbox .title { font-size: 1.7rem;}
	.prd_list .prd_item .txtbox .profile { gap: 1rem;}
	.prd_list .prd_item .txtbox .profile .thum { width: 5rem; }
	.prd_list .prd_item .txtbox .profile .info { flex: 1; gap: 0.7rem;}
	.prd_list .prd_item .txtbox .profile .info .tit { font-size: 1.4rem; gap: 0.7rem;}
	.prd_list .prd_item .txtbox .profile .info .tit .bar { height: 1.3rem; }
	.prd_list .prd_item .txtbox .profile .info .tit .place { font-size: 1.1rem;}
	.prd_list .prd_item .txtbox .profile .info .desc { font-size: 1.1rem;}
	.prd_list .prd_item .txtbox .profile .percent { background: url(../img/prd_percent.png) no-repeat center / contain;width: 5rem;  aspect-ratio: 1 / 1;  display: flex;  align-items: center;  justify-content: center;  font-weight: 700; font-size: 1.5rem;  line-height: 100%; text-decoration: underline; text-align: center; color: #000;}


	/* 캠페인 목록 */
	.prdlist_sec { margin-top: 2.7rem; margin-bottom: 4.5rem;}


	/* 검색 결과 */
	.prdlist_search {margin-top: 2.7rem;  margin-bottom: 4rem; }
	.prdlist_search > .inner { gap: 1.4rem;}
	.prdlist_search .inputarea { padding: 0 1rem 1.2rem;}
	.prdlist_search .inputarea .sch_btn { width: 2.4rem;}
	.prdlist_search .infoarea { gap: 0.6rem; font-size: 1.2rem;}
	.prdlist_sec2 { margin-bottom: 4.5rem;}


	/* 캠페인 상세 */
	.prddetail_sec {margin-bottom: 0;}
	.prddetail_sec > .inner {padding: 0;}
	.prddetail_sec .detail_info { gap: 1.7rem; flex-direction: column;}
	.prddetail_sec .d_leftbox {width: 100%;}
	.prddetail_sec .d_leftbox .pic_box { gap: 0;}
	.prddetail_sec .d_leftbox .pic_box .detail_pic { border-radius: 0;}
	.prddetail_sec .d_leftbox .pic_box .detail_pic .item { height: 26.9rem;}
	.prddetail_sec .d_leftbox .pic_box .detail_pic .prev_btn, 
	.prddetail_sec .d_leftbox .pic_box .detail_pic .next_btn { width: 3rem;}
	.prddetail_sec .d_leftbox .pic_box .detail_pic .prev_btn { left: 1rem;}
	.prddetail_sec .d_leftbox .pic_box .detail_pic .next_btn { right: 1rem;}
	.prddetail_sec .d_leftbox .pic_box .detail_thum { display: none;}
	.prddetail_sec .d_rightbox { width: 100%; padding: 0 2rem;}
	.prddetail_sec.is_fixed .d_rightbox { position: unset; top: unset; right: unset;   max-width: 100%;}
	.prddetail_sec.is_bottom .d_rightbox { position: unset; bottom: unset; top: unset;  right: unset;}
	.prddetail_sec .d_rightbox .infobox { border-top: 0; padding-top: 0; margin-bottom: 0.5rem;}
	.prddetail_sec .d_rightbox .infobox .date {  padding: 0.4rem 0.5rem;  border-radius: 0.2rem;  font-size: 1.1rem;  margin-bottom: 1.1rem;}
	.prddetail_sec .d_rightbox .infobox .tit { font-size: 2.4rem; margin-bottom: 1.1rem;  word-break: keep-all;}
	.prddetail_sec .d_rightbox .infobox .desc { font-size: 1.6rem;}
	.prddetail_sec .d_rightbox .infobox .tagbox { gap: 0.8rem 0.7rem; margin-top: 1.3rem;}
	.prddetail_sec .d_rightbox .infobox .tagbox .tag { padding: 0.6rem 0.7rem; font-size: 1rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox { order: 2; border: 1px solid #adb5c3; border-radius: 1rem; background: #fff; display: flex; flex-direction: column;  gap: 1.7rem; padding: 2rem 2rem 1.1rem; margin-top: 1.9rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .profile { display: flex; gap: 0.9rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .profile .thum { width: 5rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .profile .info { gap: 0.7rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .profile .info .name {  font-size: 1.4rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .profile .info .place { font-size: 1.2rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .desclist { border-bottom: 0;   padding: 0.8rem 0.4rem 0;  gap: 0.4rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .desclist .item { font-size: 1.2rem;  gap: 1rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .desclist .item .tit { width: 5rem;}
	.prddetail_sec .d_rightbox .bottombox .descbox .desclist .item .desc { text-align: right;}
	.prddetail_sec .d_rightbox .bottombox .btnbox { order: 3; display: flex;  gap: 0.8rem; margin-top: 0.8rem;}
	.prddetail_sec .d_rightbox .bottombox .btnbox .btn { flex: 1; width: 50%;   border-radius: 1rem; padding: 1.25rem 1.4rem; font-size: 1.3rem;}
	.prddetail_sec .d_rightbox .bottombox .fundbox { order: 1; margin-top: 0; gap: 1.3rem;}
	.prddetail_sec .d_rightbox .bottombox .fundbox .top .left { gap: 1.1rem;  font-size: 1.6rem;  line-height: 150%;}
	.prddetail_sec .d_rightbox .bottombox .fundbox .top .left .price { font-size: 2.4rem;}
	.prddetail_sec .d_rightbox .bottombox .fundbox .top .right .percent { width: 5rem;  font-size: 1.5rem;}
	.prddetail_sec .d_rightbox .bottombox .fundbox .progress { height: 0.5rem;}
	.prddetail_sec .detail_review { width: 100%; gap: 3.8rem; margin-top: 4.5rem;  padding: 0 2rem;}
	.prddetail_sec.is_fixed .detail_review { margin-top: 4.5rem;}
	.prddetail_sec.is_bottom .detail_review { margin-top: 4.5rem;}
	.prddetail_sec .detail_review .inputarea .tit { font-size: 1.4rem;  margin-bottom: 1.2rem;}
	.prddetail_sec .detail_review .inputarea .textarea { height: 5rem;  border-radius: 1rem;  padding: 1.1rem;}
	.prddetail_sec .detail_review .inputarea .input_bottom { margin-top: 0.9rem;}
	.prddetail_sec .detail_review .inputarea .input_bottom .note { font-size: 1rem;}
	.prddetail_sec .detail_review .inputarea .input_bottom .submit_btn {  font-size: 1.3rem;  padding: 1rem 1.4rem;  border-radius: 1rem;}
	.prddetail_sec .detail_review .reviewarea { gap: 1.3rem;}
	.prddetail_sec .detail_review .reviewitem { gap: 0.6rem;}
	.prddetail_sec .detail_review .reviewitem .top { gap: 0.8rem;}
	.prddetail_sec .detail_review .reviewitem .top .profile { width: 5rem;}
	.prddetail_sec .detail_review .reviewitem .top .msg { margin-top: 0.6rem;  padding: 1rem 1.5rem;  font-size: 1.2rem;  line-height: 133%;  border-radius: 1.6rem;}
	.prddetail_sec .detail_review .reviewitem .top .msg::before { width: 2rem; left: -0.8rem;}
	.prddetail_sec .detail_review .reviewitem .bottom {  gap: 1rem;  padding-left: 6.5rem;}
	.prddetail_sec .detail_review .reviewitem .bottom .name {  font-size: 1.1rem;}
	.prddetail_sec .detail_review .reviewitem .bottom .btnbox { gap: 0.7rem;}
	.prddetail_sec .detail_review .reviewitem .bottom .btnbox .btn {  font-size: 1.1rem;  padding: 0.4rem 0.6rem;  border-radius: 0.5rem;}
	.prddetail_sec .detail_review .reviewitem .inputarea {padding-left: 6.5rem; margin-top: 0.3rem;}
	.prddetail_sec .detail_review .reviewitem.me .top .msg::before {right: -0.8rem;}
	.prddetail_sec .detail_review .reviewitem.me .bottom {  padding-left: 0;  padding-right: 6.5rem;}
	.prddetail_sec .detail_review .reviewitem.me .inputarea {padding-left: 0;  padding-right: 6.5rem;}	
	.prddetail_sec .fixed_btnbox.tablet { position: sticky;  bottom: 0; display: flex !important; margin-top: 8rem;  gap: 1.1rem;  border: 1px solid #dde1ea; border-bottom: 0; border-radius: 1.2rem 1.2rem 0 0; background: #e2e5ec;  padding: 2rem; }
	.prddetail_sec .fixed_btnbox .btn { height: 4.8rem; border-radius: 0.5rem;  flex: 1; gap: 0.6rem; font-size: 1.4rem;}
	.prddetail_sec .fixed_btnbox .wish_btn {flex: unset; width: 8rem;}
	.prddetail_sec .fixed_btnbox .wish_btn .icon { width: 2rem;}
	.prddetail_sec .fixed_btnbox .submit_btn { width: 100%; font-size: 1.6rem;}


	/* 로그인 공통 */	
	.login_wrap .container { padding: 4rem 0 2rem;}
	.login_wrap .login_header .logo { width: 12rem;}
	.login_wrap .login_header .back_btn { width: 3rem;}
	.login_wrap .login_topbox { gap: 0; margin-bottom: 3.5rem;}
	.login_wrap .login_topbox .txtbox .tit { margin-bottom: 2.3rem; font-size: 3.6rem;}
	.login_wrap .login_topbox .txtbox .desc { font-size: 1.8rem;}
	.login_wrap .login_topbox .txtbox .eng { font-size: 0.9rem;}
	.login_wrap .login_copy { font-size: 1rem;}
	.login_wrap .form_box { gap: 1.4rem;}
	.login_wrap .check_box { gap: 0.7rem;}
	.login_wrap .check_box .input_check { width: 2.4rem; height: 2.4rem;}
	.login_wrap .check_box .label_check { font-size: 1.3rem;}
	.login_wrap .input_box .input_text { height: 4.6rem; padding-left: 4.8rem;   font-size: 1.5rem;}
	.login_wrap .input_box .input_icon { left: 1.8rem;  width: 2.2rem;}
	.login_wrap .input_flex {gap: 0.9rem;}
	.login_wrap .input_flex .input_btn { width: 9.6rem; height: 4.6rem; font-size: 1.5rem;}
	.login_wrap .select_box { padding-left: 4.8rem;}
	.login_wrap .select_box .select {  height: 4.6rem;  background-size: 0.8rem;   background-position-x: right 1.8rem;  font-size: 1.5rem;  padding-left: 0;   padding-right: 3rem;}
	.login_wrap .term_box { gap: 1.1rem;}
	.login_wrap .term_box .term_tit { font-size: 1.6rem; padding: 0 0.5rem;}
	.login_wrap .term_box .term_cont {  height: 15.5rem;  border-radius: 1rem;  padding: 1.4rem;  font-size: 1.3rem;}
	.login_wrap .file_box { padding-left: 4.8rem;}
	.login_wrap .file_box .label_file { height: 4.6rem; font-size: 1.5rem;}
	.login_wrap .file_preview { gap: 1.7rem;  margin-top: 1.5rem;}
	.login_wrap .file_preview .imgbox { width: 8rem; border-radius: 1rem;}
	.login_wrap .file_preview .txtbox {  gap: 1.6rem;  margin-top: 1.4rem;  font-size: 1.5rem;}
	.login_wrap .button {height: 5.4rem; font-size: 2rem;}
	

	/* 로그인 */
	.login_wrap .login_sec { border: 0;  border-radius: 0; max-width: 100%;}
	.login_wrap .login_sec > .inner {padding: 0 3rem;}	
	.login_wrap .login_sec .login_cont { margin-top: 2.7rem;}
	.login_wrap .login_sec .login_cont .login_topbox .txtbox .tit { margin-bottom: 2.3rem;}
	.login_wrap .login_sec .login_cont .login_topbox .txtbox .desc { margin-bottom: 1rem;}
	.login_wrap .login_sec .login_cont .login_topbox .imgbox { width: 13.7rem;  margin-top: 1.1rem;}
	.login_wrap .login_sec .login_cont .form_box .login_btn { margin-top: 1rem;}	
	.login_wrap .login_sec .login_cont .sch_box { margin-top: 2.6rem; gap: 1.4rem;}
	.login_wrap .login_sec .login_cont .sch_box .item { font-size: 1.4rem; gap: 1.2rem;}
	.login_wrap .login_sec .login_cont .sch_box .item .tit { padding-left: 2.4rem;}
	.login_wrap .login_sec .login_cont .sch_box .item .tit::before { left: 1rem; width: 0.5rem;}
	.login_wrap .login_sec .login_cont .or { margin-top: 6.4rem; gap: 1.1rem;}
	.login_wrap .login_sec .login_cont .or .txt { font-size: 0.9rem;}
	.login_wrap .login_sec .login_cont .snsbox { gap: 2.6rem; margin-top: 2.4rem;  margin-bottom: 5.7rem;}
	.login_wrap .login_sec .login_cont .snsbox .link { width: 3rem; margin-top: 0.5rem;}


	/* 회원가입 - 약관동의 */
	.login_wrap .join_sec {max-width: 100%;}
	.login_wrap .join_sec > .inner { padding: 0 3rem;}
	.login_wrap .join_sec .login_cont { margin-top: 2.7rem;}
	.login_wrap .join_sec .login_cont .login_topbox { margin-bottom: 4.3rem;}
	.login_wrap .join_sec .login_cont .login_topbox .imgbox { width: 13.5rem;  margin-top: 0.4rem;}
	.login_wrap .join_sec .login_cont .form_box { gap: 1.2rem;}
	.login_wrap .join_sec .login_cont .form_item { margin-top: 2.6rem;  gap: 1.1rem;}
	.login_wrap .join_sec .login_cont .form_item.allCheck { padding-top: 2.2rem; margin-bottom: 1.7rem;}
	.login_wrap .join_sec .login_copy { margin-top: 2rem;}


	/* 회원가입 - 정보입력 */
	.login_wrap .join_sec2 > .inner { padding: 0 3rem;}
	.login_wrap .join_sec2 .login_cont { margin-top: 3rem;}
	.login_wrap .join_sec2 .login_btn { margin-top: 0.3rem;}
	.login_wrap .join_sec2 .login_copy { margin-top: 2rem;}


	/* 마이페이지 공통 */
	.mypage_sec > .inner { flex-direction: column; padding: 0;  gap: 2.7rem;}
	.mypage_sec .my_side { width: 100%;  margin: 0;}
	.mypage_sec .my_side .mytab_swiper {  height: 4rem; background: #f4f7fe;  padding: 0 2rem;}
	.mypage_sec .my_side .mytab_swiper .swiper-wrapper { gap: 0;}
	.mypage_sec .my_side .mytab_swiper .item { width: auto; height: 100%;}
	.mypage_sec .my_side .mytab_swiper .item .link { width: 100%;  height: 100%;  font-size: 1.6rem; color: #2f4573;  display: flex;  align-items: center;  justify-content: center; border-bottom: 0.3rem solid transparent; padding-top: 0.3rem;}
	.mypage_sec .my_side .mytab_swiper .item.on .link { color: #2f4573; border-color: #2f4573; text-decoration: none;}
	.mypage_sec .my_cont { width: 100%; border: 0; border-radius: 0; padding: 0 2rem;}


	/* 마이페이지 - 나의 정보 */
	.mypage_sec .my_cont.myinfo { padding: 0 3rem;}
	.mypage_sec .my_cont.myinfo .form_box { gap: 1.4rem; max-width: 100%;}
	.mypage_sec .my_cont.myinfo .form_item .form_tit { display: none;}
	.mypage_sec .my_cont.myinfo .form_item .form_cont { gap: 1.4rem;}
	.mypage_sec .my_cont.myinfo .form_item.profile_ver { margin-bottom: 1.3rem;}
	.mypage_sec .my_cont.myinfo .form_item.profile_ver .form_cont { display: flex;  align-items: center;  justify-content: center;}
	.mypage_sec .my_cont.myinfo .form_item .profile { width: 10rem;}
	.mypage_sec .my_cont.myinfo .form_item .profile .setting_btn { width: 3rem;}
	.mypage_sec .my_cont.myinfo .form_item .input_box .input_text {height: 4.6rem;  padding-left: 1.6rem; padding-right: 8.8rem; font-size: 1.5rem;}
	.mypage_sec .my_cont.myinfo .form_item .input_box .state_btn { right: 0.6rem;  top: 0.6rem;  width: 7.6rem;  height: calc(100% - 0.6rem * 2);  padding: 0.6rem;  font-size: 1rem;}
	.mypage_sec .my_cont.myinfo .form_item .input_box .state_btn .icon { width: 1.2rem;}
	.mypage_sec .my_cont.myinfo .form_item .select_box .select { height: 4.6rem;  background-size: 0.8rem;  background-position-x: right 1.85rem;  padding-left: 1.6rem;
    padding-right: 4rem; font-size: 1.5rem;}
	.mypage_sec .my_cont.myinfo .form_btnbox {  padding-left: 0;  gap: 2.1rem;}
	.mypage_sec .my_cont.myinfo .form_btnbox .btn { padding: 1.6rem 1rem; font-size: 1.5rem;}
	.mypage_sec .my_cont.myinfo .form_btnbox .btn.edit_btn {  font-size: 2rem;}


	/* 마이페이지 - 나의 캠페인 */
	.mypage_sec .my_cont.mycampaign {  margin-top: 1rem; margin-bottom: 1rem;  padding-bottom: 0;}
	.mypage_sec .my_cont.mycampaign .prd_top .leftbox .m_txt2 { font-size: 1.4rem;}
	.mypage_sec .my_cont.mycampaign .prd_list {  gap: 5rem;  max-height: unset;   overflow: unset; padding-right: 0;  width: 100%;}
	.mypage_sec .my_cont.mycampaign .prd_list .prd_item {  width: 100%;}
	.mypage_sec .my_cont.mycampaign .prd_list .prd_item .imgbox { height: 21.3rem;}
	.mypage_sec .my_cont.mycampaign .prd_list .prd_item .imgbox .top { top: 1rem;}
	.mypage_sec .my_cont.mycampaign .prd_list .prd_item .txtbox { gap: 0.2rem;}
	.mypage_sec .my_cont.mycampaign .prd_list .prd_item .txtbox .desc { font-size: 1.1rem;}
	.mypage_sec .my_cont.mycampaign .prd_list .prd_item .txtbox .fundbox .fund { font-size: 1.6rem;}
	.mypage_sec .my_cont.mycampaign .prd_list .prd_item .txtbox .fundbox .percent {  width: 5rem; font-size: 1.5rem;}


	/* 마이페이지 - 내 기부내역 */
	.mypage_sec .my_cont.mypurchase { margin-top: 1rem; padding-bottom: 0;  margin-bottom: 1.6rem;}
	.mypage_sec .my_cont.mypurchase .prd_list { gap: 3.2rem; max-height: unset;
    overflow: unset; padding-right: 0; width: 100%;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item > .link { gap: 1.4rem;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .imgbox { width: 12rem;  height: 8rem;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .imgbox .top { top: 1rem; }
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .imgbox .top .right .wish_btn {  width: 1.6rem; }
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .txtbox { gap: 0.9rem;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .txtbox .title {  font-size: 1.2rem;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .txtbox .descbox { gap: 0.7rem;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .txtbox .descbox .descitem {  font-size: 1rem; gap: 1rem;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .txtbox .descbox .descitem .tit { width: 6rem;  padding-left: 1.2rem;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .txtbox .descbox .descitem .tit::before { width: 0.3rem; left: 0.25rem;}
	.mypage_sec .my_cont.mypurchase .prd_list .prd_item .txtbox .descbox .descitem .desc { text-align: right;}



}


@media screen and (max-width: 900px) {

  	html {font-size: 14px !important;}

}


@media screen and (max-width: 800px) {

	html {font-size: 2.222223vw;} 
	
}


@media screen and (max-width: 700px) {

  	html {font-size: 11.5px !important;}

}




/* Mobile */
@media screen and (max-width: 599px) {

  	html {font-size: 11px !important;}  
	
  	.mobile {display: block !important;}
  

}
  
      
@media screen and (max-width: 480px) {  

  	html {font-size: 10px !important;}

}


@media screen and (max-width: 320px) {

  	html { font-size: 9px !important;}

}
