:root {
	--brand-primary: #cf2025;
	--basic-black: #222019;
	--basic-darkgray: #434343;
	--basic-middlegray: #7b7b7b;
	--basic-lightgray: #c4c4c4;
	--basic-pale: #f5f5f5;
	--basic-white: #fff;
	--basic-border: #ddd;
	--basic-bg: #fffaef;
	--primary-primary100: #ffe8e9;
	--primary-primary200: #ffd1d3;
	--primary-primary300: #ffa8a8;
	--primary-primary400: #ff7f7c;
	--primary-primary500: #e75051;
	--primary-primary700: #a61213;
	--primary-primary800: #7d0300;
	--primary-primary900: #610b0a;


	--font-family: 'Pretendard',"Noto Color Emoji", sans-serif;
	--second-family: 'Qeldorat', 'Pretendard', 'Noto Sans KR', "Noto Color Emoji", sans-serif;
	--third-family: 'Paperlogy', 'Noto Sans KR', "Noto Color Emoji", sans-serif;
	--font3: 'EDLavonia', 'Pretendard', 'Noto Sans KR', "Noto Color Emoji", sans-serif;
	--font4: 'TAN NIMBUS', 'Pretendard', 'Noto Sans KR', "Noto Color Emoji", sans-serif;

	--transition: all 0.4s ease;

}
  

/* common */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box; -webkit-tap-highlight-color: transparent;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
body::-webkit-scrollbar {display: none;}
html { scroll-behavior: smooth;}
html, body {font: 400 16px/1.3 'Pretendard', 'Noto Sans KR', sans-serif; color: var(--brand-primary); width: 100%; position: relative; overscroll-behavior: none;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {display: none;}
body.hidden { overflow: hidden;}
  
.wrap { width: 100%; max-width: 360px; margin: 0 auto; position: relative; background: var(--basic-bg); overflow: hidden;}
.inner { position: relative; width: 100%; padding-left: 1.5rem; padding-right: 1.5rem;}
.container {width: 100%; position: relative;}
[data-aos=fade-up] {transform: translate3d(0, 3rem, 0);}


/*header*/
.header { width: 100%; max-width: 360px; position: fixed; left: 50%; top: 0; transform: translateX(-50%); z-index: 90; overflow: hidden;}
.header .h_inner { padding: 1.5rem; display: flex; align-items: center; justify-content: flex-end;}
.header .volume_btn { width: 2.25rem; aspect-ratio: 1 / 1; background-color: var(--brand-primary); border-radius: 100%; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.header .volume_btn .icon { background: url(../img/volume_off.png) no-repeat center / contain; width: 1.25rem; aspect-ratio: 1 / 1; transition: var(--transition);}
.header .volume_btn.on .icon {background-image: url(../img/volume_on.png);}
  

/* footer */
.footer { position: relative; background: var(--brand-primary);}
.footer .f_inner { position: relative; width: 100%; padding: 1.25rem 1.5rem; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1rem;}
.footer .kakao_share { display: flex; align-items: center; gap: 0.5rem; cursor: pointer;}
.footer .kakao_share .icon { background: url(../img/ico_kakao.png) no-repeat center / contain; width: 1.25rem; aspect-ratio: 1 / 1;}
.footer .kakao_share .txt { font-weight: 500; font-size: 0.875rem; line-height: 100%; color: var(--basic-bg);}
.footer .copyright { font-family: var(--second-family); font-size: 0.625rem; line-height: 130%; letter-spacing: 0.02em; text-transform: capitalize; color: var(--basic-bg);}


/* top button */
.top_btnbox { width: 100%; max-width: 360px; position: fixed; left: 50%; bottom: 1.5rem; transform: translateX(-50%); padding: 0 1.5rem; display: flex; align-items: center; justify-content: flex-end; z-index: 90;}
.top_btnbox .top_btn { background: url(../img/icon_top.png) no-repeat center / contain; width: 2.25rem; aspect-ratio: 1 / 1; cursor: pointer; transition: var(--transition);}


/* page background */
.page_bgbox {position: absolute; left: 0; top: 0;  width: 100%; height: 100%; overflow: hidden; pointer-events: none;}
.page_bgbox .bg_imgbox { position: absolute; display: flex; align-items: center; justify-content: center;}


/* section common*/
.main_section {position: relative; width: 100%; margin-bottom: 4.375rem;}
.m_titbox { display: flex; align-items: center;}
.m_titbox.column { flex-direction: column; gap: 0.25rem;}
.m_titbox.row { flex-direction: row; gap: 0.5rem;}
.m_txt1 { font-family: var(--second-family);font-size: 1.25rem;line-height: 130%;letter-spacing: 0.02em;text-transform: capitalize;text-align: center;}
.m_txt2 { font-family: var(--third-family);font-weight: 300;font-size: 1rem;line-height: 130%;text-transform: capitalize;text-align: center;}



/* modal */
.modal { position: fixed;  left: 0;  top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.85); display: flex; align-items: center; justify-content: center; transition: var(--transition); opacity: 0; pointer-events: none; z-index: 100;}
.modal.show {opacity: 1; pointer-events: auto;}
.modal .modal_box { position: relative; width: 100%; max-width: 360px; max-height: 100%;}
.modal .modal_box .modal_close { background: url(../img/modal_close.png) no-repeat center / contain; position: absolute;  right: 1rem; top: 1rem; cursor: pointer; z-index: 10; display: flex; width: 0.875rem; aspect-ratio: 1 / 1; z-index: 10;}


/* gallery modal */
.gall_modal .gall_swiper{width: 100%;}
.gall_modal .modal_box .modal_close { background: url(../img/modal_close2.png) no-repeat center / contain; width: 1.25rem;  right: 1rem;}
.gall_modal .gall_swiper .swiper-wrapper {align-items: center;}
.gall_modal .gall_swiper .swiper-slide {width: 100%; display: flex; align-items: center; justify-content: center }
.gall_modal .gall_swiper .swiper-slide img { width: 100%; height: 100%; object-fit: cover;}
.gall_modal .gall_swiper .prev_btn, .gall_modal .gall_swiper .next_btn { width: 2.5rem; height: 2.5rem; margin: 0; top: 50%; transform: translateY(-50%); z-index: 10;}
.gall_modal .gall_swiper .prev_btn { left: 0;}
.gall_modal .gall_swiper .next_btn { right: 0;}
.gall_modal .gall_swiper .prev_btn img, .gall_modal .gall_swiper .next_btn img {width: 0.625rem;}
.gall_modal .gall_swiper .pagination { font-weight: 600; font-size: 0.75rem; line-height: 1rem; color: var(--basic-bg); position: absolute; top: auto; bottom: 0.75rem; padding: 0 1.5rem; text-align: center;}


/* section1 */
.ms1 {margin-bottom: 0;}
.ms1 > .inner { display: flex; flex-direction: column; gap: 1.375rem; padding: 4.375rem 1.5rem;}
.ms1 .topbox {  position: relative;  display: flex;  flex-direction: column;  gap: 0.625rem;  align-items: center;  text-align: center;}
.ms1 .topbox .deco { position: absolute; top: 0.5rem; left: 54.5%; transform: translateX(-50%); width: 91%; max-width: 17.75rem; animation: blink 1.5s ease-in-out infinite 0.8s;}
.ms1 .topbox .ribbon { width: 100%;}
.ms1 .topbox .deco_txt {  font-family: var(--font3); font-weight: 400;   font-size: 1.5rem; line-height: 130%; letter-spacing: 0.02em; text-transform: capitalize;}
.ms1 .topbox .date { font-family: var(--font4); font-size: 2.5rem;  line-height: 130%;  letter-spacing: 0.1em;}
.ms1 .imgbox { position: relative; display: flex; align-items: center; justify-content: center;}
.ms1 .imgbox .img {width: 100%;}
.ms1 .imgbox .deco {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; }
.ms1 .title {  font-family: var(--third-family); font-weight: 300;  font-size: 1.25rem;  line-height: 130%; letter-spacing: 0.1em; text-align: center;}
.ms1 .desbox { display: flex; flex-direction: column;  gap: 0.25rem;  font-size: 1rem;   line-height: 150%;  letter-spacing: 0.04em;  text-align: center;}
.ms1 .desbox .bold {font-weight: 700; font-size: 1.25rem; line-height: 150%;}

@keyframes blink { 0%, 100% { opacity: 0; }  50% { opacity: 1; } }
  

/* section2 */
.ms2 .ms2_contbox {  width: 100%; background: url(../img/ms2_bg.png) no-repeat center / contain;  display: flex;  flex-direction: column;  gap: 1.5rem; padding: 4.375rem 3.75rem;}
.ms2 .m_titbox {border-bottom: 1px solid var(--brand-primary);padding-bottom: 1.5rem;}
.ms2 .greetings {font-size: 0.875rem;line-height: 156%;text-align: center;}
 

/* section3 */
.ms3 .m_titbox{ margin-bottom: 1.5rem;}
.ms3 .ms3_contbox { display: flex; flex-direction: column; gap: 0.625rem;}
.ms3 .ms3_swiper { width: 100%; border-radius: 0.625rem; overflow: hidden;}
.ms3 .ms3_swiper .swiper-slide { width: 100%; aspect-ratio: 1/1; overflow: hidden; border-radius: 0.625rem;cursor: pointer;}
.ms3 .ms3_swiper .swiper-slide img { width: 100%; height: 100%; object-fit: cover;}
.ms3 .ms3_swiper .prev_btn, .ms3 .ms3_swiper .next_btn { width: 2rem; height: 2rem; margin: 0; top: 50%; transform: translateY(-50%); z-index: 10;}
.ms3 .ms3_swiper .prev_btn { left: 0;}
.ms3 .ms3_swiper .next_btn { right: 0;}
.ms3 .ms3_swiper .prev_btn img, .ms3 .ms3_swiper .next_btn img {width: 0.5rem;}
.ms3 .ms3_swiper .pagination { font-weight: 600; font-size: 0.75rem; line-height: 1rem; color: var(--basic-bg); position: absolute; left: auto; right: 0.75rem; top: 0.75rem; bottom: auto; width: auto;}
.ms3 .ms3_thum{width: 100%;}
.ms3 .ms3_thum .swiper-slide { width: 100%; aspect-ratio: 1/1; overflow: hidden; border-radius: 0.625rem;cursor: pointer; }
.ms3 .ms3_thum .swiper-slide::before { content: ""; transition: var(--transition);   position: absolute;  left: 0; top: 0;  width: 100%; height: 100%;  border: 1px solid transparent;  box-sizing: border-box; border-radius: 0.625rem;}
/* .ms3 .ms3_thum .swiper-slide.swiper-slide-thumb-active::before { border-color: var(--brand-primary);} */
.ms3 .ms3_thum .swiper-slide img { width: 100%; height: 100%; object-fit: cover;}
.ms3 .ms3_thum .pagination { position: relative; left: auto; top: auto; bottom: auto; display: flex; align-items: center; justify-content: center; gap: 0.313rem;  margin-top: 0.75rem;}
.ms3 .ms3_thum .pagination .swiper-pagination-bullet { width: 0.375rem; height: 0.375rem; border-radius: 1.25rem; background: var(--brand-primary); opacity: 0.5; margin: 0; transition: var(--transition);}
.ms3 .ms3_thum .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { width: 1rem; opacity: 1;}


/* main banner */
.ms_banner > .inner { display: flex; flex-direction: column; gap: 1rem;}
.ms_banner .vidbox {display: flex; width: 100%; height: 25rem; overflow: hidden; border-radius: 1.25rem;}
.ms_banner .vidbox .video {width: 100%; height: 100%; object-fit: cover;}
.ms_banner .vidbox .play_btn {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); background: url(../img/ico_play.png) no-repeat center/contain; width: 3.125rem; aspect-ratio: 1/1; transition: var(--transition);}
.ms_banner .vidbox.play .play_btn {opacity: 0; pointer-events: none;}
.ms_banner .txtbox {font-size: 0.875rem;line-height: 160%;text-align: center;}
.ms_banner .txtbox .bold {font-weight: 700;}


/* section4 */
.ms4 .m_titbox { margin-bottom: 1.5rem;}
.ms4 .ms4_contbox { display: flex; flex-direction: column; gap: 2.5rem;}
.ms4 .ms4_contbox .calendarbox { border-bottom: 1px solid var(--brand-primary);  border-top: 1px solid var(--brand-primary); padding: 1.25rem 0;}
.ms4 .ms4_contbox .calendarbox .titbox { display: flex;  align-items: flex-end;   justify-content: space-between;  padding: 0.625rem 0.875rem;}
.ms4 .ms4_contbox .calendarbox .titbox .date { font-family: var(--second-family); font-size: 1.25rem; line-height: 130%; letter-spacing: 0.02em;}
.ms4 .ms4_contbox .calendarbox .titbox .time { font-weight: 500; font-size: 0.75rem;   line-height: 160%;}
.ms4 .ms4_contbox .calendarbox .calendar {width: 100%; position: relative;} 
.ms4 .ms4_contbox .calendarbox .calendar .week_box { display: flex; align-items: center; justify-content: center; padding: 0.625rem 0;} 
.ms4 .ms4_contbox .calendarbox .calendar .week_box .week { width: calc(100% / 7); font-family: var(--second-family); font-size: 0.75rem; line-height: 100%; letter-spacing: 0.02em; text-align: center; min-height: 1.25rem; display: flex; align-items: center; justify-content: center;}
.ms4 .ms4_contbox .calendarbox .calendar .day_box { display: flex; flex-direction: column; gap: 0.563rem;}
.ms4 .ms4_contbox .calendarbox .calendar .day_box .day_row { width: 100%; display: flex; align-items: center;}
.ms4 .ms4_contbox .calendarbox .calendar .day_box .day_row .day { position: relative; width: calc(100% / 7); font-family: var(--second-family); font-size: 0.75rem; line-height: 100%; letter-spacing: 0.02em; text-align: center; min-height: 1.125rem; display: flex; align-items: center; justify-content: center;}
.ms4 .ms4_contbox .calendarbox .calendar .day_box .day_row .day.point { color: var(--basic-white);} 
.ms4 .ms4_contbox .calendarbox .calendar .day_box .day_row .day.point::before { content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: var(--brand-primary); width: 1.5rem; aspect-ratio: 1 / 1; border-radius: 100%;}
.ms4 .ms4_contbox .calendarbox .calendar .day_box .day_row .day.point .num {position: relative; z-index: 10; padding-top: 0.3em;}
.ms4 .ms4_contbox .counterbox {position: relative; width: 100%;} 
.ms4 .ms4_contbox .counterbox .titbox {display: flex; align-items: center; justify-content: center; gap: 1.188rem;} 
.ms4 .ms4_contbox .counterbox .titbox .word { min-width: 1.5rem; font-family: var(--second-family); font-size: 0.625rem; line-height: 130%; letter-spacing: 0.02em; text-transform: capitalize; text-align: center; color: var(--brand-primary);}
.ms4 .ms4_contbox .counterbox .numberbox { display: flex; align-items: center; justify-content: center; gap: 0.5rem; margin-bottom: 0.75rem;} 
.ms4 .ms4_contbox .counterbox .numberbox .number, 
.ms4 .ms4_contbox .counterbox .numberbox .division { font-family: var(--second-family); font-size: 1.125rem; line-height: 130%; letter-spacing: 0.02em;}
.ms4 .ms4_contbox .counterbox .numberbox .number {min-width: 1.375rem;text-align: center;}
.ms4 .ms4_contbox .counterbox .msgbox { position: relative; width: 100%; text-align: center;}
.ms4 .ms4_contbox .counterbox .msgbox .msg {font-size: 0.875rem; line-height: 160%; display: none;}
.ms4 .ms4_contbox .counterbox .msgbox .msg.on {display: block;} 
.ms4 .ms4_contbox .counterbox .msgbox .msg .day { font-weight: 700;}


/* section6 */
.ms5 .m_titbox { margin-bottom: 1.5rem;}
.ms5 .ms5_contbox { display: flex; flex-direction: column; gap: 1.5rem;}
.ms5 .ms5_contbox .detail_box { display: flex;  flex-direction: column;  align-items: center; justify-content: center; gap: 0.5rem;}
.ms5 .ms5_contbox .detail_box .title { font-weight: 600; font-size: 0.875rem; line-height: 130%;}
.ms5 .ms5_contbox .detail_box .address { font-weight: 400; font-size: 0.75rem; line-height: 130%;}
.ms5 .ms5_contbox .detail_box .call { display: flex; align-items: center; justify-content: center; gap: 0.375rem; font-size: 0.75rem; font-weight: 700; line-height: 100%;}
.ms5 .ms5_contbox .detail_box .call .icon { background: url(../img/ico_call2.png) no-repeat center / contain; width: 1.125rem; aspect-ratio: 1 / 1;}
.ms5 .map_box {display: flex; align-items: center; justify-content: center; border-radius: 1.25rem; overflow: hidden; box-shadow: 0 0 0.625rem 0 rgba(207, 32, 37, 0.08);}
.ms5 .map_box .img {width: 100%;}
.ms5 .navi_box { display: flex;  align-items: center;  justify-content: center;   gap: 1.25rem;  margin-top: -0.5rem;}
.ms5 .navi_box .item { position: relative;}
.ms5 .navi_box .item .link { font-weight: 500; font-size: 0.875rem; line-height: 100%; display: flex; align-items: center; gap: 0.25rem;}
.ms5 .navi_box .item .link .icon { width: 1.25rem; aspect-ratio: 1 / 1;}
.ms5 .info_box {border-bottom: 1px solid var(--brand-primary); border-top: 1px solid var(--brand-primary); padding: 1rem 0.625rem; display: flex; flex-direction: column; gap: 0.625rem;}
.ms5 .info_box .item { display: flex; align-items: flex-start; gap: 0.25rem;}
.ms5 .info_box .item .tit { font-weight: 700; font-size: 0.875rem; line-height: 150%; width: 3.75rem;}
.ms5 .info_box .item .descbox {display: flex; flex-direction: column; gap: 0.25rem;} 
.ms5 .info_box .item .descbox .desc { font-size: 0.875rem; line-height: 150%; letter-spacing: -0.02em;} 


/* section6 */
.ms6 > .inner { display: flex; flex-direction: column; gap: 1.5rem;}
.ms6 .ms6_contbox { border-top: 1px solid var(--brand-primary); padding: 1rem 0;  display: flex;  flex-direction: column; gap: 1.25rem;}
.ms6 .ms6_contbox .contact_info { display: flex; flex-direction: column; gap: 0.5rem;}
.ms6 .ms6_contbox .contact_info .item { font-size: 0.875rem; line-height: 130%; color: var(--brand-primary); display: flex; align-items: center; gap: 0.625rem; padding: 0 0.625rem;}
.ms6 .ms6_contbox .contact_info .item .sub { min-width: 3.75rem;}
.ms6 .ms6_contbox .contact_info .item .tit { flex: 1; font-weight: 600; }
.ms6 .ms6_contbox .contact_info .item .btnbox { display: flex; align-items: center; gap: 0.875rem;}
.ms6 .ms6_contbox .contact_info .item .btnbox > a { background: no-repeat center / contain; width: 1.25rem; aspect-ratio: 1 / 1;}
.ms6 .ms6_contbox .contact_info .item .btnbox .call_btn{background-image: url(../img/ico_call.png);}
.ms6 .ms6_contbox .contact_info .item .btnbox .msg_btn{background-image: url(../img/ico_msg.png);}
.ms6 .ms6_banner { display: flex; flex-direction: column; gap: 1.25rem; align-items: center;}
.ms6 .ms6_banner .vidbox {display: flex; width: 100%; height: 25rem; overflow: hidden; border-radius: 1.25rem;}
.ms6 .ms6_banner .vidbox .video {width: 100%; height: 100%; object-fit: cover;}
.ms6 .ms6_banner .vidbox .play_btn {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); background: url(../img/ico_play.png) no-repeat center/contain; width: 3.125rem; aspect-ratio: 1/1; transition: var(--transition);}
.ms6 .ms6_banner .vidbox.play .play_btn {opacity: 0; pointer-events: none;}


/* section7 */
.ms7 .m_titbox{ margin-bottom: 1.625rem;}
.ms7 .info_txt { font-size: 0.875rem; line-height: 160%; text-align: center; color: var(--color-gray); margin-bottom: 1rem;}
.ms7 .ms7_contbox { position: relative; width: 100%;}
.ms7 .ms7_contbox > li { position: relative; width: 100%;}
.ms7 .ms7_contbox > li:not(.show) + li { border-top: 1px solid var(--basic-bg);}
.ms7 .ms7_contbox > li .acc_tit { background: var(--brand-primary); padding: 0.5rem 1rem; display: flex; align-items: center; justify-content: space-between; font-weight: 700; font-size: 0.875rem; line-height: 100%; text-transform: capitalize; color: var(--basic-bg); min-height: 2.375rem;}
.ms7 .ms7_contbox > li .acc_tit .txt {flex: 1;}
.ms7 .ms7_contbox > li .acc_tit .arrow { background: url(../img/ico_down.png) no-repeat center / contain; width: 1.25rem; aspect-ratio: 1 / 1; transition: var(--transition); cursor: pointer; transform: rotate(180deg);}
.ms7 .ms7_contbox > li.show .acc_tit .arrow{transform: rotate(0deg);}
.ms7 .ms7_contbox > li .account_info > li { border-bottom: 1px solid rgba(207, 32, 37, 0.5);
 padding: 0.625rem 1rem; display: flex; align-items: center; justify-content: space-between;}
.ms7 .ms7_contbox > li .account_info > li .info {flex:1; display: flex; flex-direction: column; gap: 0.25rem; font-size: 0.875rem; line-height: 130%;}
.ms7 .ms7_contbox > li .account_info > li .info .name { font-weight: 600;}
.ms7 .ms7_contbox > li .account_info > li .copy_btn { border-radius: 100px; padding: 0 0.625rem; background: var(--brand-primary); font-weight: 600; font-size: 0.75rem; line-height: 100%; color: var(--basic-white); display: flex; align-items: center; justify-content: center; gap: 0.25rem; height: 1.875rem; cursor: pointer;}
.ms7 .ms7_contbox > li .account_info > li .copy_btn .icon { background: url(../img/ico_copy.png) no-repeat center / contain; width: 1rem; aspect-ratio: 1 / 1;}


/* section8 */
.ms8 .m_titbox{margin-bottom: 1.5rem;}



/* write modal */
.write_modal .modal_box {position: absolute; left: 50%; bottom: 0; background: var(--basic-bg); border-radius: 1.25rem 1.25rem 0 0; display: flex; flex-direction: column; gap: 1.25rem; transition: var(--transition); opacity: 0; transform: translate(-50%, 40px); padding-bottom: 1.25rem; }
.write_modal.show .modal_box {opacity: 1; transform: translate(-50%, 0);}
.write_modal .modal_box .modal_head { border-bottom: 1px solid var(--brand-primary);
 padding: 1.25rem 1.5rem; display: flex; align-items: center; justify-content: space-between;}
.write_modal .modal_box .modal_head .modal_title { flex: 1; font-weight: 700; font-size: 1.125rem; line-height: 130%; color: var(--brand-primary);}
.write_modal .modal_box .modal_head .modal_close { position: relative; right: auto; top: auto;}
.write_modal .modal_box .modal_content {padding: 0 1.5rem;}
  
    


/* Tablet */
@media screen and (max-width: 1024px) {

  .wrap, .header, .modal .modal_box, .top_btnbox { max-width: initial; }
  

}



/* Mobile */
@media screen and (max-width: 599px) {

  .wrap::before, .wrap::after {display: none;}  

}