
/* Home */
.home_wrap .home_sec1 {margin-bottom: var(--space-large);}
.home_wrap .home_sec1 .sec1_top { display: flex; flex-direction: column-reverse; align-items: flex-start; gap: 26.5rem; margin-bottom: 12.5rem; opacity: 1;}
.home_wrap .home_sec1 .sec1_top .txtbox { flex: 1; display: flex; flex-direction: column; gap: 2.75rem; margin-top: 0; transition: all 1.2s ease-in-out 0.2s; will-change: margin-top; max-width: calc(100% - 267px - 1rem);}
.home_wrap .home_sec1 .sec1_top .imgbox { width: 100%; max-width: 100%; height: calc(100vh - 16.5rem - 33px); display: flex; align-items: center; justify-content: center; margin-left: auto; transition: all 1.2s ease-in-out 0.4s; will-change: max-width, height;}
.home_wrap .home_sec1 .sec1_top .imgbox .sec1_img { width: 100%; height: 100%; object-fit: cover;}
.home_wrap .home_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-306px - 26.5rem - 1.75rem);}
.home_wrap .home_sec1 .sec1_top.aos-animate .imgbox { max-width: 267px; width: 16%; height: 306px;}
.home_wrap .home_sec1 .sec1_hashtag { display: flex; align-items: center; gap: 1.875rem; margin-bottom: var(--space-large);}
.home_wrap .home_sec1 .sec1_hashtag .hashtag { height: 35px; display: inline-flex; align-items: center; justify-content: center; background: var(--color-black); border: 2px solid var(--color-black); color: #fff; padding: 0.25rem 0.938rem;}
.home_wrap .home_sec1 .sec1_descbox { max-width: var(--textbox-wide);}
.home_wrap .home_sec1 .sec1_descbox .desc { font-size: 1.75rem; font-weight: 500; line-height: 1.5; color: var(--color-black);}

.home_wrap .home_sec2 {margin-bottom: var(--space-large);}
.home_wrap .home_sec2 .title_medium { margin-bottom: 8.313rem;}
.home_wrap .home_sec2 .sec2_cont {display: flex; align-items: flex-start; justify-content: space-between; gap: 7rem 1rem; flex-wrap: wrap;}
.home_wrap .home_sec2 .sec2_cont > .item {width: 526px;max-width: calc((100% - 2rem* 2) / 3);}
.home_wrap .home_sec2 .sec2_cont > .item .topbox { margin-bottom: 2.438rem;}
.home_wrap .home_sec2 .sec2_cont > .item .topbox .add_text { color: var(--color-gray-desc);}
.home_wrap .home_sec2 .sec2_cont > .item .topbox .contents_title { min-height: 3.3em;}
.home_wrap .home_sec2 .sec2_cont > .item .contbox { display: flex; flex-direction: column; gap: var(--space-small); margin-bottom: var(--space-small);}
.home_wrap .home_sec2 .sec2_cont > .item .contbox .imgbox { width: 100%; max-width: 525px; aspect-ratio: 1/0.46478;}
.home_wrap .home_sec2 .sec2_cont > .item .contbox .imgbox > img{ width: 100%; height: 100%; object-fit: cover;}
.home_wrap .home_sec2 .sec2_cont > .item .contbox .text_basic { height: 141px;}
.home_wrap .home_sec2 .sec2_cont > .item .hashtagbox { display: flex; flex-wrap: wrap; gap: 0.938rem 0.625rem;}
.home_wrap .home_sec2 .sec2_cont > .item .hashtagbox .hashtag_basic { padding: 0.313rem 0.938rem; border: 2px solid var(--color-black);}

.home_wrap .home_sec3 .title_medium { margin-bottom: 8.313rem;}
.home_wrap .home_sec3 .sec3_cont { display: flex; gap: 3.813rem;}
.home_wrap .home_sec3 .sec3_cont > .left { width: 46%; max-width: 735px;}
.home_wrap .home_sec3 .sec3_cont > .left .left_img { position: relative; display: flex; align-items: center; justify-content: center; width: 100%; aspect-ratio: 1/1; background: url(../img/home_sec3_img1.jpg) no-repeat center/cover; overflow: hidden;}
.home_wrap .home_sec3 .sec3_cont > .left .left_img > img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  width: 100%; height: 100%; object-fit: cover; transition: all 0.25s ease-in-out;}
.home_wrap .home_sec3 .sec3_cont > .right { flex: 1; width: 54%; display: flex; flex-direction: column; justify-content: space-between; gap: 2.5rem;}
.home_wrap .home_sec3 .sec3_cont > .right .txtbox { display: flex; flex-direction: column; gap: 1.938rem; transition: all 0.25s ease-in-out;}
.home_wrap .home_sec3 .sec3_cont > .right .txtbox .hashtagbox { display: flex; flex-wrap: wrap; gap: 0.625rem;}
.home_wrap .home_sec3 .sec3_cont > .right .txtbox .hashtagbox .hashtag_basic { padding: 0.313rem 0.938rem; border: 2px solid var(--color-black); transition: all 0.25s ease-in-out;}
.home_wrap .home_sec3 .sec3_cont > .right .gallery_box { display: flex; gap: 7.3%;}
.home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item { position: relative; width: 50%; aspect-ratio: 1/1.0725; background: no-repeat center/cover; display: flex; align-items: flex-end; padding: 1.875rem; overflow: hidden;}
.home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item.item1 {background-image: url(../img/home_sec3_img2.jpg);}
.home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item.item2 {background-image: url(../img/home_sec3_img3.jpg);}
.home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 66.292%; background: linear-gradient(to top, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0));}
.home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item > img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover; transition: all 0.25s ease-in-out;}
.home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item .hashtag_bold { position: relative; color: #FFFFFF; z-index: 10;}
.home_wrap .home_sec3 .sec3_cont > .left .left_img.hover > img {width: 110%; height: 110%;}
.home_wrap .home_sec3 .sec3_cont > .right .txtbox.hover {color: var(--color-gray-desc);}
.home_wrap .home_sec3 .sec3_cont > .right .txtbox.hover .hashtagbox .hashtag_basic{color: var(--color-gray-desc); border-color: var(--color-gray-desc);}
.home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item:hover > img {width: 110%; height: 110%;}


/*About */
.about_wrap .about_sec1 {margin-bottom: var(--space-large);}
.about_wrap .about_sec1 .sec1_top .txtbox .title_small { max-width: var(--textbox-wide);}

.about_wrap .about_sec2 { margin-bottom: var(--space-large);}
.about_wrap .about_sec2 .sec2_cont { display: flex; flex-direction: column; gap: var(--space-medium);}
.about_wrap .about_sec2 .sec2_cont > .item { display: flex; flex-direction: column; gap: var(--space-small); max-width: var(--textbox);}
.about_wrap .about_sec2 .sec2_cont > .item .text_basic { word-break: keep-all;}
.about_wrap .about_sec2 .sec2_cont > .item .descbox { display: flex; flex-direction: column;}
.about_wrap .about_sec2 .sec2_cont > .item .descbox .text_basic { position: relative; padding-left: 1.3em;}
.about_wrap .about_sec2 .sec2_cont > .item .descbox .text_basic::before { content: "•"; position: absolute; left: 0.35em; top: 0; opacity: 0;}

.about_wrap .about_sec3 { margin-bottom: var(--space-large);}
.about_wrap .about_sec3 .title_medium { margin-bottom: var(--space-medium);}
.about_wrap .about_sec3 .sec3_cont { display: flex; flex-direction: column; gap: var(--space-medium);}
.about_wrap .about_sec3 .sec3_cont > .item { display: flex; flex-direction: column; gap: var(--space-small); max-width: var(--textbox);}
.about_wrap .about_sec3 .sec3_cont > .item .title_small{}
.about_wrap .about_sec3 .sec3_cont > .item .imgbox { width: 100%; max-width: 743px; display: flex; align-items: center; justify-content: center;}
.about_wrap .about_sec3 .sec3_cont > .item .imgbox > img { width: 100%; height: 100%; object-fit: cover;}

.about_wrap .about_sec4 .title_medium { margin-bottom: 7.75rem;}
.about_wrap .about_sec4 .sec4_cont { display: flex; flex-direction: column; gap: var(--space-small);}
.about_wrap .about_sec4 .sec4_cont > .item { display: flex; flex-direction: column; gap: 1.25rem;}
.about_wrap .about_sec4 .sec4_cont > .item .hashtag_bold { line-height: 1.05;}



/*Research */
.professor_wrap .professor_sec1 {margin-bottom: var(--space-large);}
.professor_wrap .professor_sec1 .sec1_top { display: flex; align-items: flex-end; justify-content: space-between; gap: 2.5rem; margin-bottom: var(--space-medium);}
.professor_wrap .professor_sec1 .sec1_top .imgbox { max-width: 379px; display: flex; align-items: center; justify-content: center;}
.professor_wrap .professor_sec1 .sec1_top .txtbox{position: relative; text-align: right;}
.professor_wrap .professor_sec1 .sec1_top .txtbox .name { font-family: 'Spoqa Han Sans Neo', sans-serif; font-size: 11.25rem; line-height: 1; letter-spacing: -0.04em; word-break: keep-all;}
.professor_wrap .professor_sec1 .sec1_bottom {  display: flex; flex-direction: column; gap: 4rem;}
.professor_wrap .professor_sec1 .sec1_bottom > .item { width: 100%; display: flex; flex-direction: column; gap: 1.5rem;}
.professor_wrap .professor_sec1 .sec1_bottom > .item .text_basic { line-height: 1.3;}
.professor_wrap .professor_sec1 .sec1_bottom > .item .hashtag_bold{}

.professor_wrap .professor_sec2 {margin-bottom: var(--space-large);}
.professor_wrap .professor_sec2 .title_medium { margin-bottom: 7.75rem;}
.professor_wrap .professor_sec2 .sec2_cont { display: flex; flex-direction: column; gap: var(--space-small);}
.professor_wrap .professor_sec2 .sec2_cont > .item { display: flex; justify-content: space-between; gap: 2.5rem;}
.professor_wrap .professor_sec2 .sec2_cont > .item .left { flex: 1; display: flex; flex-direction: column; gap: 1rem;}

.professor_wrap .professor_sec3 .title_medium { margin-bottom: 7.75rem;}
.professor_wrap .professor_sec3 .title_small { margin-bottom: var(--space-small);}
.professor_wrap .professor_sec3 .sec3_cont { display: flex; flex-direction: column;}
.professor_wrap .professor_sec3 .sec3_cont > .item { display: flex; justify-content: space-between; gap: 2.5rem;}
.professor_wrap .professor_sec3 .sec3_cont > .item .desc { flex: 1;}
.professor_wrap .professor_sec3 .sec3_cont > .item .date { width: 110px;}



/*Members */
.members_wrap .members_sec1 {margin-bottom: var(--space-large);}
.members_wrap .members_sec2 { position: relative; width: 100%;}
.members_wrap .members_sec2 .sec2_cont { display: flex; flex-direction: column; gap: var(--space-large);}
.members_wrap .members_sec2 .sec2_cont > .item { position: relative; width: 100%;}
.members_wrap .members_sec2 .sec2_cont > .item .title_medium { margin-bottom: var(--space-medium);}
.members_wrap .members_sec2 .sec2_cont > .item .contbox { display: flex; justify-content: space-between; align-items: flex-end; gap: 2.5rem;}
.members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box { flex: 1; display: flex; flex-wrap: wrap; align-items: flex-start; gap: 8.625rem 4.125rem;}
.members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item { width: 33.333%; max-width: 263px;}
.members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item .imgbox { width: 100%; aspect-ratio: 1/1.17495; margin-bottom: 3.438rem; display: flex; align-items: center; justify-content: center;}
.members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item .imgbox img { width: 100%; height: 100%; object-fit: cover;}
.members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item .text_bold { margin-bottom: 1rem;}



/*Research */
.research_wrap .research_sec1 {margin-bottom: var(--space-large);}
.research_wrap .research_sec1 .sub_title { margin-bottom: 8.5rem;}
.research_wrap .research_sec1 .sec1_top { display: flex; flex-direction: column-reverse; align-items: flex-start; gap: var(--space-large); opacity: 1;}
.research_wrap .research_sec1 .sec1_top .txtbox { flex: 1; max-width: 1243px; font-size: 2.813rem; margin-top: 0; transition: all 1.2s ease-in-out 0.2s; will-change: margin-top;}
.research_wrap .research_sec1 .sec1_top .imgbox { width: 100%;  max-width: 100%; height: 875px; display: flex; align-items: center; justify-content: center; margin-left: auto; transition: all 1.2s ease-in-out 0.4s; will-change: max-width, height;}
.research_wrap .research_sec1 .sec1_top .imgbox .subtop_img { width: 100%; height: 100%; object-fit: cover;}
.research_wrap .research_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-4.5em - var(--space-large));}
.research_wrap .research_sec1 .sec1_top.aos-animate .imgbox { max-width: 263px; height: 409px;}

.research_wrap .research_sec2 {margin-bottom: var(--space-large);}
.research_wrap .research_sec2 .title_small { margin-bottom: var(--space-small);}
.research_wrap .research_sec2 .sec2_cont { display: flex; flex-direction: column;}
.research_wrap .research_sec2 .sec2_cont > .item { display: flex; justify-content: space-between; gap: 2.5rem; transition: all 0.35s ease-in-out;}
.research_wrap .research_sec2 .sec2_cont > .item:hover {color : var(--color-gray-desc)}
.research_wrap .research_sec2 .sec2_cont > .item .desc { flex: 1; font-weight: 500; }
.research_wrap .research_sec2 .sec2_cont > .item .num {font-weight: 500;}

.research_wrap .research_sec3 .title_medium { margin-bottom: var(--space-medium);}
.research_wrap .research_sec3 .sec3_cont {display: flex; flex-direction: column; gap: calc(var(--space-medium) - 2.5rem);}
.research_wrap .research_sec3 .sec3_cont > .item { display: flex; justify-content: space-between; gap: 2.5rem; padding-top: 2.5rem;} 
.research_wrap .research_sec3 .sec3_cont > .item .left { flex: 1; display: flex; flex-direction: column; gap: var(--space-small);}
.research_wrap .research_sec3 .sec3_cont > .item .left .title_small {max-width: var(--textbox-wide);}
.research_wrap .research_sec3 .sec3_cont > .item .left .imgbox { padding: 3.125rem; display: flex; align-items: center; justify-content: center;}
.research_wrap .research_sec3 .sec3_cont > .item .left .imgbox.img1 { max-width: 718px;}
.research_wrap .research_sec3 .sec3_cont > .item .left .imgbox.img2 { max-width: 953px;}
.research_wrap .research_sec3 .sec3_cont > .item .left .imgbox.img3 { max-width: 639px;}
.research_wrap .research_sec3 .sec3_cont > .item .left .text_basic {max-width: var(--textbox);}



/*Publications */
.publicatons_wrap .publicatons_sec1 {margin-bottom: var(--space-large);}

.publicatons_wrap .publicatons_sec2 {margin-bottom: var(--space-large);}
.publicatons_wrap .publicatons_sec2 .title_medium { margin-bottom: var(--space-medium);}
.publicatons_wrap .publicatons_sec2 .sec2_cont { display: flex; gap: 2.688rem;}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item { width: 33.333%; display: flex; flex-direction: column; gap: var(--space-small);}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item .hashtagbox { display: flex; align-items: center; gap: 0.625rem;}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item .hashtagbox .hashtag_basic { height: 34px; display: inline-flex; align-items: center; justify-content: center; border: 3px solid var(--color-black); font-size: 1rem; color: var(--color-black); padding: 0.313rem 0.938rem; font-weight: 600; transition: all 0.35s ease-in-out;}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item .title_small { transition: all 0.35s ease-in-out;}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item .text_basic { color: #2e2e2e; transition: all 0.35s ease-in-out;}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item .imgbox { width: 100%; aspect-ratio: 1/0.75826; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item .imgbox > img { width: 100%; height: 100%; object-fit: cover; transition: all 0.35s ease-in-out;}

.publicatons_wrap .publicatons_sec2 .sec2_cont > .item:hover .hashtagbox .hashtag_basic {color: var(--color-gray-desc); border-color: var(--color-gray-desc);}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item:hover .title_small { color: var(--color-gray-desc);}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item:hover .text_basic { color: var(--color-gray-desc);}
.publicatons_wrap .publicatons_sec2 .sec2_cont > .item:hover .imgbox > img {width: 110%; height: 110%;}


.publicatons_wrap .publicatons_sec3 .title_medium { margin-bottom: var(--space-medium);}
.publicatons_wrap .publicatons_sec3 .sec3_cont { display: flex; flex-direction: column; gap: var(--space-small); margin-bottom: var(--space-medium);}
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item { display: flex; flex-direction: column; max-width: 1253px; display: none;}
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item:nth-child(-n+10) {display: flex;}
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item .tit { margin-bottom: 1rem;}
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item .desc { margin-bottom: 0.875rem;}

.publicatons_wrap .publicatons_sec3 .sec3_cont > .item .tit, 
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item .desc, 
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item .date {transition: all 0.35s ease-in-out;}
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item:hover .tit { color: var(--color-gray-desc);}
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item:hover .desc, 
.publicatons_wrap .publicatons_sec3 .sec3_cont > .item:hover .date {opacity: 0.2;}



/*Boards */
.boards_wrap .boards_sec1 {margin-bottom: var(--space-large);}
.boards_wrap .boards_sec1 .sec1_cont { max-width: var(--textbox);}

.boards_wrap .boards_sec2 {margin-bottom: var(--space-large);}
.boards_wrap .boards_sec2 .title_medium { margin-bottom: 7.75rem;}
.boards_wrap .boards_sec2 .sec2_cont { display: flex; flex-direction: column; margin-bottom: var(--space-medium);}
.boards_wrap .boards_sec2 .sec2_cont > .item { display: flex; justify-content: space-between; gap: 2.5rem;  display: none;}
.boards_wrap .boards_sec2 .sec2_cont > .item .detail_link { width: 100%; display: flex; justify-content: space-between; gap: 2.5rem; transition: all 0.35s ease-in-out;} 
.boards_wrap .boards_sec2 .sec2_cont > .item .detail_link:hover { color: var(--color-gray-desc);}
.boards_wrap .boards_sec2 .sec2_cont > .item:nth-child(-n+4) {display: flex;}
.boards_wrap .boards_sec2 .sec2_cont > .item .desc { flex: 1;}
.boards_wrap .boards_sec2 .sec2_cont > .item .desc .link { position: relative;}
.boards_wrap .boards_sec2 .sec2_cont > .item .desc .link::before { content: ""; position: absolute; left: 0; bottom: 0; width: 0; height: 2px; background: var(--color-black); transition: all 0.35s ease-in-out;}
.boards_wrap .boards_sec2 .sec2_cont > .item .desc .link:hover::before {width: 100%;}

.boards_wrap .boards_sec3 {margin-bottom: var(--space-large);}
.boards_wrap .boards_sec3 .title_medium { margin-bottom: 7.75rem;}
.boards_wrap .boards_sec3 .sec3_cont { display: flex; flex-direction: column; gap: var(--space-small); max-width: var(--textbox);}
.boards_wrap .boards_sec3 .sec3_cont > .item { display: flex; flex-direction: column; gap: 0.75rem; transition: all 0.35s ease-in-out;}
.boards_wrap .boards_sec3 .sec3_cont > .item .text_bold,
.boards_wrap .boards_sec3 .sec3_cont > .item .text_basic { transition: all 0.35s ease-in-out;}
.boards_wrap .boards_sec3 .sec3_cont > .item:hover .text_bold{color: var(--color-gray-desc);}
.boards_wrap .boards_sec3 .sec3_cont > .item:hover .text_basic{opacity: 0.5;}

.boards_wrap .boards_sec4 .title_medium { margin-bottom: 7.75rem;}
.boards_wrap .boards_sec4 .sec4_cont { display: flex; flex-wrap: wrap; gap: 4.125rem; max-width: 1059px;}
.boards_wrap .boards_sec4 .sec4_cont > .item { width: 33.333%; max-width: 309px; display: flex; flex-direction: column; display: none;}
.boards_wrap .boards_sec4 .sec4_cont > .item:nth-child(-n+3) {display: flex;}
.boards_wrap .boards_sec4 .sec4_cont > .item .imgbox { display: flex; align-items: center; justify-content: center; width: 100%; aspect-ratio: 1/1; margin-bottom: 1.5rem; overflow: hidden;}
.boards_wrap .boards_sec4 .sec4_cont > .item .imgbox > img { width: 100%; height: 100%; object-fit: cover; transition: all 0.35s ease-in-out;  will-change: transform,;} 
.boards_wrap .boards_sec4 .sec4_cont > .item .desc { line-height: 1; margin-bottom: 0.5rem; transition: all 0.35s ease-in-out;}
.boards_wrap .boards_sec4 .sec4_cont > .item .date { color: var(--color-gray-desc); transition: all 0.35s ease-in-out;}
.boards_wrap .boards_sec4 .sec4_cont > .item:hover .imgbox > img {transform: scale(1.1);}
.boards_wrap .boards_sec4 .sec4_cont > .item:hover .desc {color: var(--color-gray-desc); }
.boards_wrap .boards_sec4 .sec4_cont > .item:hover .date {opacity: 0.5;}



/*Board View */
.boardsView_wrap .boardsView_sec1 .sec1_cont { max-width: var(--textbox);}
.boardsView_wrap .boardsView_sec1 .sec1_cont .category { display: flex; align-items: center; gap: 0.938rem 0.625rem; margin-bottom: var(--space-small);}
.boardsView_wrap .boardsView_sec1 .sec1_cont .category .hashtag_basic { height: 35px; display: inline-flex; align-items: center; justify-content: center; border: 3px solid var(--color-black); color: var(--color-black); padding: 0.25rem 0.938rem; font-weight: 600;}
.boardsView_wrap .boardsView_sec1 .sec1_cont .topbox { margin-bottom: 7.938rem;}
.boardsView_wrap .boardsView_sec1 .sec1_cont .topbox .title { margin-bottom: var(--space-small);}
.boardsView_wrap .boardsView_sec1 .sec1_cont .info { display: flex; flex-wrap: wrap; gap: 0.5rem 3.375rem;}
.boardsView_wrap .boardsView_sec1 .sec1_cont .contbox { margin-bottom: var(--space-small);}



/*Article */
.article_wrap .article_sec1 {margin-bottom: var(--space-large);}

.article_wrap .article_sec2 .sec2_cont { display: flex; flex-direction: column; gap: var(--space-medium);}
.article_wrap .article_sec2 .sec2_cont > .item { max-width: var(--textbox); }
.article_wrap .article_sec2 .sec2_cont > .item .detail_link { width: 100%; display: flex; flex-direction: column;}
.article_wrap .article_sec2 .sec2_cont > .item .imgbox { display: flex; align-items: center; justify-content: center; width: 100%; max-width: 263px; height: 409px; transition: all 0.6s ease-in-out; margin-bottom: var(--space-small); will-change: max-width, height; cursor: pointer;}
.article_wrap .article_sec2 .sec2_cont > .item:hover .imgbox { max-width: 100%; height: 600px;}
.article_wrap .article_sec2 .sec2_cont > .item .imgbox >img { width: 100%; height: 100%; object-fit: cover;}
.article_wrap .article_sec2 .sec2_cont > .item .title_small { margin-bottom: 3.5rem;}
.article_wrap .article_sec2 .sec2_cont > .item .text_basic { word-break: keep-all;}



/*Article View*/
.articleView_wrap .articleView_sec1 {margin-bottom: var(--space-large);}
.articleView_wrap .articleView_sec1 .sec1_cont {width: 100%;}
.articleView_wrap .articleView_sec1 .sec1_cont .article_title { margin-bottom: var(--space-medium);}
.articleView_wrap .articleView_sec1 .sec1_cont .share_box { display: flex; justify-content: flex-end; gap: 1.25rem; margin-bottom: var(--space-small);}
.articleView_wrap .articleView_sec1 .sec1_cont .share_box > .link_item { display: flex; align-items: center; justify-content: center; width: 2.5rem; aspect-ratio: 1/1;}
.articleView_wrap .articleView_sec1 .sec1_cont .share_box > .link_item > img{ width: 100%; height: 100%; object-fit: cover;}
.articleView_wrap .articleView_sec1 .sec1_cont .imgbox { width: 100%; height: 460px; display: flex; align-items: center; justify-content: center; overflow: hidden; margin-bottom: 1.5rem;}
.articleView_wrap .articleView_sec1 .sec1_cont .imgbox > img { width: 100%; height: 100%; object-fit: cover;}
.articleView_wrap .articleView_sec1 .sec1_cont .txtbox .hashtag_basic { color: var(--color-gray-desc);}

.articleView_wrap .articleView_sec2 {margin-bottom: var(--space-large);}
.articleView_wrap .articleView_sec2 > .inner { display: flex; align-items: flex-start; justify-content: space-between; gap: 5%;}
.articleView_wrap .articleView_sec2 .sec2_cont { flex: 1; max-width: var(--textbox); display: flex; flex-direction: column; gap: calc(var(--space-medium)/2);}
.articleView_wrap .articleView_sec2 .sec2_cont > .item { display: flex;  flex-direction: column; gap: 3rem; padding-top: calc(var(--space-medium)/2);}
.articleView_wrap .articleView_sec2 .sec2_cont > .item:nth-child(1) {margin-top: calc(var(--space-medium) / -2);}
.articleView_wrap .articleView_sec2 .sec2_cont > .item .txtbox .text_basic { word-break: keep-all;}
.articleView_wrap .articleView_sec2 .sec2_cont > .item .txtbox > .descbox { display: flex; flex-direction: column;}
.articleView_wrap .articleView_sec2 .sec2_cont > .item .txtbox > .descbox .text_line { display: flex; align-items: flex-start; gap: 0.25rem; padding-left: 0.35rem;}
.articleView_wrap .articleView_sec2 .sec2_cont > .item .txtbox > .descbox .text_line .desc { flex: 1;}
.articleView_wrap .articleView_sec2 .sec2_nav { position: sticky; top: 0; display: flex; flex-direction: column; gap: 1.875rem; padding-top: 6.0943rem; min-width: 250px;}
.articleView_wrap .articleView_sec2 .sec2_nav .nav_link { font-family: 'Spoqa Han Sans Neo', sans-serif; position: relative; font-size: 1.125rem; font-weight: 500; line-height: 1.5; color: var(--color-black); display: flex; align-items: center; gap: 1.125rem; cursor: pointer;}
.articleView_wrap .articleView_sec2 .sec2_nav .nav_link.on {font-weight: 700;}
.articleView_wrap .articleView_sec2 .sec2_nav .nav_link::before { content: ""; display: flex; width: 7px; height: 7px; background: var(--color-black); transition: all 0.35s ease-in-out; opacity: 0;}
.articleView_wrap .articleView_sec2 .sec2_nav .nav_link.on::before { opacity: 1;}

.articleView_wrap .articleView_sec3 {margin-bottom: var(--space-large);}
.articleView_wrap .articleView_sec3 .sec3_cont { display: flex; align-items: flex-end; justify-content: space-between; gap: 2.5rem;}
.articleView_wrap .articleView_sec3 .sec3_cont > .left { flex: 1; max-width: var(--textbox);}
.articleView_wrap .articleView_sec3 .sec3_cont > .left .title_small { margin-bottom: var(--space-medium);}
.articleView_wrap .articleView_sec3 .sec3_cont > .left .descbox { display: flex; flex-direction: column; gap: var(--space-small);}
.articleView_wrap .articleView_sec3 .sec3_cont > .left .descbox > .item { display: flex; flex-direction: column; gap: 0.5rem;}

.articleView_wrap .articleView_sec4 .title_small { margin-bottom: var(--space-medium);}
.articleView_wrap .articleView_sec4 .sec4_cont { display: flex; flex-wrap: wrap; gap: 4.063rem; max-width: var(--textbox-wide);}
.articleView_wrap .articleView_sec4 .sec4_cont > .item { width: 50%; max-width: 545px; display: flex; flex-direction: column;}
.articleView_wrap .articleView_sec4 .sec4_cont > .item .imgbox { display: flex; align-items: center; justify-content: center; width: 100%; aspect-ratio: 1/0.7578; margin-bottom: 1.875rem; overflow: hidden;}
.articleView_wrap .articleView_sec4 .sec4_cont > .item .imgbox > img { width: 100%; height: 100%; object-fit: cover; transition: all 0.35s ease-in-out;}
.articleView_wrap .articleView_sec4 .sec4_cont > .item .text_basic { font-size: 1.375rem; line-height: 1.5; transition: all 0.35s ease-in-out;}
.articleView_wrap .articleView_sec4 .sec4_cont > .item:hover .imgbox > img {width: 110%; height: 110%;}
.articleView_wrap .articleView_sec4 .sec4_cont > .item:hover .text_basic { color: var(--color-gray-desc);  }




/* PC */

@media screen and (max-width: 1783px) {    

  .home_wrap .home_sec2 .sec2_cont > .item .contbox .text_basic { height: 10.2em;}

}


@media screen and (max-width: 1620px) {    

  .research_wrap .research_sec1 .sec1_top .txtbox { max-width: 1243px; }
  .research_wrap .research_sec1 .sec1_top.aos-animate .txtbox {max-width: calc(100% - 263px - 2rem); }

}


@media screen and (max-width: 1550px) { 
  
  .title_large { font-size: 10.5rem;}

  .home_wrap .home_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-306px - 26.5rem);}
  .home_wrap .home_sec2 .sec2_cont > .item .contbox .text_basic { height: 11.9em;}

}


@media screen and (max-width: 1540px) {    

  html {font-size: 15.5px!important;}  

}


@media screen and (max-width: 1480px) { 
  
  .title_large { font-size: 10.5rem;}
  .home_wrap .home_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-19rem - 26.5rem);}
  .home_wrap .home_sec1 .sec1_top.aos-animate .imgbox { height: 19rem;}

  .articleView_wrap .articleView_sec1 .sec1_cont .txtbox .hashtag_basic br { display: none;}

}


@media screen and (max-width: 1440px) {    

  html {font-size: 15px!important;}  
  
  .footer .f_navbox .f_nav > li { max-width: 150px;}  

  .articleView_wrap .articleView_sec2 .sec2_nav { min-width: 200px;}

}


@media screen and (max-width: 1388px) {

  .home_wrap .home_sec2 .sec2_cont > .item .topbox .contents_title { min-height: 4.4em;}

}


@media screen and (max-width: 1380px) {    

  html {font-size: 14px !important;} 

}


@media screen and (max-width: 1294px) {  

  .home_wrap .home_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-30rem - 27rem);}
  .home_wrap .home_sec1 .sec1_top.aos-animate .imgbox { height: 30rem;}

}


@media screen and (max-width: 1280px) {

  .title_large { font-size: 10.5rem;}

  .home_wrap .home_sec2 .sec2_cont {flex-wrap: wrap;justify-content: flex-start; gap: 7rem 5%;}
  .home_wrap .home_sec2 .sec2_cont > .item { max-width: calc((100% - 2rem* 2) / 2);}
  .home_wrap .home_sec2 .sec2_cont > .item .topbox .contents_title { min-height: 3.3em;}
  .home_wrap .home_sec2 .sec2_cont > .item .contbox .text_basic { height: 10.2em;}
  .home_wrap .home_sec3 .sec3_cont { display: flex; gap: 3rem;  flex-direction: column; max-width: 780px;}
  .home_wrap .home_sec3 .sec3_cont > .left { width: 100%; max-width: 100%;}
  .home_wrap .home_sec3 .sec3_cont > .right { gap: 7.25rem; width: 100%;}

  .publicatons_wrap .publicatons_sec2 .sec2_cont { flex-wrap: wrap;}
  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item { width: calc((100% - 2.688rem) / 2);}
  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item .title_small br { display: none;}

}


@media screen and (max-width: 1200px) {

  html {font-size: 14px !important;}  

  .articleView_wrap .articleView_sec2 .sec2_nav { min-width: 170px;}

}


@media screen and (max-width: 1191px) {

  .research_wrap .research_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-5.5em - var(--space-large));}

}


@media screen and (max-width: 1120px) {

  .title_large { font-size: 10rem;}

  .home_wrap .home_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-28rem - 27rem);}
  .home_wrap .home_sec1 .sec1_top.aos-animate .imgbox { height: 28rem;}

}


@media screen and (max-width: 1150px) {

  .boards_wrap .boards_sec4 .sec4_cont > .item:nth-child(-n+3) { display: none;}
  .boards_wrap .boards_sec4 .sec4_cont > .item:nth-child(-n+4) { display: flex;}

}



@media screen and (max-width: 1080px) {

  .research_wrap .research_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-6.5em - var(--space-large));}

}


  
/* tablet */
@media screen and (max-width: 1024px) {

  html {font-size: 16px !important;} 

  body { min-width: initial; }
  .pc {display: none !important;}
  .tablet {display: block !important;}
  .inner { width: 100%; padding: 0 1.375rem;}
  .contents {margin-bottom: 5rem;}

  :root {

    --space-large : 7.5rem; /* 120px*/
    --space-medium : 2.813rem; /* 45px*/
    --space-small : 1.25rem; /* 20px*/

    --textbox : 260px;
  
  }  

  /* 모바일 대제목 */
  .title_large { font-size: 2.5rem;}
  /* 모바일 중제목 */
  .title_medium { font-size: 1.875rem;}
  /* 모바일 소제목 */
  .title_small { font-size: 1.375rem; line-height: 1.2; letter-spacing: -0.04em;}

  /* 모바일 일반 본문 */
  .text_basic { font-size: 0.875rem; line-height: 1.7;}
  /* 모바일 볼드 본문 */
  .text_bold { font-size: 0.875rem; line-height: 1.6;}
    
  /* 모바일 일반 해시태그 */
  .hashtag_basic {font-size: 0.75rem;}
  .hashtag_bold { font-size: 0.875rem;}

  /* 아티클 타이틀 */
  .article_title {font-size: 1.375rem; line-height: 1.2;}
    
  /* 모바일 일반 본문 스몰*/
  .mob_text_basic_small { font-size: 0.625rem; font-weight: 500; line-height: 1.5;}
  /* 모바일 볼드 본문 스몰*/
  .mob_text_bold_small { font-size: 0.625rem; font-weight: 700; line-height: 1.6;}
  
  /* 모바일 버튼 */
  .mob_button { font-size: 0.625rem; font-weight: 700; line-height: 0.92;}

  /* 모바일 작은 타이틀 */
  .mob_small_title { font-size: 0.875rem; font-weight: 500; line-height: 1.4;}

  /* 모바일 사이트맵 볼드 */
  .mob_sitemap_bold { font-size: 0.75rem; font-weight: 700; line-height: 1.4;}
  /* 모바일 사이트맵 미디엄 */
  .mob_sitemap_medium { font-size: 0.75rem; font-weight: 500; line-height: 1.4;}

  /* 모바일 해시태그 */
  .mob_hashtag {font-size: 0.5rem; font-weight: 700; line-height: 1.5;}

  /* 모바일 슬로건 */
  .mob_slogan { font-size: 0.875rem; font-weight: 600; line-height: 1.2; letter-spacing: 0;}

  .sub_title { margin-bottom: var(--space-large);}

  .more_btn {  height: auto; font-size: 0.625rem; border: 1px solid var(--color-black); padding: 0.438rem;}


  /* header */
  .header { margin-top: var(--space-medium); margin-bottom: var(--space-small);}
  .header .h_inner { width: 100%; padding: 0 1.375rem;}
  .header .h_nav { display: none;}
  .header .menu_icon { display: flex;  align-items: center;  justify-content: center;   width: 2.25rem; aspect-ratio: 1 / 1;  margin-left: auto; cursor: pointer;}


  /* footer */
  .footer { padding-bottom: 6.25rem;}
  .footer .f_navbox { padding: var(--space-medium) 0; margin-bottom: var(--space-medium);}
  .footer .f_inner { width: 100%; padding: 0 1.375rem;}
  .footer .f_navbox .f_nav { flex-direction: column; gap: 2.5rem;}
  .footer .f_navbox .f_nav > li { max-width: 100%; width: 100%;}
  /* .footer .f_navbox .f_nav .linkbox1 {order: 1;}
  .footer .f_navbox .f_nav .linkbox2 {order: 3;}
  .footer .f_navbox .f_nav .linkbox3 {order: 2;}
  .footer .f_navbox .f_nav .linkbox4 {order: 4;}
  .footer .f_navbox .f_nav .linkbox5 {order: 7;}
  .footer .f_navbox .f_nav .linkbox6 {order: 5;}
  .footer .f_navbox .f_nav .linkbox7 {order: 6;} */
  .footer .f_navbox .f_nav .f_nav_ul { display: none;}
  .footer .f_navbox .f_nav > li > .link { font-size: 0.75rem; line-height: 1.4;    margin-bottom: 0;}
  .footer .f_bottom .f_bottom_nav { justify-content: space-between; flex-wrap: wrap;  gap: var(--space-small) 0.5rem;}
  .footer .f_bottom .f_bottom_nav > li .link {font-size: 0.75rem;line-height: 1.4; font-weight: 500;}
  .footer .f_bottom .f_bottom_nav > li.copyright { width: 100%; font-size: 0.625rem;   line-height: 1.4; text-align: center; color: var(--color-gray-desc); font-weight: 400; letter-spacing: 0.04em;}


  /* main */
  .home_wrap .home_sec1 .sec1_top { margin-bottom: var(--space-medium); gap: var(--space-medium); align-items: flex-start;}
  .home_wrap .home_sec1 .sec1_top .txtbox { gap: 7.5rem; margin-top: 0; max-width: 100%;}
  .home_wrap .home_sec1 .sec1_top .txtbox .descbox {  display: flex; flex-direction: column; gap: 2rem;}
  .home_wrap .home_sec1 .sec1_top .imgbox { max-width: 100%; height: 199px; /* height: calc(100vh - var(--space-small) - var(--space-medium)*2 - 36px); */ }
  .home_wrap .home_sec1 .sec1_hashtag {flex-direction: column; align-items: flex-start; gap: 0.313rem;}
  .home_wrap .home_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-74px - var(--space-medium));}
  .home_wrap .home_sec1 .sec1_top.aos-animate .imgbox {max-width: 56px;height: 69px;}
  .home_wrap .home_sec1 .sec1_hashtag .hashtag { height: auto; border: 1px solid var(--color-black); padding: 0.438rem;font-size: 0.625rem; line-height: 1;}
  .home_wrap .home_sec1 .sec1_descbox .desc { font-size: 0.875rem; line-height: 1.7;}

  .home_wrap .home_sec2 .title_medium { margin-bottom: var(--space-medium);}
  .home_wrap .home_sec2 .sec2_cont { flex-direction: column; gap: 5rem;}
  .home_wrap .home_sec2 .sec2_cont > .item {  width: 100%;  max-width: 100%;}
  .home_wrap .home_sec2 .sec2_cont > .item .topbox { margin-bottom: 0.875rem;}
  .home_wrap .home_sec2 .sec2_cont > .item .topbox .add_text { font-size: 0.625rem;  line-height: 1.5;}
  .home_wrap .home_sec2 .sec2_cont > .item .topbox .contents_title { min-height: unset;  font-size: 1rem; line-height: 1.25;}
  .home_wrap .home_sec2 .sec2_cont > .item .contbox .imgbox { max-width: 100%; height: 90px; aspect-ratio: unset;}
  .home_wrap .home_sec2 .sec2_cont > .item .contbox .text_basic { height: unset;}
  .home_wrap .home_sec2 .sec2_cont > .item .hashtagbox { gap: 0.5rem;}
  .home_wrap .home_sec2 .sec2_cont > .item .hashtagbox .hashtag_basic { padding: 0.313rem;  border: 1.5px solid var(--color-black); line-height: 1;}

  .home_wrap .home_sec3 .title_medium { margin-bottom: 4.063rem;}
  .home_wrap .home_sec3 .sec3_cont {flex-direction: column; gap: var(--space-small);}
  .home_wrap .home_sec3 .sec3_cont > .left { width: 100%; max-width: 100%;}
  .home_wrap .home_sec3 .sec3_cont > .left .left_img {flex-direction: column; align-items: flex-start; justify-content: space-between; padding: var(--space-small);}
  .home_wrap .home_sec3 .sec3_cont > .left .left_img::before { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 50%; background: linear-gradient(to top, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0));}
  .home_wrap .home_sec3 .sec3_cont > .left .left_img .hashtagbox { display: flex !important; flex-wrap: wrap; gap: 0.313rem; position: relative;}
  .home_wrap .home_sec3 .sec3_cont > .left .left_img .hashtagbox .hashtag_basic {  line-height: 1; background: #fff; border: 1.5px solid #000000; padding: 0.313rem;}
  .home_wrap .home_sec3 .sec3_cont > .left .left_img .mob_small_title { font-family: 'Spoqa Han Sans Neo', sans-serif; color: #fff;  position: relative;}
  .home_wrap .home_sec3 .sec3_cont > .right {width: 100%;}
  .home_wrap .home_sec3 .sec3_cont > .right .txtbox {display: none;}
  .home_wrap .home_sec3 .sec3_cont > .right .gallery_box { flex-direction: column;  gap: var(--space-small);}
  .home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item { width: 100%; aspect-ratio: 1 / 0.5538; padding: var(--space-small);}
  .home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item.item1 { background-image: url(../img/mob_home_sec3_img2.jpg);}
  .home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item.item2 { background-image: url(../img/mob_home_sec3_img3.jpg);}
  .home_wrap .home_sec3 .sec3_cont > .right .gallery_box > .item::before { height: 90%;}


  /* about */
  .about_wrap .about_sec1 .sec1_top .txtbox .title_small { font-size: 1rem;  line-height: 1.5; max-width: 308px;}
  .about_wrap .about_sec2 .sec2_cont { gap: 5rem;}
  .about_wrap .about_sec2 .sec2_cont > .item { gap: var(--space-medium); max-width: 100%;}
  .about_wrap .about_sec2 .sec2_cont > .item .text_basic { word-break: break-word;}
  .about_wrap .about_sec2 .sec2_cont > .item .descbox .text_basic::before {opacity: 1;}
  .about_wrap .about_sec3 .sec3_cont {gap: 5rem;}
  .about_wrap .about_sec4 .title_medium { margin-bottom: var(--space-medium);}
  .about_wrap .about_sec4 .sec4_cont { gap: var(--space-medium);}
  .about_wrap .about_sec4 .sec4_cont > .item { gap: 0.875rem;}
  .about_wrap .about_sec4 .sec4_cont > .item .hashtag_bold {font-size: 0.875rem;  line-height: 1;}


  /* professor */
  .professor_wrap .professor_sec1 .sec1_top { gap: var(--space-small); margin-bottom: 5rem;}
  .professor_wrap .professor_sec1 .sec1_top .imgbox { max-width: 92px; height: 130px;}
  .professor_wrap .professor_sec1 .sec1_top .imgbox > img { width: 100%; height: 100%;  object-fit: cover;}
  .professor_wrap .professor_sec1 .sec1_top .txtbox { flex: 1;}
  .professor_wrap .professor_sec1 .sec1_top .txtbox .name { font-size: 2.5rem; word-break: keep-all;}
  .professor_wrap .professor_sec1 .sec1_bottom { gap: var(--space-medium);}
  .professor_wrap .professor_sec1 .sec1_bottom > .item { gap: var(--space-small);}
  .professor_wrap .professor_sec1 .sec1_bottom > .item .text_basic { line-height: 1;}
  .professor_wrap .professor_sec2 .title_medium { margin-bottom: var(--space-medium);}
  .professor_wrap .professor_sec2 .sec2_cont { gap: var(--space-medium);}
  .professor_wrap .professor_sec2 .sec2_cont > .item { flex-direction: column;  gap: 0.5rem;}
  .professor_wrap .professor_sec2 .sec2_cont > .item .left { gap: 0.5rem;}
  .professor_wrap .professor_sec2 .sec2_cont > .item .right { width: 100%;}
  .professor_wrap .professor_sec3 .title_medium { margin-bottom: var(--space-medium);}
  .professor_wrap .professor_sec3 .title_small { margin-bottom: var(--space-medium);}
  .professor_wrap .professor_sec3 .sec3_cont { gap: var(--space-medium);}
  .professor_wrap .professor_sec3 .sec3_cont > .item { flex-direction: column;  gap: 0.35rem;}


  /* members */
  .members_wrap .members_sec2 .sec2_cont > .item .title_medium { margin-bottom: var(--space-medium);}
  .members_wrap .members_sec2 .sec2_cont > .item .contbox {flex-direction: column;   align-items: flex-start; justify-content: flex-start;  gap: var(--space-medium);}
  .members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box { gap: var(--space-medium); flex-direction: column;}
  .members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item {   width: 100%; max-width: 100%;}
  .members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item .imgbox { max-width: 92px; margin-bottom: 1.2rem}
  .members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item .text_bold { margin-bottom: 0.875rem; line-height: 1;}
  .members_wrap .members_sec2 .sec2_cont > .item .contbox .more_btn { margin-left: auto;}


  /* research */
  .research_wrap .research_sec1 { margin-bottom: 5rem;}
  .research_wrap .research_sec1 .sec1_top { gap: var(--space-medium); align-items: flex-start;}
  .research_wrap .research_sec1 .sec1_top .txtbox {display: flex; flex-direction: column; gap: 5rem;  max-width: 100%;}
  .research_wrap .research_sec1 .sec1_top .txtbox .descbox {  display: flex; flex-direction: column; gap: 2rem;}
  .research_wrap .research_sec1 .sec1_top .txtbox .title_small { font-size: 1rem;  font-weight: 600; letter-spacing: 0; line-height: 1.5;}
  .research_wrap .research_sec1 .sec1_top .imgbox {height: 200px; }
  .research_wrap .research_sec1 .sec1_top.aos-animate .txtbox { max-width: 100%; margin-top: calc(-74px - var(--space-medium));}
  .research_wrap .research_sec1 .sec1_top.aos-animate .txtbox .title_large  {max-width: var(--textbox);}
  .research_wrap .research_sec1 .sec1_top.aos-animate .imgbox { max-width: 56px;height: 69px;}
  .research_wrap .research_sec2 .title_small { margin-bottom: var(--space-medium);}
  .research_wrap .research_sec2 .sec2_cont > .item { gap: var(--space-small);}
  .research_wrap .research_sec2 .sec2_cont > .item .desc { position: relative;  padding-left: 1.4em; font-weight: 500; line-height: 1.7; max-width: var(--textbox);}
  .research_wrap .research_sec2 .sec2_cont > .item .desc::before { content: "•";  position: absolute; left: 0.35em; top: 0;}
  .research_wrap .research_sec2 .sec2_cont > .item .num {font-weight: 500; line-height: 1.7;}
  .research_wrap .research_sec3 .sec3_cont {gap: calc(5rem - 2rem);}
  .research_wrap .research_sec3 .sec3_cont > .item {gap: 0; padding-top: 2rem;}
  .research_wrap .research_sec3 .sec3_cont > .item .left { gap: 0;}
  .research_wrap .research_sec3 .sec3_cont > .item .left .title_small { max-width: var(--textbox);}
  .research_wrap .research_sec3 .sec3_cont > .item .left .imgbox { padding: 0.625rem;  margin: var(--space-small) 0 0.625rem;}
  .research_wrap .research_sec3 .sec3_cont > .item .left .imgbox.img1 { max-width: 245px;}
  .research_wrap .research_sec3 .sec3_cont > .item .left .imgbox.img2 { max-width: 260px;}
  .research_wrap .research_sec3 .sec3_cont > .item .left .imgbox.img3 { max-width: 206px;}
  .research_wrap .research_sec3 .sec3_cont > .item .left .title_small br { display: none;}


  /* publicatons */
  .publicatons_wrap .publicatons_sec2 .sec2_cont { flex-direction: column; gap: 5rem;}
  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item { width: 100%; max-width: var(--textbox); gap: 0;}
  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item .hashtagbox { gap: 0.5rem; margin-bottom: 0.625rem;}
  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item .hashtagbox .hashtag_basic {  height: auto; font-size: 0.625rem; font-weight: 700;  line-height: 1; padding: 0.313rem 0.313rem 0.275rem; text-transform: uppercase; border: 2px solid var(--color-black);}
  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item .title_small { margin-bottom: 1rem;}
  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item .text_basic { font-size: 0.625rem; margin-bottom: var(--space-small);}
  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item .imgbox { aspect-ratio: 1 / 0.67695; overflow: hidden;}
  .publicatons_wrap .publicatons_sec3 .sec3_cont { gap: var(--space-medium);}
  .publicatons_wrap .publicatons_sec3 .sec3_cont > .item:nth-child(-n+10) { display: none;}
  .publicatons_wrap .publicatons_sec3 .sec3_cont > .item:nth-child(-n+5) {display: flex;}
  .publicatons_wrap .publicatons_sec3 .sec3_cont > .item .desc { font-size: 0.625rem;}
  .publicatons_wrap .publicatons_sec3 .sec3_cont > .item .date { font-size: 0.625rem;}

  

  /* boards */
  .boards_wrap .boards_sec1 .sub_title { margin-bottom: 5rem;}
  .boards_wrap .boards_sec1 .sec1_cont { max-width: 100%; word-break: keep-all;}
  .boards_wrap .boards_sec2 .title_medium { margin-bottom: var(--space-medium);}
  .boards_wrap .boards_sec2 .sec2_cont { margin-bottom: var(--space-medium); gap: 2.125rem;}
  .boards_wrap .boards_sec2 .sec2_cont > .item .detail_link { gap: var(--space-small);}
  .boards_wrap .boards_sec2 .sec2_cont > .item .detail_link .date { width: 35px;  text-align: right;}
  .boards_wrap .boards_sec3 .title_medium {  margin-bottom: var(--space-medium);}
  .boards_wrap .boards_sec3 .sec3_cont { gap: var(--space-medium);}
  .boards_wrap .boards_sec4 .title_medium { margin-bottom: var(--space-medium);}
  .boards_wrap .boards_sec4 .sec4_cont {  flex-direction: column; gap: var(--space-small);}
  .boards_wrap .boards_sec4 .sec4_cont > .item { width: 100%; max-width: 148px;}
  .boards_wrap .boards_sec4 .sec4_cont > .item .imgbox { margin-bottom: var(--space-small);}
  .boards_wrap .boards_sec4 .sec4_cont > .item .desc { margin-bottom: 0.25rem;  font-weight: 700;}
  .boards_wrap .boards_sec4 .sec4_cont > .item .date { font-size: 0.625rem;  line-height: 1.5;}


  /* boards View*/
  .boardsView_wrap .boardsView_sec1 .sub_title { margin-bottom: 5rem;}
  .boardsView_wrap .boardsView_sec1 .sec1_cont { max-width: 100%;}

  .boardsView_wrap .boardsView_sec1 .sec1_cont .category { gap: 0.5rem; margin-bottom: 1.563rem;max-width: var(--textbox);}
  .boardsView_wrap .boardsView_sec1 .sec1_cont .category .hashtag_basic { height: auto; font-size: 0.625rem; line-height: 1; padding: 0.313rem 0.313rem 0.275rem;  text-transform: uppercase; font-weight: 700; border: 2px solid var(--color-black);}
  .boardsView_wrap .boardsView_sec1 .sec1_cont .topbox { margin-bottom: var(--space-medium);  max-width: var(--textbox);}
  .boardsView_wrap .boardsView_sec1 .sec1_cont .info { gap: 0.5rem 1.25rem;}
  .boardsView_wrap .boardsView_sec1 .sec1_cont .info > p { font-size: 0.675rem;}
  .boardsView_wrap .boardsView_sec1 .sec1_cont .contbox { margin-bottom: var(--space-medium);}


  /* article */
  .article_wrap .article_sec2 .sec2_cont { gap: 5rem;}
  .article_wrap .article_sec2 .sec2_cont > .item { max-width: 100%;}
  .article_wrap .article_sec2 .sec2_cont > .item .imgbox { max-width: 92px; height: 176px;}
  .article_wrap .article_sec2 .sec2_cont > .item:hover .imgbox { max-width: 92px;  height: 176px;}
  .article_wrap .article_sec2 .sec2_cont > .item .title_small {  margin-bottom: var(--space-small); max-width: var(--textbox);}
  .article_wrap .article_sec2 .sec2_cont > .item .text_basic { word-break: break-word;}


  /* article View */
  .articleView_wrap .articleView_sec1 .sec1_cont .share_box { gap: 0.313rem;}
  .articleView_wrap .articleView_sec1 .sec1_cont .share_box > .link_item { width: 1.313rem;}
  .articleView_wrap .articleView_sec1 .sec1_cont .imgbox { height: 160px;  margin-bottom: var(--space-small);}
  .articleView_wrap .articleView_sec1 .sec1_cont .txtbox .hashtag_basic { font-size: 0.5rem;}
  .articleView_wrap .articleView_sec1 .sec1_cont .txtbox .hashtag_basic br { display: none;}
  .articleView_wrap .articleView_sec1 { margin-bottom: var(--space-medium);}  
  .articleView_wrap .articleView_sec2 .sec2_cont { max-width: 100%; gap: var(--space-medium);}
  .articleView_wrap .articleView_sec2 .sec2_cont > .item { gap: 1rem;}
  .articleView_wrap .articleView_sec2 .sec2_cont > .item .txtbox .text_basic {  word-break: break-word;}
  .articleView_wrap .articleView_sec2 .sec2_nav {display: none;}
  .articleView_wrap .articleView_sec3 .sec3_cont { gap: var(--space-medium);  flex-direction: column; align-items: flex-start;}
  .articleView_wrap .articleView_sec3 .sec3_cont > .left { max-width: 100%;}
  .articleView_wrap .articleView_sec3 .sec3_cont > .left .descbox { gap: 1.2rem;}
  .articleView_wrap .articleView_sec3 .sec3_cont > .left .descbox > .item { gap: 0;}
  .articleView_wrap .articleView_sec3 .sec3_cont > .left .descbox > .item .text_basic { font-size: 0.625rem;}
  .articleView_wrap .articleView_sec3 .sec3_cont > .left .descbox > .item .hashtag_bold {font-size: 0.625rem;}
  .articleView_wrap .articleView_sec3 .sec3_cont > .left .descbox > .item .hashtag_bold br { display: none;}
  .articleView_wrap .articleView_sec3 .sec3_cont > .right { width: 100%;}
  .articleView_wrap .articleView_sec4 .sec4_cont { flex-direction: column; gap: var(--space-medium); max-width: var(--textbox);}
  .articleView_wrap .articleView_sec4 .sec4_cont > .item { width: 100%; max-width: 100%;}
  .articleView_wrap .articleView_sec4 .sec4_cont > .item .imgbox { max-width: 204px;  aspect-ratio: 1 / 0.56375; margin-bottom: var(--space-small);}
  .articleView_wrap .articleView_sec4 .sec4_cont > .item .text_basic { font-size: 0.875rem; line-height: 1.4;}
 
}


@media screen and (max-width: 900px) {

  /* html {font-size: 14px !important;} */


}


@media screen and (max-width: 700px) {

  /* html {font-size: 11.5px !important;} */

}




/* Mobile */
@media screen and (max-width: 599px) {

  .mobile {display: block !important;}
  .nav_box { max-width: 100%; right: -100%;  }

}
  



/* tablet2 */
@media (min-width: 600px) and (max-width: 1024px) {

  html { font-size: 20px !important;}

  .inner {padding: 0 2.5rem;}

  :root {
    --textbox: 400px;
  }

  .header .h_inner { padding: 0 2.5rem;}


  .footer .f_navbox .f_nav { gap: 2.5rem;}
  .footer .f_bottom .f_bottom_nav { justify-content: center; gap: var(--space-small) 2.5rem; }


  .home_wrap .home_sec1 .sec1_top .imgbox {  height: 400px;}
  .home_wrap .home_sec1 .sec1_top.aos-animate .imgbox { max-width: 86px; height: 100px;}
  .home_wrap .home_sec1 .sec1_top.aos-animate .txtbox { margin-top: calc(-95px - var(--space-medium));}
  .home_wrap .home_sec2 .sec2_cont > .item .contbox .imgbox { height: 250px;}
  .home_wrap .home_sec2 .sec2_cont > .item .contbox .text_basic { height: unset;}
  .home_wrap .home_sec3 .sec3_cont { max-width: 100%; flex-direction: row;} 
  .home_wrap .home_sec3 .sec3_cont > .left { width: 50%; align-self: stretch;}
  .home_wrap .home_sec3 .sec3_cont > .left .left_img { height: 100%;}


  .about_wrap .about_sec1 .sec1_top .txtbox .title_small { max-width: 100%;  font-size: 1.375rem;}
  
  
  .professor_wrap .professor_sec1 .sec1_top .imgbox { max-width: 235px; height: 320px;}
  .professor_wrap .professor_sec1 .sec1_top .txtbox .name { font-size: 3.5rem;}


  .members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box { flex-direction: row;}
  .members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item {  width: auto;  max-width: 50%;}
  .members_wrap .members_sec2 .sec2_cont > .item .contbox .member_box > .item .imgbox {  max-width: 200px;}


  .research_wrap .research_sec1 .sec1_top .txtbox .title_small { font-size: 1.375rem;}
  .research_wrap .research_sec1 .sec1_top .imgbox { height: 400px;}
  .research_wrap .research_sec1 .sec1_top.aos-animate .imgbox { max-width: 86px; height: 100px;}
  .research_wrap .research_sec2 .sec2_cont > .item .desc { max-width: 600px;}


  .publicatons_wrap .publicatons_sec2 .sec2_cont > .item { max-width: 480px;}


  .boards_wrap .boards_sec2 .sec2_cont > .item .detail_link .date { width: 100px;}
  .boards_wrap .boards_sec4 .sec4_cont { flex-direction: row; max-width: 600px;}
  .boards_wrap .boards_sec4 .sec4_cont > .item { max-width: 250px;}

  .articleView_wrap .articleView_sec4 .sec4_cont > .item .imgbox { max-width: 450px;}


}


@media (min-width: 600px) and (max-width: 800px) {

  .home_wrap .home_sec3 .sec3_cont { flex-direction: column;}
  .home_wrap .home_sec3 .sec3_cont > .left { width: 100%;}
  .home_wrap .home_sec3 .sec3_cont > .left .left_img { width: 100%;}

}