/* 01_메인 */
.main_wrap .sec1 {padding: 80px 0 32px; background: radial-gradient(124.48% 124.48% at 2.58% 1.71%, #472e8c 0%, #110738 99.48%, #110737 100%);}
.main_wrap .sec1 .txtbox { position: relative; text-align: center; margin-bottom: 24px;}
.main_wrap .sec1 .txtbox .logo { display: block;  max-width: 295px; margin: 0 auto 16px;}
.main_wrap .sec1 .txtbox .txt1 { font-size: 13px; line-height: 154%;  color: var(--color-white); opacity: 0.7;  margin-bottom: 8px;}
.main_wrap .sec1 .txtbox .txt2 {  font-weight: 700;  font-size: 14px;   line-height: 157%;  color: var(--color-white);}
.main_wrap .sec1 .btnbox { display: flex; align-items: center; justify-content: center; gap: 12px; padding-bottom: 40px;}
.main_wrap .sec1 .jackpotbox { position: relative;  width: 100%; display: flex;  flex-wrap: wrap; justify-content: center; gap: 24px 12px; background: rgb(150, 80, 248, 0.1);  padding: 32px 20px 24px; border-radius: 16px;}
.main_wrap .sec1 .jackpotbox .jackpot_item {position: relative;  width: 88px; display: flex;  flex-direction: column; align-items: center; gap: 12px;}
.main_wrap .sec1 .jackpotbox .jackpot_item::before { content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 44px; height: 12.32px;  border-radius: 100%; background: var(--color-black); filter: blur(5.436563491821289px); opacity: 0.15;}
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_title { width: 34px; height: 20px;  font-weight: 700;  font-size: 11px; line-height: 145%; color: var(--color-black);  background: var(--color-white); padding: 2px 8px; border-radius: 4px;}
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_box {position: relative; width: 77.44px; aspect-ratio: 1 / 1; border-radius: 100%; display: flex; align-items: center; justify-content: center;}
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_box.color1{ background: radial-gradient(86.23% 86.23% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(254, 242, 39) 33.81808698177338%, rgb(215, 177, 3) 100%);  box-shadow: inset -3px -6px 8px 0 rgba(0, 0, 0, 0.24);}
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_box.color2 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(0, 160, 238) 35.18792986869812%, rgb(0, 112, 222) 100%); box-shadow: inset -1px -2px 6px 0 rgba(0, 0, 0, 0.29);}
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_box.color3{ background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(255, 107, 107) 35.18792986869812%, rgb(222, 0, 0) 100%); box-shadow: inset -1px -2px 6px 0 rgba(0, 0, 0, 0.29);} 
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_box.color4{ background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(99, 99, 99) 35.18792986869812%, rgb(61, 61, 61) 100%); box-shadow: inset 0 1px 2px 0 #575757, inset -1px -2px 6px 0 rgba(0, 0, 0, 0.29);} 
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_box.color5{background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(100, 214, 87) 41.75504744052887%, rgb(46, 134, 46) 100%); box-shadow: inset -3px -6px 6px 0 rgba(0, 0, 0, 0.29);} 
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_box::after { content: "";  background: url(../img/slot_fixbtn.png) no-repeat center / contain; width: 24.64px;  aspect-ratio: 1 / 1; position: absolute; right: 0; top: 0; z-index: 10; opacity: 0;}
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_box.fixed::after { opacity: 1;}
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_swiper { position: relative;  width: 42.24px;  aspect-ratio: 1 / 1; border-radius: 100%; background: var(--color-white);}
.main_wrap .sec1 .jackpotbox .jackpot_item .slot_swiper .swiper-slide { font-weight: 800; font-size: 17px; line-height: 140%; text-align: center;  color: var(--color-black); display: flex; align-items: center; justify-content: center;}

.main_wrap .sec2 { padding: 40px 0 48px;}
.main_wrap .sec2 .titbox { display: flex; flex-direction: column; gap: 8px; margin-bottom: 16px;}
.main_wrap .sec2 .btnbox { display: flex; justify-content: center;  margin-bottom: 40px;}
.main_wrap .sec2 .number_list { display: flex; flex-direction: column;}
.main_wrap .sec2 .number_item { display: flex; align-items: center; justify-content: space-between;  gap: 12px; padding-bottom: 11.5px; border-bottom: 1px solid var(--color-border1); margin-bottom: 11.5px;}
.main_wrap .sec2 .number_item:last-child { padding-bottom: 0; border-bottom: 0;  margin-bottom: 0;}
.main_wrap .sec2 .number_item .title { font-weight: 700; font-size: 13px;  line-height: 154%; color: var(--color-black); min-width: 18px;}
.main_wrap .sec2 .number_item .listbox { flex: 1; display: flex; justify-content: center; gap: 8px;}
.main_wrap .sec2 .number_item .listbox .item { width: 32px; aspect-ratio: 1 / 1;   margin: 2px; display: flex; align-items: center; justify-content: center;border-radius: 100%;}
.main_wrap .sec2 .number_item .listbox .item.color1 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(254, 242, 39) 33.81808698177338%, rgb(215, 177, 3) 100%); box-shadow: inset 0 1px 2px 0 #f7e515, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
.main_wrap .sec2 .number_item .listbox .item.color2 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(100, 214, 87) 41.75504744052887%, rgb(46, 134, 46) 100%); box-shadow: inset 0 1px 2px 0 #71e567, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
.main_wrap .sec2 .number_item .listbox .item.color3 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(0, 160, 238) 35.18792986869812%, rgb(0, 112, 222) 100%); box-shadow: inset 0 1px 2px 0 #0073df, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
.main_wrap .sec2 .number_item .listbox .item.color4 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(255, 107, 107) 35.18792986869812%, rgb(222, 0, 0) 100%); box-shadow: inset 0 1px 2px 0 #ec2f2f, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
.main_wrap .sec2 .number_item .listbox .item.color5 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(99, 99, 99) 35.18792986869812%, rgb(61, 61, 61) 100%); box-shadow: inset 0 1px 2px 0 #575757, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
.main_wrap .sec2 .number_item .listbox .item .number { display: flex; align-items: center; justify-content: center; width: 18px; aspect-ratio: 1 / 1;  border-radius: 100%; background: var(--color-white); font-weight: 800;  font-size: 10px;  line-height: 160%;  text-align: center; color: var(--color-black);}
.main_wrap .sec2 .number_item .retry_btn { position: relative; border: 1px solid var(--color-border2); border-radius: 4px; width: 24px; aspect-ratio: 1 / 1; display: flex;  align-items: center; justify-content: center;}
.main_wrap .sec2 .number_item .retry_btn::before { content: "";  background: url(../img/ico_retry.png) no-repeat center / contain; width: 16px; aspect-ratio: 1 / 1;  display: block;}
.main_wrap .sec2 .number_item .retry_btn.disabled::before { opacity: 0.3;}

.main_wrap .sec3 { padding: 48px 0 58px; background: var(--color-border1);}
.main_wrap .sec3 .titbox { margin-bottom: 32px;}
.main_wrap .sec3 .contbox { display: flex;  flex-direction: column;}
.main_wrap .sec3 .contbox .item { display: flex;  align-items: center;  gap: 16px;  padding-bottom: 16px;  border-bottom: 1px solid var(--color-border2);  margin-bottom: 16px;}
.main_wrap .sec3 .contbox .item:last-child { padding-bottom: 0; border-bottom: 0;  margin-bottom: 0;}
.main_wrap .sec3 .contbox .item .iconbox { width: 56px; aspect-ratio: 1 / 1;  display: flex;  align-items: center;  justify-content: center;}
.main_wrap .sec3 .contbox .item .txtbox { flex: 1;}
.main_wrap .sec3 .contbox .item .txtbox .tit { font-size: 13px; line-height: 154%;  color: var(--color-black);}
.main_wrap .sec3 .contbox .item .txtbox .desc { font-weight: 700;  font-size: 16px;  line-height: 133%;  color: var(--color-black);}
.main_wrap .sec3 .contbox .item .txtbox .desc .number { font-size: 24px;}

.main_wrap .sec4 { padding: 48px 0 32px;}
.main_wrap .sec4 .titbox { margin-bottom: 16px;}
.main_wrap .sec4 .personbox { display: flex; flex-direction: column; align-items: center; padding-bottom: 31.5px; margin-bottom: 24.5px; border-bottom: 1px solid #eff1ff;}
.main_wrap .sec4 .personbox .tit { margin-bottom: 4px;}
.main_wrap .sec4 .personbox .person_info { display: flex;  flex-direction: column;  align-items: center;  gap: 14px; margin-top: 32px;}
.main_wrap .sec4 .personbox .person_info .thum { width: 80px; display: block;}
.main_wrap .sec4 .personbox .person_info .name { font-weight: 700;  font-size: 14px;  line-height: 157%; text-align: center; color: var(--color-black);}
.main_wrap .sec4 .infobox {display: flex; flex-direction: column;}
.main_wrap .sec4 .infobox .tit {margin-bottom: 9px;}

.main_wrap .sec5 {padding: 32px 0 64px;}
.main_wrap .sec5 .titbox { display: flex; flex-direction: column;  gap: 8px;  margin-bottom: 32px;}
.main_wrap .sec5 .contbox { display: flex;  flex-direction: column;}
.main_wrap .sec5 .contbox .item { display: flex; align-items: center; gap: 12px;  padding-bottom: 16px; border-bottom: 1px solid var(--color-border1); margin-bottom: 16px;}
.main_wrap .sec5 .contbox .item:last-child { padding-bottom: 0; border-bottom: 0;  margin-bottom: 0;}
.main_wrap .sec5 .contbox .item .iconbox { width: 48px; aspect-ratio: 1 / 1;  display: flex;  align-items: center;  justify-content: center;}
.main_wrap .sec5 .contbox .item .txtbox { flex: 1;}
.main_wrap .sec5 .contbox .item .txtbox .tit { font-weight: 800; font-size: 14px;  line-height: 157%;  color: var(--color-black);}

.main_wrap .sec6 { padding: 56px 0 0; background: #d2c8ff;}
.main_wrap .sec6 .txtbox { display: flex; flex-direction: column; align-items: center;  gap: 16px; margin-bottom: 24px;}
.main_wrap .sec6 .txtbox .logo { max-width: 292px;}
.main_wrap .sec6 .txtbox .m_txt2 { color: var(--color-text);}
.main_wrap .sec6 .btnbox { display: flex; align-items: center; gap: 12px;  justify-content: center; margin-bottom: 40px;}
.main_wrap .sec6 .btnbox .btn { width: 100%; gap: 6px; font-size: 13px; line-height: 154%;}
.main_wrap .sec6 .btnbox .btn .icon { width: 15px;}
.main_wrap .sec6 .phone_preview { display: block; max-width: 299px; margin: 0 auto;}


/* 03_로그인 */
#login_modal .modal_body .btn_box .account_box { display: flex; align-items: center;  justify-content: center; gap: 6px; margin-top: 16px;}
#login_modal .modal_body .btn_box .account_box .link { display: inline-block;  font-size: 13px; line-height: 154%; color: var(--color-info);}
#login_modal .modal_body .btn_box .account_box .dot { display: inline-block;  border-radius: 100%;  background: var(--color-placeholder); width: 3px;  aspect-ratio: 1 / 1;}


/* 04_마이라운지 */
#myLounge_modal .member_box{padding-bottom: 24px;}
#myLounge_modal .member_box .infobox { display: flex; gap: 20px 12px; flex-wrap: wrap; box-shadow: var(--box-shadow); padding: 16px; border-radius: 8px; background: var(--color-white); margin-bottom: 12px;}
#myLounge_modal .member_box .infobox .thumbox { width: 64px; aspect-ratio: 1 / 1;  padding: 4px;}
#myLounge_modal .member_box .infobox .thumbox .thum_img { width: 100%; aspect-ratio: 1 / 1; display: flex; align-items: center; justify-content: center; overflow: hidden; border-radius: 100%;}
#myLounge_modal .member_box .infobox .thumbox .thum_img > img { width: 100%; height: 100%; object-fit: cover;}
#myLounge_modal .member_box .infobox .txtbox { flex: 1; display: flex; flex-direction: column; gap: 2px;}
#myLounge_modal .member_box .infobox .txtbox .plan { display: inline-block; width: fit-content; padding: 2px 8px; border-radius: 4px; font-weight: 700; font-size: 11px; line-height: 145%; color: var(--color-white);  margin-top: 4px;}
#myLounge_modal .member_box .infobox .txtbox .plan.free {background: radial-gradient(81.36% 81.36% at 10.84% 20.47%, #e2e2e2 0%, #858585 35.19%, #606060 100%);}
#myLounge_modal .member_box .infobox .txtbox .plan.basic {background: radial-gradient(81.36% 81.36% at 10.84% 20.47%, #cfe9f6 0%, #00a0ee 35.19%, #0070de 100%);}
#myLounge_modal .member_box .infobox .txtbox .plan.premium {background: radial-gradient(81.36% 81.36% at 10.84% 20.47%, #e2cff6 0%, #7d00ee 35.19%, #7400de 100%)}
#myLounge_modal .member_box .infobox .txtbox .email { font-weight: 800; font-size: 16px; line-height: 150%; color: var(--color-black);}
#myLounge_modal .member_box .infobox .txtbox .period { font-size: 12px; line-height: 150%; color: var(--color-info);}
#myLounge_modal .member_box .infobox .btnbox {width: 100%;}
#myLounge_modal .member_box .infobox .notobx {display: flex; flex-direction: column; gap: 4px;}
#myLounge_modal .nav_box { padding: 16px 0; display: flex; flex-direction: column;  gap: 8px;}
#myLounge_modal .nav_box > .item { width: 100%; height: 40px;}
#myLounge_modal .nav_box > .item .btn { display: flex; align-items: center;  justify-content: space-between; gap:8px; width: 100%; height: 100%;}
#myLounge_modal .nav_box > .item .btn .tit { flex: 1; font-weight: 800;  font-size: 14px; line-height: 157%; color: var(--color-black); text-align: left;}
#myLounge_modal .nav_box > .item .btn .arrow { background: url(../img/ico_arrowRight.png) no-repeat center / contain; width: 24px;  aspect-ratio: 1 / 1;}


/* 04_마이라운지 02_번호생성내역 */
#numberList_modal .number_box { display: flex; flex-direction: column; gap: 16px;box-shadow: var(--box-shadow); padding: 16px; border-radius: 8px; background: var(--color-white); margin-bottom: 12px;}
#numberList_modal .number_box .number_titbox { display: flex; align-items: center;  justify-content: space-between; }
#numberList_modal .number_box .number_titbox .date { font-weight: 800;  font-size: 14px; line-height: 157%; color: var(--color-black);}
#numberList_modal .number_box .number_titbox .del_btn {  background: url(../img/ico_close.png) no-repeat center / contain;  width: 20px; aspect-ratio: 1 / 1;}
#numberList_modal .number_box .number_list { display: flex; flex-direction: column; gap:12px}
#numberList_modal .number_box .number_list > .item { display: flex; align-items: center; justify-content: space-between; gap: 12px;}
#numberList_modal .number_box .number_list > .item .title { font-size: 13px;  line-height: 154%; color: var(--color-black); min-width: 16px;}
#numberList_modal .number_box .number_list > .item .listbox { flex: 1; display: flex; justify-content: center; gap: 8px;}
#numberList_modal .number_box .number_list > .item .listbox .item { width: 32px; aspect-ratio: 1 / 1;   margin: 2px; display: flex; align-items: center; justify-content: center;border-radius: 100%;}
#numberList_modal .number_box .number_list > .item .listbox .item.color1 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(254, 242, 39) 33.81808698177338%, rgb(215, 177, 3) 100%); box-shadow: inset 0 1px 2px 0 #f7e515, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
#numberList_modal .number_box .number_list > .item .listbox .item.color2 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(100, 214, 87) 41.75504744052887%, rgb(46, 134, 46) 100%); box-shadow: inset 0 1px 2px 0 #71e567, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
#numberList_modal .number_box .number_list > .item .listbox .item.color3 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(0, 160, 238) 35.18792986869812%, rgb(0, 112, 222) 100%); box-shadow: inset 0 1px 2px 0 #0073df, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
#numberList_modal .number_box .number_list > .item .listbox .item.color4 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(255, 107, 107) 35.18792986869812%, rgb(222, 0, 0) 100%); box-shadow: inset 0 1px 2px 0 #ec2f2f, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
#numberList_modal .number_box .number_list > .item .listbox .item.color5 { background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(99, 99, 99) 35.18792986869812%, rgb(61, 61, 61) 100%); box-shadow: inset 0 1px 2px 0 #575757, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.29);}
#numberList_modal .number_box .number_list > .item .listbox .item .number { display: flex; align-items: center; justify-content: center; width: 18px; aspect-ratio: 1 / 1;  border-radius: 100%; background: var(--color-white); font-weight: 800;  font-size: 10px;  line-height: 160%;  text-align: center; color: var(--color-black);}
#numberList_modal .number_box.notDrawn .number_list > .item .listbox .item {  background: radial-gradient(76.49% 76.49% at 38.49% 17.43%, rgb(255, 255, 255) 0%, rgb(205, 205, 205) 35.18792986869812%, rgb(171, 171, 171) 100%); box-shadow: inset 0 1px 2px 0 #c8c8c8, inset -1px -2px 2px 0 rgba(0, 0, 0, 0.2);}
#numberList_modal .number_box.notDrawn .number_list > .item .listbox .item .number{color: #b4bbc8;}


/* 04_마이라운지 03_결제내역 */
#payList_modal .plan_box { display: flex; flex-direction: column; gap: 12px;  margin-bottom: 16px;}
#payList_modal .plan_box .item { position: relative; padding: 16px; border-radius: 8px; box-shadow: var(--box-shadow); display: flex; align-items: center; gap: 8px;}
#payList_modal .plan_box .item .imgbox { display: flex; align-items: center;  justify-content: center;  width: 56px;}
#payList_modal .plan_box .item .txtbox { flex: 1; display: flex; align-items: center; justify-content: space-between; gap: 8px;}
#payList_modal .plan_box .item .txtbox .info { flex: 1;  display: flex; flex-direction: column; gap: 2px;}
#payList_modal .plan_box .item .txtbox .info .tit { font-weight: 800; font-size: 16px;  line-height: 150%; color: var(--color-black);}
#payList_modal .plan_box .item .txtbox .info .date { font-size: 12px;  line-height: 150%; color: var(--color-info);}
#payList_modal .plan_box .item .txtbox .price { font-weight: 800; font-size: 18px;  line-height: 144%; text-align: right; color: var(--color-primary);}


/* 04_마이라운지 05_회원탈퇴 03_플랜구매*/
#planPurchase_modal .plan_swiper { width: calc(100% + 16px* 2); margin: 0 -16px;  padding: 0 16px 24px;}
#planPurchase_modal .plan_swiper .swiper-slide { width: 282px; box-shadow: var(--box-shadow); background: var(--color-white); border-radius: 8px; overflow: hidden;}
#planPurchase_modal .plan_swiper .cardbox { position: relative; width: 100%;  display: flex; flex-direction: column;}
#planPurchase_modal .plan_swiper .cardbox .imgbox { display: flex; align-items: center; justify-content: center;}
#planPurchase_modal .plan_swiper .cardbox .imgbox > img{width: 100%;}
#planPurchase_modal .plan_swiper .cardbox .txtbox { display: flex; flex-direction: column;  gap: 16px; padding: 16px;}
#planPurchase_modal .plan_swiper .cardbox .txtbox .infobox {display: flex;  align-items: center; justify-content: space-between; gap: 8px;}
#planPurchase_modal .plan_swiper .cardbox .txtbox .infobox .info {flex: 1; display: flex;  flex-direction: column; gap: 2px;}
#planPurchase_modal .plan_swiper .cardbox .txtbox .infobox .info .tit{ font-weight: 800; font-size: 16px; line-height: 150%; color: var(--color-black);}
#planPurchase_modal .plan_swiper .cardbox .txtbox .infobox .info .desc{ font-size: 12px; line-height: 150%; color: var(--color-info);}
#planPurchase_modal .plan_swiper .cardbox .txtbox .infobox .info .desc .date{color: var(--color-black);}
#planPurchase_modal .plan_swiper .cardbox .txtbox .infobox .price{ font-weight: 800;  font-size: 16px; line-height: 150%; text-align: right;color: var(--color-primary);}
#planPurchase_modal .plan_swiper .cardbox .txtbox .paybtn {font-weight: 700;}
#planPurchase_modal .note_box { padding: 24px 0;}
#planPurchase_modal .note_box .title { font-weight: 800; font-size: 14px;  line-height: 157%; color: var(--color-black); margin-bottom: 8px;}
#planPurchase_modal .note_box .listbox { display: flex; flex-direction: column;  gap: 4px;}
#planPurchase_modal .note_box .listbox .txt { position: relative; font-size: 13px;  line-height: 154%; color: var(--color-text); padding-left: 10px; word-break: keep-all;}
#planPurchase_modal .note_box .listbox .txt::before { content: ""; position: absolute; left: 0;  top: 0.6em; width: 3px; aspect-ratio: 1 / 1; border-radius: 100%;  background: var(--color-placeholder);}
#planPurchase_modal .note_box .listbox .txt .bold { font-weight: 700;}


/* 04_마이라운지 05_회원탈퇴 03_플랜구매*/
#joinTerms_modal .term_box {position: relative;}
#joinTerms_modal .term_box .term_item { display: flex; flex-direction: column; gap: 8px;}
#joinTerms_modal .term_box .term_item + .term_item { margin-top: 24px;}
#joinTerms_modal .term_box .term_item .term_cont { border: 1px solid var(--color-border2); border-radius: 8px; height: 210px; padding: 17px 16px; overflow: auto;}
#joinTerms_modal .term_box .term_item .term_cont::-webkit-scrollbar {display: none;}
#joinTerms_modal .term_box .term_item.total { margin-top: 16px; padding-top: 16px;  border-top: 1px solid var(--color-border1);}
#joinTerms_modal .term_box .term_item.total .check_box {align-items: flex-start;}


/* 06_비밀번호찾기 찾기*/
#schPwd_modal .input_box {margin-bottom: 8px;}


/* 07_비밀번호재설정 02_재설정popup*/
#resetPwd_popup  { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; background: rgba(0, 0, 0, 0.5); transition: var(--transition); pointer-events: none; opacity: 0;}
#resetPwd_popup.show { pointer-events: auto; opacity: 1;}
#resetPwd_popup .modal_box { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 8px; background: var(--color-white); box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09); min-width: 328px;   max-width: 90%; max-height: 90%; display: flex; flex-direction: column; align-items: center;  transition: var(--transition); margin-top: 2.5rem; opacity: 0; overflow: hidden;}
#resetPwd_popup.show .modal_box { margin-top: 0; opacity: 1;}
#resetPwd_popup .modal_body { width: 100%; min-height: unset; padding: 16px 20px 24px; }
#resetPwd_popup .modal_body .form_box { width: 100%; gap: 9px;}
#resetPwd_popup .modal_foot { width: 100%; padding: 0 20px 24px; }
#resetPwd_popup .modal_foot .submit_btn{height: 48px;}


/* 08_앱인트로 */
#intro_modal .modal_body { min-height: unset; padding: 0;}
#intro_modal .intro_box { position: relative; width: 100%;}
#intro_modal .intro_box .imgbox { position: relative; display: flex; width: 100%;}
#intro_modal .intro_box .imgbox > img{width: 100%;}
#intro_modal .intro_box .txtbox { position: absolute; left: 0;  top: 56px; width: 100%; display: flex; flex-direction: column;  align-items: center;  padding: 0 16px;}
#intro_modal .intro_box .txtbox .logo { max-width: 292px; display: block;}
#intro_modal .intro_box .txtbox .desc { font-size: 14px; line-height: 157%;  text-align: center; color: var(--color-white); opacity: 0.7; margin: 20px 0 24px;}
#intro_modal .intro_box .txtbox .btn { width: 140px; height: 48px;}
