@charset "utf-8";

/* Acumin */
@font-face {
  font-family: 'Acumin';
  font-weight: 800;
  font-style: normal;
  src:
    local('Acumin Pro Black'),
    url('../font/Acumin-Pro-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Acumin';
  font-weight: 900;
  font-style: normal;
  src:
    local('Acumin Pro Ultra Black'),
    url('../font/Acumin-Pro-UltraBlack.ttf') format('truetype');
}

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src:
        local('Pretendard Thin'),
        url('../font/Pretendard-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src:
        local('Pretendard ExtraLight'),
        url('../font/Pretendard-ExtraLight.otf') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src:
        local('Pretendard Light'),
        url('../font/Pretendard-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src:
        local('Pretendard Regular'),
        url('../font/Pretendard-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src:
        local('Pretendard Medium'),
        url('../font/Pretendard-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src:
        local('Pretendard SemiBold'),
        url('../font/Pretendard-SemiBold.otf') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src:
        local('Pretendard Bold'),
        url('../font/Pretendard-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src:
        local('Pretendard ExtraBold'),
        url('../font/Pretendard-ExtraBold.otf') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src:
        local('Pretendard Black'),
        url('../font/Pretendard-Black.otf') format('opentype');
}