@charset "utf-8";


/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src:
        local('Pretendard Thin'),
        url('../font/Pretendard-Thin.woff2') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src:
        local('Pretendard ExtraLight'),
        url('../font/Pretendard-ExtraLight.woff2') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src:
        local('Pretendard Light'),
        url('../font/Pretendard-Light.woff2') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src:
        local('Pretendard Regular'),
        url('../font/Pretendard-Regular.woff2') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src:
        local('Pretendard Medium'),
        url('../font/Pretendard-Medium.woff2') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src:
        local('Pretendard SemiBold'),
        url('../font/Pretendard-SemiBold.woff2') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src:
        local('Pretendard Bold'),
        url('../font/Pretendard-Bold.woff2') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src:
        local('Pretendard ExtraBold'),
        url('../font/Pretendard-ExtraBold.woff2') format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src:
        local('Pretendard Black'),
        url('../font/Pretendard-Black.woff2') format('opentype');
}


/* GMarketSans */
@font-face {
    font-family: 'GMarketSans';
    src: url('../font/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'GMarketSans';
    src: url('../font/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'GMarketSans';
    src: url('../font/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


/* RixYeoljeongdo */
@font-face {
    font-family: 'RixYeoljeongdo';
    src: url('../font/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


/* Acumin */
@font-face {
  font-family: 'Acumin';
  font-weight: 800;
  font-style: normal;
  src:
    local('Acumin Pro Black'),
    url('../font/Acumin-Pro-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Acumin';
  font-weight: 900;
  font-style: normal;
  src:
    local('Acumin Pro Ultra Black'),
    url('../font/Acumin-Pro-UltraBlack.ttf') format('truetype');
}


/* JalnanGothic */  
@font-face {
    font-family: 'Jalnan Gothic';
    src: url('../font/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
