@charset "utf-8";

#wrap #wrap_in{
    width: 100%;
}
#wrap_in header{
    width: 100%;
}
/* HERO */
#contents .hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/sub_04/Hero_bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0;
    box-sizing: border-box;
}
#contents .hero > h1{
    font-family: "ssanai", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 115px;
    line-height: 1.1;
    letter-spacing: -3px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
#contents .hero > h1 strong{
    font-family: "ssanai", sans-serif;
    font-weight: 300;
    color: #00ff00;
}
#contents .hero > h1 span{
    font-family: "ssanai", sans-serif;
    font-weight: 300;
    position: relative;
    padding-right: 260px;
    box-sizing: border-box;
}
#contents .hero > h1 span::before{
    content: '';
    display: block;
    position: absolute;
    top: -40%;
    right: 0;
    width: 248px;
    height: 153px;
    background: url(../img/sub_04/speech_bubble.png) no-repeat center;
    background-size: cover;
    transform: rotate(10deg);
}
#contents .hero .benefit_5zero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 946px;
    height: 222px;
    border: 2px solid #00ff00;
    box-shadow: 0px 0px 10px 1px #00ff00;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 40px;
}
#contents .hero .benefit_5zero .bene_img{
    width: 251px;
    height: 190px;
    padding-top: 20px;
    box-sizing: border-box;
}
#contents .hero .benefit_5zero .bene_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#contents .hero .benefit_5zero .bene_txt{
    font-family: 'Pretendard';
    font-size: 55px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
#contents .hero .limit_50stroe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#contents .hero .limit_50stroe .limit_img{
    width: 216px;
    height: 216px;
}
#contents .hero .limit_50stroe .limit_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#contents .hero .limit_50stroe .limit_txt{
    font-family: "ssanai", sans-serif;
    font-size: 180px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -4px;
    color: #000;
    -webkit-text-stroke: 4px #00ff00;
    text-shadow:
        /* 밀착된 은은한 빛 */
        0 0 4px  rgba(0,255,0,0.45),
        0 0 8px  rgba(0,255,0,0.35),

        /* 퍼지는 공기층 */
        2px 2px 16px rgba(0,255,0,0.25),
       -2px 2px 20px rgba(0,255,0,0.20),
        0   4px 30px rgba(0,255,0,0.15),

        /* 아주 먼 외곽 */
        0 0 60px rgba(0,255,0,0.08);
    animation: neonPulse 2.5s ease-in-out infinite;
    filter: saturate(1.3) brightness(1.1);
}
#contents .hero .hero_pizza{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: floatPizza 4s ease-in-out infinite;
}
#contents .hero .hero_pizza .h_pizza_R{
    transform: scaleX(-1);
}
/* section_01 */
#contents .contents_wrap{
    width: 100%;
    background-color: #151515;
    padding-bottom: 140px;
}
.contents_wrap .support .text_band{
    width: 100%;
    background-color: #00ff00;
    overflow: hidden;
}
.contents_wrap .support .text_band .text_track{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: max-content;
    box-sizing: border-box;
    animation: scrollText 18s linear infinite;
}
.contents_wrap .support .text_band .text_track li{
    white-space: nowrap;
    font-family: "ssanai", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    padding: 16px 0;
    color: #000;
}
/* 창업지원&창업비용 */
.contents_wrap .support .fran_con_01{
    position: relative;
    width: 100%;
    padding: 120px 0 120px 0;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.contents_wrap .support .fran_con_01::after{
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 350px;
    height: 350px;
    background: url(../img/sub_04/Ellipse_01.png) no-repeat center;
    background-size: cover;
    opacity: 0.7;
    animation: floatSoft 4s ease-in-out infinite;
    z-index: 20;
}
.contents_wrap .support .fran_con_01::before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -5%;
    width: 500px;
    height: 500px;
    background: url(../img/sub_04/Ellipse_02.png) no-repeat center;
    background-size: cover;
    opacity: 0.6;
    animation: floatSoft 8s ease-in-out infinite;
}
.contents_wrap .support .fran_con_01 .fran_tit{
    margin-bottom: 15px;
}
.contents_wrap .support .fran_con_01 .fran_subtit{
    margin-bottom: 60px;
}
.contents_wrap .support .fran_con_01 .support_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    width: 1400px;
    margin: auto;
    padding: 35px 55px;
    background-color: #00000030;
    border: 3px solid #00ff00;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px #00ff00;
}
.contents_wrap .support .fran_con_01 .support_box .support_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    height: 237px;
    background-color: #41414140;
    padding: 40px 0;
    box-sizing: border-box;
    border-radius: 25px;
}
.contents_wrap .support .fran_con_01 .support_box .support_list .supp_num{
    font-family: 'Pretendard';
    font-size: 28px;
    font-weight: 800;
    line-height: 1;
}
.contents_wrap .support .fran_con_01 .support_box .support_list .supp_tit{
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    letter-spacing: -2px;
}
.contents_wrap .support .fran_con_01 .support_box .support_list .supp_sub{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #838383;
    letter-spacing: -0.5px;
}

/* section_02 */
.section_02{
    width: 100%;
    padding-bottom: 140px;
    box-sizing: border-box;
}
.section_02 .fran_subtit{
    margin-bottom: 50px;
}
.section_02 .j_curve_box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.section_02 .j_curve_box .j_graph{
    width: 1300px;
    height: 731px;
}
.section_02 .j_curve_box .j_eff{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(25%, -55%);
    width: 532px;
    height: 234px;
}
.section_02 .j_curve_box .j_graph img,
.section_02 .j_curve_box .j_eff img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* section_03 */
/* 방법 */
.strategy{
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}
.strategy .fran_tit{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.strategy_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.strategy_box .strategy_list{
    position: relative;
    width: 656px;
    height: 577px;
}
.strategy_box .strategy_list .stra_tit{
    font-size: 36px;
    font-weight: 700;
    list-style: 1;
    color: #fff;
    text-align: center;
    background-color: #8F2EFF;
    padding: 30px 0;
    box-sizing: border-box;
    border-radius: 30px 30px 0 0;
    margin-bottom: 5px;
}
.strategy_box .strategy_list .stra_con_box .stra_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
    width: 100%;
    height: 340px;
    box-sizing: border-box;
    background-color: #fff;
    border: 3px solid #8F2EFF;
    border-bottom: none;
}
.strategy_box .strategy_list .stra_con_box .stra_box .st_img_01{
    width: 200px;
    height: 240px;
}
.strategy_box .strategy_list .stra_con_box .stra_box .st_img_02{
    width: 260px;
    height: 175px;
}
.strategy_box .strategy_list .stra_con_box .stra_box .st_img_03{
    width: 209px;
    height: 208px;
}
.strategy_box .strategy_list .stra_con_box .stra_box .st_img_04{
    width: 280px;
    height: 161px;
}
.strategy_box .strategy_list .stra_con_box .stra_box .stra_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}
.strategy_box .strategy_list .stra_con_box .stra_box .stra_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 30;
}
/* 공통 문서 스타일 */
.stra_pu_01{
    font-weight: 600;
    color: #7800FF;
}
.stra_pu_02{
    font-size: 27px;
    font-weight: 600;
    color: #7800FF;
}
.stra_gr{
    font-size: 36px;
    font-weight: 800;
    line-height: 1.1;
    color: #0EE90E;
}
.strategy_box .strategy_list .stra_con_L,
.strategy_box .strategy_list .stra_con_R{
    width: 200px;
    height: 200px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    border: 3px solid #7800FF;
    box-sizing: border-box;
    border-radius: 50%;
}
.strategy_box .strategy_list:first-child .stra_con_L,
.strategy_box .strategy_list:first-child .stra_con_R{
    padding-top: 45px;
}
.strategy_box .strategy_list:nth-child(2) .stra_con_L,
.strategy_box .strategy_list:nth-child(2) .stra_con_R{
    padding-top: 55px;
}
.strategy_box .strategy_list:nth-child(3) .stra_con_L,
.strategy_box .strategy_list:nth-child(3) .stra_con_R{
    padding-top: 35px;
}
.strategy_box .strategy_list:last-child .stra_con_L,
.strategy_box .strategy_list:last-child .stra_con_R{
    padding-top: 45px;
}
.strategy_box .strategy_list .stra_bott_txt{
    width: 100%;
    font-size: 28px;
    padding: 24px;
    text-align: center;
    letter-spacing: -1.5px;
    background-color: #f4eaff;
    border-radius: 0 0 30px 30px;
    border: 3px solid #7800FF;
    border-top: 0;
    box-sizing: border-box;
}
.strategy_box .strategy_list .stra_bott_txt .st_bott_pu{
    font-size: 32px;
    font-weight: 700;
    color: #7800FF;
}
.strategy_box .strategy_list .stra_eff{
    position: absolute;
    top: -10%;
    left: -10%;
    width: 170px;
    height: 135px;
}
.strategy_box .strategy_list .stra_eff img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.strategy .comm_sub_txt span{
    font-weight: 800;
}
.strategy .comm_sub_txt .st_gr{
    color: #00ff00;
}
.strategy .comm_sub_txt .st_pu{
    color: #9011ff;
}
/* section_04 */
.section_04{
    width: 1400px;
    margin: auto;
    padding-bottom: 140px;
}
.section_04 .fran_subtit{
    margin-bottom: 50px;
}
.sec04_con_box{
    width: 100%;
}
.sec04_top{
    width: 100%;
    margin-bottom: 60px;
}
.sec04_top .sec04_titbox{
    text-align: center;
}
.sec04_top .sec04_titbox .sec04_tit{
    width: 930px;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    padding: 28px 0;
    margin: auto;
    background-color: #7800FF;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 15px;
}
.sec04_top .sec04_titbox .sec04_tit span{
    font-size: 45px;
    color: #00ff00;
}
.sec04_top .sec04_titbox .sec04_txt{
    font-size: 16px;
    line-height: 1;
    color: #777;
    margin-bottom: 70px;
}
.sec04_top .sce04_vs_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec04_top .sce04_vs_box .vs_comm{
    width: 551px;
    height: 364px;
    box-sizing: border-box;
    border-radius: 25px;
}
.sec04_top .sce04_vs_box .fran_other{
    border: 2px solid #ababab;
}
.sec04_top .sce04_vs_box .fran_tmtpizza{
    border: 2px solid #00ff00;
}
.sec04_top .sce04_vs_box .vs_comm .vs_title{
    width: 100%;
    font-size: 44px;
    font-weight: 800;
    line-height: 1;
    color: #151515;
    text-align: center;
    padding: 28px 0;
    border-radius: 23px 23px 0 0;
    box-sizing: border-box;
}
.sec04_top .sce04_vs_box .fran_other .vs_title{
    background-color: #ababab;
}
.sec04_top .sce04_vs_box .fran_tmtpizza .vs_title{
    font-family: "ssanai", sans-serif;
    font-style: italic;
    background-color: #00ff00;
}
.sec04_top .sce04_vs_box .vs_comm .vs_list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 32px 50px;
    box-sizing: border-box;
}
.sec04_top .sce04_vs_box .vs_comm .vs_list > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec04_top .sce04_vs_box .vs_comm .vs_list > li .vs_L{
    font-size: 32px;
    font-weight: 800;
    line-height: 1;
    color: #fff;
}
.sec04_top .sce04_vs_box .vs_comm .vs_list > li .vs_R{
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}
.sec04_top .sce04_vs_box .vs_img{
    width: 162px;
    height: 349px;
}
.sec04_top .sce04_vs_box .vs_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.sec04_bott{
    width: 100%;
    text-align: center;
}
.sec04_bott .sec04_bott_tit{
    font-size: 44px;
    line-height: 1;
    color: #fff;
    margin-bottom: 70px;
}
.sec04_bott .sec04_bott_tit > span{
    font-weight: 700;
    color: #00ff00;
}
.sec04_bott .reason_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
}
.sec04_bott .reason_box li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 246px;
    height: 246px;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    color: #00ff00;
    border: 3px solid #00ff00;
    box-shadow: 0px 0px 10px 1px #00ff00;
    border-radius: 50%;
    animation: focus 8s infinite;
    cursor: pointer;
}
.sec04_bott .reason_box li:nth-child(1) { animation-delay: 0s; }
.sec04_bott .reason_box li:nth-child(2) { animation-delay: 2s; }
.sec04_bott .reason_box li:nth-child(3) { animation-delay: 4s; }
.sec04_bott .reason_box li:nth-child(4) { animation-delay: 6s; }
/* section_05 */
.section_05{
    width: 100%;
}
.section_05 .fran_subtit{
    margin-bottom: 70px;
}
.section_05 .sec05_card_box{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: auto;
    margin-bottom: 70px;
}
.section_05 .sec05_card_box .sec05_cards{
    width: 440px;
    height: 360px;
    border-radius: 25px;
    box-sizing: border-box;
}
.section_05 .sec05_card_box .sec05_cards:first-child{
    border: 2px solid #00ff00;
    box-shadow: 0px 0px 10px 2px #00ff00;
}
.section_05 .sec05_card_box .sec05_cards:nth-child(2){
    border: 2px solid #8F2EFF;
    box-shadow: 0px 0px 10px 6px #8F2EFF;
}
.section_05 .sec05_card_box .sec05_cards:last-child{
    border: 2px solid #31A5FF;
    box-shadow: 0px 0px 10px 5px #31A5FF;
}
.section_05 .sec05_card_box .sec05_cards > ul{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 45px 0 0 0;
    box-sizing: border-box;
}
.section_05 .sec05_card_box .sec05_cards > ul .sec05_card_tit,
.section_05 .sec05_card_box .sec05_cards > ul .sec05_card_num{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}
.section_05 .sec05_card_box .sec05_cards > ul .sec05_card_txt{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.7;
    color: #fff;
    text-align: center;
}
.section_05 .sec05_card_box .sec05_cards > ul .sec05_card_num{
    line-height: 1;
}
.section_05 .sec05_card_box .sec05_cards .s05_card_1 .sec05_card_tit,
.section_05 .sec05_card_box .sec05_cards .s05_card_1 .sec05_card_num{
 color: #00ff00;
}
.section_05 .sec05_card_box .sec05_cards .s05_card_2 .sec05_card_tit,
.section_05 .sec05_card_box .sec05_cards .s05_card_2 .sec05_card_num{
    color: #8F2EFF;
}
.section_05 .sec05_card_box .sec05_cards .s05_card_3 .sec05_card_tit,
.section_05 .sec05_card_box .sec05_cards .s05_card_3 .sec05_card_num{
    color: #31A5FF;
}
.section_05 .comm_sub_txt{
    margin-bottom: 140px;
}
/* section_06 */
.section_06{
    width: 100%;
}
.section_06 .fran_subtit{
    margin-bottom: 50px;
}
.section_06 .cost_controls{
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.section_06 .cost_controls .cost_tab{
    width: 300px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    color: #7800FF;
    background-color: #FAF6FF;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0;
}
.section_06 .cost_controls .cost_tab:hover{
    font-weight: 800;
    color: #fff;
    background-color: #7800FF;
    cursor: pointer;
}
.section_06 .cost_controls .cost_active{
    font-weight: 800;
    color: #fff;
    background-color: #7800FF;
}
.section_06 .cost_table_wrap{
    width: 100%;
    margin-bottom: 150px;
}
.section_06 .cost_table_wrap .table_box{
    width: 60%;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
}
.section_06 .cost_table_wrap .cost_table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}
.cost_table_wrap .cost_table thead tr th{
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    color: #151515;
    padding: 23px 0;
    background-color: #F0E4FF;
}
.cost_table .cost_body{
    display: none;
}
.cost_new_box{
    position: relative;
}
.cost_new_box::after{
    content: '';
    display: block;
    position: absolute;
    top: 14%;
    left: 58%;
    width: 300px;
    height: 190px;
    background: url(../img/sub_04/effect_900.png) no-repeat center;
    background-size: cover;
}
.cost_body.cost_active {
  display: table-row-group;
}
.cost_table .cost_body tr{
    border-bottom: 1px solid #777;
    box-sizing: border-box;
}
.cost_table .cost_body tr:last-child{
    border-bottom: none;
}
.cost_table .cost_body tr th{
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    border-right: 1px solid #777;
    padding: 14px 0;
    box-sizing: border-box;
}
.cost_table .cost_body tr td{
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    padding: 14px 0 14px 1.5%;
    box-sizing: border-box;
    word-break: keep-all;
}
.cost_table .cost_body tr .highlight{
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    border-left: 1px solid #777;
    padding: 14px 0 14px 1.5%;
    box-sizing: border-box;
    word-break: keep-all;
}
.cost_table .cost_body tr .highlight .cost_eff{
    font-weight: 600;
    color: #00ff00;
}

.cost_table tfoot{
    width: 100%;
}
.cost_table tfoot .cost_total_row{
    width: 100%;
}
.cost_table tfoot .cost_total_row th{
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    padding: 22px 0;
    box-sizing: border-box;
    background-color: #7800FF;
}
.cost_table tfoot .cost_total_row th strong{
    font-size: 40px;
    font-weight: 800;
}
/* section_07 */
.section_07{
    width: 100%;
}
.section_07 .fran_tit{
    margin-bottom: 60px;
}
.section_07 .process_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
    width: 1400px;
    margin: auto;
    margin-bottom: 140px;
}
.section_07 .process_box .porcess_list .process_tit{
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    color: #00ff00;
    text-align: center;
    margin-bottom: 11px;
}
.section_07 .process_box .porcess_list .process_txt{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
    text-align: center;
}
/* section_08 */
.section_08{
    width: 100%;
    padding-bottom: 140px;
}
.section_08 .faq_box{
    width: 1400px;
    margin: auto;    
    border-top:  1px solid #fff;
}
.section_08 .faq_box .faq_list{
    width: 100%;
}
.section_08 .faq_box .faq_list .faq_question{
    position: relative;
    width: 100%;
    padding: 32px 25px;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    text-align: start;
    cursor: pointer;
}
.section_08 .faq_box .faq_list .faq_question::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-50%);
    width: 24px;
    height: 12px;
    background-color: #31A5FF;
    background: url(../img/sub_04/page_down.png) no-repeat center;
    background-size: cover;
}
.section_08 .faq_box .faq_list .faq_question .faq_q{
    font-size: 45px;
    font-weight: 800;
    line-height: 1;
    color: #00ff00;
    margin-right: 80px;
}
.section_08 .faq_box .faq_list .faq_question .faq_txt{
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    padding-right: 300px;
}
.section_08 .faq_box .faq_list .faq_answer p{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    border-bottom: 1px solid #ffffff30;
    padding: 30px 25px;
    box-sizing: border-box;
}
.section_08 .faq_box .faq_list .faq_answer .faq_a{
    font-size: 45px;
    font-weight: 800;
    line-height: 1;
    color: #8F2EFF;
    margin-right: 80px;
}
/* section_09 */
.section_09{
    width: 100%;
}
.section_09 .fran_subtit{
    margin-bottom: 60px;
}
.section_09 .contact_form_box{
    width: 1400px;
    margin: auto;
    padding: 60px 0 40px 0;
    border: 3px solid #00ff00;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0.5px #00ff00;
    margin-bottom: 55px;
}
.section_09 .contact_form_box h3{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 820px;
    margin: auto;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    color: #00ff00;
    margin-bottom: 45px;
}
.section_09 .contact_form_box h3 > span{
    font-size: 18px;
    font-weight: 300;
    color: #898989;
}
.section_09 .contact_form_box h3 > span .form_star{
    font-weight: 600;
    color: #00ff00;
    margin-right: 5px;
}
.contact_form_box .inquiry_form fieldset{
    border: none;
}
.contact_form_box .inquiry_form fieldset .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
.contact_form_box .inquiry_form fieldset .form_list{
    width: 820px;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    margin-bottom: 40px;
}
.inquiry_form fieldset .form_list li{
    display: flex;
    gap: 80px;
    padding: 8px 0;
    box-sizing: border-box;
}
.inquiry_form fieldset .form_list li label{
    display: block;
    width: 190px;
}
.inquiry_form fieldset .form_list li .form_etc{
    padding-left: 15px;
    box-sizing: border-box;
}
.inquiry_form fieldset .form_list li label .required{
    font-size: 18px;
    font-weight: 700;
    color: #00ff00;
}
.inquiry_form fieldset .form_list li input{
    width: 370px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.inquiry_form fieldset .form_list li select{
    width: 373.5px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.inquiry_form fieldset .form_list li textarea{
    width: 548px;
    height: 234px;
    padding: 10px 0 0 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.form_agree{
    text-align: center;
}
.form_agree .agree_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
.form_agree .agree_box #agree{
    width: 22px;
    height: 22px;
    border: 0;
    accent-color: #00ff00;
}
.form_agree .agree_box label{
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}
.form_agree .agree_box .privacy_open{
    width: 60px;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background-color: #343434;
    border-radius: 50px;
}
.section_09 .inquiry_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section_09 .btn_submit{
    width: 366px;
    padding: 24px 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    color: #151515;
    background-color: #00ff00;
    border: 0;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
/* 모달 */
.modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}
/* hidden 속성 대응 */
.modal[hidden] {
    display: none;
}
/* 모달 박스 */
.modal_box {
    width: 90%;
    max-width: 700px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: modalFadeUp 0.25s ease-out;
}
.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-bottom: 1px solid #eee;
}

.modal_header h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.modal_close {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
}
.modal_body {
    padding: 20px;
    max-height: 50vh;
    overflow-y: auto;
}
.modal_body .privacy_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    word-break: keep-all;
}
.modal_body .privacy_list li:first-child{
    text-align: center;
    margin-bottom: 20px;
}
.privacy_list li {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}
.modal_footer {
    padding: 16px 20px;
    border-top: 1px solid #eee;
    text-align: right;
}
.modal_confirm {
    padding: 10px 20px;
    border-radius: 6px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.privacy_open {
    margin-left: 8px;
    font-size: 13px;
    color: #666;
}