@charset "utf-8";

/* header */
.header{ width: 100%; position: fixed; top: 0; left: 0; z-index: 999;     background-color: #fff; border-bottom: 1px solid #f0f0f0;}
.header .h_inner{ max-width: 1600px; height: 5rem; margin: auto; display: flex;justify-content: space-between; align-items: center;}
.header .h_logo { width: 9.25rem;}
.header .h_logo a {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}
.header .h_nav {display: flex;}
.header .h_nav > li { display: block; font-size: 1.125rem; font-weight: 600;  color: #000;}
.header .h_nav > li > a { display: flex;align-items: center; justify-content: center;  width: 100%; height: 100%; padding: 1.875rem; box-sizing: border-box;}
.header .h_side {display: none;}
.header .h_side .menu_open{background: url(../img/common/menu_open.png) no-repeat center/contain; width: 2.5rem; aspect-ratio: 1/1;} 

  
/* nav box */
.nav_box { position: fixed; left: 0; top: 0; width: 100%; height: 100%;display: flex; flex-direction: column; background: #fff;  z-index: 100; transition: all 0.6s ease;  opacity: 0; pointer-events: none;}
.nav_box.open { opacity: 1; pointer-events: unset;}
.nav_box .topbox { display: flex;  align-items: center; justify-content: space-between;  gap: 2rem; background: var(--main--deepgreen--); padding: 0 1.6rem; height: 6rem; min-height: 6rem;}
.nav_box .topbox .logo {width: 6.5rem;}
.nav_box .topbox .logo a {display: flex; align-items: center; justify-content: center;}
.nav_box .topbox .menu_close { background: url(../img/common/menu_close.png) no-repeat center / contain; width: 2.4rem; aspect-ratio: 1 / 1;}
.nav_box .menubox { display: flex; flex-direction: column; flex: 1; overflow: auto;}
.nav_box .menubox::-webkit-scrollbar {display: none;}
.nav_box .menubox .item { position: relative; width: 100%;}
.nav_box .menubox .item .link { display: flex;  align-items: center;  justify-content: space-between;  padding: 1.2rem 1.6rem; font-weight: 700; font-size: 1.4rem;  line-height: 157%;  color: #383b40;}
.nav_box .menubox .item .link .txt { flex: 1; white-space: nowrap;  overflow: hidden;   text-overflow: ellipsis;}
.nav_box .menubox .item .link .arrow{background: url(../img/common/acc_arrow.png) no-repeat center/contain; width: 2.4rem; aspect-ratio: 1/1;}
.nav_box .bottombox { padding: 1.6rem 1.6rem 2.4rem; display: flex; flex-direction: column;  gap: 1.2rem;}
.nav_box .bottombox .btnbox { display: flex; gap: 1.2rem;}
.nav_box .bottombox .btnbox .button { width: 100%; height: 4.4rem; padding: 0;}


/* footer */
.footer{width: 100%; height: auto;background-color: #343434;}
.footer .f_inner{ display: flex; justify-content: space-between; align-items: center;  height: 100%; margin: auto; padding: 4.375rem 0; box-sizing: border-box;}
.footer .f_logo_box{ width: 8.75rem; display: flex; align-items: center; justify-content: center;}
.footer .f_logo_box .f_logo{ width: 100%; height: auto;}
.footer .f_info .f_info_top{ display: flex; align-items: center; margin-bottom: 1.563rem;}
.footer .f_info .f_info_top li:first-child{ position: relative; padding-right: 0.625rem;  margin-right: 0.625rem;}
.footer .f_info .f_info_top li a{ display: block;  font-size: 1rem; font-weight: 600;  line-height: 1;  color: #fff;}
.footer .f_info .f_info_top li a span::after{ content: ''; display: block;  width: 0.125rem;  height: 1rem;  background-color: #fff;  position: absolute;  top: 0; right: 0;}
.footer .f_info .f_info_bottom{ display: flex; flex-direction: column; gap: 1.125rem;}
.footer .f_info .f_info_bottom li{ display: flex;}
.footer .f_info .f_info_bottom li p{  position: relative;  padding-right: 0.625rem;  margin-right: 0.625rem;  font-size: 1rem;  line-height: 1;  color: #A7A7A7;}
.footer .f_info .f_info_bottom li .f_line::after{ content: ''; display: block; width: 0.125rem; height: 1rem; background-color: #A7A7A7; position: absolute; top: 0; right: 0;}
.footer .f_sns ul {display: flex; flex-direction: column; gap: 1rem;}
.footer .f_sns ul li a {display: flex; align-items: center; justify-content: center;}