@charset "utf-8";

/* contents */
#contents{
    width: 100%;
}
/* hero */
#hero{
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
}
#hero video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero video source{
    width: 100%;
}
#hero .hero_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero .hero_box .tmt_pizza{
    position: relative;
    left: 50px;
}
#hero .hero_box p{
    position: relative;
    font-family: 'Acumin';
    font-weight: 900;
    right: 50px;
    font-size: 170px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -3px;
    font-style: italic;
    color: #fff;
}
#hero .hero_box p span{
    font-family: 'Acumin';
    font-weight: 900;
    color: red;
}
/* brand */
#brand{
    width: 100%;
    height: 100vh;
    background-image: url(../img/main/brand_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.brand_box{
    width: 1600px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.brand_box .br_list{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.brand_box .br_list .br_card{
    position: relative;
    width: 376px;
    height: 490px;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: start;
    overflow: hidden;
    background-color: black;
    cursor: pointer;
}
.brand_box .br_list .br_card img{
    width: 100%;
    height: 100%;
}
.brand_box .br_list .br_card:hover{
    border: 1px solid #00ff00;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px #00ff00;
}
.brand_box .br_list .br_card:hover .card_text{
    display: block;
}
.brand_box .br_list .br_card:hover img{
    opacity: 0.2;
}
.br_card .card_text{
    position: absolute;
    width: 100%;
    padding: 20px 30px 40px 30px;
    box-sizing: border-box;
    display: none;
}
.br_card .card_text .br_tit{
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    color: #00ff00;
    font-style: italic;
    margin-bottom: 34px;
}
.br_card .card_text .br_txt{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 1px;
    color: #fff;
}
.br_card .card_text .br_txt span{
    font-weight: 900;
    color: #00ff00;
}
/* intro_menu */
#intro_menu{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#intro_menu .itr_menu_inner{
    width: 1600px;
    height: 100%;
    padding: 100px 0 0 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;
}
.itr_menu_inner h1{
    width: 100%;
    height: 100px;
    margin: auto;
    text-align: center;
}
.itr_menu_inner h1 img{
    width: 430px;
    height: auto;
}
.itr_menu_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.itr_menu_box .itr_menu_list{
    position: relative;
    width: 346px;
}
.itr_menu_box .itr_menu_list a{
    display: block;
}
.itr_menu_box .itr_menu_list a .menu_img{
    position: relative;
    width: 100%;
    height: 343px;
}
.itr_menu_box .itr_menu_list a .menu_img img{
    width: 100%;
    height: 100%;
}
.itr_menu_box .itr_menu_list a .menu_img .menu_price{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
/* 메뉴 이펙트 */
.itr_menu_box .itr_menu_list .menu_effect{
    position: absolute;
    top: 0;
    right: 0;
}
.itr_menu_box .itr_menu_list .menu_effect li{
    position: relative;
    width: 100px;
    height: 100px;
}
.itr_menu_box .itr_menu_list .menu_effect li p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 4px;
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    font-style: italic;
    color: #fff;
}
.itr_menu_box .itr_menu_list .menu_effect .new_eff p{
    padding-right: 3px;
}
.itr_menu_box .itr_menu_list .menu_effect li img{
    width: 100%;
    height: auto;
}
/* 메뉴 이펙트 호버 */
.itr_menu_list a:hover .menu_effect{
    display: none;
}
.itr_menu_box .itr_menu_list:hover a .menu_img:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    border: 10px dotted #00ff00;
    animation: rotateBorder 20s linear infinite;
    box-sizing: border-box;
}
.itr_menu_box .itr_menu_list:hover a .menu_img .menu_price{
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itr_menu_list a .menu_img .menu_price li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 140px;
    height: 36px;
    margin-bottom: 8px;
}
.itr_menu_list a .menu_img .menu_price li > p{
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}
.itr_menu_list a .menu_img .menu_price li > p span{
    font-size: 20px;
}
.itr_menu_list a .menu_img .menu_price li .size_cip{
    width: 36px;
    height: 36px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}
.itr_menu_list a .menu_img .menu_price li .col_s{
    background-color: #F2400D;
}
.itr_menu_list a .menu_img .menu_price li .col_r{
    background-color: #CA2C2B;
}
.itr_menu_list a .menu_img .menu_price li .col_l{
    background-color: #248E4A;
}
/* 메뉴 이름 */
.itr_menu_list a .menu_name{
    text-align: center;
}
.menu_name .m_name_kr{
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    color: var(--main--deepgreen--);
    margin-top: 30px;
}
.menu_name .m_name_en{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1;
    color: #343434;
}
#intro_menu .img_slide{
    width: 100%;
    height: 65px;
    background-color: var(--main--deepgreen--);
}
/* 메뉴 버튼 */
.itr_menu_inner .more_btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu_more_btn{
    margin-bottom: 100px;
    border-radius: 50px;
    background-color: var(--main--deepgreen--);
    border: 0;
}
.menu_more_btn a{
    display: block;
    width: 256px;
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    padding: 19px 0;
}
/* contact us */
#contact{
    width: 100%;
    height: auto;
    background: url(../img/main/contact_bg.png) no-repeat center;
    background-size: cover;
}
#contact .contact_inner{
    width: 1600px;
    height: 1000px;
    margin: auto;
    padding: 100px 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
#contact .contact_inner > img{
    width: 430px;
    height: auto;
}
#contact .contact_inner .contact_box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 80px;
}
#contact .contact_inner .contact_box .contact_video{
    width: 960px;
    height: 580px;
}
#contact .contact_inner .contact_box .contact_video iframe{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
#contact .contact_inner .contact_box .contact_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#contact .contact_inner .contact_box .contact_text p{
    font-size: 45px;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    text-align: center;
}
#contact .contact_inner .contact_box .contact_text p .con_tx_c1{
    font-weight: 900;
    color: #E50013;
}
#contact .contact_inner .contact_box .contact_text p .con_tx_c2{
    font-weight: 900;
    color: #09CE4F;
}
#contact .contact_inner .contact_box .contact_text button{
    width: 256px;
    border-radius: 50px;
    border: 0;
}
#contact .contact_inner .contact_box .contact_text button a{
    display: block;
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    border-radius: 50px;
    padding: 19px 0;
    background-color: var(--main--deepgreen--);
}
/* community */
#community{
    width: 100%;
    height: auto;
    background: url(../img/main/community_bg.png) no-repeat center;
    background-size: cover;
}
#community .comm_inner{
    width: 1600px;
    height: 1000px;
    margin: auto;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
#community .comm_inner .commu_tit{
    width: 430px;
    height: auto;
}
.event_box{
    width: 100%;
    display: flex;
    gap: 60px;
}
.event_box .event_list{
    width: 428px;
    border-radius: 25px;
    background-color: #fff;
}
.event_box .event_list a{
    display: block;
}
.event_box .event_list a .photo_box{
    width: 100%;
    height: 420px;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
}
.event_box .event_list a .photo_box img{
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
}
.event_box .event_list a .photo_box:hover img{
    transform: scale(1.1);
}
.event_box .event_list a .text_box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 35px 0 35px 0;
    box-sizing: border-box;
}
.event_box .event_list a .text_box p{
    font-size: 23px;
    line-height: 1;
    color: #000;
}
.event_box .event_list a .text_box .event_tit{
    font-weight: 900;
}
#community .comm_inner .comm_btn button{
    width: 256px;
    border: 0;
    border-radius: 50px;
}
#community .comm_inner .comm_btn button a{
    display: block;
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    background-color: var(--main--deepgreen--);
    padding: 19px 0;
    border-radius: 50px;
    box-sizing: border-box;
}