@charset "utf-8";
/**************************** sub_01 (브랜드) ****************************/
/* lnb_wrap (sub_01) */
.sub_01_lnb{
    background: url(../img/sub_01/gnb_bg.png) no-repeat center;
}
/* contents */
#contents_wrap{
    width: 1400px;
    margin: auto;
}
/* brand_con01 */
#brand_con01{
    width: 100%;
    height: auto;
    padding-top: 110px;
    box-sizing: border-box;
    text-align: center;
}
#brand_con01 h1{
    margin-bottom: 40px;
}
#brand_con01 > h1 > strong{
    font-family: 'Acumin', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    font-style: italic;
    color: var(--main--deepgreen--);
}
#brand_con01 > p{
    font-size: 23px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 70px;
}
#brand_con01 .br_con_img01{
    width: 100%;
    height: 487px;
}
#brand_con01 .br_con_img01 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 40px;
}
/* brand_con02 */
#brand_con02{
    padding-top: 120px;
}
#brand_con02 > ul{
    display: flex;
    justify-content: space-between;;
}
#brand_con02 > ul .br_family_txt{
    width: 100%;
    height: auto;
}
#brand_con02 > ul .br_family_txt h2{
    font-family: 'Acumin', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    color: var(--main--deepgreen--);
    font-style: italic;
    margin-bottom: 45px;
}
#brand_con02 ul .br_family_txt h2 span{
    font-family: 'Acumin', sans-serif;
    color: var(--main--red--);
}
#brand_con02 ul .br_family_txt p{
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
}
#brand_con02 ul .br_family_txt p span{
    font-weight: 900;
    color: var(--main--deepgreen--);
}
#brand_con02 .br_family_img{
    width: 908px;
    height: 597px;
}
#brand_con02 .br_family_img img{
    border-radius: 40px;
}
/* brand_con03 */
#brand_con03{
    padding-top: 120px;
}
#brand_con03 h2{
    font-family: 'Acumin', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    color: var(--main--deepgreen--);
    font-style: italic;
    text-align: center;
    margin-bottom: 60px;
}
#brand_con03 h2 strong{
    font-family: 'Acumin', sans-serif;
}
#brand_con03 ul{
    width: 100%;
}
/* 공통 부분 */
.iden_t_box .iden_tit{
    font-family: 'Acumin', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 34px;
}
.iden_t_box .iden_txt{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 40px;
}
/* 로고 */
#brand_con03 ul .br_iden_logo{
    margin-bottom: 85px;
}
.iden_logo_img{
    display: flex;
    justify-content: space-between;
}
.iden_logo_img div{
    width: 668px;
    height: 372px;
    background: url(../img/sub_01/check_pattern.png) no-repeat center;
    background-size: cover;
    position: relative;
}
.iden_logo_img div img{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 컬러 */
#brand_con03{
    padding-bottom: 180px;
}
#brand_con03 ul .br_iden_color{
    margin-bottom: 85px;
}
.iden_color_bg{
    display: flex;
    justify-content: space-between;
}
.iden_color_bg div{
    width: 668px;
    height: 162px;
    padding: 40px;
    box-sizing: border-box;
}
.iden_color_bg div:first-child{
    background-color: #0E7F34;
}
.iden_color_bg div:last-child{
    background-color: #E50013;
}
.iden_color_bg div .color_name{
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    margin-bottom: 10px;
}
.iden_color_bg div .color_code{
    font-size: 16px;
    color: #fff;
}
/* 슬로건 */
.iden_slogun .iden_slogun_bg{
    width: 100%;
    height: auto;
}
.iden_slogun .iden_slogun_bg div{
    position: relative;
    width: 100%;
    height: 332px;
    background: url(../img/sub_01/check_pattern_2.png) no-repeat center;
    background-size: cover;
}
.iden_slogun .iden_slogun_bg div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/**************************** sub_02 (메뉴) ****************************/
/* lnb_wrap (sub_01) */
.sub_02_lnb{
    background: url(../img/sub_01/gnb_bg.png) no-repeat center;
}
#contents_wrap{
    width: 1600px;
    margin: auto;
    padding: 60px 0 140px 0;
}
/* 탭 */
#contents_wrap .tab-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 50%;
    height: 70px;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    border: 2px solid #00ff00;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.6);
}
#contents_wrap .tab-menu .tab{
    width: calc(100% / 4);
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    box-sizing: border-box;
}
#contents_wrap .tab-menu .tab:hover{
    color: #000;
    background-color: #00ff00;
    cursor: pointer;
    border-radius: 50px;
}
#contents_wrap .tab-menu .tab.active{
    color: #000;
    background-color: #00ff00;
    border-radius: 50px;
}
/* 메뉴 */
#contents_wrap .tmt_menu_box{
    width: 100%;
    height: auto;
    padding: 86px 0 0 0;
    box-sizing: border-box;
}
#contents_wrap .tmt_menu_box .tmt_list_box{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 26px; /* 가로 간격 */
    row-gap: 45px;    /* 세로 간격 */
}
#contents_wrap .tmt_menu_box .tmt_list_box .menu-item{
    position: relative;
    width: calc(100% / 4 - 20px);
    box-sizing: border-box;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 피자 메인 이미지 */
.tmt_menu_box .tmt_list_box .menu-item .menu_list .menu_img{
    width: 100%;
    height: 384px;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_list .menu_img img{
    width: 100%;
    height: auto;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_list .menu_text{
    text-align: center;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_list .menu_text .menu_name_kr{
    font-size: 26px;
    font-weight: 900;
    line-height: 1;
    color: #005300;
    margin-bottom: 15px;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_list .menu_text .menu_name_en{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #343434;
}
/* 피자 메뉴 info */
.tmt_menu_box .tmt_list_box .menu-item .menu_info{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 330px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s ease;
    display: none;
}
.menu_info::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 10px dotted #00ff00;
  border-radius: 50%;
  animation: rotateBorder 20s linear infinite;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_in_tit h2{
    width: 100%;
    height: auto;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.2;
    color: #00ff00;
    margin-bottom: 13px;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_in_txt{
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_in_pirce .menu_pirce li{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    color: #fff;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_in_pirce .menu_pirce li .m_cip{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    padding-top: 3px;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    border-radius: 50%;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_pirce li .col_s{
    background-color: var(--sub--cip01--);
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_pirce li .col_r{
    background-color: var(--sub--cip02--);
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_pirce li .col_l{
    background-color: var(--sub--cip03--);
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_in_pirce .menu_pirce li > p{
    font-size: 16px;
    font-weight: 900;
}
.tmt_menu_box .tmt_list_box .menu-item .menu_info .menu_in_pirce .menu_pirce li > p span{
    font-size: 12px;
    font-weight: 500;
    margin-left: 3px;
}
/* hover */
.tmt_menu_box .tmt_list_box .menu-item:hover .menu_info{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1.05);
}
/* menu_effect */
.menu-item .menu_effect{
    position: absolute;
    top: -20px;
    right: -20px;
}
.menu-item .menu_effect .best_eff .eff_box{
    position: relative;
}
.menu-item .menu_effect .best_eff .eff_box .eff_txt{
    position: absolute;
    top: 51%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    font-style: italic;
}
/**************************** sub_03 (매장찾기) ****************************/
/* lnb_wrap (sub_03) */
.sub_03_lnb{
    background: url(../img/sub_01/gnb_bg.png) no-repeat center;
}
/* contents */
#contents_wrap{
    width: 1600px;
    margin: auto;
    padding: 100px 0 140px 0;
}
#contents_wrap .store_title{
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;
}
#contents_wrap .store_title strong{
    font-weight: 900;
}
.map_wrap{
    width: 100%;
}
.map_wrap > ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.map_wrap ul .map_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    border: 1px solid #DEDEDE;
    border-radius: 40px;
    overflow: hidden;
}
.map_wrap ul .map_box .store_list{
    width: 445px;
    height: 100%;
    overflow-y: auto;
    cursor: pointer;
}
.map_wrap ul .map_box .store_list > li{
    width: 100%;
    height: 234px;
    padding: 40px 0 35px 35px;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
}
.map_wrap ul .map_box .store_list li:last-child{
    border-bottom: 0;
}
.map_wrap ul .map_box .store_list li .store_tit{
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
}
.map_wrap ul .map_box .store_list li .store_addre,
.map_wrap ul .map_box .store_list li .store_tel{
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 15px;
}
.map_wrap ul .map_box .store_list li .platform_btn{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.map_wrap ul .map_box .store_list li .platform_btn .naver_map a{
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    background-color: #00ff00;
    padding: 10px 20px 6px 20px;
    box-sizing: border-box;
    border-radius: 6px;
}
.map_wrap ul .map_box .store_list li .platform_btn > .app_btn{
    width: 45px;
    height: 45px;
}
.map_wrap ul .map_box .store_list li .platform_btn .btn_cupang{
    border: 1px solid #dedede;
    border-radius: 10px;
}
.map_wrap ul .map_box .store_list li .platform_btn .app_btn > a{
    display: block;
    width: 100%;
    height: 100%;
}
.map_wrap ul .map_box .store_list li .platform_btn .app_btn > a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 검색창 */
.map_wrap ul .map_sech{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 888px;
    height: 70px;
    padding: 22px 40px;
    border: 1px solid #dedede;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 50px;
}
.map_wrap ul .map_sech .select_box{
    border: 0;
    font-size: 22px;
}
/* input */
.map_wrap ul .map_sech .dircet{
    width: 650px;
    height: 35px;
    border: 0;
    font-size: 18px;
}
.map_wrap ul .map_sech .sech_icon{
    display: block;
    width: 25px;
    height: 25px;
}
.map_wrap ul .map_sech .sech_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 지도 이미지 */
.map_wrap ul .map_box .store_map{
    width: 1155px;
    height: 700px;
}
.map_wrap ul .map_box .store_map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 40px 40px 0;
}
/**************************** sub_04 (창업문의) ****************************/
/* franchise.css 경로 수정 */

/**************************** sub_05 (커뮤니티) ****************************/
#contents_wrap{
    width: 1400px;
    margin: auto;
}
/* 탭 */
#contents_wrap .tab_communi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 450px;
    height: 70px;
    margin: auto;
    margin-bottom: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    border: 2px solid #00ff00;
    border-radius: 50px;
}
#contents_wrap .tab_communi .tab{
    width: calc(100% / 2);
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    box-sizing: border-box;
}
#contents_wrap .tab_communi .tab:hover{
    color: #000;
    background-color: #00ff00;
    cursor: pointer;
    border-radius: 50px;
}
#contents_wrap .tab_communi .tab.active{
    color: #000;
    background-color: #00ff00;
    border-radius: 50px;
}
/* 커뮤니티 페이지 - news */
.community-box{
    width: 100%;
}
.community-box .community-page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
}
.community-box .community-page .community-list{
    width: calc(100% /3) - 10px;
}
.community-box .community-page .community-list > a {
    display: block;
    transition: transform 0.4s ease;
}
.community-box .community-page .community-list a .news_img,
.community-box .community-page .community-list a .comm_img{
    width: 100%;
    height: 300px;
}
.community-box .community-page .community-list a .news_img img,
.community-box .community-page .community-list a .comm_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.community-box .community-page .community-list:hover a,
.community-box .community-page .community-list:hover a{
    transform: scale(1.05);
}
.community-box .community-page .community-list a > ul{
    width: 100%;
    height: 160px;
    background-color: #F2F4F5;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.community-box .community-page .community-list a ul .news_date,
.community-box .community-page .community-list a ul .comm_date{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: rgba(0,0,0,0.6);
    margin-bottom: 20px;
}
.community-box .community-page .community-list a ul .news_tit,
.community-box .community-page .community-list a ul .comm_tit{
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin-bottom: 20px;
}