
:root {	
	--transition: all 0.4s ease;
}

  
/* 리셋 */
 * { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
body::-webkit-scrollbar {display: none;}
html { scroll-behavior: smooth; }
html, body {font: 400 14px/1.3 'Pretendard', sans-serif;  color: #000017; width: 100%; position: relative;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}
body.hidden { overflow: hidden;} 
.wrap {width: 100%; position: relative; min-width: 1279px;}
.container {width: 100%; position: relative;}
.section {width: 100%; position: relative;}


/* 공통 - layout*/
.layout { display: flex; min-height: 100vh}


/* 공통 - navigation */
.layout .navigation {position: relative; width: 15rem; background: #131720; display: flex; flex-direction: column; transition: var(--transition); z-index: 10;}
.layout .navigation .logo_box { position: relative; height: 4.5rem; padding: 1.5rem; display: flex; flex-direction: column; gap: 0.5rem;}
.layout .navigation .logo_box .logo { width: 7.5rem; display: block; transition: var(--transition); }
.layout .navigation .logo_box .nav_open { position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%, -50%); display: flex;  align-items: center;  justify-content: center;  width: 3rem;  aspect-ratio: 1 / 1; transition: var(--transition); opacity: 0;   pointer-events: none;}
.layout .navigation .nav { position: relative;}
.layout .navigation .nav > li { position: relative; width: 100%; transition: var(--transition); }
.layout .navigation .nav > li .acc_tit { display: flex; align-items: center;  gap: 0.75rem;  padding: 0.875rem 1.5rem; cursor: pointer; transition: var(--transition);}
.layout .navigation .nav > li .acc_tit .icon { display: inline-flex; align-items: center; justify-content: center; width: 1.25rem; aspect-ratio: 1 / 1; transition: var(--transition); opacity: 0.5;}
.layout .navigation .nav > li .acc_tit .title { position: absolute; left: calc(1.5rem + 1.25rem + 0.75rem); width: 10rem; font-weight: 500;  font-size: 0.875rem; line-height: 1;  transition: var(--transition); color: #747983;}
.layout .navigation .nav > li .acc_tit .tooltip {  position: absolute;   left: calc(100% - 0.688rem);  top: 50%;  transform: translateY(-50%);  font-weight: 700;  font-size: 0.813rem;  line-height: 154%;  color: #000;  padding: 0 0.875rem;  height: 2rem;  border-radius: 0.5rem;  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.08);  background: #fff;  white-space: nowrap;  display: inline-flex;  align-items: center;  justify-content: center;  transition: var(--transition); opacity: 0; pointer-events: none;}
.layout .navigation .nav > li.show { background: #000;}
.layout .navigation .nav > li.show .acc_tit .icon {opacity: 1;}
.layout .navigation .nav > li.show .acc_tit .title { font-weight: 800;  color: #fff;}
.layout .navigation .nav > li.line { width: calc(100% - 1.5rem* 2); height: 1px;  background: rgba(255, 255, 255, 0.1); margin: 0.5rem auto;}
.layout .navigation .nav_btn { background: url(../img/ico_navbtn.png) no-repeat center / 1rem #fff; width: 2rem; height: 2rem;  border-radius: 50%;  box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.12);  position: absolute; top: 60%; transform: translateY(-50%);  right: -1rem;  z-index: 10;}

.layout.closed .navigation {width: 4.5rem;}
.layout.closed .navigation .logo_box .logo {opacity: 0; pointer-events: none;}
.layout.closed .navigation .logo_box .nav_open {opacity: 1; pointer-events: auto;}
.layout.closed .navigation .nav > li .acc_tit {padding: 0.875rem 1.625rem;}
.layout.closed .navigation .nav > li .acc_tit .title {opacity: 0; pointer-events: none;}
.layout.closed .navigation .nav > li .acc_tit.hover .tooltip {opacity: 1; pointer-events: auto;}


/* 공통 - container */
.layout .container { width: calc(100% - 15rem); height: 100vh; background: #F0F1F8;  padding: 0 4rem 8rem; overflow: auto; transition: var(--transition);}
.layout .container::-webkit-scrollbar {display: none;}
.layout .container.full {width: 100%; padding: 7.5rem 4.5rem;}
.layout.closed .container {width: calc(100% - 4.5rem);}

.layout .container .page_header { position: sticky; top: 0;  width: calc(100% + 4rem * 2);  margin: 0 -4rem;  height: 4.5rem;  background: #fff;  padding: 1rem 2.5rem;  display: flex; align-items: center;  justify-content: space-between;  border-bottom: 1px solid #dfe5ec;  z-index: 50;  transition: var(--transition);  margin-bottom: 3rem;}
.layout .container .page_header .leftbox,
.layout .container .page_header .rightbox{display: flex; align-items: center; gap: 1.25rem;}
.layout .container .page_header .hello {font-size: 0.875rem;line-height: 157%;color: #383b40;}
.layout .container .page_header .hello .name{font-weight: 700;}
.layout .container .page_header .btnbox {display: flex; align-items: center; gap: 0.5rem;}
.layout .container .page_header .btnbox .btn { position: relative; height: 2.5rem;  min-width: 6.125rem;}
.layout .container .page_header .btnbox .btn.disabled {border-color:rgba(173, 178, 187, 0.3); background: #f5f5f5; color: #acacac; pointer-events: none;}
.layout .container .page_header .btnbox .btn.icon_ver { min-width: unset;  width: 2.5rem;}
.layout .container .page_header .btnbox .btn.icon_ver .icon{width: 1.5rem;}
.layout .container .page_header .btnbox .btn.disabled.icon_ver .icon {opacity: 0.3;}
.layout .container .page_header .btnbox .btn.icon_ver .tooltip {position: absolute;   left: 50%;  top: calc(100% + 0.688rem);  transform: translateX(-50%);  font-weight: 700;  font-size: 0.813rem;  line-height: 154%;  color: #000;  padding: 0 0.875rem;  height: 2rem;  border-radius: 0.5rem;  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.08);  background: #fff;  white-space: nowrap;  display: inline-flex;  align-items: center;  justify-content: center;  transition: var(--transition); opacity: 0; pointer-events: none;}
.layout .container .page_header .btnbox .btn.icon_ver.hover .tooltip {opacity: 1; pointer-events: auto;}
.layout .container .page_header .btnbox .btn.login_btn {margin-left: 0.25rem;}


.layout .container .page_tit { font-weight: 800; font-size: 2rem; line-height: 137%;  color: #000; margin-bottom: 1rem;}
.layout .container .page_tit.mb1 {margin-bottom: 1.5rem;}
.layout .container .page_tit.mb2 {margin-bottom: 2rem;}
.layout .container .page_tit.mb3 {margin-bottom: 2.5rem;}

.layout .container .page_tabbox { display: flex; align-items: center; width: 100%;  height: 3rem;  border-bottom: 1px solid #c3c8cf;  margin-bottom: 2.5rem;}
.layout .container .page_tabbox .tablink { position: relative;  display: flex;  align-items: center;  justify-content: center;  gap: 0.375rem; padding: 0.813rem 1.5rem;  font-size: 0.875rem;  line-height: 157%; color: #747983; transition: var(--transition);}
.layout .container .page_tabbox .tablink .icon {width: 1.5rem;}
.layout .container .page_tabbox .tablink.on { font-weight: 700;  color: #000;}
.layout .container .page_tabbox .tablink::before {  content: "";  border-radius: 0.5rem;  width: 100%;  height: 0.188rem;  background: #000;  position: absolute;  left: 0;   bottom: 0;  opacity: 0;  transition: var(--transition);}
.layout .container .page_tabbox .tablink.on::before { opacity: 1;}

.layout .container .page_cont { position: relative;  display: flex;  flex-direction: column;  gap: 2.5rem;}
.layout .container .page_cont.big_gap {gap: 5rem;}

.layout .container .page_item {position: relative;  display: flex;  flex-direction: column;  gap: 1.5rem;}
.layout .container .page_item .page_subtit{font-weight: 700;font-size: 1.125rem;line-height: 144%;color: #000; display: flex; align-items: center; gap: 0.5rem;}
.layout .container .page_item .page_subtit .dot {display: inline-block; width: 0.625rem; aspect-ratio: 1/1; background: #01a4ff; border-radius: 50%;}
.layout .container .page_item .page_subtit .color {color: #01a4ff;}
.layout .container .page_item .section_wrap{ display: flex; gap: 1.5rem;}
.layout .container .page_item .section { position: relative; width: 100%;  border-radius: 1rem;  border: 1px solid #d8dadd;  background: #fff;}
.layout .container .page_item .section.padding {padding: 2.5rem;}
.layout .container .page_item .section .sec_top {  padding: 1rem 1.5rem;  border-bottom: 1px solid #dfe5ec; display: flex; align-items: center; justify-content: space-between; gap: 0.75rem}
.layout .container .page_item .section .sec_top.ver2 {width: calc(100% + 2.25rem*2); margin: -2.5rem -2.5rem 0; margin-bottom: 2.5rem;}
.layout .container .page_item .section .sec_top .leftbox,
.layout .container .page_item .section .sec_top .rightbox {display: flex; align-items: center; gap: 0.75rem; flex: 1;}
.layout .container .page_item .section .sec_top .leftbox.no_full,
.layout .container .page_item .section .sec_top .rightbox.no_full {flex: unset; max-width: 93%;}
.layout .container .page_item .section .sec_top .rightbox {justify-content: flex-end;}
.layout .container .page_item .section .sec_top .sec_cont_tit {font-weight: 700;font-size: 1rem;line-height: 150%;color: #000017; display: flex; align-items: center; gap: 0.25rem; white-space: nowrap;}
.layout .container .page_item .section .sec_top .sec_cont_desc {font-size: 0.75rem;	line-height: 150%;	text-align: right;	color: #627383;}
.layout .container .page_item .section .top_filer .select_box {width: 11.25rem;}
.layout .container .page_item .section .top_filer .input_schbox { width: 35rem;}
.layout .container .page_item .section .sec_bottom {  padding: 1.5rem 2.5rem;  border-top: 1px solid #dfe5ec; display: flex; align-items: center; justify-content: space-between; gap: 0.75rem}
.layout .container .page_item .section .sec_bottom.ver2 {width: calc(100% + 2.25rem*2); margin: 0 -2.5rem -2.5rem; margin-top: 2.5rem;}
.layout .container .page_item .section .sec_bottom .leftbox,
.layout .container .page_item .section .sec_bottom .rightbox {display: flex; align-items: center; gap: 0.75rem; flex: 1;}
.layout .container .page_item .section .sec_bottom .rightbox {justify-content: flex-end;}

.layout .container .page_bottom {display: flex; align-items: center; gap: 1rem; justify-content: space-between; margin-top: 2rem; padding-bottom: 2.688rem; border-bottom: 1px solid #c4cdd6;}
.layout .container .page_bottom .leftbox,
.layout .container .page_bottom .rightbox{flex: 1; display: flex; align-items: center; gap: 0.75rem;}
.layout .container .page_bottom .rightbox {justify-content: flex-end;}
.layout .container .page_bottom .btn {border-radius: 0.75rem; padding: 0 1.25rem;}
.layout .container .page_btnbox {display: flex; align-items: center; gap: 1rem; justify-content: space-between; margin-top: 2.5rem;}
.layout .container .page_item .page_btnbox {margin-top: 1rem;}
.layout .container .page_btnbox .leftbox,
.layout .container .page_btnbox .rightbox{flex: 1; display: flex; align-items: center; gap: 0.75rem;}
.layout .container .page_btnbox .rightbox {justify-content: flex-end;}
.layout .container .page_btnbox .select_txt {font-weight: 700;font-size: 0.875rem;line-height: 157%;color: #000;margin-right: 0.25rem;}
.layout .container .page_btnbox .select_txt .color{color: #01a4ff;}
.layout .container .page_btnbox .btn {gap: 0.375rem;}
.layout .container .page_btnbox .btn .icon:nth-child(1) {margin-left: -0.188rem;}
.layout .container .page_btnbox .btn .icon:last-child {margin-right: -0.188rem;}


/* 공통 - toast popup */
.toast_popup {  position: fixed;  left: 15rem;  top: 3rem;  width: calc(100% - 15rem);   display: flex;  justify-content: center;  transform: translateY(-2.5rem);  z-index: 50;   transition: var(--transition);  opacity: 0;  pointer-events: none;}
.layout.closed .toast_popup {left: 4.5rem; width: calc(100% - 4.5rem);}
.toast_popup.show { transform: translateY(0); opacity: 1; pointer-events: auto; }
.toast_popup .txtbox {border: 2px solid #000; border-radius: 0.5rem; width: 25rem; min-height: 3.5rem; display: flex; align-items: center; justify-content: center; gap: 0.25rem;box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2); background: #fff; }
.toast_popup .txtbox .icon {width: 1.25rem;}
.toast_popup .txtbox .title {font-weight: 700; font-size: 0.875rem; line-height: 157%; color: #000;}


/* 공통 - form */
.form_box {display: flex; flex-direction: column; gap: 2.5rem;}
.form_box.wrap {min-width: unset; flex-direction: row; flex-wrap: wrap;  gap: 2.5rem 1.5rem;}
.form_box.gap1 {gap: 1.5rem 2.5rem;}
.form_item { position: relative; width: 100%;}
.form_item.full {flex: 1;}
.form_item.nofull {flex: unset;}
.form_item.w50 { width: calc((100% - 1.5rem * 1)/2);}
.form_item.w33 { width: calc((100% - 1.5rem * 2)/3);}
.form_item.w25 { width: calc((100% - 1.5rem * 3)/4);}
.form_item.w20 { width: calc((100% - 1.5rem * 4)/5);}

.from_line {width: 100%; height: 1px; background: #dfe5ec;}  

.modal .form_box.wrap { gap: 2.5rem 1rem;}
.modal .form_box .form_item.w50 { width: calc((100% - 1rem * 1)/2);}
.modal .form_box .form_item.w33 { width: calc((100% - 1rem * 2)/3);}
.modal .form_box .form_item.w25 { width: calc((100% - 1rem * 3)/4);}
.modal .form_box .form_item.w20 { width: calc((100% - 1rem * 4)/5);}

.form_tit {font-weight: 800;font-size: 1.125rem;line-height: 144%;color: #000; margin-bottom: 1.5rem;}
.form_tit .required {color: #01a4ff;}
.form_label {position: relative; width: 100%; height: 3rem; border: 1px solid #d8dadd; border-radius: 0.5rem; background: #fff; padding: 0 1rem; display: flex; align-items: center;}
.form_label::before {content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: calc(100% - 4px); height: calc(100% - 4px); border: 2px solid #01a4ff; border-radius: 0.5rem; opacity: 0; pointer-events: none;}
.form_label.auto {width: auto;}
.form_label.wid200 {width: 12.5rem;}
.form_label.padding {height: auto; padding: 1rem;}
.form_label.padding2 {height: auto; padding: 0.688rem 1.5rem;}
.form_label.checkable.checked::before {opacity: 1;}
.form_label2 {position: relative; width: 100%; min-height: 3rem; border-radius: 0.5rem; background: #f4f6f8; padding: 0.5rem 0.75rem;}
.form_label2.auto {width: auto;}
.form_labelbtn {position: relative;  min-height: 3rem; border-radius: 0.5rem; border: 1px solid #d8dadd; background: #fff; padding: 0.75rem 1.5rem; display: flex; align-items: center; gap: 0.5rem;font-size: 0.875rem;line-height: 157%;color: #131720; }
.form_labelbtn .icon{width: 1.5rem;}

.form_flex {display: flex; align-items: center; gap: 0.75rem; }
.form_flex.column_ver {flex-direction: column; align-items: unset; gap: 1.5rem;}
.form_flex.between {justify-content: space-between;}
.form_flex.full {width: 100%;}
.form_flex.align_top {align-items: flex-start;}
.form_flex.align_bottom {align-items: flex-end;}
.form_flex .input_box {flex: 1; }
.form_flex .form_bar {width: 1px; height: 1.5rem; background: #e5e8ec;}
.form_flex .full {flex: 1;}
.form_flex .nofull {flex: unset;}
.form_flex .w50 { flex: unset; width: calc((100% - 0.75rem * 1)/2);}
.form_flex .w33 { flex: unset; width: calc((100% - 0.75rem * 1)/2);}
.form_flex .w25 { flex: unset; width: calc((100% - 0.75rem * 1)/2);}
.form_flex .w20 { flex: unset; width: calc((100% - 0.75rem * 1)/2);}
.form_flex .w724 { flex: unset; width: 45.25rem;}
.form_flex .w160 { flex: unset; width: 10rem;}
.form_flex .w180 { flex: unset; width: 11.25rem;}
.form_flex .min130 {min-width: max(8.125rem, 130px)}
.form_flex .full180 { flex: unset; max-width: 11.25rem;}


/* 공통 - input */
.input_box { position: relative; width: 100%; display: flex; flex-direction: column; gap: 0.75rem;}
.input_box.line_ver {padding-bottom: 1.5rem; border-bottom: 1px solid #dfe5ec;}
.input_box .input_text { width: 100%;  height: 3rem; background: #f4f6f8; border: 1px solid #f4f6f8;  border-radius: 0.5rem;  padding: 0 0.875rem;  font-size: 0.875rem;   line-height: 157%;  color: #383b40;}
.input_box .input_text.ver2 { border-color: #d8dadd; background: #fff;}
.input_box .input_text::placeholder {color: #adb2bb;}
.input_box .input_text:read-only {background: #f0f1f8; color: #adb2bb;}
.input_box textarea.input_text {height: 14.5rem; padding: 1rem; resize: none;}
.input_box textarea.input_text::-webkit-scrollbar {display: none;}
.input_box textarea.input_text.h352 {height: 22rem;}
.input_box .label_text { font-weight: 800;  font-size: 0.875rem;  line-height: 157%;  color: #000;  display: block;  word-break: keep-all;}
.input_box .label_text.flex {display: flex; align-items: center; gap: 0.375rem;}
.input_box .label_text.flex .icon {width: 1.25rem;}
.input_box .label_text .required {color: #01a4ff;}
.input_box .label_text .point {color: #01a4ff; margin-left: 0.4em;}
.input_box .input_num {font-weight: 800;font-size: 0.875rem;line-height: 157%;color: #01a4ff;}
.input_box .align_start{align-self: flex-start;}
.input_box .align_end{align-self: flex-end;}
.input_btn { font-weight: 700; font-size: 0.875rem; line-height: 157%;  color: #000;  height: 3rem;  border: 1px solid #adb2bb;  border-radius: 0.5rem; background: #fff;  padding: 0 1.5rem; display: flex; align-items: center; justify-content: center;}
.input_btn.w100 {width: 6.25rem; padding: 0;}
.input_btn.icon_ver{width: 3rem; padding: 0;}
.input_btn.icon_ver .icon {width: 1.5rem;}
.input_txt {font-size: 0.875rem;line-height: 157%;color: #383b40;}
.input_txt.bold {font-weight: 800; color: #000;}
.input_desc {font-size: 0.813rem;line-height: 154%; color: #01a4ff;}
.input_desc2 {font-size: 0.813rem;line-height: 154%;color: #747983; word-break: keep-all;}
.input_desc2.mt {margin-top: 0.25rem;}
.input_point {font-weight: 800;font-size: 1rem;line-height: 150%;}
.input_point.color1 {color: #01a4ff;}
.input_point.color2 {color: #f9471e;}

.input_flex {display: flex; align-items: center; gap: 0.75rem;}
.input_flex.between {justify-content: space-between;}
.input_flex.gap1 {gap: 0.25rem;}
.input_flex.gap2 {gap: 1rem;}
.input_flex .input_box {flex: 1; flex-direction: unset;}
.input_flex .select_box {flex: 1;}
.input_flex .input_text {flex: 1; }
.input_flex .full {flex: 1;}
.input_flex .nofull {flex: unset;}
.input_flex .w724 {flex: unset; width: 45.25rem;}
.input_flex .w232 {flex: unset; width: 14.5rem;}
.input_flex .w108 {flex: unset; width: 6.75rem;}
.input_flex .w50 { flex: unset; width: calc((100% - 0.75rem * 1)/2);}
.input_flex .w33 { flex: unset; width: calc((100% - 0.75rem * 1)/2);}
.input_flex .w25 { flex: unset; width: calc((100% - 0.75rem * 1)/2);}
.input_flex .w20 { flex: unset; width: calc((100% - 0.75rem * 1)/2);}

.modal .input_flex .w50 { flex: unset; width: calc((100% - 1rem * 1)/2);}
.modal .input_flex .w33 { flex: unset; width: calc((100% - 1rem * 1)/2);}
.modal .input_flex .w25 { flex: unset; width: calc((100% - 1rem * 1)/2);}
.modal .input_flex .w20 { flex: unset; width: calc((100% - 1rem * 1)/2);}

.input_schbox .input_text {padding-right: 3rem;}
.input_schbox .sch_btn{background: url(../img/ico_search.png) no-repeat center/contain; width: 1.5rem; aspect-ratio: 1/1; position: absolute; right: 1rem; top: 50%; transform: translateY(-50%);} 

.input_filebox {display: flex; }
.input_filebox .input_file{display: none;}
.input_filebox .file_upload {position: relative;  }
.input_filebox .file_upload .upload_box { position: relative; display: flex; width: 100%;  height: 100%; border-radius: 0.5rem; overflow: hidden; cursor: pointer; background:  no-repeat center / contain;}
.input_filebox .file_upload .upload_box.uploaded {border: 1px solid #d8dadd; border-radius: 0.5rem; 
overflow: hidden;}
.input_filebox .file_upload .upload_box .default .icon{width: 2rem;}
.input_filebox .file_upload .upload_box .img {width: 100%; height: 100%; object-fit: cover;}
.input_filebox .file_upload .del_btn { background: url(../img/ico_delete.png) no-repeat center / contain;  width: 1.5rem; aspect-ratio: 1 / 1;  position: absolute;  right: 0.5rem;  top: 0.5rem; display: none;}
.input_filebox .file_txtbox {display: flex; flex-direction: column; gap: 0.75rem;}
.input_filebox .file_txtbox .tit{font-size: 0.813rem;line-height: 154%;color: #000;}
.input_filebox .file_txtbox .desc{font-size: 0.75rem;line-height: 150%;color: #747983;}
.input_filebox .file_txtbox .filename {font-weight: 700;font-size: 0.813rem;line-height: 154%;color: #01a4ff; margin-top: 0.25rem;}
.input_filebox.img_ver {gap: 2.5rem;}
.input_filebox.img_ver .file_upload {width: 17.5rem; aspect-ratio: 1/1;}
.input_filebox.img_ver .file_upload .upload_box {background-image: url(../img/upload_img.png)}
.input_filebox.pdf_ver {gap: 1.5rem;}
.input_filebox.pdf_ver .file_upload {width: 12.5rem; height: 17rem;}
.input_filebox.pdf_ver .file_upload .upload_box {background-image: url(../img/upload_pdf.png); }
.input_filebox.xlsx_ver {gap: 1.5rem;}
.input_filebox.xlsx_ver .file_upload {width: 12.5rem; height: 17rem;}
.input_filebox.xlsx_ver .file_upload .upload_box {background-image: url(../img/upload_xlsx.png); }


.input_datebox .input_text.datepicker {background: url(../img/ico_datepicker.png) no-repeat right 1rem center/1.5rem auto #fff; max-width: 16.25rem;  cursor: pointer; padding-right: 3rem; border-color: #d8dadd;}

.input_editorbox { border: 1px solid #c4cdd6; border-radius: 0.5rem;}
.input_editorbox .editor { display: flex; align-items: center; gap: 1rem; border-bottom: 1px solid #c4cdd6;  padding: 0.5rem 1rem;}
.input_editorbox .editor > .item { position: relative; display: flex; align-items: center;gap: 1rem;}
.input_editorbox .editor > .item .editor_select { font-size: 0.813rem; line-height: 154%; color: #131720; border: none; appearance: none; text-align: center; cursor: pointer; background: #fff;}
.input_editorbox .editor > .item .icon_btn{width: 1.5rem; height: 1.5rem; display: block;}
.input_editorbox .editor > .bar {width: 1px; height: 2rem; background: #e5e8ec;}
.input_editorbox textarea.input_text { border: none; resize: none; background: #fff;}


/* 공통 - check box */
.check_wrap { position: relative; display: flex; align-items: center; gap: 0.75rem;} 
.check_box { position: relative; display: flex; align-items: center; gap: 0.375rem;} 
.check_box .input_check { display: inline-block; width: 1.5rem; aspect-ratio: 1 / 1;  appearance: none; background: url(../img/checkbox_off.png) no-repeat center / contain;  cursor: pointer; }
.check_box .input_check:checked { background-image: url(../img/checkbox_on.png);}
.check_box .label_check { flex: 1;  display: inline-block;  font-size: 0.875rem;  line-height: 157%;  color: #383b40; word-break: keep-all; cursor: pointer;}
.check_box .label_check.center {line-height: 100%;}
.check_box .label_check .bold {font-weight: 700;}
.check_box .label_check .underline {text-decoration: underline;text-decoration-skip-ink: none; text-underline-offset: 0.125rem;}
.check_box .label_check .point {color: #01a4ff;}


/* 공통 - radio button */
.radio_wrap { display: flex; flex-wrap: wrap; align-items: center; gap: 0.5rem 1rem;}
.radio_box { display: flex; align-items: center; gap: 0.375rem;}
.radio_box .input_radio {background: url(../img/ico_radio.png) no-repeat center / contain; width: 1.5rem; height: 1.5rem; appearance: none; cursor: pointer;}
.radio_box .input_radio:checked {background-image: url(../img/ico_radio_on.png);}
.radio_box .label_radio { font-size: 0.875rem; line-height: 157%; color: #383b40; cursor: pointer;}
.radio_box .label_radio.flex {display: flex; align-items: center; gap: 0.5rem;}
.radio_box .label_radio.flex2 {display: flex; align-items: center; gap: 0.375rem;}


/* 공통 - switch button */
.switch_wrap { display: flex; align-items: center; gap: 1rem;}
.switch_box { display: flex; align-items: center; justify-content: space-between;  gap: 1rem;}
.switch_box .input_switch { position: relative; width: 2.75rem; height: 1.5rem; appearance: none; background: #d8dadd; border-radius: 6.25rem; cursor: pointer; transition: all 0.4s ease;}
.switch_box .input_switch::before { content: ""; position: absolute; left: 0.125rem;  top: 50%; transform: translateY(-50%); width: 1.25rem; aspect-ratio: 1 / 1; border-radius: 6.25rem;  box-shadow: 0 0.063rem 0.375rem 0 rgba(0, 0, 0, 0.14); background: #fff; transition: all 0.4s ease;}
.switch_box .input_switch:checked{ background: #000;}
.switch_box .input_switch:checked::before { left: calc(100% - 1.25rem - 0.125rem);}
.switch_box .label_switch { word-break: keep-all;  font-size: 0.875rem;  line-height: 157%; color: #383b40; cursor: pointer; display: flex; align-items: center; gap: 0.375rem;}
.switch_box .label_switch.between {justify-content: space-between; flex: 1;}
.switch_box .label_switch .icon {width: 1rem;}
.switch_box .label_switch .btn {opacity: 0; pointer-events: none;}
.switch_box .input_switch:checked + .label_switch .btn {opacity: 1; pointer-events: auto;}
.switch_box.reverse { flex-direction: row-reverse;}
.form_label .switch_box {width: 100%; justify-content: space-between;}
 

/* 공통 - select */
.select_box { position: relative;}
.select_box .select {  appearance: none;  font-size: 0.875rem;   line-height: 157%;  color: #000;  cursor: pointer;  border: 1px solid #f4f6f8; border-radius: 0.5rem;  width: 100%;  height: 3rem;  padding: 0 3rem 0 1rem;  background: url(../img/select_arrow.png) no-repeat right 1rem top 50% / 1.5rem #f4f6f8;}
.select_box.wid100 .select {width: 100%;}
.select_box .select.big {height: 3rem;}


/* 공통 - select2 */
.select2-container .selection {width: 100%; display: block;}
.select2-container--default .select2-selection--single { cursor: pointer;  border: 1px solid #f4f6f8;  background: #f4f6f8;  border-radius: 0.5rem;  width: 100%;  height: 3rem;  padding: 0.75rem 1rem; display: flex;  align-items: center; gap: 0.625rem;}
.select2-container--default .select2-selection--single .select2-selection__rendered {   font-size: 0.875rem; line-height: 100%; color: #000; padding: 0; flex: 1;}
.select2-container--default .select2-selection--single .select2-selection__rendered > span {display: flex; align-items: center; gap: 0.5rem;}
.select2-container--default .select2-selection--single .select2-selection__rendered .icon { width: 1.75rem !important; height: 1.75rem !important; margin: 0 !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered .txt {  flex: 1;}
.select2-container--default .select2-selection--single .select2-selection__arrow {   position: relative; height: auto; top: auto; transform: none;  width: 1.5rem;  aspect-ratio: 1 / 1;  background: url(../img/select_arrow.png) no-repeat center / contain;  transition: all 0.4s;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {display: none;}
.select2-container--default .select2-search--dropdown {display: none;}
.select2-container--default .select2-dropdown--below { border: 1px solid #d8dadd;  border-radius: 0 0 0.375rem 0.375rem;  overflow: hidden;}
.select2-container--default .select2-results>.select2-results__options { max-height: 25rem;}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {display: none;}
.select2-results__option--selectable { font-size: 0.875rem; line-height: 157%; color: #000017;  padding: 0.375rem 0.75rem; transition: var(--transition)}
.select2-results__option--selectable > span {display: flex; align-items: center; gap: 0.5rem;}
.select2-results__option--selectable .icon { width: 1.75rem; height: 1.75rem;}
.select2-results__option--selectable .txt {flex: 1;}
.select2-container--open .select2-selection--single .select2-selection__arrow {  transform: rotate(180deg);}
.select2-container--default .select2-results__option--selected {  background-color: #01a4ff; color: #ffffff;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable { background-color: #f0f1f8;  color: #000017;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selected {  background-color: #01a4ff; color: #ffffff;}

.select2-container--default.ver2 .select2-selection--single { border-color: #c4cdd6;  border-radius: 0.375rem;  height: 2rem; padding: 0 0.75rem;}
.select2-container--default.ver2 .select2-selection--single .select2-selection__rendered { color: #000017;}

.select2-container--default.ver2[data-class="typeA"] .select2-selection--single { border-color: #01a4ff; background: #dcf2ff;}
.select2-container--default.ver2[data-class="typeA"] .select2-selection--single .select2-selection__rendered {color: #01a4ff;}
.select2-container--default.ver2[data-class="typeB"] .select2-selection--single { border-color: #01bfba; background: #d4f5f4;}
.select2-container--default[data-class="typeB"] .select2-selection--single .select2-selection__rendered {color: #01bfba;}
.select2-container--default.ver2[data-class="typeC"] .select2-selection--single { border-color: #00a765; background: #d0ffdb;}
.select2-container--default[data-class="typeC"] .select2-selection--single .select2-selection__rendered {color: #00a756;}
.select2-container--default.ver2[data-class="typeD"] .select2-selection--single { border-color: #eea243; background: #fff2db;}
.select2-container--default[data-class="typeD"] .select2-selection--single .select2-selection__rendered {color: #eea243;}

.select2-container--default.state_used .select2-selection--single .select2-selection__rendered > span::before {content: ""; width: 0.75rem; aspect-ratio: 1/1; border-radius: 50%; background-color: #01a4ff;}
.select2-container--default.state_unused .select2-selection--single .select2-selection__rendered > span::before {content: ""; width: 0.75rem; aspect-ratio: 1/1; border-radius: 50%; background-color: #adb2bb;}


/* 공통 - button */
.btn { display: flex; align-items: center; justify-content: center; gap: 0.25rem;  border-radius: 0.5rem; width: 6rem; height: 3rem;  font-weight: 700; font-size: 0.875rem; line-height: 157%; text-align: center; color: #ffffff; cursor: pointer; border: 1px solid #000017; background: #000017; transition: var(--transition);}
.btn.big { height: 3.5rem;  font-weight: 800; font-size: 1rem; line-height: 150%;}
.btn.typeA {border-color : #01a4ff; background: #01a4ff; color: #fff;}
.btn.typeB {border-color : #000; background: #fff; color: #000;}
.btn.typeC {border-color : #adb2bb; background: #fff; color: #383b40; font-weight: 400;}
.btn.typeD {border-color : #adb2bb; background: #fff; color: #000; font-weight: 700;}
.btn.typeE {border-color : #f9471e; background: #fff; color: #f9471e; font-weight: 700;}
.btn:disabled { border-color: #f0f1f8; color: #adb2bb; background: #f0f1f8;}
.btn.disabled { border-color: #adb2bb; color: #747983; background: #fff;}
.btn.disabled .icon {opacity: 0.5;}
.btn.icon_ver { width: auto; width: 3rem; border-color : #adb2bb; background: #fff;}
.btn.icon_ver2 { width: auto;  height: auto;   color: #131720; background: none; padding: 0; border: 0; gap: 0.5rem; border-radius: 0;  font-weight: 400;}
.btn.full {width: 100%;}
.btn.auto {width: auto; padding: 0 1.5rem;}
.btn.gap1 {gap: 0.375rem;}
.btn.bold {font-weight: 700;}
.btn.normal {font-weight: 400;}
.btn.small {width: auto; height: 2rem; font-weight: 400; font-size: 0.813rem; line-height: 154%; color: #383b40; padding: 0.375rem 0.75rem; border-color:#d8dadd; background: #fff;}
.btn.small .icon {width: 1rem;}
.btn .icon {width: 1.5rem; aspect-ratio: 1/1; display: block;}
.btn .link {text-decoration: underline; display: inline-block; text-underline-offset: 0.125rem;}
.icon_btn {width: 1.5rem; height: 1.5rem; border: none; padding: 0; border-radius: 0; background: none; display: flex; align-items: center; justify-content: center;}
.icon_btn.small {width: 1.25rem; height: 1.25rem;}


/* 공통 - badge */
.badgebox {display: flex; flex-wrap: wrap; align-items: center; gap: 0.375rem;}
.badgebox .badge {font-weight: 700;font-size: 0.75rem;line-height: 150%;text-align: center; display: inline-flex; align-items: center; gap: 0.25rem; padding: 0.188rem 0.5rem; border-radius: 0.5rem; color: #747983; background: #f0f1f8; white-space: nowrap; }
.badgebox .badge.typeA {color: #32baff; background: #e7f7ff;}
.badgebox .badge .icon{background:  no-repeat center/contain; width: 1rem; aspect-ratio: 1/1;}


/* 공통 - alert button */
.alert_box {position: relative;}
.alert_box .alert_popup {  position: absolute; right: -1.25rem; top: calc(100% + 1.25rem);   z-index: 50;  opacity: 0; pointer-events: none; transition: var(--transition);}
.alert_box .alert_popup.show { opacity: 1; pointer-events: auto;}
.alert_box .alert_popup::before { content: "";  position: absolute;  right: 0.6rem;   top: -1.6rem;  background: url(../img/popup_tail.png) no-repeat center / contain;  width: 2.625rem;  aspect-ratio: 1 / 0.63;  z-index: 10;}
.alert_box .alert_popup .box {position: relative; border-radius: 0.5rem; width: max-content; min-height: 4.5rem;  background: #fff;  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.08);  padding: 1rem; font-weight: 400; font-size: 0.813rem;  line-height: 154%;  color: #383b40; z-index: 5;}
.alert_box .alert_popup .box.h_auto {min-height: unset;}

.alert_txt {font-size: 0.75rem;line-height: 150%;color: #747983; display: flex; align-items: center; gap: 0.25rem;}
.alert_txt .icon{width: 1rem;}


/* 공통 - directory box */
.directory_box {  border: 1px solid #c3c8cf;  border-radius: 0.5rem;  background: #fff;  padding: 1.5rem 1.688rem; display: flex; flex-direction: column;  gap: 0.5rem;}
.directory_box.ver2 { border: none;  padding: 0;}
.directory_box.h265 {height: 16.563rem;}
.directory_item {display: flex; align-items: flex-start; gap: 0.25rem;}
.directory_item .path_box { position: relative;  width: 1.438rem; min-width: 1.438rem;  aspect-ratio: 1 / 1;}
.directory_item .path_box .path {background: url(../img/ico_path.png) no-repeat center/contain; width: 100%; aspect-ratio: 1/1;}
.directory_item .path_box .path_btn {background: url(../img/ico_square_minus.png) no-repeat center/contain; width: 0.875rem; aspect-ratio: 1/1; position: absolute; left: 0; bottom: 0;}
.directory_item .item_box {display: flex; flex-direction: column; gap: 0.5rem;}
.directory_item .item_box .directory_item {margin-left: 0.25rem;}
.directory_item .title {display: flex; align-items: center; gap: 0.375rem; margin-top: 0.25rem; cursor: pointer;}
.directory_item .title.mt0 {margin-top: 0;}
.directory_item .title .icon_box {width: 1.5rem; min-width: 1.5rem; display: flex; align-items: center; justify-content: center;}
.directory_item .title .txt_box {font-weight: 400;font-size: 0.875rem;line-height: 157%;color: #383b40; white-space: nowrap;} 
.directory_item .title .txt_box .point{color: #01a4ff;} 
.directory_item .title .type_add {margin-left: 0.125rem; white-space: nowrap; display: none;}
.directory_item .title .delete_btn {width: 1rem; min-height: 2rem; display: none;}
.directory_item .title .input_box.w120 { flex: unset; width: 7.5rem;}
.directory_item .title .input_box .input_text {  border-color: #d8dadd;  background-color: #fff;  width: auto;  height: 2rem;  min-width: 7.5rem;  padding: 0 0.75rem;font-size: 0.813rem;  line-height: 154%; display: none;}

.directory_item .title:not(.input_ver).hover_ver {margin-top: 0; margin-bottom: -0.25rem;} 
.directory_item .title:not(.input_ver).hover_ver .delete_btn {display: flex;}
.directory_item .title:not(.input_ver).hover_ver .type_add {display: flex;}

.directory_item .title.input_ver {margin-top: 0; margin-bottom: -0.25rem;}
.directory_item .title.input_ver .txt_box {display: none;}
.directory_item .title.input_ver .input_box .input_text {display: block;}

.directory_box.allHide .directory_item .item_box .directory_item.cat2 {display: none;}

.directory_breadcrumb {display: flex; align-items: center; gap: 0.375rem; font-weight: 400;
font-size: 0.875rem;line-height: 157%;color: #000;}
.directory_breadcrumb .icon {width: 1.5rem;}
.directory_breadcrumb .txt {flex: 1;}

.module_Addbox {display: none;}
.module_Addbox.show {display: flex;}


/* 공통 - datepicker */
#datepicker:focus>.ui-datepicker { display: block; }
.ui-datepicker {  font-family: inherit; display: none; margin-top: 0.625rem; margin-left: 0; margin-right: 0;  width: 18rem; box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.08);  background: #fff;  border: 1px solid #dfe5ec; border-radius: 0.5rem; padding: 1.25rem 1rem;}
.ui-widget.ui-widget-content { border: 1px solid #dfe5ec;}
.ui-datepicker .ui-datepicker-header { position: relative; padding: 0; display: flex;  align-items: center;  justify-content: center; gap: 0.5rem; border-radius: 0;  background: #ffffff; margin-bottom: 1.25rem; border: 0;}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {display: none;}
.ui-datepicker .ui-datepicker-title { margin: 0; text-align: center; order: 2;  font-weight: 700; font-size: 0.875rem; line-height: 100%; color: #000017;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: relative; width: 1.25rem !important; height: auto !important; left: auto; right:auto; top: auto; aspect-ratio: 1 / 1; display: flex; cursor: pointer;}
.ui-datepicker .ui-datepicker-prev {order: 1;}
.ui-datepicker .ui-datepicker-next {order: 3;}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span { position: relative; left: auto; margin-left: 0; top: auto; margin-top: 0;background: no-repeat center / contain; width: 100%; height: 100%; margin: 0  !important;}
.ui-datepicker .ui-datepicker-prev span{ background-image: url(../img/datepicker_prev.png);}
.ui-datepicker .ui-datepicker-next span{ background-image: url(../img/datepicker_next.png);}
.ui-datepicker-calendar { width: 100%; }  
.ui-datepicker table {margin: 0;}
.ui-datepicker td { padding: 0;}
.ui-datepicker-calendar>thead { display: none;}
.ui-datepicker-calendar>thead>tr>th { width: 2.25rem; height: 2.25rem; padding: 0; font-weight: 600; font-size: 0.813rem; line-height: 154%; color: #000017;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { border: none; background-color: transparent;  font-weight: 400; font-size: 0.813rem; line-height: 154%;  text-align: center; color: #000017;  width: 1.75rem; height: 1.75rem; padding: 0; display: flex;align-items: center;justify-content: center; margin: 0.25rem;}
.ui-state-active::after {display: none;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,
.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,
.ui-button:hover,.ui-button:focus { border: none; background-color: transparent;text-align: center; font-weight: 400; font-size: 0.813rem;  line-height: 154%; color: #000017; width: 1.75rem; height: 1.75rem;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { position: relative;}
.ui-state-highlight::after, .ui-widget-content .ui-state-highlight::after, .ui-widget-header .ui-state-highlight::after { content: ""; width: 0.25rem; aspect-ratio: 1/1; position: absolute; left: 50%; bottom: 0.125rem; transform: translateX(-50%); background: #c4cdd6; border-radius: 50%;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border-radius: 50%; background: #000017; color: #ffffff;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border-radius: 50%; background: #000017; color: #ffffff;}
.ui-state-disabled { cursor: auto; color: #cccccc;}    
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {cursor: auto;  background-color: #ffffff; }  
.ui-datepicker-calendar>tbody>tr>td:hover {background-color: transparent; opacity: 0.6; }   
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {  opacity: 1;  color: #adb2bb;}
.datepicker_lnline .ui-datepicker.ui-datepicker-inline { border: none; width: auto; box-shadow: none;   margin-top: 0;padding: 0; border-radius: 0;}


/* 공통 - 탭 */
.tab_wrap {position: relative;}
.tab_navbox { display: flex;}
.tab_contbox { position: relative;}
.tab_contbox .tab_cont { display: none;}
.tab_contbox .tab_cont.on {display: block;}

.tab_btnbox {display: flex; gap: 0.75rem;}
.tab_btnbox .tab_btn{height: 3rem;font-weight: 400; font-size: 0.875rem;line-height: 157%;color: #131720; padding: 0 1.5rem; border: 1px solid #d8dadd; border-radius: 0.5rem; background: #fff; }
.tab_btnbox .tab_btn.active{color: #01a4ff; border-color:#01a4ff; font-weight: 700;}


/* 공통 - 테이블 */
.tbl_wrap {position: relative; width: 100%;}
.tbl_wrap .tbl { position: relative; width: 100%; border-collapse: collapse; font-size: 0.875rem;line-height: 157%;color: #000017;}
.tbl_wrap .tbl thead tr { border-bottom: 1px solid #dfe5ec;}
.tbl_wrap .tbl thead tr th { font-weight: 700; text-align: left; padding: 0.813rem 1rem 0.813rem 0; white-space: nowrap;}
.tbl_wrap .tbl thead tr th:nth-child(1) {padding-left: 2.5rem}
.tbl_wrap .tbl tbody tr {border-bottom: 1px solid #dfe5ec;}
.tbl_wrap .tbl tbody tr:last-child {border-bottom: 0;}
.tbl_wrap .tbl tbody tr td { position: relative; padding: 0.75rem 1rem 0.75rem 0; height: 3.5rem; word-break: keep-all;}
.tbl_wrap .tbl tbody tr td:nth-child(1) {padding-left: 2.5rem}
.tbl_wrap .tbl tbody tr td.td_date1 {min-width: max(6rem, 120px);}
.tbl_wrap .tbl tbody tr td.td_date2 {min-width: max(4rem, 64px);}
.tbl_wrap .tbl tbody tr td .point {font-weight: 700;color: #01a4ff;} 
.tbl_wrap .tbl tbody tr td .bold {font-size: 1rem;line-height: 150%; font-weight: 700;} 
.tbl_wrap .tbl tbody tr td .tbl_btn {height: 2rem; font-size: 0.813rem; line-height: 154%;color: #383b40; display: flex; align-items: center; gap: 0.25rem; padding: 0 0.75rem; border: 1px solid #d8dadd; border-radius: 0.5rem; background: #fff;}
.tbl_wrap .tbl tbody tr td .tbl_btn .icon {width: 1rem;}
.tbl_wrap .tbl tbody tr td .tbl_link {display: inline-block; font-weight: 700;}
.tbl_wrap .tbl tbody tr td .tbl_file {display: inline-flex; align-items: center; gap: 0.625rem;}
.tbl_wrap .tbl tbody tr td .tbl_file .icon {width: 1.5rem;}
.tbl_wrap .tbl tbody tr td .part_logo {max-height: 1rem;}

.tbl_wrap .tbl tbody tr td[data-th="시험지 이름"] { min-width: max(6.25rem, 100px);}

.modal .tbl_wrap .tbl {border-top: 1px solid #000; border-bottom: 1px solid #e5e8ec;}
.modal .tbl_wrap .tbl thead tr th:nth-child(1) {padding-left: 1.5rem}
.modal .tbl_wrap .tbl tbody tr td:nth-child(1) {padding-left: 1.5rem}

.tbl_wrap .tbl .opt_btnbox {width: 2rem; position: relative;}
.tbl_wrap .tbl .opt_btnbox .opt_btn {background: url(../img/ico_opt.png) no-repeat center/contain; width: 2rem; aspect-ratio: 1/1; display: block; }
.tbl_wrap .tbl .opt_btnbox .opt_btn.ver2 {background: url(../img/ico_opt2.png) no-repeat center/contain; width: 1.5rem; aspect-ratio: 1/1; display: block; }
.tbl_wrap .tbl .opt_btnbox .opt_popup { top: calc(100% + 0.5rem); right: 0.375rem;}

.tbl_wrap .tbl_blank {padding: 2.5rem; display: flex; flex-direction: column; align-items: center; gap: 0.75rem;}
.tbl_wrap .tbl_blank .icon{width: 3rem;}
.tbl_wrap .tbl_blank .txt{font-size: 0.875rem;line-height: 157%;text-align: center;	color: #000017;}

.tbl_wrap .tbl_bottom {display: flex; align-items: center; justify-content: space-between; gap: 1rem; margin-top: 1rem;}
.tbl_wrap .tbl_bottom .leftbox,  
.tbl_wrap .tbl_bottom .rightbox {display: flex; align-items: center; gap: 0.75rem;}
.tbl_wrap .tbl_bottom .rightbox {justify-content: flex-end;}
.tbl_wrap .tbl_bottom .btn {min-width: 6.25rem;}


/* 공통 - pagenation */
.pagination {flex: 1; width: 100%; display: flex; align-items: center; justify-content: center; gap:0.5rem;}
.pagination .page { width: 2.5rem; height: 2.5rem;  font-size: 0.875rem;  line-height: 157%;  letter-spacing: -0.04em;  color: #000017;  border: 1px solid #dfe5ec;;   border-radius: 0.5rem; background: #ffffff;  overflow: hidden;}
.pagination .page.on { font-weight: 700; color: #ffffff;  background: #000017;}
.pagination .page .link {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}
.pagination .page_btn:nth-child(2){margin-right: 0.5rem;}
.pagination .page_btn:nth-last-child(2){margin-left: 0.5rem;}


/* 공통 - 모달 type1 */
.modal { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; background: rgba(0, 0, 0, 0.5); transition: var(--transition); pointer-events: none; opacity: 0; min-width: 1279px;}
.modal.show { pointer-events: auto; opacity: 1;}
.modal .modal_box { position: absolute; left: 50%;  top: 50%;  transform: translate(-50%, -50%);  border-radius: 1rem;  background: #ffffff;  box-shadow: 0 0.063rem 0.063rem 0 rgba(0, 0, 0, 0.09);  padding: 2.5rem 1.25rem 1.5rem;  min-width: 25rem; width: 25rem;  max-width: 90%;  max-height: 90%; display: flex;  flex-direction: column; align-items: center;  transition: var(--transition); margin-top: 2.5rem; opacity: 0; overflow: hidden;}
.modal.show .modal_box { margin-top: 0; opacity: 1;}
.modal .modal_box .modal_title { font-weight: 700;  font-size: 1rem;  line-height: 150%; text-align: center; color: #000; }
.modal .modal_box .modal_desc { font-size: 0.875rem; line-height: 157%;  text-align: center; color: #000; margin-top: 0.25rem;}
.modal .modal_box .modal_btnbox {display: flex; justify-content: center; gap: 0.75rem; margin-top: 2rem;}


/* 공통 - 모달 */
.modal.type2 .modal_box { padding: 0; overflow: auto; min-width: 30rem;}
.modal.type2 .modal_box::-webkit-scrollbar {display: none;}
.modal.type2 .modal_head {position: relative; width: 100%; height: 3.5rem; min-height: 3.5rem; display: flex; align-items: center;  justify-content: space-between; padding: 0 3rem;background: #ffffff; }
.modal.type2 .modal_head .h_title { font-weight: 700; font-size: 1rem;  line-height: 150%;  text-align: center;  color: #000;  width: 100%;}
.modal.type2 .modal_head .close_btn { width: 1.5rem;  aspect-ratio: 1 / 1;  background: url(../img/ico_close.png) no-repeat center / contain; position: absolute; right: 1.5rem; top: 50%; transform: translateY(-50%);}
.modal.type2 .modal_body { width: 100%; min-height: unset; padding: 1.5rem;}
.modal.type2 .modal_body .modal_desc {margin: 0;}
.modal.type2 .modal_foot { width: 100%; padding: 0 0 1.5rem; display: flex; gap: 0.75rem; justify-content: center;}


/* 공통 - 팝업 */
.popup { position: absolute; border-radius: 0.75rem; box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.08); background: #fff; min-width: 15rem; transition: var(--transition); opacity: 0;  pointer-events: none; z-index: 30; overflow: hidden;}
.popup.show {  opacity: 1;  pointer-events: auto;}
.popup .pop_close {background: url(../img/ico_close.png) no-repeat center/contain; width: 1.5rem; aspect-ratio: 1/1; display: block; cursor: pointer;}


/* 공통 - 옵션 팝업 */
.opt_popup { display: flex;  flex-direction: column; align-items: center; gap: 0.25rem;  min-width: 10rem; border-radius: 0.5rem; top: 3.563rem; right: 1rem;}
.opt_popup .opt_list{width: 100%; display: flex; flex-direction: column;}
.opt_popup .opt_list > .item{width: 100%;}
.opt_popup .opt_list .opt_popbtn { width: 100%; height: 2.5rem; display: flex; align-items: center;  gap: 0.375rem;  padding: 0.5rem 0.75rem;  transition: var(--transition); text-align: left;  font-size: 0.813rem;  line-height: 154%; color: #000017;}
.opt_popup .opt_list .opt_popbtn.red {color: #f65656;}
.opt_popup .opt_list .opt_popbtn:not(.no_hover):hover{background: #f0f1f8; font-weight: 700;}
.opt_popup .opt_list .opt_popbtn.selected{background: #f0f1f8; font-weight: 700;}
.opt_popup .opt_list .opt_popbtn .icon{width: 1.5rem; aspect-ratio: 1/1;}
.opt_popup .opt_list .opt_popbtn .txt{flex: 1;}
.opt_popup .opt_bar{width: calc(100% - 1rem); height: 1px; background: #dfe5ec; display: block;}
.opt_popup .opt_list .opt_input {padding: 0.5rem 0.75rem;  }