/* 01로그인 */
.login_wrap {display: flex; align-items: center;  justify-content: center;}
.login_wrap .container {padding-top: 4.5rem;}
.login_wrap .login_header { position: fixed;  left: 0; top: 0;  width: 100%;  height: 4.5rem; display: flex;align-items: center; justify-content: space-between;  padding: 0 2.5rem; border-bottom: 1px solid #dfe5ec; background: #fff; z-index: 50; min-width: 1279px;}
.login_wrap .login_header .logobox { width: 7.5rem; display: flex; align-items: center;  justify-content: center;}
.login_wrap .login_header .sidebox .select { width: 10rem;}
.login_wrap .login_section { width: 100%; max-width: 30rem; margin: 0 auto; padding: 7.5rem 0 2.5rem;}
.login_wrap .login_box { width: 100%; margin: 0 auto; display: flex; flex-direction: column;}
.login_wrap .login_box .titbox { margin-bottom: 1.875rem;}
.login_wrap .login_box .titbox .title {font-weight: 700; font-size: 1.75rem;line-height: 143%;	text-align: center;	color: #000017;}
.login_wrap .login_box .form_box { margin-bottom: 1.5rem;}
.login_wrap .login_box .form_box .check_box {gap: 0.25rem;}
.login_wrap .login_box .form_box .input_codebox .input_text {padding-right: 7.5rem;}
.login_wrap .login_box .form_box .input_codebox .code_time {  position: absolute;   top: 50%; right: 1rem; transform: translateY(-50%);  font-size: 0.813rem;  line-height: 154%;  color: #000;}
.login_wrap .login_box .form_box .input_codebox .code_time .time{font-weight: 700;}
.login_wrap .login_box .sch_box{ display: flex; align-items: center; justify-content: flex-end; gap: 0.375rem;}
.login_wrap .login_box .sch_box .link {font-size: 0.813rem;line-height: 154%;color: #627383; display: inline-block;}
.login_wrap .login_box .sch_box .dot {width: 0.188rem; aspect-ratio: 1/1; border-radius: 100%; background: #adb2bb;}
.login_wrap .login_box .btn_box{ display: flex; gap: 0.75rem;}


/* 03시험지설정_02시험지등록_07듣기평가설정popup */
#listeningSettingPopup .modal_box {width: 67.5rem;}
#listeningSettingPopup .form_box .select_box {flex: unset; width: 6rem;}
#listeningSettingPopup .form_box .tbl_wrap .tbl .select_box {width: 6rem;}


/* 03시험지설정_02시험지등록_11시험지등록설정popup1 */
.register_modal .form_box .input_box .label_text {font-size: 0.813rem;line-height: 154%;}


/* 03시험지설정_02시험지등록_16정답입력popup1 */
#answerInputPopup .modal_box {width: 67.5rem;}
#answerInputPopup .tbl_wrap .tbl tbody tr td:last-child {padding-right: 0;}
#answerInputPopup .tbl_wrap .tbl tbody tr.noline {border-bottom: 0;}
#answerInputPopup .tbl_wrap .tbl tbody tr.add td {padding: 0;}
#answerInputPopup .form_box {border: 1px solid #d8dadd; border-radius: 1rem;   background: #fff;  padding: 1.5rem;  box-sizing: border-box;  width: 100%; margin-bottom: 1rem;}
#answerInputPopup .form_box .form_flex .w486 {flex:unset; width: 30.375rem;}
#answerInputPopup .form_box .answerbox .number{width: 1.563rem;}
#answerInputPopup .form_box .answerbox .w256{flex: unset; width: 16rem;}


/* 04문제입력_01전체문제등록case */
.examInputPopup .modal_box {width: 67.5rem; max-height: min(50rem, 90%);}
.examInputPopup.hidden .modal_box {overflow: hidden;}
.examInputPopup .form_box .input_box textarea.input_text.h352 {height: 22rem;}
.examInputPopup .form_box .input_box textarea.input_text.h192 {height: 12rem;}
.examInputPopup .form_box .form_label.padding .form_flex {gap: 1.5rem;}
.examInputPopup .form_box .w320 {flex: unset; width: 20rem;}
.examInputPopup .form_box .w256 {flex: unset; width: 16rem;}
.examInputPopup .form_box .w218 {flex: unset; width: 13.625rem;}
.examInputPopup .form_box .w178 {flex: unset; width: 11.125rem;}
.examInputPopup .form_box .w120 {flex: unset; width: 7.5rem;}
.examInputPopup .form_box .w25 {flex: unset; width: 1.563rem;}


/* 04문제입력_02개별문제등록_04문제은행가져오기1 */
.examInputPopup .examImport_box { position: absolute;  right: -52rem;  top: 0; width: 50rem;  height: 100%;  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.12);  background: #fff;  border-radius: 0 1rem 1rem 0;  transition: all 0.5s ease; }
.examInputPopup .examImport_box.show {right: 0; }
.examInputPopup .examImport_box .innerbox { width: 100%;  height: 100%; display: flex; flex-direction: column;  overflow: auto;}
.examInputPopup .examImport_box .innerbox::-webkit-scrollbar {display: none;}
.examInputPopup .examImport_box .headbox { position: relative;  width: 100%;  min-height: 3.5rem;  border-bottom: 1px solid #dfe5ec;  padding: 1rem 1.5rem;}
.examInputPopup .examImport_box .headbox .tit{font-weight: 700;font-size: 1rem;line-height: 150%;color: #131720;}
.examInputPopup .examImport_box .bodybox{flex: 1; padding: 1.5rem;}
.examInputPopup .examImport_box .footbox {padding: 0 1.5rem 1.625rem; display: flex; justify-content: center; gap: 0.75rem;}
.examInputPopup .examImport_box .import_item {  display: flex;  flex-direction: column;}
.examInputPopup .examImport_box .import_item .alert_txt{margin-bottom: 1.625rem;}
.examInputPopup .examImport_box .import_item .btnbox{display: flex; gap: 1rem; margin-bottom: 0.938rem;}
.examInputPopup .examImport_box .examImport_close { position: absolute;  right: calc(100% - 1rem);  top: 8.938rem;  width: 2rem;  aspect-ratio: 1 / 1;  box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.12);  border-radius: 50%;}


/* 05문제은행관리_06문제은행저장popup1 */
.examBank_modal .form_label.padding{padding: 1rem 1.5rem; margin-top: 0.125rem;}
.examBank_modal .form_label.padding .form_flex.full {gap: 1.25rem;}
.examBank_modal .form_label .w88 {width: 5.5rem;}
.examBank_modal .form_label .select2-container--default .select2-selection--single {  gap: 0.375rem; padding: 0.75rem 0.75rem 0.75rem 1rem;}


/* 06시험일정등록_03결과관리_06응시자관리기능popup1 */
#applicantManagePopup .tbl_wrap.mh232 { max-height: 14.5rem; }


/* 06시험일정등록_03결과관리_07시험지확인popup */
#examCheckPopup .examcheck_box { width: 100%; display: flex; flex-direction: column;  gap: 3rem;}
#examCheckPopup .examcheck_box .exambox {  position: relative; width: 100%; min-height: 30.5rem;  display: flex;  flex-direction: column;  gap: 2.5rem;}
#examCheckPopup .examcheck_box .examitem {  position: relative; width: 100%; display: flex;  flex-direction: column; gap: 1rem;}
#examCheckPopup .examcheck_box .exambox .titbox{display: flex; flex-direction: column; gap: 0.5rem;}
#examCheckPopup .examcheck_box .exambox .titbox .tit{font-weight: 700;font-size: 1rem;line-height: 150%;color: #000;}
#examCheckPopup .examcheck_box .exambox .titbox .desc{font-size: 0.875rem;line-height: 157%;color: #000;}
#examCheckPopup .examcheck_box .exambox .descbox{font-size: 1rem;line-height: 225%;}
#examCheckPopup .examcheck_box .exambox .descbox .descitem {  position: relative;  display: flex; align-items: center;  gap: 0.5rem;}
#examCheckPopup .examcheck_box .exambox .descbox .descitem::after{content: ""; background: url(../img/ico_correct.png) no-repeat center/contain; width: 2.625rem; aspect-ratio: 1/1; position: absolute; left: -0.75rem;  top: 50%;  transform: translateY(-50%); display: none;}
#examCheckPopup .examcheck_box .exambox .descbox .descitem .txt{flex: 1;}
#examCheckPopup .examcheck_box .exambox .descbox .descitem.correct {color: #01a4ff;}
#examCheckPopup .examcheck_box .exambox .descbox .descitem.correct::after {display: block;}


/* 06시험일정등록_03결과관리_09본인인증popup */
#identityVerificationPopup .verification_box { width: 100%; display: flex;  gap: 1.5rem;}
#identityVerificationPopup .verification_box .item {width: calc((100% - 1.5rem)/2); display: flex; flex-direction: column; gap: 1rem;}
#identityVerificationPopup .verification_box .item .top_box {  display: flex;  align-items: center; justify-content: space-between;}
#identityVerificationPopup .verification_box .item .top_box .tit{font-weight: 700;font-size: 0.875rem;line-height: 157%;;color: #000;}
#identityVerificationPopup .verification_box .item .file_view {  position: relative;   width: 100%;  height: 21rem; }
#identityVerificationPopup .verification_box .item .file_view .input{display: none;}
#identityVerificationPopup .verification_box .item .file_view .imgbox {  position: relative;  width: 100%;  height: 100%;  display: flex;  align-items: center;   justify-content: center;  background: #f4f6f8; border: 1px solid #f4f6f8;  border-radius: 1rem;  overflow: hidden;}
#identityVerificationPopup .verification_box .item .file_view .imgbox.uploaded {background: #fff; border-color: #adb2bb;}
#identityVerificationPopup .verification_box .item .file_view .imgbox .icon{width: 3.5rem;}
#identityVerificationPopup .verification_box .item .file_view .imgbox .img{max-height: 100%; object-fit: cover;}


/* 06시험일정등록_03결과관리_10시선추적로그정보popup */
#eyeTrackingLogPopup .loginfo_box {display: flex; flex-direction: column;}
#eyeTrackingLogPopup .loginfo_box .item:nth-child(1) {border-top: 1px solid #e5e8ec;}
#eyeTrackingLogPopup .loginfo_box .item{display: flex; align-items: center; justify-content: space-between; gap: 1rem; padding: 0.75rem 0.875rem 0.75rem 1rem; border-bottom: 1px solid #e5e8ec;}
#eyeTrackingLogPopup .loginfo_box .item .txtbox{flex: 1;}
#eyeTrackingLogPopup .loginfo_box .item .txtbox .txt{font-size: 0.875rem;line-height: 157%;color: #383b40;}
#eyeTrackingLogPopup .loginfo_box .item .imgbox{width: 3rem; aspect-ratio: 1/1; border-radius: 0.5rem; overflow: hidden;}
#eyeTrackingLogPopup .loginfo_box .item .imgbox .img{width: 100%; height: 100%; object-fit: cover;}


/* 06시험일정등록_03결과관리_10시선추적로그정보popup2 */
#eyeTrackingLogPicPopup .modal_body { height: 30rem;}
#eyeTrackingLogPicPopup .picture_box {position: relative; width: 100%; height: 100%;}
#eyeTrackingLogPicPopup .picture_box::before {content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 3.5rem; aspect-ratio: 1/1; background: url(../img/file_pic.png) no-repeat center/contain;}
#eyeTrackingLogPicPopup .picture_box img { position: relative;  width: 100%;  height: 100%;  object-fit: contain;}


/* 06시험일정등록_03결과관리_11화면방지로그정보popup */
#screenStayLogPopup .tbl .logimg_box { position: relative; display: flex;  align-items: center;  justify-content: center;  width: 4.5rem;  height: 3rem;  border-radius: 0.5rem;  background: #f4f6f8; overflow: hidden;}
#screenStayLogPopup .tbl .logimg_box::before {content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 1rem; aspect-ratio: 1/1; background: url(../img/file_pic.png) no-repeat center/contain;}
#screenStayLogPopup .tbl .logimg_box img { position: relative;  width: 100%;  height: 100%;  object-fit: contain;}


/* 06시험일정등록_03결과관리_11화면방지로그정보popup3 */
#screenStayLogPicPopup .modal_body { height: 20rem;}
#screenStayLogPicPopup .picture_box {position: relative; width: 100%; height: 100%;}
#screenStayLogPicPopup .picture_box::before {content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 3.5rem; aspect-ratio: 1/1; background: url(../img/file_pic.png) no-repeat center/contain;}
#screenStayLogPicPopup .picture_box img { position: relative;  width: 100%;  height: 100%;  object-fit: contain;}


/* 13문자전송_01문자작성_01디폴트 */
#smsSendPopup .sms_contbox { display: flex; align-items: flex-start; gap: 1.5rem;}
#smsSendPopup .sms_contbox .form_box { flex: 1;}
#smsSendPopup .sms_contbox .preview_box {width: 25rem; border: 1px solid #d8dadd;  border-radius: 1rem; display: flex; flex-direction: column; gap: 1.5rem; overflow: hidden; padding: 0 1.5rem 1.5rem; display: none;}
#smsSendPopup .sms_contbox.preview_show .preview_box {display: flex;}
#smsSendPopup .sms_contbox .preview_box .headbox {width: 100%; height: 3rem; display: flex; align-items: center; justify-content: center;}
#smsSendPopup .sms_contbox .preview_box .headbox .preview_tit {font-weight: 700;font-size: 1rem;line-height: 150%;text-align: center;color: #000;}
#smsSendPopup .sms_contbox .preview_box .preview { width: 100%; border: 1px solid #d8dadd;  border-radius: 0.5rem; display: flex; flex-direction: column; overflow: hidden;}
#smsSendPopup .sms_contbox .preview_box .preview .titbox {  background: #fafafc; border-bottom: 1px solid #dfe5ec;  padding: 1rem; display: flex; flex-direction: column; align-items: center;   gap: 0.5rem;}
#smsSendPopup .sms_contbox .preview_box .preview .titbox .profile{width: 3rem; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center; border: 1px solid #d8dadd; background: #f4f6f8; border-radius: 50%; font-weight: 700; font-size: 1.188rem;line-height: 150%;color: #747983;}
#smsSendPopup .sms_contbox .preview_box .preview .titbox .number{font-size: 0.813rem;line-height: 154%;color: #000; text-align: center;}
#smsSendPopup .sms_contbox .preview_box .preview .msgbox { width: 100%;height: 23.438rem; padding: 1.5rem;  display: flex; flex-direction: column; gap: 1.5rem; overflow:auto;}
#smsSendPopup .sms_contbox .preview_box .preview .msgbox::-webkit-scrollbar {display: none;}
#smsSendPopup .sms_contbox .preview_box .preview .msgbox .msg { position: relative; padding-left: 0;}
#smsSendPopup .sms_contbox .preview_box .preview .msgbox .msg::before { content: ""; position: absolute; background: url(../img/sms_tail.png) no-repeat center / contain; top: 0; left: -0.313rem;  width: 0.625rem; aspect-ratio: 1 / 1.2;}
#smsSendPopup .sms_contbox .preview_box .preview .msgbox .msg .txt { background: #f0f1f8;  padding: 0.75rem 1rem; border-radius: 0.625rem; font-size: 0.813rem; line-height: 154%; color: #000;  min-height: 7.688rem;}
#smsSendPopup .sms_contbox .preview_box .preview .controlbox {  border-top: 1px solid #dfe5ec;  background: #fafafc;  padding: 1rem;  display: flex;  align-items: center;  gap: 0.75rem;}
#smsSendPopup .sms_contbox .preview_box .preview .controlbox .inputbox { flex: 1; display: flex; align-items: center;border: 1px solid #c4cdd6; border-radius: 100px; background: #fff; padding: 0.625rem;}
#smsSendPopup .sms_contbox .preview_box .preview .controlbox .inputbox .input { width: 100%; flex: 1; font-size: 0.875rem; line-height: 157%; color: #131720; border: 0; margin: 0; padding: 0 0.375rem;}
#smsSendPopup .sms_contbox .preview_box .preview .controlbox .inputbox .input::placeholder { color: #adb2bb;}
#smsSendPopup .sms_contbox .preview_box .preview .controlbox .inputbox .btnbox { display: flex;  align-items: center;  gap: 0.5rem;}


/* 13문자전송_01문자작성_01디폴트 */
#resultReportPopup .modal_body {padding-bottom: 2.5rem;}
#resultReportPopup .report_wrap { position: relative; display: flex; flex-direction: column; gap: 2.5rem;}
#resultReportPopup .report_section{position: relative; width: 100%;}
#resultReportPopup .report_line {width: 100%; height: 1px; background: #e5e8ec;}
#resultReportPopup .setting_box { position: absolute; right: 0;  top: 0; }
#resultReportPopup .setting_box .setting_btn { width: 3rem;  height: 3rem; display: flex; align-items: center; justify-content: center;  border: none;  background: none;}
#resultReportPopup .setting_box .setting_popup { width: 11.25rem;  right: 0; top: calc(100% + 0.75rem);}
#resultReportPopup .report_titbox {display: flex; flex-direction: column; align-items: flex-start;}
#resultReportPopup .report_tit1 { font-weight: 800; font-size: 1rem;  line-height: 150%;  color: #000;  margin-bottom: 1.5rem;}
#resultReportPopup .report_tit2 { font-size: 0.875rem; line-height: 157%; color: #000;  margin-bottom: 1rem;}
#resultReportPopup .report_tit2 .bold{font-weight: 800;}
#resultReportPopup .report_tit2.flex { display: flex; align-items: center;  gap: 1.5rem;}
#resultReportPopup .report_tit2.flex .item { display: flex; align-items: center; gap: 0.625rem;}
#resultReportPopup .report_statebox {display: flex; gap: 0.75rem;}
#resultReportPopup .report_statebox .form_label { flex-direction: row; justify-content: space-between;}
#resultReportPopup .report_contbox {position: relative; width: 100%;}

#resultReportPopup .re_sec2 .report_contbox {display: flex; align-items: center; gap: 1.75rem;}
#resultReportPopup .re_sec2 .report_contbox .leftbox {width: 16.25rem;}
#resultReportPopup .re_sec2 .report_contbox .rightbox {flex: 1; display: flex; flex-direction: column; gap: 1.5rem;}
#resultReportPopup .re_sec2 .report_contbox .rightbox .total_box{display: flex; align-items: flex-start; gap: 1rem;}
#resultReportPopup .re_sec2 .report_contbox .rightbox .total_item{width: calc((100% - 1rem*3)/4); display: flex; flex-direction: column; gap: 0.5rem;}
#resultReportPopup .re_sec2 .report_contbox .rightbox .total_item .tit {  font-weight: 700;  font-size: 1rem;  line-height: 150%;  color: #000;}
#resultReportPopup .re_sec2 .report_contbox .rightbox .total_item .score {  font-weight: 400;  font-size: 0.813rem;  line-height: 154%;  color: #000;  display: flex;  align-items: baseline;  gap: 0.5rem;}
#resultReportPopup .re_sec2 .report_contbox .rightbox .total_item .score .big { font-weight: 800; font-size: 2.5rem; line-height: 130%;  color: #000;}
#resultReportPopup .re_sec2 .report_contbox .rightbox .total_item .score .big .small{font-size: 1.5rem;}
#resultReportPopup .re_sec3 .report_contbox,
#resultReportPopup .re_sec4 .report_contbox {display: flex; flex-direction: column; gap: 1.5rem;}


/* 14결과지및통계보고서_02개별결과지 */
#statisticsReportPopup .txtbox { display: flex;  flex-direction: column;  gap: 1.5rem;   margin-bottom: 1.5rem;}
#statisticsReportPopup .txtbox .title { font-weight: 800; font-size: 1rem; line-height: 150%;  color: #000;}
#statisticsReportPopup .txtbox .info_box {  display: flex;  flex-direction: column;  gap: 1rem;}
#statisticsReportPopup .txtbox .info_item { display: flex;  gap: 0.5rem; font-size: 0.875rem;line-height: 157%;color: #000;}
#statisticsReportPopup .txtbox .info_item.column { flex-direction: column; gap: 0.25rem;}
#statisticsReportPopup .txtbox .info_item .tit{font-weight: 800;}
#statisticsReportPopup .txtbox .info_item .desc .point{font-weight: 700;color: #01a4ff;}
#statisticsReportPopup .tbl_wrap .tbl tbody tr th { background: #f4f6f8;  padding: 1rem 1.5rem;  text-align: center;}
#statisticsReportPopup .tbl_wrap .tbl tbody tr td {  padding: 1rem 1.5rem;   vertical-align: middle; color: #000017;}
#statisticsReportPopup .tbl_wrap .tbl tbody tr td.chart_td {padding: 1.25rem 1.5rem;}
#statisticsReportPopup .bar_chartbox {  gap: 0.5rem;  padding-left: 5.5rem;}
#statisticsReportPopup .bar_chartbox .y_labelbox {  top: 0.625rem;  width: 4.563rem;}
#statisticsReportPopup .bar_chartbox .barchart {  padding: 0.625rem 0 0.813rem;}



/* PC */
@media screen and (max-width: 1600px) {    

	.tbl_wrap .tbl thead tr th:nth-child(1) { padding-left: 1.5rem;}
	.tbl_wrap .tbl tbody tr td:nth-child(1) { padding-left: 1.5rem;}
	.tbl_wrap .tbl tbody tr td:last-child { padding-right: 1.5rem;}
	

}


@media screen and (max-width: 1630px) {    
		
	.layout .container .page_item .section.padding { padding: 2rem;}

	.radio_wrap.resize_1630 { gap: 0.5rem; }
	.btn.resize_1630 { padding: 0 1.2rem; }

}


@media screen and (max-width: 1560px) {    

	html {font-size: 13.5px !important;}  
		
	.form_flex .full_button { min-width: calc((100% - 1.5rem * 1) / 2 - 6.25rem - 0.75rem);width: calc((100% - 1.5rem * 1) / 2 - 6.25rem - 0.75rem);} 
	.input_flex .full_button { min-width: calc((100% - 1.5rem * 1) / 2 - 6.25rem - 0.75rem);width: calc((100% - 1.5rem * 1) / 2 - 6.25rem - 0.75rem);} 

	.radio_wrap.resize_1630 { gap: 0.5rem 1rem; }
	.btn.resize_1630 { padding: 0 1.5rem; }

}


@media screen and (max-width: 1440px) {    

	html {font-size: 13px!important;}  

}


@media screen and (max-width: 1380px) {    

	html {font-size: 12.5px !important;}    

}