

/* PC */
@media screen and (max-width: 1560px) {    

  	html {font-size: 15.5px !important;}  

}


@media screen and (max-width: 1440px) {    

  	html {font-size: 15px!important;}    

}


@media screen and (max-width: 1380px) {    

  	html {font-size: 14.5px !important;}        

}


@media screen and (max-width: 1280px) {

  	html {font-size: 14px !important;}  

}


@media screen and (max-width: 1200px) {

  	html {font-size: 13.5px !important;}  

	.header .h_nav { flex: 1; justify-content: space-between;  gap: 2rem;}

	.ms1 .contbox .imgbox { width: 60%;}
	.ms5 .contbox { gap: 3.875rem;}
	.ms5 .contbox > .imgbox { width: 55%;}
	.ms6 .contbox .mapbox .txtbox { top: 46%;}

	.about_sec1 .contbox { gap: 2rem;}
	.about_sec1 .contbox .item { width: calc((100% - 2rem * 3) / 4);}
	.about_sec1 .contbox .item .txtbox {flex: 1;}

	.service_sec1 .itembox1 .bottombox .number { font-size: 6.5rem;}
	.service_sec1 .itembox4 .imgbox { width: 88%;}

	.franchise_sec5 .contbox .imgbox { width: 55%;}


}



  
/* Tablet */
@media screen and (max-width: 1080px) {

  	html {font-size: 16px !important;} 

  	.pc {display: none !important;}
  	.tablet {display: block !important;}
	.container {  padding-top: 8rem;}
	.inner { width: 100%; padding: 0 2rem;}

	
	/* header */
	.header { height: 8rem; background: #fff;}
	body.down .header { background: #fff;}
	.header .h_inner {  gap: 2rem;  padding: 2rem;}
	.header .h_logo { width: 12.1rem; display: none;}
	.header .h_nav {display: none;}
	.header .h_title { display: block; font-weight: 600; font-size: 2rem; text-align: center; color: #000; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: calc(100% - 5rem * 2);}
	.header .h_side {margin-left: auto;}
	.header .h_side .call_btn {display: none;}
	.header .h_side .menu_open { display: block;}
	.header .h_side .back_btn { display: block;}


	/* footer */
	.footer { padding: 2.2rem 0 2.8rem;}
	.footer .f_inner { padding: 0 1.8rem;}
	.footer .f_logo { width: 10rem; margin-bottom: 2.2rem;}
	.footer .f_contbox { flex-direction: column; gap: 2.8rem;  margin-bottom: 2.3rem;}
	.footer .f_contact {  position: relative;  right: unset;  bottom: unset;   flex-direction: column; gap: 0.6rem; order: 1;}
	.footer .f_contact .txt { font-size: 1.2rem;}
	.footer .f_contact .number { font-size: 2.4rem;}
	.footer .f_nav { order: 2;  padding: 0.8rem 0;  gap: 1.6rem;}
	.footer .f_nav > li { font-size: 1.2rem;}
	.footer .f_info {  order: 3; font-size: 1rem; line-height: 160%;}
	.footer .f_sns {  order: 4;  margin: 0;  gap: 2.6rem; margin-top: -0.3rem;}
	.footer .f_sns > li { width: 2.2rem;}
	.footer .f_copy { font-size: 1rem; line-height: 100%;}


	/* swiper */
	.swiper_controls { width: 100%; padding: 0 1rem;}
	.swiper_controls .prev_btn, 
	.swiper_controls .next_btn {width: 2.4rem; box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.1);}


	/* paging */
	.paging { gap: 1.2rem;}
	.paging .page {  width: 5rem;  border-radius: 0.7rem;}
	.paging .page_btn { background-image: none;}
	.paging .page_btn.first {background-image: none;}
	.paging .page_btn.prev { background-image: url(../img/page_prev_mob.png);}
	.paging .page_btn.next { background-image: url(../img/page_next_mob.png);}
	.paging .page_btn.last {background-image: none;}
	.paging .page_btn .txt { display: block; font-size: 1.4rem;}
	.paging .page_link { display: none;}
	.paging .page_number { display: flex;}

	.paging.ver2 {gap: 1.2rem;}
	.paging.ver2 .page { border-radius: 0.7rem; background-color: #fbfaf8;  border: 1px solid #dfdbd3;}
	.paging.ver2 .page_btn.first,
	.paging.ver2 .page_btn.last { width: 5rem; height: unset; aspect-ratio: 1 / 1;}


	/* form */
	.form_box { gap: 2.7rem;}
	.form_terms {  padding-left: 0; gap: 1.9rem;  margin-top: 0;}
	.form_terms .terms_txt {font-size: 1.6rem;}
	.form_terms .terms_txt .terms_btn { font-size: 1.6rem;}
	.form_terms .radio_wrap { padding-left: 0.4rem;}
	.form_btns {margin-top: 1.3rem; padding: 0;}
	.form_btns .form_btn { height: 6rem; border-radius: 1rem; font-size: 2rem;}

	.input_box { flex-direction: column; align-items: unset; gap: 0.8rem;}
	.input_box .label_text { margin-top: 0;  width: unset; font-size: 1.6rem;}
	.input_box .input_text { flex: unset; height: 5rem; font-size: 1.6rem;  border-radius: 1rem; padding: 0 2rem; }
	.input_box .input_item { flex: unset;  gap: 0.8rem;}
	.input_box .input_item .input_text {flex: 1;}
	.input_box .input_item .input_btn {height: 5rem; font-size: 1.6rem; border-radius: 1rem; padding: 0 2.6rem;}

	.select_box { flex: unset;}
	.select_box .select { background: url(../img/select_arrow.png) no-repeat right 1.6rem top 55% / 0.9rem #fff; height: 5rem;  font-size: 1.6rem;  border-radius: 1rem;
    padding: 0 2rem; }

	.radio_wrap { gap: 1.6rem 4.2rem;}
	.radio_box { gap: 0.9rem;}
	.radio_box .label_radio { font-size: 1.6rem;}
	.radio_box .input_radio { width: 2.3rem; height: 2.3rem;}


	/* main */
	.main_wrap .header {background:transparent ;}
	.main_wrap .header .h_logo {display: block;}
	.m_txt1 { font-size: 2rem; line-height: 100%;}
	.m_txt2 { font-size: 2rem;}
	.m_txt3 { font-size: 1.5rem;}
	.m_txt3.ver2 { font-size: 2rem;}

	.ms1 { padding: 8rem 0 0; aspect-ratio: 360/600;  background-image: url(../img/ms1_bg_mob.jpg);}
	.ms1 .contbox .txtbox .title.tablet { display: flex !important; font-size: 3.4rem; line-height: 118%;  margin-bottom: 0.4rem; }
	.ms1 .contbox .txtbox .desc.tablet { font-size: 1.3rem; line-height: 138%; color: #000; margin-bottom: 0;}
	.ms1 .contbox .txtbox .txtimg {display: none;}
	.ms1 .contbox .imgbox {display: none;}
	.ms1 .bottom_txt {display: none;}

	.ms3 > .inner { padding: 0;  max-width: unset;}
	.ms3 .topdeco { padding: 1.3rem 0 1.4rem; width: auto; height: 8.8rem;}
	.ms3 .topdeco img {height: 100%; max-width: unset;}
	.ms3 .ms3_swiper::before, .ms3 .ms3_swiper::after {display: none;}
	.ms3 .ms3_swiper .item::before, .ms3 .ms3_swiper .item::after {display: none;}
	.ms3 .ms3_controls { top: 57.5%; width: 100%;}

	.ms4 { background-image: url(../img/ms4_bg_mob.jpg); padding: 3.6rem 0 5rem;}
	.ms4 .titbox { margin-bottom: 3.6rem;}
	.ms4 .ms4_swiper { width: calc(100% + 2rem * 2); margin: 0 -2rem;  padding: 0 2rem;}
	.ms4 .ms4_swiper .swiper-slide {width: 18rem;}
	.ms4 .ms4_swiper .item { width: 100%; transition-delay: 0s !important;}
	.ms4 .ms4_swiper .item .iconbox { margin-bottom: -2.5rem; width: 5rem;}
	.ms4 .ms4_swiper .item .txtbox { min-height: 19rem;  border-radius: 1rem;  padding: 3.8rem 1rem 0;  gap: 1.3rem;}
	.ms4 .ms4_swiper .item .txtbox .tit { font-size: 1.6rem;line-height: 138%;}
	.ms4 .ms4_swiper .item .txtbox .desc { font-size: 1.6rem;  line-height: 125%;}
	.ms4 .truck_img { margin-top: 5rem; width: 125%; max-width: unset;  transform: translateX(2.2rem);}

	.ms5 { background-image: url(../img/ms5_bg_mob.jpg);}
	.ms5 .contbox { flex-direction: column; gap: 0; }
	.ms5 .contbox > .txtbox { width: 100%; gap: 2rem; padding-bottom: 0;  padding-top: 3rem;}
	.ms5 .contbox > .txtbox .titbox .m_txt2 { margin-bottom: 0.7rem;}
	.ms5 .contbox > .txtbox .titbox .m_txt1 {  font-size: 3rem;  line-height: 120%;  margin-bottom: 1.5rem;}
	.ms5 .contbox > .txtbox .titbox .m_txt3 { margin-bottom: 0.9rem;}
	.ms5 .contbox > .txtbox .titbox .more_btn { font-size: 1.4rem;  padding: 1.15rem 0.8rem; border-radius: 0.5rem; min-width: 11.9rem;}
	.ms5 .contbox > .txtbox .storybox { gap: 1.2rem; max-width: 32rem;}
	.ms5 .contbox > .txtbox .storybox .item { padding: 0.6rem 1rem 0.1rem 7.601rem;}
	.ms5 .contbox > .txtbox .storybox .item .thumbox { max-width: 5.8rem; left: 1.09rem;}
	.ms5 .contbox > .txtbox .storybox .item .descbox { gap: 0.5rem;}
	.ms5 .contbox > .txtbox .storybox .item .descbox .sub { font-size: 0.8rem;}
	.ms5 .contbox > .txtbox .storybox .item .descbox .desc { font-size: 1.2rem;  line-height: 117%;}
	.ms5 .contbox > .imgbox { width: 72%; margin-right: -2rem; margin-top: -1.1rem;transition-delay: 0s !important;}
	.ms5 .contbox > .imgbox img {width: 100%;}

	.ms6 { margin-top: 8.4rem; margin-bottom: 7.7rem;}
	.ms6 .titbox .m_txt1 .word::before { width: 0.3rem; top: -0.6rem;}
	.ms6 .titbox { margin-bottom: 3.3rem;}
	.ms6 .contbox { gap: 9.7rem 5rem;}
	.ms6 .contbox .item {  width: 34.065%; max-width: unset;  aspect-ratio: 109 / 85; border-radius: 0.4rem;}
	.ms6 .contbox .mapbox .imgbox { left: 52.5%; bottom: 0.9rem; width: 62.5%; max-width: unset;}
	.ms6 .contbox .mapbox .pointbox .point { width: 1rem; height: 1rem; padding: 0.2rem;}
	.ms6 .contbox .mapbox .pointbox .point.p1 { left: 38.5%; top: 32.5%;}
	.ms6 .contbox .mapbox .pointbox .point.p2 { left: 47.8%; top: 30.8%;}
	.ms6 .contbox .mapbox .pointbox .point.p3 { left: 43.5%; top: 28.5%;}
	.ms6 .contbox .mapbox .pointbox .point.p4 { left: 59.8%; top: 54.5%;}
	.ms6 .contbox .mapbox .txtbox {left: 52%; top: 46%; width: 100%;}
	.ms6 .contbox .mapbox .txtbox .m_txt2 { font-size: 1.6rem;  white-space: nowrap;}

	.ms7 { margin-bottom: 10.7rem;}
	.ms7 .titbox {  margin-bottom: 3.4rem;}
	.ms7 .contbox { flex-direction: column; gap: 2rem;  margin-bottom: 2.6rem;}
	.ms7 .contbox .item { width: 100%; transition-delay: 0s !important;}
	.ms7 .contbox .item .link { border-radius: 0.8rem;}
	.ms7 .more_btn { padding: 1.45rem 2.4rem; font-size: 1.5rem; line-height: 100%;  border-radius: 0.5rem; transition-delay: 0s !important;}

	.ms8 { padding: 2rem 0 0;  margin-bottom: 7.4rem;}
	.ms8 .titbox .icon { width: 3.2rem;  margin-right: 0;}
	.ms8 .titbox { gap: 1.6rem;  margin-bottom: 3.5rem;}
	.ms8 .titbox .m_txt1 { line-height: 130%; text-align: center;}
	.ms8 .ms8_swiper { padding: 0 3.3rem;}
	.ms8 .ms8_swiper .swiper-wrapper { padding-left: 0;}
	.ms8 .ms8_swiper .item { width: 17.2rem;  gap: 1.6rem;}
	.ms8 .ms8_swiper .item .imgbox { border-radius: 1rem;}
	.ms8 .ms8_swiper .item .txtbox { gap: 0.7rem;}
	.ms8 .ms8_swiper .item .txtbox .icon { width: 2rem;}
	.ms8 .ms8_swiper .item .txtbox .tit { font-size: 1.4rem;}
	.ms8 .ms8_marquee { margin-top: 7.8rem;}
	.ms8 .ms8_marquee .marquee { padding: 0.55rem 0.845rem; --gap: 0.7rem;}
	.ms8 .ms8_marquee .marquee .marquee_group .item { width: 38.8rem;}

	.ms9 { margin-bottom: 10rem;}
	.ms9 > .inner { gap: 4.7rem;}
	.ms9 .contbox1 .titbox { margin-bottom: 3.5rem;}
	.ms9 .contbox2 .titbox { margin-bottom: 2.6rem;}
	.ms9 .contbox .cardbox { gap: 1.1rem; transition-delay: 0s !important;}
	.ms9 .contbox .carditem { width: 100%; gap: 1.3rem; padding: 1.4rem 1.5rem;}
	.ms9 .contbox .carditem .imgbox { width: 10rem;}
	.ms9 .contbox .carditem .txtbox { gap: 0.7rem;}
	.ms9 .contbox .carditem .txtbox .date {font-size: 1rem;}
	.ms9 .contbox .top_cardbox .top_card .txtbox .tit { font-size: 1.4rem;  line-height: 129%; word-break: keep-all;}
	.ms9 .paging { margin-top: 1.5rem;}


	/* about */
	.about_wrap .header { background: #fff;}
	body.down .about_wrap .header { background: #fff;}

	.about_sec1 { padding: calc(8rem + 2.4rem) 0 2.5rem;}
	.about_sec1 .character { top: 6.6rem; right: 0.6rem; width: 44%; max-width: 15.6rem;}
	.about_sec1 .titbox { margin-bottom: 9.5rem;}
	.about_sec1 .titbox .title { font-size: 4.5rem; line-height: 122%;}
	.about_sec1 .contbox { flex-wrap: wrap;}
	.about_sec1 .contbox .item {  width: calc((100% - 2rem) / 2); border-radius: 1rem;}
	.about_sec1 .contbox .item .imgbox { height: 9rem;}
	.about_sec1 .contbox .item .txtbox {   min-height: 9.9rem; padding: 0.7rem 0.6rem 0.7rem 0.8rem; gap: 0.6rem; word-break: keep-all;}
	.about_sec1 .contbox .item .txtbox .tit { font-size: 1.6rem; line-height: 125%;}
	.about_sec1 .contbox .item .txtbox .desc { font-size: 1.2rem; line-height: 150%;}
	.about_sec2 {padding: 6.2rem 0 11.2rem;}
	.about_sec2 .titbox { margin-bottom: 2.8rem;}
	.about_sec2 .slidebox .about_swiper .item { gap: 2rem;}
	.about_sec2 .slidebox .about_swiper .item .imgbox { height: 15.4rem; border-radius: 0.8rem;}
	.about_sec2 .slidebox .about_swiper .item .txtbox .sub { font-size: 1.1rem; margin-bottom: 1.2rem;}
	.about_sec2 .slidebox .about_swiper .item .txtbox .tit { font-size: 1.8rem;  line-height: 133%;  margin-bottom: 0.8rem;}
	.about_sec2 .slidebox .about_swiper .item .txtbox .desc { font-size: 1.4rem;  line-height: 143%;}
	.about_sec2 .slidebox .about_swiper .swiper_controls { top: 6.5rem;  width: calc(100% + 2rem * 2);}
	.about_sec2 .slidebox .about_swiper .swiper_controls .prev_btn {background-image: url(../img/swiper_prev_mob.png);}
	.about_sec2 .slidebox .about_swiper .swiper_controls .next_btn {background-image: url(../img/swiper_next_mob.png);}
	.about_sec2 .slidebox .about_swiper .pagination {display: none;}


	/* service */
	.service_sec1 > .inner { padding: 0;}
	.service_wrap .sub_section > .inner::before, 
	.service_wrap .sub_section > .inner::after {display: none;}

	.service_sec1 .itembox1 { width: 100%; max-width: 100%;  border-right: 0;  padding: 2.5rem 2rem 2.7rem 1.9rem; gap: 2.3rem;}
	.service_sec1 .itembox1 .topbox .tit { font-size: 3rem;}
	.service_sec1 .itembox1 .topbox .date { padding-top: 0.4rem; font-size: 1.1rem;}
	.service_sec1 .itembox1 .bottombox .number { font-size: 6rem; }
	.service_sec1 .itembox2 { width: 100%; max-width: 100%;  padding: 2rem 2rem 3.1rem; gap: 0;}
	.service_sec1 .itembox2 .deco { display: none;}
	.service_sec1 .itembox2 .topbox { gap: 1rem;}
	.service_sec1 .itembox2 .topbox .tit { font-size: 3.2rem; line-height: 119%;}
	.service_sec1 .itembox2 .topbox .desc { font-size: 1.6rem; line-height: 125%;}
	.service_sec1 .itembox2 .bottombox { display: none;}
	.service_sec1 .itembox3 { width: 100%; max-width: 100%; aspect-ratio: 360 / 400; border-right: 0; padding: 0; border-bottom: 1px solid #999}
	.service_sec1 .itembox3 .imgbox { bottom: 0; left: 0; width: 100%;  max-width: unset;}
	.service_sec1 .itembox3 .imgbox img {width: 100%;}
	.service_sec1 .itembox3 .txtbox { padding: 2.1rem 2.3rem;}
	.service_sec1 .itembox3 .txtbox .txt { font-size: 1.8rem; line-height: 133%;}
	.service_sec1 .itembox4 { width: 100%; flex: unset; max-width: unset; padding: 0; align-self: unset;}
	.service_sec1 .itembox4 .imgbox {  position: relative; width: 100%; max-width: unset; left: unset; bottom: unset; padding-right: 1.6rem; padding-top: 1.1rem;}
	.service_sec1 .itembox4 .imgbox img {width: 100%;}
	.service_sec1 .itembox4 .talkbox {max-width: unset; padding: 1.9rem 3rem 4.3rem;}
	.service_sec1 .itembox4 .talkbox img {width: 100%;}

	.service_sec2 { border-bottom: 0;}
	.service_sec2 > .inner { padding: 1.7rem 2rem 0; margin-bottom: 10.8rem;}
	.service_sec2 .titbox { margin-bottom: 3rem; padding: 0 0.4rem;}
	.service_sec2 .titbox .tit { font-size: 2rem; line-height: 140%;}
	.service_sec2 .contbox { flex-direction: column; gap: 3rem;}
	.service_sec2 .contbox .item { width: 100%; gap: 1.5rem;}
	.service_sec2 .contbox .item .txtbox .desc { font-size: 1.6rem; line-height: 138%;}

	.service_sec3 > .inner {padding: 0 0 7.8rem;}
	.service_sec3 .titbox { margin-bottom: 3rem;}
	.service_sec3 .contbox { gap: 0; margin-bottom: 3.7rem; padding-left: 1.6rem;  padding-right: 0.4rem;}
	.service_sec3 .contbox .item { flex-direction: column; align-items: center; gap: 0.6rem;}
	.service_sec3 .contbox .item .imgbox { width: 100%; max-width: unset;}
	.service_sec3 .contbox .item .txtbox { align-items: center; padding-top: 0; text-align: center;}
	.service_sec3 .contbox .item .txtbox .tit { font-size: 1.6rem; margin-bottom: 0.8rem;}
	.service_sec3 .contbox .item .txtbox .number { font-size: 1.4rem; line-height: 100%;  margin-bottom: 1.5rem;}
	.service_sec3 .contbox .item .txtbox .desc {  font-size: 1.2rem;  line-height: 155%; margin-bottom: 1.3rem;}
	.service_sec3 .contbox .item .txtbox .date { font-size: 1.1rem;}
	.service_sec3 .bottom_txt {  font-size: 1.2rem;line-height: 183%;}


	/* store */
	.store_sec1 { padding: 3.1rem 0 9rem;}
	.store_sec1 .titbox .m_txt3 {display: none;}
	.store_sec1 .titbox .search_box { height: 4.6rem; padding: 0 2.1rem 0 1.6rem;}
	.store_sec1 .titbox .search_box .search_input { font-size: 1.6rem;}
	.store_sec1 .titbox .search_box .search_btn { width: 2.4rem;}
	.store_sec1 .titbox { margin-bottom: 3.1rem;}
	.store_sec1 .tblbox { gap: 1.8rem;}
	.store_sec1 .tblbox .tbl_tr { padding: 2.1rem 1.9rem 2.4rem;  min-height: unset;  flex-direction: column;  gap: 0.8rem; border-radius: 1rem; border: 1px solid #628f63; border-radius: 1rem;}
	.store_sec1 .tblbox .tbl_tr.tbl_head {display: none;}
	.store_sec1 .tblbox .tbl_tr .tbl_td:nth-child(1) { width: 100%; padding-left: 0;  font-size: 2rem; line-height: 100%;}
	.store_sec1 .tblbox .tbl_tr .tbl_td:nth-child(2) {  padding-left: 0;  font-size: 1.6rem; line-height: 138%;}
	.store_sec1 .paging { margin-top: 2rem;}


	/* franchise */
	.franchise_wrap .sub_section > .inner::before, 
	.franchise_wrap .sub_section > .inner::after {display: none;}

	.franchise_sec1 > .inner {padding: 0;}
	.franchise_sec1 .itembox1 { flex-direction: column; padding: 2.5rem 2rem 5.1rem; gap: 7rem; }
	.franchise_sec1 .itembox1 .item { width: 100%; padding: 0;  flex-direction: column; gap: 2.3rem; }
	.franchise_sec1 .itembox1 .item:nth-child(1) { border-right: 0;}
	.franchise_sec1 .itembox1 .item .imgbox { width: 100%; max-width: unset;}
	.franchise_sec1 .itembox1 .item .txtbox { padding-bottom: 0; gap: 2rem;}
	.franchise_sec1 .itembox1 .item .txtbox .txt {font-size: 2.6rem;}
	.franchise_sec1 .itembox1 .item .txtbox .arrow { width: 1.9rem; }
	.franchise_sec1 .itembox2 { padding: 2.3rem 0 2.2rem;}
	.franchise_sec1 .itembox2 .titbox { margin-bottom: 2.3rem; padding: 0 2rem; gap: 0;}
	.franchise_sec1 .itembox2 .titbox .tit { font-size: 4rem; line-height: 125%;}
	.franchise_sec1 .itembox2 .titbox .tit.bottom_tit {text-align: unset;}
	.franchise_sec1 .itembox2 .desc {  padding: 0 2rem;  font-size: 1.4rem;  line-height: 143%;}

	.franchise_sec2::before { top: 8.3rem;  width: 100%; max-width: 32rem;}
	.franchise_sec2 > .inner { padding: 3.4rem 0 3.8rem;}
	.franchise_sec2 .titbox { margin-bottom: 4.9rem;}
	.franchise_sec2 .slidebox { max-width: 25.2rem;}
	.franchise_sec2 .franchise_swiper .item .imgbox { padding: 4.8rem 0;  overflow: hidden;}	
	.franchise_sec2 .franchise_swiper .item .imgbox .tit { font-size: 2rem; line-height: 120%; margin-bottom: 1rem;}
	.franchise_sec2 .franchise_swiper .item .imgbox .icon { width: 4rem; margin-bottom: 1rem;}
	.franchise_sec2 .franchise_swiper .item .imgbox .desc { font-size: 1.4rem; line-height: 130%;}
	.franchise_sec2 .franchise_swiper .pagination {margin-top: 4rem;}

	.franchise_sec3 > .inner { padding: 4.1rem 0 0;}
	.franchise_sec3 .titbox { padding-left: 1.7rem; padding-right: 1.7rem;  margin-bottom: 2.9rem;}
	.franchise_sec3 .titbox .tit { font-size: 2.8rem; }
	.franchise_sec3 .pricebox { display: flex; flex-direction: column; gap: 1rem;}
	.franchise_sec3 .pricebox .number { text-align: left; padding-right: 0;  padding-left: 1.7rem; font-size: 3rem;}
	.franchise_sec3 .pricebox .number .countup { font-size: 4rem;}
	.franchise_sec3 .pricebox .date { padding-left: 1.9rem; font-size: 1.2rem;  line-height: 100%;  color: #0b390b;}
	.franchise_sec3 .franchise_swiper2 { padding: 2.3rem 2rem 4rem;  height: auto; pointer-events: none;}
	.franchise_sec3 .franchise_swiper2 .swiper-wrapper { margin-left: 0;}
	.franchise_sec3 .franchise_swiper2 .item { width: 100%; height: auto;}
	.franchise_sec3 .franchise_swiper2 .item:last-child { margin-bottom: 0 !important;}
	.franchise_sec3 .franchise_swiper2 .item::before {display: none;}
	.franchise_sec3 .franchise_swiper2 .item .box { border-radius: 1rem; gap: 1.3rem;  padding: 1.6rem 1.8rem 1.4rem;}
	.franchise_sec3 .franchise_swiper2 .item .box .tit { font-size: 1.6rem;}
	.franchise_sec3 .franchise_swiper2 .item .box .price { font-size: 2.8rem;}
	.franchise_sec3 .franchise_swiper2 .item .box .price .big { font-size: 3.8rem;}

	.franchise_sec4 > .inner { padding: 5.1rem 1.2rem 4rem;}
	.franchise_sec4 .alert_txt { font-size: 1.2rem; margin-bottom: 3.8rem; padding-right: 0;  margin-top: -3.2rem;}
	.franchise_sec4 .contbox {  gap: 2rem; padding: 0 0.8rem;}
	.franchise_sec4 .contbox .item { width: calc((100% - 2rem) / 2); border-radius: 1rem;  padding: 1.8rem 1.2rem 1.8rem 1.4rem;  gap: 1.6rem; flex-direction: column;}
	.franchise_sec4 .contbox .item .tit { font-size: 1.8rem;}
	.franchise_sec4 .contbox .item .price { margin-top: 0;  font-size: 2rem;}
	.franchise_sec4 .contbox .item .price .big {font-size: 2.8rem; margin-right: 0.6rem;}

	.franchise_sec5 > .inner { padding: 4rem 0;}
	.franchise_sec5 .titbox { margin-bottom: 2rem;}
	.franchise_sec5 .contbox { flex-direction: column;}
	.franchise_sec5 .contbox .imgbox {  width: 100%;max-width: unset;}
	.franchise_sec5 .contbox .txtbox { padding: 2.2rem 1.6rem 0 2rem; gap: 5rem;}
	.franchise_sec5 .contbox .txtbox .topbox { gap: 1.5rem; padding-right: 0.4rem;}
	.franchise_sec5 .contbox .txtbox .topbox .topitem { font-size: 2.4rem;}
	.franchise_sec5 .contbox .txtbox .topbox .topitem .left { width: 14.3rem;  padding: 1rem 2rem;}
	.franchise_sec5 .contbox .txtbox .topbox .topitem .right { padding:1rem 2.2rem 1rem 0;}
	.franchise_sec5 .contbox .txtbox .bottombox { padding: 0; gap: 2.7rem;}
	.franchise_sec5 .contbox .txtbox .bottombox .tit { font-size: 2rem;}
	.franchise_sec5 .contbox .txtbox .bottombox .descbox { gap: 1.5rem;}
	.franchise_sec5 .contbox .txtbox .bottombox .descbox .desc { font-size: 1.6rem;  line-height: 138%; word-break: keep-all;}

	.franchise_sec6 > .inner { padding: 4rem 0 8rem;}
	.franchise_sec6 .titbox {margin-bottom: 4.9rem;}
	.franchise_sec6 .txtbox { margin-bottom: 2.7rem;}
	.franchise_sec6 .txtbox .icon { width: 2.2rem;  margin-bottom: 1.8rem;}
	.franchise_sec6 .txtbox .tit {  margin-bottom: 2.7rem; font-size: 2.8rem;  line-height: 121%;}
	.franchise_sec6 .txtbox .desc { font-size: 2rem; line-height: 140%;}
	.franchise_sec6 .infobox { flex-direction: column;  gap: 1.5rem;  padding: 0 2rem;  margin-bottom: 2.7rem;}
	.franchise_sec6 .infoitem {  width: 100%;  max-width: unset;  height: 8rem;
    padding: 0 3.1rem; flex-direction: row;  gap: 2.3rem; border-radius: 1rem;}
	.franchise_sec6 .infoitem .icon { width: 4rem;  min-height: unset;}
	.franchise_sec6 .infoitem .tit { font-size: 2rem; line-height: 140%; text-align: left;}
	.franchise_sec6 .form_wrap { max-width: unset; padding: 0 2rem;}
	.franchise_sec6 .form_wrap .note_box {  margin-bottom: 4rem;  padding: 0;  gap: 0.8rem;}
	.franchise_sec6 .form_wrap .note_box .tit { font-size: 1.4rem; line-height: 143%;     word-break: keep-all;}
	.franchise_sec6 .form_wrap .note_box .desc { font-size: 1.2rem; padding: 0;}


	/* partner */
	.partner_wrap .sub_section > .inner::before, 
	.partner_wrap .sub_section > .inner::after {display: none;}
	.partner_sec1 > .inner {padding: 0 0 8rem;}
	.partner_sec1 .titbox {display: none;}
	.partner_sec1 .contbox { flex-direction: column; border-top: 0;}
	.partner_sec1 .contbox .imgbox { width: 100%; border-right: 0;}
	.partner_sec1 .contbox .form_box { width: 100%; padding: 3.7rem 2rem 0;}
	.partner_sec1 .contbox .input_box .label_text {  width: unset;  font-size: 1.6rem;   padding-left: 0.8em;  margin-top: 0;}
	.partner_sec1 .contbox .input_box .label_text::before { width: 0.313rem;  left: 0.25rem;}
	.partner_sec1 .contbox .input_box .input_text {height: 5rem; font-size: 1.6rem;  padding: 0 2rem;}
	.partner_sec1 .contbox .input_box .input_item.file_box .upload_btn { height: 5rem;
    font-size: 1.6rem;}
	.partner_sec1 .contbox .input_box textarea.input_text { height: 37.3rem;  padding: 2rem;}	
	.partner_sec1 .contbox .form_btns { margin-top: 0.3rem; padding-left: 0;}
	.partner_sec1 .contbox .form_btns .form_btn {  font-size: 2rem;}


}


@media screen and (max-width: 900px) {

  	html {font-size: 14px !important;}


}


@media screen and (max-width: 800px) {

	html {font-size: 2.222223vw !important;} 
	
}


@media screen and (max-width: 700px) {

  	html {font-size: 11.5px !important;}

}




/* Mobile */
@media screen and (max-width: 599px) {

  	html {font-size: 11px !important;}  
	
  	.mobile {display: block !important;}


	.navbox {width: 100%; max-width: unset;}

	.ms3 .topdeco { padding-left: 37%;}  

}
  
      
@media screen and (max-width: 480px) {  

  	html {font-size: 10px !important;}

}


@media screen and (max-width: 320px) {

  	html { font-size: 9px !important;}

	.franchise_sec4 .contbox .item .price .big { margin-right: 0.4rem;}

}
