
/* INFACE - 역량평가 결과지 */
.rank_contbox {border-radius: 1rem;padding: 2.5rem;background: #f4f6fa; gap: 1.75rem;}
.rank_contbox .contbox {display: flex; gap: 2.5rem;}
.rank_contbox .contbox .box {width: 50%; border-radius: 1rem; padding: 2rem 2.5rem;background: #fff;display: flex; flex-direction: column; gap: 2rem;} 
.rank_contbox .contbox .box .top {display: flex; justify-content: space-between; gap: 1rem;}
.rank_contbox .contbox .box .top .tit {font-weight: 600;font-size: 1.125rem;color: var(--bluegray-bluegray-900);}
.rank_contbox .contbox .box .top .rank {display: flex; align-items: center; gap: 0.5rem; 
font-size: 1.25rem;color: var(--bluegray-bluegray-500);}
.rank_contbox .contbox .box .top .rank .num {font-weight: 700;font-size: 1.75rem;color: var(--purple-purple-500);}
.rank_contbox .contbox .box .infobox{display: flex; gap: 1.25rem; border-top: 1px solid var(--bluegray-bluegray-200); padding-top: 1.25rem;}
.rank_contbox .contbox .box .infobox .item {flex: 1; display: flex; flex-direction: column; gap: 0.25rem;}
.rank_contbox .contbox .box .infobox .item .tit {font-size: 0.813rem;line-height: 100%;color: var(--bluegray-bluegray-500);}
.rank_contbox .contbox .box .infobox .item .desc {font-weight: 600;font-size: 1rem;line-height: 100%;color: var(--bluegray-bluegray-900);}
.rank_contbox .contbox .box .infobox .item .desc.color {color: var(--purple-purple-500);}
.rank_contbox .contbox .box .infobox .bar {width: 1px; background: var(--bluegray-bluegray-300); align-self: stretch;}

.reliability_contbox { gap: 2.5rem;}
.reliability_contbox .contbox {display: flex; gap: 1.25rem;}
.reliability_contbox .contbox .item {flex: 1; border: 1px solid var(--bluegray-bluegray-200);border-radius: 0.5rem;padding: 1rem 1.5rem; display: flex; align-items: center; justify-content: space-between; gap: 1rem;}
.reliability_contbox .contbox .item .tit {font-weight: 500;font-size: 1.125rem;color: var(--bluegray-bluegray-500);}
.reliability_contbox .contbox .item .desc {display: flex; align-items: center; gap: 0.5rem; font-weight: 700; font-size: 1.5rem;}
.reliability_contbox .contbox .item .desc .typeGood{background: linear-gradient(90deg, #00abff 0%, #4f71ff 50%, #7741ff 100%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.reliability_contbox .contbox .item .desc .typeBad {background: linear-gradient(270deg, #ff5656 0%, #e768c7 100%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.reliability_contbox .contbox .item .desc .icon {width: 1.75rem;}

.evgrade_contbox .chart_wrap .chart_box{border-radius: 1rem;padding: 2.5rem;background: #fff;}

.evdetail_contbox .contbox .detail_box {flex: 1; display: flex; flex-direction: column; gap: 2.5rem;}
.evdetail_contbox .contbox .detail_box .top_infobox {display: flex; align-items: center; gap: 2.5rem; padding: 1.25rem 0;}
.evdetail_contbox .contbox .detail_box .top_infobox .item {display: flex; flex-direction: column; gap: 0.5rem; flex: 1;}
.evdetail_contbox .contbox .detail_box .top_infobox .item .tit {font-weight: 600;font-size: 1rem;}
.evdetail_contbox .contbox .detail_box .top_infobox .item .tit.color1 {color: var(--bluepurple-bluepurple-500);}
.evdetail_contbox .contbox .detail_box .top_infobox .item .tit.color2 {color: var(--red-red-500);}
.evdetail_contbox .contbox .detail_box .top_infobox .item .desc {font-weight: 700;font-size: 1.5rem;color: var(--bluegray-bluegray-900);}
.evdetail_contbox .contbox .detail_box .top_infobox .bar {width: 1px;
height: 3.5rem;background: var(--bluegray-bluegray-300);}
.evdetail_contbox .contbox .detail_box .tbl_box {font-size: 1rem;}

.summary_contbox {position: relative; background: var(--purple-purple-900); border-radius: 1rem;
padding: 2rem 2.5rem; margin-top: 3.75rem;}
.summary_contbox .top_deco {position: absolute; right: 2.75rem; top: -2.625rem; width: 17.5rem;}
.summary_contbox .contbox { display: flex; flex-direction: column; gap: 2.5rem}
.summary_contbox .contbox .titbox {padding-bottom: 2.5rem;border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
.summary_contbox .contbox .titbox .tit {font-weight: 600;font-size: 2rem;line-height: 140%;color: #fff;}
.summary_contbox .contbox .titbox .tit .line {position: relative;}
.summary_contbox .contbox .titbox .tit .line::before {content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 0.688rem; background: var(--purple-purple-500); }
.summary_contbox .contbox .titbox .tit .line .txt {position: relative; z-index: 10;}
.summary_contbox .contbox .descbox {display: flex; flex-direction: column; gap: 2.5rem;}
.summary_contbox .contbox .descbox .desc{font-size: 1.125rem;line-height: 156%;color: #fff;font-weight: 300;}
.summary_contbox .contbox .descbox .desc .bold {font-weight: 600; text-decoration: underline; text-underline-offset: 3px;text-decoration-thickness: 2px;}

.jobanalysis_contbox .top_infobox {display: flex; align-items: center; gap: 2.5rem; padding: 1.25rem 0;}
.jobanalysis_contbox .top_infobox .item {display: flex; flex-direction: column; gap: 0.5rem; flex: 1;}
.jobanalysis_contbox .top_infobox .item .tit {font-weight: 600;font-size: 1rem; color: var(--bluegray-bluegray-500);}
.jobanalysis_contbox .top_infobox .item .desc {font-weight: 700;font-size: 1.5rem;color: var(--bluegray-bluegray-900);}
.jobanalysis_contbox .top_infobox .item .desc.color {color: var(--bluepurple-bluepurple-500);}
.jobanalysis_contbox .top_infobox .bar {width: 1px; 
height: 3.5rem; background: var(--bluegray-bluegray-300);}
.jobanalysis_contbox .chart_wrap {align-items: center;}
.jobanalysis_contbox .chart_wrap .detail_box {flex: 1; display: flex; flex-direction: column; gap: 0.875rem; border-radius: 0.75rem; padding: 1.5rem; background: var(--bluegray-bluegray-100);}
.jobanalysis_contbox .chart_wrap .detail_box > .tit {font-weight: 700;font-size: 0.938rem;color: var(--bluegray-bluegray-900);}
.jobanalysis_contbox .chart_wrap .detail_box .desc_box {display: flex; flex-direction: column; gap: 0.875rem;}
.jobanalysis_contbox .chart_wrap .detail_box .desc_item {font-size: 0.938rem; line-height: 156%; display: flex; gap: 1.25rem;}
.jobanalysis_contbox .chart_wrap .detail_box .desc_item .desc_tit {font-weight: 700;}
.jobanalysis_contbox .chart_wrap .detail_box .desc_item .desc_tit.color1 {color: var(--bluepurple-bluepurple-500);}
.jobanalysis_contbox .chart_wrap .detail_box .desc_item .desc_tit.color2 {color: var(--red-red-500);}
.jobanalysis_contbox .chart_wrap .detail_box .desc_item .desc_cont {color: var(--bluegray-bluegray-500);}

.peranalysis_contbox .contbox {border-radius: 1rem; padding: 2.5rem; background: #fff; display: flex; flex-direction: column; gap: 2.5rem;}
.peranalysis_contbox .contbox .bar_chartbox2 {gap: 2.5rem;}
.peranalysis_contbox .contbox .bar_chart2 .chart .graph_box {padding: 0 1.5rem;}
.peranalysis_contbox .contbox .bar_chart2 .labelbox {padding: 0 1.5rem;}
.peranalysis_contbox .contbox .bar_chart2 .labelbox .label {width: 2rem; white-space: nowrap;}

.summary_contbox2 {position: relative; background: #fff; border-radius: 1rem; padding: 1.25rem 1.5rem; margin-top: 3.75rem;}
.summary_contbox2 .top_deco {position: absolute; right: 1.5rem; top: -1.875rem; width: 12.375rem;}
.summary_contbox2 .contbox { position: relative; display: flex; flex-direction: column; gap: 1rem}
.summary_contbox2 .contbox .titbox .tit {font-weight: 600;font-size: 1.75rem;line-height: 156%;color: var(--bluegray-bluegray-900);}
.summary_contbox2 .contbox .descbox {display: flex; flex-direction: column; gap: 0.75rem; border-radius: 0.75rem; padding: 1.25rem; background: var(--bluegray-bluegray-100);}
.summary_contbox2 .contbox .descbox .desc{font-size: 1.125rem; line-height: 156%;color: var(--bluegray-bluegray-900); }
.summary_contbox2 .contbox .descbox .desc .bold {position: relative; font-weight: 700; }
.summary_contbox2 .contbox .descbox .desc .bold::before { content: "";  position: absolute; right: 0; bottom: 0.125rem; width: 100%; height: 0.688rem;}
.summary_contbox2 .contbox .descbox .desc .bold.color1::before {background: var(--bluepurple-bluepurple-100);}
.summary_contbox2 .contbox .descbox .desc .bold.color2::before {background: var(--red-red-100);}
.summary_contbox2 .contbox .descbox .desc .bold .txt {position: relative; z-index: 10;}

.response_contbox {border-radius: 1rem; padding: 1.25rem 1.5rem; background: #fff; margin-top: 3.75rem;}
.response_contbox .sec_tit {font-size: 1.25rem;}
.response_contbox .topbox {font-weight: 500;font-size: 0.938rem;line-height: 156%;color: var(--bluegray-bluegray-500); border-radius: 0.75rem;padding: 1.25rem;background: var(--bluegray-bluegray-100);display: flex; flex-direction: column; gap: 0.5rem;}
.response_contbox .topbox .tit {font-weight: 600;color: var(--bluegray-bluegray-900);}

.decitype_contbox {border-radius: 1rem; padding: 2.5rem; background: #f4f6fa;}
.decitype_contbox .chart_wrap .chart_box {width: calc((100% - 2.5rem)/2);}
.decitype_contbox .chart_wrap .txtbox {width: calc((100% - 2.5rem)/2); border-radius: 0.75rem; padding: 2rem 1.5rem; background: #fff; display: flex; flex-direction: column; gap: 1rem;}
.decitype_contbox .chart_wrap .txtbox .tit {font-weight: 500;font-size: 1.25rem;color: var(--bluegray-bluegray-900);}
.decitype_contbox .chart_wrap .txtbox .desc {font-weight: 500;font-size: 0.938rem;line-height: 156%;color: var(--bluegray-bluegray-500);}

.AIganalysis_contbox .titbox {display: flex; flex-direction: column; gap: 0.5rem;}
.AIganalysis_contbox .titbox .tit {font-weight: 600;font-size: 1rem;color: var(--bluegray-bluegray-900);}
.AIganalysis_contbox .titbox .desc {font-weight: 500;font-size: 1rem;line-height: 156%;color: var(--bluegray-bluegray-500);}
.AIganalysis_contbox .contbox {align-items: flex-start;}
.AIganalysis_contbox .contbox .chart_box {width: 50%;}
.AIganalysis_contbox .contbox .detail_box {width: 50%; display: flex; flex-direction: column; gap: 2.5rem;}
.AIganalysis_contbox .contbox .detail_box .top_infobox {display: flex; align-items: center; gap: 2.5rem; padding: 1.25rem 0;}
.AIganalysis_contbox .contbox .detail_box .top_infobox .item {display: flex; flex-direction: column; gap: 0.5rem; flex: 1;}
.AIganalysis_contbox .contbox .detail_box .top_infobox .item .tit {font-weight: 600;font-size: 1rem;}
.AIganalysis_contbox .contbox .detail_box .top_infobox .item .tit.color1 {color: var(--bluepurple-bluepurple-500);}
.AIganalysis_contbox .contbox .detail_box .top_infobox .item .tit.color2 {color: var(--red-red-500);}
.AIganalysis_contbox .contbox .detail_box .top_infobox .item .desc {font-weight: 700;font-size: 1.5rem;color: var(--bluegray-bluegray-900);}
.AIganalysis_contbox .contbox .detail_box .top_infobox .bar {width: 1px;
height: 3.5rem;background: var(--bluegray-bluegray-300);}
.AIganalysis_contbox .contbox .detail_box .tbl_box {font-size: 1rem;}

.AIfeedback_contbox {border-radius: 1rem; padding: 2rem 2.5rem; background: var(--purple-purple-900); }
.AIfeedback_contbox .tab_navbox { width: calc(100% + 5rem);  margin-left: -2.5rem;   margin-right: -2.5rem;  padding: 0 2.5rem;  border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
.AIfeedback_contbox .contbox {display: flex; flex-direction: column; gap: 2.5rem;}
.AIfeedback_contbox .contbox .item {border-radius: 0.75rem;padding: 1.25rem 1.5rem; display: flex; flex-direction: column; gap: 0.75rem;background: #fff;}
.AIfeedback_contbox .contbox .item .tit {font-weight: 700;font-size: 1.125rem;color: var(--bluegray-bluegray-900);}
.AIfeedback_contbox .contbox .item .desc {font-weight: 500;font-size: 1rem;line-height: 156%;color: var(--bluegray-bluegray-500);}
.AIfeedback_contbox.ver2 {background: var(--bluepurple-bluepurple-50);}
.AIfeedback_contbox.ver2 .tab_navbox {border-bottom: 1px solid var(--bluegray-bluegray-300);}
.AIfeedback_contbox.ver2 .tab_navbox .tab_nav {color: var(--bluegray-bluegray-500);}
.AIfeedback_contbox.ver2 .tab_navbox .tab_nav.on {color: var(--bluegray-bluegray-900);}

.checklist_contbox .contbox { position: relative; border-radius: 1rem; padding: 2.5rem; background: #fff; display: flex; flex-direction: column; gap: 1.25rem;}
.checklist_contbox .contbox .top_deco { width: 11.625rem;  position: absolute;  right: 0; top: -8.883rem;  z-index: 10;}



/* INFACE - 면접동영상 분석 */
.emoanalysis_contbox {border-radius: 1rem; padding: 2.5rem; background: #f4f6fa; display: flex; flex-direction: column; gap: 1.75rem;}
.emoanalysis_contbox .contbox .chart_wrap .video_box {width: 50%;}
.emoanalysis_contbox .contbox .chart_wrap .chart_box {width: 50%; border-radius: 1rem;
padding: 2.5rem; background: #fff;}

.visanalysis_contbox .tab_navbox { width: calc(100% + 5rem);  margin-left: -2.5rem;   margin-right: -2.5rem;  padding: 0 2.5rem;  border-bottom: 1px solid var(--bluegray-bluegray-200);}
.visanalysis_contbox .qna_wrap {display: flex; gap: 2.5rem; margin-bottom: 2.5rem;}
.visanalysis_contbox .qna_wrap .video_box {width: 50%;}
.visanalysis_contbox .qna_wrap .qna_box {width: 50%; border: 1px solid var(--bluegray-bluegray-200); border-radius: 1rem; padding: 1.5rem; display: flex; flex-direction: column; justify-content: space-between; gap:1rem;background: #fff;}
.visanalysis_contbox .qna_wrap .qna_box .titbox {display: flex; flex-direction: column; gap: 1.25rem;}
.visanalysis_contbox .qna_wrap .qna_box .titbox .num {font-weight: 700;font-size: 2rem;color: var(--bluegray-bluegray-300);}
.visanalysis_contbox .qna_wrap .qna_box .titbox .tit {font-size: 1.125rem;line-height: 156%;color: var(--bluegray-bluegray-900);}
.visanalysis_contbox .qna_wrap .qna_box .btnbox {display: flex; gap: 1rem;}
.visanalysis_contbox .qna_wrap .qna_box .btnbox .btn {flex: 1; height: 3rem; display: flex; align-items: center; justify-content: center; gap: 0.5rem; border-radius: 0.5rem; padding: 0 1.5rem; font-size: 1.125rem;}
.visanalysis_contbox .qna_wrap .qna_box .btnbox .btn .icon {width: 1.25rem;}
.visanalysis_contbox .qna_wrap .qna_box .btnbox .btn.typeA {background: var(--bluepurple-bluepurple-500);color: #fff; }
.visanalysis_contbox .qna_wrap .qna_box .btnbox .btn.typeB {border: 1px solid var(--bluegray-bluegray-200);background: #fff;color: var(--bluegray-bluegray-900);}
.visanalysis_contbox .voice_box {width: 100%;}
.visanalysis_contbox .voice_box .sample {width: 100%;}



/* 비대면 - 면접결과 분석*/
.rank_contbox2 {border: 1px solid var(--bluegray-bluegray-200); border-radius: 1rem;padding: 2.5rem;}
.rank_contbox2 .contbox {display: flex; gap: 2.5rem;}
.rank_contbox2 .contbox .box { width: 100%; display: flex; flex-direction: column;  gap: 2rem;}
.rank_contbox2 .contbox .box .top {display: flex; justify-content: space-between; gap: 1rem;}
.rank_contbox2 .contbox .box .top .tit {font-weight: 500;font-size: 1.5rem;color: var(--bluegray-bluegray-900);}
.rank_contbox2 .contbox .box .top .rank {display: flex; align-items: center; gap: 0.5rem; font-size: 1.25rem;color: var(--bluegray-bluegray-500);}
.rank_contbox2 .contbox .box .top .rank .num {font-weight: 700;font-size: 1.75rem;color: var(--purple-purple-500);}
.rank_contbox2 .contbox .box .infobox{display: flex; gap: 1.25rem; border-top: 1px solid var(--bluegray-bluegray-200); padding-top: 1.25rem;}
.rank_contbox2 .contbox .box .infobox .item {flex: 1; display: flex; flex-direction: column; gap: 0.25rem;}
.rank_contbox2 .contbox .box .infobox .item .tit {font-size: 0.813rem;line-height: 100%;color: var(--bluegray-bluegray-500);}
.rank_contbox2 .contbox .box .infobox .item .desc {font-weight: 600;font-size: 1rem;line-height: 100%;color: var(--bluegray-bluegray-900);}
.rank_contbox2 .contbox .box .infobox .item .desc.color {color: var(--purple-purple-500);}
.rank_contbox2 .contbox .box .infobox .bar {width: 1px; background: var(--bluegray-bluegray-300); align-self: stretch;}

.evanalysis_contbox {padding: 1.25rem 0;}
.evanalysis_contbox .summary_box {position: relative; background: #fff; border-radius: 1rem; padding: 1.25rem 1.5rem; display: flex; flex-direction: column; gap: 1rem;}
.evanalysis_contbox .summary_box .top_deco {position: absolute; right: 1.5rem; top: -4.188rem; width: 8.25rem;}
.evanalysis_contbox .summary_box > .titbox .tit {font-weight: 500;font-size: 1.125rem;line-height: 156%;color: var(--bluegray-bluegray-900);}
.evanalysis_contbox .chart_wrap .doughnut_chartbox2 {width: 26.25rem;}
.evanalysis_contbox .chart_wrap .bar_chart2 .chart .graph_box { padding: 0 5rem;}
.evanalysis_contbox .chart_wrap .bar_chart2 .labelbox { padding: 0 5rem;}
.evanalysis_contbox .chart_wrap .bar_chart2 .labelbox .label {width: 3.5rem;}

.evanalysis_contbox2 { padding-top: 5rem; margin-top: -3rem; }
.evanalysis_contbox2::before { content: ""; position: absolute; left: 50%; top: 0;  transform: translateX(-50%); width: calc(100% + 7.5rem); height: 17.875rem;  background: var(--purple-purple-900);}
.evanalysis_contbox2 .contbox {position: relative; border: 1px solid var(--bluegray-bluegray-200);border-radius: 1rem;padding: 1.938rem 2.438rem; background: #fff; display: flex; flex-direction: column; gap: 2.5rem;}
.evanalysis_contbox2 .contbox .top_deco { position: absolute; right: 2.75rem; top: -2.625rem; width: 18.063rem;}
.evanalysis_contbox2 .contbox .titbox {display: flex; flex-direction: column; gap: 1.25rem;}
.evanalysis_contbox2 .contbox .titbox .sub {font-weight: 500;font-size: 1.25rem;color: var(--bluegray-bluegray-500);}
.evanalysis_contbox2 .contbox .titbox .tit {font-weight: 600;font-size: 2rem;line-height: 140%;color: var(--bluegray-bluegray-900);}
.evanalysis_contbox2 .contbox .titbox .tit .line{position: relative;}
.evanalysis_contbox2 .contbox .titbox .tit .line::before { content: ""; position: absolute; left: 0;  bottom: 0; width: 100%; height: 0.688rem; background: var(--bluepurple-bluepurple-100);}
.evanalysis_contbox2 .contbox .titbox .tit .line .txt{position: relative;z-index: 10;}
.evanalysis_contbox2 .contbox .descbox {border-radius: 1rem;padding: 2.5rem;background: var(--bluepurple-bluepurple-50);display: flex; flex-direction: column; gap: 1.25rem;}
.evanalysis_contbox2 .contbox .descbox .desc {font-size: 1.125rem;line-height: 156%;color: var(--bluegray-bluegray-900);}
.evanalysis_contbox2 .contbox .descbox .desc .underline {font-weight: 600;text-decoration: underline; text-underline-offset: 3px;}
.evanalysis_contbox2 .tbl_box { font-size: 0.813rem;}
.evanalysis_contbox2 .tbl_box .thead .tr { gap: 1rem;}
.evanalysis_contbox2 .tbl_box .tbody .tr { gap: 1rem;}
.evanalysis_contbox2 .chart_datebox  {display: flex; flex-direction: column; gap: 1.25rem;}
.evanalysis_contbox2 .chart_datebox .chart_labelbox {width: 100%; min-height: 3rem; display: flex; align-items: center; justify-content: center; gap: 1.25rem; background: #fff;} 
.evanalysis_contbox2 .chart_datebox .chart_labelbox .label {font-weight: 500;font-size: 0.875rem;color: var(--bluegray-bluegray-500); display: flex; align-items: center; gap: 0.25rem;}
.evanalysis_contbox2 .chart_datebox .chart_labelbox .label .color {width: 0.75rem; aspect-ratio: 1/1; border-radius: 50%;}
.evanalysis_contbox2 .chart_datebox .chart_labelbox .label .color1 {background: var(--bluepurple-bluepurple-500);}
.evanalysis_contbox2 .chart_datebox .chart_labelbox .label .color2 {background: var(--blue-blue-500);}
.evanalysis_contbox2 .chart_datebox .chart_labelbox .label .color3 {background: var(--green-green-500);}



/* 비대면 - 면접동영상 분석*/



@media print {

	.bubble_chart1 .chart .graph {width: 100% !important; height: unset !important; aspect-ratio: 510/280;}

	.line_chart1 .chart .graph {width: 100% !important; height: unset !important; aspect-ratio: 1056/292;}		

}
