

/* PC */
@media screen and (max-width: 1560px) {    

  	html {font-size: 15.5px !important;}  
	
}


@media screen and (max-width: 1440px) {    

  	html {font-size: 15px!important;}    

	.ms2 .contbox .imgbox { max-width: 100%;}
	.ms2 .contbox .circlrbox { width: 24%;}
	
}


@media screen and (max-width: 1380px) {    

  	html {font-size: 14.5px !important;} 	

}


@media screen and (max-width: 1200px) {

  	html {font-size: 14px !important;}  

}



  
/* Tablet */
@media screen and (max-width: 1024px) {

  	html {font-size: 16px !important;} 

  	.pc {display: none !important;}
  	.tablet {display: block !important;}
	.inner {width: 100%; padding-left: 2rem; padding-right: 2rem;}

	
	.header { height: 6rem;}
	.header .h_left .logo {width: 14.9rem;}
	.header .h_navbox { display: none;}
	.header .h_right .link {  height: 2.5rem;  font-size: 1.1rem;  padding: 0 1.2rem 0.15rem;  border-radius: 0.3rem;}

	.footer { margin-top: 3.8rem;}
	.footer::before {background-image: url(../img/f_bg_mob.png); height: calc(100% + 42.5rem);}
	.footer .f_topbox {  padding-top: 1.2rem;  flex-direction: column;  align-items: unset;  gap: 2rem;}
	.footer .f_topbox .leftbox { gap: 1.2rem;}
	.footer .f_topbox .leftbox .logobox { width: 11.3rem;}
	.footer .f_topbox .leftbox .infobox { padding: 0;  gap: 0.6rem;}
	.footer .f_topbox .leftbox .infobox .mail { font-size: 2rem;}
	.footer .f_topbox .leftbox .infobox .contact { font-size: 0.8rem;}
	.footer .f_topbox .leftbox .infobox .contact .bold { font-size: 1.3rem; font-weight:700;}
	.footer .f_topbox .rightbox { gap: 2rem;  padding-top: 0;}
	.footer .f_topbox .rightbox .link { font-size: 1.1rem;}
	.footer .f_topbox .f_snsbox { bottom: unset; top: 1.6rem; gap: 1.2rem;}
	.footer .f_topbox .f_snsbox .link { width: 1.5rem;}
	.footer .f_copyright { margin-top: 1.4rem; padding: 0.8rem 0 1.4rem; font-size: 0.7rem;}


	.m_titbox { gap: 2.4rem;}
	.m_txt1 { font-size: 1.2rem;}
	.m_txt2 { font-size: 2.5rem; word-break: keep-all;}
	.m_txt3 { word-break: keep-all; font-size: 1.2rem;}
	
	.ms1 { padding-top: 9.65rem; min-height: 50.5rem;}
	.ms1 .vidbox {height: 50.5rem;}
	.ms1 .contbox .top_label {  font-size: 1.1rem;  height: 2rem;  padding: 0 1.5rem;   margin-bottom: 4.4rem;  display: flex;  align-items: center;  justify-content: center;line-height: 1;}
	.ms1 .contbox .swiper_box .ms1_swiper { width: calc(100% + 2rem * 2); margin: 0 -2rem;}
	.ms1 .contbox .swiper_box .ms1_swiper .item {  font-size: 3rem; word-break: keep-all; padding: 0 2rem;}
	.ms1 .contbox .swiper_box .prev_btn, 
	.ms1 .contbox .swiper_box .next_btn {  width: 1.1rem;}
	.ms1 .contbox .swiper_box .prev_btn {  left: -1.1rem;}
	.ms1 .contbox .swiper_box .next_btn {  right: -1.1rem;}
	.ms1 .contbox .ms1_pag {  margin-top: 4.4rem; gap: 0.3rem;}
	.ms1 .contbox .ms1_pag .swiper-pagination-bullet {width:0.3rem;}

	.ms2 {margin-bottom: 5.4rem;}
	.ms2::before { top: 14rem; width: 100%; height: calc(100% - 14rem);  background-image: url(../img/ms2_bg_mob.png); background-position: bottom center;  top: 14rem;}
	.ms2::after {  bottom: -1.4rem; width: 100%;aspect-ratio: 720 / 150;
    background-image: url(../img/ms2_clouds_mob.png);}
	.ms2 .ctabox { margin: -14rem auto 7.5rem;  padding: 0;  max-width: 35.5rem;  padding-right: 2rem;}
	.ms2 .m_titbox { margin-bottom: 2.5rem;}
	.ms2 .contbox {  flex-direction: column;  align-items: center;  gap: 1.125rem;}
	.ms2 .contbox .txtbox {width: 100%;max-width:100%; margin:0;padding: 0;text-align: center;}
	.ms2 .contbox .txtbox .m_txt3 {width: 100%; margin:0;padding: 0;text-align: center;  max-width: 27.2rem; margin: 0 auto; } 
	.ms2 .contbox .imgbox { max-width: calc(100% + 2rem * 2); width: calc(100% + 2rem * 2); margin: 0 -2rem; }
	.ms2 .contbox .circlrbox { display: none; }

	.ms3, .ms4, .ms6 { padding-top: 0; margin-top: 0;}
	
	.ms3 { margin-bottom: 7.5rem;}
	.ms3 .m_titbox { margin-bottom: 3rem;}
	.ms3 .contbox { gap: 2.2rem; flex-direction: column-reverse; padding: 0;}
	.ms3 .contbox .txtbox { max-width: unset; padding: 0 2.4rem; text-align: center;}
	.ms3 .contbox .txtbox .m_txt3 { padding: 0 0.5px;}
	.ms3 .contbox .imgbox { width: 100%; max-width: 100%;}

	.ms4 { margin-bottom: 7.5rem;}
	.ms4 .m_titbox { margin-bottom: 4.7rem;}
	.ms4 .contbox { flex-direction: column; align-items: unset; justify-content: unset;
    gap: 5.5rem;}
	.ms4 .contbox .item { gap: 1.6rem; max-width: unset;}
	.ms4 .contbox .item .iconbox { width: 12.35rem;}
	.ms4 .contbox .item .txtbox .tit { font-size: 1.9rem;}
	.ms4 .contbox .item .txtbox .desc { font-size: 1.2rem; max-width: 23rem;}

	.ms5 { margin-bottom: 7.5rem; background: #f1f5f9; border-top: 1px solid #b1b5b9;}
	.ms5 > .inner {padding: 0}
	.ms5 .swiper_box .ms5_swiper .item { flex-direction: column; align-items: unset;     gap: 2.8rem;}
	.ms5 .swiper_box .ms5_swiper .item .txtbox {  width: 100%;  padding: 4.5rem 3.22rem 0;  align-items: center;  text-align: center;  gap: 1.2rem;}
	.ms5 .swiper_box .ms5_swiper .item .txtbox .m_txt1 {font-size:0.8rem}
	.ms5 .swiper_box .ms5_swiper .item .imgbox { margin: 0; max-width: unset;}
	.ms5 .swiper_box .prev_btn, .ms5 .swiper_box .next_btn { width: 1.1rem;  top: 13rem;  transform: none;}
	.ms5 .swiper_box .prev_btn { left: 0.8rem; background-image: url(../img/ms5_prev_mob.png);}
	.ms5 .swiper_box .next_btn { right: 0.8rem; background-image: url(../img/ms5_next_mob.png);}
	.ms5 .ms5_pag {gap: 0.3rem; bottom: unset; top: 20rem;}
	.ms5 .ms5_pag .swiper-pagination-bullet { width: 0.3rem;}

	.ms6 { margin-bottom: 7.5rem;}
	.ms6 .m_titbox .m_txt3 { max-width: 28.3rem;}
	.ms6 .contbox { gap: 4rem;}
	.ms6 .contbox .item { flex-direction: column-reverse; align-items: unset;  gap: 1.2rem;}
	.ms6 .contbox .item:nth-child(even) { flex-direction: column-reverse;}
	.ms6 .contbox .item .txtbox { width: 100%; text-align: left; padding: 0 2rem;}
	.ms6 .contbox .item .txtbox .topbox { gap: 0.7rem; flex-direction: row-reverse;}
	.ms6 .contbox .item .txtbox .topbox .thumb { width: 3.4rem;}
	.ms6 .contbox .item .txtbox .topbox .info { gap: 0.4rem;}
	.ms6 .contbox .item .txtbox .topbox .info .tit { font-size: 1.1rem;}
	.ms6 .contbox .item .txtbox .topbox .info .desc { font-size: 0.8rem;}
	.ms6 .contbox .item .txtbox .titbox { align-items: flex-start; gap: 1.2rem;}
	.ms6 .contbox .item .txtbox .titbox .tit { font-size: 1.6rem;}
	.ms6 .contbox .item .txtbox .titbox .desc { font-size: 1.2rem; max-width: unset;}
	.ms6 .contbox .item .txtbox .badgebox { margin-top: 1rem;  justify-content: flex-start;  gap: 0.2rem 0.6rem;}
	.ms6 .contbox .item .txtbox .badgebox .badge { font-size: 1.2rem; border-radius: 0.6rem; padding: 0.2rem 0.7rem;}
	.ms6 .contbox .item .vidbox { width: 100%; border-radius: 1rem;}

	.ms7 .top_imgbox { margin-bottom: 0;}
	.ms7 .m_titbox { gap: 2.4rem; padding-top: 3rem;}
	.ms7 .m_titbox .m_txt3 { max-width: 29.8rem;}
	.ms7 .m_titbox .btn { width: 13.5rem; height: 3.6rem; padding-bottom: 0;  font-size: 1.5rem; border-radius: 0.3rem; margin-top: 0;}



	/* 260611 추가 */
	.header {position: fixed; transition: var(--transition); border-bottom: 1px solid transparent;}
	.header .h_left .logo {position: relative; display: flex; align-items: center; justify-content: center;}
	.header .h_left .logo .img {transition: var(--transition);}
	.header .h_left .logo .img:nth-child(2) {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; opacity: 0;}
	body.down .header { background: rgba(255, 255, 255, 0.3); backdrop-filter: blur(1.6rem); border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
	body.down .header .h_left .logo .img:nth-child(1) {opacity: 0;}
	body.down .header .h_left .logo .img:nth-child(2) {opacity: 1;}


	

}


@media screen and (max-width: 900px) {

  	html {font-size: 14px !important;}

}


@media screen and (max-width: 800px) {

	html {font-size: 2.222223vw;} 
	
}


@media screen and (max-width: 700px) {

  	html {font-size: 11.5px !important;}

}




/* Mobile */
@media screen and (max-width: 599px) {

  	html {font-size: 11px !important;}  
	
  	.mobile {display: block !important;}
  

}
  
      
@media screen and (max-width: 480px) {  

  	html {font-size: 10px !important;}

}


@media screen and (max-width: 320px) {

  	html { font-size: 9px !important;}

}
