@import url("/css/fonts.css");
*{font-family:'pretendard'}
html,body{background-color:#727377;padding:0px;margin:0px}
.main{font-size: 14px; font-weight: 400; width: 500px; margin: 0 auto; line-height: 30px; margin-top: 10%; background-color: #f6f6f6; padding: 30px 20px 45px 30px; color: #1f1f1f; border: 5px solid #000; box-shadow: 3px 3px 10px -3px #000;}
.main.center{text-align:center}
h2{font-size:20px;font-weight:700;padding-bottom:15px}
h2 img{vertical-align:middle;margin-right:15px;width:24px;margin-top:-5px;margin-left:-40px}


h3{color:red;    padding-left: 32px;font-weight:400}
.text{padding-left:32px}
.text .red{color:red;font-weight:400}

.main.center .text{padding-left:0px}

.footer{position:fixed;bottom:0px;background-color:#313131;color:#fff;height:80px;width:100%;padding:0px;}
.footer div.copyright{width:400px;margin:0 auto;;font-size:12px;font-weight:200;text-align:center;margin-top:26px;color:#a4a4a4}