/*font*/
.txt_mtit {font-size:42px; font-weight:bold; color:#333; letter-spacing:-0.08em; padding:50px 0 20px 0; background:url(/images/ari/m_tit_img1.png) center top no-repeat; }
.txt_mtit2 {font-size:42px; font-weight:bold; color:#fff; letter-spacing:-0.08em; padding:50px 0 20px 0; background:url(/images/ari/m_tit_img2.png) center top no-repeat;}
.txt_mtit3 {font-size:42px; font-weight:bold; color:#fff; letter-spacing:-0.08em; padding:50px 0 20px 0; background:url(/images/ari/m_tit_img3.png) center top no-repeat;}
.txt_msub { font-size:20px; color:#888; letter-spacing:-0.05em;font-weight:300}
.txt_msub2 { font-size:18px; color:#52bafe; letter-spacing:-0.05em;}
.txt_msub3 { font-size:18px; color:#093846; letter-spacing:-0.05em;}

.txt_ari_mtit2 {font-size:42px; font-weight:bold; color:#fff; letter-spacing:-0.08em; padding:50px 0 20px 0; background:url(/images/ari/m_ari_tit_img2.png) center top no-repeat; }
.txt_ari_mtit2:before { content:""; display:inline-block; width:110px; height:1px; background:#fff; vertical-align:top; margin:30px 35px 0 0;}
.txt_ari_mtit2:after { content:""; display:inline-block; width:110px; height:1px; background:#fff; vertical-align:top; margin:30px 0 0 35px;}
.txt15_g { font-size:15px; color:#666; text-align:center; line-height:22px; letter-spacing:-0.05em;font-weight:200}
.txt16_g { font-size:16px; color:#666; text-align:center; line-height:24px; letter-spacing:-0.05em;font-weight: 200;}
.txt20_b { font-size:20px; color:#666; text-align:center; line-height:22px; letter-spacing:-0.05em; font-weight:bold;}
.txt35_g { font-size:35px; color:#333; text-align:center; letter-spacing:-0.05em;}
.txt_b {font-weight:bold;}

.cont_tit1 { font-size:26px; font-weight:none; color:#333;letter-spacing:-0.08em; margin-bottom:25px; }
.txt28_b { font-size:28px; font-weight:none; color:#000; }
.txt34_b { font-size:34px; font-weight:none; color:#000; margin-bottom:30px; text-align:center; background:url(/images/ari/tit_line.png) center no-repeat; }
.txt42_b { font-size:42px; font-weight:bold; color:#000; margin-bottom:30px; }
.txt16pl_g { font-size:16px; color:#888; etter-spacing:-0.08em; padding-left:15px;}
.txt14_g { font-size:14px; color:#666; text-align:left; letter-spacing:-0.08em}
.txt17_g { font-size:17px; color:#555; line-height:27px;}
.txt18_g { font-size:18px; color:#888; text-align:center; letter-spacing:-0.05em;}
.txt20_g { font-size:20px; font-weight:lighter; color:#888; letter-spacing:-0.08em;}
.txt32_h { font-size:32px; font-weight:none; color:#fff; margin-bottom:20px; letter-spacing:-0.08em; line-height:40px;}
.txt44_h { font-size:40px; font-weight:bold; color:#fff; margin-bottom:20px; }
.txt20_h { font-size:20px; color:#fff; letter-spacing:-0.08em;}
.txt28_bl { font-size:28px; color:#2b92d5; font-weight:bold;}
.txt24_bl { font-size:24px; color:#0c69c1; font-weight:bold;}
.txt45_bl { font-size:45px; color:#0c69c1; font-weight:bold;}
.txt62_bl { font-size:62px; font-weight:bold; color:#47d2eb; letter-spacing:0.02em;}

.txt_bl{ color:#01a8cc; }
.t_tit1 {font-size:44px; font-weight:none; color:#fff; letter-spacing:-0.05em; margin-bottom:15px;}
.t_tit2 {font-size:18px; font-weight:none; color:#fff; letter-spacing:-0.08em; }


/*button style*/
.bt_submit { display:block; width:100px; height:35px; line-height:35px; color:#fff; background:#2b92d5; font-weight:bold; text-align:center; margin:65px auto 20px; font-size:14px;}
.bt_result { display:inline-block; font-size:14px; line-height:27px; background:url(/images/ari/bt_result.jpg) no-repeat 10px 7px; color:#2b92d5; border:1px solid #2b92d5; padding:0 10px 0 27px; margin-right:5px;}
.bt_video { display:inline-block; font-size:14px; line-height:29px; background:#97a3b1 url(/images/ari/bt_video.jpg) no-repeat 10px 7px; color:#fff; padding:0 10px 0 27px; margin-right:5px;}
.bt_st1 { display:inline-block; width:75px; height:30px; font-size:13px; line-height:30px; background:#757c80; color:#fff; text-align:center;}
.bt_st2 { display:inline-block; width:75px; height:28px; font-size:13px; line-height:28px; color:#5d6670; border:1px solid #b7c2cd; text-align:center;}
.bt_st3 { display:inline-block; font-size:14px; line-height:27px; color:#919eae; padding:0 10px; border:1px solid #919eae;}
.bt_listen { display:inline-block; width:28px; height:27px; font-size:13px; line-height:27px; background:#eaeaea url(/images/ari/bt_listen.jpg) no-repeat 10px 7px; color:#5f6980; border:1px solid #c6ced6; padding:0 10px 0 25px}
.bt_set { position:relative; width:100%; margin:20px 0 130px; text-align:center; }
.bt_view { position:absolute; right:1px; top:167px; width:32px; height:32px; text-indent:-999%; background:rgba(0, 0, 0, 0.5) url(/images/ari/bt_view.png) center no-repeat;  }
.bt_bl300 a { display:block; width:300px; height:62px; background:#01a8cc; color:#fff; font-size:25px; font-weight:bold; text-align:center; line-height:62px; margin:0 auto;}
.bt_bl300 a:hover { background:#02b4db;}
.bt_dbl300 a { display:block; width:300px; height:62px; background:#172e46; color:#ffff33; font-size:25px; font-weight:bold; text-align:center; line-height:62px; margin:0 auto; margin-top:50px; z-index:10;}
.bt_dbl300 a:hover{ color:#fcfc62; background:#22405f;}
.bt_bl_line { display:block; width:150px; height:35px; border:1px solid #01a8cc; color:#01a8cc; font-size:16px; text-align:center; line-height:33px; margin:16px auto 0;}
.bt_start { display:inline-block; width:280px; height:58px; font-size:23px; border:1px solid #01a8cc; color:#01a8cc; text-align:center; line-height:56px; margin:0 10px; }
.bt_write { display:inline-block; width:282px; height:60px; font-size:23px; background:#01a8cc; color:#fff; text-align:center; line-height:56px; margin:0 10px; }
.bt_search { display:inline-block; float:right; height:28px;width:75px; line-height:28px; margin-left:10px; text-align:center; font-size:14px; border:1px solid #2b92d5; color:#2b92d5; font-weight:bold; }
.bt_search1 { display:inline-block; float:right; height:36px; width:36px; background:#283e56 url(/images/ari/icon_search.png) center no-repeat; text-indent:-9999%;}
.bt_search2 { display:inline-block; float:left; height:36px; width:36px; background:#fff url(/images/ari/icon_search2.png) center no-repeat; text-indent:-9999%; border:1px solid #d5d5d5;  border-left:0;}
.bt_date { display:inline-block; float:left; height:36px; width:36px; background:#fff url(/images/ari/icon_date.png) center no-repeat; text-indent:-9999%; border:1px solid #d5d5d5;  border-left:0;}
.bt_open { display:block; width:186px; height:40px; background:#4ebed6 url(/images/ari/icon_open.png) 20px center no-repeat; font-size:16px; color:#fff; text-align:center; padding-left:26px; line-height:38px; letter-spacing:-0.05em}
.bt_coupon { display:inline-block; height:36px; width:85px; background:#273e56; color:#fff; font-size:15px; line-height:36px;}
.bt_bl240 { display:block; width:240px; height:44px; border:1px solid #01a8cc; line-height:46px; color:#01a8cc; text-align:center; margin:30px auto 20px; font-size:20px;}
.bt_bl160 { display:block; width:160px; height:44px; border:1px solid #01a8cc; line-height:46px; color:#01a8cc; text-align:center; margin:30px auto 20px; font-size:20px;}
.bt_del { display:inline-block; width:78px; height:28px; font-size:14px; line-height:28px; background:#f8f8f8 url(/images/ari/icon_del.png) 10px center no-repeat; border:1px solid #e1e1e1; padding-left:25px; }
.bt_copy { display:inline-block; width:70px; height:28px; font-size:14px; line-height:28px; background:#f8f8f8 url(/images/ari/icon_copy.png) 10px center no-repeat; border:1px solid #e1e1e1; padding-left:33px; }


/*main_visual*/
.main_visual2 {width:100%; height:565px; position: relative; overflow:hidden;} 
.main_visual2 .mov_r { position:absolute; width:23px; height:45px; z-index:2; right:120px; top:50%;}
.main_visual2 .mov_l { position:absolute; width:23px; height:45px; z-index:2; left:120px; top:50%;}

.main_visual2 .ind { position: absolute; top:385px; z-index:2; }
.main_visual2 .ind li { display:block; float:left; width:10px; height:10px; margin-right:10px; background:#fff; border-radius:5px; cursor:pointer;}
.main_visual2 .ind li.on { display:block; width:10px; height:10px; margin-right:10px; background:#01a8cc; border-radius:5px ;  }
 
.main_visual2 .visual_list { position:relative; margin:auto; display:block; height:565px}
.main_visual2 .visual_list > li { width:100%; height:100%; /*position: absolute; left: 0; top: 0;*/  }

.main_visual2 .txt_box { position:relative; width:1200px; margin:auto; }
.main_visual2 .txt_list > li { width:100%; position:absolute; left:0; top:140px; }
.main_visual2 .txt_box .txt1 { font-size:60px; color:#fff; line-height:66px; font-weight:bold; margin-bottom:30px}
.main_visual2 .txt_box .txt2 { font-size:19px; color:#b7c0ce; line-height:26px ;font-weight:200}

.main_visual2 .visual_list li.visual_01 { background:url(/images/ari/m_ari_img01.jpg) no-repeat center; background-size:cover;}
.main_visual2 .visual_list li.visual_02 { background:url(/images/ari/m_ari_img02.jpg) no-repeat center; background-size:cover; }


.bx-wrapper-main{
    position:relative;
    width:100%;
}

.bx-wrapper-main .bx-prev {
    left:90px;
    background: url(/images/ari/mov_l.png) no-repeat ;
    width:27px;
    height:53px;
}
.bx-wrapper-main .bx-next {
    right:90px;
    background: url(/images/ari/mov_r.png) no-repeat;
    width:27px;
    height:53px;
}

.bx-wrapper-main .bx-controls-direction a {
    position: absolute;
    top: 49%;
    margin-top: -27px;
    outline: 0;
    width: 27px;
    height: 53px;
    text-indent: -9999px;
    z-index: 999;
    text-align:center;
}



/*main_section 01*/
.m_sec01_pos { width:100%; position:relative;}
.m_sec01_pos .m_sec01_wrap { width:1200px; position:relative; margin:0 auto; padding-top:40px;}
.m_sec01_pos .m_sec01_wrap .m_sec01 { margin-bottom:120px;}
.m_sec01_pos .m_sec01_wrap .m_sec01 li { float:left; position:relative; width:399px; padding:30px 0 35px 0; border-right:1px solid #e6e6e6; text-align:center;}
.m_sec01_pos .m_sec01_wrap .m_sec01 li .bg01 { background:url(/images/ari/m_ari_sec1_01.jpg) no-repeat center top;}
.m_sec01_pos .m_sec01_wrap .m_sec01 li .bg02 { background:url(/images/ari/m_ari_sec1_02.jpg) no-repeat center top;}
.m_sec01_pos .m_sec01_wrap .m_sec01 li .bg03 { background:url(/images/ari/m_ari_sec1_03.jpg) no-repeat center top;}
.m_sec01_pos .m_sec01_wrap .m_sec01 li:last-child { width:400px; border-right:0;}
.m_sec01_pos .m_sec01_wrap .m_sec01:after { content:""; display:block; clear:both;}
.m_sec01_tit { width:100%; color:#2b92d5; font-size:26px; font-weight:bold; padding:80px 0 210px 0; text-align:center;}
.m_sec01_txt2 { width:100%; height:70px; margin:25px 0 22px; }
.m_sec01_txt3 { width:100%; height:70px; margin:25px 0 22px; background: url(/images/ari/m_sec1_txt3.png) no-repeat center; text-indent:-9999%;}

.title_box { text-align:center; width:100%; margin-bottom:80px;}
.title_box2 { text-align:center; width:100%; margin-bottom:60px;}

/*main_section 02*/
.m_sec02_pos { width:100%; height:1339px; z-index:2; position:relative; background:url(/images/ari/m_ari_sec2_01.png) top no-repeat; }
.m_sec02_pos .m_sec02_wrap { width:1300px; height:808px; position:relative; padding:100px 0; margin:0 auto;}
.m_sec02_pos .m_sec02_wrap .m_sec02_img {position:absolute; left:-74px; top:308px; z-index:2;}
.m_sec02_pos .m_sec02_wrap .m_sec02 { position:absolute; right:0; top:308px; width:584px; z-index:2; }
.m_sec02_pos .m_sec02_wrap .m_sec02 li { border:1px solid #fff; padding:15px 20px; margin-bottom:20px; letter-spacing:-0.07em; line-height:160%; font-size:15px; color:#fff;;font-weight:200}
.m_sec02_pos .m_sec02_wrap .m_sec02 li p { color:#01313f; font-size:18px; font-weight:bold; margin-bottom:7px; }
.m_sec02_pos .m_sec02_wrap .m_sec02 li:last-child { border:0; padding:0;}
.m_sec02_pos .m_sec02_wrap .m_sec02:after { content:""; display:block; clear:both;}


/*main_section 03*/
.m_sec03_pos { width:100%; margin-top:-330px; background:url(/images/ari/m_ari_sec3_01.jpg) top no-repeat; background-size:cover;}
.m_sec03_pos .m_sec03_wrap { position:relative; margin:0 auto; padding:100px 0 120px 0;}
.m_sec03_pos .m_sec03_wrap .m_sec03 { width:1200px; margin:0 auto 100px auto;}
.m_sec03_pos .m_sec03_wrap .m_sec03 li { float:left; position:relative; width:400px; height:130px; padding:270px 0 35px 0; text-align:center;}
.m_sec03_pos .m_sec03_wrap .m_sec03 li:last-child { width:400px; border-right:0;}
.m_sec03_pos .m_sec03_wrap .m_sec03:after { content:""; display:block; clear:both;}

.m_sec03_pos .m_sec03_wrap .stepArea {width:1240px; margin:auto; }
.m_sec03_pos .m_sec03_wrap .stepArea .m_step_tit { text-align:center; font-weight:bold; font-size:30px; color:#333;}
.m_sec03_pos .m_sec03_wrap .stepArea .m_step_tit:before { content:""; display:inline-block; width:60px; height:1px; background:#aaa; vertical-align:top; margin:20px 15px 0 0;}
.m_sec03_pos .m_sec03_wrap .stepArea .m_step_tit:after { content:""; display:inline-block; width:60px; height:1px; background:#aaa; vertical-align:top; margin:20px 0 0 15px;}
.m_sec03_pos .m_sec03_wrap .stepArea .m_step { background:url(/images/ari/m_ari_sec3_04.png) no-repeat center top; padding:0 20px; margin:50px 0 0 0;}
.m_sec03_pos .m_sec03_wrap .stepArea .m_step li { float:left; font-weight:400; font-size:20px; color:#333; width:190px; height:260px; margin-right:12px; text-align:center;}
.m_sec03_pos .m_sec03_wrap .stepArea .m_step li:last-child {margin:0;}
.m_sec03_pos .m_sec03_wrap .stepArea .m_step .txt_t1 { font-size:16px; color:#1278ba; margin-top:140px;}
.m_sec03_pos .m_sec03_wrap .stepArea .m_step .txt_t1 span { font-size:18px; font-weight:bold;}
.m_sec03_pos .m_sec03_wrap .stepArea .m_step .txt_t2{ color:#333; font-size:18px; margin-top:5px; }
.m_sec03_pos .m_sec03_wrap .stepArea .m_step:after { content:""; display:block; clear:both;}

.m_sec03_tit1 { width:100%; color:#5a7bef; font-size:24px; font-weight:bold; margin-bottom:20px;}
.m_sec03_tit2 { width:100%; color:#2b96e9; font-size:24px; font-weight:bold; margin-bottom:20px;}
.m_sec03_tit3 { width:100%; color:#20bbe1; font-size:24px; font-weight:bold; margin-bottom:20px;}
.m_sec03_img1 {background: url(/images/ari/m_ari_sec3_01.png) no-repeat center top; }
.m_sec03_img2 {background: url(/images/ari/m_ari_sec3_02.png) no-repeat center top; }
.m_sec03_img3 {background: url(/images/ari/m_ari_sec3_03.png) no-repeat center top; }

/*main_section 04*/
.m_sec04_pos { width:100%; position:relative; background:url(/images/ari/m_ari_sec4_01.jpg) no-repeat center; background-size:cover;}
.m_sec04_pos .m_sec04_wrap { width:1200px; position:relative; margin:0 auto; padding:100px 0 120px 0;}
.m_sec04_pos .m_sec04_wrap .m_sec04 {width:1200px; margin:auto}
.m_sec04_pos .m_sec04_wrap .m_sec04:after {content:""; display:block; clear:both;}
.m_sec04_pos .m_sec04_wrap .m_sec04 li {width:364px; margin-right:53px; float:left;}
.m_sec04_pos .m_sec04_wrap .m_sec04 li:last-child { margin-right:0;}
.m_sec04_pos .m_sec04_wrap .m_sec04 .m_sec04_box {background:#fff; padding:40px 20px; color:#666; text-align:center;}
.m_sec04_pos .m_sec04_wrap .m_sec04 .box_t {height:200px; font-size:16px; line-height:24px; display:block;font-weight: 200;}
.m_sec04_pos .m_sec04_wrap .m_sec04 .box_t p {font-size:25px; color:#333; margin-bottom:10px; display:block; font-weight:bold;}
.m_sec04_pos .m_sec04_wrap .m_sec04 .box_t p:after { content:""; display:block; width:40px; height:1px; background:#aaa; vertical-align:top; margin:20px auto 25px auto;}
.num01 { background:url(/images/ari/m_ari_num01.jpg) no-repeat left top; width:33px; height:22px; margin-right:5px; display:inline-block;}
.num02 { background:url(/images/ari/m_ari_num02.jpg) no-repeat left top; width:37px; height:22px; margin-right:5px; display:inline-block;}
.num03 { background:url(/images/ari/m_ari_num03.jpg) no-repeat left top; width:37px; height:22px; margin-right:5px; display:inline-block;}



/*sub_visual*/
.sub_visual {width:100%; height:270px; position: relative; overflow:hidden;} 
.sub_visual.h370{height:370px}
.sub_visual.h370 .visual_wrap{height:370px}
.sub_visual .visual_wrap { position:relative; margin:auto; display:block;height:270px }
.sub_visual .visual_wrap > li { width:100%; height:100%; /*position: absolute; left: 0; top: 0;*/  }
.sub_visual .visual_wrap li.visual_01 { background:url(/images/ari/ari_main_bg0.jpg) no-repeat center; background-size:cover;}
.sub_visual .visual_wrap li.visual_02 { background:url(/images/ari/s_vis02.jpg) no-repeat center; background-size:cover;}
.sub_visual .visual_wrap li.visual_02_1 { background:url(/images/ari/m_ari_img02_1.jpg) no-repeat center; background-size:cover;}


.sub_visual .txt_box { position:relative; width:1200px; margin:auto; z-index:1;}
.sub_visual .txt_list > li { width:100%; position:absolute; left:50px; top:80px; }
/*
.sub_visual .txt_box .txt1 { font-size:56px; color:#fff; line-height:50px; font-weight:500; margin-bottom:30px}
.sub_visual .txt_box .txt2 { font-size:16px; color:#fff;font-weight:200; line-height:26px }
*/

/*correct 01*/
.s_corr01_pos { width:100%; position:relative; }
.s_corr01_pos .s_corr01_wrap { width:1200px; position:relative; margin:0 auto; text-align:center; padding:40px 0 120px 0;}
.s_corr01_pos .s_corr01_wrap .s_corr01 li { float:left; position:relative; width:399px; padding:250px 0 35px 0; border-right:1px solid #e6e6e6; text-align:center;}
.s_corr01_pos .s_corr01_wrap .s_corr01 li.bg01 { background:url(/images/ari/s_img01.jpg) no-repeat center 30px;}
.s_corr01_pos .s_corr01_wrap .s_corr01 li.bg02 { background:url(/images/ari/s_img02.jpg) no-repeat center 30px;}
.s_corr01_pos .s_corr01_wrap .s_corr01 li.bg03 { background:url(/images/ari/s_img03.jpg) no-repeat center 30px;}
.s_corr01_pos .s_corr01_wrap .s_corr01 li:last-child { width:400px; border-right:0;}
.s_corr01_pos .s_corr01_wrap .s_corr01 .txt_t1 { font-size:20px; font-weight:bold; color:#333; margin-bottom:80px;}
.s_corr01_pos .s_corr01_wrap .s_corr01 .txt_t2 { font-size:20px; font-weight:bold; color:#333; margin-bottom:20px; height:50px;}
.s_corr01_pos .s_corr01_wrap .s_corr01:after { content:""; display:block; clear:both;}

/*correct 02*/
.s_corr02_pos { position:relative; width:100%; }
.s_corr02_pos .s_corr02_wrap { width:100%; margin:0 auto; text-align:center; padding-bottom:140px;}
.s_corr02_pos .s_corr02_wrap .imgArea { width:100%; height:895px; background:url(/images/ari/s_img07.png) no-repeat center top;}
.cont_box { position:relative; width:1300px; margin:auto;}
.cont_box .com { position:absolute; top:100px; left:250px; background:url(/images/ari/com.png) no-repeat; width:800px; height:665px; z-index:2;}
.cont_box .com .com_view { position:absolute; top:39px; left:60px; width:681px; height:402px;transition: all 0.3s}
.cont_box .com .mov_prev { position:absolute; top:410px; left:-30px;}
.cont_box .com .mov_next { position:absolute; top:410px; right:-30px;}
.cont_box .thumb_prev { position:absolute; top:175px; left:0; z-index:1;transition: all 0.3s}
.cont_box .thumb_next { position:absolute; top:175px; right:0; z-index:1;transition: all 0.3s}

/*coverletter 01*/
.s_cover01_pos { width:100%; position:relative; }
.s_cover01_pos .s_cover01_wrap { width:1200px; position:relative; margin:0 auto; text-align:center; padding:100px 0 120px 0;}

/*coverletter 02*/
.s_cover02_pos { width:100%; position:relative; background:#f5f5f5;}
.s_cover02_pos .s_cover02_wrap { width:1240px; position:relative; margin:0 auto; text-align:center; padding:100px 0 120px 0;}
.s_cover02_pos .s_cover02_wrap .stepArea {width:1240px; margin:0 auto 100px auto; }
.s_cover02_pos .s_cover02_wrap .stepArea .m_step_tit { text-align:center; font-weight:bold; font-size:30px; color:#333;}
.s_cover02_pos .s_cover02_wrap .stepArea .m_step_tit:before { content:""; display:inline-block; width:60px; height:1px; background:#aaa; vertical-align:top; margin:20px 15px 0 0;}
.s_cover02_pos .s_cover02_wrap .stepArea .m_step_tit:after { content:""; display:inline-block; width:60px; height:1px; background:#aaa; vertical-align:top; margin:20px 0 0 15px;}
.s_cover02_pos .s_cover02_wrap .stepArea .m_step { background:url(/images/ari/s_img06.jpg) no-repeat center top; padding:0 20px; margin:50px 0 0 0;}
.s_cover02_pos .s_cover02_wrap .stepArea .m_step li { float:left; font-weight:bold; font-size:20px; color:#333; width:190px; height:260px; margin-right:12px; text-align:center;}
.s_cover02_pos .s_cover02_wrap .stepArea .m_step li:last-child {margin:0;}
.s_cover02_pos .s_cover02_wrap .stepArea .m_step .txt_t1 { font-size:16px; color:#1278ba; margin-top:140px;}
.s_cover02_pos .s_cover02_wrap .stepArea .m_step .txt_t1 span { font-size:18px; font-weight:bold;}
.s_cover02_pos .s_cover02_wrap .stepArea .m_step .txt_t2{ color:#333; font-size:18px; margin-top:5px;font-weight: 500; }
.s_cover02_pos .s_cover02_wrap .stepArea .m_step:after { content:""; display:block; clear:both;}

.txt_wrap { width:1200px; margin:auto; }
.txt_stit {font-size:42px; font-weight:bold; color:#333; letter-spacing:-0.08em; padding:0px 0 20px 0; }
.txt_stit:before { content:""; display:inline-block; width:110px; height:1px; background:#333; vertical-align:top; margin:30px 35px 0 0;}
.txt_stit:after { content:""; display:inline-block; width:110px; height:1px; background:#333; vertical-align:top; margin:30px 0 0 35px;font-weight:400}
.txt_stit2 { font-size:45px; text-align:center; font-weight:bold; color:#333; margin-bottom:70px; }
.txt_stit2:before { content:""; display:inline-block; width:120px; height:1px; background:#2b92d5; vertical-align:top; margin:30px 35px 0 0;}
.txt_stit2:after { content:""; display:inline-block; width:120px; height:1px; background:#2b92d5; vertical-align:top; margin:30px 0 0 35px;}
.txt_stit_wh { font-size:42px; text-align:center; font-weight:bold; color:#fff; letter-spacing:-0.08em; margin-bottom:40px; padding-bottom:20px; background:url(/images/ari/stit_wh_bg.jpg) center bottom no-repeat; }
.txt_ssub { font-size:18px; text-align:center; line-height:160%; color:#666; letter-spacing:-0.05em; margin-bottom:80px;font-weight:200}
.txt_ssub_st1 { font-size:25px; text-align:center; line-height:160%; color:#333; letter-spacing:-0.05em; margin-bottom:20px;}
.txt_ssub_st2 { font-size:20px; text-align:center; line-height:160%; color:#666; letter-spacing:-0.05em; margin-bottom:30px;}
.txt_border { font-size:18px; color:#666; border:1px solid #c1c1c1; padding:5px 15px; display:inline-block; margin-top:20px;}
.btnArea { width:1200px; text-align:center;  margin:auto; }
.btnArea2 { width:1200px; text-align:center; margin:auto; padding:40px 0 50px 0; }

.btBasic2 { background:url(/images/ari/btn_arr.jpg) no-repeat 220px 15px; border:1px solid #2253e6; color:#2253e6; width:160px; padding:18px 90px 18px 50px;;opacity: 0.8;box-shadow:1px 8px 10px 2px #2253e63d;transition: all 0.3s;text-decoration:none;font-size:24px}

.btBasic3 { background:url(/images/ari/btn_arr.jpg) no-repeat 320px 15px;width:280px; border:1px solid #2253e6; color:#2253e6; padding:14px 90px 14px 50px;margin-bottom:30px;opacity: 0.8;box-shadow:1px 8px 10px 2px #2253e63d;transition: all 0.3s;text-decoration:none}

.btBasic:hover,.btBasic2:hover,.btBasic3:hover{text-decoration:none;opacity: 1;transition: all 0.3s}


.btBlue { background:#304fb8 url(/images/ari/btn_arr.png) no-repeat 260px 15px; color:#fff; width:225px; padding:14px 90px 14px 50px;opacity: 0.8;box-shadow:1px 8px 10px 2px #3455c53d;transition: all 0.3s;text-decoration:none}
.btBlue:hover,.btBlue2:hover{color:#ffffff;text-decoration:none;opacity: 1;transition: all 0.3s}

.btBlue2 { background:#048dc1 url(/images/ari/btn_arr.png) no-repeat 290px 15px; color:#fff; width:225px; padding:14px 90px 14px 50px;opacity: 0.8;box-shadow:1px 8px 10px 2px #048dc13d;transition: all 0.3s;text-decoration:none}

.media_pos { width:100%; position:relative;margin-top:0px}
.media_pos .m_sec01_wrap { width:1200px; position:relative; margin:0 auto;}
.media_pos .m_sec01_wrap .m_sec01 { margin-bottom:120px;}
.media_pos .m_sec01_wrap .m_sec01 li { float:left; position:relative; width:399px; padding:30px 0 35px 0; border-right:1px solid #e6e6e6; text-align:center;}
.media_pos .m_sec01_wrap .m_sec01 li:last-child { width:400px; border-right:0;}
.media_pos .m_sec01_wrap .m_sec01:after { content:""; display:block; clear:both;}

.title_box2 { text-align:center; width:100%;}

.sec6 { position:relative; width:1200px; margin:0 auto;}
.sec6_wrap { background:#fff; padding:30px 0 10px;margin-bottom:0px;padding-bottom:100px;overflow:hidden}
.etv_wrap ul,.etv_wrap h2{clear:both}
.etv_wrap h2{font-size:20px;font-weight:700;color:#ff9900;border-bottom:1px solid #ffa41a;display:block;margin-bottom:30px;line-height:45px;padding-top:40px}
.etv_wrap h2 span.bl{color:#000000}
.etv_wrap { position:relative; }
.etv_wrap li { position:relative; float:left; background:#fff; margin-right:34px;padding-right:34px; width:247px;margin-bottom:30px;border-right:1px dotted #afafaf;min-height:280px}

.etv_wrap li div.popupVideo {display:inline-block;border:1px solid #d2d2d2;padding:0px;text-decoration: none;transition: all 0.5s }
.etv_wrap li div.popupVideo:hover {transition: all 0.5s;border:1px solid #d2d2d2; box-shadow: 0px 4px 20px 0px #918888; text-decoration: none;}
.etv_wrap li div.popupVideo:hover dl dt{text-decoration:none}
.etv_wrap li div.popupVideo:hover dl dd{text-decoration:none}
.etv_wrap li div.popupVideo:hover .bt_play{background-size:13px;transition: all 0.5s;}
.etv_wrap li div.popupVideo:hover .bt_youtube{opacity:1;background-size:70px;transition: all 0.5s;}
.etv_wrap li .bt_youtube { position:absolute; left:90px; top:36px; width:64px; height:64px; z-index:555; background:url(/images/icon/youtube_icon64.png) center no-repeat ;opacity:0.7;transition: all 0.5s; }


.etv_wrap li a:a dl dt{transition: all 0.5s}

.etv_wrap li a h3{font-size:15px;font-weight:400;color:#000000;display:block;line-height:40px;margin-left:12px}
.etv_wrap li a h3 span{float:right;margin-right:10px;font-size:13px;font-weight:300;color:#939393}

.etv_wrap li img.thum{border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1}

.etv_wrap li div.popupVideo .etv_thum { position:relative; width:100%;height:139px}
.etv_wrap li div.popupVideo dl{padding:10px 10px;}
.etv_wrap li div.popupVideo dl dt.etv_mtit {color:#333;margin-bottom:8px;display:block;text-decoration:none;}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t1{font-weight:600;font-size:13px;display:inline-block;width:48px;letter-spacing:-0.5px;text-align:right;margin-right:4px}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t1_1{font-weight:600;font-size:13px;display:inline-block;width:70px;letter-spacing:-0.5px;text-align:left;}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t1_1 img{vertical-align:middle;width:10px;margin-top:-4px;margin-left:2px}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t2{font-weight:600;font-size:12px;display:inline-block;width:43px;letter-spacing:-0.5px;text-align:right}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t3{font-weight:600;font-size:13px;display:inline-block;width:42px;letter-spacing:-0.5px;text-align:right}

.etv_wrap li div.popupVideo dl dt.etv_mtit2 {border-top:1px solid #e7e7e7;color:#333;margin-bottom:8px;padding-top:8px;display:block;text-decoration:none;}
.etv_wrap li div.popupVideo dl dt.etv_mtit2 span.t1{font-weight:600;font-size:12px;display:inline-block;width:48px;letter-spacing:-0.5px;text-align:right;margin-right:4px}
.etv_wrap li div.popupVideo dl dt.etv_mtit2 span.t2{font-weight:600;font-size:13px;display:inline-block;width:70px;letter-spacing:-0.5px;text-align:left;color:#ff6600}
.etv_wrap li div.popupVideo dl dt.etv_mtit2 span.t3{font-weight:600;font-size:12px;display:inline-block;width:43px;letter-spacing:-0.5px;text-align:right;}
.etv_wrap li div.popupVideo dl dt.etv_mtit2 span.t4{font-weight:600;font-size:13px;display:inline-block;width:42px;letter-spacing:-0.5px;text-align:right;color:#ff6600}

.etv_wrap li div.popupVideo dl dt.etv_mtit span.orange {margin-left:5px;color:#ff6600;font-weight:bold;font-size:13px;letter-spacing:-1.5px;font-family:맑은 고딕}
.etv_wrap li div.popupVideo dl dd.etv_count{font-weight:600;margin:4px 0px 2px 0px;padding-top:6px;;border-top:1px solid #e7e7e7;display:block;text-decoration:none;}
.etv_wrap li div.popupVideo dl dd.etv_count span.t1{cursor:pointer;font-weight:600;font-size:13px;display:inline-block;width:210px;letter-spacing:-1.5px;text-align:right}

.etv_wrap li .bt_play { position:absolute; left:96px; top:56px; width:51px; height:38px; z-index:555; background:rgba(43, 180, 218, 0.6) url(/images/icon/bt_play_arr.png) center no-repeat; border-radius:20%;}

.etv_wrap li:nth-child(4n+0){ margin-right:0;padding-right:0px;border-right:0px }

.etv_wrap li div.help{position:relative;padding-left:2px;background:url(/images/icon/quick.gif) no-repeat 3px 15px;padding-top:40px;font-size:12px;color:#6d6d6d ;font-weight:200;line-height:18px}
.etv_wrap li div.help span.time{background:url(/images/icon/icn_time.png) 0px 1px no-repeat;padding-left:15px;position:absolute;top:12px;right:3px;color:#0027a5;font-weight: 500;}

.game_tip{padding:20px}
.game_tip table{width:100%;border-top:3px solid #e6ecf7;;border-bottom:0px solid #e6ecf7;}

.game_tip table th{padding:10px;font-weight:700;background-color: rgba(0, 4, 25, 0.45);}
.game_tip table td{padding:5px 10px;font-weight:400;border-top:1px; background-color: rgba(0, 4, 25, 0.15);font-size:12px;font-weight:300}
.game_tip table td.center,.game_tip table th.center{text-align:center}

.player-id-dimensions {
	width:100% !important;height:100% !important
}



