
.main_layer_pop.end {
	letter-spacing:-1px;
	font-size:13px;
	line-height:20px;
	color:#333;
	background-color:#ffffff;
	border:3px solid #2b4468;
	position:absolute;z-index:1001;display:none;
	max-width:560px
	
}


.main_layer_pop.end.modal-window {

	background-color:transparent;
	border:0px;
	
}

.main_layer_pop.end .conbox img.main{border-bottom:1px solid #c8c8d2}
.main_layer_pop.end .conbox p.txt{text-align:center;padding:10px;line-height:25px;letter-spacing:0px;    word-break: keep-all;}
.main_layer_pop.end .conbox {
	padding:10px 15px;
}

.main_layer_pop.end .serviceclose{text-align:center; background-color: #f3f3f3; padding-bottom: 20px;}
.main_layer_pop.end .conbox h1 {
	font-size:22px;
	border-bottom:2px dotted #2b4468;
	padding-bottom:15px;
	letter-spacing:-2px;
}
.main_layer_pop.end .conbox .txt {
	padding:5px 0;
}
.main_layer_pop.end .bottomBtn {
	display: block;
    bottom: 0px;
    border: 1px solid #dddddd;
    padding:5px 10px;
    background-color: #f5f5f5;
    width: 100%;
}
.main_layer_pop.end .bottomBtn a {
	font-size:11px;
	letter-spacing:-1px;
	color:#999;
	font-family:'맑은 고딕', '돋움', '돋움체';
	color:#666;
	text-decoration:none;
}
.main_layer_pop.end .bottomBtn a img {
	float:right;margin-top:2px;
}
.main_layer_pop.end .btnGo {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333E5C), color-stop(1, #262E45) );
	background:-moz-linear-gradient( center top, #333E5C 5%, #262E45 100% );
	background-color:#f9f9f9;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #18213D;
	display:inline-block;
	color: #FFF;
	font-size:0.9em;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding:5px 10px 7px 10px;
	background-color:#333E5C;
	font-family:'맑은 고딕', '돋움', '돋움체';
	cursor:pointer
}
.main_layer_pop.end .col_oran {
	color:#F30
}

.main_layer_pop.end h2{padding:0px;margin:0px;position:relative}
.main_layer_pop.end h2 span{padding: 0px; margin: 0px; position: absolute; top: 50px; font-size: 24px; font-weight: 700; color: #ff3300; vertical-align: middle; text-align: center; width: 100%;}
.main_layer_pop.end h2 span strong{font-weight:700;color:#000}
.main_layer_pop.end h2 span img{height:22px;vertical-align:middle;margin-top:-3px;margin-right:3px}