@charset "utf-8";
/* CSS Document */

/*header영역*/
#header { position:relative; width:100%;z-index:12}

#gnb_pos { position:relative; width:100%;}

#gnb_pos .gnb_wrap { position:relative; width:100%; margin:0 auto; }

#gnb_pos .gnb_wrap .top_area { position:relative; width:1300px; margin:0 auto;height:60px;padding-top:34px}
#gnb_pos .gnb_wrap .top_area .logo { position:relative; margin:0px auto; text-align:center;}

#gnb_pos .gnb_wrap .top_area .univ_logo {position:absolute;top:0px;left:0px;height:94px;display:table;z-index:2}
#gnb_pos .gnb_wrap .top_area .univ_logo .univ_logo_a {display:table-cell;vertical-align:middle;}
#gnb_pos .gnb_wrap .top_area .univ_logo .univ_logo_a img{max-height:52px}

#gnb_pos .gnb_wrap .top_area .util { position:absolute; right:0 ;top:52px;}
#gnb_pos .gnb_wrap .top_area .util li { position:relative;float:left;border-right:1px solid #d4d4d4;}
#gnb_pos .gnb_wrap .top_area .util li:last-child {padding-right:0;border-right:0px}
#gnb_pos .gnb_wrap .top_area .util li a {font-size:14px; font-weight:700;color:#333; padding:5px 14px;}
#gnb_pos .gnb_wrap .top_area .util li a:hover {text-decoration:underline}

#gnb_pos .gnb_wrap .top_area .util .admin{background:url(/images/admin/icon_viewbn.png) 10px 1px no-repeat; background-size: 14px 14px;}
#gnb_pos .gnb_wrap .top_area .util .admin a{color:#50c4f5;margin-left:13px;font-size:14px; font-weight:700;}

#gnb_pos .gnb_wrap .gnb_area {position:relative; border-top:1px solid #eee;box-shadow:0 8px 8px -5px #7c7c7c;z-index:11}
#gnb_pos .gnb_wrap .gnb { position:relative; text-align:center; margin:0 auto; width:1300px;}

#gnb_pos .gnb_wrap .gnb li { display:inline-block}
#gnb_pos .gnb_wrap .gnb li span.menu_underline_in{left:0;top:38px;position:absolute;height:4px;width:0%;background: linear-gradient(to right, #2dbccc,#537dae, #9d4d9c);}
#gnb_pos .gnb_wrap .gnb li span.menu_underline_in.wid100p{width:100%}
#gnb_pos .gnb_wrap .gnb li a {position:relative;font-size:21px; font-weight:700;color:#626262;letter-spacing:0px; padding:10px 5px 2px 5px; margin:0 130px; line-height:60px;cursor:default;  transition: all 0.4s}
#gnb_pos .gnb_wrap .gnb li.active a.gr{color:#4a92b9;background: linear-gradient(to right, #2dbccc,#537dae, #9d4d9c);  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;  transition: all 0.4s}
_:-ms-input-placeholder, :root #gnb_pos .gnb_wrap .gnb li.active a.gr{
	background:none !important;
}

#gnb_pos .gnb_wrap .gnb.union li a {position:relative;font-size:16px; font-weight:700;color:#8d8d8d;letter-spacing:0px; padding:10px 5px 2px 5px; margin:0 60px; line-height:75px; cursor:pointer; transition: all 0.4s;z-index:2}

#gnb_pos .gnb_wrap .gnb.union.all-mr30 li a.gr{margin:0 30px;}

#gnb_pos .gnb_wrap .gnb.union.all-mr30 .sub_menu{left:20px}


.inb_pos {z-index:10;display:none;position:absolute;; width:100%; height:45px; background:url(/images/inbbg.jpg); background-size:100%;}
.inb_pos.union {height:0px; background:unset;background-color:#ffffff;    border-bottom: 1px solid #e9e9e9}
.inb_pos.on{display:block;}
.inb_pos .inb_wrap { position:relative; width:1300px; margin:0 auto; }
.inb_pos .inb_wrap .inb {position:relative; width:1300px;}
.inb_pos .inb_wrap .inb .inb_subLnb1 { position:absolute; position:relative; left:250px; top:0; height:45px; width:500px;}
.inb_pos .inb_wrap .inb .inb_subLnb2 { position:absolute; position:relative; left:618px; top:0; height:45px; width:500px;}
.inb_pos .inb_wrap .inb .inb_subLnb3 { position:absolute; position:relative; left:943px; top:0; height:45px; width:500px;}
.inb_pos .inb_wrap .inb .inb_subLnb3 ul li span{margin:0px 10px;color:#ffffff;display:inline-block;vertical-align: middle; margin-top: -3px;}

.inb_pos .inb_wrap .inb .inb_subLnb1 li, .inb_pos .inb_wrap .inb .inb_subLnb2 li, .inb_pos .inb_wrap .inb .inb_subLnb3 li { float:left; padding-right:50px; line-height:23px;padding:10px 0px}
.inb_pos .inb_wrap .inb .inb_subLnb1 li a, .inb_pos .inb_wrap .inb .inb_subLnb2 li a, .inb_pos .inb_wrap .inb .inb_subLnb3 li a { display:inline-block; color:#fff; font-weight:normal; font-size:16px;}
.inb_pos .inb_wrap .inb .inb_subLnb1 li a:hover, .inb_pos .inb_wrap .inb .inb_subLnb2 li a:hover, .inb_pos .inb_wrap .inb .inb_subLnb3 li a:hover {text-decoration:none;border-bottom:1px solid #fff}

#container { position:relative; width:100%;min-height:600px}
#container.dream{min-height:100px}

#footer { position:relative; width:100%; background:#0b1425; }
#footer .foot_wrap {margin:auto; padding:50px 0; text-align:center; width:1200px;color:#989898;font-size:14px;}
#footer .foot_wrap a{font-weight: 500;color:#f8f9fb; padding:4px 34px 4px 8px;; margin-left:10px; background:url(/images/foot_mail.jpg) no-repeat 62px;font-size:13px; background-size:16px;border:1px solid #5d5f65; border-radius:2px;}

.table_st1_counsel { width:100%; text-align:center; border-top:3px solid #a6adb9; }
.table_st1_counsel th {width:150px;font-weight:300; height:35px; border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4; font-size:14px; color:#333; background:#f4f4f4;}
.table_st1_counsel td {text-align:left;word-break: keep-all;padding:10px 10px;min-height:25px; border-bottom:1px solid #d8d8d8; vertical-align:middle; letter-spacing:0em; color:#333}
.table_st1_counsel td input{height:26px}
.table_st1_counsel td a{color:#666666}
.table_st1_counsel th:last-child, .table_st1_counsel td:last-child {border-right:0}

.btn_counsel {height:42px; display:block; margin:auto; background:#2a93d4 url(/images/btn_arr.png) no-repeat 145px 7px; color:#fff; text-align:center; cursor:pointer;width:200px; font-weight:bold; font-size:22px; padding:0px 60px 2px 30px;border:1px solid #2a93d4}
.btn_counsel:hover{box-shadow:0px 1px 5px 0px #3d3839;transition: all 0.3s;}

.blinking2{
	-webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
	z-index:99999;
}

.blinking{
	position:absolute;top:13px;left:88px;
	-webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
	z-index:99999;
}
@-webkit-keyframes blink{
    0% {opacity:0.2;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0.2;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0.2;}
    100% {opacity:1;}
}

.video-popup.reveal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index:9999
}

.video-popup .video-wrapper {
  position: relative;
  width: 80%;
  padding-bottom: 45%;
  z-index: 10
}

.video-popup .video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  margin:0px;padding:0px;
  border:0px;box-shadow: 1px 2px 15px 2px #151313;transition: all 0.5s;
}

.video-popup.reveal .video-popup-closer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 9
} 

.video-popup .video-wrapper.wide {
  width: 60%;
  padding-bottom: 34%;
}



#gnb_pos .gnb_wrap .gnb_area .gnb.union li{position:relative;cursor:pointer;}
.sub_menu{position:absolute;left:47px;top:25px;display:none;}

.sub_menu ul{text-align:left !important;}
.sub_menu ul.w145{width:145px;padding-left:7px}
.sub_menu ul.w188{width:188px}
.sub_menu ul li{display:block !important}
.sub_menu ul li.subm{text-align:left !important;background-color:#cbebf1;color:#0099cc;padding:5px 0px 5px 20px;display:inline-block;width:80%;margin:10px 0px 5px 0px;font-size:15px;font-weight:500; background: #e7f5f6 url(/images/icon/icon_arr1.png) 8px center no-repeat;}
.sub_menu ul li a.sub{transition: all 0.4s;cursor:pointer !important;font-size:14px !important;margin: 0px !important; font-weight:300 !important;background:none !important ; -webkit-background-clip: none !important ;  -webkit-text-fill-color: none !important ;padding:5px 0px 5px 0px !important;line-height:27px !important;color:#6b6b6b !important}
.sub_menu ul li a.sub:hover{color:#000000 !important;text-decoration: underline;    transition: all 0.4s}
#interview_c .sub_menu ul li a.sub,#study_c .sub_menu ul li a.sub{padding:5px 5px 5px 6px !important}

.sub_menu ul li a.sub.on{color:#000000 !important}
.sub_menu h2{position:absolute;border:2px solid #2dbccc;border-bottom:0px solid #ffffff;z-index:9999;padding:0px 10px 0px 15px;width:130px;height:48px}

#interview_c h2{width:120px}
#interview_c .sub_menu ul{width:135px}

#study_c h2{width:98px}
#study_c .sub_menu ul{width:113px}

.sub_menu h2 span.white_line{position: absolute;
    height: 2px;
    background-color: #fff;
    width: 100%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 48px;}

.sub_menu .sub_body{padding:0px 0px 10px 10px;/*overflow:hidden;*/margin-top:60px}

.sub_menu .sub_body ul.gubun{width:100%;height:1px;margin-top:7px}
.sub_menu .sub_body ul.gubun li{border-top:1px solid #d5d5d5}

.sub_menu .sub_body.h2,.sub_menu .sub_body.h4{margin-left:-4px}

.sub_menu .sub_body .menu-new{vertical-align:middle;margin-left:5px;margin-top:-2px}




