body.auth{background-color:#3a6886;}
.auth .main{background-color:#ffffff;width:90%;max-width:460px;margin:0 auto;border:3px solid #449cbd;border-radius:10px;padding:3% 3%;box-shadow:0px 3px 12px 0px #233f52;margin-top:5%;}
.auth .main .logo{text-align:center;padding:10px 0px 15px 0px;border-bottom:1px dotted #449cbd;margin-bottom:10px}
.auth .main h2{font-family:'NanumSquare','Noto Sans KR','맑은 고딕',MalgunGothic,'돋움',Dotum,Helvetica,sans-serif;font-size:1.2em;font-weight:bold;text-align:center;color:#0399db;line-height:30px;margin-top:40px}
.auth .main h2 img{vertical-align:middle;margin:-5px 8px 0px 0px}

.auth .main h3{font-family:'NanumSquare','Noto Sans KR','맑은 고딕',MalgunGothic,'돋움',Dotum,Helvetica,sans-serif;font-size:1.0em;font-weight:bold;text-align:center;color:#0399db;line-height:30px;margin-top:40px}

.auth .col_red{color:#909090}
.auth .gray{color:#ff0000}
.auth .text{font-family:'NanumSquare','Noto Sans KR','맑은 고딕';line-height:44px;font-size:1em;padding:20px 10px 60px 10px;text-align:center;font-weight:500}
.auth .footer{font-size:0.6em;text-align:center;padding:10px;line-height:22px;background-color:#f7f7f7;border-radius:10px}