/* webfont */
@import url("/fonts/pretendard/pretendard.css");
@import url("/fonts/montserrat/montserrat.css");


@font-face {
	font-family:'GmarketSans'; font-style:normal; font-weight:100;
	src: url('/fonts/GmarketSansLight.woff') format('woff'), url('/fonts/GmarketSansLight.ttf') format('truetype');
}

@font-face {
	font-family:'GmarketSans'; font-style:normal; font-weight:400;
	src: url('/fonts/GmarketSansMedium.woff') format('woff'), url('/fonts/GmarketSansMedium.ttf') format('truetype');
}
@font-face {
	font-family:'GmarketSans'; font-style:normal; font-weight:500;
	src: url('/fonts/GmarketSansMedium.woff') format('woff'), url('/fonts/GmarketSansMedium.ttf') format('truetype');
}
@font-face {
	font-family:'GmarketSans'; font-style:normal; font-weight:700;
	src: url('/fonts/GmarketSansBold.woff') format('woff'), url('/fonts/GmarketSansBold.ttf') format('truetype');
}

@font-face {
	font-family:'Gmarket Sans'; font-style:normal; font-weight:700;
	src: url('/fonts/GmarketSansBold.woff') format('woff'), url('/fonts/GmarketSansBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),	
	url('/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),	
	url('/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


*{font-family:'Montserrat', 'Pretendard';box-sizing:border-box}

body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea, button, select, pre, table{font-family:'Montserrat', 'Pretendard'}

body{padding:20px;margin:0px;background: linear-gradient(to right, #fff, #fff,#f3f3f3, #d0d0d0);}
body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea, button, select, pre, table {letter-spacing:0px;color:#494949}
input {
    height: 30px;
  
}

a:hover{text-decoration: underline;}

h2{font-size:24px;font-family:"GmarketSans";font-weight:700;letter-spacing:-1px;padding-bottom:10px;border-bottom:1px dotted #bcbcbc;color:#747474}
h2 span{font-size:22px;font-weight:700;color:#000}
h2 a{font-size:13px;margin-left:20px;border:1px solid #dadada;padding:0px 10px;vertical-align:middle;display:inline-block;height: 24px;line-height: 28px;}

#wrapper{padding:0px 20px;margin:0px;}
#header{font-family:"Montserrat","Pretendard",'맑은 고딕';font-size:14px}
label{font-family:"Montserrat","Pretendard",'sans-serif','맑은 고딕';font-size:16px;font-weight:600;padding:24px 5px 8px 10px;display:block;letter-spacing:-1px;color:#656565}
p{padding:10px 0px 30px 20px;font-size:13px;font-weight: 400; font-family: 'Montserrat','Pretendard';}

.help-desc{font-family:"Montserrat","Pretendard",'sans-serif','맑은 고딕';font-size:12px;font-weight:400;padding:0px 0px 8px 22px;display:block;letter-spacing:-1px;color:#656565}

pre{font-family:"Montserrat","Pretendard",'맑은 고딕'}
.BoxCss{margin-left:20px}
.BoxCss table{background-color:#F5F5F5;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top:1px solid #bfc4ca;border-left:1px solid #bfc4ca;border-bottom:1px solid #bfc4ca;}

h2.logo img {
    margin-right:20px;max-width:140px;max-height:40px;vertical-align:middle
}

pre{font-size:12px}

button {
    display: inline-block;
    background-color: #eae9ed;
    padding: 0px 10px;
    text-align: center;
    cursor: pointer;
    min-width: 80px;
    height: 30px;
    border: 1px solid #d9d9d9;
    font-weight: 400;
}

.pl20{padding-left:20px}

.BoxCss table tr:first-child th:first-child {
	border-top-left-radius: 5px;
}
.BoxCss table tr:first-child th:last-child {
	border-top-right-radius: 5px;
}
.BoxCss table tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}
.BoxCss table tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}
.BoxCss a{font-weight:500;cursor:pointer}
.BoxCss table td.head{background-color:#f7f5f8}
.BoxCss table th{text-align:center;padding:5px;font-size:12px;border-right:1px solid #bfc4ca;background-color:#eae9ed;color:#255f81;font-weight:600}
.BoxCss table td{padding:5px;background-color:#FFFFFF;text-align:center;font-size:12px;border-top:1px solid #bfc4ca;border-right:1px solid #bfc4ca}

.BoxCss table td.head strong{font-weight:400;font-size:13px}

.BoxCss table th.t_left,.BoxCss table td.t_left{text-align:left}

.code{border: 1px dashed #b1b1b1; padding:10px 15px; border-radius: 10px; background-color: #fff; margin: 0px 20px;}
.BoxCss .in_table{width:100%;background-color:#FFFFFF;height:25px;text-align:center;font-size:12px;border:0px;padding:0px}
.BoxCss .in_table td{background-color:#FFFFFF;height:22px;text-align:center;font-size:12px;border:1px solid #bfc4ca;padding:0px;margin:0px}

.help{font-size:12px;color:#ff6600}


.button2{
	font:11px "맑은 고딕"; letter-spacing:-1px;

	/* A semi-transparent text shadow */
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	
	/* Overriding the default underline styling of the links */
	text-decoration:none !important;
	white-space:nowrap;	
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:3px 5px 2px 5px;
	background:url(/admin/images/btn_bg_basic.gif) repeat-x bottom left;

	
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;
	
	/* Applying a default border raidus of 2px */
	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
}

.b_blue{padding:1px 8px 3px 7px;border:1px solid #0066cc;color:#0066cc;font-size:12px;vertical-align:middle}
.b_gray{padding:1px 8px 3px 7px;border:1px solid #a6a3a7;color:#a6a3a7;font-size:12px;vertical-align:middle}
.b_black{padding:1px 8px 3px 7px;border:1px solid #6f6b70;color:#555256;font-size:12px;vertical-align:middle}
.b_red{padding:1px 8px 3px 7px;border:1px solid #ff3300;color:#ff3300;font-size:12px;vertical-align:middle}

input[type=text]{width:200px;font-size:13px}

.c_red{color:red}

textarea{width:100%;height:60px;font-size:12px;}
.send{padding:3px 15px;text-align:center;cursor:pointer;font-size: 13px;}
.send:hover{background-color:#3c3c3c;color:#ffffff}

ul{padding:0px 0px 20px 20px}
ul li{line-height:25px;overflow:hidden}

ul li .input_box{line-height:25px;float:right}
ul li .input_box input{height:20px}
ul li.arr{padding-left:20px;width:460px}
ul li.arr.w550{width:550px}
ul li.arr.login{padding-left:10px}
ul li.arr.single{padding-left:0px;width:470px;margin-bottom:10px}

ul li .apply_btn{cursor:pointer;width:212px;padding:5px 0px;height:34px !important}
ul li .apply_btn:hover{background-color:#3c3c3c;color:#ffffff}

.select{width:212px;height:24px}
#aec_result{margin-top:30px}

.contact{color: #317795;display:block;width:100%;border-top:1px dotted #939393;margin:20px 0px;padding-top:20px}
.contact span{display:block;line-height:20px}
.contact span:first-child{color: #317795;font-weight:500; font-size: 12px;padding:10px 0px}
.contact span.name{color: #317795;font-size:12px;font-weight:300}
.contact span.name strong{font-size:13px;padding-right:5px;font-weight:500}
.contact span.email a{color: #317795;text-decoration:blank;text-decoration:initial}
.contact span.email a:hover{text-decoration-line: underline;text-underline-position: under;}
.contact span.desc{font-size:12px;font-weight:300;padding:2px 0px 5px 0px}
.contact span.adress{font-size:11px;font-weight:300;line-height:18px;padding:8px 0px}


p a{color:#1e87dd;font-size:15px;font-weight:500;line-height:35px}
p a.normal{color:#6c6a6a;font-size:14px;font-weight:400;text-decoration-line: underline; text-underline-position: under;}



.type-desc{font-size: 13px; font-weight: 400; margin-left: 10px; color: #676767;}

textarea {
    width: 100%;
    min-height: 80px;
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fcffd5;
}

.help-desc{font-family:"Montserrat","Pretendard",'sans-serif','맑은 고딕';font-size:12px;font-weight:400;padding:0px 0px 8px 22px;display:block;letter-spacing:-1px;color:#656565}

.help-source{
	margin-top:20px;
}
.help-source h4{display:block;padding:0px 0px 10px 0px;font-weight:600}