.mobile_form h2
,.find_pass_div
,.find_pass_div .btn_pass
,.mobile_form .reg
,#rst span.off
,#rst span.ready
{
    font-family:'Montserrat','pretendard'
}
#user_id, #user_pass {
	font-family:'Montserrat','pretendard';
    height: 38.5px;
	width:280px;
}