


/*----------page이동버튼----------*/
.paging_area {
    position: relative;
    display: block;
    width: 100%;
    margin:20px 0px 40px 0px;
    text-align: center;
    overflow: hidden
}

.paging_area.recruit{margin:15px 0px}

.paging_area img {
    vertical-align: top;
}

.paging_area span {
    display: inline-block;
    padding: 0 5px;
    height: 28px;
    font-size: 16px;
    color: #666;
    line-height: 26px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

.paging_area span.on {
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    color: #0399db;
    line-height:26px;
}


.paging_area a {
     color: #666;
}
.paging_area a:hover {
    text-decoration: none;
}

.paging_area .prev, .paging_area .next {
    display: inline-block;
    margin: 0 2px;
    padding: 0
}

.paging_area .prev a, .paging_area .next a {
    margin: 0;
    padding: 0
}

.paging_area .prev {
    margin-right:8px
}

.paging_area .next {
    margin-left:8px
}

.paging_area .next_e {
    margin:0px
}


.paging_area .prev_f {
    margin:0px
}







nav.pagination ul li a.pagination-arow.none { opacity: 0.5 } 
nav.pagination ul li a.pagination-arow img { border:1px solid #ebebeb; height:32px;  } 

nav.pagination ul li a.pagination-arow.none img { border:1px solid #e3e3e3 } 


nav.pagination ul {
    -moz-column-gap: .25rem;
    column-gap: .25rem;
    display: flex;
    list-style-type: none
}

nav.pagination ul li a {
  
    background-color: transparent;
    border-radius: 2px;
    border-width: 0;
    display: block;
    font-weight: 700;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: 14px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    padding: 0px 5px;
    height: 32px;
    min-width: 35px;
    line-height: 30px;
    text-align: center;
	color:#ff5500
}

nav.pagination ul li a:not(.pagination-arow){
	border:1px solid #ffb6b6
}

nav.pagination ul li a:hover {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: #f50;
    color: #fff;
}

nav.pagination ul li a.pagination-arow {
    border-radius: 0;
    height: 33px;
    padding: 0;
    width: 32.55px
}

nav.pagination ul li a.pagination-arow:hover {
    background-color: transparent
}

nav.pagination ul li.active a:not(.pagination-arow),nav.pagination ul li:hover a:not(.pagination-arow){border:1px solid #fff;}

nav.pagination ul li.active a {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: #f50;
    color: #fff;

}