.rpt_top {
    border-top: 4px solid #00adff !important;
}

.rpt_top .rpt_top_tit {   
    border-bottom: 1px solid #00adff !important;
}

.play_desc_box h2.orange {
    color: #00adff;
    border-bottom: 1px solid #00adff;
}
.play_desc_box p.orange {
    color:#00adff;
}


.rpt_top .rpt_top_tit .txt_point {
    color: #00adff  !important;
}