@charset "utf-8";


input { height:38px; font-size:15px; border:solid 1px #d5d5d5; padding-left:10px; }
input.st1 { border:solid 1px #ced2d8; padding-left:10px; height:30px; margin-left:5px; }
input.st2 { height:38px; width:300px; font-size:15px; border:solid 1px #d5d5d5; border-right:0; padding-left:10px; float:left;}
input.st3 { height:36px; width:108px; font-size:15px; border:solid 1px #888; padding-left:10px; }
input.chkb { width:13px; height:13px; border:1px solid #868686;}

select { height:36px; width:200px; color:#888; font-size:15px; border:solid 1px #a0a0a0; appearance: none; -webkit-appearance: none; background:#fff url(/images/sel_arr.jpg) 100% 50% no-repeat; padding:0 8px;}
select::-ms-expand {display:none;}

select.st1 { border:solid 1px #ced2d8; height:30px; margin-left:5px;}


/*style*/
.fl { float:left;}
.fr { float:right;}
.tit_line_c { display:block; width:60px; height:2px; background:#000; margin:0 auto; margin-bottom:15px;}
.tit_line_l { display:block; width:60px; height:2px; background:#000; margin-bottom:15px;}
.p8_r { padding-right:8px;}
.p10 { padding:0 10px;}
.p30 { padding:0 30px;}
.p30_bh { padding-bottom:30px;}
.p10_h { padding:10px 0;}
.p10_bh { padding-bottom:10px;}
.ap_L10 { text-align:left; padding-left:10px;}
.abs_R { position:absolute; right:0; top:120px;}
.block { display:block;}
.clear { clear:both; }


.mt0 { margin-top:-2px;}
.mt10 { margin-top:10px;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px;}
.mt30 { margin-top:30px;}
.mt35 { margin-top:35px;}
.mt40 { margin-top:40px;}
.mt50 { margin-top:50px;}
.mb10 { margin-bottom:10px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px;}
.mb50 { margin-bottom:50px;}
.mr10 { margin-right:10px;}
.mr40 { margin-right:40px;}
.pr10 { padding-right:10px;}
.pl10 { padding-left:10px;}
.pt50 { padding-top:50px;}




/*font style*/
.uline { text-decoration:underline;}
.fc_bl { color:#09a0c6;}
.fc_bl2 { color:#2a97d3;}
.fc_bl3 { color:#2a97d3; font-style:italic; font-weight:normal; margin-right:10px;}
.comemnt_R { display:block; text-align:right; font-size:16px; padding-top:20px; }
.fw_nor {font-weight:normal;}
.fw_blod {font-weight:bold;}

/*font size*/
.fs40 { font-size:40px;}




/*font*/
.txt_mtit {font-size:42px; font-weight:bold; color:#333; letter-spacing:-0.08em; margin-bottom:20px; padding:60px 0 0 0; background:url(/images/m_tit_img1.png) center top no-repeat; }
.txt_msub { font-size:18px; color:#888; letter-spacing:-0.05em;font-weight:500}
.txt_mtit2 {font-size:42px; font-weight:bold; color:#fff; letter-spacing:-0.08em; margin-bottom:20px; padding:60px 0 0 0; background:url(/images/m_tit_img2.png) center top no-repeat;}
.txt_msub2 { font-size:18px; color:#52bafe; letter-spacing:-0.05em;}
.txt_mtit3 {font-size:42px; font-weight:bold; color:#fff; letter-spacing:-0.08em; margin-bottom:20px; padding:60px 0 0 0; background:url(/images/m_tit_img3.png) center top no-repeat;}
.txt15_g { font-size:15px; color:#666; text-align:center; line-height:22px; letter-spacing:-0.05em;font-weight:300}
.txt16_g { font-size:16px; color:#666; text-align:center; line-height:24px; letter-spacing:-0.05em;font-weight:300}
.txt20_b { font-size:20px; color:#666; text-align:center; line-height:22px; letter-spacing:-0.05em; font-weight:bold;}
.txt35_g { font-size:35px; color:#333; text-align:center; letter-spacing:-0.05em;}
.txt_b {font-weight:bold;}

.cont_tit1 { font-size:26px; font-weight:none; color:#333;letter-spacing:-0.08em; margin-bottom:25px; }
.txt28_b { font-size:28px; font-weight:none; color:#000; }
.txt34_b { font-size:34px; font-weight:none; color:#000; margin-bottom:30px; text-align:center; background:url(/images/tit_line.png) center no-repeat; }
.txt42_b { font-size:42px; font-weight:bold; color:#000; margin-bottom:30px; }
.txt16pl_g { font-size:16px; color:#888; etter-spacing:-0.08em; padding-left:15px;}
.txt14_g { font-size:14px; color:#666; text-align:left; letter-spacing:-0.08em;}
.txt17_g { font-size:17px; color:#555; line-height:27px;font-weight:300}
.txt18_g { font-size:18px; color:#888; text-align:center; letter-spacing:-0.05em;}
.txt20_g { font-size:20px; font-weight:lighter; color:#888; letter-spacing:-0.08em;}
.txt32_h { font-size:32px; font-weight:none; color:#fff; margin-bottom:20px; letter-spacing:-0.08em; line-height:40px;}
.txt44_h { font-size:40px; font-weight:bold; color:#fff; margin-bottom:20px; }
.txt20_h { font-size:20px; color:#fff; letter-spacing:-0.08em;}
.txt28_bl { font-size:28px; color:#2b92d5; font-weight:bold;}
.txt24_bl { font-size:24px; color:#0c69c1; font-weight:bold;}
.txt45_bl { font-size:45px; color:#0c69c1; font-weight:bold;}
.txt62_bl { font-size:62px; font-weight:bold; color:#47d2eb; letter-spacing:0.02em;}

.txt_bl{ color:#01a8cc; }
.t_tit1 {font-size:44px; font-weight:none; color:#fff; letter-spacing:-0.05em; margin-bottom:15px;}
.t_tit2 {font-size:18px; font-weight:none; color:#fff; letter-spacing:-0.08em; }


/*button style*/
.bt_submit { display:block; width:100px; height:35px; line-height:35px; color:#fff; background:#2b92d5; font-weight:bold; text-align:center; margin:65px auto 20px; font-size:14px;}
.bt_result { display:inline-block; font-size:14px; line-height:27px; background:url(/images/bt_result.jpg) no-repeat 10px 7px; color:#2b92d5; border:1px solid #2b92d5; padding:0 10px 0 27px; margin-right:5px;}
.bt_video { display:inline-block; font-size:14px; line-height:29px; background:#97a3b1 url(/images/bt_video.jpg) no-repeat 10px 7px; color:#fff; padding:0 10px 0 27px; margin-right:5px;}
.bt_st1 { display:inline-block; width:75px; height:30px; font-size:13px; line-height:30px; background:#757c80; color:#fff; text-align:center;}
.bt_st2 { display:inline-block; width:75px; height:28px; font-size:13px; line-height:28px; color:#5d6670; border:1px solid #b7c2cd; text-align:center;}
.bt_st3 { display:inline-block; font-size:14px; line-height:27px; color:#919eae; padding:0 10px; border:1px solid #919eae;}
.bt_listen { display:inline-block; width:28px; height:27px; font-size:13px; line-height:27px; background:#eaeaea url(/images/bt_listen.jpg) no-repeat 10px 7px; color:#5f6980; border:1px solid #c6ced6; padding:0 10px 0 25px}
.bt_set { position:relative; width:100%; margin:20px 0 130px; text-align:center; }
.bt_view { position:absolute; right:1px; top:167px; width:32px; height:32px; text-indent:-999%; background:rgba(0, 0, 0, 0.5) url(/images/bt_view.png) center no-repeat;  }
.bt_bl300 a { display:block; width:300px; height:62px; background:#01a8cc; color:#fff; font-size:25px; font-weight:bold; text-align:center; line-height:62px; margin:0 auto;}
.bt_bl300 a:hover { background:#02b4db;}
.bt_dbl300 a { display:block; width:300px; height:62px; background:#172e46; color:#ffff33; font-size:25px; font-weight:bold; text-align:center; line-height:62px; margin:0 auto; margin-top:50px; z-index:10;}
.bt_dbl300 a:hover{ color:#fcfc62; background:#22405f;}
.bt_bl_line { display:block; width:150px; height:35px; border:1px solid #01a8cc; color:#01a8cc; font-size:16px; text-align:center; line-height:33px; margin:16px auto 0;}
.bt_start { display:inline-block; width:280px; height:58px; font-size:23px; border:1px solid #01a8cc; color:#01a8cc; text-align:center; line-height:56px; margin:0 10px; }
.bt_write { display:inline-block; width:282px; height:60px; font-size:23px; background:#01a8cc; color:#fff; text-align:center; line-height:56px; margin:0 10px; }
.bt_search { display:inline-block; float:right; height:28px;width:75px; line-height:28px; margin-left:10px; text-align:center; font-size:14px; border:1px solid #2b92d5; color:#2b92d5; font-weight:bold; }
.bt_search1 { display:inline-block; float:right; height:36px; width:36px; background:#283e56 url(/images/icon_search.png) center no-repeat; text-indent:-9999%;}
.bt_search2 { display:inline-block; float:left; height:36px; width:36px; background:#fff url(/images/icon_search2.png) center no-repeat; text-indent:-9999%; border:1px solid #d5d5d5;  border-left:0;}
.bt_date { display:inline-block; float:left; height:36px; width:36px; background:#fff url(/images/icon_date.png) center no-repeat; text-indent:-9999%; border:1px solid #d5d5d5;  border-left:0;}
.bt_open { display:block; width:186px; height:40px; background:#4ebed6 url(/images/icon_open.png) 20px center no-repeat; font-size:16px; color:#fff; text-align:center; padding-left:26px; line-height:38px; letter-spacing:-0.05em}
.bt_coupon { display:inline-block; height:36px; width:85px; background:#273e56; color:#fff; font-size:15px; line-height:36px;}
.bt_bl240 { display:block; width:240px; height:44px; border:1px solid #01a8cc; line-height:46px; color:#01a8cc; text-align:center; margin:30px auto 20px; font-size:20px;}
.bt_bl160 { display:block; width:160px; height:44px; border:1px solid #01a8cc; line-height:46px; color:#01a8cc; text-align:center; margin:30px auto 20px; font-size:20px;}
.bt_del { display:inline-block; width:78px; height:28px; font-size:14px; line-height:28px; background:#f8f8f8 url(/images/icon_del.png) 10px center no-repeat; border:1px solid #e1e1e1; padding-left:25px; }
.bt_copy { display:inline-block; width:70px; height:28px; font-size:14px; line-height:28px; background:#f8f8f8 url(/images/icon_copy.png) 10px center no-repeat; border:1px solid #e1e1e1; padding-left:33px; }

.bt_st_my { width:55px;display:inline-block; font-size:14px; line-height:27px;padding:0 8px;color:#ff3300; border:1px solid #ff3300  }
.bt_st_my:hover,.bt_result:hover,.bt_video:hover{box-shadow:1px 1px 2px 0px #868686;transition: all 0.3s;}
.bt_st_my.done:hover,.bt_result.done:hover,.bt_video.done:hover{box-shadow:none;transition:none;}



.bt_st_my.done,.bt_result.done{color:#b6bec9; border:1px solid #d9d9d9;opacity: 0.6}
.bt_video.done{opacity: 0.3}
/*table style*/
.table_st1 { border:0; width:100%; text-align:center; margin-bottom:10px;}
.table_st1 th { height:45px; border-top:1px solid #c6ced6; border-bottom:1px solid #c6ced6; font-size:14px; color:#424e5b; background:#e9edf2;}
.table_st1 td { height:45px; border-bottom:1px solid #dadee3; font-size:14px; vertical-align:middle; color:#666;}
.table_st1 td.txt_l {text-align:left; padding-left:10px;}
.table_st1 th:last-child, .table_st1 td:last-child {border-right:0}

.table_st2 { border-bottom:2px solid #69829b; width:100%; text-align:center; margin-bottom:10px;}
.table_st2 th { height:55px; border-top:2px solid #69829b; border-bottom:1px solid #69829b; font-size:15px; font-weight:bold; color:#424e5b; background:#f5f5f5;}
.table_st2 td { height:55px; border-bottom:1px solid #dadee3; font-size:14px; vertical-align:middle; color:#666; font-weight:300; }
.table_st2 td.date{font-size:14px;font-family:'맑은 고딕';letter-spacing:0px}
.table_st2 td.per_done{font-size:15px;font-family:'맑은 고딕';letter-spacing:0px}
.table_st2 td span.part{font-weight:300;color:#2b92d5}
.table_st2 td.step{font-size:12px;font-family:'맑은 고딕';word-break: keep-all}
.table_st2 td.txt_l {text-align:left; padding-left:10px;}
.table_st2 th.txt_l {text-align:left; padding-left:30px;}
.table_st2 th:last-child, .table_st1 td:last-child {border-right:0}

.paging { padding:50px 0; font-size:16px; text-align:center; }
.paging a { display:inline-block; padding:10px; margin:0 5px; line-height:10px; color:#888;}
.paging .on { color:#2b92d5;}
.paging .first { border:1px solid #ccc; margin:0 0 -5px 0; background:url(/images/arr.jpg) no-repeat 3px 2px;}
.paging .pre { border:1px solid #ccc; margin:0 10px -5px 0; background:url(/images/arr.jpg) no-repeat -23px 2px;}
.paging .next { border:1px solid #ccc; margin:0 0 -5px 10px; background:url(/images/arr.jpg) no-repeat 3px -12px;}
.paging .last { border:1px solid #ccc; margin:0 0 -5px 0; background:url(/images/arr.jpg) no-repeat -23px -12px;}



/*popup*/

.pop1_wrap { box-shadow:0px 2px 8px 1px #3d3839; }

.pop1_wrap .pop_tit { position:relative;  height:75px; background:#01a8cc; text-align:center; color:#fff; font-size:26px; font-weight:600; line-height:75px;}
.pop1_wrap .pop_body { position:relative;background:#fff; padding:40px 20px 20px 20px; text-align:center;}
.pop1_wrap .pop_tab { position:relative; width:100%; height:75px; text-align:center; }

.pop1_wrap .pop_tab li {cursor:pointer; display:block; float:left; width:400px; background:#6b6b6b; color:#fff; font-size:24px; font-weight:600; line-height:75px;border-right:1px solid #8a8a8a }
.pop1_wrap .pop_tab li:last-child{width:400px;border-right:0px}
.pop1_wrap .pop_tab li a { display:block; color:#fff;}
.pop1_wrap .pop_tab li.on { background:#01a8cc; color:#fff;}
.close { position:absolute; right:28px; top:28px;}

.pop2_wrap { position:relative; position:absolute; left:50%; top:200px; width:745px; margin:0 auto 0 -380px; z-index:500; }
.pop2_wrap .pop_tab { position:relative; width:745px; height:75px; text-align:center; }
.pop2_wrap .pop_tab li { display:block; float:left; width:372px; height:75px; background:#6b6b6b; color:#fff; font-size:24px; font-weight:600; line-height:75px; }
.pop2_wrap .pop_tab li a { display:block; color:#fff;}
.pop2_wrap .pop_tab li.on { background:#01a8cc; color:#fff;}
.pop2_wrap .pop_body2 { position:relative; width:705px; height:500px; background:#fff; padding:40px 20px 10px 20px; text-align:center;}

.pop3_wrap { position:relative; position:absolute; left:50%; top:200px; width:685px; margin:0 auto 0 -360px; z-index:500; }
.pop3_wrap .pop_tit3 { position:relative; width:655px; height:60px; background:#01a8cc; text-align:left; padding-left:30px; color:#fff; font-size:19px; font-weight:600; line-height:60px;}
.pop3_wrap .pop_body3 { position:relative; width:625px; background:#fff; padding:30px; text-align:left; line-height:24px; font-size:16px; color:#666;}
.pop3_wrap .pop_body3 input { margin-right:10px;}
.pop3_wrap .pop_body3 textarea { width:100%; border:1px solid #01a8cc; padding:12px; font-size:14px; color:#666; letter-spacing:-0.03em; margin-bottom:10px;}
.pop3_wrap .coupon_box { width:100%; height:55px; padding-top:20px; background:#f5f5f5; text-align:center; margin:20px 0 16px;}
.close2 { position:absolute; right:22px; top:22px;}
.pop3_wrap .tool_tab li { height:42px; float:left; font-size:16px; line-height:40px; text-align:center;}
.pop3_wrap .tool_tab li a { width:135px; height:42px; float:left; color:#fff;}
.pop3_wrap .tool_tab .tooltab1 { display:inline-block; width:114px; height:41px; padding-left:20px; background:#ebebeb url(/images/icon_tool1_1.png) 15px center no-repeat; border-left:1px solid d3d3d3; border-top:1px solid d3d3d3; color:#888;}
.pop3_wrap .tool_tab .tooltab2 { display:inline-block; width:124px; height:41px; padding-left:10px; background:#ebebeb url(/images/icon_tool2_1.png) 25px center no-repeat; border-left:1px solid d3d3d3; border-top:1px solid d3d3d3; color:#888}
.pop3_wrap .tool_tab .tooltab3 { display:inline-block; width:123px; height:41px; padding-left:10px; background:#ebebeb url(/images/icon_tool3_1.png) 23px center no-repeat; border-left:1px solid d3d3d3; border-top:1px solid d3d3d3; border-right:1px solid d3d3d3; color:#888}
.pop3_wrap .tool_tab .tooltab1 a, .pop3_wrap .tool_tab .tooltab2 a, .pop3_wrap .tool_tab .tooltab3 a { color:#888;}
.pop3_wrap .tool_tab .tooltab1_on { display:inline-block; width:115px; height:42px; padding-left:20px; background:#3ebbd6 url(/images/icon_tool1.png) 15px center no-repeat; color:#fff;}
.pop3_wrap .tool_tab .tooltab2_on { display:inline-block; width:125px; height:42px; padding-left:10px; background:#3ebbd6 url(/images/icon_tool2.png) 25px center no-repeat; color:#fff;}
.pop3_wrap .tool_tab .tooltab3_on { display:inline-block; width:125px; height:42px; padding-left:10px; background:#3ebbd6 url(/images/icon_tool3.png) 23px center no-repeat; color:#fff;}
.pop3_wrap .tool_tab:after { content:""; display:block; clear:both;}
.pop3_wrap .bytebox { font-size:14px; line-height:19px; letter-spacing:-0.02em;}

.pop4_wrap { position:relative; position:absolute; left:50%; top:200px; width:480px; margin:0 auto 0 -200px; z-index:500;}
.pop4_wrap .pop_tit4 { position:relative; width:450px; height:60px; background:#01a8cc; text-align:left; padding-left:30px; color:#fff; font-size:19px; font-weight:600; line-height:60px;}
.pop4_wrap .pop_body4 { position:relative; width:420px; background:#fff; padding:30px; text-align:left; line-height:24px; font-size:16px; color:#666;}
.guide_txt { width:100%; text-align:center; font-size:20px; line-height:20px; padding:30px 0 20px; color:#666;}

.practice_desc{float:left;text-align:left;padding:18px;color:#666;font-size:12px;width: 62%;font-family:'NanumSquare','Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    line-height: 150%;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}

.bg_renew{background-color:#137c9b;background: linear-gradient(to right, #1c82bd, #10a4ae);}
#report_area{margin:0}

.contCenter{text-align:center;background-color: #f2fbfb;padding: 20px 0px;}

.explain li {
	background-image: url(/images/report/blt_dot01.png);
	background-repeat: no-repeat;
	list-style-type: none;
	padding-left: 9px;
	font-size: 13px;
	margin-bottom: 4px;
	background-position: left 3px;
	display: block;
	line-height:150%;
	margin-top:5px;
	    letter-spacing: -0.5px;
}


table.tgraph01 {
	/*border-top-width: 2px;
	border-bottom-width: 1px;*/
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e0e0e0;
	border-bottom-color: #e0e0e0;
	margin-bottom: 10px;
	border-radius:15px;border-left:1px solid #e0e0e0;
}
.tgraph01 tr th {
	font-size: 13px;
	color: #505050;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	background-color:#f5f8fd;
	height:40px;font-weight:500
}

.tgraph01 tr th.grade-1{background-color:#fd7197}
.tgraph01 tr th.grade-2{background-color:#70b0d8}
.tgraph01 tr th.grade-3{background-color:#9c9c9c}

.tgraph01 tr th strong{font-weight:600}

.tgraph01 tr th:first-child{border-radius:15px 0px 0px 0px}
.tgraph01 tr th:last-child{border-radius:0px 15px 0px 0px}

.tgraph01 tr td.bottom-left,.tgraph01 tr:last-child td:first-child{border-radius:0px 0px 0px 15px}
.tgraph01 tr td.bottom-right,.tgraph01 tr:last-child td:last-child{border-radius:0px 0px 15px 0px}

.tgraph01 tr:last-child td.rad-none{border-radius:0px}

.tgraph01 tr td strong{font-weight: 500;}

.tgraph01 tr td.bar01 {
	border-bottom: 1px solid #e0e0e0;
	background-color:#f5f8fd;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	padding: 0px;
	color:#616E8E;
	
}

.tgraph01 tr td {
	font-size: 13px;
	color: #626262;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #e0e0e0;
	height:34px;
}

.tgraph01 tr td.lnvr_none {
	font-size: 12px;
	color: #626262;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 0px;
	border-right-style: none;
}
.tgraph01 tr td dt{font-weight: 400;line-height:150%;font-size:12px;letter-spacing: 0px;word-break:keep-all}

.ln_vnon { border-right:none 0px}


.grType1_bg {
	background-image: url(/images/report/bg_full_graph01.gif);
	background-repeat: repeat-y;
	width: 219px;
	padding: 0px;
}


.flash_box {
	border: 1px solid #B2BDE5;
	padding: 4px;
	background-color: #E6EAF9;
	margin-bottom: 12px;
}
.flash_box div.stitle {
	font-size: 11px;
	letter-spacing: -1px;
	padding: 3px;
	text-align: center;
}

.flash_box div.inbox {
	border: 1px solid #CCD3EE;
	background-color: #FFF;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	text-align: center;
}
.flash_box div.inbox3 {
	border: 1px solid #CCD3EE;
	background-color: #FFF;
	text-align: center;
	padding: 10px;
}

.lrpad10 { padding: 5px 10px;}

div.footnote {
	padding:30px;
    border: 1px solid #e0e0e0;
    font-size: 13px;
    border-radius: 15px;
}
.footnote ul li{line-height:130%;letter-spacing:0px}
.footnote ul li.sti {
	color: #6377C2;
	margin-bottom: 3px;letter-spacing: 0px;line-height:20px;font-weight:600
}
.footnote ul li.summ {
	margin-bottom: 6px;
}

.tmargin5 { margin-top:5px; }
.tmargin7 { margin-top:7px; }
.tmargin10 { margin-top:10px; }
.lmargin10 { margin-left:10px; }
.bmargin8 {	margin-bottom: 8px;}
.bmargin5 {	margin-bottom: 5px;}
.bmargin10 { margin-bottom:10px; }
.bmargin15 { margin-bottom:15px; }
.bmargin20 { margin-bottom: 20px;}
.bmargin30 { margin-bottom:30px;}
.bmargin40 { margin-bottom:40px;}
.rmargin10 { margin-right:10px; }
.rmargin14 { margin-right: 14px;}
.dis_inline {
    display: inline;
}
.gTip{font-size:11px; letter-spacing:-1px; color:#676566;position:absolute;left:154px;bottom:30px}
.gTip li{background:url(/images/report/tip_valueType.png) no-repeat; padding-left:9px; text-align:left;font-size:11px;font-weight:300}
.gTip li.right{background:url(/images/report/tip_valueType.png) no-repeat right; padding-right:11px; text-align:right}
.gTip li.c01{background-position: 0px 3px}
.gTip li.c02{background-position: 0px -19px}
.gTip li.c02a{background-position: right -19px;}
.gTip li.c03{background-position: 0px -46px}
.gTip li.c04{background-position: 0px -67px}

.center{text-align:center}

.sub-area .pt-lie-desc h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #484848;
}