#wrapper{width:unset !important;margin:0 auto;background-color:#fff;margin-top:20px;margin-bottom:120px}

.survey .title .logo_txt{display:inline-block;vertical-align:middle;font-size:15px;font-weight:600;color:#4888bf;margin-left:0px;line-height:21px;padding-top:20px}