
/* research list */
.research_topbanner {background: linear-gradient(90deg, #f5f5f5 0%, #fff 100%); padding: 1.875rem 0 1.25rem; margin-bottom: 3.125rem;}
.research_topbanner .research_topswiper {gap: 0; flex-wrap: unset;}
.research_topbanner .research_topswiper .item { aspect-ratio: 1 / 0.6; width: calc((100% - 0.625rem * 2) / 3); background: #000;}
.research_topbanner .research_topswiper .item .bgbox::after { content: "";  position: absolute; left: 0;  top: 0;  width: 100%; height: 100%; background: #000; opacity: 0;  transition: var(--transition);}
.research_topbanner .research_topswiper .item .bgbox .new_icon { position: absolute;   left: -0.313rem; top: -0.313rem; width: 3.75rem;}
.research_topbanner .research_topswiper .item .txtbox { padding: 1.875rem 1.875rem 0;}
.research_topbanner .research_topswiper .item .txtbox .title { font-size: 1.25rem;  margin-bottom: 1.25rem;}
.research_topbanner .research_topswiper .item .txtbox .bottom .point { font-size: 0.875rem;  letter-spacing: -0.02em;}
.research_topbanner .research_topswiper .item .imgbox { width: 45%; max-width: 16.688rem;}
.research_topbanner .research_topswiper .item:hover .bgbox::after {opacity: 0.2;}
.research_topbanner .research_topswiper .item:hover .imgbox { width: 53%; max-width: 19.563rem;}
.research_topbanner .controls { display: flex; align-items: center; justify-content: center; margin-top: 0.625rem;}
.research_topbanner .controls .prev_btn, 
.research_topbanner .controls .next_btn { position: relative;  left: unset; right: unset; top: unset; margin: 0; width: 2.125rem; height: unset; aspect-ratio: 1 / 1;  background: no-repeat center / contain;}
.research_topbanner .controls .prev_btn {background-image: url(../img/research_prev.png); margin-right: 1.188rem;}
.research_topbanner .controls .next_btn {background-image: url(../img/research_next.png); margin-left: 1.188rem;}
.research_topbanner .controls .pagination {  position: relative;  left: unset;  top: unset;  bottom: unset;  display: flex;  align-items: center;  justify-content: center; gap: 0.25rem; padding: 0 0.5rem;  font-size: 0.75rem; line-height: 150%;  text-align: center;  color: #333333; width: unset;}
.research_topbanner .controls .pagination .swiper-pagination-current {  min-width: 0.938rem; text-align: center;  color: #333333;}
.research_topbanner .controls .pagination .swiper-pagination-total {  min-width: 0.938rem; text-align: center;}
.research_topbanner .controls .play_btn {background: url(../img/research_pause.png) no-repeat center/contain; width: 2rem; aspect-ratio: 1/1; cursor: pointer; transition: var(--transition);}
.research_topbanner .controls .play_btn.stop {background-image: url(../img/research_play.png);}

.prd_layout .prd_cont .research_listbox .item .bgbox::after { content: "";  position: absolute; left: 0;  top: 0;  width: 100%; height: 100%; background: #000; opacity: 0;  transition: var(--transition);}
.prd_layout .prd_cont .research_listbox .item .txtbox {padding: 1.25rem;}
.prd_layout .prd_cont .research_listbox .item .imgbox { width: 45%;}
.prd_layout .prd_cont .research_listbox .item:hover .bgbox::after {opacity: 0.2;}
.prd_layout .prd_cont .research_listbox .item:hover .imgbox { width: 50%}


/* research detailview */
.research_detailview_modal .modal_box { top: 0;  transform: translateX(-50%); width: 100%; max-width: 100%; height: 100%; max-height: 100%; overflow: auto;  scroll-behavior: smooth; justify-content: center;}
.research_detailview_modal .modal_box::-webkit-scrollbar {display: none;}
.research_detailview_modal .modal_body { max-width: calc(100% - 17.5rem * 2);}
.research_detailview_modal .modal_body .topbanner { position: relative; width: 100%;   height: 15.625rem;}
.research_detailview_modal .modal_body .topbanner .bgbox {position: absolute;left: 0; top: 0; width: 100%; height: 100%; background: #000;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg {width: 100%; height: 100%; object-fit: cover;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg.typeA {background: #a97b63;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg.typeB {background: #7ebe8f;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg.typeC {background: #79bad8;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg.typeD {background: #d27c8f;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg.typeE {background: #7e8abe;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg.typeF {background: #768d9f;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg.typeG {background: #e3c521;}
.research_detailview_modal .modal_body .topbanner .bgbox .bg.typeH {background: #969696;}
.research_detailview_modal .modal_body .topbanner.end .bgbox .bg {background: #969696;}
.research_detailview_modal .modal_body .topbanner .bgbox .img,
.research_detailview_modal .modal_body .topbanner .bgbox .video  {width: 100%; height: 100%; object-fit: cover;}
.research_detailview_modal .modal_body .topbanner .bgbox .video  {opacity: 0.8;}
.research_detailview_modal .modal_body .topbanner .txtbox { position: relative; padding: 1.875rem 2.5rem; display: flex;  flex-direction: column; align-items: flex-start;}
.research_detailview_modal .modal_body .topbanner .txtbox .badgebox {display: flex; align-items: center; gap: 0.313rem; margin-bottom: 0.313rem;}
.research_detailview_modal .modal_body .topbanner .txtbox .badgebox .badge { height: 1.313rem; font-weight: 700;  font-size: 0.625rem; line-height: 100%; text-transform: uppercase;  border-radius: 0.188rem; padding: 0 0.375rem; display: flex; align-items: center; justify-content: center;}
.research_detailview_modal .modal_body .topbanner .txtbox .badgebox .badge.dday{background: rgba(0, 0, 0, 0.4); color: #fff34d}
.research_detailview_modal .modal_body .topbanner .txtbox .badgebox .badge.cate {background: rgba(0, 0, 0, 0.1); border: 1px solid rgba(255, 255, 255, 0.5); color: #fff;}
.research_detailview_modal .modal_body .topbanner .txtbox .badgebox .badge.typeA {background: #f44336; color: #fff;}
.research_detailview_modal .modal_body .topbanner .txtbox .title { font-weight: 700;  font-size: 1.375rem;  line-height: 120%; letter-spacing: -0.01em;  color: #fff; margin-bottom: 1.25rem;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox {display: flex; flex-direction: column; gap: 0.625rem;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .item {font-size: 0.75rem;line-height: 100%;letter-spacing: -0.03em;color: #fff; display: flex; align-items: flex-start; gap: 0.625rem;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .item .tit {width: 3.75rem;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .item .desc {flex: 1;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .item .desc.point {font-weight: 700;letter-spacing: -0.03em;color: #fff34d; display: flex; align-items: center; gap: 0.188rem;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .item .desc.point .icon {width: 0.75rem;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .dday_box {  width: 100%; display: flex;  align-items: center; gap: 0.625rem;letter-spacing: 0;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .dday_box .dday_item { display: flex; align-items: center; gap: 1px; color: #fff;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .dday_box .dday_item .num { font-family: var(--font-family); font-weight: 700; line-height: 100%;  color: #fff; padding: 0.313rem; background: #f44336; border-radius: 0.188rem; overflow: hidden; text-align: center;}
.research_detailview_modal .modal_body .topbanner .txtbox .infobox .dday_box .dday_item .txt {margin-left: 1px; font-weight: 400;}
.research_detailview_modal .modal_body .topbanner .imgbox { position: absolute; right: 0; bottom: 0; display: flex; align-items: flex-end; justify-content: flex-end; width: 32%; max-width: 14.688rem; margin-left: auto; transition: var(--transition);}
.research_detailview_modal .modal_body .topbanner .imgbox.ver2 { width: 24%;  max-width: 10.625rem;}
.research_detailview_modal .survey_box { padding: 2.5rem; max-height: 29.188rem;   overflow: auto;  display: flex;  flex-direction: column;  gap: 1.875rem;}
.research_detailview_modal .survey_box::-webkit-scrollbar {width: 4px; height: 4px;}
.research_detailview_modal .survey_box::-webkit-scrollbar-thumb {background: #ccc;}
.research_detailview_modal .survey_box::-webkit-scrollbar-track {background: #f5f5f5;}
.research_detailview_modal .survey_item {width: 100%; position: relative;}
.research_detailview_modal .survey_item .titbox { display: flex;  flex-direction: column;   align-items: center;  gap: 0.5rem;  margin-bottom: 1.563rem;}
.research_detailview_modal .survey_item .titbox .badge { font-size: 0.75rem;  line-height: 100%;  letter-spacing: -0.04em; color: #333; padding: 0.375rem 0.875rem;  background: #f5f5f5; border-radius: 10rem;}
.research_detailview_modal .survey_item .titbox .tit { font-weight: 700;  font-size: 0.875rem;  line-height: 100%; letter-spacing: -0.04em; color: #333;}
.research_detailview_modal .survey_item .optbox { display: flex; flex-direction: column;  gap: 0.313rem;}
.research_detailview_modal .survey_item .optbox .radio_box { position: relative;}
.research_detailview_modal .survey_item .optbox .radio_box .input_radio {  position: absolute;  left: 1.25rem; top: 50%; transform: translateY(-50%); width: 1.125rem;  height: 1.125rem;}
.research_detailview_modal .survey_item .optbox .radio_box .label_radio { width: 100%; height: 2.75rem;  display: flex; align-items: center;  background: #f5f5f5; padding: 0 0.938rem 0 3.625rem;  border-radius: 0.313rem; border: 1px solid #f5f5f5; overflow: hidden; transition: var(--transition);}
.research_detailview_modal .survey_item .optbox .radio_box .label_radio:hover {background: #fff; box-shadow: 0.25rem 0.75rem 2.25rem 0 rgba(0, 0, 0, 0.09), 0 0 2px 0 rgba(0, 0, 0, 0.08); border: 1px solid #ccc;}
.research_detailview_modal .survey_item .optbox .radio_box .input_radio:checked + .label_radio { font-weight: 700;  color: #fff; background: #cc9504; border: 1px solid #cc9504;}
.research_detailview_modal .survey_item .resultbox { display: flex;  flex-direction: column; gap: 0.313rem;}
.research_detailview_modal .survey_item .resultbox .item { position: relative;   width: 100%;  height: 2.75rem;  background: #f5f5f5; display: flex;  align-items: center; gap: 1.25rem;  padding: 0 1.25rem; border-radius: 0.313rem;  overflow: hidden;}
.research_detailview_modal .survey_item .resultbox .item .gauge {  width: var(--gauge);   position: absolute;  left: 0;  top: 0;  height: 100%;  box-shadow: inset 1px 2px 2px 0 rgba(0, 0, 0, 0.07);  background: #e5e5e5;}
.research_detailview_modal .survey_item .resultbox .item .number {  position: relative;   font-family: var(--font-family);  font-style: italic;  font-weight: 100;  font-size: 1.5rem;  line-height: 100%;  color: #333; } 
.research_detailview_modal .survey_item .resultbox .item .tit { flex: 1; position: relative;  font-weight: 700;  font-size: 0.75rem;  line-height: 100%;  color: #333;}
.research_detailview_modal .survey_item .resultbox .item .percent {  font-family: var(--font-family);  font-weight: 300;  font-size: 0.875rem;  line-height: 100%;   color: #333;  display: flex;  align-items: center;  gap: 0.313rem;}
.research_detailview_modal .survey_item .resultbox .item .percent .bold {font-weight: 700;font-size: 0.875rem;}
.research_detailview_modal .survey_item .resultbox .item.on .gauge {background: #cc9504;}
.research_detailview_modal .survey_item .resultbox .item.on .number {font-weight: 900;color: #fff;}
.research_detailview_modal .survey_item .resultbox .item.on .tit {color: #fff;}
.research_detailview_modal .survey_item .resultbox .item.on .percent {color: #cc9504;}
.research_detailview_modal .survey_item .alert_txt {display: flex; justify-content: flex-end; gap: 0.313rem; font-size: 0.75rem;line-height: 100%;color: #333; margin-top: 0.625rem;}
.research_detailview_modal .survey_item .alert_txt .icon {width: 0.75rem;}
.research_detailview_modal .modal_btnbox {display: flex; margin-top: 1.875rem;}
.research_detailview_modal .modal_btnbox .btn { padding: 1.875rem 1.25rem;  font-weight: 700; font-size: 0.938rem; line-height: 0%; text-align: center; border: 1px solid transparent;  transition: var(--transition);}
.research_detailview_modal .modal_btnbox .btn.full {flex: 1;}
.research_detailview_modal .modal_btnbox .btn.typeA { background: #333; color: #e5b22e;}
.research_detailview_modal .modal_btnbox .btn.typeA:hover {border-color: #cc9504; background: #cc9504; color: #fff;}
.research_detailview_modal .modal_btnbox .btn.typeB {border-color: #898989; color: #fff; background: #898989;}
.research_detailview_modal .modal_btnbox .btn.typeB:hover {border-color: #cc9504; background: #cc9504; color: #fff;}

.research_detailview_modal .modal_box .ban_swiper { height: 100%; width: 47.5rem; max-width: calc(100% - 17.5rem * 2); margin: 0;}
.research_detailview_modal .modal_box .ban_swiper .swiper-slide { display: flex;   height: unset; align-items: center;  padding: 3.125rem 0;}
.research_detailview_modal .min_bannerbox {position: absolute; top: 50%;   transform: translateY(-50%);display: flex; align-items: center; gap: 0.25rem; }
.research_detailview_modal .min_bannerbox.left {left: 0.375rem;}
.research_detailview_modal .min_bannerbox.right {right: 0.375rem;}
.research_detailview_modal .min_bannerbox .prev_btn, 
.research_detailview_modal .min_bannerbox .next_btn { width: 2.5rem; height: unset;  aspect-ratio: 1 / 1;  background: no-repeat center / contain; cursor: pointer;}
.research_detailview_modal .min_bannerbox .prev_btn {background-image: url(../img/ban_prev.png);}
.research_detailview_modal .min_bannerbox .next_btn {background-image: url(../img/ban_next.png);}
.research_detailview_modal .min_banner { position: relative; border-radius: 0.313rem; box-shadow: 0.25rem 0.75rem 2.25rem 0 rgba(0, 0, 0, 0.09), 0 0 2px 0 rgba(0, 0, 0, 0.08); width: 11.25rem; aspect-ratio: 1 / 1; overflow: hidden; z-index: 10; cursor: pointer;}
.research_detailview_modal .min_banner .bgbox {position: absolute;left: 0; top: 0; width: 100%; height: 100%; background: #000;}
.research_detailview_modal .min_banner .bgbox::after { content: "";  position: absolute; left: 0;  top: 0;  width: 100%; height: 100%; background: #000; opacity: 0;  transition: var(--transition);}
.research_detailview_modal .min_banner .bgbox .bg {width: 100%; height: 100%; object-fit: cover;}
.research_detailview_modal .min_banner .bgbox .bg.typeA {background: #a97b63;}
.research_detailview_modal .min_banner .bgbox .bg.typeB {background: #7ebe8f;}
.research_detailview_modal .min_banner .bgbox .bg.typeC {background: #79bad8;}
.research_detailview_modal .min_banner .bgbox .bg.typeD {background: #d27c8f;}
.research_detailview_modal .min_banner .bgbox .bg.typeE {background: #7e8abe;}
.research_detailview_modal .min_banner .bgbox .bg.typeF {background: #768d9f;}
.research_detailview_modal .min_banner .bgbox .bg.typeG {background: #e3c521;}
.research_detailview_modal .min_banner .bgbox .bg.typeH {background: #969696;}
.research_detailview_modal .min_banner.end .bgbox .bg {background: #969696;}
.research_detailview_modal .min_banner .bgbox .img,
.research_detailview_modal .min_banner .bgbox .video  {width: 100%; height: 100%; object-fit: cover;}
.research_detailview_modal .min_banner .bgbox .video  {opacity: 0.8;}
.research_detailview_modal .min_banner .txtbox { position: relative; padding: 1.25rem; display: flex;  flex-direction: column; align-items: flex-start;}
.research_detailview_modal .min_banner .txtbox .badgebox {display: flex; align-items: center; gap: 0.313rem; margin-bottom: 0.313rem;}
.research_detailview_modal .min_banner .txtbox .badgebox .badge { height: 1.313rem; font-weight: 700;  font-size: 0.625rem; line-height: 100%; text-transform: uppercase;  border-radius: 0.188rem; padding: 0 0.375rem; display: flex; align-items: center; justify-content: center;}
.research_detailview_modal .min_banner .txtbox .badgebox .badge.dday{background: rgba(0, 0, 0, 0.4); color: #fff34d}
.research_detailview_modal .min_banner .txtbox .badgebox .badge.cate {background: rgba(0, 0, 0, 0.1); border: 1px solid rgba(255, 255, 255, 0.5); color: #fff;}
.research_detailview_modal .min_banner .txtbox .badgebox .badge.typeA {background: #f44336; color: #fff;}
.research_detailview_modal .min_banner .txtbox .title { font-weight: 700;  font-size: 0.75rem;  line-height: 130%; letter-spacing: -0.01em;  color: #fff; margin-bottom: 1rem;}
.research_detailview_modal .min_banner .txtbox .bottom {display: flex; align-items: center; gap: 0.625rem;}
.research_detailview_modal .min_banner .txtbox .bottom .point {font-weight: 700;font-size: 0.75rem;line-height: 100%;letter-spacing: -0.03em;color: #fff34d; display: flex; align-items: center; gap: 0.188rem;}
.research_detailview_modal .min_banner .txtbox .bottom .point .icon {width: 0.813rem;}
.research_detailview_modal .min_banner .txtbox .bottom .bar {background: rgba(255, 255, 255, 0.5); width: 1px; height: 0.75rem;}
.research_detailview_modal .min_banner .txtbox .bottom .people {font-weight: 400;font-size: 0.75rem;line-height: 100%;letter-spacing: -0.01em;color: #fff;}
.research_detailview_modal .min_banner:hover .bgbox::after {opacity: 0.2;}


/* research complete */
.research_min_modal.complete .modal_box { padding: 2.156rem 1.875rem;}
.research_min_modal.complete .complete_box { width: 100%; display: flex; flex-direction: column;  gap: 1.875rem;}
.research_min_modal.complete .complete_box .topbox { display: flex;  flex-direction: column;  align-items: center; gap: 0.625rem;  text-align: center;}
.research_min_modal.complete .complete_box .topbox .member { display: flex;  flex-direction: column;  align-items: center;  gap: 0.313rem;}
.research_min_modal.complete .complete_box .topbox .member .icon { width: 2.25rem;}
.research_min_modal.complete .complete_box .topbox .member .name { font-weight: 700;  font-size: 0.875rem;  line-height: 100%; color: #333;}
.research_min_modal.complete .complete_box .topbox .title { font-size: 0.875rem;   line-height: 130%; color: #000;}
.research_min_modal.complete .complete_box .survey_info { width: 100%;  box-shadow: 0.25rem 0.75rem 2.25rem 0 rgba(0, 0, 0, 0.09), 0 0 2px 0 rgba(0, 0, 0, 0.08);   background: #fff;  border-radius: 0.313rem;  padding: 1.25rem 0.875rem;  display: flex;  align-items: center; justify-content: center;  gap: 1.25rem;  overflow: hidden;}
.research_min_modal.complete .complete_box .survey_info .item {  position: relative;  display: flex;  align-items: center; gap: 0.313rem;  font-size: 0.875rem;  line-height: 86%;  color: #898989;}
.research_min_modal.complete .complete_box .survey_info .item .tit { display: flex;  align-items: center;  gap: 0.5rem;}
.research_min_modal.complete .complete_box .survey_info .item .tit::before { content: "";  width: 0.25rem; aspect-ratio: 1 / 1; display: inline-block;  background: #898989;   border-radius: 50%; margin: 0 0.25rem;}
.research_min_modal.complete .complete_box .survey_info .item .desc {font-weight: 700;color: #cc9504;}



/* 반응형 */
/* PC */
@media screen and (max-width: 1680px) {  

	.prd_layout .prd_cont .research_listbox .item { width: calc((100% - 0.938rem * 3) / 4);} 
	
}


@media screen and (max-width: 1200px) {

	.research_topbanner .research_topswiper {overflow: visible;}
	.research_topbanner .research_topswiper .item { width: 30rem;}

}


@media screen and (max-width: 1080px) {

	.prd_layout .prd_cont .research_listbox .item { width: calc((100% - 0.938rem * 2) / 3);} 	
	
}
