.admin-link1{background-color: #000; color: #fff; padding: 15px 50px; border-radius: 50px;}
.admin-link2{background-color: #0c81fd; color: #fff; padding: 15px 50px; border-radius: 50px;}
.sel-btn-area{margin-top: 40px; padding: 30px; }

.admin-link1:hover,.admin-link2:hover{opacity:0.8}