#cursor_p{position:absolute;display:none;z-index:100}

.ari_tab li.selected {
   cursor:default
}

.load-data {
	display: none;
    width: 1040px;    background-color: rgba(0, 0, 0, 0.25);
}

.load-data div {
	 position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
   width:140px;height:80px;text-align:center;font-size:14px
}
.load-data div span {

	margin-bottom:10px;text-align:center;
}

.ai_list_cont.scroll-box{ height: 476px;padding: 0px 0 20px; margin-top: 124px;}
.ai_list_cont.scroll-box.off{overflow-y:hidden;width:calc(100% - 8px)}

.ai_list {
    justify-content: space-between;
}

.ai_list.keyword>li:first-child{width:40%}
.ai_list.keyword>li:nth-child(2){width:60%}

.ai_list.keyword>li .search-form{display: flex ; margin: 10px 0px; justify-content: space-between; width: 100%;box-sizing: content-box;column-gap:6px}
.ai_list.keyword>li .search-form .input{    border: 1px solid #ddd; height: 40px; padding: 0px 15px; line-height: 38px; width: 100%;}
.ai_list.keyword>li .search-form button.btn_ai_search{    height: 40px; padding: 0px; line-height: 38px; text-align: center; width: 70px; color: #878787; font-weight: 600; border: 1px solid #e7e7e7; background-color: #f1f1f1;font-size:13px }

.ai_list.keyword>li .help{padding:20px;display:flex;    word-break: keep-all; line-height: 22px;    border-top: 1px solid #486ff9;color:#486ff9;font-weight:600;margin-top:28px;  position: relative;}
.ai_list.keyword>li .help img{    width: 15px;
    height: 17px;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 8px;    margin-left: 28px;}
.ai_list.keyword>li .help 	span{ font-size: 1.4rem;}

.ai_list.keyword>li .help .circle{    position: absolute; width: 8px; height: 8px; background-color: #486ff9; border-radius: 100%; top: -4.5px; left: 0px;}

.ai_list>li {
   width:100%;
}

.ai_list_cont.scroll-box .exam_list {
    margin-top: 0px;
}

.ai_list.keyword .sec .q-title{margin-top:10px;font-size:13px}

.ai_list.keyword .sec .ai_list_cont.scroll-box{margin-top:65px;    height: 535px;}

.ai_list.keyword .sec .kw-help{    text-align: center; display: flex ; justify-content: center; align-items: center; height: 300px; font-size: 14px; font-weight: 400; letter-spacing: 0.5px;color:#959595}

.ai_list.keyword .fir .ai_list_cont.scroll-box .exam_list {
	width: calc(100% - 80px);
    border: 1px solid #ddd;
    margin: 87px 0px 0px 40px;
    padding: 20px 0px;
}

.ai_list.keyword .fir .ai_list_cont.scroll-box .exam_list li {
      padding: 3px 20px;
    text-align: center;
}

.ai_list.keyword .fir .ai_list_cont.scroll-box .exam_list li .exam_desc {
     margin-top: 0px;font-size: 14px;
}

.ai_list.keyword .fir .scroll-line1{background-color: #ddd; height: 1px; display: block; line-height: 1px; width: calc(100% - 42px); margin-left: 20px;}

.ai_list.keyword .fir .ai_list_top {
    padding: 24px 18px 0px 20px;
}

#popExampleTitle .pop_cont{
    text-align: center;
    min-width: 360px;
    width: initial;
	max-width:520px;
}

.btn-small-orange {
    border-radius: 1px;
    background-color: #fe6c00;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    margin: 0px auto;
    cursor: pointer;
}

.btn-small-orange.w80{width:80px}

#popSummary .desc_bg {
    padding: 2px 5px;color:#000;background-color:#fff;font-size:14px
}

#popSummary .pop_desc_box {
    margin-bottom:30px;max-height: initial;
}

#popSummary .num{font-size: 13px; color: gray; font-weight: 300; line-height: 10px; vertical-align: middle; display: inline-block;}

.exam_desc { -webkit-line-clamp: 7; }

.form_toggle span {height: 18px; width:27px; }

.checked_txt{
    color: var(--notice-em);
}

.form_toggle {
  cursor:pointer
}

.pop-full-open-doc{background: url(https://image.educe.co.kr/educe/main/ico_docu.png) center right no-repeat; background-size: 16px; padding-right: 20px; font-size: 1.3rem; font-weight: 500; vertical-align: middle; display: inline-block; margin-right: 20px; margin-top: -1px;}

.pop_cont.top-fix {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
	border:1px solid #ddd
}

.btn_ai_search,.ai_search {
    width: initial
}

.ai_search_txt { display: block; width: 100%; vertical-align: middle; height: initial }
.ai_list.ai .ai_search_txt{margin-left:17px}
.highlight-2 {
    background-color: #ff7448
}

.ai_tit_row {
    height: 24px;
}
.ai-title {
font-size:13px;display:block;
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.ai_list_top {
    padding: 24px 18px 10px 20px
 
}

.ai_search_row {
    margin-top: 10px;
}

.ai_list.ai .ai_search_row {
    vertical-align: top;display:block
}

.ai_list.ai .ai_search_row .ai_search{
      vertical-align: top;
    width: 115px;display:inline-block
}

.ai_list.ai .ai_search_row .ico_search{display:inline-block;;vertical-align: top;margin-right: 1px;}
.ai_list.ai .ai_search_row .btn_ai_search{display:inline-block}
.ai_list.ai .btn_summary {
   
    margin-right: 2px;
}

.ai_list.ai .ai_search_row .sorting_tab {
    display: inline-block;
    margin-top: 1px;
    text-align: right;
    width: 80px;
}

.ai_list.ai .ai_search_row .sorting_tab li{
    display: inline-block;margin-left:5px
 }
.sorting_tab li{
 cursor:pointer
 }
 .ai_list .ai_search_row .sorting_tab li.hide{display:none}
 .title-view-area{ margin-bottom: -10px;
    background-color: #efefef;
    padding: 8px 12px;
    font-size: 12.5px;
    margin-top: 15px;
    border-radius: 3px;
    line-height: 20px;}

#popSummary .point {
    background-color: var(--orange-prime-darken);
    color: var(--white);
}

#popSummary .pop_cont{width:600px}
.modal_slide_wrap {
 z-index:300
}

.modal_slide_bd {
    height: initial;
    overflow-y: initial;
}
.modal_slide_bd .preview_wrap{
    height: calc(100vh - 380px);
    overflow-y: auto;
}

@media print {
	* {
			-webkit-print-color-adjust: exact;
			print-color-adjust:exact; margin:20px
		}
 	.preview_wrap.contents_area {width:90%;margin:20px auto }	
}

.job-input{height: 30px; padding: 5px 8px; border: 1px solid #000; border-width: 0px 0px 1px 0px;}


