.btn_black_icon:disabled:before {
	background-color: var(--black-30);
}

.desc_box_bor.mt80 {
	margin-top: 80px;
}

.voucher.gpt {
	height: 440px;
	opacity: 0;
	-webkit-animation: fadeRight 0.4s 0.4s ease-in forwards;
	animation: fadeRight 0.4s 0.4s ease-in forwards;
}

.gpt .vouch_hd {
	background: linear-gradient(90deg, #0088ff 7.56%, #4ef9ff 51.63%, #3862fc 100%);
}

.gpt .voucher_box {
	height: auto;
}

.gpt .vouch_info div:nth-child(2) .vouch_txt2 span {
	font-size: 3rem;
}

.gpt .vouch_list li:last-child {
	color: #ff6600;
}

.btn_sitemap span:nth-child(1) {
	top: 11px;
	left: 10px;
	width: 26px;
	height: 3px;
}

.btn_sitemap span:nth-child(2) {
	top: 19px;
	left: 18px;
	width: 18px;
	height: 3px;
}

.btn_sitemap span:nth-child(3) {
	top: 28px;
	left: 10px;
	width: 26px;
	height: 3px;
}

.dt-paging {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}

.dt-paging button {
	margin: 0 3px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	color: var(--black-60);
	font-size: 1.4rem;
}

.dt-paging button:hover:not(.next, .last, .first, .previous) {
	background-color: var(--black-80);
	color: var(--white);
}

.ui-state-disabled:not(.next, .last, .first, .previous) {
	background-color: var(--black-80);
	color: var(--white);
}

.dt-empty {
	padding: 14px 20px !important;
}

.dataTable:not(#accTable) tbody tr {
	cursor: pointer;
}

.dt-container {
	margin-top: 20px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-transition: background-color 9999s ease-out;
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
	-webkit-text-fill-color: #000 !important;
}

.modal_wrap#mdSearchUniv {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.modal_wrap .modal_init {
	text-align: center;
	line-height: 30px;
	margin-top: 65px;
}

.w845 {
	width: 845px;
}

.exam_search.head {border-bottom: 0px;margin-top: 10px}

.exam_search.head th {height: 50px; vertical-align: middle;font-size: 13px}

.exam_search {border-left: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}

.exam_search th {background-color: #fafafa;border-top: 1px solid #e5e5e5;border-right: 0px solid #e5e5e5;border-bottom: 0px solid #e5e5e5;height: 30px;padding-right: 10px}

.exam_search th:last-child {border-right: 1px solid #e5e5e5;}

.exam_search td {border-top: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5; line-height: 30px;vertical-align: top; padding-left: 10px;}

.exam_search td strong.title {margin-left: 5px}

.table_scroll .title {color: #459cd9;padding-right: 10px}

.img-check {vertical-align: middle; margin-top: -2px; margin-right: 5px;}

.exam_search .table_scroll li {
	padding: 5px 0 !important;
	min-height: 40px;;
}

.popup_layer {
	width: 95%;
	margin: 0 auto;
	font-size: 15px;
}

.btn_home {
	width: 200px;
	margin: 0 auto;
	margin-top: 50px;
}


.report_list.mh742{min-height: 742px;}
.guide_list.mh742{min-height: 742px;}


.bullet_tit_select.mt0{margin-top:0px}
.bullet_tit_select.mb10{margin-bottom:10px}


.slide-event-pop{position: absolute; z-index: 99; left: 500px; top: 50%;margin-top:-187px ;border-radius: 15px;width: auto; height: 650px;overflow: hidden; }
.slide-event-pop img{border-radius:12px;}
.slide-event-pop .slide-event-main{background-color: #fff;border-radius:12px;border: 10px solid #fff;position:relative; height: 410px}
.slide-event-pop .slide-event-main .swiper-event{height: 304px;}
.slide-event-pop .swiper-pagination-bullets.swiper-pagination-horizontal{top: 18px; right: 20px; left: initial; width: 100%; z-index: 99; display: block; text-align: right;}
.slide-event-pop .swiper-pagination-bullets.swiper-pagination-horizontal a,.slide-event-pop .swiper-pagination-vertical.swiper-pagination-bullets a{color:transparent}

.slide-event-pop .swiper-pagination-vertical.swiper-pagination-bullets{
	right: 15px;
	top: 50%;
	margin-top: -42px;left: initial;  z-index: 99; display: block; text-align: right;
	transform: translate3d(0px, -50%, 0);
}

.slide-event-pop .swiper-pagination-bullet-active{background-color:#000}
.slide-event-pop .close-pos{text-align: right; margin-top: 6px; display: block; padding-right: 28px;}
.slide-event-pop .close-pos .gubun{border-right: 1px solid #898989; display: inline-block; height: 10px; vertical-align: bottom; margin-top: 1px; margin: 2px 10px;}
.slide-event-pop .close-pos button{font-size: 12px; padding: 0px 5px; font-weight: 500;}
.slide-event-pop-bottom1{width: 570px; height:10px; background-color: #ededed; border-radius: 0px 0px 10px 10px;margin-left: 15px;}
.slide-event-pop-bottom2{width: 550px; height:9px; background-color: #d1d1d1; border-radius: 0px 0px 10px 10px;margin-left: 25px;}

.early_bird-event-pop{position: absolute; z-index: 302; left: 500px; top: 50%;margin-top:-187px ;border-radius: 15px;width: auto; height: 670px;overflow: hidden; width: 537px}
.early_bird-event-pop img{border-radius:12px;}
.early_bird-event-pop .early_bird-event-main{background-color: #fff;border-radius:12px;/*border: 10px solid #fff;*/position:relative; height: 630px}
.early_bird-event-pop .early_bird-event-main .swiper-event{height: 304px;}
.early_bird-event-pop .swiper-pagination-bullets.swiper-pagination-horizontal{top: 18px; right: 20px; left: initial; width: 100%; z-index: 99; display: block; text-align: right;}
.early_bird-event-pop .swiper-pagination-bullets.swiper-pagination-horizontal a,.early_bird-event-pop .swiper-pagination-vertical.swiper-pagination-bullets a{color:transparent}

.early_bird-event-pop .swiper-pagination-vertical.swiper-pagination-bullets{
	right: 15px;
	top: 50%;
	margin-top: -42px;left: initial;  z-index: 302; display: block; text-align: right;
	transform: translate3d(0px, -50%, 0);
}

.early_bird-event-pop .swiper-pagination-bullet-active{background-color:#000}
.early_bird-event-pop .close-pos{text-align: right; margin-top: 6px; display: block; padding-right: 28px;}
.early_bird-event-pop .close-pos .gubun{border-right: 1px solid #898989; display: inline-block; height: 10px; vertical-align: bottom; margin-top: 1px; margin: 2px 10px;}
.early_bird-event-pop .close-pos button{font-size: 12px; padding: 0px 5px; font-weight: 500;}
.early_bird-event-pop-bottom1{width: 570px; height:10px; background-color: #ededed; border-radius: 0px 0px 10px 10px;margin-left: 15px;}
.early_bird-event-pop-bottom2{width: 550px; height:9px; background-color: #d1d1d1; border-radius: 0px 0px 10px 10px;margin-left: 25px;}