@import url("https://djv24y2jjxsp7.cloudfront.net/ontest/font/Pretendard-1.3.4/web/static/pretendard.css");
@import url("https://djv24y2jjxsp7.cloudfront.net/ontest/font/Montserrat/montserrat.css");


* {
  padding: 0;
  box-sizing: border-box;
  /* word-break: keep-all; */
  font-family: "Montserrat","Pretendard";
}
body{padding:0px;margin:0px;}
#wrapper{padding:20px 30px;margin:0px;}
#header{font-size:14px}
label{font-weight:700;font-weight: 700; margin-top: 40px; display: block;}
p{padding-left:10px}
.red{color:red}

.BoxCss{font-size:12px}
.BoxCss table{background-color:#F5F5F5;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top:1px solid #d7d7d7;border-left:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}

.BoxCss table tr:first-child th:first-child {
	border-top-left-radius: 5px;
}
.BoxCss table tr:first-child th:last-child {
	border-top-right-radius: 5px;
}
.BoxCss table tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}
.BoxCss table tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}
.BoxCss a{font-weight: 500; cursor: pointer; color: #000; text-decoration: underline; text-underline-position: under; line-height: 150%;word-break: break-all;}
.BoxCss table td.head{background-color:#f7f5f8;text-align:left;padding: 5px;line-height: 150%;}
.BoxCss table th{text-align:center;padding:5px;font-size:12px;border-right:1px solid #d7d7d7;background-color:#eae9ed;color:#255f81}
.BoxCss table td{background-color:#FFFFFF;height:25px;text-align:center;font-size:12px;border-top:1px solid #d7d7d7;border-right:1px solid #d7d7d7}

.BoxCss .in_table{width:100%;background-color:#FFFFFF;height:25px;text-align:center;font-size:12px;border:0px;padding:0px}
.BoxCss .in_table td{background-color:#FFFFFF;height:22px;text-align:center;font-size:12px;border:1px solid #d7d7d7;padding:0px;margin:0px}

.help{font-size:12px;color:#ff6600;padding-bottom:30px}

.pbottom10 {
    padding-bottom: 10px;
}
.font13 {
    font-size: 13px;
}

.ptop5 {
    padding-top: 5px;
}
.pbottom30 {
    padding-bottom: 30px;
}
h2 img.logo{vertical-align:middle;margin-top:-5px;margin-right:20px}

select,input{height:30px;padding:0px 10px;line-height:28px;border:1px solid #ddd}
input[type='submit']{cursor:pointer}


.help-xml1{font-size:13px;padding:20px 0px 10px 0px}
#loginFormText{font-size:13px;padding-bottom:10px}

.all-update{cursor: pointer; color: red; padding: 0px 6px; line-height: 20px; font-size: 12px; background-color: #2598c3; color: #fff; border: 0px; margin-top: 3px; margin-bottom: 3px;border-radius:2px}

.all-update:hover,input[type='submit']:hover,.xml_btn:hover,.xml-view:hover{opacity:0.8}

.hide{display:none}

.BoxCss table td.left{text-align:left;padding-left:10px}
.BoxCss table td.pb5{padding:5px}

.xml_btn{cursor: pointer;color: red;  padding:0px 6px;line-height:18px;font-size:12px; background-color: #2598c3; color: #fff;border:1px solid #2598c3;margin-right:6px;font-size:11px;height: 20px; display: inline-block;border-radius:2px}
.xml-view{cursor: pointer;color: red; background-color: #fff; padding:0px 6px;line-height:18px;font-size:12px; color: #2598c3;border:1px solid #2598c3;font-size:11px;height: 20px; display: inline-block;border-radius:2px}

.xml-make,.xml-done{height: 16px; vertical-align: middle; display: inline-block; margin-right: 10px; margin-top: -2px; }