
/* main */
.section {position: relative; width: 100%;}

.m_titbox {display: flex; align-items: center; justify-content: space-between; margin-bottom: 22px;}
.m_titbox.mb1 {margin-bottom: 39px;}
.m_titbox.mb2 {margin-bottom: 25px;}
.m_titbox .leftbox {display: flex; align-items: center;}
.m_titbox .rightbox {display: flex; align-items: center; justify-content: flex-end;}
.m_titbox .m_txt1 {font-weight: 600; font-size: 15px; line-height: 100%; color: #000;}
.m_titbox .m_txt2 {width: 100%; font-weight: 600; font-size: 19px; line-height: 100%; text-align: center; color: #000;}
.m_titbox .m_txt2 .color {color: #2ea8c1;}
.m_titbox .m_more {font-size: 15px; line-height: 100%; color: #2ea8c1; display: flex; align-items: center; gap: 6.5px;}
.m_titbox .m_more .arrow {background: url(../img/ic_morearrow2.png) no-repeat center/contain; width: 5px; aspect-ratio: 1/1.6;}

.card_swiper {width: 100%; padding: 0 20px;}
.card_swiper .item {width: 135px; display: flex; flex-direction: column; gap: 11px; margin-right: 20px;}
.card_swiper .item:last-child {margin-right: 0;}
.card_swiper .item .imgbox {width: 100%; aspect-ratio: 1/1; border-radius: 7.5px; overflow: hidden;}
.card_swiper .item .imgbox .img {width: 100%; height: 100%; object-fit: cover;}
.card_swiper .item .txtbox {display: flex; flex-direction: column;}
.card_swiper .item .txtbox .sub {font-weight: 600; font-size: 8px; line-height: 100%; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 6px;}
.card_swiper .item .txtbox .tit {font-weight: 600; font-size: 10px; line-height: 130%; color: #000; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; margin-bottom: 10px; word-break: keep-all;}
.card_swiper .item .txtbox .bottom {display: flex; align-items: center; justify-content: space-between;}
.card_swiper .item .txtbox .bottom .view {border: 1px solid #2ea8c1; border-radius: 50px; padding: 3px 6px; font-size: 7px; line-height: 100%; color: #000; display: flex; align-items: center; gap: 5px;}
.card_swiper .item .txtbox .bottom .view .check {background: url(../img/ic_check.png) no-repeat center/contain; width: 8px; aspect-ratio: 1/1;}
.card_swiper .item .txtbox .bottom .price {font-weight: 600; font-size: 12px; line-height: 100%; text-align: right; color: #2ea8c1;}

.ms1 {margin-bottom: 40px;}
.ms1 .ms1_swiper {width: 100%;}
.ms1 .ms1_swiper .item {width: 100%; display: flex;}
.ms1 .ms1_swiper .item .img {width: 100%; height: 100%; object-fit: cover;}
.ms1 .ms1_swiper .pagination {display: flex; align-items: center; justify-content: center; gap: 6.5px; bottom: 7px;}
.ms1 .ms1_swiper .pagination .swiper-pagination-bullet {background: #000; opacity: 0.5; width: 5.5px; height: 5.5px; margin: 0; transition: all 0.4s ease; border-radius: 50px;}
.ms1 .ms1_swiper .pagination .swiper-pagination-bullet-active {opacity: 1; width: 19.5px;}

.ms2 {margin-bottom: 75px;}
.ms2 .contbox {display: flex; flex-wrap: wrap; gap: 30px 20px;}
.ms2 .contbox .item {width: calc((100% - 20px * 3) / 4);}
.ms2 .contbox .item .link {width: 100%; display: flex; flex-direction: column; align-items: center; gap: 8.5px;}
.ms2 .contbox .item .link .icon {width: 100%; max-width: 65px;}
.ms2 .contbox .item .link .tit {font-weight: 500; font-size: 13px; line-height: 100%; text-align: center; color: #000;}

.ms3 {margin-bottom: 75px;}
.ms3 .ms3_swiper {width: 100%;}
.ms3 .ms3_swiper .cardbox {display: flex; flex-direction: column; gap: 13.5px; width: 280px;}
.ms3 .ms3_swiper .cardbox .title {font-weight: 600; font-size: 15px; line-height: 100%; color: #000;}
.ms3 .ms3_swiper .cardbox .card {position: relative; background: #eaf0f5; border-radius: 20px; overflow: hidden;}
.ms3 .ms3_swiper .cardbox .card .cardtop {width: 100%; height: 121.5px;}
.ms3 .ms3_swiper .cardbox .card .cardtop .img {width: 100%; height: 100%; object-fit: cover;}
.ms3 .ms3_swiper .cardbox .card .cardtxt {padding: 12px 20px;}
.ms3 .ms3_swiper .cardbox .card .cardtxt .desc {font-size: 11px; color: #666; margin-bottom: 4px; line-height: 1.3;}
.ms3 .ms3_swiper .cardbox .card .cardtxt .tit {font-weight: 600; font-size: 15px; line-height: 1.3; color: #000; margin-bottom: 8px;}
.ms3 .ms3_swiper .cardbox .card .cardtxt .sub {font-size: 13px; color: #4e6273; line-height: 1.3;}
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox {width: 100%; padding: 0 15px; margin: 19px 0 0; }
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper {width: 100%;height: 240px; padding: 5px; }
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper .cardlist .item {width: 100%; height: 50px; border-radius: 10px; height: 50px; min-height: 50px; box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.05); background: #fff; display: flex; align-items: center; gap: 6.5px; padding: 5px 12px 5px 5px; margin-bottom: 10px;}
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper .cardlist .item:last-child {margin-bottom: 180px;}
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper .cardlist .item .imgbox {display: flex; width: 40px; border-radius: 5px; overflow: hidden;}
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper .cardlist .item .imgbox .img {width: 100%; height: 100%; object-fit: cover;}
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper .cardlist .item .txtbox { flex:1; display:flex; flex-direction:column; gap:7px; }
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper .cardlist .item .txtbox .sub { font-size:8px; line-height:100%; color:#4e6273; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper .cardlist .item .txtbox .tit { font-weight:600; font-size:11px; line-height:100%; color:#000; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.ms3 .ms3_swiper .cardbox .card .ms3card_swiper .cardlist .item .price { font-weight:600; font-size:12px; line-height:100%; text-align:right; color:#2ea8c1; }
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox .controls { display:flex; align-items:center; justify-content:center; gap:26.5px; margin: 13px 0 17px;}
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox .controls .prev_btn, 
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox .controls .next_btn { background:no-repeat center/contain; width:8px; aspect-ratio:1/1; height:auto; position:relative; left:auto; right:auto; top:auto; margin:0; }
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox .controls .prev_btn { background-image:url(../img/slide_prev.png); }
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox .controls .next_btn { background-image:url(../img/slide_next.png); }
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox .controls .pagination { width:auto; font-weight:600; font-size:12px; line-height:100%; text-align:center; color:#000; display:flex; align-items:center; justify-content:center; gap:20px; position:relative; top:auto; bottom:auto; left:auto; right:auto; }
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox .controls .pagination .bar { background:url(../img/page_bar.png) no-repeat center/contain; width:5px; aspect-ratio:1/1; }
.ms3 .ms3_swiper .cardbox .card .ms3card_slidebox .controls .pagination .total { color:#999; }
.ms3 .morebtn { border:1px solid #cbd6df; border-radius:20px; font-weight:600; font-size:13px; line-height:100%; color:#666; display:flex; align-items:center; justify-content:center; gap:6.5px; padding:0 8px; height:40px; background:#fff; max-width:280px; margin:27px auto 0; }
.ms3 .morebtn .arrow { background:url(../img/ic_morearrow.png) no-repeat center/contain; width:5px; aspect-ratio:1/1.6; }

.ms4 { margin-bottom: 40px; }
.ms4 .ms4_swiper { width: 100%; padding: 0 20px; }
.ms4 .ms4_swiper .item { width: 135px; display: flex; border-radius: 15px; overflow: hidden; margin-right: 20px; }
.ms4 .ms4_swiper .item:last-child { margin-right: 0; }
.ms4 .ms4_swiper .item .img { width: 100%; height: 100%; object-fit: cover; }

.ms5 { margin-bottom: 75px; }
.ms5 .ms5_swiper { width: 100%; padding: 0 20px; }
.ms5 .ms5_swiper .item { width: 135px; display: flex; border-radius: 15px; overflow: hidden; margin-right: 20px; }
.ms5 .ms5_swiper .item:last-child { margin-right: 0; }
.ms5 .ms5_swiper .item .img { width: 100%; height: 100%; object-fit: cover; }

.ms6 { margin-bottom: 75px; }
.ms6 .banner { width: 100%; border-radius: 15px; overflow: hidden; display: flex; }
.ms6 .banner .img { width: 100%; height: 100%; object-fit: cover; }

.ms7 { margin-bottom: 143px; }
.ms7 .tab_wrap { display: flex; flex-direction: column; gap: 76px; }
.ms7 .slidebox { position: relative; margin-bottom: 37px; display: flex; flex-direction: column; gap: 20px; }
.ms7 .slidebox .picbox { position: relative; }
.ms7 .slidebox .picbox .ms7_slide { width: 100%; border-radius: 15px; }
.ms7 .slidebox .picbox .ms7_slide .item { width: 100%; display: flex; }
.ms7 .slidebox .picbox .ms7_slide .item .img { width: 100%; height: 100%; object-fit: cover; }
.ms7 .slidebox .picbox .pictxtbox { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: flex; z-index: 10; pointer-events: none; }
.ms7 .slidebox .picbox .pictxtbox .item { width: 50%; padding: 24px; border-radius: 15px; overflow: hidden; }
.ms7 .slidebox .picbox .pictxtbox .item .tit { font-weight: 600; font-size: 30px; line-height: 100%; color: #fff; }
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check { display: flex; flex-direction: column; align-items: center; margin-top: 84px; }
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .title { font-weight: 600; font-size: 24px; line-height: 100%; text-align: center; color: #fff; margin-bottom: 38px; }
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .top { display: flex; align-items: flex-start; gap: 12px; margin-bottom: 14px; }
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .top .arrow { background: no-repeat center / contain; margin-top: 9.5px; width: 17px; aspect-ratio: 1 / 2.4706; }
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .top .arrow.left { background-image: url(../img/login_arrow1.png); }
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .top .arrow.right { background-image: url(../img/login_arrow2.png); }
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .top .txt { font-weight: 600; font-size: 20px; line-height: 100%; text-align: center; color: #fff; }
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .btnbox {display: flex; align-items: center; justify-content: space-between; gap: 42px;}
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .btnbox .btn {width: 40px; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center; background: no-repeat center/contain; pointer-events: all;}
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .btnbox .naver_btn {background-image: url(../img/btn_naver.png);}
.ms7 .slidebox .picbox .pictxtbox .item.before .login_check .btnbox .kakao_btn {background-image: url(../img/btn_kakao.png);}
.ms7 .slidebox .picbox .pictxtbox .item.after .tit {text-align: right;}
.ms7 .slidebox .thumbox {position: relative;}
.ms7 .slidebox .thumbox .ms7_thum {width: 100%;}
.ms7 .slidebox .thumbox .ms7_thum .item {width: calc((100% - 20px*3)/4); height: 40px; border-radius: 15px; overflow: hidden; margin-right: 20px; cursor: pointer; transition: all 0.4s ease; filter: grayscale(1); opacity: 0.5; display: flex;}
.ms7 .slidebox .thumbox .ms7_thum .item:last-child {margin-right: 0;}
.ms7 .slidebox .thumbox .ms7_thum .item.swiper-slide-thumb-active {filter: unset;  opacity: 1;}
.ms7 .slidebox .thumbox .ms7_thum .item .img {width: 100%; height: 100%; object-fit: cover;}
.ms7 .txtbox {position: relative; width: 100%;}
.ms7 .txtbox .tit {font-weight: 600; font-size: 30px; line-height: 100%; color: #000; margin-bottom: 11px;}
.ms7 .txtbox .sub {font-size: 24px; line-height: 100%; color: #2ea8c1; margin-bottom: 24px;}
.ms7 .txtbox .desc {font-size: 20px; line-height: 140%; color: #666;}
.ms7 .txtbox .controls {display: flex; align-items: center; gap: 15px; position: absolute; top: 0; right: 0;}
.ms7 .txtbox .controls .prev_btn,
.ms7 .txtbox .controls .next_btn {position: relative; left: auto; right: auto; top: auto; margin: 0; background: no-repeat center/contain; width: 35px; height: auto; aspect-ratio: 1/1; transition: all 0.4s ease;}
.ms7 .txtbox .controls .prev_btn {background-image: url(../img/ms7_prev.png);}
.ms7 .txtbox .controls .next_btn {background-image: url(../img/ms7_next.png);}

.ms8 {margin-bottom: 50px;}

.ms9 {margin-bottom: 50px;}

.ms10 {margin-bottom: 75px;}




