:root {
	--transition: all 0.4s ease ;
	--shadow : 0 4px 12px 0 rgba(0, 0, 0, 0.08);

}


/* 공통 */
 * { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
html { scroll-behavior: smooth; }
html, body {font-family: 'Pretendard', sans-serif; width: 100%; position: relative;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
img.full {width: 100%; height: 100%; object-fit: contain;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}
::-webkit-scrollbar { width: 10px; height: 10px;}
::-webkit-scrollbar-track {background-color: #fff;}
::-webkit-scrollbar-thumb {background-color: #e1e1e1;}

body.hidden { overflow: hidden;} 
body::before { content: "";  position: fixed;  left: 0;  top: 0;  width: 100%;  height: 100%; background-color: rgba(0,0,0,0.25); z-index: 99;  transition: all 0.4s ease; opacity: 0; pointer-events: none;cursor: pointer;}
body.hidden::before { opacity: 1;  pointer-events: auto;}

.ml_wrap {font-family: 'Pretendard', sans-serif; width: 100%; min-height: 100vh; display: flex;  flex-direction: column; letter-spacing: 0;  font-size: 16px; line-height: 1.3; color: #000000; min-width: 1270px;}
.ml_wrap * {font-family: 'Pretendard', sans-serif;}
.ml_wrap a { color: inherit;}
.ml_wrap a.button { display: inline-flex;}
.ml_wrap .container { position: relative; flex: 1;  width: 100%; max-width: 100%; padding-top: 80px;}
.ml_wrap .inner {position: relative; width: 90%; max-width: 1280px;  margin-left: auto; margin-right: auto; padding: 0;}
.ml_wrap .section {position: relative; width: 100%;}
.ml_wrap .pc {display: block;}
.ml_wrap .tablet {display: none !important;}
.ml_wrap .mobile { display: none !important;}
.ml_wrap .swiper-button-prev:after, 
.ml_wrap .swiper-rtl .swiper-button-next:after,
.ml_wrap .swiper-button-next:after, 
.ml_wrap .swiper-rtl .swiper-button-prev:after {display: none;}



/* 공통 - 헤더*/
.ml_wrap .ml_header { position: fixed; left: 0; top: 0; width: 100%; height: 80px; background: #fff; z-index: 80; border-bottom: 1px solid #dfdfdf;}
.ml_wrap .ml_header .h_inner { height: 100%; display: flex; align-items: center; justify-content: space-between; gap: 40px;}
.ml_wrap .ml_header .h_logo { display: flex; align-items: baseline; gap: 10px;}
.ml_wrap .ml_header .h_logo .logo{ width: 115px;}
.ml_wrap .ml_header .h_logo .txt{ font-weight: 700;font-size: 14px;line-height: 157%;color: #333;}
.ml_wrap .ml_header .h_logo > a {display: flex;}
.ml_wrap .ml_header .h_side {display: flex; align-items: center; gap: 12px;} 
.ml_wrap .ml_header .h_side .button { font-weight: 400; height: 28px; padding: 0 12px;}



/* 공통 - 푸터 */
.ml_wrap .ml_footer {position: relative; background: #333; padding: 18px 0;}
.ml_wrap .ml_footer .f_inner {display: flex; align-items: center; justify-content: center; gap: 8px;}
.ml_wrap .ml_footer .copyright {font-size: 13px;line-height: 154%;color: #fff;}
.ml_wrap .ml_footer .inq_btn {border-radius: 4px;background: #222;font-weight: 700;font-size: 13px;line-height:1;color: #fff; display: flex; align-items: center; gap: 5px; padding: 0 12px; height: 28px;}
.ml_wrap .ml_footer .inq_btn .icon{width: 16px;}



/* 공통 - 폼 */
.ml_wrap .form_box {position: relative; display: flex; flex-wrap: wrap; gap: 24px;} 
.ml_wrap .form_line {width: 100%; height: 1px; background: #dfdfdf;}
.ml_wrap .input_box { position: relative; width: 100%; display: flex; flex-direction: column; gap: 12px;}
.ml_wrap .input_box .input_text { width: 100%; height: 48px; border: 1px solid #dfdfdf;   border-radius: 4px;  padding: 0 22px; font-size: 14px;line-height: 157%; color: #333; background: #fff;}
.ml_wrap .input_box .input_text::placeholder {color: #b3b2b7;}
.ml_wrap .input_box .input_text:read-only { border: none; padding: 0;}
.ml_wrap .input_box .input_text.datepicker {background: url(../img/ic_datepicker.png) no-repeat right 16px center/24px auto #fff; padding: 0 50px 0 20px;  cursor: pointer;}
.ml_wrap .input_box textarea.input_text {height: 120px; padding: 16px 20px; resize: none;}
.ml_wrap .input_box .label_text { font-weight: 700;font-size: 14px;line-height: 157%;color: #333; display: block; word-break: keep-all;}
.ml_wrap .input_box .label_text .required { color: #7c00ff;}
.ml_wrap .input_box .input_item {display: flex; align-items: center; justify-content: space-between; gap: 12px;}
.ml_wrap .input_box .input_item .input_text {flex: 1;}
.ml_wrap .input_box .input_item .select_box {flex: 1;}
.ml_wrap .input_box .input_item .mx230 {max-width: 230px;}
.ml_wrap .input_box .input_item .mx248 {max-width: 248px;}
.ml_wrap .input_box .input_item .mx300 {max-width: 300px;}
.ml_wrap .input_box .input_txt{font-size: 14px; line-height: 157%;color: #333;}
.ml_wrap .input_box .input_btn.typeC {font-weight: 400;padding: 0 24px;}
.ml_wrap .input_box .word_number { font-size: 13px;line-height: 154%;color: #9a99a0;  position: absolute;  right: 22px;bottom: 16px;}
.ml_wrap .input_box_sch .input_text{padding-right: 50px;}
.ml_wrap .input_box_sch .search_btn{background: url(../img/ic_search.png) no-repeat center/contain; width: 24px; aspect-ratio: 1/1; position: absolute; right: 16px; top: 50%; transform: translateY(-50%);}

.ml_wrap .input_box .email_item.ver2 {gap: 8px;}
.ml_wrap .input_box .email_item.ver2 .email_txt {margin: 0 5px;}

.ml_wrap .check_wrap { position: relative; display: flex; align-items: center; gap: 16px;} 
.ml_wrap .check_box { position: relative; display: flex; align-items: center; gap: 8px;} 
.ml_wrap .check_box .input_check { display: inline-block; width: 24px; aspect-ratio: 1 / 1;  appearance: none; background: url(../img/checkbox_off.png) no-repeat center / contain;  cursor: pointer;}
.ml_wrap .check_box .input_check:checked { background-image: url(../img/checkbox_on.png);}
.ml_wrap .check_box .label_check { flex: 1; display: inline-block; font-size: 13px;line-height: 154%;color: #666; word-break: keep-all; cursor: pointer; }
.ml_wrap .check_box .label_check .link {color: #333; }
.ml_wrap .check_box .label_check .line {text-decoration: underline;text-underline-offset: 3px;}

.ml_wrap .radio_wrap { display: flex; flex-wrap: wrap; align-items: center; gap:16px;}
.ml_wrap .radio_box { display: flex; align-items: center; gap: 6px;}
.ml_wrap .radio_box .input_radio {background: url(../img/radio_off.png) no-repeat center / contain; width: 24px; height: 24px; appearance: none; cursor: pointer;}
.ml_wrap .radio_box .input_radio:checked {background-image: url(../img/radio_on.png);}
.ml_wrap .radio_box .label_radio { font-size: 13px;line-height: 154%;color: #333; cursor: pointer;}
 
.ml_wrap .select_box { position: relative; width: 100%;}
.ml_wrap .select_box .select { width: 100%; appearance: none;height: 48px; border: 1px solid #dfdfdf;  border-radius: 4px;  padding: 0 54px 0 22px;  font-size: 14px;  line-height: 171%; color: #333; background: url(../img/select_arrow.png) no-repeat right 16px top 50% / 28px #fff; cursor: pointer;}

.ml_wrap .button {border: 1px solid #131720; border-radius: 4px; padding: 0 32px; height: 48px; display: inline-flex; align-items: center; justify-content: center; font-weight: 700; font-size: 14px; line-height: 100%; border: none; transition: var(--transition);}
.ml_wrap .button.typeA {background: #f50; border: 1px solid #f50; color: #fff;background-size: 100% auto;}
.ml_wrap .button.typeA:hover { background: #fff; color: #f50;box-shadow: none;}
.ml_wrap .button.typeB {background: #fff; color: #333; border: 1px solid #dfdfdf;}
.ml_wrap .button.typeB:hover{background: #333; border-color: #333; color: #fff;box-shadow: none;}
.ml_wrap .button.typeC {background: #fff; color: #333; border: 1px solid #b3b2b7;}
.ml_wrap .button.typeC:hover{background: #333; color: #fff;box-shadow: none;}
.ml_wrap .button.typeD {background: #333; color: #fff; border: 1px solid #333;}
.ml_wrap .button.typeD:hover{background: #fff; color: #333;box-shadow: none; }
.ml_wrap .button:disabled {background: #f5f5f5; border: 1px solid #f5f5f5; color: #cfcfcf;}
.ml_wrap .button:disabled:hover {background: #f5f5f5; border: 1px solid #f5f5f5; color: #cfcfcf;box-shadow: none;}
.ml_wrap .button.small {font-size: 13px; height: 40px; padding: 0 24px;}
.ml_wrap .button.big {padding: 0 40px;}

.ml_wrap [type=button].bookmark_btn {background: url(../img/ic_bookmark_off.png) no-repeat center/contain; width: 32px; aspect-ratio: 1/1; transition: none;} 
.ml_wrap [type=button].bookmark_btn.on {background-image: url(../img/ic_bookmark_on.png);}

.ml_wrap .swiper-button-prev.swiper_prev_btn {background: url(../img/ic_slide_arrow2.png) no-repeat center/contain; width: 48px; height: auto; aspect-ratio: 1/1; transition: var(--transition);}
.ml_wrap .swiper-button-prev.swiper_prev_btn.swiper-button-disabled {opacity: 0;}
.ml_wrap .swiper-button-next.swiper_next_btn {background: url(../img/ic_slide_arrow.png) no-repeat center/contain; width: 48px; height: auto; aspect-ratio: 1/1; transition: var(--transition);}
.ml_wrap .swiper-button-next.swiper_next_btn.swiper-button-disabled {opacity: 0;}



/* 공통 - datepicker */
/* #datepicker:focus>.ui-datepicker { display: block; }
.ui-datepicker {  font-family: inherit; display: none; margin-top: 10px; margin-left: 0; margin-right: 0;  width: 288px; box-shadow: var(--shadow);  background: #fff;  border: 1px solid #dfdfdf; border-radius: 8px; padding: 20px 16px; z-index: 50 !important;}
.ui-widget.ui-widget-content { border: 1px solid #dfdfdf;}
.ui-datepicker .ui-datepicker-ml_header { position: relative; padding: 0; display: flex;  align-items: center;  justify-content: center; gap: 8px; border-radius: 0;  background: #ffffff; margin-bottom: 20px; border: 0;}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {display: none;}
.ui-datepicker .ui-datepicker-title { margin: 0; text-align: center; order: 2;  font-weight: 700; font-size: 14px; line-height: 100%; color: #131720;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: relative; width: 20px !important; height: auto !important; left: auto; right:auto; top: auto; aspect-ratio: 1 / 1; display: flex; cursor: pointer;}
.ui-datepicker .ui-datepicker-prev {order: 1;}
.ui-datepicker .ui-datepicker-next {order: 3;}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span { position: relative; left: auto; margin-left: 0; top: auto; margin-top: 0;background: no-repeat center / contain; width: 100%; height: 100%; margin: 0  !important;}
.ui-datepicker .ui-datepicker-prev span{ background-image: url(../img/datepicker_prev.png);}
.ui-datepicker .ui-datepicker-next span{ background-image: url(../img/datepicker_next.png);}
.ui-datepicker-calendar { width: 100%; }  
.ui-datepicker table {margin: 0;}
.ui-datepicker td { padding: 0;}
.ui-datepicker-calendar>thead { display: none;}
.ui-datepicker-calendar>thead>tr>th { width: 36px; height: 36px; padding: 0; font-weight: 600; font-size: 13px; line-height: 154%; color: #131720;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-ml_header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { border: none; background-color: transparent;  font-weight: 400; font-size: 13px; line-height: 154%;  text-align: center; color: #131720;  width: 28px; height: 28px; padding: 0; display: flex;align-items: center;justify-content: center; margin: 4px;}
.ui-state-active::after {display: none;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-ml_header .ui-state-hover,
.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-ml_header .ui-state-focus,
.ui-button:hover,.ui-button:focus { border: none; background-color: transparent;text-align: center; font-weight: 400; font-size: 13px;  line-height: 154%; color: #131720; width: 28px; height: 28px;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-ml_header .ui-state-highlight { position: relative;}
.ui-state-highlight::after, .ui-widget-content .ui-state-highlight::after, .ui-widget-ml_header .ui-state-highlight::after { content: ""; width: 4px; aspect-ratio: 1/1; position: absolute; left: 50%; bottom: 2px; transform: translateX(-50%); background: #c4cdd6; border-radius: 50%;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-ml_header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border-radius: 50%; background: #131720; color: #ffffff;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-ml_header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border-radius: 50%; background: #131720; color: #ffffff;}
.ui-state-disabled { cursor: auto; color: #cccccc;}    
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {cursor: auto;  background-color: #ffffff; }  
.ui-datepicker-calendar>tbody>tr>td:hover {background-color: transparent; opacity: 0.6; }   
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-ml_header .ui-priority-secondary {  opacity: 1;  color: #adb2bb;}
.datepicker_lnline .ui-datepicker.ui-datepicker-inline { border: none; width: auto; box-shadow: none;   margin-top: 0;padding: 0; border-radius: 0;} */


/* 공통 - 모달  */
.ml_wrap .modal { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; background: rgb(8, 8, 8, 0.5); transition: all 0.4s ease; pointer-events: none; opacity: 0;}
.ml_wrap .modal.show { pointer-events: auto; opacity: 1;}
.ml_wrap .modal .modal_box { position: absolute; left: 50%;  top: 50%;  transform: translate(-50%, -50%);  border-radius: 8px; background: #fff;  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);  padding: 48px 16px 16px;  min-width: 400px; max-width: 90%;  max-height: 90%;  display: flex; flex-direction: column; align-items: center;  transition: all 0.4s ease;  margin-top: 40px; opacity: 0; overflow: auto;}
.ml_wrap .modal.show .modal_box { margin-top: 0; opacity: 1;}
.ml_wrap .modal .modal_box::-webkit-scrollbar {display: none;}
.ml_wrap .modal .modal_box.mx400 {max-width: 400px;}
.ml_wrap .modal .modal_box.noPadding {padding: 0;}
.ml_wrap .modal .modal_box .modal_img {width: 64px; margin-bottom: 24px;}
.ml_wrap .modal .modal_box .modal_tit { font-weight: 700;font-size: 16px;line-height: 150%;text-align: center;color: #333;}
.ml_wrap .modal .modal_box .modal_desc { font-size: 14px;line-height: 157%;text-align: center;
color: #333;  word-break: keep-all;}
.ml_wrap .modal .modal_box .modal_tit + .modal_desc {margin-top: 8px;}
.ml_wrap .modal .modal_box .modal_btnbox { width: 100%; display: flex; justify-content: center;  gap: 12px; margin-top: 40px;}
.ml_wrap .modal .modal_box .modal_tit + .modal_btnbox {margin-top: 40px;}
.ml_wrap .modal .modal_box .modal_btn {flex: 1; font-weight: 800;}
.ml_wrap .modal .modal_box .modal_btn.auto {flex:unset; padding: 0 40px;}
.ml_wrap .modal .modal_box .modal_head {position: relative; width: 100%; height: 64px; padding: 16px 20px; background: #f50; display: flex; align-items: center; justify-content: center;}
.ml_wrap .modal .modal_box .modal_head .modal_tit{text-align: center; font-size: 18px;line-height: 144%;color: #fff;} 
.ml_wrap .modal .modal_box .modal_head .close_btn{background: url(../img/ic_close.png) no-repeat center/contain; width: 24px; aspect-ratio: 1/1; position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}
.ml_wrap .modal .modal_box .modal_body {width: 100%; padding: 32px 24px 44px;}
.ml_wrap .modal .modal_box .modal_foot {width: 100%; display: flex; justify-content: center;  gap: 12px; padding: 16px 24px; border-top: 1px solid #dfdfdf;}


/* 공통 - 팝업 */
.ml_wrap .popup {position: absolute; opacity: 0; pointer-events: none;}
.ml_wrap .popup.show {opacity: 1; pointer-events: auto;}
.ml_wrap .popup .pop_close {background: url(../img/pop_close.png) no-repeat center/contain; width: 24px; aspect-ratio: 1/1;}


/* 공통 - 탭 */
.ml_wrap .tab_wrap {position: relative;}
.ml_wrap .tab_navbox { display: flex; align-items: center; justify-content: center;}
.ml_wrap .tab_navbox .tab_nav {flex: 1; position: relative;  font-size: 14px; line-height: 157%;text-align: center; transition: var(--transition); cursor: pointer; color: #333;  background: #fff; border: 1px solid #dfdfdf; border-right: 0;}
.ml_wrap .tab_navbox .tab_nav::before {content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; height: 100%;border: 2px solid #f50; pointer-events: none; transition: var(--transition); opacity: 0; border-radius: inherit;}
.ml_wrap .tab_navbox .tab_nav:nth-child(1) { border-radius: 4px 0 0 4px;}
.ml_wrap .tab_navbox .tab_nav:last-child { border-radius: 0 4px 4px 0; border-right: 1px solid #dfdfdf;}
.ml_wrap .tab_navbox .tab_nav .link { display: flex; justify-content: center; width: 100%;  height: 100%; padding: 12px 0; text-align: center;}
.ml_wrap .tab_navbox .tab_nav.on { color: #f50; font-weight: 700;}
.ml_wrap .tab_navbox .tab_nav.on::before {opacity: 1;}

.ml_wrap .tab_navbox.ver2 {border-bottom: 1px solid #dfdfdf;}
.ml_wrap .tab_navbox.ver2 .tab_nav {border: none;  color: #666;}
.ml_wrap .tab_navbox.ver2 .tab_nav::before { left: 0;  top: auto;  bottom: 0;  transform: none;   height: 4px;  background: #f50;  border: none; border-radius: 100px;}
.ml_wrap .tab_navbox.ver2 .tab_nav:nth-child(1) { border-radius: 0;}
.ml_wrap .tab_navbox.ver2 .tab_nav:last-child { border-radius: 0; border-right: 0;}
.ml_wrap .tab_navbox.ver2 .tab_nav .link { padding: 0 0 15px;}
.ml_wrap .tab_navbox.ver2 .tab_nav.on {color: #f50;}

.ml_wrap .tab_contbox { position: relative;}
.ml_wrap .tab_contbox .tab_cont { display: none; /*animation: 1.2s ease 0s fadeIn;*/}
.ml_wrap .tab_contbox .tab_cont.on {display: block;}

@keyframes fadeIn {
	0% {opacity:0}
	100% {opacity:1;}
}

.ml_wrap .tab_swiper {width: 100%;}
.ml_wrap .tab_swiper .tab_navbox {  justify-content: center; gap: 0;}
.ml_wrap .tab_swiper .tab_navbox .tab_nav {width: auto;}



/* 공통 - 페이지네이션 */
.ml_wrap .paging {flex: 1; width: 100%; display: flex; align-items: center; justify-content: center; gap:8px; margin-top: 40px;}
.ml_wrap .paging .page { width: 40px; height: 40px;  font-size: 14px;  line-height: 157%;  letter-spacing: -0.04em;  color: #333;  border: 1px solid #cfcfcf;;   border-radius: 4px; background: #fff;  overflow: hidden;}
.ml_wrap .paging .page.on { font-weight: 700; color: #fff;  background: #f50; border-color: #f50;}
.ml_wrap .paging .page .link {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}
.ml_wrap .paging .page_btn:nth-child(2){margin-right: 8px;}
.ml_wrap .paging .page_btn:nth-last-child(2){margin-left: 8px;}



/* 공통 - 채용정보 */
.ml_wrap .joblist { display: flex; flex-direction: column;  border-top: 1px solid #333;}
.ml_wrap .joblist .item{padding: 24px 0; display: flex; align-items: center; gap: 24px; border-bottom: 1px solid #eee;}
.ml_wrap .joblist .item .logo { width: 159px; display: flex; align-items: center;  justify-content: flex-start;}
.ml_wrap .joblist .item .logo .img { max-height: 40px;}
.ml_wrap .joblist .item .txtbox{flex: 1;}
.ml_wrap .joblist .item .txtbox .tit{font-weight: 700;font-size: 16px;line-height: 150%;color: #333; margin-bottom: 2px; display: flex; align-items: center; gap: 6px;}
.ml_wrap .joblist .item .txtbox .tit .dday{font-weight: 800; font-size: 13px; height: 24px; line-height: 1; text-transform: uppercase;color: #333; border: 1px solid #333; border-radius: 4px; padding: 0 12px; display: inline-flex; align-items: center; justify-content: center;}
.ml_wrap .joblist .item .txtbox .desc{font-size: 14px;line-height: 157%;color: #666;}
.ml_wrap .joblist .item .txtbox .tagbox{margin-top: 12px; display: flex; gap: 6px;}
.ml_wrap .joblist .item .txtbox .tagbox .tag{font-size: 12px ;line-height: 150%;color: #666; padding: 3px 12px; border: 1px solid #dfdfdf; border-radius: 100px;}
.ml_wrap .joblist .item .btnbox{display: flex; align-items: center; gap: 8px;}
.ml_wrap .joblist .item .btnbox .bookmark_btn {width: 40px;}
.ml_wrap .joblist .item .btnbox .button.typeC {font-weight: 400;}
.ml_wrap .joblist .item .btnbox .btnitem {position: relative;}
.ml_wrap .joblist .item .btnbox .btnitem .msg { position: absolute;  right: 8px;  bottom: calc(100% - 1px); font-weight: 700;font-size: 12px;  line-height: 150%;  text-transform: uppercase; color: #fff; border-radius: 4px; background: #333; width: 308px;  height: 28px; padding: 0 12px; white-space: nowrap; display: flex; align-items: center;  justify-content: flex-end; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);}
.ml_wrap .joblist .item .btnbox .btnitem .msg::after { content: ""; position: absolute;  right: 43px; top: calc(100% - 4px);  background: url(../img/msgbg_tail.png) no-repeat center / contain;  width: 17px; height: 12px;}



/* 공통 -  브레드크럼 */
.ml_wrap .breadcrumb { font-weight: 700; height: 48px; font-size: 12px;line-height: 150%; color: #333;  display: flex; align-items: center; gap: 4px;}
.ml_wrap .breadcrumb .home{background: url(../img/ic_home.png) no-repeat center/contain; width: 16px; aspect-ratio: 1/1;}
.ml_wrap .breadcrumb .arrow{background: url(../img/ic_arrow.png) no-repeat center/contain; width: 16px; aspect-ratio: 1/1;}
.ml_wrap .breadcrumb .link{display: inline-block;}

.ml_wrap .breadcrumb.white {color: #fff;}
.ml_wrap .breadcrumb.white .home {background-image: url(../img/ic_home2.png);}
.ml_wrap .breadcrumb.white .arrow { filter: brightness(10) grayscale(10);}



/* 공통 - 페이지 타이틀 */
.ml_wrap .page_title {font-weight: 700; font-size:32px;line-height: 150%;text-align: center;
color: #333;}
.ml_wrap .page_title.mb1 {margin-bottom: 32px;}
.ml_wrap .page_title.mb2 {margin-bottom: 40px;}
.ml_wrap .page_subtitle {font-weight: 700;font-size: 36px;line-height: 133%;color: #131720; text-align: center;}


/* 서브페이지 상단 */
.ml_wrap .sub_top {position: relative; background: no-repeat center/cover; height: 360px;}
.ml_wrap .sub_top.mypage_top {background-image: url(../img/mypage_top.jpg);}
.ml_wrap .sub_top .txtbox {position: absolute; left: 50%; top: 50%;transform: translate(-50%,-50%); display: flex; flex-direction: column; align-items: center; gap: 8px; text-align: center;}
.ml_wrap .sub_top .txtbox .tit{font-weight: 700;font-size: 32px;line-height: 150%;color: #fff;}
.ml_wrap .sub_top .txtbox .desc{font-size: 14px;line-height: 157%;color: #fff; padding-bottom: 20px;}