
/* 메인 */
.m_titbox { display: flex;  align-items: flex-end;  gap: 0.875rem;  margin-bottom: 1.875rem;}
.m_txt1 { font: var(--28_title_sb); letter-spacing: -0.02em; color: var(--basic-black);}
.m_txt2 {  font: var(--16_body_normal_sb); font-family: var(--second-family);  color: var(--brand-primary);}
.m_txt3 { font: var(--18_headline_sb); color: var(--brand-third);}
.m_more {  font:var(--13_label_sb); font-family: var(--second-family);   color: var(--brand-primary);}

.ms1 .ms1_swiper {width: 100%; height: 30rem;}
.ms1 .ms1_swiper .item {position: relative; width: 100%; height: 100%;}
.ms1 .ms1_swiper .item .bgbox {  width: 100%;  height: 100%;  display: flex;   align-items: center;  justify-content: center;}
.ms1 .ms1_swiper .item .txtbox { position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%, -50%);  display: flex; flex-direction: column; align-items: flex-start;}
.ms1 .ms1_swiper .item .txtbox .eng {  font: var(--16_body_normal_sb);  font-family: var(--second-family);  line-height: 140%;  color: var(--basic-white); margin-bottom: 1.5rem;}
.ms1 .ms1_swiper .item .txtbox .tit {  font: var(--56_display_r); font-family: var(--second-family);  line-height: 140%; color: var(--basic-white);}
.ms1 .ms1_swiper .item .txtbox .tit .bold {font-family: var(--third-family);}
.ms1 .ms1_swiper .item .txtbox .link {  border-radius: 10rem;  padding: 0.75rem 1.5rem;  background: var(--brand-primary);  margin-top: 3.75rem;  display: flex;  align-items: center;  gap: 1rem;  font: var(--18_headline_sb);   line-height: 145%;  color: var(--basic-white);}
.ms1 .ms1_swiper .item .txtbox .link .icon {width: 1.25rem; color: var(--basic-white); transition: var(--transition);}
.ms1 .ms1_swiper .item .txtbox .link:hover .icon {transform: rotate(405deg);}
.ms1 .ms1_swiper .prev_btn,
.ms1 .ms1_swiper .next_btn {background: no-repeat center/contain; width: 5rem; height: unset; aspect-ratio: 1/1; margin: 0; top: 50%;  transform: translateY(-50%);}
.ms1 .ms1_swiper .prev_btn {background-image: url(../img/ms1_prev.png); left: 5rem;}
.ms1 .ms1_swiper .next_btn {background-image: url(../img/ms1_next.png); right: 5rem;}
.ms1 .ms1_swiper .paging { display: flex;align-items: center;  gap: 0.5rem; bottom: 2rem; padding: 0 calc(var(--margin-left) + 1rem); display: none;}
.ms1 .ms1_swiper .paging .swiper-pagination-bullet {  margin: 0;  width: 0.5rem;  height: unset;  aspect-ratio: 1 / 1;  background: var(--basic-white);  transition: var(--transition);  opacity: 0.6;}
.ms1 .ms1_swiper .paging .swiper-pagination-bullet-active { background: var(--brand-primary); opacity: 1;}


.ms2 { padding: 2.5rem 0 5rem;}
.ms2 .ms2_tit {  font-family: var(--second-family);  font-weight: 700;  font-size: 4rem;  line-height: 100%;  text-transform: capitalize;  text-align: right;   color: var(--brand-primary);  opacity: 0.2;  transform: skewX(-10deg);}
.ms2 .contbox {  display: flex; flex-wrap: wrap;  gap: 1.25rem;}
.ms2 .contbox .item {  width: calc((100% - 1.25rem) / 2);  border-radius: 1.5rem;  padding: 1.5rem 2.5rem;  background: linear-gradient(90deg, #f6faef 0%, #f9f9f9 100%);  display: flex;  align-items: center;  justify-content: space-between;}
.ms2 .contbox .item .txtbox { flex: 1; display: flex;  flex-direction: column;  gap: 0.625rem;}
.ms2 .contbox .item .txtbox .tit { font: var(--20_heading_sb); letter-spacing: -0.01em;  color: var(--brand-third);}
.ms2 .contbox .item .txtbox .descbox { display: flex; flex-direction: column;}
.ms2 .contbox .item .txtbox .descbox .desc {  position: relative;  font: var(--16_body_normal_r);  letter-spacing: 0.01em;  color: var(--basic-middlegray);   display: flex; align-items: flex-start; gap: 0.25rem;}
.ms2 .contbox .item .txtbox .descbox .desc::before {content: "•";}
.ms2 .contbox .item .imgbox { display: flex; align-items: center; justify-content: center;  width: 5rem;}

.ms3 {padding-bottom: 6.25rem;}
.ms3 .contbox {display: flex; gap: 1.875rem;}
.ms3 .contbox .leftbox,
.ms3 .contbox .rightbox {width: 50%; display: flex; gap: 1.25rem;}
.ms3 .contitem {flex: 1;  display: flex; flex-direction: column; gap: 0.75rem;    overflow: hidden;}
.ms3 .contitem .titbox {  display: flex;  align-items: center; justify-content: space-between; gap: 0.625rem;}
.ms3 .contitem .gall_box { display: flex; gap: 0.75rem;}
.ms3 .contitem .gall_box .item {flex: 1; overflow: hidden;}
.ms3 .contitem .gall_box .item > .link {width: 100%; display: flex; flex-direction: column; gap: 0.625rem;}
.ms3 .contitem .gall_box .item .imgbox {width: 100%; border: 1px solid var(--basic-border);border-radius: 1rem; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.ms3 .contitem .gall_box .item > .link .imgbox .img {transition: var(--transition);}
.ms3 .contitem .gall_box .item .tit { font: var(--13_label_m);  letter-spacing: 0.01em;  color: var(--brand-third); white-space: nowrap; overflow: hidden;  text-overflow: ellipsis; transition: var(--transition);}
.ms3 .contitem .gall_box .item > .link:hover .imgbox .img {transform: scale(1.1);}
.ms3 .contitem .gall_box .item > .link:hover .tit {color: var(--brand-primary);}
.ms3 .contitem .list_box { border-radius: 1rem;  padding: 1rem 1.25rem;  background: var(--basic-bg);  display: flex;  flex-direction: column;  gap: 0.625rem;}
.ms3 .contitem .list_box .item {width: 100%;}
.ms3 .contitem .list_box .item > .link { display: flex;  align-items: center;   justify-content: space-between; gap: 1rem;  font: var(--13_label_m);  letter-spacing: 0.01em;   overflow: hidden;}
.ms3 .contitem .list_box .item .tit {color: var(--brand-third); transition: var(--transition);   flex: 1;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
.ms3 .contitem .list_box .item .date {color: var(--basic-middlegray); transition: var(--transition);}
.ms3 .contitem .list_box .item > .link:hover .tit,
.ms3 .contitem .list_box .item > .link:hover .desc {color: var(--brand-primary);}

.ms4 {padding-bottom: 3.75rem;}
.ms4 .m_titbox {justify-content: flex-end;}
.ms4 .contbox { display: flex;  gap: 1.875rem;}
.ms4 .contbox .leftbox { width: 40%; max-width: 31.875rem;display: flex; flex-direction: column; gap: 1rem;}
.ms4 .contbox .leftbox .logobox { display: flex;  align-items: center;  justify-content: center;  width: 8.75rem;  margin-left: 1.25rem;}
.ms4 .contbox .leftbox .listbox {  border: 1px solid var(--basic-border);   border-radius: 1.25rem;  padding: 1.25rem;  background: var(--basic-white);  display: flex;  flex-direction: column;  gap: 0.75rem;}
.ms4 .contbox .leftbox .listbox .item { width: 100%;  border-bottom: 1px solid var(--basic-border);  padding-bottom: 0.75rem;}
.ms4 .contbox .leftbox .listbox .item:last-child {border-bottom: 0; padding-bottom: 0;}
.ms4 .contbox .leftbox .listbox .item > .link {width: 100%;  display: flex; gap: 0.625rem;}
.ms4 .contbox .leftbox .listbox .item .imgbox { width: 7.25rem;  aspect-ratio: 116 / 69;  border-radius: 0.25rem;  overflow: hidden;}
.ms4 .contbox .leftbox .listbox .item > .link .imgbox .img {transition: var(--transition);}
.ms4 .contbox .leftbox .listbox .item > .link:hover .imgbox .img {transform: scale(1.1);}
.ms4 .contbox .leftbox .listbox .item .txtbox {  flex: 1;  display: flex;   flex-direction: column;  gap: 0.25rem;  overflow: hidden;}
.ms4 .contbox .leftbox .listbox .item .txtbox .tit {  font: var(--15_body_read_m);  letter-spacing: 0.01em;  color: var(--brand-third);  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
.ms4 .contbox .leftbox .listbox .item .txtbox .desc {  font: var(--13_label_r);  letter-spacing: 0.02em;  color: var(--basic-middlegray);  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
.ms4 .contbox .leftbox .listbox .item .txtbox .more {  font: var(--12_caption_r);   letter-spacing: 0.03em;  color: var(--basic-middlegray);  text-align: right;}
.ms4 .contbox .rightbox {  flex: 1;  background: url(../img/ms4_banner.jpg) no-repeat center / cover;  border-radius: 1.25rem;  display: flex;  align-items: center;   justify-content: space-between;  gap: 3.5rem;  padding: 1.5rem 2.5rem;}
.ms4 .contbox .rightbox .imgbox { display: flex;  align-items: center;  justify-content: center;  width: 15rem; margin-left: 1.5rem;}
.ms4 .contbox .rightbox .txtbox{flex: 1; display: flex; flex-direction: column; align-items: flex-start;}
.ms4 .contbox .rightbox .txtbox .sub {  font: var(--16_body_normal_r);   letter-spacing: 0.01em;  color: var(--basic-white);  margin-bottom: 0.5rem;}
.ms4 .contbox .rightbox .txtbox .tit { font: var(--28_title_r);  font-family: var(--third-family);  line-height: 133%;  letter-spacing: -0.03em; color: var(--basic-white);}
.ms4 .contbox .rightbox .txtbox .link  {  border-radius: 10rem;  padding: 0.75rem 1.5rem;  margin-top: 2.5rem;  display: flex;  align-items: center;  gap: 1rem;  font: var(--18_headline_sb);  line-height: 145%;  color: var(--basic-white); border: 1px solid var(--basic-white);}
.ms4 .contbox .rightbox .txtbox .link .icon {width: 1.25rem; color: var(--basic-white); transition: var(--transition);}
.ms4 .contbox .rightbox .txtbox .link:hover .icon {transform: rotate(405deg);}

.ms5 { padding: 3.125rem 0; background: var(--basic-bg);}
.ms5 .contbox { display: flex; gap: 1.375rem;}
.ms5 .contbox .item { position: relative; flex: 1; height: 9.875rem; border-radius: 1.25rem; }
.ms5 .contbox .item1 { background: linear-gradient(90deg, #df2d2d 0%, #ff4b4b 65.38%);}
.ms5 .contbox .item2 {background: linear-gradient(90deg, #2c9e07 0%, #76c65c 65.38%);}
.ms5 .contbox .item3 {background: linear-gradient(90deg, #0069bd 0%, #3d99e2 65.38%);}
.ms5 .contbox .item > .link {  width: 100%; height: 100%;  padding: 1.25rem;  display: flex;   flex-direction: column;  align-items: flex-start;}
.ms5 .contbox .item .tit {  font: var(--20_heading_sb);   font-family: var(--second-family);  letter-spacing: -0.01em;  color: var(--basic-white);   margin-bottom: 0.5rem;}
.ms5 .contbox .item .desc { font: var(--16_body_normal_r);letter-spacing: 0.01em;  color: var(--basic-white);}
.ms5 .contbox .item .more {  border: 1px solid var(--basic-white);  border-radius: 10rem;  padding: 0.25rem 1.25rem;  margin-top: auto;  font: var(--14_label_normal_sb); letter-spacing: 0.01em;  color: var(--basic-white);  display: flex;  align-items: center;  justify-content: center;  transition: var(--transition);}
.ms5 .contbox .item1 > .link:hover .more {background: var(--basic-white); color: #df2d2d;}
.ms5 .contbox .item2 > .link:hover .more {background: var(--basic-white); color: #2c9e07;}
.ms5 .contbox .item3 > .link:hover .more {background: var(--basic-white); color: #0069bd;}
.ms5 .contbox .item .corner { --width:4.5rem; --radius:1.875rem; position: absolute; right: -1px;  bottom: -1px;  border-radius: var(--radius) 0 0 0; padding-left: 0.75rem; padding-top: 0.75rem;  background: var(--basic-bg); width: var(--width);  aspect-ratio: 1 / 1; display: flex;  align-items: center;  justify-content: center;}
.ms5 .contbox .item .corner:before,
.ms5 .contbox .item .corner:after {content: ""; position: absolute;   width: var(--width); aspect-ratio: 1/1; overflow: hidden; border-radius: 50%; box-shadow: var(--radius) var(--radius) 0 0 var(--basic-bg);;}
.ms5 .contbox .item .corner:before {left: calc(var(--width) * -1); bottom: 0;}
.ms5 .contbox .item .corner:after {right: 0; top: calc(var(--width) * -1);}
.ms5 .contbox .item .corner .icon {position: relative; z-index: 10;}

.ms6 { padding: 2.75rem 0;}
.ms6 .contbox {display: flex; gap: 1.25rem;}
.ms6 .contbox .item {flex: 1; display: flex; flex-direction: column; align-items: center;}
.ms6 .contbox .item .imgbox {display: flex; align-items: center; justify-content: center; margin-bottom: 0.5rem;}
.ms6 .contbox .item .imgbox .img {height: 2.25rem; width: auto;}
.ms6 .contbox .item .txtbox {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 0.125rem; min-height: 2.875rem;}
.ms6 .contbox .item .txtbox .desc {font:var(--13_label_r);letter-spacing: 0.02em;
color: var(--basic-middlegray);}
.ms6 .contbox .item .txtbox .tit {font:var(--18_headline_sb);color: var(--brand-third);}
.ms6 .contbox .item .more {display: flex; align-items: center; gap: 0.313rem; font:var(--14_label_normal_sb);letter-spacing: 0.01em;color: var(--brand-primary); margin-top: 0.875rem;}
.ms6 .contbox .item .more .iconbox {width: 1.25rem; aspect-ratio: 1/1; border-radius: 10rem; padding: 0.125rem;background: var(--brand-primary); display: flex; align-items: center;justify-content: center;}
.ms6 .contbox .item .more .iconbox .icon {width: 100%; color: var(--basic-white); transition: var(--transition);}
.ms6 .contbox .item .more:hover .icon {transform: rotate(405deg);}
.ms6 .contbox .bar {width: 1px; align-self: stretch; background: var(--basic-border);}


/* 플랜트건설노조는 */
.about_sec1 {margin-bottom: 6.25rem;}
.about_sec1 .contbox { display: flex; gap: 1.25rem;  margin-bottom: 2.5rem;}
.about_sec1 .contbox .leftbox { width: 38%; max-width: 30rem;}
.about_sec1 .contbox .leftbox .item { width: 100%; height: 100%; display: flex; align-items: center;   justify-content: center;  border-radius: 1rem;  background: var(--basic-bg);  border: 1px solid var(--basic-border);}
.about_sec1 .contbox .leftbox .item .img {width: 15rem;}
.about_sec1 .contbox .rightbox { flex: 1; display: flex; flex-direction: column;  gap: 1.25rem;}
.about_sec1 .contbox .rightbox .item { border-radius: 1rem;  display: flex;  align-items: center;  justify-content: center; padding: 2.5rem 0;}
.about_sec1 .contbox .rightbox .item1 {border: 1px solid var(--basic-border);background: var(--basic-white);}
.about_sec1 .contbox .rightbox .item2 {background: var(--primary-primary900);}
.about_sec1 .contbox .rightbox .item .img {width: 25rem;}
.about_sec1 .contbox2 {display: flex; gap: 1rem;}
.about_sec1 .contbox2 .item {flex: 1; display: flex; flex-direction: column; align-items: center; gap: 1rem; padding: 1rem 0;}
.about_sec1 .contbox2 .item .iconbox {width: 3.125rem; aspect-ratio: 1/1; border-radius: 50%; background: var(--brand-primary); display: flex; align-items: center; justify-content: center;}
.about_sec1 .contbox2 .item .iconbox .icon {width: 1.5rem; color: var(--basic-white);}
.about_sec1 .contbox2 .item .txt { font: var(--16_body_read_m); text-align: center;  color: var(--basic-middlegray);}
.about_sec1 .contbox2 .bar {width: 1px; align-self:stretch; background: var(--basic-border);}
.about_sec2 {margin-bottom: 6.25rem;}
.about_sec3 .contbox {display: flex; flex-wrap: wrap; gap: 1.25rem 2.5rem; }
.about_sec3 .contbox .item {width: calc((100% - 2.5rem)/2); border-radius: 1.5rem;padding: 1.25rem;background: var(--basic-bg);display: flex; align-items: center;gap: 1.25rem;}
.about_sec3 .contbox .item .num { font: var(--32_title_r); font-family: var(--third-family); background: linear-gradient(180deg, #a4dc96 0%, #57b530 100%);  background-clip: text;  -webkit-background-clip: text;  -webkit-text-fill-color: transparent; transform: skewX(-10deg);}
.about_sec3 .contbox .item .desc { flex: 1; font: var(--16_body_read_r); letter-spacing: 0.01em; color: var(--basic-darkgray);}


/* 조직현황 */
.status_sec1 {margin-bottom: 5rem;}
.status_sec1 .contbox { display: flex; gap: 2.5rem;}
.status_sec1 .contbox .mapbox { width: 50%; border: 1px solid var(--basic-border);   border-radius: 1.25rem; padding: 0.625rem 2.5rem; background: var(--basic-bg); display: flex; align-items: center; justify-content: center;}
.status_sec1 .contbox .mapbox .map { width: unset; max-width: unset; height: 23.125rem; transition: var(--transition);}
.status_sec1 .contbox .txtbox { width: 50%; display: flex; flex-direction: column;   gap: 2.5rem;  padding-top: 2.5rem;}
.status_sec1 .contbox .txtbox .topbox { display: flex;  flex-direction: column;  gap: 0.75rem; border-bottom: 1px solid var(--basic-border); padding-bottom: 2.5rem;}
.status_sec1 .contbox .txtbox .topbox .desc { font: var(--20_heading_m);  letter-spacing: -0.01em;  color: var(--basic-middlegray);}
.status_sec1 .contbox .txtbox .topbox .infobox {display: flex; align-items: center; gap: 1.5rem; padding-top: 0.75rem;}
.status_sec1 .contbox .txtbox .topbox .infobox .item {display: flex; align-items: center; gap: 0.625rem;}
.status_sec1 .contbox .txtbox .topbox .infobox .item .icon {width: 1.5rem;}
.status_sec1 .contbox .txtbox .topbox .infobox .item .txt {font:var(--16_body_normal_m);letter-spacing: 0.01em;color: var(--basic-middlegray);}
.status_sec1 .contbox .txtbox .topbox .infobox .bar {width: 1px; height: 1rem;background: var(--basic-border);}
.status_sec1 .contbox .txtbox .mapbtn {  display: flex; flex-wrap: wrap;  gap: 0.625rem;}
.status_sec1 .contbox .txtbox .mapbtn .btn { width: calc((100% - 0.625rem*2)/3); height: 2.5rem; font:var(--16_body_normal_m);letter-spacing: 0.01em;color: var(--basic-darkgray); border: 1px solid var(--basic-border);border-radius: 0.75rem;padding: 0 0.625rem;background: var(--basic-white); display: flex; align-items: center; justify-content: center; transition: var(--transition);}
.status_sec1 .contbox .txtbox .mapbtn .btn.on {border: 1px solid var(--brand-primary); background: var(--primary-primary100);
 color: var(--brand-primary);}
.status_sec2 .contbox { display: flex; gap: 2.5rem;}
.status_sec2 .contbox .txtbox { width: 50%;  padding-top: 2.5rem;  display: flex;   flex-direction: column;}
.status_sec2 .contbox .txtbox .descbox { display: flex;  flex-direction: column;  gap: 0.625rem;}
.status_sec2 .contbox .txtbox .descbox .desc { position: relative;  display: flex;  align-items: flex-start;  gap: 0.5rem;}
.status_sec2 .contbox .txtbox .descbox .desc::before { content: "•";  font-weight: 600;  font-size: 1.5rem;  color: var(--brand-primary); line-height: 1;}
.status_sec2 .contbox .txtbox .descbox .desc .txt {  flex: 1;  font: var(--16_body_normal_m);  letter-spacing: 0.01em;  color: var(--basic-middlegray);  display: flex;  flex-direction: column;  gap: 0.25rem;}
.status_sec2 .contbox .txtbox .descbox .desc .txt .small { font: var(--14_label_normal_r); letter-spacing: 0.01em; color: var(--basic-middlegray);}
.status_sec2 .contbox .imgbox {  width: 50%;  border: 1px solid var(--basic-border);  border-radius: 1.25rem;  padding: 2.5rem;  background: var(--basic-pointbg);   display: flex;  flex-direction: column;  align-items: center;}
.status_sec2 .contbox .imgbox .item { width: 12.5rem;  border-radius: 1.5rem;   padding: 1rem 0.75rem;  display: flex;  align-items: center; flex-wrap: wrap;  gap: 0.625rem;  justify-content: center;  border: 1px solid var(--brand-primary); background: var(--basic-white);}
.status_sec2 .contbox .imgbox .item.full {width: 100%;}
.status_sec2 .contbox .imgbox .item .tit { font: var(--18_headline_sb); color: var(--brand-primary);}
.status_sec2 .contbox .imgbox .item .desc {font:var(--14_label_normal_r);letter-spacing: 0.01em;color: var(--basic-middlegray);}
.status_sec2 .contbox .imgbox .item.top {background: var(--primary-primary600); border: none;}
.status_sec2 .contbox .imgbox .item.top .tit {color: var(--basic-white);}
.status_sec2 .contbox .imgbox .line {width: 1px; height: 1rem;background: var(--brand-primary);}


/* 임원소개 */
.member_sec1 .sub_titbox {margin-bottom: 3.75rem;}
.member_sec1 .sub_titbox .desc {margin-top: 1.25rem; font:var(--16_body_normal_m);letter-spacing: 0.01em;color: var(--basic-middlegray);} 
.member_sec1 .contbox {display: flex; flex-wrap: wrap;gap: 2.5rem;}
.member_sec1 .contbox .item {width: calc((100% - 2.5rem*2)/3);display: flex; flex-direction: column; align-items: flex-start; gap: 1rem;}
.member_sec1 .contbox .item .imgbox {width: 12.5rem; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center;border-radius: 50%; overflow: hidden;}
.member_sec1 .contbox .item .txtbox {display: flex; flex-direction: column; gap: 1rem;}
.member_sec1 .contbox .item .txtbox .top {display: flex; align-items: center; gap: 0.75rem;}
.member_sec1 .contbox .item .txtbox .top .name {font:var(--28_title_sb);letter-spacing: -0.02em;color: var(--brand-third);}
.member_sec1 .contbox .item .txtbox .top .badge {font:var(--16_body_normal_m);letter-spacing: 0.01em;color: var(--basic-white); border-radius: 10rem;padding: 0.188rem 1rem;background: var(--brand-primary);display: flex; align-items: center; justify-content: center;}
.member_sec1 .contbox .item .txtbox .desc {border-left: 1px solid var(--brand-primary); padding-left: 1rem; font:var(--16_body_read_r);letter-spacing: 0.01em;color: var(--basic-darkgray);}


/* 걸어온 길 */
.history_sec1 .history_tab { margin-bottom: 1.25rem;}
.history_sec1 .history_tab .link { height: 2.75rem; font: var(--16_body_normal_m);  letter-spacing: 0.01em;  color: var(--basic-darkgray); border: 1px solid var(--basic-border);  border-radius: 0.875rem;  padding: 0 1.5rem;  background: var(--basic-white); display: flex; align-items: center; justify-content: center;}
.history_sec1 .history_tab .link.on{background: var(--brand-primary); border-color: var(--brand-primary);color: var(--basic-white);}
.history_sec1 .tab_navbox { justify-content: flex-start; padding: 0 1rem;}
.history_sec1 .tab_navbox .tab_nav { font: var(--20_heading_m);}
.history_sec1 .history_box { position: relative; display: flex;flex-direction: column; margin-top: 3.125rem;}
.history_sec1 .history_box::before, .history_sec1 .history_box::after { content: "";  position: absolute;  left: 17rem;  top: 0; width: 1px; background: var(--basic-border);}
.history_sec1 .history_box::before { height: calc(100% + 10rem); background: var(--basic-border);}
.history_sec1 .history_box::after { background: var(--brand-primary); height: var(--height); transition: height 0.1s ease-out;}
.history_sec1 .history_item { position: relative; display: flex; align-items: flex-start; gap: 4.5rem; z-index: 10;}
.history_sec1 .history_item .year { width: 12.5rem; font: var(--36_title_sb);  letter-spacing: -0.03em; color: var(--brand-third);}
.history_sec1 .history_item .linebox { position: relative; align-self: stretch;}
.history_sec1 .history_item .linebox .line { width: 1px; height: 100%;  background: var(--basic-border); opacity: 0;}
.history_sec1 .history_item .linebox .dot { position: absolute; left: 50%;  top: 0;  width: 1.25rem;  aspect-ratio: 1 / 1;  background: var(--basic-pale);  border-radius: 50%; transform: translateX(-50%); transition: var(--transition);}
.history_sec1 .history_item .linebox .dot::after { content: "";  width: 50%;  aspect-ratio: 1 / 1;  position: absolute; left: 50%;  top: 50%;  transform: translate(-50%, -50%); background: var(--basic-lightgray); border-radius: 50%;  transition: var(--transition);}
.history_sec1 .history_item.on .linebox .dot {background: var(--primary-primary100);}
.history_sec1 .history_item.on .linebox .dot::after {background: var(--brand-primary);}
.history_sec1 .history_item .contbox {flex: 1; display: flex; flex-direction: column;  gap: 1rem; padding-bottom: 3.75rem;}
.history_sec1 .history_item:last-child  .linebox .line {opacity: 1;}
.history_sec1 .history_item .contbox .item { display: flex; flex-direction: column;  align-items: flex-start;  gap: 1rem;}
.history_sec1 .history_item .contbox .item .imgbox { display: flex;  align-items: center;  justify-content: center; width: 13rem;  aspect-ratio: 208 / 160; border: 1px solid var(--basic-border); border-radius: 0.625rem; overflow: hidden;}
.history_sec1 .history_item .contbox .item .txtbox {display: flex; align-items: flex-start; gap: 1.25rem; font:var(--18_headline_r);color: var(--basic-darkgray);}
.history_sec1 .history_item .contbox .item .txtbox .date {font-weight: 600; color: var(--brand-third); width: 7.5rem;}
.history_sec1 .history_item .contbox .item .txtbox .date .small {font: var(--14_label_normal_r); letter-spacing: 0.01em;}
.history_sec1 .history_item .contbox .item .txtbox .desc {flex: 1;}


/* 오시는 길 */
.location_sec1 .map_box {width: 100%; height: 25rem; border-radius: 1rem; overflow: hidden; margin-bottom: 3.75rem;}
.location_sec1 .map_box .map {width: 100%; height: 100%;}
.location_sec1 .contbox {display: flex; gap: 2.5rem;}
.location_sec1 .contbox .sub_titbox {width: 50%;}
.location_sec1 .contbox .txtbox {width: 50%; display: flex; flex-direction: column; gap: 1rem;}
.location_sec1 .contbox .txtbox .addr {display: flex; align-items: center; gap: 0.5rem; font:var(--20_heading_m);letter-spacing: -0.01em;color: var(--basic-middlegray);}
.location_sec1 .contbox .txtbox .addr .icon {width: 1.25rem;}
.location_sec1 .contbox .txtbox .addr .txt {flex: 1;}
.location_sec1 .contbox .txtbox .info {border-top: 1px solid var(--basic-border);padding-top: 1.25rem; display: flex; flex-direction: column; gap: 0.5rem;}
.location_sec1 .contbox .txtbox .info .item {display: flex; align-items: center; gap: 1.5rem; font:var(--16_body_normal_r);letter-spacing: 0.01em;color: var(--basic-middlegray);}
.location_sec1 .contbox .txtbox .info .item .tit {width: 3.125rem; font-weight: 600;color: var(--basic-middlegray);}
.location_sec1 .contbox .txtbox .info .item .desc {flex: 1;}
.location_sec1 .contbox .txtbox .snsbox {padding-top: 1.25rem; display: flex; align-items: center; gap: 1.5rem;}
.location_sec1 .contbox .txtbox .snsbox .link {display: flex; align-items: center; justify-content: center; width: 1.5rem;}


/* 조합가입안내 - 가입안내*/
.joininfo_sec1 {padding-bottom: 3.75rem;}
.joininfo_sec2 {padding: 3.75rem 0 6.25rem;background: var(--basic-bg);}
.joininfo_sec2 .note_txt {display: flex; align-items: center; gap: 0.375rem; font:var(--16_body_normal_sb);letter-spacing: 0.01em;color: var(--basic-middlegray);margin-bottom: 1rem;}
.joininfo_sec2 .note_txt .icon {width: 1.25rem; color: var(--brand-primary);}
.joininfo_sec2 .note_txt .txt {flex: 1;}
.joininfo_sec2 .contbox {display: flex; gap: 1.875rem;}
.joininfo_sec2 .contbox .leftbox,
.joininfo_sec2 .contbox .rightbox {border: 1px solid var(--basic-border);border-radius: 1.25rem;padding: 1.875rem 2.5rem;background: var(--basic-white);}
.joininfo_sec2 .contbox .leftbox {width: 31.25rem; display: flex; align-items: center; justify-content: space-between; gap: 1rem;}
.joininfo_sec2 .contbox .leftbox .txtbox {flex: 1; display: flex; flex-direction: column; gap: 1rem;}
.joininfo_sec2 .contbox .leftbox .txtbox .title {font:var(--24_title_sb);letter-spacing: -0.02em;color: var(--brand-third);}
.joininfo_sec2 .contbox .leftbox .txtbox .info {display: flex; flex-direction: column; gap: 0.125rem;}
.joininfo_sec2 .contbox .leftbox .txtbox .info .infoitem {display: flex; gap: 0.5rem; font:var(--14_label_normal_r);letter-spacing: 0.01em;color: var(--basic-middlegray);}
.joininfo_sec2 .contbox .leftbox .txtbox .info .infoitem .desc {flex: 1; font-weight: 600;color: var(--brand-third);}
.joininfo_sec2 .contbox .leftbox .imgbox {display: flex; align-items: center; justify-content: center; width: 5.625rem;}
.joininfo_sec2 .contbox .rightbox {flex: 1; display: flex; gap: 1.875rem;}
.joininfo_sec2 .contbox .rightbox .info {flex: 1; display: flex; flex-direction: column; gap: 0.625rem;}
.joininfo_sec2 .contbox .rightbox .info .infoitem {display: flex; align-items: center; justify-content: space-between; gap: 0.625rem; font:var(--14_label_normal_r);letter-spacing: 0.01em;color: var(--basic-middlegray);}
.joininfo_sec2 .contbox .rightbox .info .infoitem .desc {font-weight: 600;color: var(--brand-third);}
.joininfo_sec2 .contbox .rightbox .bar {width: 1px; align-self: stretch; background: var(--basic-border);}


/* 조합가입안내 - 온라인조합원 가입 */
.joinonline_sec1 .contbox {display: flex; flex-direction: column; gap: 2.5rem;}
.joinonline_sec1 .form_signbox { border-top: 1px solid var(--basic-border);  padding-top: 2.5rem;  display: flex; flex-direction: column; align-items: center; gap: 1.875rem; font:var(--16_body_normal_r);letter-spacing: 0.01em;color: var(--basic-middlegray);text-align: center;}
.joinonline_sec1 .form_signbox .top_tit {color: var(--basic-black);}
.joinonline_sec1 .form_signbox .sign_picbox {display: flex; flex-direction: column; align-items: center; gap: 1.875rem; }
.joinonline_sec1 .form_signbox .sign_picbox .tit { color: var(--brand-primary);}
.joinonline_sec1 .form_signbox .sign_picbox .signbox {width: 20rem; display: flex; flex-direction: column; border: 1px solid var(--basic-border);border-radius: 1rem; overflow: hidden;}
.joinonline_sec1 .form_signbox .sign_picbox .signbox .sign {width: 100%; height: 12.5rem;background: var(--basic-bg);}
.joinonline_sec1 .form_signbox .sign_picbox .signbox .reset_btn {display: flex; align-items: center; justify-content: center; padding: 1rem;border-top: 1px solid var(--basic-border); font:var(--16_body_normal_r);letter-spacing: 0.01em;color: var(--basic-middlegray);}
.joinonline_sec1 .form_signbox .form_btnbox {margin-top: 1.875rem;} 


/* 규약 */
.rules_sec1 .term_history {display: flex; flex-direction: column; align-items: flex-end; gap: 0.5rem; margin-bottom: 1.5rem;}
.rules_sec1 .term_history .titbox {display: flex; align-items: center; justify-content: flex-end; gap: 1.5rem;}
.rules_sec1 .term_history .titbox .tit { font: var(--16_body_normal_m);  letter-spacing: 0.01em;  color: var(--brand-third);}
.rules_sec1 .term_history .titbox .more {display: flex; align-items: center; gap: 0.25rem; font:var(--14_label_normal_sb);letter-spacing: 0.01em;color: var(--brand-primary);}
.rules_sec1 .term_history .titbox .more .icon {width: 0.875rem; aspect-ratio: 1/1; transition: var(--transition); background: url(../img/more_arrow.png) no-repeat center/contain;}
.rules_sec1 .term_history .contbox { display: none; font: var(--15_body_normal_r);  line-height: 160%; color: var(--basic-darkgray);}
.rules_sec1 .term_history.on .titbox .more .icon {transform: rotate(180deg);}
.rules_sec1 .term_history.on .contbox {display: block;}


/* 로그인 */
.login_sec1 {padding: 6.25rem 0 3.125rem;}
.login_sec1 > .inner {max-width: 480px;}
.login_sec1 .login_title {font:var(--32_title_sb);letter-spacing: -0.03em;color: var(--brand-third); margin-bottom: 3.125rem; text-align: center;}
.login_sec1 .login_form { display: flex;  flex-direction: column;  gap: 1rem;}
.login_sec1 .login_form .input_box .label_text { padding: 0 1.25rem;}
.login_sec1 .login_form .input_box .input_text {  padding-left: 1.25rem;  height: 3.125rem;  border-radius: 10rem;}
.login_sec1 .login_form .login_schbox { display: flex;  align-items: center;   justify-content: space-between;  padding: 0 1.25rem;}
.login_sec1 .login_form .login_schbox .check_box .label_check { font: var(--14_label_normal_m);}
.login_sec1 .login_form .login_schbox .sch_box { display: flex;  align-items: center;  justify-content: flex-end;  gap: 0.625rem;}
.login_sec1 .login_form .login_schbox .sch_box .link {font:var(--14_label_normal_m);letter-spacing: 0.01em;color: var(--basic-darkgray);}
.login_sec1 .login_form .login_schbox .sch_box .bar {width: 1px; height: 1rem; background: var(--basic-border);}
.login_sec1 .login_form .login_btn {  margin-top: 0.875rem;  font: var(--18_headline_sb);  letter-spacing: 0em;}
.login_sec1 .login_sns {display: flex; flex-direction: column; gap: 2rem; margin-top: 3.125rem;}
.login_sec1 .login_sns .title {display: flex; align-items: center; gap: 0.75rem; font:var(--14_label_normal_sb);letter-spacing: 0.01em;color: var(--basic-middlegray);}
.login_sec1 .login_sns .title .line {flex: 1; height: 1px; background: var(--basic-border);}
.login_sec1 .login_sns .bntbox {display: flex; gap: 0.75rem;}
.login_sec1 .login_sns .bntbox .btn {flex: 1; height: 2.75rem; display: flex; align-items: center; justify-content: center; gap: 0.375rem; border-radius: 10rem; font:var(--14_label_normal_sb)}
.login_sec1 .login_sns .bntbox .btn.kakao {background: #03c75a; color: var(--basic-white);letter-spacing: 0.01em;}
.login_sec1 .login_sns .bntbox .btn.naver {background: #fee500; color: #371d1e;}
.login_sec1 .login_sns .bntbox .btn.google {border: 1px solid var(--basic-border);background: var(--basic-white); color: var(--brand-third);}
.login_sec1 .login_sns .bntbox .btn .icon {width: 1.25rem;}
.login_sec1 .login_join {display: flex; align-items: center; justify-content: center; gap: 1rem; margin-top: 3.125rem; font:var(--14_label_normal_r)}
.login_sec1 .login_join .tit {font-weight: 500; color: var(--basic-middlegray);}
.login_sec1 .login_join .tit .bold {font-weight: 600;color: var(--basic-darkgray);}
.login_sec1 .login_join .link {font-weight: 600;text-decoration: underline;text-decoration-skip-ink: none; text-underline-offset: 2px;color: var(--brand-primary);}


/* 검색결과 */
.search_sec1 > .inner {display: flex; flex-direction: column; align-items: center; gap: 5rem;}
.search_sec1 .search_top {position: relative; width: 100%; max-width: 640px; }
.search_sec1 .search_top .sch_input {  width: 100%;  height: 4rem;  border: 1px solid var(--basic-border);  border-radius: 10rem;  padding: 0 3.6rem 0 1.5rem;  background: var(--basic-white); font: var(--20_heading_r);  letter-spacing: -0.01em;  color: var(--basic-darkgray); transition: var(--transition);}
.search_sec1 .search_top .sch_input::placeholder {color: var(--basic-lightgray);}
.search_sec1 .search_top .sch_input:focus {border-color: var(--brand-primary);}
.search_sec1 .search_top .sch_btn {background: url(../img/ico_serach_gr.png) no-repeat center/contain; width: 1.5rem; aspect-ratio: 1/1; cursor: pointer; position: absolute; right: 1.25rem; top: 50%; transform: translateY(-50%);}
.search_sec1 .search_cont {display: flex; flex-direction: column; gap: 3.125rem;}
.search_sec1 .search_cont .item{border-top: 1px solid var(--brand-primary);
border-bottom: 1px solid var(--basic-border);}
.search_sec1 .search_cont .item .titbox {padding: 1rem 1.5rem; background: var(--basic-bg); display: flex; align-items: flex-end; gap: 0.75rem; font:var(--20_heading_sb);letter-spacing: -0.01em;}
.search_sec1 .search_cont .item .titbox .tit {color: var(--brand-third);}
.search_sec1 .search_cont .item .titbox .count {color: var(--brand-primary);}
.search_sec1 .search_cont .item .listbox{padding: 1.25rem 1.5rem; display: flex; flex-direction: column; gap: 1.5rem;}
.search_sec1 .search_cont .item .listbox .listitem {display: flex; flex-direction: column; gap: 0.5rem;}
.search_sec1 .search_cont .item .listbox .listitem .tit {font:var(--16_body_normal_sb);letter-spacing: 0.01em;color: var(--basic-darkgray);}
.search_sec1 .search_cont .item .listbox .listitem .desc{display: -webkit-box;  word-wrap: break-word;   -webkit-line-clamp: 2; -webkit-box-orient: vertical;  text-overflow: ellipsis;  overflow: hidden ; font:var(--14_label_normal_r);letter-spacing: 0.01em;color: var(--basic-darkgray);}



/* 260720 추가작업 */
/* 메인 (풀페이지) */
.fullver .header {transition: var(--transition);}
.fullver .header .h_logo > a {position: relative;}
.fullver .header .h_logo > a img {transition: var(--transition);}
.fullver .header .h_logo > a::after {content: ""; background: url(../img/logo_wt.png) no-repeat center/contain; width: 100%; height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); opacity: 0;}

.fp-viewing-0 .header:not(.menu) { background: none; border-bottom-color: transparent;}
.fp-viewing-0 .header:not(.menu) .h_logo > a img {opacity: 0;}
.fp-viewing-0 .header:not(.menu) .h_logo > a::after{opacity: 1;}
.fp-viewing-0 .header:not(.menu) .h_nav > li > .link {color: var(--basic-white);}
.fp-viewing-0 .header:not(.menu) .h_nav > li:hover > .link {color: var(--brand-primary);}
.fp-viewing-0 .header:not(.menu) .h_side .side_btn { filter: invert(10) brightness(10);}

@media screen and (min-width: 1081px) {

	.fullver  #fullpage > .section:not(.first):not(.last):not(.noscale) {will-change: transform; transform: scale(0.8); opacity: 0; transition: all 0.5s ease;}
	.fullver  #fullpage > .section.active:not(.first):not(.last)  {opacity: 1; transform: scale(1);}

}

.fullver .m_titbox { margin-bottom: 3.25rem;} 
.fullver .m_txt1 { font: var(--30_title_b);}
.fullver .section_wrap {display: flex; flex-direction: column;}
.fullver .section_wrap .sec {position: relative; width: 100%;}

.fullver .ms1 .ms1_swiper {height: 100%;}
.fullver .ms1 .ms1_swiper .item .txtbox { padding-top: 5rem; align-items: center; text-align: center;}
.fullver .ms1 .ms1_swiper .item .txtbox .eng { margin-bottom: 2rem;}
.fullver .ms1 .ms1_swiper .item .txtbox .link { margin-top: 4rem;}

.fullver .ms2 {background: #fafbfa; padding: 0;}
.fullver .ms2 .m_titbox {margin-bottom: 2.25rem;}
.fullver .ms2 .ms2_tit { transform: skewX(-15deg);}
.fullver .ms2 .contbox { position: relative; flex-wrap: nowrap; margin-top: -0.625rem;}
.fullver .ms2 .contbox .item { width: calc((100% - 1.25rem * 3) / 4);  padding: 2rem 1.5rem 1.5rem; box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.1);  background: var(--basic-white); flex-direction: column;  align-items: unset; gap: 1.5rem;}
.fullver .ms2 .contbox .item .imgbox { width: 4rem;}
.fullver .ms2 .contbox .item .txtbox .tit {  font: var(--18_headline_sb);  letter-spacing: 0em;  color: var(--primary-primary900);  line-height: 145%;   word-break: keep-all; min-height: 2.9em; display: flex; align-items: center;}
.fullver .ms2 .contbox .item .txtbox .descbox { gap: 0.125rem; }
.fullver .ms2 .contbox .item .txtbox .descbox .desc {  font: var(--14_label_normal_r);  letter-spacing: -0.02em;  gap: 0.375rem; word-break: keep-all;}

.fullver .ms3 {padding: 0;}
.fullver .ms3 .contbox { gap: 2.5rem;}
.fullver .ms3 .contbox .leftbox { width: 60%; flex: 1;}
.fullver .ms3 .contitem .gall_box { gap: 1.25rem;}
.fullver .ms3 .contitem .gall_box .item > .link {gap: 1rem;}
.fullver .ms3 .contitem .gall_box .item .txtbox {  display: flex;  flex-direction: column;  gap: 0.25rem;}
.fullver .ms3 .contitem .gall_box .item .txtbox .tit { font: var(--14_label_normal_m);}
.fullver .ms3 .contitem .gall_box .item .txtbox .desc { text-overflow: ellipsis;  overflow: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2; font: var(--13_label_r); letter-spacing: 0.02em; color: var(--basic-darkgray);}
.fullver .ms3 .contitem .gall_box .item .txtbox .date { font: var(--13_label_r);  letter-spacing: 0.02em; color: var(--basic-middlegray); text-align: right;  margin-top: 0.5rem;}
.fullver .ms3 .contbox .rightbox { width: 38%; max-width: 30rem; flex-direction: column;}

.fullver .ms4 {background: #fafbfa; padding: 0;}
.fullver .ms4 .m_titbox { justify-content: unset;}
.fullver .ms4 .contbox { gap: 2.5rem; align-items: flex-end;}
.fullver .ms4 .contbox .leftbox { width: 50%;  max-width: unset; gap: 1.5rem;}
.fullver .ms4 .contbox .leftbox .title {  font: var(--24_title_r);  font-family: var(--third-family);  line-height: 132%;  color: var(--brand-third);}
.fullver .ms4 .contbox .leftbox .banner {  position: relative;  width: 100%;  padding: 2.5rem;  border-radius: 1.25rem;  box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.1);   background: linear-gradient(94.48deg, #1e500c 7.12%, #15792b 77.74%);  display: flex;}
.fullver .ms4 .contbox .leftbox .banner .txtbox { flex: 1;  display: flex;  flex-direction: column;  align-items: flex-start;}
.fullver .ms4 .contbox .leftbox .banner .txtbox .sub {  font: var(--16_body_normal_r);   letter-spacing: 0.01em;  color: var(--basic-white);  margin-top: 0.5rem;}
.fullver .ms4 .contbox .leftbox .banner .txtbox .tit { font: var(--28_title_r);  font-family: var(--third-family);  line-height: 133%;  letter-spacing: -0.03em; color: var(--basic-white);}
.fullver .ms4 .contbox .leftbox .banner .txtbox .link  {  border-radius: 10rem;  padding: 0.75rem 1.5rem;  margin-top: 2.5rem;  display: flex;  align-items: center;  gap: 1rem;  font: var(--18_headline_sb);  line-height: 145%;  color: var(--basic-white); border: 1px solid var(--basic-white);}
.fullver .ms4 .contbox .leftbox .banner .txtbox .link .icon {width: 1.25rem; color: var(--basic-white); transition: var(--transition);}
.fullver .ms4 .contbox .leftbox .banner .txtbox .link:hover .icon {transform: rotate(405deg);}
.fullver .ms4 .contbox .leftbox .banner .imgbox {  display: flex;  align-items: center;  justify-content: center;  width: 9.063rem;  position: absolute; right: 3.375rem;  bottom: 0;}
.fullver .ms4 .contbox .rightbox {  gap: 1.5rem;  width: 50%; height: 22.75rem; flex: unset;box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.1);}
.fullver .ms4 .contbox .rightbox .imgbox { margin: 0; width: 12.5rem;}

.fullver .ms6 {padding-bottom: 0;}



/* 260723 수정작업 */
.header .h_logo, .header .h_side {flex: unset;}
.header .h_nav {flex: unset; justify-content: space-between; gap: 5rem;}
.header .h_nav > li > .link {  font: var(--20_heading_sb);}

.fullver .header .h_logo > a::after {display: none;}

.fp-viewing-0 .header:not(.menu) { background: var(--basic-white); border-bottom-color: var(--basic-border);}
.fp-viewing-0 .header:not(.menu) .h_logo > a img {opacity: 1;}
.fp-viewing-0 .header:not(.menu) .h_logo > a::after {opacity: 0;}
.fp-viewing-0 .header:not(.menu) .h_nav > li > .link { color: var(--brand-third);}
.fp-viewing-0 .header:not(.menu) .h_side .side_btn { filter: unset;}

.fullver .ms2 .contbox { flex-wrap: wrap;}
.fullver .ms2 .contbox .item { width: calc((100% - 1.25rem) / 2); padding: 2.75rem 2.5rem 2.5rem;  align-items: flex-start; flex-direction: row-reverse; gap: 1.5rem;}
.fullver .ms2 .contbox .item .imgbox { width: 5.5rem;}
.fullver .ms2 .contbox .item .txtbox { gap: 1.25rem; }
.fullver .ms2 .contbox .item .txtbox .tit { font: var(--24_title_sb);  min-height: unset;}
.fullver .ms2 .contbox .item .txtbox .tit br { display: none;}
.fullver .ms2 .contbox .item .txtbox .descbox .desc { font: var(--16_body_normal_r);}
.fullver .ms4 .contbox { align-items: unset;}
.fullver .ms4 .contbox .leftbox .banner { flex: 1; }