@charset "utf-8";
/* CSS Document */




*{ /*전체선택자*/ margin:0; padding:0;font-family:'Montserrat', 'Pretendard', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;}
body {font-size:14px; line-height:20px; color:#121212;;overflow-x:hidden; overflow-y:auto;}
ul, ol{ list-style:none;}
img{ vertical-align:top;}
a{ text-decoration:none;}
address{ font-style:normal;}

/* 20190529_아리플러스 */

/* 공통 */
.bg_col_pink{ background-color:#f17692;}
.bg_col_pur{ background-color:#9a95f1;}
.bg_col_yel{ background-color:#efe278;}
.bg_col_lightgray{ background-color:#f6f6f6;}
.bg_col_deepgray{ background-color:#282828;}
.bg_col_lightmint{background-color:#8ddede; }
.col_red{ color:#f00;}
.col_pink{ color:#f17692;}
.col_pur{color:#9a95f1;}
.col_pur2{color:#9375c7;}
.col_black{color:#000;}
.col_white{color:#fff;}
.txt_center{ text-align:center;}
.pt50{ padding-top:50px;}
.pt70{ padding-top:70px;}
.pt100{ padding-top:100px;}
.pb70{ padding-bottom:70px;}
.pb100{ padding-bottom:100px;}
.mt30{ margin-top:30px;}
.mt70 { margin-top:70px;}
.mb70 { margin-bottom:70px;}
.mb100 { margin-bottom:100px;}
.mr20{ margin-right:20px;}
.dis_none{ display:none;}
.dis_block{ display:block;}

.admin_mode{position:absolute;top:74px;right:0px;width:400px}
.admin_mode a.api_check{line-height:15px;border:1px solid #bbbbbb;padding:2px 5px;color:#4d4d4d;font-weight:500;font-size:13px;}
.admin_mode a img{width:12px;margin-right:3px;vertical-align:middle;margin-bottom:2px;}

/* 190617 결과표 */
.result{ position:relative; width:760px;margin:0 auto;padding:0px}

.result_tit{ border-top:3px solid #fe0000; border-bottom:1px solid #9e9e9e; padding:30px 0px 30px 0px;}
.result_tit:after{ content:""; display:block; clear:both;}
.result_tit p{ display:block; width:100%;  text-align:center; font-size:33px; text-align:center; line-height:33px; letter-spacing:-1px; font-weight:bold; color:#005bb6;}
.result_tit p span{ color:#fe1600;}
.result_tit a{ float:left; display:block; position:absolute;top: 30px; right: 0px; clear:both;}

.info p{ display:block;}
.info .info_tit{ background-image:url(/images/report/icn_result_tit.jpg); background-repeat:no-repeat; background-position:left center; padding-left:20px; font-size:18px; margin:20px 0 10px 0;}
.info .info_tit span{ color:#5074c2;}

.info_table{ border:1px solid #bdc1cd}
.info_table ul:after{ content:""; display:block; clear:both;}
.info_table li{ float:left;  line-height:30px; text-align:center;border-right:1px solid #e7e7e7}
.info_table li.t1{background-color:#eef2fb;font-weight:500;font-size:14px;color:#5b5b5b;width:160px}
.info_table li.x1{ background-color:#fff;color:#373737;font-weight:300;font-size:13px;width:217px;}
.info_table li.x1.none{border-right:0px}

.graph01{width:100%; margin-left:auto; margin-right:auto; background-color:#fff; margin-top:40px; border:1px solid #d9e4e6; border-radius:20px;}
.graph01_area{text-align:center; padding:30px 20px;}
.graph01_info{ clear:both;padding:10px 30px 20px 30px; }

.graph01_info.apply{padding-top:0px}
.graph01_info p{ display:block; width:100%;}
.graph01_info .tit{ font-size:17px; font-weight:500; padding-bottom:10px;}
.graph01_info .grade{ position:relative; background-color:#e2e2e2; height:20px;background-image:url(/images/report/bar_bg.png);border-right:1px solid #d7d7d7;border-left:1px solid #d7d7d7}

.graph01_info .grade span{ position:absolute; left:0; height:100%; width:50%; background-color:#ebc270; }

.graph01_info .grade.apply span{ position:absolute; left:0; height:100%; width:50%; background-color:#45ae42; }

.graph01_info .txt{ font-size:13px; text-align:center; padding-top:5px;}
.graph01_info .txt span{color:#f27a0d; font-size:17px;font-weight:500}
.graph01_info .txt span.apply{color:#399337}


.message{ width:100%; text-align:center; display:block; font-size:13px; letter-spacing:-0.5px; padding:20px 0;font-weight:500}
.message span img{ color:#f00;font-weight:500;vertical-align:middle;margin-top:-2px}

.result_bg_top{ width:100%; height:20px; background-image:url(/images/report/result_bg_top.jpg); background-repeat:no-repeat; background-position:top;}
.result_bg_center{ position:relative; width:100%; background-image:url(/images/report/result_bg_center.jpg); background-repeat:repeat-y; background-position:top;}
.result_bg_bottom{ width:100%; height:20px; background-image:url(/images/report/result_bg_bottom.jpg); background-repeat:no-repeat; background-position:bottom; margin-bottom:70px;}


.result_box{border:1px solid #c1cbe1;background-color:#eaecf2;padding:4px;margin-bottom:20px;border-radius:5px}
.result_box_in{border:1px solid #c1cbe1;background-color:#ffffff;;border-radius:3px}


.graph02{ padding-bottom:30px;}
.graph02 .graph02_tit{ padding-top:30px; padding-left:30px;}
.graph02 .graph02_tit:after{ content:""; display:block; clear:both;}
.graph02 .graph02_tit p{ display:block; font-size:20px; line-height: 20px; float:left; color:#419ba4; font-weight:500;}
.graph02 .graph02_tit p span{ font-size:30px; color:#000;font-weight:500}
.graph02 .graph02_tit ul{ position:absolute; right:30px;}
.graph02 .graph02_tit li{ float:left; border:1px solid #000; margin-right:5px; }
.graph02 .graph02_tit li .t1{ background-color:#676767; color:#fff; font-size:13px; font-weight:normal; padding:2px 10px;}
.graph02 .graph02_tit li .x1{ color:#000; font-size:13px; padding:2px 10px; font-weight:normal;}
.graph02 .graph02_tit li .x1 span.none{ font-size:12px;font-weight:300;}

.graph02 .graph02_area{ text-align:center; padding:30px 0;width:687px;margin:0 auto}
.graph02 .graph02_area ul.th_title{height:30px}
.graph02 .graph02_area ul.th_title li{font-size:13px}
.graph02 .graph02_area ul.th_title li:first-child{float:left;width:94px}
.graph02 .graph02_area ul.th_title li:last-child{float:left;width:100px;font-weight:700}
.graph02 .graph02_area ul.th_title li:nth-child(2),ul.th_title li:nth-child(3){float:left;width:80px;padding-bottom:6px;border-bottom:4px solid #cccccc}
.graph02 .graph02_area ul.th_title li:nth-child(4),ul.th_title li:nth-child(5){float:left;width:80px;padding-bottom:6px;border-bottom:4px solid #999999}
.graph02 .graph02_area ul.th_title li:nth-child(6),ul.th_title li:nth-child(7){float:left;width:80px;padding-bottom:6px;border-bottom:4px solid #4c4c4c}
.graph02 .graph02_area ul.done_graph{clear:both;border-top:1px solid #dfdfdf;padding:11px 0px;vertical-align:middle;height:12px;}
.graph02 .graph02_area ul:last-child{border-bottom:1px solid #dfdfdf}
.graph02 .graph02_area ul.done_graph li:first-child{float:left;width:94px;font-weight:700;vertical-align:middle;margin-top:-4px;font-weight:500;font-size:14px}
.graph02 .graph02_area ul.done_graph li.bar_main{float:left;width:480px;background-color:#eaeaea}
.graph02 .graph02_area ul.done_graph li.bar_main div.bar{position:relative}
.graph02 .graph02_area ul.done_graph li.per{margin-top:-4px}
.graph02 .graph02_area ul.done_graph li.bar_main div.bar span{position:absolute;top:0px;width:1px;background-color:#327a85;height:8px}
.graph02 .graph02_area ul.done_graph.main li{font-weight:900}
.graph02 .graph02_area ul.done_graph li.bar_main div.bar span:nth-child(1){left:79px}
.graph02 .graph02_area ul.done_graph li.bar_main div.bar span:nth-child(2){left:159px}
.graph02 .graph02_area ul.done_graph li.bar_main div.bar span:nth-child(3){left:239px}
.graph02 .graph02_area ul.done_graph li.bar_main div.bar span:nth-child(4){left:319px}
.graph02 .graph02_area ul.done_graph li.bar_main div.bar span:nth-child(5){left:399px}
.graph02 .graph02_area ul.done_graph li.bar_main span.score{float:left;display:inline-block;background-color:#4badba;height:13px;}


.graph02 .graph02_area2{ text-align:center; padding:22px 0 30px 0px;width:687px;margin:0 auto}
.graph02 .graph02_area2 ul.th_title{height:30px}
.graph02 .graph02_area2 ul.th_title li{font-size:13px}
.graph02 .graph02_area2 ul.th_title li:first-child{float:left;width:94px}
.graph02 .graph02_area2 ul.th_title li:last-child{float:left;width:100px;font-weight:700}
.graph02 .graph02_area2 ul.th_title li:nth-child(2){float:left;width:240px;padding-bottom:6px;border-bottom:4px solid #cccccc}
.graph02 .graph02_area2 ul.th_title li:nth-child(3){float:left;width:240px;padding-bottom:6px;border-bottom:4px solid #4c4c4c}
.graph02 .graph02_area2 ul.done_graph{clear:both;border-top:1px solid #dfdfdf;padding:11px 0px;vertical-align:middle;height:12px;}
.graph02 .graph02_area2 ul:last-child{border-bottom:1px solid #dfdfdf}
.graph02 .graph02_area2 ul.done_graph li:first-child{float:left;width:94px;font-weight:700;vertical-align:middle;margin-top:-4px;font-weight:500;font-size:14px}
.graph02 .graph02_area2 ul.done_graph li.bar_main{float:left;width:480px;background-color:#eaeaea}
.graph02 .graph02_area2 ul.done_graph li.bar_main div.bar{position:relative}
.graph02 .graph02_area2 ul.done_graph li.bar_main div.bar span:nth-child(1){left:239px}
.graph02 .graph02_area2 ul.done_graph li.per{margin-top:-4px}
.graph02 .graph02_area2 ul.done_graph li.per.cl0{color:#ff6600}
.graph02 .graph02_area2 ul.done_graph li.per.cl1{color:#0084db}
.graph02 .graph02_area2 ul.done_graph li.bar_main div.bar span{position:absolute;top:0px;width:1px;background-color:#808080;height:13px}
.graph02 .graph02_area2 ul.done_graph.main li{font-weight:700}
.graph02 .graph02_area2 ul.done_graph li.bar_main span.fail{float:left;display:inline-block;background-color:#ff6600;height:13px;}
.graph02 .graph02_area2 ul.done_graph li.bar_main span.fail.width{width:239px}
.graph02 .graph02_area2 ul.done_graph li.bar_main span.pass{float:left;margin-left:239px;display:inline-block;background-color:#80ccff;height:13px;}
.graph02 .graph02_area2 ul.done_graph li.bar_main span.pass.width{width:241px}

.graph02 .graph02_info2{ width:92%; margin-left:auto; margin-right:auto; border:1px solid #d8d8d8;}
.graph02 .graph02_info2 p{ display:block; margin:20px 15px;}
.graph02 .graph02_info2 .t1{ color:#fe6902; font-size:17px; font-weight:700;}
.graph02 .graph02_info2 .x1{ font-size:12px;font-weight:400;color:#000000}
.graph02 .graph02_info2 .x1 strong{font-size:12px; font-weight:bold;letter-spacing:0.5px;font-family:맑은 고딕;vertical-align:middle;margin-top:-5px;display:inline-block}
.graph02 .graph02_info2 .x1 span.sp{letter-spacing:-0.5px}



.graph02 .graph02_info{ width:92%; margin-left:auto; margin-right:auto; border:1px solid #d8d8d8;}
.graph02 .graph02_info p{ display:block; margin:20px 15px;}
.graph02 .graph02_info .t1{ color:#fe6902; font-size:17px; font-weight:700;}
.graph02 .graph02_info .x1{ font-size:12px;font-weight:400;color:#696969}
.graph02 .graph02_info .x1 strong{font-size:12px; font-weight:bold;letter-spacing:0.5px;font-family:맑은 고딕;vertical-align:middle;margin-top:-5px;display:inline-block}
.graph02 .graph02_info .x1 span.sp{letter-spacing:-0.5px}

.graph02 .graph02_list{ margin:30px 0; width:92%; margin-left: auto; margin-right: auto;}
.graph02 .graph02_list ul:after{ content:""; display:block; clear:both;}
.graph02 .graph02_list li{ float: left; text-align: center; font-size: 13px; line-height: 30px;}
.graph02 .graph02_list .graphList_tit{ background-color: #efefef; border-bottom: 1px solid #d7d7d7;}
.graph02 .graph02_list li.s1{ width:10%;vertical-align:middle;line-height:20px;padding:5px 0px}
.graph02 .graph02_list li.s2{ width:70%;}
.graph02 .graph02_list li.s3{ width:20%;}
.graph02 .graph02_list li.s3.cl0{ color:#ff3300}
.graph02 .graph02_list li.s3.cl1{ color:#0084db}

.graph02 .graph02_list li.s4{ width:70%; text-align:left;font-weight:300;line-height:20px;padding:5px 0px}
.graph02 .graph02_list .graphList_txt{border-bottom: 1px solid #d7d7d7;}

.graph03{ padding-bottom:30px; margin-top:50px;}
.graph03 .graph03_graphArea:after{ content:""; display:block; clear:both;}
.graph03 .graph03_graphArea div{ float:left;}
.graph03 .graph03_tit{ width:50%;}
.graph03 .graph03_tit ul{margin-left:30px;}
.graph03 .graph03_tit ul:after{ content:""; display:block; clear:both;}
.graph03 .graph03_tit li{ float:left; line-height:35px;}
.graph03 .graph03_tit .t1{ font-size:20px; color: #419ba4; font-weight:500; padding-right:10px;}
.graph03 .graph03_tit .x1{ font-size:28px; color: #000;font-weight:500;}

.graph03 .graph03_graph{position:absolute; right:37px; width:360px; text-align:center}
.graph03 .graph03_tit .graph03_tit_sum{ width:330px; margin-top:49px;}
.graph03 .graph03_tit .graph03_tit_sum ul{ border-bottom:1px solid #b2b2b2;}
.graph03 .graph03_tit .graph03_tit_sum ul:after{ content:""; display:block; clear:both;}
.graph03 .graph03_tit .graph03_tit_sum li{ float:left; font-size:13px; line-height:30px; text-align:center;font-weight:500}
.graph03 .graph03_tit .graph03_tit_sum .sum_t01{ width:20%;}
.graph03 .graph03_tit .graph03_tit_sum .sum_t02{width:40%;font-weight:300}
.graph03 .graph03_tit .graph03_tit_sum .sum_t02 strong{font-weight:500}

.graph03 .graph03_info{ width:92%; margin-left:auto; margin-right:auto; margin-top:30px; border:1px solid #d8d8d8; }
.graph03 .graph03_info ul{ width:640px; margin-left:auto; margin-right:auto;}
.graph03 .graph03_info ul:after{ content:""; display:block; clear:both;}
.graph03 .graph03_info h3{ display:block; font-size:19px; color:#fd6a00; padding-bottom:10px; font-weight:normal;}
.graph03 .graph03_info .style1 li{ float:left; width:25%; text-align:center; font-size:13px; line-height:30px;}
.graph03 .graph03_info .style1 li:first-child{width:50%;}
.graph03 .graph03_info .style2 li{ float:left; width:50%; text-align:center; font-size:13px; line-height:30px;}
.graph03 .graph03_info div .moreInfo_tit{ background-color:#efefef; border-bottom:1px solid #d7d7d7;}
.graph03 .graph03_info div .moreInfo_txt{ background-color:#ffffff; border-bottom:1px solid #d7d7d7;}

/* 190618 안내문구 추가 */
.graph02 .graph02_notice,.alert_msg{ width:90%; margin-left:auto; margin-right:auto; margin-top:30px; font-size:13px; letter-spacing: -1px; background-image:url(/images/report/icn_graph02_notice.png); background-repeat:no-repeat; background-size:18px 17px; background-position:1px 1px;}
.graph02 .graph02_notice.red{background-image:url(/images/report/icn_graph02_notice_red.png)}
.graph02 .graph02_notice span,.alert_msg span,.alert_msg_red span{ padding-left:23px; color:#666; line-height:19px;font-weight:500}
.graph02 .graph02_notice span.blank{display:inline-block;width:1px}

.graph02 .graph02_notice,.alert_msg_red{ width:90%; margin-left:auto; margin-right:auto; margin-top:30px; font-size:13px; letter-spacing: -1px; background-image:url(/images/report/icn_graph02_notice_red.png); background-repeat:no-repeat; background-size:18px 17px; background-position:1px 1px;}


.alert_msg_red_r{text-align:center; width:90%; margin-left:auto; margin-right:auto; margin-top:20px; font-size:13px; letter-spacing: -1px; }
.alert_msg_red_r img{vertical-align:middle;margin-right:3px;margin-top:-2px}
/* 공통 추가_190617 */
.bor_btm_lightgray{ border-bottom:1px solid #e6e6e6;}
.bor_btm_lightgray3{border-bottom:3px solid #e5e5e5;}
.bor_top_lightgray{ border-top:3px solid #b2b2b2;}
.fon_we_bold{ font-weight:bold;}
.pb10{ padding-bottom:10px;}
.mb30{ margin-bottom:30px;}


/* 190626 에듀스 홈페이지용 */
.subNavi{ width:100%; height:60px; background-color:#fff; border-bottom:1px solid #000;  }
.subNavi .viewList{ width:1400px; margin-left:auto; margin-right:auto;}
.subNavi .viewList ul:after{ content:""; display:block; clear:both;}
.subNavi .viewList ul li{ float:left; width:350px;}
.subNavi .viewList ul li a{ display:block; line-height:60px; text-align:center; font-size:18px; color:#000;}
.subNavi .viewList ul li.active a{ position:relative; color:#ff5400;}
.subNavi .viewList ul li.active a:after{ content:""; display:block; width:100%; height:3px; background-color:#ff5400; position:absolute; left:0; bottom:0;}

.subVisual4{ width:100%; height:330px; background-image:url(/images/report/sub_bg06.jpg); background-repeat:no-repeat; background-position:center; }
.subVisual4 ul{ position:relative; width:1400px; margin-left:auto; margin-right:auto;}
.subVisual4 .vTit_v2{ position:absolute; top:65px; left:150px; font-size:45px; line-height:50px; letter-spacing:-1px; color:#fff;}
.subVisual4 .vTit_v2 p{ display:block; font-size:25px;}
.subVisual4 .vTxt_v2{ position:absolute; top:190px; left:150px; font-size:16px; line-height:25px; color:#fff; font-weight:lighter;}

.subContents02{width:1400px; background-color:#fff; margin-left:auto; margin-right:auto;}
.con_tit{ font-size:20px; line-height:20px; text-align:center; margin-left:auto; margin-right:auto; text-decoration:underline; padding-bottom:30px;}
.con_txt{ font-size:30px; line-height:40px; text-align:center; margin-left:auto; margin-right:auto; padding-bottom:60px; letter-spacing:-1px;}
.mainMenu02{ width:100%; margin-left:auto; margin-right:auto; text-align:center; box-sizing:border-box;}
.mainMenu02 ul:after{ content:""; display:block; clear:both;}
.mainMenu02 li{float:left;}
.mainMenu02 .mMenu{ width:466px; padding-top:60px; padding-bottom:60px;}
.mainMenu02 .mMenu p{ display:block;}
.mainMenu02 .mMenu h1{ font-weight:lighter; font-size:40px; letter-spacing:-2px; line-height:40px; padding-top:20px; padding-bottom:35px;}
.mainMenu02 .mMenu .status{ position:relative;  margin-left:auto; margin-right:auto; width:267px; height:65px; border-radius:50px; background-color:#fff;}
.mainMenu02 .mMenu .status ul:after{ content:""; display:block; clear:both;}
.mainMenu02 .mMenu .status li{ position:absolute; float:left; line-height:65px; text-align:center; font-size:16px;}
.mainMenu02 .mMenu .status .status_tit{ left:25px;letter-spacing:-1px; }
.mainMenu02 .mMenu .status .status_num{ right:25px; font-size:18px; font-family:Tahoma, Geneva, sans-serif; font-weight:bold;}
.mainMenu02 .mMenu .status .status_txt{ right:25px; font-size:18px; font-weight:bold; letter-spacing:-1px;}
.mainMenu02 .mMenu .btn_mGo{ margin-left:auto; margin-right:auto; padding-top:50px; padding-bottom:60px;}
.mainMenu02 .mMenu .btn_mGo a{ width:101px; height:47px; display:block; margin-left:auto; margin-right:auto;
background-image:url(/images/report/mtit_off.png); background-repeat:no-repeat; background-size:101px 47px; background-position:center;}
.mainMenu02 .mMenu .btn_mGo a:hover.btnType1{display:block; background-image:url(/images/report/mtit_01_on.png); background-repeat:no-repeat; background-size:101px 47px; background-position:center;}
.mainMenu02 .mMenu .btn_mGo a:hover.btnType2{display:block; background-image:url(/images/report/mtit_02_on.png); background-repeat:no-repeat; background-size:101px 47px; background-position:center;}
.mainMenu02 .mMenu .btn_mGo a:hover.btnType3{display:block; background-image:url(/images/report/mtit_03_on.png); background-repeat:no-repeat; background-size:101px 47px; background-position:center;}
.mainMenu02 .mMenu .explain{ height:270px;}
.mainMenu02 .mMenu .explain p{ display:block;}
.mainMenu02 .mMenu .explain .explain_tit{ font-weight:bold; font-size:16px; text-decoration:underline; padding-bottom:10px;}
.mainMenu02 .mMenu .explain .explain_txt{ font-size:14px; line-height:30px; letter-spacing:-1px;}
.btn_viewSample{ margin-left:auto; margin-right:auto; width:150px; height:30px; line-height:30px; background-color:#333; border-radius:8px;}
.btn_viewSample a{ display:block; color:#fff; }

.service_guide{ background-color:#f4f4f4; width:100%; height:450px;}
.service_guide .sg_tit{ display:block; width:100%; text-align:center; padding-top:60px; padding-bottom:45px; font-size:22px; color:#231d1d; letter-spacing:-1px; font-weight:bold;}
.service_guide .sg_price{width:1010px; margin-left:auto; margin-right:auto;}
.service_guide .sg_price ul{ width:100%;}
.service_guide .sg_price:after{ content:""; display:block; clear:both;}
.service_guide .sg_price li{ width:323px; height:231px; float:left; background-repeat:no-repeat; background-position:center; padding-right:10px;}
.service_guide .sg_price li p{ display:block; text-align:center; padding-top:140px; font-family:Tahoma, Geneva, sans-serif; font-size:45px; font-weight:bold; color:#21a6cc;}
.service_guide .sg_price .price1{ background-image:url(/images/report/img_price_1month.png); }
.service_guide .sg_price .price2{ background-image:url(/images/report/img_price_2month.png); }
.service_guide .sg_price .price3{ background-image:url(/images/report/img_price_3month.png); }
.service_guide .sg_notice{ display:block; text-align:center;  font-size:14px; color:#3293cb; padding-top:20px;}


.reviewArea{ padding-bottom:100px;}
.ari_review ul.wid1230{ position:relative; width:100%; margin:0 auto; width:1230px; margin-left:auto; margin-right:auto;}
.ari_review ul.wid830{ position:relative; width:100%; margin:0 auto; width:830px; margin-left:auto; margin-right:auto;}
.ari_review ul:after{ content:""; display:block; clear:both;}
.ari_review li{ width: 382px; height: 190px; margin-right: 24px; float: left; border: 1px solid #d5d5d5; border-top: 2px solid #01a8cc; margin-bottom:30px;}
.ari_review li .rev_tit{ display: block; height: 58px; background: #f8f8f8; font-size: 17px; padding: 0 25px; line-height: 56px;}
.ari_review li .rev_tit img{ vertical-align: middle; margin-right: 10px;}
.ari_review li .rev_cont{ display: block; width: 88%; border-top: 1px solid #e2e2e2; margin: 0 auto; padding: 20px 0; font-size: 15px; line-height: 22px;}
.ml250{ margin-left:250px;}


.doughnut_graph{marin:0 auto;width:670px;margin-left:27px;height:150px}
.doughnut_graph li{float:left;width:25%}


.doughnut_graph li .tit_pos{position:relative}
.doughnut_graph li .tit_pos .tit_pos_abs{width:165px;position:absolute;top:55px;margin-left:0px;margin-right:0px;z-index:10}
.doughnut_graph li .tit_pos .tit_pos_abs h2{font-weight:500;font-size:18px}
.doughnut_graph li .tit_pos .tit_pos_abs h3{font-weight:900;font-size:20px;margin-top:10px;letter-spacing:-2px;color:#3a3a3a}
.doughnut_graph li .tit_pos .tit_pos_abs h3.f15{font-weight:700;font-size:15px !important}
.doughnut_graph li .tit_pos .tit_pos_abs h3.f18{font-size:18px !important}
.doughnut_graph li .tit_pos .tit_pos_abs h2.col1{color:#ff7b68}
.doughnut_graph li .tit_pos .tit_pos_abs h2.col2{color:#5cb8bc}
.doughnut_graph li .tit_pos .tit_pos_abs h2.col3{color:#8c9fd2}
.doughnut_graph li .tit_pos .tit_pos_abs h2.col4{color:#a2b97d}

.break {page-break-before: always;}

#hideBackGround
{
	 position:absolute;
	 top:0px;
	 left:0px;
	 width:100%;
	 height:100vh;
	 display:none;
	 z-index:100;
	 background-color:#222222;
	 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	 opacity:0.40; -moz-opacity:0.40;
}

.ajaxLayer {
	position: absolute;
	z-index:999;
	display:none;
}

#report_gpt_choice{
    border-radius: 10px;
    width:95%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px -3px #4e4e4e;margin-left: -10px;
}

#report_gpt_choice .inner img{margin:30px}
#report_gpt_choice .inner{padding:10px 0px 20px 0px;  box-sizing: border-box;}
#report_gpt_choice .inner span.ar{display: inline-block; width: calc(50% - 8px); text-align: center;  box-sizing: border-box;padding:20px}
#report_gpt_choice .inner span.line{    display: inline-block;
    width: 1px;
    height: 200px;
    background-color: #e1e1e1;
    margin-top: 110px;
    vertical-align: top;}

#report_gpt_choice .inner h2{font-weight:700;font-size:22px;letter-spacing:-0.5px}
#report_gpt_choice .inner h2 span{font-weight:500;font-size:14px;letter-spacing:-1px;margin-left:3px}

#report_gpt_choice .inner .text{letter-spacing:-0.5px;font-size:13px;padding:30px 0px}

#report_gpt_choice .inner .text button{background:#d7d7d7 url(https://image1.educe.co.kr/ai_gpt/arrow-right-w.png) 26px center no-repeat;width:60px;height:60px;border-radius:50%;border:0px;cursor:pointer;display: block; margin: 60px auto; margin-bottom: 0px;} 
#report_gpt_choice .inner .text button:hover{background:#0079ff url(https://image1.educe.co.kr/ai_gpt/arrow-right-w.png) 26px center no-repeat;}

#report_gpt_input{display:none;width: 760px;margin: 0 auto;}

#report_gpt_input .box{padding: 0px 0px 10px 0px; margin: 20px 0px;}
#report_gpt_input .box h2{font-size: 15px; font-weight: 400; background-color: #f2f5f7; padding: 15px 20px;}
#report_gpt_input .box h2 strong{font-size:17px;font-weight:700;margin-right:5px}

#report_gpt_input .text-area{padding: 10px; border: 1px solid #ddd; min-height: 210px; width: 100%; box-sizing: border-box; margin: 5px 0px;font-size: 15px; line-height: 24px;}

#report_gpt_input .text-area .help{text-align: center; vertical-align: middle; display: block; padding-top:80px;}

#report_gpt_input .box button{    text-align: center;
    margin: 20px auto;
    display: grid;
    background-color: #5fb59d;
    border: 0px;
    line-height: 34px;
    height: 34px;
    color: #fff;
    border-radius: 5px;
    padding: 0px 30px;
    font-size:15px;
    font-weight: 500;cursor:pointer}

.main_container.ari{width:100%;height:100vh;top:0px;}
.main_container.ari,.main_container.ari .desc{ box-sizing: border-box;}

.typing{font-size:14px}

.tab {text-align: center;}
.tab .tab-in{text-align: center; cursor:pointer;
    padding: 10px 80px;
    border-radius: 20px;
    border: 0px;
    margin: 10px 0px;
    font-weight: 700;
    font-size: 15px;
    background-color: #e7e7e7;;z-index:1;    position: relative;}

.tab .tab-in.on{text-align: center; 
    padding: 10px 80px;
    border-radius: 20px;
    border: 0px;
    margin: 10px 0px;
    font-weight: 700;
    font-size: 15px;color:#fff;
    background-color:#ff7200;z-index:2}

.tab .tab-in.n1{margin-right: -35px;}