@charset "utf-8";
* {margin:0; padding:0; font-family:'Montserrat','Pretendard',"맑은 고딕","돋움", Dotum, AppleGothic, Sans-serif;outline:none;box-sizing:border-box}

body {font-size:12px; line-height:1.5em; position:relative; color:#333333;}
img {vertical-align:middle; border:none;}
fieldset, button {border:none;}
hr, button img {display:none; margin:0; padding:0;}
ul, ol, dl, li, dt, dd {list-style: none;}
p {text-align:justify;}
a {text-decoration:none;color:#333333;}
a:hover, a:active, a:focus {text-decoration:underline;}
textarea {overflow:auto; padding:5px;}
label{}
label.radio, label.checkbox {position:relative; display:block; padding:0 0 0 17px; display:inline;}
.radio{position:absolute; top:1px; left:0}
.checkbox{position:absolute; top:2px; left:0}
.textfield{border-top:1px solid #C3C3C3; border-left:1px solid #C3C3C3; border-right:1px solid #E1E1E1; border-bottom:1px solid #E1E1E1; color:#797979; padding:2px 5px;  letter-spacing:-1px}
.select{border:1px solid #ABADB3; padding:1px;  letter-spacing:-1px}
address, em {font-style:normal; font-weight:normal;}
html:first-child select {padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */

/* hidden contents */
#skip_navi,
.skip,
.hidden,
legend, 
caption {position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; z-index:-1;}