 @charset "utf-8";
/* ---------------------------------------------------
 2013년 03월 15일 EDUCE
 Sub Markup ver1.0 2013-03-15
 모의테스트 layout 정의 - 웹표준 마크업작업 가이드 참조
---------------------------------------------------- */

#wrapper{width:100%;margin:0 auto;}

/* 상단영역 */
#header{position:relative;width:100%;height:150px; text-align:center;margin-top:32px}
#header_cjat{position:relative;width:100%;height:90px; text-align:center;margin-top:32px}
#header2{position:relative;width:100%;height:85px; text-align:center;margin-top:32px}
#headerSub{position:relative;width:100%;height:90px;background:url(https://image1.educe.co.kr/aptitude_exam/bg_subTop.jpg) repeat-x 0 0;z-index:20; text-align:center; margin:0 auto; padding-top:10px}


/* 컨테이너*/
#container{position:relative;margin:0 auto;width:800px;clear:both; padding:30px 20px 50px 20px;}
#container2{position:relative;margin:0 auto;width:800px;clear:both; padding:0px 20px 50px 20px;}
#print{background-color:#f8f8f8; height:32px; border-bottom:1px solid #e2e6f3; }
#print.head{position:fixed;left:0px;top:0px;width:100%;z-index:10}
#print.footer{border-top:1px solid #e2e6f3;margin-top:20px }
/* 콘텐츠 영역 */
#contents_info {position:relative;padding:20px 0;width:100%;clear:both;}
#copy_info {position:relative;padding:15px 0 0 0;width:100%; background:#69727E; color:#FFF; font-size:11px; letter-spacing:-1px; text-align:center; border:1px solid #4A4743; border-width:0 1px 1px 1px; margin-left:-1px; height:35px; clear:both}



/* 왼쪽영역 */
#left{position:relative;float:left;width:719px; padding:15px 0}
/* 오른쪽 영역 */
#right{ position:absolute; right:0; width:279px;padding:15px 0; background:url(https://image1.educe.co.kr/aptitude_exam/bg_right.png) repeat-y 0 0;}

/* 하단영역 */
#footer {clear:both; width:1000px; height:20px; margin:0 auto; position:relative; padding:15px 2px; z-index:30}
#footer .copyright{text-align:right;}

