@charset "utf-8";
/* ---------------------------------------------------
 2013년 03월 25일 EDUCE
Contents Markup ver1.0 2013-03-25
Exam Result contents 정의 - 웹표준 마크업작업 가이드 참조
---------------------------------------------------- */

/* 공통 */
body {
    letter-spacing: -0.5px;
}

h1{height: 110px; display: flex; text-align: center; align-items: center; justify-content: center; margin-top: 10px;}
h1 label.st01{color:#406cb7;font-size:32px;font-weight:900}
h1 label.st02{color:#26416c;font-size:32px;font-weight:700}
h1 label.st03 { color: #3a5a9c; font-size: 34px; font-weight: 700; }
h1 label:last-child{color:red;font-size:30px;font-weight:900;margin-left:5px}
h1.logo{}
h1.logo2{}
h1 span{position:absolute; right:0; color:#797979; font-size:11px; letter-spacing:0 }
h1.subTit{border-bottom:2px solid #7E9CD9; letter-spacing:-2px; font-size:23px; background:url(https://image1.educe.co.kr/aptitude_exam/ico_h1.gif) no-repeat left 0; padding:0 0 16px 40px; margin-bottom:20px; position:relative; display: block; line-height:23px}
h1.subTit span.subject{color:#8EA4CF; font-size:21px; letter-spacing:-2px; position:relative; display: inline; background:url(https://image1.educe.co.kr/aptitude_exam/ln_div2.gif)  no-repeat 0 9px;margin-left:10px; padding-left:12px;}
h2{color:#616A7D; letter-spacing:-1px; font-size:15px;margin-bottom:10px;font-weight:500}
h2 img{margin-bottom:3px}
h2 .tip{ position:absolute; right:0px; color:#9F9F9F; font-size:11px; font-weight:normal; padding-top:2px }
h3 {font-size:13px; font-weight:bold;}
h3.sti_arr{padding-left:18px;color:#333333;background:url(https://image1.educe.co.kr/spec/icon_arr_gray_01.gif) no-repeat 0 2px; letter-spacing:-1px; font-size:12px;}
h3.sti_arr span.btn_more{font-weight:normal; position:absolute; right:0}
h3 p.more{float:right; background-image:url(https://image1.educe.co.kr/icon/icon_off.gif); background-repeat:no-repeat; background-position:0 3px; padding-left:18px; font-size:11px; font-weight:normal;text-decoration:underline; color:#ff6600}
h3 p.more a{text-decoration:underline; color:#ff6600}
.lnDiv{background:url(https://image1.educe.co.kr/aptitude_exam/ln_div.gif) no-repeat center 3px; display:inline-block; width:17px; height:12px;}
.btn_right{ position:absolute; right:0 ; top:0}
.txtGuide{padding-left:12px;color:#333333;background:url(https://image1.educe.co.kr/aptitude_exam/stip_ico.gif) no-repeat 0 3px; letter-spacing:-1px; font-size:11px; color:#666666}


p.dotline{display:block;margin:20px 0; background:url(https://image1.educe.co.kr/aptitude_exam_result/icn_dotline.gif) repeat-x center}

.font300{font-weight:300}
.font400{font-weight:400}
.font500{font-weight:500}
.font600{font-weight:600}
.mb2{margin-bottom:2px}
.mb3{margin-bottom:3px}
.mb25{margin-bottom:2.5px}

/* padding */
.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt35 { padding-top:35px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }

.pr5 { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr25 { padding-right:25px; }
.pr30 { padding-right:30px; }
.pr35 { padding-right:35px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }

.pb5 { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px; }
.pb30 { padding-bottom:30px; }
.pb35 { padding-bottom:35px; }
.pb40 { padding-bottom:40px; }
.pb45 { padding-bottom:45px; }
.pb50 { padding-bottom:50px; }

.pl0 { padding-left:0px; }
.pl5 { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl25 { padding-left:25px; }
.pl30 { padding-left:30px; }
.pl35 { padding-left:35px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }

.pppp0{padding:0px;}
.pppp5{padding:5px;}
.pppp10{padding:10px;}
.pppp15{padding:15px;}
.pppp20{padding:20px;}

/* margin */
.mlr2{ margin:0 2px}/* 20121105_정인추가*/
.mt-5 { margin-top:-5px; }
.mt-20 { margin-top:-20px; }
.mt3 { margin-top:3px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt35 { margin-top:35px; }
.mt40 { margin-top:40px; }
.mt45 { margin-top:45px; }
.mt50 { margin-top:50px; }
.mt60 { margin-top:60px; }

.mr5 { margin-right:5px; }
.mr8 { margin-right:8px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr25 { margin-right:25px; }
.mr30 { margin-right:30px; }
.mr35 { margin-right:35px; }
.mr40 { margin-right:40px; }
.mr45 { margin-right:45px; }
.mr50 { margin-right:50px; }

.mb0 { margin-bottom:0; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb35 { margin-bottom:35px; }
.mb40 { margin-bottom:40px; }
.mb45 { margin-bottom:45px; }
.mb50 { margin-bottom:50px; }

.ml0 { margin-left:0; }
.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.ml35 { margin-left:35px; }
.ml40 { margin-left:40px; }
.ml45 { margin-left:45px; }
.ml50 { margin-left:50px; }

/* width */
.wid_100p{width:100%;}
.wid_50p{width:50%;}
.wid_49p{width:49%;}/* 20130207-추가 */
.wid_45p{width:45%;}
.wid_200px{width:200px;}
.wid_210px{width:210px;}
.wid_230px{width:230px;}
.wid_250px{width:250px;}
.wid_255px{width:255px;}/* 20130307-추가 */
.wid_285px{width:285px;}
.wid_290px{width:290px;}
.wid_295px{width:295px;}
.wid_300px{width:300px;}
.wid_310px{width:310px;}
.wid_330px{width:330px;}
.wid_346px{width:346px;}
.wid_360px{width:360px;}/* 20130417-추가 */
.wid_370px{width:370px;}
.wid_400px{width:400px;}
.wid_440px{width:440px;}
.wid_435px{width:435px;}
.wid_430px{width:430px;}
.wid_450px{width:450px;}
.wid_500px{width:500px;}
.wid_520px{width:520px;}
.wid_530px{width:530px;}/* 20130417-추가 */
.wid_545px{width:545px;}
.wid_555px{width:555px;}
.wid_560px{width:560px;}
.wid_580px{width:580px;}
.wid_620px{width:620px;}
.wid_650px{width:650px;}
.wid_660px{width:660px;}
.wid_670px{width:670px;}
.wid_700px{width:700px;}
.wid_725px{width:725px;}
.wid_760px{width:760px;}
.wid_762px{width:762px;}
.wid_810px{width:810px;}

/* height */
.hig100p{height:100%;overflow:hidden;}
.hig200p{height:200px;}

/* font-size */
.fon_09{font-size: 11px; font-weight: 500;}
.fon_10{font-size:10px;}
.fon_11{font-size: 12px; font-weight: 500;}
.fon_12{font-size:13px; font-weight: 500;}
.fon_13{font-size:13px;}
.fon_14{font-size:14px;}

/* ------------------------------ 정보입력// ---------------------------- */
.col_oran, .col_oran a{color:#ff663a;}
.col_oran2{color:#FC7700;}/* 20130220_정인추가*/
.col_yell{color:#ffff00;}
.col_yell2{color:#ffb93a;}
.col_blue{color:#475a9f;}
.col_blue1{color:#6b9ac0}
.col_blue2{color:#169ba7}
.col_blue3,.col_blue3 a{color:#006699}
.col_blue4,.col_blue4 a{color:#0000ff;}
.col_blue5{color:#1c3cb5;}
.col_blue6,.col_blue6 a{color:#C2D5F2;}
.col_blue7, .col_blue7 a, .col_blue7:hover{color:#6487CD;}/* 20121105_정인추가*/
.col_blue8 {color:#3c5d95;} /*20121116 수현추가*/
.col_green{color:#338001;}
.col_green2{color:#006600;}
.col_skygreen{color:#18A0AC;}
.col_gray{color:#676767;}
.col_gray2{color:#777777;}
.col_gray3{color:#969696;}
.col_gray4{color:#424242;}
.col_red,.col_red a{color:#ff3e24;}
.col_red2{color:#d02a6e;}
.col_red3{color:#da737d;}
.col_purple{color:#8055b4;}
.col_black{color:#000;}
.col_violet{color:#e814af;}
.col_violet2{color:#603a9d;}/* 20140307_희경추가*/
.col_white{color:#FFFFFF;}

.pt10 {
    padding-top: 10px;
}

/* text-align */
.txt_left{text-align:left;}
.txt_right{text-align:right;}
.txt_center{text-align:center;}

/* 20130325 부터 추가된것*/

/*탭메뉴*/
.gn_menu{width:100%; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_menubar.gif) repeat-x;}
.gn_menu ul{height:50px; width:760px; margin:auto;display:flex;    justify-content: space-between;}
.gn_menu ul li{ letter-spacing:-1px; font-weight:500; font-size:16px; height:40px;line-height:40px; cursor:pointer;text-align:center;width:100%}
.gn_menu ul li:first-child{border-left:1px solid #c2d0ed}
.gn_menu ul li.on{background: url(https://image1.educe.co.kr/aptitude_exam_result/tab_bg_on.gif) left; color: #FFF; border-right: 1px solid #223969; background-size: cover;}
.gn_menu ul li.off{background:url(https://image1.educe.co.kr/aptitude_exam_result/tab_bg_off.gif) right; color:#6c86bd}

/*블루박스*/
.guide_square{padding:4px;background:#d1def0;border:1px solid #a8b4c4;}
.guide_square .contents{position:relative;padding:5px 10px;overflow:hidden;background:#fff;border:1px solid #c5cde8;}
.guide_square .contents td.side ul li span{letter-spacing:0px}
.guide_square .contents2{position:relative;overflow:hidden;background:#fff;border:1px solid #c5cde8;}
/*종합분석 테이블*/
.guide_square .contents2 td.side{background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_contents_boxSide.gif) repeat-x; width:168px;vertical-align:top;padding-top:18px;background-size: contain;}
/* 정인추가130904*/
.guide_square .contents2 td.side1{background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_contents_boxSide.gif) repeat-x; width:180px;border-right:1px solid #c5cde8;background-size: contain;}
.guide_square .contents2 td.side ul{text-align:center}

.guide_square .contents2 td.center{border:1px solid #c5cde8; border-width:0 1px 0 1px;}
/*인성결과표  테이블*/
.guide_square .contents3{position:relative;height:100%;overflow:hidden;background:#fff;border:1px solid #c5cde8; border-width:1px 0 0 1px}
.guide_square .contents3 td{border:1px solid #c5cde8; border-width:0 1px 1px 0; text-align:center; padding:10px 5px;}


/* ------ 그래프들 ------- */
/* 영역별 막대그래프*/
.hGraph ul {list-style:none;	margin: 3px 50px 9px 4px;	padding: 1px 0 0 0;	font-family: Tahoma, Geneva, sans-serif;	font-size: 11px;}
.hGraph li {margin: 2px 0px 0px 0px;	vertical-align: top;	white-space: nowrap;	position: relative;height:10px}
.hGraph .gBar_oran {background-color: #ff6011;	border:1px solid #ea4b05;	height: 8px;	display: inline-block;	position: relative;}
.hGraph .gBar_oran span {top: 0px;	width: 40px;	right: -45px;	color:#ff6011;	line-height: 8px;	position: absolute;}
.hGraph .gBar_blue {background-color: #6a92e6;	border:1px solid #557ed3;	height: 8px;	display: inline-block;	position: relative;}
.hGraph .gBar_blue span {top: 0px;	width: 40px;	right: -45px;	color:#6a92e6;	line-height: 8px;	position: absolute;}
.hGraph .gBar_gray {background-color: #868686;	border:1px solid #717171;	height: 8px;	display: inline-block;	position: relative;}
.hGraph .gBar_gray span {top: 0px;	width: 40px;	right: -45px;	color:#868686;	line-height: 8px;	position: absolute;}

/*정인추가130904*/
.graphT {background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_graph_chtotal_back.gif) left; height:20px; width:144px; margin:0 auto}
.graphT p { display:block; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_graph_chtotal.gif) left; height:18px; position:absolute; border:1px solid #EA4B05; color:#FFF; font-family:Tahoma, Geneva, sans-serif;	line-height:18px;; font-size:10px; text-align:right;}
.graphT p span {margin-right:3px}
.graphT_txt ul{position:absolute}
.graphT_txt li{display:inline-block;font-family: Tahoma;	font-size:9px; color:#9a9a9a;}

.hPoint ul {list-style:none;	margin: 8px 2px 11px 4px;font-family: Tahoma, Geneva, sans-serif;	font-size: 11px;}
.hPoint li {margin: 2px 0px 0px 0px;	vertical-align: top;	white-space: nowrap;	position: relative;line-height: 10px;height:10px;text-align:right;color:#5b5a7a}

/*말풍선*/
.balloon_red{position:absolute; vertical-align:top; margin-top:-40px; margin-left:10px; z-index:99; background:url(https://image1.educe.co.kr/aptitude_exam_result/icn_balloon_red.png) no-repeat; height:33px; padding-left:10px}

.balloon_blue{vertical-align:top; background:url(https://image1.educe.co.kr/aptitude_exam_result/icn_balloon_blue.png) no-repeat left; height:23px; margin-top:-7px; margin-left:5px; padding-left:15px; z-index:999 ;}
.balloon_blue2{position:absolute;vertical-align:top; background:url(https://image1.educe.co.kr/aptitude_exam_result/icn_balloon_blue.png) no-repeat left; height:23px; margin-top:-7px; margin-left:5px; padding-left:15px; z-index:999 ;display:block;}

.balloon_blue2.pos1{cursor:pointer;margin-left:95px;margin-top:18px}
.balloon_blue2.pos2{cursor:pointer;margin-left:95px;margin-top:55px}
.balloon_blue2.pos3{cursor:pointer;margin-left:95px;margin-top:90px}
.balloon_blue2.pos4{cursor:pointer;margin-left:95px;margin-top:125px}
.balloon_blue2.pos5{cursor:pointer;margin-left:95px;margin-top:160px}

/*기타*/
.condition {font-size:11px; display:table; width:80%; margin:0 auto}
.condition dt{color:#FF5500; display: table-cell; width:22px; text-align:center}
.condition dt span{border:1px solid #FF5500; display:block; line-height:12px; font-size:10px; width:22px; letter-spacing:-1px; height:25px; padding:0}
.condition dd{line-height:13px; display:table-cell; text-align:left; padding-left:4px}

.bgAFS{background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_afs.gif)  repeat-x bottom; border-top:2px solid #E71419; border-bottom:1px solid #3D3D3D; color:#999; font-size:11px; letter-spacing:-1px; line-height:15px; padding:15px 0}

/* 비교 가로 막대그래프 */
.vsGraph ul{font-family: Tahoma, Geneva, sans-serif;	font-size: 9px;}
.vsGraph li{white-space: nowrap;height:14px;line-height:14px;margin:6px 0px}
.vsGraph li span{display:inline-block; height:10px;vertical-align:middle}
.vsGraph .data_oran {padding:0 3px; line-height:10px; color:#ff6011;line-height: 5px;}
.vsGraph .data_blue {padding:0 3px; line-height:10px; color:#6a92e6;line-height: 5px;}
.vsGraph .gWBar_oran1{border:1px solid #ea4b05; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#ff6011;}
.vsGraph .gWBar_oran2{border:1px solid #ed652a; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#ff7734;}
.vsGraph .gWBar_oran3{border:1px solid #f07c4a; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#ff8b52;}
.vsGraph .gWBar_oran4{border:1px solid #ea7e4f; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#ff9c6c;}
.vsGraph .gWBar_oran5{border:1px solid #e48c65; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#ffab82;}
.vsGraph .gWBar_blue1{border:1px solid #557ed3; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#6a92e6;}
.vsGraph .gWBar_blue2{border:1px solid #6e91da; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#80a2ea;}
.vsGraph .gWBar_blue3{border:1px solid #84a1e0; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#93b0ed;}
.vsGraph .gWBar_blue4{border:1px solid #96afe5; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#a3bcf0;}
.vsGraph .gWBar_blue5{border:1px solid #a6bbe9; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_gbar_dot.png); background-color:#b1c6f2;}


/*히스토리 세로 막대그래프*/
.hisGraph ul{}
.hisGraph li{ font-size: 11px;font-weight: 500;}
.hisGraph li.bal{background:url(https://image1.educe.co.kr/aptitude_exam_result/icn_balloon_gray.gif) no-repeat center; height:23px;}
.hisGraph li.oran{width:30px; height:200px; background-color:#ff6011; border:1px solid #ea4b05}
.hisGraph li.gray{width:30px; height:200px; background-color:#868686; border:1px solid #717171}
.hisGraph li.blue{width:30px; height:200px; background-color:#6a92e6; border:1px solid #557ed3}
.hisGraph li.date{height:27px; font-size:11px;}




/* 히스토리 세로 막대그래프*/
.vGraph {padding: 20px 0px;}
.vGraph ul {border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(221, 221, 221) rgb(221, 221, 221); list-style: none; margin: 0px; padding: 0px; height: 250px; font-family: Tahoma, Geneva, sans-serif; font-size: 11px;}
.vGraph ul::after {clear: both; display: block; content: "";}
.vGraph li {margin: 0px 3%; width: 8%; height: 100%; text-align: center; float: left; display: inline; white-space: nowrap; position: relative;}
.vGraph .gTerm {margin: 0px -100% -20px 0px; padding: 250px 0px 0px; width: 100%; height: 20px; color: rgb(118, 118, 118); line-height: 20px; font-weight: bold; vertical-align: bottom; display: inline-block; position: relative;}
.vGraph .gBar {background: rgb(233, 233, 233); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; margin: -1px 0px 0px; width: 100%; vertical-align: bottom; display: inline-block; position: relative;}
.vGraph .gBar span {left: 0px; top: -20px; width: 100%; color: rgb(118, 118, 118); position: absolute;}

/*나의 점수 영역*/
.myPosition{position:absolute; vertical-align:top; background:url(https://image1.educe.co.kr/aptitude_exam_result/img_myposition.png) no-repeat right top; height:135px; margin-top:-32px; }
.myPosition2{vertical-align:middle; background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_myposition2.gif) no-repeat right top; width:404px; height:104px; display:table-cell}/*<-정인추가 20130910*/

/*가로테이블*/
.table_score {border-collapse:collapse;border:2px solid #7c8092; border-width:2px 0;}
.table_score  tr {}
.table_score  thead th {padding:5px 10px;border:1px solid #CED5EC;border-width:0 1px 1px 0; background:#EEF3FB; color:#6C86BD; text-align:center;width: fit-content;vertical-align:middle}
.table_score  thead th:first-child{}
.table_score  thead th.none{border-right:none}
.table_score  tbody th{padding:8px 10px;border:1px solid #c5cde8;border-width:0px 1px 1px 0px;}
.table_score  tbody td{padding: 6px 10px; border: 1px solid #c5cde8; border-width: 0px 1px 1px 0px; line-height: 22px;}
.table_score  tbody td.none{border:1px solid #c5cde8;border-width:0px 0px 1px 0px;}
.table_score  tbody td.result{padding:10px;background:#fff;border:1px solid #CED5EC; border-width:0 1px 1px 1px; text-align:center;}
.table_score  tbody td.myposition{ color:#ff6011; font-weight:bold; background-color:#fdffc2}


/*영역별 상세분석 테이블*/
.table_graph {border-collapse:collapse;border:1px solid #c8d0ea; border-width:1px; text-align:center}
.table_graph  th {border:1px solid #c8d0ea;border-width:0 1px 0 0; background:#eef3fb; color:#6c86bd;  padding:10px 0;width:20%;}
.table_graph  th.thBlue{border:1px solid #c8d0ea;border-width:1px 1px 0 0; background: #FFF; color:#6c86bd;}/*정인추가130904*/
.table_graph  th:first-child{}
.table_graph  td{}

/*정인추가130904*/
.table_graph_pink {border-collapse:collapse;border:1px solid #FBAFAF; border-width:1px; text-align:center}
.table_graph_pink  th {border:1px solid  #FBAFAF;border-width:0 1px 0 0; background:#FFE4E4; color:#FF3E24;  padding:10px 0;width:20%;}
.table_graph_pink  th.thPink{border:1px solid #FBAFAF;border-width:1px 1px 0 0; background: #FFF; color:#FF3E24;}
.table_graph_pink  th:first-child{}
.table_graph_pink  td{}

.table_graph_red {border-collapse:collapse;border:1px solid #fbafaf; background:#ffe4e4; border-width:1px; text-align:center}
.table_graph_red  th {color:#6c86bd;  padding:10px 0;width:20%; color:#ff1212}
.table_graph_red  th:first-child{}
.table_graph_red  td{}



/* 2set 들어가는 테이블*/
.table_set_graph {border-collapse:collapse;border:0;}
.table_set_graph td{vertical-align:top}
.table_set_graph td.middle,.middle{vertical-align:middle}
.table_set_graph ol{ font-size:11px;margin-top: 1.5px;}
.table_set_graph ol li{ display:block; height:20px;}

.table_set_graph .point ol{ font-size:9px;}
.table_set_graph .point ol li{ display:block; padding-bottom:10px}

.table_set_graph .data_txt ul{ position:absolute}
.table_set_graph .data_txt li{display:inline-block;font-family: Tahoma;font-size: 9px; color:#9a9a9a;}
.table_set_graph .data_txt li span{width: 30px;text-align:center;display: inline-block;letter-spacing:0px}
.table_set_graph .ex_txt{ position: absolute; font-size: 10px; color: #9a9a9a; right: 60px;}

/*히스토리 테이블*/
.table_history {border-collapse:collapse;background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_graph_wLine.png) repeat-x bottom;height:220px}

.table_history td{vertical-align:bottom}
.table_set_graph .bottom{vertical-align:bottom}

.table_set_graph.history ol{text-align: right; margin-right: 10px; margin-top: 33px;}
.table_set_graph.history ol li{height:30px}
.h220{height:220px}
.fon_we_bold{font-weight:600}
.dec_line {
    text-decoration: underline;
}
/*은지추가 150325*/
.table_graph2 {border-collapse:collapse; border-width:1px; text-align:center}
.table_graph2  th {width:30%; border-width:0 0 0 0; background:#FFFFFF; color:#6c86bd;  padding:10px 0; padding-right:10px;}
.table_graph2  th:first-child{}
.table_graph2 p{ padding-top:20px;}
.table_graph2 p a{width:100px; border:1px solid #FE6011; background-color:#FE6011; padding:5px 20px; color:#FFF;}

.rec_contents {width:100px; border:1px solid #FE6011; background-color:#FE6011; padding:5px 20px; color:#FFF;}
.bottom-logo{max-height:20px;margin:6px 10px; filter: grayscale(100%);}

#print.footer span{font-size: 11px; font-weight: 400; color: #000000;}







/* 아래는 서과장님 작업해놓은것*/






/* 정보테이블 */
.tableInfo {border-collapse:collapse;border:1px solid #B8C1DC; border-width:1px 0 0 0;}
.tableInfo  tr {}
.tableInfo  thead th {padding:5px 10px;border:1px solid #CED5EC;border-width:0 1px 1px 1px; background:#EEF3FB; color:#6C86BD; text-align:center}
.tableInfo  thead th:first-child{}
.tableInfo  tbody th{padding:5px 10px;border:1px solid #CBD1D9;border-width:0 1px 1px 0; }
.tableInfo  tbody th.bc_blue{ background-color:#EEF3FB; font-size:13px; color:#6C86BD; text-align:right;font-weight:600;}
.tableInfo  tbody td{padding:8px 10px;background:#fff;border:1px solid #e6e6e6;border-width:0px 0px 1px 0px;font-size:13px;font-weight:500;}
.tableInfo  tbody td.result{padding:10px;background:#fff;border:1px solid #CED5EC; border-width:0 1px 1px 1px; text-align:center;}


/* 테이블1 공통 */
.table01 {position:relative;border-collapse:collapse;width:100%;border:0; }
.table01 tr {}
.table01 thead th{padding:5px 0;font-size:11px;background:#FFF;border-bottom:1px solid #cbcbcb;border-left:1px solid #e5e5e5;border-top:0;border-right:0;}
.table01 thead th:first-child,.table01 tbody td:first-child,.table01 tbody th:first-child,.table01 tfoot th:first-child{border-left:0;}
.table01 tbody th.bor0, .table01 tbody td.bor0{padding:8px 5px;border-width:0;}
.table01 tbody th{padding:8px 5px; background:#FFF;border:1px solid #e5e5e5;border-width:0 0 1px 0;}
.table01 label{position:relative; padding:0 0 0 16px; font-family:"돋움", "맑은 고딕", "굴림",AppleGothic}
.table01 tbody td{padding:8px 5px;border:1px solid #e5e5e5;border-width:0px 0px 1px 0;}
.table01 tbody td.subject{ font-family:"돋움", "맑은 고딕", "굴림",AppleGothic; font-size:14px; font-weight:bold; letter-spacing:-1px;text-align:left}
.table01 tbody td.qtime span{font-family:"돋움", "맑은 고딕", "굴림",AppleGothic; font-size:11px; text-align:left; color:#8C8C8C;}
.qt{background:url(https://image1.educe.co.kr/aptitude_exam/ico_txt_time.gif) no-repeat 0 3px; padding-left:19px; display:inline-block}
.qq{background:url(https://image1.educe.co.kr/aptitude_exam/ico_txt_question.gif) no-repeat 0 5px; padding-left:22px; display:inline-block}
.table01 tbody td.qtime strong{color:#6C86BD}
.table01 tfoot td{padding:6px 5px;border:1px solid #e5e5e5;border-width:0px 0px 1px 1px;}
.table01 tbody td strong{font-family:"Tahoma",Arial,Helvetica,sans-serif;}


/* 사각배경 */
.guide_square {background:#E5EDF9; border:1px solid #C5CDE8; padding:4px}
.guide_square .inbox{background:#fff;border:1px solid #C5CDE8;}
.guide_square .basicBox{padding:10px 30px}
.guide_square .basicBox .btit{}


/* 회색사각박스 */
.guide_square_gray {background:#f7f8f9; border:1px solid #dadbdc; padding:10px}

/* 유의사항 및 안내메세지 */
.guideTxt{width:100%;}
.guideTxt li{ font-size:11px; color:#7C7B7B; line-height:16px ; letter-spacing:-1px; margin-bottom:3px}
.guideTxt li span.num{ font-family:Tahoma, Geneva, sans-serif; font-weight:bold; font-size:10px; color:#B3B3B3; width:12px; display: inline-block}
.guideTxt li.tit{font-size:11px; border-bottom:1px solid #DDDDDD;margin-bottom:5px; padding-bottom:5px; color:#4E6EB2; font-weight:bold; letter-spacing:-1px}

.guideTxt2{width:100%;}
.guideTxt2 dt{font-size:12px; text-align:center; color:#4E6EB2; font-weight:bold; letter-spacing:-1px; display:table; width:20%; position:relative;float:left}
.guideTxt2 dt{ display:table-cell; vertical-align:middle; padding-top:12px}
.guideTxt2 dd{display:inline-block; width:70%; padding:5px 35px; border-left:1px solid #DDDDDD}
.guideTxt2 dd ul li{font-size:11px; color:#7C7B7B; line-height:16px ; letter-spacing:-1px;}
.guideTxt2 dd ul li span.num{ font-family:Tahoma, Geneva, sans-serif; font-weight:bold; font-size:10px; color:#B3B3B3; width:12px; display: inline-block}

/* ------------------------------ //정보입력 ---------------------------- */

.exam-report .dev-top{top: 0px; left: 180px;}
.gray01{color:#c5c5c5}
.univ-logo{display: flex; height: 32px; align-items: center;justify-content: space-between}
.univ-logo img{max-height:25px;margin-left:10px}
.univ-logo .print-area{margin-right: 6px; margin-top: -3px;}
.univ-logo .print-area img{cursor:pointer;margin-left:5px}

.col_blue7, .col_blue7 a, .col_blue7:hover {
    color: #6487CD;
}

.mr5 {
    margin-right: 5px;
}

.score-center{background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_contents_boxCenter.png) -1px -1px no-repeat;background-size:414px}
.score-center .center-pos{ position: relative; 
   text-align:center;
   width: 100%; 
    padding: 0 25px; 
 }

.h270{height:270px}

.no-data{position:absolute;top:130px;left:150px;color:#ff3300}

.alert-line{border:1px solid #FE6011;}
.alert-line .nobr{padding-left:10px;width:205px}
.alert-line td{line-height:22px}

.chart-st1{height:210px;width:340px;text-align: center;margin: 0 auto;}
.chart-st2{height:210px;width:300px;text-align: center;margin: 0 auto}
.chart-st3{height:235px;width:340px;text-align: center;margin: 0 auto}
.section-help-st1,.section-help-st2,.section-help-st3{width: 100%; text-align: center; font-size: 12px; vertical-align: middle; display: block;}
.section-help-st1 img,.section-help-st2 img{vertical-align:middle;margin-right:3px;margin-top:-2px}
.pl132{padding-left:132px}
.pl70{padding-left:70px}

.table_set_graph .data_txt{display: flex; justify-content: space-between;width:588px;margin-left: -14px;}
.table_set_graph .graph-line{width:560px;background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_graph_hLine.gif);background-size:55.9px}

ul.desc li{letter-spacing:0px}
.h20{height:20px}

.blue01{color:#006699}

/* float:left,right */
.flo_lt{float:left;}
.flo_rt{float:right;}

.bg-gray{background-color:#f6faff}
.table_score thead th.w60{width:60px}
.table_score thead th.w70{width:70px}
.table_score thead th.w73{width:73px}

#tootip_point.pos_abs{font-size:11px; letter-spacing:-1px; background: #FDECE1; border:1px solid #F99; width:320px; padding:10px; line-height:15px; z-index:100; top:20px;display:none}
.overflow-hidden{overflow:hidden}
.balloon_blue2.pos1.hide{display:none}
.dis-inline{display:inline-block}

.flex-line{display: flex; justify-content: space-between;width:100%}

.table_set_graph.rival .data_txt{width:330px}
.table_set_graph.rival  .bg-pos{position: absolute; z-index: 99;}

.table_set_graph.rival .ex_txt {
	right:18px;
}
.w320{width:320px}
.h197{height:197px}
.h214{height:214px}

.h200{height:200px}

.td-bg-img{background:url(https://image1.educe.co.kr/aptitude_exam_result/bg_graph_hLine.gif);}

.main-score-line{background:url(https://image1.educe.co.kr/aptitude_exam_result/icn_contens_box_line.gif) repeat-x center}

.score-alert-pos{ width: calc(100% - 60px); margin: 0 auto; text-align: center; }

.print-break{page-break-before:always}

@media print {
	.print-break{margin-top:20px}
}