
/* 로그인 */
.login_wrap {background: url(../img/login_bg.jpg) no-repeat center/cover; width: 100%; min-height: 100vh;  display: flex; align-items: center; justify-content: center;}
.login_wrap .container {height: 100%; display: flex; align-items: center; justify-content: center;}
.login_section { display: flex;  border-radius: 1.875rem;  overflow: hidden;}
.login_section .login_left { width: 50%; border: 1px solid rgba(255, 255, 255, 0.6);  backdrop-filter: blur(0.625rem); background: rgba(255, 255, 255, 0.5);  padding: 3.125rem 1rem 2.875rem 3.125rem;  display: flex; flex-direction: column;  gap: 5.188rem;}
.login_section .login_left .topbox {display: flex; flex-direction: column;gap: 2.75rem;}
.login_section .login_left .topbox .logo {width: 7.625rem;}
.login_section .login_left .topbox .txt {font-size: 1.125rem;line-height: 156%;text-transform: uppercase;color: #000;}
.login_section .login_left .bottombox {display: flex; flex-direction: column;}
.login_section .login_left .bottombox .contact {display: flex; flex-direction: column; gap: 1.375rem;}
.login_section .login_left .bottombox .contact .tit{font-weight: 800;font-size: 0.75rem;line-height: 100%;color: #000;}
.login_section .login_left .bottombox .contact .descbox {display: flex; flex-direction: column; gap: 0.5rem;}
.login_section .login_left .bottombox .contact .descbox .desctxt {font-weight: 600;font-size: 1.5rem;line-height: 100%;color: #000;}
.login_section .login_left .bottombox .contact .descbox .desctxt.small {font-weight: 400;
font-size: 1rem; line-height: 100%;}
.login_section .login_left .bottombox .contact .descbox .desctxt.last {margin-top: 0.813rem;}
.login_section .login_left .bottombox .info {font-size: 0.75rem;line-height: 167%;color: #000; margin: 3.938rem 0 1.813rem;}
.login_section .login_left .bottombox .copyright {font-size: 0.75rem;line-height: 100%;color: #000;}
.login_section .login_right { width: 50%;  display: flex;  flex-direction: column;  gap: 2.75rem; padding: 3.125rem 3.125rem 3rem; background: #fff;}
.login_section .login_right .title { font-weight: 600; font-size: 1.875rem;  line-height: 100%;  color: #000;}
.login_section .login_right .form_box {display: flex; flex-direction: column; gap: 1.188rem; margin-bottom: 5.313rem;}
.login_section .login_right .form_box .form_item {width: 100%;}
.login_section .login_right .form_box .input_box {position: relative;}
.login_section .login_right .form_box .input_box + .input_box {margin-top: 0.313rem;}
.login_section .login_right .form_box .input_box .input_text { padding-left: 3.438rem;  height: 3.375rem; font-size: 1rem; line-height: 100%; border-color: #5a6181;  border-radius: 0.625rem;}
.login_section .login_right .form_box .input_box .input_text::placeholder {font-size: 1rem;line-height: 100%; color: #5a6181;}
.login_section .login_right .form_box .input_box .input_icon {  position: absolute;  left: 1.25rem;  top: 50%;  transform: translateY(-50%);  width: 1.375rem;}
.login_section .login_right .form_box .check_wrap {gap: 2.438rem;}
.login_section .login_right .form_box .check_wrap .check_box { gap: 0.688rem;}
.login_section .login_right .form_box .check_wrap .check_box .label_check { font-size: 1rem;}
.login_section .login_right .form_btns {margin-bottom: 3.938rem;}
.login_section .login_right .login_link {display: flex; flex-direction: column; gap: 0.813rem;}
.login_section .login_right .login_link .linkitem {font-size: 1rem;line-height: 100%;color: #5a6181; display: flex;  align-items: center; gap: 0.5rem;}
.login_section .login_right .login_link .linkitem .link {font-weight: 600; color: #000; transition: var(--transition);}
.login_section .login_right .login_link .linkitem .link:hover{color: #2f53f5;}


/* 주문하기 */
.order_section .contwrap {display: flex; align-items: flex-start; gap: 1.25rem;}
.order_section .contitem {position: relative;width: 100%}
.order_section .contleft {width: 15rem;}
.order_section .contleft .contbox { width: 100%;  overflow: hidden;  display: flex; flex-direction: column;}
.order_section .contleft .contbox .headbox { background: #5a6181; border: 1px solid #5a6181; border-bottom: 0;  border-radius: 0.313rem 0.313rem 0 0;   display: flex;   align-items: center; justify-content: center;  gap: 0.438rem;  padding: 0.688rem 0.5rem 0.688rem 0;}
.order_section .contleft .contbox .headbox .icon {width: 1.125rem;}
.order_section .contleft .contbox .headbox .tit { font-weight: 600;  font-size: 0.875rem;  line-height: 100%;  color: #fff;}
.order_section .contleft .contbox .tblbox { width: 100%; border: 1px solid #bec3d9; border-top: 0; border-radius: 0 0 0.313rem 0.313rem;}
.order_section .contleft .contbox .tblbox .list_tbl { border-radius: 0;}
.order_section .contleft .contbox .tblbox .list_tbl thead tr th {height: 1.875rem;}
.order_section .contleft .contbox .tblbox .list_tbl thead tr th:first-child {padding-left: 0.438rem;}
.order_section .contleft .contbox .tblbox .list_tbl tbody tr td {height: 1.875rem;}
.order_section .contleft .contbox .tblbox .list_tbl tbody tr td:first-child {padding-left: 0.438rem;}
.order_section .contleft .contbox .tblbox .list_tbl tbody tr:last-child {border-bottom: 0;}

.order_section .contcenter {width: calc(100% - 15rem*2 - 1.25rem*2);}
.order_section .contcenter .tab_navbox {margin-bottom: 1.375rem;}
.order_section .contcenter .tbl_toparea {display: flex; flex-direction: column; gap: 0.813rem; margin-bottom: 0.625rem;}
.order_section .contcenter .tbl_toparea .topbox .input_box .input_text::placeholder {color: #5a6181;} 
.order_section .contcenter .tbl_toparea .tbl_note { font-size: 0.75rem;  line-height: 100%; text-transform: uppercase; color: #000;}

.order_section .contright {width: 15rem;}
.order_section .contright .rightcont1 {display: flex; flex-direction: column; margin-bottom: 1.25rem;}
.order_section .contright .rightcont1 .headbox {width: 100%; height:2.625rem; border: 1px solid #434a68; border-radius: 0.313rem 0.313rem 0 0; background: #5a6181; display: flex; align-items: center; justify-content: center;}
.order_section .contright .rightcont1 .headbox .tit{font-weight: 600;font-size: 0.75rem;line-height: 100%;text-align: center;color: #fff;}
.order_section .contright .rightcont1 .infobox {border: 1px solid #bec3d9; border-top: 0; border-radius: 0 0 0.313rem 0.313rem;}
.order_section .contright .rightcont1 .infobox .item { display: flex;  align-items: flex-start;  gap: 0.625rem;  font-size: 0.75rem;  line-height: 125%;  color: #000;  padding: 0 0.5rem;  border-bottom: 1px solid #e1e5f6;}
.order_section .contright .rightcont1 .infobox .item .tit {  width: 2.813rem;  font-weight: 600; color: #5a6181;  padding: 0.25rem 0;}
.order_section .contright .rightcont1 .infobox .item .desc { flex: 1; padding: 0.25rem 0;}
.order_section .contright .rightcont1 .infobox .item .desc .color1 {color: #01b873;}
.order_section .contright .rightcont1 .infobox .item .desc .color2 {color: #2f53f5;}
.order_section .contright .rightcont1 .infobox .list_tbl { border-radius: 0; font-size: 0.688rem; border-top: 1px solid #bec3d9;}
.order_section .contright .rightcont1 .infobox .list_tbl thead tr th {height: 1.5rem;color: #5a6181;}
.order_section .contright .rightcont1 .infobox .list_tbl thead tr th:first-child {padding-left: 1rem;}
.order_section .contright .rightcont1 .infobox .list_tbl tbody tr td {height: 1.5rem;color: #5a6181;}
.order_section .contright .rightcont1 .infobox .list_tbl tbody tr td:first-child {    padding-left: 0.5rem;}
.order_section .contright .rightcont1 .infobox .list_tbl tbody tr:last-child {border-bottom: 0;}
.order_section .contright .rightcont2 .headbox {  width: 100%;  height: 2.5rem;   border: 1px solid #1d40e0; border-bottom: 0;  border-radius: 0.313rem 0.313rem 0 0;  background: #2f53f5;  display: flex;  align-items: center;  justify-content: space-between; gap: 0.25rem;  padding: 0 0.625rem;}
.order_section .contright .rightcont2 .headbox .tit { font-weight: 600;  font-size: 0.875rem;  line-height: 100%;  color: #fff; flex: 1;}
.order_section .contright .rightcont2 .headbox .btn { font-size: 0.688rem;  line-height: 100%;  text-align: center;  color: #fff;  padding: 0.375rem 0.25rem;  border: 1px solid #293e99;  border-radius: 0.188rem; background: #4a67ec;}
.order_section .contright .rightcont2 .headbox .btn.more_btn { width: 3.438rem;}
.order_section .contright .rightcont2 .listbox { border: 1px solid #5a6181;  border-top: 0; border-bottom: 0;}
.order_section .contright .rightcont2 .listbox .item { display: flex;  align-items: center; justify-content: space-between; gap: 0.625rem; padding: 0.438rem 0.625rem;}
.order_section .contright .rightcont2 .listbox .item + .item:not(.lastitem) {  border-top: 1px solid #e1e5f6;}
.order_section .contright .rightcont2 .listbox .item .tit { font-size: 0.75rem;  line-height: 133%;  text-transform: uppercase; color: #000;  min-height: 2.66em;}
.order_section .contright .rightcont2 .listbox .item .input_box { width: auto;}
.order_section .contright .rightcont2 .listbox .item .input_box .input_text { width: 2.5rem; height: 1.5rem;  flex: unset; padding: 0 0.5rem;}
.order_section .contright .rightcont2 .listbox .item .input_box .input_btn {  height: 1.5rem;  padding: 0 0.219rem;  font-weight: 400;  font-size: 0.688rem;  border-color: #bec3d9;  background: #edeff9; color: #5a6181;}
.order_section .contright .rightcont2 .listbox .lastitem { padding: 0 0.625rem 0.5rem;  margin-top: -0.25rem; border-bottom: 1px solid #5a6181;}
.order_section .contright .rightcont2 .listbox .lastitem .tit { min-height: unset;  line-height: 100%; color: #5a6181;}
.order_section .contright .rightcont2 .listbox .lastitem .total { display: flex;  align-items: center; justify-content: flex-end;  gap: 0.25rem;  font-weight: 600;   font-size: 0.75rem; line-height: 100%;  text-transform: capitalize; color: #000;}
.order_section .contright .rightcont2 .listbox .lastitem .total .iconbutton {  aspect-ratio: unset; width: 1.688rem; height: 1.5rem;}
.order_section .contright .rightcont2 .totalbox { padding: 0.625rem 0.563rem;  display: flex; flex-direction: column; gap: 0.5rem;  border: 1px solid #5a6181;  border-top: 0;  border-radius: 0 0 0.313rem 0.313rem; overflow: hidden;}
.order_section .contright .rightcont2 .totalbox .items { display: flex;  flex-direction: column;  gap: 0.625rem;}
.order_section .contright .rightcont2 .totalbox .items .item {  display: flex;  align-items: center;  gap: 0.75rem;  font-size: 0.75rem;  line-height: 128%;  text-transform: capitalize;  color: #000;}
.order_section .contright .rightcont2 .totalbox .items .item .tit { color: #5a6181;   width: 3.5rem;}
.order_section .contright .rightcont2 .totalbox .items .item .desc { flex: 1;}
.order_section .contright .rightcont2 .totalbox .items .item .total_desc { font-size: 1rem; font-weight: 600;}
.order_section .contright .rightcont2 .totalbox .btns { width: 100%;  display: flex;  gap: 0.5rem;}
.order_section .contright .rightcont2 .totalbox .btns .button { width: 50%;}
.order_section .contright .rightcont3 .input_box {flex-direction: column; gap: 0.125rem;}
.order_section .contright .rightcont3 .input_box .label_text { padding-left: 0.188rem;  width: 100%;  line-height: 200%; color: #5a6181; font-weight: 600;}
.order_section .contright .rightcont3 .input_box .input_text {flex: unset; height: 7.125rem;}
.order_section .contright .rightcont3 .input_box .input_text::placeholder {font-size: 0.75rem;}


/* 미출고 */
.orderPending_section .tbl thead tr th[data-th="규격"] {padding-left: 2.75rem;}
.orderPending_section .tbl thead tr th[data-th="단위"] {padding-left: 1.55rem;}
.orderPending_section .tbl tbody tr td[data-th="제품"] {padding-left: 2.5rem;;}


/* 원장내역 - 집계 */
.ledgerList_section .tbl thead tr th:last-child {padding-right: 3rem;}
.ledgerList_section .tbl tbody tr td:last-child {padding-right: 2.125rem;}
.ledgerList_section .tbl tbody tr td[data-th="항목"] {padding-left: 1.25rem;}


/* 원장내역 - 상세 */
.ledgerDetail_section .tbl_top .leftbox {gap: 0.5rem;}
.ledgerDetail_section .tbl_top .leftbox .check_wrap {gap: 0.438rem;}
.ledgerDetail_section .tbl tbody tr td[data-th="잔액"] {padding-right: 0.7rem;}


/* 출고현황 */
.shippingStatus_section .tbl_top .rightbox .input_box.g6 {margin: 0 0.438rem;}
.shippingStatus_section .tbl thead tr th[data-th="제품"] {padding-left: 4.125rem;}
.shippingStatus_section .tbl tbody tr td[data-th="제품"] {padding-left: 1.25rem;}
.shippingStatus_section .tbl tbody tr td:last-child {padding-right: 0.375rem;}
.shippingStatus_section .tbl tbody tr td .input_box .input_text { height: 1.25rem;   padding: 0 0.25rem;  text-align: center;  font-size: 0.688rem;  font-weight: 600;}


/* 제품집계 */
.productSummary_section .tbl_top .rightbox .radio_wrap {gap: 1.125rem; margin-right: 0.188rem;}
.productSummary_section .tbl thead tr th[data-th="금액"] {padding-right: 3rem;}
.productSummary_section .tbl tbody tr td[data-th="제약사명"] {padding-left: 0.125rem;}
.productSummary_section .tbl tbody tr td[data-th="금액"] {padding-right: 2.25rem;}


/* 금융비용 */
.financeCost_section .costbox {display: flex; gap: 1.25rem; margin-bottom: 2.063rem;}
.financeCost_section .costbox .leftbox { width: 31.25rem;  border-radius: 0.313rem;  background: #2f53f5;  padding: 1.188rem 1.5rem 1.063rem;  display: flex;  flex-direction: column; justify-content: space-between; gap: 1.25rem;}
.financeCost_section .costbox .leftbox .tit { font-weight: 600; font-size: 1.25rem;  line-height: 100%; text-transform: uppercase;  color: #fff;}
.financeCost_section .costbox .leftbox .price { font-weight: 600;  font-size: 2.5rem;  line-height: 100%;  text-transform: uppercase; text-align: right;  color: #fff;}
.financeCost_section .costbox .rightbox {width: calc(100% - 31.25rem - 1.25rem); border: 1px solid #bec3d9;  border-radius: 0.313rem; border-bottom: 0;}
.financeCost_section .costbox .const_tbl thead tr {  overflow: hidden;}
.financeCost_section .costbox .const_tbl thead tr th { height: 1.875rem; font-size: 0.813rem;}
.financeCost_section .costbox .const_tbl thead tr th:last-child {padding-right: 5rem;}
.financeCost_section .costbox .const_tbl tbody tr td { height: 1.813rem;}
.financeCost_section .costbox .const_tbl tbody tr td:last-child {padding-right: 5rem;}
.financeCost_section .tbl_top .rightbox .radio_wrap {gap: 0.688rem; margin-right: 0.313rem;}
.financeCost_section .tbl thead tr th:last-child {padding-right: 2.65rem;}
.financeCost_section .tbl tbody tr td:last-child {padding-right: 2.65rem;}
.financeCost_section .tbl thead tr th[data-th="항목"] {padding-left: 5rem;}


/* 카드결제 */
.cardPayment_section .paymentbox { display: flex; gap: 1.25rem;}
.cardPayment_section .paymentbox .form_box { width: 28.125rem;  border: 1px solid #bec3d9; border-radius: 0.313rem;  background: #f8f9fc; padding: 1.125rem 1.875rem 2.25rem 1.25rem; gap: 0.563rem;}
.cardPayment_section .paymentbox .input_box { align-items: flex-start; gap: 1.5rem;}
.cardPayment_section .paymentbox .input_box .label_text {  margin-top: 0.375rem;  width: 4.813rem; font-size: 0.875rem; color: #5a6181; font-weight: 600;}
.cardPayment_section .paymentbox .input_box .input_text.wid_50 { font-weight: 600;  font-size: 0.875rem; text-align: center; padding: 0;}
.cardPayment_section .paymentbox .input_box .input_txt { font-size: 0.813rem;color: #000; line-height: 2rem;}
.cardPayment_section .paymentbox .input_box .input_txt.bole {font-weight: 600;}
.cardPayment_section .paymentbox .input_box .input_txt.point {font-weight: 600; color: #2f53f5; font-size: 1rem;}
.cardPayment_section .paymentbox .form_btns {padding-left: 6.313rem;}
.cardPayment_section .paymentbox .tbl_box { width: calc(100% - 28.125rem - 1.25rem);  border: 1px solid #bec3d9; border-radius: 0.313rem; background: #fff;}
.cardPayment_section .paymentbox .tbl_box .list_tbl thead tr th { height: 1.688rem;  font-size: 0.813rem;}
.cardPayment_section .paymentbox .tbl_box .list_tbl thead tr th[data-th="금액"] {padding-right: 3.5rem;}
.cardPayment_section .paymentbox .tbl_box .list_tbl tbody tr td { height: 1.75rem;}
.cardPayment_section .paymentbox .tbl_box .list_tbl tbody tr td[data-th="금액"] {padding-right: 3.5rem;}
.cardPayment_section .paymentbox .tbl_box .pagination { margin-top: 1.063rem;}
.cardPayment_section .paymentbox .tbl_box .note_box { padding-left: 2.375rem;  margin-top: 2rem; display: flex; align-items: flex-start; gap: 1.5rem; margin-bottom: 1rem;}
.cardPayment_section .paymentbox .tbl_box .note_box .title { font-weight: 600;  font-size: 0.875rem;  line-height: 100%; color: #000;}
.cardPayment_section .paymentbox .tbl_box .note_box .descbox { display: flex;  flex-direction: column;}
.cardPayment_section .paymentbox .tbl_box .note_box .descbox .desc { position: relative;  font-size: 0.75rem;  line-height: 167%;  color: #000;  padding-left: 1em;}
.cardPayment_section .paymentbox .tbl_box .note_box .descbox .desc::before { content: "";  position: absolute;  left: 0.125rem;  top: 0.375rem;  width: 3px;  aspect-ratio: 1 / 1;  background: #000; border-radius: 50%;}


/* 공지사항 */
.notice_section .tbl tbody tr td.full_td {padding-left: 1.875rem;}


/* 이용안내 */
.guide_section .guide_box { border: 1px solid #bec3d9; border-radius: 0.313rem;  background: #fff; padding: 1.5rem 2rem 2rem; display: flex; flex-direction: column;  gap: 2.125rem;}
.guide_section .guide_box > .item { display: flex; align-items: flex-start; gap: 1.5rem;}
.guide_section .guide_box > .item .tit { width: 10.313rem; font-weight: 600; font-size: 0.875rem; line-height: 100%; text-transform: uppercase; color: #000;margin-top: 0.375rem;}
.guide_section .guide_box > .item .descbox {flex: 1; display: flex; flex-direction: column;}
.guide_section .guide_box > .item .descbox .desc {position: relative; font-size: 0.75rem;  line-height: 200%; text-transform: uppercase; color: #5a6181; padding-left: 0.75rem;}
.guide_section .guide_box > .item .descbox .desc .num { position: absolute; left: 0;  top: 0; width: 0.75rem;}
.guide_section .guide_box > .item .descbox .desc .txt {flex: 1;}
.guide_section .guide_box > .item .descbox .desc.no_num { padding-left: 0;}


/* 이용약관 */
.terms_section .terms_box {border: 1px solid #bec3d9; border-radius: 0.313rem; padding: 0.813rem 0.688rem 1.813rem 1.375rem; height: 31.125rem; background: #fff; }
.terms_section .terms_box .term_txtbox {width: 100%; height: 100%; font-size: 0.75rem;line-height: 200%;color: #000;overflow: auto; padding-right: 2.625rem;}
.terms_section .terms_box .term_txtbox::-webkit-scrollbar {width: 0.375rem; height: 0.375rem;}
.terms_section .terms_box .term_txtbox::-webkit-scrollbar-thumb {background: #5a6181; border-radius: 10rem;}
.terms_section .terms_box .term_txtbox::-webkit-scrollbar-track {background: #e1e5f6; border-radius: 10rem;}


/* 회원정보수정 */
.memberEdit_section .form_wrap { border-top: 1px solid #bec3d9; padding: 2rem 2rem 3.125rem;}
.memberEdit_section .form_box {max-width: 42.688rem;}
.memberEdit_section .form_box + .form_box {margin-top: 3.563rem;}
.memberEdit_section .input_box { gap: 0.813rem;}
.memberEdit_section .input_box .label_text { width: 4.375rem;}
.memberEdit_section .input_box .input_text { border-color: #a6acc6;}
.memberEdit_section .input_item.column .input_zipcode {width: 7.188rem;}
.memberEdit_section .input_item.column .zipcode_btn {width: 7.188rem;}
.memberEdit_section .form_btns {margin-top: 2.5rem; padding-left: 5.188rem; max-width: 42.688rem;}
.memberEdit_section .form_btns .form_btn{max-width: 18.625rem;}




/* PC 반응형 */
@media screen and (max-width: 1560px) {    

  	html {font-size: 15.5px !important;}  

}


@media screen and (max-width: 1440px) {    

  	html {font-size: 15px!important;}    

}


@media screen and (max-width: 1380px) {    

  	html {font-size: 14.5px !important;}        

}


@media screen and (max-width: 1200px) {

  	html {font-size: 14px !important;}  

}


