  
/* common */
 * { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
html { scroll-behavior: smooth; }
html, body {font-family: 'Pretendard', sans-serif; width: 100%; position: relative;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
img.full {width: 100%; height: 100%; object-fit: contain;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}

body {min-width: 1280px;}
body.hidden { overflow: hidden;}
body::before { content: "";  position: fixed;  left: 0;  top: 0;  width: 100%;  height: 100%; background-color: rgba(0,0,0,0.25); z-index: 99;  transition: all 0.4s ease; opacity: 0; pointer-events: none;cursor: pointer;}
body.hidden::before { opacity: 1;  pointer-events: auto;}
  
.wrap {width: 100%; position: relative;}
.pc {display: block;}
.tablet {display: none !important;}
.mobile { display: none !important;}
.inner {position: relative; width: 90%; max-width: 1280px;  margin-left: auto; margin-right: auto;}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {display: none;}


/* 01아이콘_01디폴트_01PC */
.aiBtn { position: fixed; bottom: 46px; right: 46px; z-index: 50; letter-spacing: 0;}
.aiBtn .icon {  position: relative;  background: url(../img/ai_btn.png) no-repeat center / contain;  width: 56px;  aspect-ratio: 1 / 1;  display: flex;  z-index: 10;}
.aiBtn .msgbox {  position: absolute;  right: -6px;  top: 50%;  transform: translateY(-50%);  border: 2px solid #709bfd;  border-radius: 100px;  max-width: 400px; height: 68px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16); padding: 0 6px;  background: #fff; display: flex;  align-items: center;  transition: all 0.4s ease; opacity: 0;}
.aiBtn .msgbox .msg { font-weight: 700;  font-size: 16px;  line-height: 150%;  color: #000;   padding: 0 72px 0 18px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; transition: all 0.5s ease; max-width: 0;}
.aiBtn.show .msgbox {opacity: 1;}
.aiBtn.show .msgbox .msg {max-width: 300px;}

  
/* 04시험화면수정_01디폹트 */
.exam_wrap {}
.exam_wrap .exam_head{}
.exam_wrap .exam_body{}
.exam_wrap .exam_cont{}