
/* PC */
@media screen and (max-width: 1560px) {    

  html {font-size: 15.5px !important;}  

}


@media screen and (max-width: 1440px) {    

  html {font-size: 15px!important;}    

}


@media screen and (max-width: 1380px) {    

  html {font-size: 14.5px !important;}


  /* 2025.01.20 추가 */
  .buycar_list_wrap .car_list .list_box { gap: 2rem; }
  .buycar_list_wrap .car_list .list_box .item { width: calc((100% - 2rem* 2) / 3);}

  .buycar_detail_wrap .content_wrap { width: calc(100% - 380px - 2.5rem);}
  .buycar_detail_wrap .side_wrap { width: 380px;}

}


@media screen and (max-width: 1300px) {    

  .ms4 .ms4_swiper .banner .txt { padding-left: 2rem;}   
  .ms6 .contbox > .right { padding: 5.5rem 4rem;}
  .ms6 .contbox > .right .ms6_listbox .item { gap: 1.25rem;}
  .ms6 .contbox > .right .ms6_listbox .item .imgbox { width: 12rem;}   
  
  .dealer_wrap .ss1 .contbox > .item {gap: 5rem;}

}


@media screen and (max-width: 1200px) {

  html {font-size: 14px !important;}  

  .header .h_search { width: 20rem;}

  .ms4 .ms4_swiper .banner .img { max-width: 15.75rem;}

  .dealer_wrap .ss1 .contbox > .item .imgbox { width: 45%;}

}


@media screen and (max-width: 1180px) {
  
  .ms4 .ms4_swiper .banner .txt { font-size: 2rem;}    


  /* 2025.01.20 추가 */
  .buycar_list_wrap .car_list .list_box { gap: 2.5rem; }
  .buycar_list_wrap .car_list .list_box .item { width: calc((100% - 2.5rem* 1) / 2);}

}



  
/* Tablet */
@media screen and (max-width: 1080px) {

  html {font-size: 16px !important;} 

  .pc {display: none !important;}
  .tablet {display: block !important;}
  .container { padding-top: 5.6rem;}
  .inner { width: 100%; padding: 0 1.6rem;}

  /* layout */
  .header { height: 5.6rem;}
  .header .h_nav, .header .h_search {display: none;}
  .header .h_logo { width: 8.4rem;}
  .header .h_side { display: flex; gap: 1.6rem;}
  .header .h_side .icon_btn {  width: 2.4rem;}

  .footer { padding: 4rem 0 7.6rem;}
  .footer .f_contbox { flex-direction: column;}
  .footer .f_contbox .f_left {width: 100%;}
  .footer .f_contbox .f_left .f_nav { gap: 1.2rem; margin-bottom: 1.6rem;}
  .footer .f_contbox .f_left .f_nav > li { font-size: 1.3rem; line-height: 146%;}
  .footer .f_contbox .f_left .f_nav > li.bar { height: 1.2rem;}
  .footer .f_contbox .f_left .f_logo {display: none;}
  .footer .f_contbox .f_left .f_copyright {display: none;}
  .footer .f_contbox .f_right {width: 100%;}
  .footer .f_contbox .f_right .call_box { margin-bottom: 1.2rem;}
  .footer .f_contbox .f_right .call_box .call_tit { font-size: 1.2rem; margin-bottom: 0.6rem;}
  .footer .f_contbox .f_right .call_box .call_num {  font-size: 1.8rem;  line-height: 144%;  margin-bottom: 0.8rem;}
  .footer .f_contbox .f_right .call_box .call_info { font-size: 1rem;  line-height: 160%;}
  .footer .f_contbox .f_right .sns_box { gap: 0.8rem;  margin-bottom: 2rem;}
  .footer .f_contbox .f_right .sns_box .link { max-width: 2.4rem;}
  .footer .f_contbox .f_right .f_logo {display: flex;}


  .navigaion { display: block;}

  .fix_nav { right: 1.6rem; bottom: 7.6rem;  gap: 0.8rem;}
  .fix_nav > .btn { width: 4rem; box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.06);}


  /* form */
  .select_box .select { width: 100% !important;}
  .select2-container--default .select2-selection--single {  border-radius: 0.6rem;   padding: 1rem 1.2rem;}
  .select2-container--default .select2-selection--single .select2-selection__rendered {  font-size: 1.4rem; line-height: 143%; padding-right: 4rem;}
  .select2-container--default .select2-selection--single .select2-selection__arrow {  right: 1.2rem; width: 1.8rem; }
  .select2-results__option--selectable {  padding: 1rem 1.2rem; font-size: 1.4rem;  line-height: 143%;}

  .form_box { gap: 2.4rem;}
  .form_box .input_box.wid50 { width: 100%;}
  .input_box .label_text {  font-size: 1.4rem;  line-height: 143%;  letter-spacing: -0.01em;  margin-bottom: 0.8rem;}
  .input_box .input_text { font-size: 1.4rem; line-height: 143%;  letter-spacing: -0.01em; padding: 1rem 1.6rem;}
  .input_box textarea.input_text { height: 13.2rem;}
  .check_box { border-radius: 0.4rem; gap: 0.4rem;  padding: 0.3rem 0.8rem;}
  .check_box .input_check { margin: 0.25rem; width: 1.5rem; border-radius: 0.4rem;}
  .check_box .label_check {  font-size: 1.2rem;}


  /* element */
  .button { padding: 1rem; border-radius: 0.6rem; font-size: 1.4rem; line-height: 143%;}

  .swiper-scrollbar.swiper-scrollbar-horizontal { height: 2px;}

  .modal .modal_box { min-width: auto; width: calc(100% - 3.2rem* 2); border-radius: 1.2rem; padding: 2.4rem; box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.06);}
  .modal .modal_box .modal_tit { font-size: 1.8rem; line-height: 144%;  margin-bottom: 0.8rem;}
  .modal .modal_box .modal_desc { font-size: 1.4rem; line-height: 143%; word-break: keep-all;}
  .modal .modal_box .modal_btnbox { gap: 0.8rem; margin-top: 2.8rem; flex-direction: column-reverse;}
  .modal .modal_box .modal_btnbox .modal_btn {  width: 100%; height: 4rem; padding: 0.9rem 0; border-radius: 0.8rem; font-size: 1.5rem;}
  .select_modal .modal_box .modal_btnbox {margin-top: 2rem}
  .select_modal .modal_box .modal_btnbox .modal_btn {font-size: 1.3rem;}

  .inner > .card_wrap { width: calc(100% + 1.6rem* 2); margin: 0 -1.6rem;}
  .card_wrap .card_tit { font-size: 2.4rem; line-height: 142%; margin-bottom: 2.4rem;}
  .card_wrap .card_box {padding: 0 1.6rem;}
  .card_wrap .card_box .item {  border-radius: 1.2rem;}
  .card_wrap .card_box .item .imgbox { border-radius: 1.2rem;  height: 16rem;}
  .card_wrap .card_box .item .txtbox {  padding: 1.2rem 1.6rem 2rem;}
  .card_wrap .card_box .item .txtbox .tit { font-size: 1.4rem; line-height: 143%;  margin-bottom: 0.2rem;}
  .card_wrap .card_box .item .txtbox .price { font-size: 1.3rem; line-height: 146%;  margin-bottom: 1.2rem;}
  .card_wrap .card_box .item .txtbox .price .num { font-size: 1.8rem;  line-height: 144%;}
  .card_wrap .card_box .item .txtbox .installment { font-size: 1.3rem;  line-height: 146%;  margin-bottom: 0.2rem;}
  .card_wrap .card_box .item .txtbox .desc { font-size: 1.2rem;  line-height: 150%;  margin-bottom: 0.8rem;}
  .card_wrap .card_box .item .txtbox .feature { gap: 0.2rem 0.4rem;}
  .card_wrap .card_box .item .txtbox .feature .badge {  padding: 0.2rem 0.6rem;  border-radius: 0.4rem; font-size: 1rem;  line-height: 160%;}
  .card_wrap .card_box .scrollbar { margin-top: 4rem;}

  .procedure_box { width: 100%; padding: 6rem 2rem; border-radius: 0; background-image: url(../img/mob_procedure_bg.jpg);}
  .procedure_box.ver2 {padding: 6rem 0; border-radius: 0;}
  .procedure_box > .title { font-size: 2.4rem; line-height: 142%; margin-bottom: 2.4rem;}
  .procedure_box > .procedure {  flex-wrap: wrap; gap: 2.4rem 4rem;}
  .procedure_box > .procedure > .item { width: 8rem;}
  .procedure_box > .procedure > .item::after { background-position:  30% 50%;  width: 4rem; height: 2.5px; top: 5.2rem;}
  .procedure_box > .procedure > .item:nth-child(3n):after {display: none;}
  .procedure_box > .procedure > .item .step {width: auto;  box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.06); font-size: 1.2rem; padding: 0.3rem 1rem; max-width: unset; height: 2.4rem;  margin-bottom: -1.2rem;}
  .procedure_box > .procedure > .item .cont { border-radius: unset; aspect-ratio: unset; background: transparent; gap: 0.8rem; text-align: center;}
  .procedure_box > .procedure > .item .cont .icon {  max-width: 100%;  border-radius: 50%;  width: 100%; aspect-ratio: 1 / 1; background: #fff; display: flex;  flex-direction: column; align-items: center; justify-content: center;}
  .procedure_box > .procedure > .item .cont .icon > img { width: 3.2rem;}
  .procedure_box > .procedure > .item .cont .icon.wid40 > img {width: 4rem;}
  .procedure_box > .procedure > .item .cont .txt { font-size: 1.2rem; white-space: nowrap;}
  
  .more_btn { font-size: 1.3rem;line-height: 146%; gap: 0.2rem;}

  .tab_navbox { gap: 0.8rem; margin-bottom: 2.4rem;}
  .tab_navbox .tab_nav {  font-size: 1.6rem;  line-height: 150%; width: 100%;  border-radius: 0.8rem;}
  .tab_navbox .tab_nav .link { padding: 1.2rem;}
  .pagination_box { gap: 0.8rem;  margin-top: 4rem;}
  .pagination_box .page_btn { width: 3.2rem;}
  .pagination_box .page .page_link,
  .pagination_box .page .ellipsis { width: 3.2rem; font-size: 1.4rem;}


  /* main */
  .page_top_bg { background-image: url(../img/mob_ms1_bg.jpg); aspect-ratio: 1 / 2.0666;top: 5.6rem;}
  .ms1 { padding-top: 5.6rem;  margin-bottom: 4.8rem;}
  .ms1 > .inner { padding: 0 3.2rem;}
  .ms1 .swiper_box { flex-direction: column; gap: 1.2rem; padding-top: 4.4rem;  margin-bottom: 3.2rem;}
  .ms1 .swiper_box > .left { width: 100%;}
  .ms1 .ms1_imgbox { margin-top: -0.8rem;}
  .ms1 .ms1_imgbox .swiper-slide .imgbox { padding-left: 0.5rem; padding-top: 0.8rem;}
  .ms1 .ms1_imgbox .swiper-slide .imgbox .number { font-size: 4.8rem; text-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.06);}
  .ms1 .ms1_imgbox .swiper-slide .imgbox > img { height: 22rem;}
  .ms1 .swiper_box > .right { width: 100%; display: flex; flex-direction: column-reverse;  gap: 2.4rem;}
  .ms1 .ms1_thum { width: 100%; margin-top: -0.5rem;}
  .ms1 .ms1_thum .swiper-slide .imgbox {padding-left: 0.4rem;padding-top: 0.5rem;}
  .ms1 .ms1_thum .swiper-slide .imgbox> img { height: 6.9rem;}
  .ms1 .ms1_thum .swiper-slide .imgbox .number {font-size: 2.4rem;text-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.06);}
  .ms1 .ms1_txtbox {  margin-bottom: 0;}
  .ms1 .ms1_txtbox .swiper-slide .txtbox .tit { font-size: 1.5rem; line-height: 147%;  margin-bottom: 0.2rem;}
  .ms1 .ms1_txtbox .swiper-slide .txtbox .price { font-size: 1.5rem; line-height: 143%;  margin-bottom: 1.2rem;}
  .ms1 .ms1_txtbox .swiper-slide .txtbox .price .num { font-size: 2rem; line-height: 150%;}
  .ms1 .ms1_txtbox .swiper-slide .txtbox .installment { display: block;  font-size: 1.4rem; margin-bottom: 0.4rem;}
  .ms1 .ms1_txtbox .swiper-slide .txtbox .desc { font-size: 1.3rem;  line-height: 146%;  margin-bottom: 1.2rem;}
  .ms1 .ms1_txtbox .swiper-slide .txtbox .badge_box { gap: 0.6rem;  margin-bottom: 0;}
  .ms1 .ms1_txtbox .swiper-slide .txtbox .badge_box .badge {  font-size: 1.3rem;  line-height: 146%;  padding: 0.2rem 0.8rem;  border-radius: 0.4rem;}
  .ms1 .ms1_txtbox .swiper-slide .txtbox .more_btn {display: none;}

  .ms2 { margin-bottom: 4.8rem;}
  .ms2 > .inner { width: calc(100% - 2.4rem* 2);  border-radius: 1.2rem;  box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.06); padding: 2.4rem 2rem 3.2rem;}
  .ms2 .contbox { width: 100%;}
  .ms2 .contbox .titbox {  flex-direction: column; align-items: center; gap: 1.2rem;}
  .ms2 .contbox .titbox .title { font-size: 2rem; line-height: 150%;  text-align: center;}
  .ms2 .contbox .titbox .sch_box { width: 26.3rem;}
  .ms2 .contbox .titbox .sch_box .input_sch { padding: 0.7rem 2.6rem 0.7rem 0;  font-size: 1.3rem; line-height: 146%;}
  .ms2 .contbox .titbox .sch_box .sch_btn {  width: 1.6rem;  right: 0;}
  .ms2 .contbox .select_wrap { gap: 1.2rem;  flex-direction: column;}
  .ms2 .contbox .select_wrap .select_box {  width: 100%;}
  .ms2 .contbox .select_wrap .sch_btn {  margin-top: 1.2rem;}

  .ms3 { margin-bottom: 6rem;}

  .ms4 { margin-bottom: 6rem;}
  .ms4 .ms4_swiper .banner { gap: 0; padding: 3rem 2rem; border-radius: 0.8rem;}
  .ms4 .ms4_swiper .banner .txt {  padding-left: 1.2rem;}
  .ms4 .ms4_swiper .banner .img { max-width: 15.2rem;  margin: 0;}
  .ms4 .ms4_swiper .pagination { display: flex;}

  .ms5 { margin-bottom: 9.2rem;}

  .ms6 { margin-bottom: 9.2rem;}
  .ms6 .contbox > .left { display: none;}
  .ms6 .contbox > .right { padding: 6rem 1.6rem;  width: 100%;}
  .ms6 .contbox > .right > .title { font-size: 2.4rem;  line-height: 142%;  margin-bottom: 2.4rem;  text-align: center;}
  .ms6 .contbox > .right .ms6_listbox { height: 31.2rem;}
  .ms6 .contbox > .right .ms6_listbox .item { gap: 1.6rem;  padding: 0.8rem;  border-radius: 0.8rem; background: #fff;}
  .ms6 .contbox > .right .ms6_listbox .item .imgbox { height: 8rem;  border-radius: 0.8rem;}
  .ms6 .contbox > .right .ms6_listbox .item .txtbox { align-self: stretch; display: flex; flex-direction: column; justify-content: space-between; padding: 0.6rem 0 0.8rem;}
  .ms6 .contbox > .right .ms6_listbox .item .txtbox .tit { font-size: 1.3rem;  line-height: 146%;  margin-bottom: 0.2rem;}
  .ms6 .contbox > .right .ms6_listbox .item .txtbox .price { font-size: 1.2rem;  line-height: 150%;  margin-bottom: 0;}
  .ms6 .contbox > .right .ms6_listbox .item .txtbox .price .num { font-size: 1.8rem;   line-height: 144%;}
  .ms6 .contbox > .right .ms6_listbox .item .txtbox .installment { display: none;}
  .ms6 .contbox > .right .ms6_listbox .item .txtbox .desc { display: none;}
  .ms6 .contbox > .right .slider_box .scrollbar { right: -10px;}
  .ms6 .contbox > .right .slider_box .scrollbar .swiper-scrollbar-drag { width: 4px;  margin-left: -1px;}

  .ms7 { margin-bottom: 6rem;}

  .ms8 { margin-bottom: 6rem; background-image: url(../img/mob_procedure_bg.jpg);}
  .ms8 .procedure_box > .procedure > .item:last-child .cont .icon > img { width: 4rem;}

  .ms9 { margin-bottom: 7rem;}
  .ms9 .contbox_pc { display: none;}
  .ms9 .contbox_mob { position: relative; left: unset; top: unset; opacity: unset; visibility: unset; z-index: unset; pointer-events: unset}
  .ms9 .contbox_mob .card_box { width: 100%; padding: 0 1.6rem; display: flex;  flex-direction: column; gap: 1.6rem; margin-bottom: 1.6rem;}
  .ms9 .contbox_mob .card_box .card_titbox { position: relative; border-radius: 1.2rem; width: 100%;  box-shadow: 0 0.4em 2rem 0 rgba(0, 0, 0, 0.06);  background: var(--color_main);  padding: 2.4rem 2.4rem 6rem;}
  .ms9 .contbox_mob .card_box .card_titbox .txtbox{ width: 100%; display: flex; flex-direction: column; align-items: flex-start;}
  .ms9 .contbox_mob .card_box .card_titbox .txtbox .tit { font-weight: 600;  font-size: 2.4rem; line-height: 158%; color: #fff; margin-bottom: 1.6rem;}
  .ms9 .contbox_mob .card_box .card_titbox .txtbox .more_btn{padding: 0; background: none;}
  .ms9 .contbox_mob .card_box .card_titbox .img { position: absolute; right: 0; bottom: 1rem; max-width: 18.8rem;}
  .ms9 .contbox_mob .card_box .card_bg { background: url(../img/mob_ms9_bg.jpg) no-repeat center / cover; width: 100%; height: 8.5rem; border-radius: 1.2rem; display: block;}
  .ms9 .mob_ms9_swiper { width: 100%; padding: 0 1.6rem 3.2rem;}
  .ms9 .mob_ms9_swiper .swiper-slide { width: auto; height: auto; align-self: stretch;}
  .ms9 .mob_ms9_swiper .card_item { width: 100%;  display: flex; flex-direction: column;  border-radius: 1.2rem; box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.06);  background: #fff;  overflow: hidden;}
  .ms9 .mob_ms9_swiper .card_item.w50 { width: 25rem; flex-direction: column;}
  .ms9 .mob_ms9_swiper .card_item .imgbox { display: flex;  align-items: center;  justify-content: center; background: #f6f6f6; border-radius: 0.8rem; height: 10.8rem; overflow: hidden;}
  .ms9 .mob_ms9_swiper .card_item .imgbox > img{width: 100%; height: 100%;  object-fit: cover;}
  .ms9 .mob_ms9_swiper .card_item .txtbox { padding: 1.2rem 1.6rem 1.6rem;}
  .ms9 .mob_ms9_swiper .card_item .txtbox .tit { font-weight: 600; font-size: 1.4rem;  line-height: 143%;  color: #111; margin-bottom: 0.6rem;}
  .ms9 .mob_ms9_swiper .card_item .txtbox .desc {  font-size: 1.3rem;  line-height: 145%;  color: #111;  margin-bottom: 0.6rem; word-break: keep-all;}
  .ms9 .mob_ms9_swiper .card_item .txtbox .info { font-size: 1.2rem;  line-height: 150%;  color: #505050;  display: flex; flex-direction: column;  gap: 1.2rem;}
  .ms9 .mob_ms9_swiper .card_item .txtbox .info .date{color: #767676;}
  .ms9 .scrollbar {margin-top: 0; padding: 0;}

  .ms10 { background-image: url(../img/mob_ms10_bg.jpg);}
  .ms10 .banner { flex-direction: column;}
  .ms10 .banner .txtbox { gap: 1.6rem; padding: 4rem 3.2rem 0;}
  .ms10 .banner .txtbox .tit { font-size: 2rem; line-height: 150%;}
  .ms10 .banner .txtbox .more_btn { width: auto;  padding: 0.9rem 1.6rem;  font-size: 1.5rem;  line-height: 147%; border-radius: 0.8rem;}
  .ms10 .banner .imgbox { width: 100%;}
  .ms10 .banner .imgbox > img {max-width: 26.9rem;}

  /* sub */
  .sub_top {height: 14.8rem; padding: 4rem 0;}
  .sub_top .titbox { gap: 0.8rem;}
  .sub_top .titbox .tit { font-size: 2.8rem; line-height: 143%;}
  .sub_top .titbox .desc { font-size: 1.4rem; line-height: 143%; letter-spacing: -0.01em;}


  /* contact */  
  .contact_wrap .sub_top {  background-image: url(../img/mob_subtop_contact.jpg); height: 28rem;  margin-bottom: -14.8rem;}
  .contact_wrap .ss1 { margin-bottom: 6rem;}
  .contact_wrap .ss1 .contbox { border-radius: 1.2rem; width: calc(100% - 0.8rem);  box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.06);  padding: 3.2rem 1.6rem 4rem;}
  .contact_wrap .ss1 .contbox .form_box .check_box { margin-top: -0.8rem;}
  .contact_wrap .ss1 .contbox .form_box .btn_box { margin-top: 0.8rem;}
  .contact_wrap .ss1 .contbox .form_box .btn_box .button { width: 100%;  font-size: 1.4rem;  letter-spacing: -0.01em;}
  .contact_wrap .ss2 { margin-bottom: 0;}


  /* review */  
  .review_wrap .sub_top {  background-image: url(../img/mob_subtop_review.jpg);}
  .review_wrap .ss1 { padding: 3.2rem 0 7rem;}
  .review_wrap .ss1 .deco_txt {  display: none;}
  .review_wrap .ss1 .tab_navbox { margin-bottom: 2.8rem;}
  .review_wrap .ss1 .review_box { gap: 2.4rem;}
  .review_wrap .ss1 .review_box > .item { flex-direction: column;  padding: 2.4rem 1.6rem;  gap: 1.6rem;  border-radius: 1.2rem;}
  .review_wrap .ss1 .review_box > .item:nth-child(even) { flex-direction: column;}
  .review_wrap .ss1 .review_box > .item .review_imgbox { width: 100%; max-width: 100%; border-radius: 0.8rem;}
  .review_wrap .ss1 .review_box > .item .review_imgbox .swiper-slide { height: 16rem;}
  .review_wrap .ss1 .review_box > .item .review_imgbox .swiper-slide > img {width: 100%; height: 100%; object-fit: cover;}
  .review_wrap .ss1 .review_box > .item .review_imgbox .prev_btn, .review_wrap .ss1 .review_box > .item .review_imgbox .next_btn { width: 2.4rem;}
  .review_wrap .ss1 .review_box > .item .review_imgbox .pagination { bottom: 1.2rem;  gap: 0.8rem;}
  .review_wrap .ss1 .review_box > .item .review_imgbox .pagination .swiper-pagination-bullet { width: 0.8rem;}
  .review_wrap .ss1 .review_box > .item .txtbox { padding: 1.6rem; border-radius: 0.8rem;}
  .review_wrap .ss1 .review_box > .item .txtbox .tit { font-size: 1.4rem; line-height: 143%; margin-bottom: 0.6rem;}
  .review_wrap .ss1 .review_box > .item .txtbox .desc {  font-size: 1.3rem;  line-height: 146%;  word-break: keep-all;  margin-bottom: 0.6rem;}
  .review_wrap .ss1 .review_box > .item .txtbox .info { font-size: 1.2rem; line-height: 150%;}


  /* dealer */  
  .dealer_wrap .sub_top {  background-image: url(../img/mob_subtop_dealer.jpg);}
  .dealer_wrap .ss1 { margin: 3.2rem 0 6rem;} 
  .dealer_wrap .ss1 .sub_tit { font-size: 1.8rem; line-height: 144%;  margin-bottom: 2rem;}
  .dealer_wrap .ss1 .contbox {  gap: 2.4rem;}
  .dealer_wrap .ss1 .contbox > .item { gap: 1.6rem; padding: 0; flex-direction: column;}
  .dealer_wrap .ss1 .contbox > .item:nth-child(even) { flex-direction: column;}
  .dealer_wrap .ss1 .contbox > .item .imgbox { width: 100%; height: 22rem;   border-radius: 1.2rem;}
  .dealer_wrap .ss1 .contbox > .item .imgbox > img { width: 100%;  height: 100%;  object-fit: cover;}
  .dealer_wrap .ss1 .contbox > .item:nth-child(odd) .txtbox,
  .dealer_wrap .ss1 .contbox > .item:nth-child(even) .txtbox {width: 100%; max-width: 100%;}
  .dealer_wrap .ss1 .contbox > .item .txtbox .numbox {  margin-bottom: 0.8rem;  font-size: 1.2rem;  gap: 0.4rem;}
  .dealer_wrap .ss1 .contbox > .item .txtbox .numbox .num { font-size: 6rem;}
  .dealer_wrap .ss1 .contbox > .item .txtbox .tit { font-size: 2rem;  line-height: 150%; margin-bottom: 0.8rem;}
  .dealer_wrap .ss1 .contbox > .item .txtbox .desc { font-size: 1.4rem;  line-height: 143%;  letter-spacing: 0;}
  .dealer_wrap .ss2 {margin-bottom: 0;}
  .dealer_wrap .ss2 .banner { background-image: url(../img/mob_dealer_banner.jpg);  width: 100%;  border-radius: 0;}
  .dealer_wrap .ss2 .banner .txtbox { padding: 4.8rem 4rem;}
  .dealer_wrap .ss2 .banner .txtbox .tit {  font-size: 2.8rem;  line-height: 143%;  margin-bottom: 1.2rem;}
  .dealer_wrap .ss2 .banner .txtbox .sub {  font-size: 1.4rem; line-height: 143%;  margin-bottom: 0.6rem;}
  .dealer_wrap .ss2 .banner .txtbox .desc { line-height: 147%;  margin-bottom: 2.4rem;}
  .dealer_wrap .ss2 .banner .txtbox .link_btn { font-size: 1.4rem; max-width: 29.5rem;  border-radius: 0.4rem;}



  /* 2025.01.20 추가 */
  /* footer */
  .footer { padding: 4rem 0 8.9rem;}
  .footer .f_contbox .f_right .f_copyright {  display: block;} 
  

  /* buycar list */
  .buycar_list_wrap .header .h_inner { gap: 1.2rem;}
  .buycar_list_wrap .header .h_logo{display: none;}
  .buycar_list_wrap .header .h_side .icon_btn.sch_btn {display: none;}
  .buycar_list_wrap .header .h_back  {display: flex;}
  .buycar_list_wrap .header .h_search2 {display: flex;}
  .buycar_list_wrap .sch_box {display: none;}
  .buycar_list_wrap .carlist_box { padding: 0;}
  .buycar_list_wrap .car_filter {display: none;}
  .buycar_list_wrap .car_list { padding-bottom: 6rem;}
  .buycar_list_wrap .car_list .list_result {padding: 1.6rem; margin-bottom: 0;  gap: 0.4rem; flex-wrap: wrap; background: #f9f9f9;}
  .buycar_list_wrap .car_list .list_result .result_word { font-size: 1.1rem; gap: 0.2rem; padding: 0.4rem 0.6rem; background: #fff;}
  .buycar_list_wrap .car_list .list_result .result_word .del_btn { width: 1.6rem;}
  .buycar_list_wrap .car_list .list_top { padding: 0; border-bottom: 0; flex-direction: column-reverse; margin-bottom: 0;}
  .buycar_list_wrap .car_list .list_top .total { width: 100%;  border-top: 1px solid #d4d4d8;  padding: 1.6rem;  font-size: 1.8rem; line-height: 144%;}
  .buycar_list_wrap .car_list .list_top .sorting {  width: 100%;  justify-content: space-between; gap: 1.6rem; padding: 1.6rem;}
  .buycar_list_wrap .car_list .list_top .radio_wrap { gap: 0.4rem;}
  .buycar_list_wrap .car_list .list_top .radio_box .input_radio {display: none;}
  .buycar_list_wrap .car_list .list_top .radio_box .label_radio {  font-size: 1.2rem;  line-height: 150%;  border: 1px solid #d4d4d8;  border-radius: 0.4rem; padding: 0.3rem 1.2rem;}
  .buycar_list_wrap .car_list .list_top .radio_box .input_radio:checked + .label_radio {  border: 1px solid #1676eb;  background: #e8f4ff;  color: var(--color_main);}
  .buycar_list_wrap .car_list .list_top .select_box .select2-container--default .select2-selection--single { border: 1px solid #1753f2; border-radius: 0.4rem; gap: 0.8rem; padding: 0.7rem 0.8rem;  min-width: 10.3rem;}
  .buycar_list_wrap .car_list .list_top .select_box .select2-container--default .select2-selection--single::before { width: 1.8rem;}
  .buycar_list_wrap .car_list .list_top .select_box .select2-container--default .select2-selection--single .select2-selection__rendered { font-size: 1.2rem;  line-height: 150%;}
  #select2_container_sort .select2-results__option--selectable { padding: 0.6rem 0.8rem; font-size: 1.2rem; line-height: 150%;}
  .buycar_list_wrap .car_list .list_box { gap: 0;}
  .buycar_list_wrap .car_list .list_box .item { width: 100%; border: 0; border-radius: 0;}
  .buycar_list_wrap .car_list .list_box .item .imgbox { aspect-ratio: 1 / 0.56;}
  .buycar_list_wrap .car_list .list_box .item .txtbox { padding: 1.2rem 1.6rem 2rem;}
  .buycar_list_wrap .car_list .list_box .item .txtbox .tit { font-size: 1.4rem;  line-height: 143%;  margin-bottom: 0.2rem;}  
  .buycar_list_wrap .car_list .list_box .item .txtbox .price {font-size: 1.3rem;line-height: 146%;margin-bottom: 1.2rem;}
  .buycar_list_wrap .car_list .list_box .item .txtbox .price .num { font-size: 1.8rem;  line-height: 144%;}
  .buycar_list_wrap .car_list .list_box .item .txtbox .installment { font-size: 1.3rem;  line-height: 146%;  margin-bottom: 0.2rem;}
  .buycar_list_wrap .car_list .list_box .item .txtbox .desc { font-size: 1.2rem;  line-height: 150%; margin-bottom: 0.8rem;}
  .buycar_list_wrap .car_list .list_box .item .txtbox .feature { gap: 0.3rem 0.4rem;}
  .buycar_list_wrap .car_list .list_box .item .txtbox .feature .badge { font-size: 1rem; line-height: 160%;  border-radius: 0.4rem; padding: 0.2rem 0.6rem;}


  /* car filter popup */
  .car_filter_popup {  position: fixed;  left: 0;  top: 5.6rem;   width: 100%;  height: calc(100% - 5.6rem);  background: #fff; overflow: auto; z-index: 100;  opacity: 0; pointer-events: none; transition: all 0.4s ease; display: block;}
  .car_filter_popup.show {opacity: 1; pointer-events: auto;}
  .car_filter_popup .condition_box { padding: 1rem 1.6rem;  border-bottom: 1px solid #d4d4d8;}
  .car_filter_popup .condition_box .switch_box { display: flex;  align-items: center;  gap: 0.8rem;}
  .car_filter_popup .condition_box .switch_box .input_switch {  position: relative; appearance: none; width: 3.6rem; height: 1.9rem;  background: #ddd; border-radius: 100px; transition: all 0.4s ease; cursor: pointer;}
  .car_filter_popup .condition_box .switch_box .input_switch::before {  content: "";  position: absolute; left: 0.2rem; top: 0.2rem; width: 1.5rem; aspect-ratio: 1 / 1; background: #fff; border-radius: 50%; transition: all 0.4s ease;}
  .car_filter_popup .condition_box .switch_box .input_switch:checked { background: var(--color_main);}
  .car_filter_popup .condition_box .switch_box .input_switch:checked::before { left: calc(100% - 0.2rem - 1.5rem);}
  .car_filter_popup .condition_box .switch_box .label_switch {  font-size: 1rem; line-height: 160%; color: #767676; cursor: pointer;}

  .car_filter_popup .filter_box {position: relative; width: 100%; margin-bottom: 4rem; border-bottom: 4px solid #ededed;}
  .car_filter_popup .filter_box .item { position: relative; width: 100%;  border-top: 4px solid #ededed;}
  .car_filter_popup .filter_box .item .acc_tit { display: flex; align-items: center;  justify-content: space-between; gap: 0.4rem; cursor: pointer; padding: 2rem 1.6rem;  font-size: 1.2rem; line-height: 150%; color: #111;}
  .car_filter_popup .filter_box .item .acc_tit .title { flex: 1; display: flex; align-items: center; gap: 1.2rem; font-weight: 600;}
  .car_filter_popup .filter_box .item .acc_tit .title .small { font-size: 1rem; line-height: 160%; color: #aaa;}
  .car_filter_popup .filter_box .item .acc_tit .result{font-size: 1.2rem;  line-height: 150%; color: #767676;}
  .car_filter_popup .filter_box .item .acc_tit .arrow{background: url(../img/acc_arrow_mob.png) no-repeat center/contain; width: 2rem; aspect-ratio: 1/1; cursor: pointer; transition: all 0.4s ease}
  .car_filter_popup .filter_box .item.show .acc_tit .arrow {transform: rotate(-180deg);}
  .car_filter_popup .filter_box .item .acc_cont{display: none;}
  .car_filter_popup .filter_box .item .acc_cont .contbox { position: relative; width: 100%;  padding: 0.8rem 1.6rem 3.2rem;}

  .car_filter_popup .filter_box .radio_wrap{display: flex; flex-wrap: wrap;  gap: 0.8rem;}
  .car_filter_popup .filter_box .radio_wrap.wid4 .radio_box {width: calc((100% - 0.8rem*3)/4);}
  .car_filter_popup .filter_box .radio_wrap.wid5 .radio_box {width: calc((100% - 0.8rem*4)/5);}
  .car_filter_popup .filter_box .radio_box .input_radio {display: none;}
  .car_filter_popup .filter_box .radio_box .label_radio { width: 100%; height: 3.2rem;  display: flex; align-items: center; justify-content: center; font-size: 1.2rem;  line-height: 150%;  color: #111; cursor: pointer; border-radius: 0.4rem;  border: 1px solid #d4d4d8;}
  .car_filter_popup .filter_box .radio_box .input_radio:checked + .label_radio { border-color: #1670f5;}  
  
  .car_filter_popup .filter_box .range_wrap {margin-top: 2rem;}
  .car_filter_popup .filter_box .range_wrap .rangeslider {  margin-top: 0.8rem;   margin-bottom: 1.4rem;  padding: 0 1rem;}
  .car_filter_popup .filter_box .range_wrap .noUi-target { background: #d4d4d8;   box-shadow: none; border-radius: 100px; border: none; width: 100%; height: 4px;}
  .car_filter_popup .filter_box .range_wrap .noUi-connects { border-radius: 100px;}
  .car_filter_popup .filter_box .range_wrap .noUi-connect { background: var(--color_main);}
  .car_filter_popup .filter_box .range_wrap .noUi-origin { height: 100%;}
  .car_filter_popup .filter_box .range_wrap .noUi-handle { width: 2rem;  height: 2rem;  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);  background: url(../img/range_dot.png) no-repeat center / contain; border: none;  border-radius: 50%;  cursor: pointer;  right: -1rem;  top: 50%; transform: translateY(-50%);}
  .car_filter_popup .filter_box .range_wrap .noUi-handle:before, 
  .car_filter_popup .filter_box .range_wrap .noUi-handle:after {display: none;}

  .car_filter_popup .filter_box .range_wrap .range_bar{display: flex; align-items: center; justify-content: space-between; margin-bottom: 0.6rem; padding: 0 1rem;}
  .car_filter_popup .filter_box .range_wrap .range_bar .bar{width: 1px; height: 7px; background: #d9d9d9; }
  .car_filter_popup .filter_box .range_wrap .range_scale {display: flex; align-items: center; justify-content: space-between; padding: 0 0.4rem;}
  .car_filter_popup .filter_box .range_wrap .range_scale .txt{font-size: 1rem;  line-height: 160%; color: #767676;}

  .car_filter_popup .filter_box #mobfilter1 .contbox {padding-bottom: 2rem;}
  .car_filter_popup .filter_box #mobfilter1 .result_list {display: flex; flex-direction: column;}
  .car_filter_popup .filter_box #mobfilter1 .result_list .result_item { display: flex;  align-items: center; gap: 1rem; padding: 1.2rem 1.6rem; border-radius: 0.4rem;  border: 1px solid var(--color_main); margin-bottom: 1.2rem;}
  .car_filter_popup .filter_box #mobfilter1 .result_list .result_item .txt { font-size: 1.2rem; line-height: 150%; color: #111; flex: 1;}
  .car_filter_popup .filter_box #mobfilter1 .result_list .result_item .del_btn {background: url(../img/ico_delete.png) no-repeat center/contain; width: 1.8rem; aspect-ratio: 1/1;}
  .car_filter_popup .filter_box #mobfilter1 .select_btn { font-size: 1.2rem;  line-height: 150%; color: var(--color_main); padding: 0.9rem 1.2rem; border-radius: 0.4rem;  border: 1px solid var(--color_main);  width: 100%;}

  .car_filter_popup .filter_box #mobfilter5 .result_box { display: flex; align-items: center;  gap: 0.8rem;  font-size: 1.2rem; line-height: 150%; color: #111; margin-top: 2rem;}
  .car_filter_popup .filter_box #mobfilter5 .result_box .input_item { flex: 1;  padding: 1.1rem 1.2rem;  border: 1px solid #d4d4d8;  border-radius: 0.4rem; display: flex;  gap: 0.2rem;}
  .car_filter_popup .filter_box #mobfilter5 .result_box .input_item .input_range {  width: 100%;  font-weight: 600; font-size: 1.2rem;  line-height: 150%; text-align: right; color: #111; border: none; flex: 1;}
  .car_filter_popup .filter_box #mobfilter5 .result_box .input_item .input_txt {font-size: 1rem; line-height: 160%; color: #767676;}

  .car_filter_popup .filter_box .color_box .radio_box .label_radio { justify-content: unset; padding: 0.7rem 1.3rem; gap: 0.6rem;}
  .car_filter_popup .filter_box .color_box .radio_box .label_radio .color {width: 1rem; aspect-ratio: 1/1; border-radius: 50%;}
  .car_filter_popup .filter_box .color_box .radio_box .label_radio .txt {flex: 1;}

  .car_filter_popup .btnbox { box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.06); background: #fff; padding: 2.2rem 1.6rem; display: flex; gap: 0.5rem;}
  .car_filter_popup .btnbox .reset_btn {  background: url(../img/ico_reset.png) no-repeat center / 2.4rem; width: 4rem; aspect-ratio: 1 / 1;  border: 1px solid #d4d4d8; border-radius: 0.4rem;}
  .car_filter_popup .btnbox .submit_btn { flex: 1; width: 100%;   border-radius: 0.4rem; background: var(--color_main); font-size: 1.2rem; line-height: 150%; color: #fff;}

  
  /* car detail popup */
  .car_detail_popup {  position: fixed;  left: 0;  top: 0;   width: 100%;  height: 100%;  background: #fff; overflow: auto; z-index: 100;  opacity: 0; pointer-events: none; transition: all 0.4s ease; display: flex; flex-direction: column;}
  .car_detail_popup.show {opacity: 1; pointer-events: auto;}
  .car_detail_popup .headbox {display: flex; align-items: center; gap: 0.8rem; width: 100%; height: 5.6rem; padding: 1.6rem;}
  .car_detail_popup .headbox .back_btn{background: url(../img/ico_back2.png) no-repeat center/contain; width: 2.4rem; aspect-ratio: 1/1;}
  .car_detail_popup .headbox .title{ font-size: 1.5rem;  line-height: 147%; color: #111; flex: 1;}
  .car_detail_popup .pathbox {background: #f8f8fa; padding: 1.1rem 1.6rem; display: flex; align-items: center ; gap: 0.4rem;}
  .car_detail_popup .pathbox .path_txt { font-size: 1.2rem;  line-height: 150%;  color: #767676;}
  .car_detail_popup .pathbox .path_txt.on { font-weight: 600; color: #111;}
  .car_detail_popup .pathbox .path_arrow {background: url(../img/path_arrow.png) no-repeat center/contain; width: 1.4rem; aspect-ratio: 1/1; display: inline-block;}  
  .car_detail_popup .contbox { padding: 2.4rem 1.6rem 4rem;   display: flex; flex-direction: column; gap: 2.4rem; flex: 1;}
  .car_detail_popup .contbox > .item{width: 100%;} 
  .car_detail_popup .contbox > .item .cont_tit{font-weight: 600;   font-size: 1.4rem;  line-height: 143%;  color: #111; margin-bottom: 1.2rem; display: flex; align-items: center; justify-content: space-between;}  .car_detail_popup .contbox > .item .cont_tit .sub {font-size: 1rem; line-height: 160%; color: #767676;}
  .car_detail_popup .contbox > .item .radio_wrap{display: flex; flex-direction: column; gap: 0.8rem;} 
  .car_detail_popup .contbox > .item .radio_box{width: 100%;} 
  .car_detail_popup .contbox > .item .radio_box .input_radio{display: none;} 
  .car_detail_popup .contbox > .item .radio_box .label_radio{border: 1px solid #d4d4d8; border-radius: 0.4rem; font-size: 1.2rem; line-height: 150%;  color: #505050; padding: 1.1rem 1.6rem; display: flex; align-items: center; justify-content: space-between; gap: 1rem;} 
  .car_detail_popup .contbox > .item .radio_box .input_radio:checked + .label_radio{border-color: var(--color_main);} 
  .car_detail_popup .contbox > .item .radio_box .label_radio .tit {display: flex; gap: 0.8rem;}
  .car_detail_popup .contbox > .item .radio_box .label_radio .tit .small {font-size: 1rem; line-height: 160%; color: #767676;}  
  .car_detail_popup .contbox > .item .check_wrap{display: flex; flex-direction: column; gap: 0.8rem;} 
  .car_detail_popup .contbox > .item .check_box { border: 1px solid #d4d4d8;   border-radius: 4px; padding: 0; gap: 0; flex-direction: column; background: #fff; overflow: hidden;}
  .car_detail_popup .contbox > .item .check_item { width: 100%;  padding: 1.1rem 1.6rem; display: flex; align-items: center;  gap: 0.6rem;}
  .car_detail_popup .contbox > .item .check_item .input_check{background: url(../img/ico_check_off2.png) no-repeat center / contain; margin: 0; border: none;    border-radius: 0; width: 1.8rem;}  
  .car_detail_popup .contbox > .item .check_item .input_check:checked{background-image: url(../img/ico_check_on2.png);} 
  .car_detail_popup .contbox > .item .check_item .label_check{display: flex; align-items: center; justify-content: space-between; gap: 1rem; font-size: 1.2rem; line-height: 150%;  color: #505050; flex: 1;}   
  .car_detail_popup .contbox > .item .check_box.show {border-color: var(--color_main);}
  .car_detail_popup .contbox > .item .check_box .acc_tit {transition: all 0.4s ease;}
  .car_detail_popup .contbox > .item .check_box.show .acc_tit {background: #f8f8fa;}

  .car_detail_popup .contbox > .item .check_item.no_data {pointer-events: none;}
  .car_detail_popup .contbox > .item .check_item.no_data .input_check {background-image: url(../img/ico_check_no.png);} 
  .car_detail_popup .contbox > .item .check_item.no_data .label_check .tit {color: #d4d4d8;}

  .car_detail_popup .contbox > .item .check_box .acc_cont {display: none; width: 100%;}
  .car_detail_popup .btnbox { box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.06); background: #fff; padding: 2.2rem 1.6rem; display: flex; gap: 0.5rem;}
  .car_detail_popup .btnbox .reset_btn {  background: url(../img/ico_reset.png) no-repeat center / 2.4rem; width: 4rem; aspect-ratio: 1 / 1;  border: 1px solid #d4d4d8; border-radius: 0.4rem;}
  .car_detail_popup .btnbox .submit_btn { flex: 1; width: 100%;   border-radius: 0.4rem; background: var(--color_main); font-size: 1.2rem; line-height: 150%; color: #fff;}

  
  /* buycar detail */
  .buycar_detail_wrap .footer { padding-bottom: 12rem;}
  .buycar_detail_wrap .header .h_inner { gap: 0.8rem;}
  .buycar_detail_wrap .header .h_logo{display: none;}
  .buycar_detail_wrap .header .h_side .icon_btn.sch_btn {display: none;}
  .buycar_detail_wrap .header .h_back  {display: flex;}
  .buycar_detail_wrap .header .h_title {display: block;}  
  .buycar_detail_wrap .fix_nav { bottom: 12.6rem;}
  .buycar_detail_wrap .detail_section > .inner { padding: 0;}
  .buycar_detail_wrap .detail_cont {  margin-bottom: 6rem;}
  .buycar_detail_wrap .detail_img { border-radius: 0; margin: 0;  overflow: unset;}
  .buycar_detail_wrap .detail_img .topbox .detail_prd_img .swiper-slide { aspect-ratio: 1 / 0.69333;}
  .buycar_detail_wrap .detail_img .topbox .note_360 {display: none;}
  .buycar_detail_wrap .detail_img .topbox .detail_prd_img .prev_btn, .buycar_detail_wrap .detail_img .topbox .detail_prd_img .next_btn {display: flex;}
  .buycar_detail_wrap .detail_img .topbox .detail_prd_img .pagination {display: flex;}
  .buycar_detail_wrap .detail_img .mob_popup { display: block;} 
  .buycar_detail_wrap .detail_img .bottombox { width: auto; height: 2.8rem;  left: 50%; transform: translateX(-50%); bottom: -1.4rem;  border-radius: 0.4rem; box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);  overflow: hidden;}
  .buycar_detail_wrap .detail_img .bottombox > .left .btnbox .img_btn {border-right: 0;  font-size: 1.1rem; line-height: 155%; font-weight: 400; padding: 0.5rem 1rem;}
  .buycar_detail_wrap .detail_img .bottombox > .left .btnbox .img_btn.on {font-weight: 600;}
  .buycar_detail_wrap .detail_img .bottombox > .right { display: none;}
  .buycar_detail_wrap .content_wrap { width: 100%;}
  .buycar_detail_wrap .content_wrap .timesale { font-size: 1.6rem; line-height: 150%; gap: 0.6rem; padding: 0.8rem 0; border-radius: 0.6rem;}
  .buycar_detail_wrap .content_wrap .timesale .icon { width: 2rem;}
  .buycar_detail_wrap .content_wrap .content_top {  border-bottom: 0;  margin-bottom: 2.4rem;  padding: 3.8rem 1.6rem 2.4rem; background: #f8f8fa; flex-direction: column; }
  .buycar_detail_wrap .content_wrap .content_top .left {margin-bottom: 1.2rem;}
  .buycar_detail_wrap .content_wrap .content_top .left .tit { font-size: 1.8rem;  line-height: 144%; margin-bottom: 0.4rem;}
  .buycar_detail_wrap .content_wrap .content_top .left .desc { font-size: 1.2rem;  margin-bottom: 0.8rem;}
  .buycar_detail_wrap .content_wrap .content_top .left .feature { gap: 0.3rem 0.4rem;}
  .buycar_detail_wrap .content_wrap .content_top .left .feature .badge { font-size: 1rem; line-height: 160%; padding: 0.2rem 0.6rem;  border-radius: 0.4rem; background: #fff;}
  .buycar_detail_wrap .content_wrap .content_top .right { text-align: left;}
  .buycar_detail_wrap .content_wrap .content_top .right .price { margin-bottom: 0.7rem;  font-size: 1.4rem; line-height: 143%;}
  .buycar_detail_wrap .content_wrap .content_top .right .price .number { font-size: 2.4rem;  line-height: 142%;}
  .buycar_detail_wrap .content_wrap .content_top .right .installment { font-size: 1.2rem; line-height: 150%;}
  .buycar_detail_wrap .content_box { margin-bottom: 4rem; padding: 0 1.6rem;}
  .buycar_detail_wrap .content_box .titbox { gap: 0.6rem;  margin-bottom: 1.2rem;}
  .buycar_detail_wrap .content_box .titbox .tit { font-size: 1.8rem; line-height: 144%;}
  .buycar_detail_wrap .content_box .titbox .desc { font-size: 1.4rem; line-height: 143%;}
  .buycar_detail_wrap .content_box .contbox { padding: 2rem 1.6rem; border-radius: 1.2rem;}
  .buycar_detail_wrap .content_box.box1 .contbox { gap: 1.2rem 0;}
  .buycar_detail_wrap .content_box.box1 .contbox > .item {  gap: 0.6rem;  width: 50%;}
  .buycar_detail_wrap .content_box.box1 .contbox > .item .tit { width: 7rem;  padding-left: 1.2em; font-size: 1.2rem;}
  .buycar_detail_wrap .content_box.box1 .contbox > .item .desc { font-size: 1.2rem;}
  .buycar_detail_wrap .content_box.box2 .titbox { margin-bottom: 1.2rem;}
  .buycar_detail_wrap .content_box.box2 .contbox { gap: 2.4rem; flex-direction: column;}
  .buycar_detail_wrap .content_box.box2 .contbox > .item { width: 100%;}
  .buycar_detail_wrap .content_box.box2 .contbox > .item .item_tit { font-size: 1.4rem;  line-height: 143%;  margin-bottom: 0.6rem;}
  .buycar_detail_wrap .content_box.box2 .contbox > .item .list .list_item { padding: 0.7rem 0;}
  .buycar_detail_wrap .content_box.box2 .contbox > .item .list .list_item .tit, 
  .buycar_detail_wrap .content_box.box2 .contbox > .item .list .list_item .desc {  font-size: 1.2rem;}
  .buycar_detail_wrap .content_box.box2 .btnbox { margin-top: 1.6rem;  flex-direction: column;  gap: 1.2rem;}
  .buycar_detail_wrap .content_box.box2 .btnbox .btn { width: 100%;  gap: 1.2rem;  padding: 0.8rem 1.6rem; border-radius: 0.8rem;}
  .buycar_detail_wrap .content_box.box2 .btnbox .btn .icon { width: 4rem;}
  .buycar_detail_wrap .content_box.box2 .btnbox .btn .txt {  font-size: 1.5rem;  line-height: 147%;}
  .buycar_detail_wrap .content_box.box2 .btnbox .btn .arrow { width: 2rem;}
  .buycar_detail_wrap .content_box.box3 .titbox { margin-bottom: 0.8rem; gap: 1.2rem;}
  .buycar_detail_wrap .content_box.box3 .contbox {  gap: 0.8rem;  padding: 2rem;  margin-bottom: 2.4rem;}
  .buycar_detail_wrap .content_box.box3 .contbox > .item .tit {  padding-left: 1.2em;  font-size: 1.3rem; line-height: 146%;}
  .buycar_detail_wrap .content_box.box3 .contbox > .item .desc { font-size: 1.3rem; line-height: 146%;}
  .buycar_detail_wrap .content_box.box3 .optbox .opt_tit { font-size: 1.4rem;  line-height: 143%;  margin-bottom: 0.8rem;}
  .buycar_detail_wrap .content_box.box3 .optbox .list { gap: 0.8rem; margin-bottom: 2.4rem;}
  .buycar_detail_wrap .content_box.box3 .optbox .list > .item {  width: calc((100% - 0.8rem* 3) / 4);  height: auto;  aspect-ratio: 1 / 1;  font-size: 1.2rem;  line-height: 150%;  border-radius: 0.8rem; padding: 0.5rem; word-break: keep-all;}
  .buycar_detail_wrap .content_box.box3 .optbox .opt_btn {  font-weight: 600;  font-size: 1.3rem;  line-height: 146%;  width: 100%;  height: 3.6rem;  border-radius: 0.6rem;}
  .buycar_detail_wrap .side_wrap { border: none;  width: 100%;  height: 100%;  position: fixed;  left: 0;  bottom: 0;  z-index: 105; border-radius: 0;  padding: 0;  background: rgba(0, 0, 0, 0.5); transition: all 0.4s ease; opacity: 0; pointer-events: none;}
  .buycar_detail_wrap .side_wrap.show {opacity: 1; pointer-events: auto;}
  .buycar_detail_wrap .side_wrap .side_cont { position: absolute; left: 0;  bottom: -1.5rem;  background: #fff;  border-radius: 1.6rem 1.6rem 0 0; transition: all 0.4s ease; opacity: 0;}
  .buycar_detail_wrap .side_wrap.show .side_cont { bottom: 0; opacity: 1;}
  .buycar_detail_wrap .side_wrap .side_cont::before { content: ""; border-radius: 100px; width: 33px; height: 4px; background: #aaa; display: block; margin: 1rem auto 1.6rem;}
  .buycar_detail_wrap .side_wrap .topbox,
  .buycar_detail_wrap .side_wrap .titbox {display: none;}
  .buycar_detail_wrap .side_wrap .infobox { padding: 0 1.6rem;}  
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_tit { gap: 0.8rem;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_tit .tit { font-size: 1.4rem; line-height: 143%; gap: 0.8rem;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_tit .arrow { width: 2rem;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_contbox { padding: 1.6rem 2.8rem 1.6rem 1.6rem; gap: 1.2rem;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_contbox > .item {  font-size: 1.2rem; line-height: 150%;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_contbox > .item.ver2 .tit { padding-top: 0.7rem;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_contbox > .item .select_box { gap: 0.8rem;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_contbox > .item .select_item .select_tit { font-size: 1.2rem; line-height: 150%; padding: 0.7rem 1.2rem;  border-radius: 0.6rem;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_contbox > .item .select_item .select_tit .arrow { background-image: url(../img/acc_arrow.png); width: 1.6rem;}
  .buycar_detail_wrap .side_wrap .infobox .infolist .infoitem .acc_contbox > .item .select_item .select_popup .input_box .label_radio { font-size: 1.2rem; line-height: 150%; padding: 0.7rem 1.2rem;}
  .buycar_detail_wrap .side_wrap .infobox .info_total { padding: 1.6rem 0 2rem;}
  .buycar_detail_wrap .side_wrap .infobox .info_total .total .tit { font-size: 1.6rem;}
  .buycar_detail_wrap .side_wrap .infobox .info_total .total .price { font-size: 1.4rem; line-height: 143%;}
  .buycar_detail_wrap .side_wrap .infobox .info_total .total .price .number {  font-size: 1.8rem; line-height: 144%;}
  .buycar_detail_wrap .side_wrap .btnbox { box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.06);  background: #fff; padding: 1.8rem 1.6rem;}
  .buycar_detail_wrap .side_wrap .btnbox .reserve_btn {display: none;}
  .buycar_detail_wrap .side_wrap .btnbox .share_btn {display: none;}
  .buycar_detail_wrap .side_wrap .btnbox .btn {  height: 4.8rem;  font-size: 1.5rem;  line-height: 147%;  border-radius: 0.6rem;}
  .buycar_detail_wrap .fix_btnbox {display: flex;}


  /* full modal */
  .full_modal { background: none;}
  .full_modal .modal_head { padding: 1.4rem 1.6rem; border: 0; border-bottom: 1px solid #f1f1f5;}
  .full_modal .modal_head .h_title {  font-size: 1.8rem; line-height: 144%;}
  .full_modal .modal_head .h_side .close_btn {  width: 2.8rem;}
  .full_modal .modal_box { width: 100%; max-width: 100%; height: 100%; max-height: 100%;  border-radius: 0; box-shadow: none;}
  .full_modal .modal_body { padding: 2.4rem 1.6rem;}
  .full_modal .modal_body .contbox .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width: 3px;}
  .full_modal .modal_body .contbox .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {width: 1px;}


  /* pastHistory popup */
  #pastHistory_popup .contbox { height: 100%;}
  #pastHistory_popup .listbox { padding: 2rem 1.6rem; gap: 0.8rem;}
  #pastHistory_popup .listbox > .item .yearbox .year { font-size: 1.4rem; line-height: 143%;}  
  #pastHistory_popup .listbox > .item .descbox { gap: 2.4rem; padding-bottom: 1.6rem;}
  #pastHistory_popup .listbox > .item .descitem .desc_tit { margin-bottom: 0.4rem;  font-size: 1.3rem;  line-height: 146%;}
  #pastHistory_popup .listbox > .item .descitem .desc_sub {  font-size: 1.2rem;  line-height: 150%;  margin-bottom: 1.2rem;}
  #pastHistory_popup .listbox > .item .descitem .infobox { gap: 1.2rem 0 !important; border-radius: 1.2rem;padding: 1.6rem;}
  #pastHistory_popup .listbox > .item .descitem .infobox .infoitem { width: 100% !important; gap: 1.2rem !important; font-size: 1.2rem; line-height: 150%;}
  #pastHistory_popup .listbox > .item .descitem .infobox .infoitem .tit { width: 60px !important;}
  #pastHistory_popup .listbox > .item .descitem .infobox .infoitem .desc { flex: 1;  word-break: keep-all;}
  #pastHistory_popup .listbox > .item .descitem .infobox.widauto .infoitem {    min-width: unset;  }


  /* performance popup */
  #performance_popup .contbox { height: 100%;}
  #performance_popup .modal_inner { padding: 2.4rem 1.6rem 6rem}
  #performance_popup .statebox { gap: 0.8rem; margin-bottom: 1.6rem;}
  #performance_popup .statebox > .item { border-radius: 0.8rem; gap: 0; padding: 1.8rem 0;}
  #performance_popup .statebox > .item .tit { font-size: 1.3rem; line-height: 146%;}
  #performance_popup .statebox > .item .desc { font-size: 1.6rem; line-height: 150%;}
  #performance_popup .statebox > .item .desc::before { bottom: 0;  width: calc(100% + 0.8rem); height: 1.2rem;}
  #performance_popup .printbox .print_btn {  font-size: 1.4rem;  line-height: 143%;  width: 12rem;  height: 3.2rem; border-radius: 0.6rem;  margin-bottom: 1.6rem;}
  #performance_popup .printbox .print_img {  border: 0;  border-radius: 0;  overflow: unset; display: flex; flex-direction: column; gap: 0.8rem;}
  #performance_popup .printbox .print_img .imgbox { border: 1px solid #d4d4d8;  border-radius: 1.2rem;  overflow: hidden;}
  #performance_popup .printbox .note_txt { font-size: 1.2rem; line-height: 150%;  margin-top: 1.2rem;}


  /* optInfo popup */
  #optInfo_popup .contbox { height: 100%;}
  #optInfo_popup .modal_inner { padding: 1.4rem 1.6rem 3.2rem;}
  #optInfo_popup .optbox { border-top: 0;}
  #optInfo_popup .optbox > .item { flex-direction: column;}
  #optInfo_popup .optbox > .item .titbox { width: 100%;  font-size: 1.4rem;   line-height: 143%;  letter-spacing: -0.01em;  border: 0;  background: #fff;  padding: 1rem 1.6rem;  justify-content: flex-start;}
  #optInfo_popup .optbox > .item .descbox { background: #f8f8fa;  border-bottom: 1px solid #d4d4d8;}
  #optInfo_popup .optbox > .item .descbox .descitem { width: 50%;  font-size: 1.3rem;  line-height: 146%; padding: 1rem 1.6rem;  letter-spacing: -0.01em; color: #111;  border: 0;}
  #optInfo_popup .note_txt { font-size: 1.2rem; line-height: 150%;  margin-top: 1.2rem;}




}


@media screen and (max-width: 900px) {

  html {font-size: 14px !important;}


}


@media screen and (max-width: 700px) {

  html {font-size: 11.5px !important;}

}




/* Mobile */
@media screen and (max-width: 599px) {

  html {font-size: 11px !important;}  

  .mobile {display: block !important;}
  

}
  
      
@media screen and (max-width: 480px) {  

  html {font-size: 10px !important;}

}


@media screen and (max-width: 320px) {

  html { font-size: 9px !important;}

  .procedure_box { padding: 6rem 1rem;}

  
  /* 2025.01.20 추가 */
  .car_filter_popup .filter_box .color_box .radio_box .label_radio {padding: 0.7rem 1rem;}

}
