    
/* PC 반응형 */

@media screen and (max-width: 1680px) {
    
    html {font-size: 16px !important;}
        
}



@media screen and (max-width: 1580px) {
    
    html {font-size: 15.5px !important;}

    .Section4 .ms4_slider .swiper-slide.slide5 {margin-right: -26rem;    }
            
}



@media screen and (max-width: 1440px) {
    
    html {font-size: 15px!important;}

    .Section3 .ms3_slider .m3_s_slider_link { width: 70%;}
    .Section3 .ms3_slider .slide2 .m3_s_slider_link { width: 65%;}
    .Section3 .ms3_slider .slide3 .m3_s_slider_link { width: 80%; }
    .Section3 .ms3_slider .slide4 .imgbox { width: 80%; }

    .Section4 .ms4_slider .swiper-slide.slide5 { margin-right: -22rem;}
    
}



@media screen and (max-width: 1380px) {
    
    html {font-size: 14.5px !important;}

    .Section5 .ms5_slider { height: 55%; }
    .Section5 .ms5_slider .slide_cont > .item .txtbox { width: 80%;}
    .Section5 .ms5_slider .slide_cont .item_group .sub_item .txtbox {    width: 85%; }
    .Section5 .ms5_slider .slide_cont > .item .txtbox .tit { margin-bottom: 2rem;  }

    .Section6 .marquee_box .card_item { width: 375px; }
    .Section6 .main_contbox { gap: 3rem 0;  padding-bottom: 0;}
  
}




@media screen and (max-width: 1280px) {

    .Section4 .ms4_slider .swiper-slide.slide5 {margin-right: -12rem; }

    .Section5 .titbox { margin-bottom: 2.5rem;  }
    .Section5 .ms5_slider .slide_cont > .item .txtbox { width: 85%;}
    .Section5 .ms5_slider .slide_cont .item_group .sub_item .txtbox {    width: 90%; }
    .Section5 .ms5_slider .slide_cont > .item .txtbox .tit { font-size: 1.25rem; }

    .Section6 .main_contbox { gap: 2rem 0; }
    .Section6 .marquee_box .card_item .txt { line-height: 1.3; height: 3.9em; -webkit-line-clamp: 3; }

    .Section7 .leftbox .inner {gap: 2.5rem 0;}
    .Section7 .titbox .m_txt1 {margin-bottom: 0.75rem; }
    .Section7 .timebox .m_txt1 { margin-bottom: 0.75rem; }

}



@media screen and (max-width: 1200px) {
    
    html {font-size: 14px !important;}
    
        
}



@media screen and (max-width: 1080px) {

    
}




    
/* mobile */

@media screen and (max-width: 1023px) {
    
    .pc_main {display: none;}
    .mob_main {  display: block;  width: 100%;  height: 100%; }

    .pc {display: none !important}
    .mob {display: block !important;}


    body.hidden { overflow: hidden;}

    .wrap {height: auto; }



    .header .line_navbox .line_btn { padding-bottom: 0; margin-bottom: 0; font-size: 1.45rem; }
    .header .line_navbox:hover .line_submenu { opacity: 0;  pointer-events: none; }
    .header .line_navbox.on .line_submenu { opacity: 1;     pointer-events: auto; }
    .header .line_navbox .line_submenu > li { font-size: 1.1rem; }
    .header .header_logo { max-width: 150px; }
    .header .side_navbox .location { display: none; }
    .header.white { height: 125px; }



    .nav_box {  margin-top: 0;  margin-right: -100%; position: fixed;  display: flex; flex-direction: column;}
    .nav_box::-webkit-scrollbar {display: none; }    
    .nav_box.open { margin-right: 0; }
    .nav_box .header_inner { height: 100px; }
    .nav_box .sub_nav { flex-direction: column; gap: 0.75rem 0; }
    .nav_box .sub_nav .bar { display: none; }
    .nav_box .sub_nav .link { font-size: 1.4rem; }
    .nav_box .nav_logo { max-width: 150px;}
    .nav_box .nav { flex: 1; width: 100%;  margin: 0;  flex-direction: column; padding: 2rem 0; overflow-y: scroll; justify-content: flex-start;  }
    .nav_box .nav::-webkit-scrollbar {display: none; } 
    .nav_box .nav > li { width: 100%; text-align: left;  font-size: 2.4rem; }
    .nav_box .nav > li > .tit { padding: 2rem 8%; box-sizing: border-box; position: relative; display: block; width: 100%; }
    .nav_box .nav > li > .tit::before {display: none;}
    .nav_box .nav > li > .tit .plus { position: absolute; right: 8%;  top: 50%;    transform: translateY(-50%); width: 15px;  height: 15px;  }
    .nav_box .nav > li > .tit .plus::before {content: ""; width: 100%;  height: 1px; background-color: #1f1f1f; position: absolute;  left: 0px;   top: 50%;     transform: translateY(-50%);}
    .nav_box .nav > li > .tit .plus::after {content: ""; max-width: 1px; height: 100%;    background-color: #1f1f1f;width: 100%; margin: auto; transition: all 0.4s; display:block }
    .nav_box .nav > li.show > .tit .plus::after {transform: rotate(90deg);}
    .nav_box .nav_ul { box-sizing: border-box; opacity: 1;  margin-top: 0;  width: 100%;  overflow: hidden; padding: 0px 10%;  background-color: rgba(255,255,255,0.3); box-shadow: none; transition: initial; display: none; }
    .nav_box .nav_ul li { font-size: 1.6rem; padding: 1rem 0px;  }  
    .nav_box .nav_ul li:hover a { color: inherit;} 



    .fixed_btnbox { position: fixed; height: auto; flex-direction: row; justify-content: center; }
    .fixed_btnbox .reserve_btn { position: relative;  left: auto;  top: auto;  transform: none; width: 30%; height: 45px; margin: 0;}
    .fixed_btnbox .reserve_btn .before { font-size: 1.85rem;}
    .fixed_btnbox .reserve_btn .after { font-size: 1.5rem; }
    .fixed_btnbox .marquee_txt { display: none; }
 


    .footer .footer_inner {flex-direction: column-reverse; align-items: center;  gap: 2rem 0; }
    .footer .footer_infobox { width: 100%;}
    .footer .footer_logo {width: 40%; max-width: 150px; }
    .footer .footer_infobox .com_info {gap: 0 0.5rem;justify-content: center; }    
    .footer .footer_infobox .com_info .com_info_txt {font-size: 1.1rem; }
    .footer .footer_infobox .copyright { font-size: 1.1rem; text-align: center; }



    .main_contbox {height: auto; padding-top: 0; overflow: initial; }
    .Section {position: relative; width: 100%; }
    .m_txt1 {font-size: 1.4rem; }
    .m_txt2 { font-size: 1.35rem;}
    .m_txt3 { font-size: 1.75rem; }
    .m_btn { font-size: 1.3rem;}
    .effect1 { overflow: hidden; opacity: 1;}
    .effect1 > span{ transition-property: transform; transition-duration: 1.65s; transform: translateY(-100%); display: block; transition-delay: 0.2s;}
    .effect1.aos-animate > span{transform: translateY(0);}



    .Section1 { width: 100%; height: 100vh; position: relative;     overflow: hidden;}
    .Section1 .ms1_txtbox { top: 55%; }   
    .Section1 .ms1_txtbox .desc { font-size: 1.25rem; }



    .Section2 .titbox { margin-top: 8rem;}
    .Section2 .imgbox_wrap {margin: 5.5rem auto 0; flex-direction: column;  gap: 1.25rem;  }
    .Section2 .imgbox_wrap .item { width: 100%; overflow: hidden;}
    .Section2 .imgbox_wrap .item .img_cont { height: 45vh; }
    .Section2 .imgbox_wrap .item .img_cont .img.img1 { height: 100%; }
    .Section2 .imgbox_wrap .item .img_cont .img.img3 { width: 100%;    height: 100%; left: 50%; bottom: 0; }
    .Section2 .imgbox_wrap .item .img_cont .txtbox {right: auto;       left: 0; text-align: center;  width: 100%; }
    .Section2 .imgbox_wrap .item .img_cont .txtbox .tit {font-size: 3.2rem; color: #fff;}
    .Section2 .imgbox_wrap .item .img_cont .txtbox .desc,
    .Section2 .imgbox_wrap .item.item2 .img_cont .txtbox .desc  { font-size: 1.4rem;  margin-top: 2.5vh; }
    .Section2 .imgbox_wrap .link_box { margin: 2rem 0; text-align: center;}
    .Section2 .imgbox_wrap .link_box .link { font-size: 1.5rem; }
    .Section2 .imgbox_wrap .item:hover .img_cont .txtbox { opacity: 1; }
    .Section2 .imgbox_wrap .item .hoverbox { top: 50%; height: 40%; }
    .Section2 .imgbox_wrap .item .hoverbox.aos-animate { opacity: 1;}



    .Section3 { margin: 10rem 0 0; }

    .Section3 .titbox { margin-bottom: 3rem; margin-top: 10rem; }
    .Section3 .m3_center { position: relative; left: auto; top: auto; transform: none;  }

    .Section3 .slide1 { margin-bottom: 5rem; }
    .Section3 .slide1 .leftbox { width: 80%; margin: 5rem auto 0; }
    .Section3 .slide1 .txtbox .desc { font-family: 'Noto Serif KR', serif; font-size: 1.4rem; letter-spacing: 2px; color: #859aa8; line-height: 1.6; margin-bottom: 2.5rem;}

    .Section3 .m3_s_slider_link { width: 80%; margin: auto; display: flex;  flex-direction: column;  align-items: center;  justify-content: center;}
    .Section3 .m3_s_slider {width: 100%; font-size: 0; opacity: 0; -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); -webkit-transition: clip-path 2s cubic-bezier(.19, 1, .22, 1), opacity 0.8s ease 167ms, -webkit-clip-path 2s cubic-bezier(.19, 1, .22, 1); transition: clip-path 2s cubic-bezier(.19, 1,.22,1), opacity 0.8s ease 167ms, -webkit-clip-path 2s cubic-bezier(.19, 1, .22, 1); transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
    .Section3 .m3_s_slider_link.aos-animate .m3_s_slider { opacity: 1; -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); transition-delay: 0.8s;  -webkit-transition-delay: 0.8s;}
    .Section3 .m3_s_slider .swiper-slide > img {width: 100%;}
    .Section3 .m3_s_slider .m3_pagination { text-align: right; padding: 0 1rem; box-sizing: border-box; bottom: 1rem;}
    .Section3 .m3_s_slider .m3_pagination .swiper-pagination-bullet {background: #fff; opacity: 1; width: 8px; height: 8px;}
    .Section3 .m3_s_slider .m3_pagination .swiper-pagination-bullet-active { background: #4e4a4a;}

    .Section3 .m3_s_txtbox {width: 100%; margin-top: 1.5rem; opacity: 0; transition: clip-path 2s cubic-bezier(.19, 1,.22,1), opacity 0.8s ease 167ms, -webkit-clip-path 2s cubic-bezier(.19, 1, .22, 1); transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
    .Section3 .slide_cont.aos-animate .m3_s_txtbox { opacity: 1; transition-delay: 0.8s; -webkit-transition-delay: 0.8s;}
    .Section3 .m3_s_txtbox .desc {font-size: 1.3rem; color: #645f5a; letter-spacing: 1px; margin-top: 0.65rem;}
    .Section3 .m3_s_txtbox .desc2 { font-size: 1.2rem; color: #7c7c7c; letter-spacing: 1px; margin-bottom: 0.25rem;}
    .Section3 .m3_s_txtbox .arrow { margin-top: 1rem;}

    .Section3 .m3_s_img { width: 100%; height: 30vh; background: no-repeat center / cover; margin-bottom: 5rem;}

    .Section3 .slide2 { margin-bottom: 5rem; }
    .Section3 .slide2 .slide_cont {display: flex;  flex-direction: column-reverse }
    .Section3 .m3_s_img.img1 {background-image: url(../image/m3_s_img1.png);}

    .Section3 .slide2 { margin-bottom: 5rem; }
    .Section3 .slide3 .slide_cont {display: flex;  flex-direction: column-reverse }
    .Section3 .m3_s_img.img2 {background-image: url(../image/m3_s_img2.png);}

    .Section3 .slide4 .m3_s4_img1 {  background: url(../image/m3_s4_img1.png) no-repeat center/cover;  width: 100%;  height: 30vh;}
    .Section3 .slide4 .rightbox {padding: 5rem 0; background-color: #efefef;     box-sizing: border-box; }
    .Section3 .slide4 .m3_s4_img2 { background: url(../image/m3_s4_img2.png) no-repeat center/cover; width: 80%; margin: auto; padding-bottom: 50vw; opacity: 0; -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); -webkit-transition: clip-path 2s cubic-bezier(.19, 1, .22, 1), opacity 0.8s ease 167ms, -webkit-clip-path 2s cubic-bezier(.19, 1, .22, 1); transition: clip-path 2s cubic-bezier(.19, 1,.22,1), opacity 0.8s ease 167ms, -webkit-clip-path 2s cubic-bezier(.19, 1, .22, 1); transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
    .Section3 .slide4 .slide_cont.aos-animate .m3_s4_img2 {opacity: 1; -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); transition-delay: 0.8s;  -webkit-transition-delay: 0.8s;}

    .Section3 .slide4 .imgbox .txt { text-align: center; margin-top: 2.5rem;}
    .Section3 .slide4 .imgbox .txt .tit { display: flex; justify-content: center; align-items: center; line-height: 1;}
    .Section3 .slide4 .imgbox .txt .tit .pop_icon { font-size: 2.2rem; line-height: 1; color: #a2b3be; padding: 0.25rem; cursor: pointer;  -webkit-animation-name: bounce-sm;  animation-name: bounce-sm;  -webkit-animation-timing-function: cubic-bezier(.28,.84,.42,1); animation-timing-function: cubic-bezier(.28,.84,.42,1); -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}
    .Section3 .slide4 .imgbox .txt .desc { font-size: 1.3rem; color: #989898; letter-spacing: 1px; line-height: 1.6;}
    .Section3 .slide4 .imgbox .txt .arrow { margin-top: 0.5rem;}
    .Section3 .slide4 .rightbox .imgbox .txt {opacity: 0; transition: clip-path 2s cubic-bezier(.19, 1,.22,1), opacity 0.8s ease 167ms, -webkit-clip-path 2s cubic-bezier(.19, 1, .22, 1); transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
    .Section3 .slide4 .slide_cont.aos-animate .rightbox .imgbox .txt {opacity: 1; transition-delay: 0.8s; -webkit-transition-delay: 0.8s;}

    @keyframes bounce-sm {
        0% {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }

        10% {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }

        33% {
            transform: translateY(-8px);
            -webkit-transform: translateY(-8px);
    }

        50% {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }

        60% {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
    }

        70% {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }

        100% {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }
    }



    .laser_pop_wrap { position: fixed;}
    .laser_pop_wrap .laser_pop .close { font-size: 1.75rem; margin-bottom: 1rem; padding-right: 5rem; }
    .laser_pop_wrap .laser_pop .close > i { font-size: 3rem; }
    .laser_pop_wrap .laser_slider { width: calc(100% - 10rem); padding: 5rem 1rem 4rem; }
    .laser_pop_wrap .laser_slider .swiper-slide .tit { font-size: 1.5rem; }
    .laser_pop_wrap .laser_slider .swiper-slide .desc { font-size: 1.25rem;  }
    .laser_pop_wrap .swiper-scrollbar { margin: 4.5rem auto 0; }
    .laser_pop_wrap .laser_slider .swiper-slide.more_slide .more_btn .txt {  font-size: 1.25rem; }



    .Section4 .main_contbox { padding: 7rem 0 14rem; }
    .Section4 .ms4_bg { background: linear-gradient(to top, #a2b3be,#f8f8f8); opacity: 0.65;  z-index: -1;}

    .Section4 .slide1 {  display: flex; flex-direction: column;  justify-content: flex-end; gap: 2.5rem 0;  box-sizing: border-box;  width: 80%; margin: 0 auto 5rem; }
    .Section4 .slide1 .tit { font-size: 1.8rem; font-weight: 500; color: #83a3b8;}
    .Section4 .slide1 .descbox .desc { font-size: 1.3rem; color: #000000; line-height: 1.6;}
    .Section4 .slide1 .descbox .desc + .desc { margin-top: 1.25rem;}

    .Section4 .slide2 { position: relative;   display: flex;  flex-direction: column;   justify-content: center; align-items: center;   padding: 10rem 0;   margin-bottom: 5rem; }
    .Section4 .slide2 .txtbox .m_txt1 { letter-spacing: 5px; margin-bottom: 0.5rem;}
    .Section4 .slide2 .txtbox .ceo { font-family: 'Noto Serif KR', serif; font-size: 2.65rem; font-weight: 500; color: #000000;}
    .Section4 .slide2 .txtbox .ceo > span { display: flex; align-items: baseline; gap: 0 0.65rem; letter-spacing: 8px;}
    .Section4 .slide2 .txtbox .ceo .small { font-size: 1.35rem; letter-spacing: 10px;}
    .Section4 .slide2 .ms4_name_box {position: absolute; left: 50%; top: 50%;  transform: translate(-50%, -50%); display: flex;  flex-direction: column;  justify-content: center;}
    .Section4 .slide2 .ms4_name_box .ms4_name { font-family: 'Sorts Mill Goudy','Noto Serif KR'; font-size: 9rem; line-height: 1; letter-spacing: 5px; color: #000000; text-transform: uppercase;}
    .Section4 .slide2 .ms4_name_box .ms4_name.name1 { margin-left: -30%;  }
    .Section4 .slide2 .ms4_name_box .ms4_name.name2 { text-align: center; }
    .Section4 .slide2 .ms4_name_box .ms4_name.name3 { text-align: right;    margin-right: -20%;  }
    .Section4 .slide2 .ms4_name_box .ms4_name.aos-animate {opacity: 0.05;}

    .Section4 .slide3 {display: flex;  justify-content: center;  align-items: flex-end; width: 85%;  margin: auto; gap: 0 1rem;    }
    .Section4 .slide3 .ms4_txt3 {  writing-mode: vertical-rl; text-orientation: sideways;  transform: rotate(180deg);  font-size: 1.35rem;  color: #656565;  letter-spacing: 8px;}

    .Section4 .slide4 { display: flex;  align-items: center;  justify-content: center;  padding: 5rem 0;  }
    .Section4 .slide4 .ms4_ceo_info .tit {font-size: 2.5rem;  font-weight: bold;   color: #000000;  letter-spacing: 1px;  margin-bottom: 1.85rem;   padding-left: 0.75rem;  box-sizing: border-box;}
    .Section4 .slide4 .ms4_ceo_info .tit .small { font-size: 1.75rem;      margin-left: 0.25rem;  }
    .Section4 .slide4 .desc_list { display: flex;  flex-direction: column;  gap: 0.75rem 0;  margin-bottom: 2rem;  }
    .Section4 .slide4 .desc_list > p {  font-size: 1.5rem; color: #000000; padding-left: 0.75rem;  box-sizing: border-box; }

    .Section4 .slide5 { width: 70%; margin: 4rem auto;  }

    .Section4 .slide6 { display: flex;  align-items: center;  justify-content: center;  flex-direction: column;  gap: 3rem 0;  box-sizing: border-box;  }
    .Section4 .slide6 .txtbox { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 2rem 0; text-align: center;}
    .Section4 .slide6 .txtbox .txt1 {font-family: 'Noto Serif KR', serif; font-size: 1.8rem; font-weight: bold; color: #fff;  letter-spacing: 1px;}
    .Section4 .slide6 .txtbox .txt2 { font-family: 'Sorts Mill Goudy','Noto Serif KR', serif; font-size: 1.8rem; font-weight: 500; color: #fff; letter-spacing: 1px;}
    .Section4 .slide6 .doctors { display: flex; align-items: center; justify-content: center; gap: 0 1.25rem;}
    .Section4 .slide6 .doctors .item { position: relative; cursor: pointer; font-size: 0;}
    .Section4 .slide6 .doctors .item .hover { position: absolute; left: -1%; top: -1%; width: 102%; height: 0; padding-bottom: 102%; background-color: #b7a798; border-radius: 50%; transition: all 0.4s; opacity: 0;}
    .Section4 .slide6 .doctors .item .hover:hover {  opacity: 1;}
    .Section4 .slide6 .doctors .item .hover .txt { font-size: 1.05rem; color: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; justify-content: center; align-items: center; width: 90%;}
    .Section4 .slide6 .doctors .item .hover .txt span{font-size: 0.9rem;}



    .Section.Section5 { margin: 10rem 0;}
    .Section5 .titbox { margin-bottom: 4.5rem;   }
    .Section5 .titbox .m_txt3 { font-size: 1.75rem; }
    .Section5 .titbox .info_txt { font-size: 1.25rem; }
    .Section5 .ms5_slider { height: 60vh; }
    .Section5 .ms5_slider .slide_cont {flex-wrap: wrap; }
    .Section5 .ms5_slider .slide_cont > .item.img1, .Section5 .ms5_slider .slide_cont > .item.img2 { width: 50%; height: 35%;}
    .Section5 .ms5_slider .slide_cont > .item.img3, .Section5 .ms5_slider .slide_cont > .item.img4 { width: 50%; height: 65%; }
    .Section5 .ms5_slider::before { opacity: 0.85; }
    .Section5 .ms5_slider::after { opacity: 0.85; }
    .Section5 .ms5_slider .swiper-button-prev { left: 2%; }
    .Section5 .ms5_slider .swiper-button-next { right: 2%; }
    .Section5 .ms5_slider .slide_cont > .item .txtbox .tit { font-size: 1.85rem; }
    .Section5 .ms5_slider .slide_cont > .item .txtbox .by { font-size: 1.1rem; }
    .Section5 .ms5_slider .slide_cont > .item .txtbox .by span { font-size: 1.3rem; }


    .alert_wrap { position: fixed; pointer-events: none;  }
    .alert_wrap .alert_box { gap: 2.5rem 0;  padding: 4.25rem 0 3.5rem;}
    .alert_wrap .alert_box .msg_txt { font-size: 1.3rem; }


    .Section6 .main_contbox { gap: 4rem 0; height: auto; margin: 10rem 0; }
    .Section6 .titbox .m_txt3 {margin-bottom: 0;}
    .Section6 .marquee_box .card_item { width: 285px }
    .Section6 .marquee_box .card_item .txt {font-size: 1.2rem; }


    
    .Section7 .main_contbox {flex-direction: column;  gap: 6rem 0; padding: 8rem 0; }
    .Section7 .leftbox {width: 100%; }
    .Section7 .leftbox .inner { width: 80%;  max-width: initial;  }
    .Section7 .titbox .m_txt1 {  font-size: 2.2rem;}
    .Section7 .titbox .m_txt2 { font-size: 1.4rem; }
    .Section7 .titbox .sub_desc {  font-size: 1.25rem }
    .Section7 .titbox .contact { font-size: 1.6rem; }
    .Section7 .timebox .m_txt1 { font-size: 2.2rem; }
    .Section7 .timebox .time_item .sub { width: 5.5rem;  font-size: 1.3rem; }
    .Section7 .timebox .time_item .time { font-size: 1.3rem; }
    .Section7 .timebox .time_info { font-size: 1.3rem; }
    .Section7 .rightbox { width: 100%; height: 35vh; }


    

}



@media screen and (max-width: 768px) {

  html {font-size: 12px !important;}



}



@media screen and (max-width: 599px) {

    html {font-size: 11px !important;}


    .header { height: 70px; }
    .header.white { height: 90px;}
    .header .line_navbox .line_btn { font-size: 1.3rem; }
    .header .side_navbox .menu_icon .nav_icon {  width: 40px; }
    .header .header_logo {width: 33%;}


    .nav_box .side_navbox .menu_icon .nav_icon {  width: 40px; }
    .nav_box .sub_nav { gap: 0.5rem 0; }
    .nav_box .sub_nav .link { font-size: 1.2rem; }
    .nav_box .nav_logo { width: 33%; }
    .nav_box .nav { padding: 0 0 3rem; }
    .nav_box .nav > li { font-size: 2.2rem; }
    .nav_box .nav_ul li { font-size: 1.4rem; }


    .fixed_btnbox .reserve_btn {  width: 38%; height: 38px; }


    .footer .footer_logo { width: 33%; }


    .Section1 .ms1_txtbox .tit { font-size: 3.5rem; }
    .Section2 .imgbox_wrap .item .img_cont .txtbox .tit { font-size: 2.7rem;}


    .Section2 .imgbox_wrap .item .img_cont .txtbox .tit .small {  font-size: 1.35rem; }
    .Section2 .imgbox_wrap .item .img_cont .txtbox .desc,
    .Section2 .imgbox_wrap .item.item2 .img_cont .txtbox .desc  { font-size: 1.25rem;  margin-top: 1.85vh; }
    .Section2 .imgbox_wrap .item .hoverbox { top: 55%; height: 35%; }


    .Section3 .slide1 .leftbox { width: 90%; }
    .Section3 .m3_s_slider_link { width: 90%; }
    .Section3 .slide1 .txtbox .desc { font-size: 1.25rem; }
    .Section3 .slide4 .m3_s4_img2 { width: 90%; }


    .laser_pop_wrap .laser_slider { width: calc(100% - 8rem); }
    .laser_pop_wrap .laser_pop .close {  padding-right: 4rem; }
    .laser_pop_wrap .swiper-scrollbar {  margin: 2.5rem auto 0;  }


    .Section4 .slide2 { padding: 7rem 0; }
    .Section4 .slide2 .ms4_name_box .ms4_name {font-size: 7rem; }
    .Section4 .slide2 .ms4_name_box .ms4_name.name1 { margin-left: -25%; }
    .Section4 .slide2 .ms4_name_box .ms4_name.name3 { margin-right: -10%; }
    .Section4 .slide4 .desc_list > p { color: #000000; }
    .Section4 .slide6 .txtbox .txt1 { font-size: 1.5rem; }
    .Section4 .slide6 .txtbox .txt2 { font-size: 1.5rem; }
    .Section4 .slide6 .doctors { width: 90%;  margin: auto; }


    .Section5 .titbox .m_txt3 { font-size: 1.5rem; }
    .Section5 .titbox .info_txt { font-size: 1.15rem; }

    .Section5 .ms5_slider .slide_cont > .item .txtbox .tit {  font-size: 1.35rem; }
    .Section5 .ms5_slider .slide_cont > .item .txtbox .by span { font-size: 1.2rem; }

  
}
    
    
    
@media screen and (max-width: 480px) {  

    html {font-size: 10px !important;}

   

}



@media screen and (max-width: 320px) {

    html { font-size: 9px !important;}



    .Section4 .slide1 { width: 90%; }



}
