/* 01로그인 */
.login_wrap .container {justify-content: space-between;}
.login_wrap .login_section { flex: 1; display: flex; flex-direction: column; justify-content: center;}
.login_wrap .login_box { width: 100%; max-width: 37.5rem; border: 1px solid var(--grey-grey-200);  border-radius: 1rem;  padding: 3.75rem 2rem 2.5rem;  margin: 0 auto;  background: var(--white); display: flex; flex-direction: column;}
.login_wrap .login_box .logobox { display: flex; align-items: center; justify-content: center; width: 8rem;  margin: 0 auto 3.75rem;}
.login_wrap .login_box .form_box { margin-bottom: 2rem;}
.login_wrap .login_box .form_box .input_box .label_text {min-height: 1.375rem;}
.login_wrap .login_box .form_box .input_box .check_box {margin-top: 0.75rem; gap: 0.75rem;}
.login_wrap .login_foot {  display: flex;  align-items: center;  justify-content: center;  gap: 1rem;  padding: 2.5rem 0;}
.login_wrap .login_foot .txt { font: var(--B4_Rg-14);color: var(--grey-grey-400);}
.login_wrap .login_foot .bar { width: 1px; height: 0.75rem; display: block;  background: var(--grey-grey-300);}


/* 02평가목록 > 평가설정 > 항목설정 */
.fieldbox {position: relative; width: 100%; border-radius: 0.75rem; background: var(--grey-grey-100);}
.fieldbox .row { display: flex; align-items: center; gap: 1rem;}
.fieldbox .row .item {position: relative;}
.fieldbox .row .item1 {width: 6rem;}
.fieldbox .row .item2 {width: 16rem;}
.fieldbox .row .item3 {flex: 1;}
.fieldbox .row .item4 {width: 19rem;}
.fieldbox .row .item5 {width: 16rem;}
.fieldbox .row .item6 {width: 3rem;}
.fieldbox .row .item.flex {display: flex; align-items: center;}
.fieldbox .row .item.flex.between {justify-content: space-between;}
.fieldbox .row .item.flex .full {flex: 1;}
.fieldbox .row .item .tit {width: 100%; font:var(--B4_Bd-14); color: var(--grey-grey-900);}
.fieldbox .row .item .tit.center {text-align: center;}
.fieldbox .row .item .radio_box { gap: 0.375rem;}
.fieldbox .row .item .radio_box .input_radio { width: 1.25rem; height: 1.25rem; }
.fieldbox .row .item .radio_box .label_radio { font: var(--B4_Rg-14);}
.fieldbox .listbox {display: flex; flex-direction: column; gap: 1rem; padding: 1.5rem;}
.fieldbox .listbox .item1 {display: flex; align-items: center; gap: 0.875rem;}
.fieldbox .listbox .item1 .bar {background: url(../img/ico_line.svg) no-repeat center/contain; width: 0.875rem; aspect-ratio: 1/1; margin-bottom: 0.75rem;}
.fieldbox .listbox .item1 .num {font: var(--B2_Rg-16); color: var(--grey-grey-900);}
.fieldbox .listbox .switch_box .label_switch {font: var(--B4_Rg-14);}
.fieldbox .btnbox { border-top: 1px solid var(--grey-grey-200); padding: 1rem 0;  display: flex; align-items: center;  justify-content: center;}
.fieldbox .btnbox .add_btn {display: flex; align-items: center; gap: 0.5rem;}
.fieldbox .btnbox .add_btn .icon {width: 1.25rem;}
.fieldbox .btnbox .add_btn .txt {font:var(--B2_Rg-16); color: var(--grey-grey-700);}


/* 02평가목록 > 평가설정 > 지원분야 선택 popup */
#selectField_modal .modal_box {width: 76.25rem; padding-bottom: 1.25rem;}
#selectField_modal .modal_body { flex: 1; overflow: hidden; display: flex; flex-direction: column;}
#selectField_modal .input_schbox {margin-bottom: 2rem;}
#selectField_modal .input_schbox .input_text {padding-left: 3.5rem; padding-right: 0;}
#selectField_modal .input_schbox .sch_btn {right: unset; left: 1rem;}
#selectField_modal .field_wrap {flex: 1; display: flex;gap: 1rem; overflow: hidden;}
#selectField_modal .field_selectbox { width: 25.938rem; background: var(--grey-grey-100); border-radius: 1rem; overflow: auto; padding: 0.25rem 0;}
#selectField_modal .field_selectbox::-webkit-scrollbar {display: none}
#selectField_modal .field_selectbox > li { position: relative; width: 100%;  border-bottom: 1px solid var(--grey-grey-300);}
#selectField_modal .field_selectbox > li:last-child {border-bottom: 0;}
#selectField_modal .field_selectbox > li .acc_tit { height: 3.75rem; padding: 0 1.25rem; font: var(--B2_Rg-16);  font-weight: 500; color: var(--grey-grey-900);}
#selectField_modal .field_selectbox > li.show .acc_tit { background: var(--grey-grey-900); color: var(--white);}
#selectField_modal .field_selectbox > li.show .acc_tit .arrow { filter: grayscale(10) brightness(10);}
#selectField_modal .field_selectbox .acc_cont .listbox { padding: 0.5rem; display: flex; flex-direction: column;}
#selectField_modal .field_selectbox .acc_cont .listbox .item { width: 100%;  border-radius: 0.375rem; padding: 0.5rem 1.25rem; font:var(--B2_Rg-16); font-weight: 400; color: var(--grey-grey-900); transition: var(--transition); cursor: pointer;}
#selectField_modal .field_selectbox .acc_cont .listbox .item.hover {background: var(--grey-grey-200); font-weight: 500;}
#selectField_modal .field_selectbox .acc_cont .listbox .item.on {background: var(--primary-bluepurple-500); color: var(--white);}
#selectField_modal .field_resultbox {flex: 1; display: flex; flex-direction:column; gap: 1rem; }
#selectField_modal .field_resultbox .result_box {display: flex; flex-wrap: wrap; gap: 1rem; padding: 1rem 3rem 1rem 0;}
#selectField_modal .field_resultbox .result_box .item { width: calc((100% - 1rem * 2) / 3);height: 2.75rem; padding: 0 0.75rem; border-radius: 0.375rem;  transition: var(--transition);  display: flex; align-items: center; gap: 0.5rem;  font: var(--B3_Rg-15); color: var(--grey-grey-700); cursor: pointer;}
#selectField_modal .field_resultbox .result_box .item.hover {background: var(--primary-bluepurple-50);}
#selectField_modal .field_resultbox .result_box .item .num {font:var(--B4_Rg-14); color: var(--primary-bluepurple-500);}
#selectField_modal .field_resultbox .btn_box {display: flex; align-items: center; justify-content: flex-end; gap: 1rem; margin-top: auto;}


/* 02평가목록 > 평가설정 > 항목분류 선택 popup */
#selectCategory_modal .modal_box {width: 57rem;}
#selectCategory_modal .categorybox { display: flex; gap: 1.25rem; padding-top: 1.25rem;}
#selectCategory_modal .categorybox .radio_wrap {flex: 1;  flex-direction: column; align-items: unset; gap: 2rem;}
#selectCategory_modal .categorybox .radio_box .input_radio { width: 1.25rem;  height: 1.25rem;}
#selectCategory_modal .categorybox .radio_box .label_radio { display: flex;  flex-direction: column; gap: 0.125rem;}
#selectCategory_modal .categorybox .radio_box .label_radio .tit {font:var(--B3_Bd-15); color: var(--grey-grey-700); transition: var(--transition);}
#selectCategory_modal .categorybox .radio_box .label_radio .desc {font: var(--B5_Rg-13); color: var(--grey-grey-500)}
#selectCategory_modal .categorybox .radio_box .input_radio:checked + .label_radio .tit{color: var(--primary-bluepurple-500);}
#selectCategory_modal .categorybox .cate_line { width: 1px; background: var(--grey-grey-200);}


/* 02평가목록 > 평가설정 > 인성항목 가점률 설정 popup */
#personalityRate_modal .modal_box {width: 57rem;}
#personalityRate_modal .tbl_wrap .tbl thead tr th {padding: 0 1rem;}
#personalityRate_modal .tbl_wrap .tbl tbody tr td { height: 3rem; padding: 0 1rem;  color: var(--grey-grey-500);}
#personalityRate_modal .tbl_wrap .tbl tbody tr td .point { font:var(--B4_Bd-14);;}
#personalityRate_modal .tbl_wrap .tbl tbody tr td .bold {font-weight: 500;}
#personalityRate_modal .tbl_wrap .tbl tbody tr td .tbl_flex {gap: 0.75rem;}
#personalityRate_modal .tbl_wrap .tbl tbody tr td .select2-container--default .select2-selection--single {height: 2.25rem; padding: 0.5rem 0.75rem; border-radius: 0.375rem;}


/* 02평가목록 > 평가설정 > 금기어 설정 popup */
.analysis_modal .modal_box {width: 57rem;}
.analysis_modal .tab_box { width: calc(100% + 1.5rem*2); height: 3rem; margin: 0 -1.5rem 2rem; display: flex; align-items: center; gap: 2.25rem; border-bottom: 1px solid var(--grey-grey-200); padding: 0 2rem;}
.analysis_modal .tab_box .tab_link { position: relative; height: 100%;  display: flex;  align-items: center;  justify-content: center; gap: 0.25rem; font:var(--B2_Rg-16); line-height: 1; color: var(--grey-grey-700);}
.analysis_modal .tab_box .tab_link::before { content: "";  position: absolute; left: 0;   bottom: -2px; width: 100%; height: 2px; background: var(--grey-grey-900); border-radius:10rem; opacity: 0; transition: var(--transition);}
.analysis_modal .tab_box .tab_link .num {font-size: 0.938rem; font-weight: 600; color: var(--grey-grey-900);}
.analysis_modal .tab_box .tab_link.on { font-weight: 700; color: var(--grey-grey-900);}
.analysis_modal .tab_box .tab_link.on::before { opacity: 1;}
.analysis_modal .tab_box .tab_link.on .num {font-weight: 700;}
.analysis_modal .filter_box {display: flex; gap: 1rem; margin-bottom: 2rem;}
.analysis_modal .filter_item {border: 1px solid var(--grey-grey-300);	border-radius: 0.5rem;	padding: 0.75rem 1rem; display: flex; align-items: center; gap: 1rem;}
.analysis_modal .filter_item1 {width: 16.813rem;} 
.analysis_modal .filter_item2 {flex: 1; max-width: 36.188rem;}
.analysis_modal .filter_item .bar {width: 1px; height: 1.5rem; background: var(--grey-grey-300);}
.analysis_modal .filter_item .full {flex: 1;}
.analysis_modal .filter_item .check_wrap .check_box {flex: 1; gap: 0.375rem;}
.analysis_modal .filter_item .check_wrap .check_box .label_check {font:var(--B4_Rg-14)}
.analysis_modal .search_box {display: flex; gap: 1rem; margin-bottom: 1.25rem;}
.analysis_modal .search_box .input_box {flex: 1;}
.analysis_modal .search_box .btn { height: 3rem; border-radius: 0.5rem;  padding: 0 1rem; font: var(--B2_Rg-16);}
.analysis_modal .search_box .btn .icon {width: 1.25rem;}
.analysis_modal .tagbox {border: 1px solid var(--grey-grey-200); border-radius: 0.625rem; padding: 1rem; background: var(--grey-grey-50);}


/* 02평가목록 > 평가설정 > 분석결과 */
.analysisResults_wrap .result_sec { position: relative; width: 100%; height: 100vh;  display: flex; overflow: hidden;}
.analysisResults_wrap .result_sec.typeA {--bg:var(--red-red-50); --color: var(--red-red-600); --highlight: var(--red-red-50);}
.analysisResults_wrap .result_sec.typeB {--bg:var(--orange-orange-50); --color:  var(--orange-orange-600); --highlight: var(--orange-orange-50);}
.analysisResults_wrap .result_sec .highlight { background: var(--highlight);  color: var(--color); font-weight: 600; padding: 0.188rem; }
.analysisResults_wrap .result_sec .result_left {width: 50%; display: flex; flex-direction: column;}
.analysisResults_wrap .result_sec .result_left .topbox { border-bottom: 1px solid var(--grey-grey-300);  padding: 2.5rem 2.5rem 1.25rem; display: flex;  flex-direction: column;  gap: 1.5rem;}
.analysisResults_wrap .result_sec .result_left .topbox .title { font: var(--H3_Bd-32);  line-height: 100%;  color: var(--grey-grey-900);}
.analysisResults_wrap .result_sec .result_left .topbox .numberbox { display: flex;  align-items: center;  gap: 1.5rem;}
.analysisResults_wrap .result_sec .result_left .topbox .numberbox .btn { width: 1.25rem; height: 1.25rem;}
.analysisResults_wrap .result_sec .result_left .topbox .numberbox .btn .icon {width: 100%;}
.analysisResults_wrap .result_sec .result_left .topbox .numberbox .number { font: var(--H6_Bd-20); line-height: 100%; color: var(--primary-bluepurple-500);}
.analysisResults_wrap .result_sec .result_left .plagiarism_tit {width: 100%; height: 3.5rem; border-bottom: 1px solid var(--grey-grey-100); padding: 0 1.25rem 0 2.5rem; background: var(--grey-grey-50); display: flex; align-items: center; justify-content: center; gap: 1rem; font:var(--B2_Rg-16); color: var(--grey-grey-900);}
.analysisResults_wrap .result_sec .result_left .plagiarism_tit .num {font:var(--H6_Bd-20); color: var(--color);}
.analysisResults_wrap .result_sec .result_left .contbox { flex: 1; overflow: auto;}
.analysisResults_wrap .result_sec .result_left .contbox::-webkit-scrollbar {display: none;}
.analysisResults_wrap .result_sec .result_left .contbox .acc_tit { width: 100%;  height: 3.5rem; border-bottom: 1px solid var(--grey-grey-200); padding: 0 1.25rem 0 2.5rem;}
.analysisResults_wrap .result_sec .result_left .contbox .acc_tit .tit { display: flex;  align-items: center; gap: 1rem; font: var(--B2_Rg-16); color: var(--grey-grey-900); overflow: hidden;}
.analysisResults_wrap .result_sec .result_left .contbox .acc_tit .words { flex: 1;  display: block;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
.analysisResults_wrap .result_sec .result_left .contbox .acc_tit .words .word {  display: inline-flex;  align-items: center; gap: 0.25rem; vertical-align: middle;}
.analysisResults_wrap .result_sec .result_left .contbox .acc_tit .words .word .point { font-weight: 700;  color: var(--color);}
.analysisResults_wrap .result_sec .result_left .contbox .acc_tit .words .dot {display: inline-block; vertical-align: middle; width: 3px; aspect-ratio: 1/1; border-radius: 50%; background: var(--grey-grey-900); margin: 0 0.625rem;}
.analysisResults_wrap .result_sec .result_left .contbox .acc_tit .arrow { width: 1.125rem;}
.analysisResults_wrap .result_sec .result_left .analysis_wrap { border-bottom: 1px solid var(--grey-grey-200); padding: 1.25rem 1.25rem 1.25rem 2.5rem;  background: var(--grey-grey-50);  display: flex; flex-direction: column; gap: 1.25rem;}
.analysisResults_wrap .result_sec .result_left .analysis_box { border: 1px solid var(--grey-grey-200);  border-radius: 0.75rem;  display: flex;  flex-direction: column;  background: var(--white); overflow: hidden;}
.analysisResults_wrap .result_sec .result_left .analysis_box .titbox { width: 100%;  height: 3.5rem;  border-bottom: 1px solid var(--grey-grey-200); font: var(--B2_Bd-16); font-weight: 700;  padding: 0 1.25rem;  display: flex;  align-items: center;  justify-content: space-between;  transition: var(--transition);}
.analysisResults_wrap .result_sec .result_left .analysis_box .titbox .tit {  color: var(--grey-grey-900);  transition: var(--transition);}
.analysisResults_wrap .result_sec .result_left .analysis_box .titbox .num {color: var(--color);}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox {  padding: 0.5rem 0;  display: flex;  flex-direction: column;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item {  width: 100%;  min-height: 3.5rem;  display: flex;  align-items: center;  justify-content: space-between; gap: 1rem;  padding: 0 1.25rem;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item.ver2 {padding: 1rem 1.25rem;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox,
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox {flex: 1; display: flex; align-items: center;gap: 1rem;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox.gap2,
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox.gap2 {gap: 2rem;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox.nofull,
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox.nofull {flex: unset;} 
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox {font: var(--B2_Rg-16); color: var(--grey-grey-900);}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox .txt.highlight { padding: 0 0.188rem;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox .txt.highlight.row_2 {  display: -webkit-box;word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; font-weight: 400; max-height: 2.64em;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox .numberbox {display: flex; flex-direction: column; gap: 0.5rem;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox .numberbox .num_list {display: flex; flex-wrap: wrap; gap: 0.5rem;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox .numberbox .num_list .num {border: 1px solid var(--grey-grey-200); border-radius: 0.25rem; width: 2.125rem; height: 1.625rem; font:var(--B4_Rg-14); color: var(--grey-grey-700); display: flex; align-items: center; justify-content: center;} 
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox .word_txtbox {display: flex; align-items: center; gap: 0.625rem; padding: 0 0.125rem; flex:1} 
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox .word_txtbox .word_count {display: flex; align-items: center; gap: 0.25rem; font:var(--B2_Rg-16);color: var(--grey-grey-900);}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .leftbox .word_txtbox .word_count .point {font-weight: 700; color: var(--color);}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox 
{justify-content: flex-end;}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox .bar { width: 1px; height: 5.5rem; background: var(--grey-grey-200);}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox .select_box .select2-container--default .select2-selection--single {    height: 2.5rem;  border-radius: 0.375rem;  border-color: var(--grey-grey-500);}
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox .ratebox {display: flex; flex-direction: column; gap: 0.5rem;} 
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox .ratebox .tit { font: var(--B2_Rg-16); color: var(--grey-grey-900);} 
.analysisResults_wrap .result_sec .result_left .analysis_box .itmebox .item .rightbox .ratebox .rate {  font: var(--B1_Bd-18); color: var(--grey-grey-900);}

.analysisResults_wrap .result_sec .result_left .analysis_box.active .titbox {  background: var(--bg);}
.analysisResults_wrap .result_sec .result_left .analysis_box.active .titbox .tit {  color: var(--color);}
.analysisResults_wrap .result_sec .result_left .analysis_box.active .titbox .tit.bk {  color: var(--grey-grey-900);}

.analysisResults_wrap .result_sec .result_right {width: 50%; display: flex; flex-direction: column; background: var(--grey-grey-100); border-left: 1px solid var(--grey-grey-200); padding: 2.5rem; overflow: auto;}
.analysisResults_wrap .result_sec .result_right::-webkit-scrollbar {display: none;}
.analysisResults_wrap .result_sec .result_right .txtwrap { display: flex;  flex-direction: column;  gap: 3rem;}
.analysisResults_wrap .result_sec .result_right .txtcont {display: flex; flex-direction: column; gap: 0.75rem;}
.analysisResults_wrap .result_sec .result_right .txtcont .word_top {display: flex; align-items: center; justify-content: space-between; gap: 1rem; padding-bottom: 0.75rem; border-bottom: 1px solid var(--grey-grey-200);}
.analysisResults_wrap .result_sec .result_right .txtcont .word_top .word_count {display: flex; align-items: center; gap: 0.25rem; font:var(--B2_Bd-16); color: var(--grey-grey-900);}
.analysisResults_wrap .result_sec .result_right .txtcont .word_top .word_count .slash {font-weight: 400;}
.analysisResults_wrap .result_sec .result_right .txtcont .word_top .word_count .point {color: var(--color);}
.analysisResults_wrap .result_sec .result_right .txtcont .word_top .btn {width: 1.5rem; height: 1.5rem;}
.analysisResults_wrap .result_sec .result_right .txtcont .word_top .btn .icon {width: 100%;}
.analysisResults_wrap .result_sec .result_right .txtbox { font: var(--B2_Rg-16);  line-height: 160%;  color: var(--grey-grey-900); display: flex; flex-direction: column;  gap: 1.625rem;}


/* 02평가목록 > 평가설정 > 적합성 추가 popup */
#wordBlock_modal .radio_wrap {flex-direction: column; align-items: unset; gap: 2rem;}
#wordBlock_modal .radio_box .label_radio {font:var(--B2_Rg-16);color: var(--grey-grey-900);}
#wordBlock_modal .radio_box .input_radio:checked + .label_radio {font-weight: 700; color: var(--primary-bluepurple-500);}


/* 02평가목록 > 평가설정 > 개별 API 처리 popup */
#apiProcessing_modal .modal_box {width: 37.625rem;}
#apiProcessing_modal .modal_box .form_box { gap: 1.5rem; }
#apiProcessing_modal .modal_box .form_box .check_wrap { width: 100%;}
#apiProcessing_modal .modal_box .form_box .check_wrap .check_box {width: calc((100% - 1rem*2)/3);}
#apiProcessing_modal .modal_box .modal_btnbox {height: unset;}


/* 02평가목록 > 평가설정 > 블라인드 추가 popup */
#addBlind_modal .select_box .select2-container--default .select2-selection--single {height: 3.25rem;}


/* 02평가목록 > 평가설정 > 적합성 추가 popup */
#addCompatibility_modal .radio_wrap {flex-direction: column; align-items: unset; gap: 2rem;}
#addCompatibility_modal .radio_box .label_radio {font:var(--B2_Rg-16);color: var(--grey-grey-900);}
#addCompatibility_modal .radio_box .input_radio:checked + .label_radio {font-weight: 700; color: var(--primary-bluepurple-500);}


/* 02평가목록 > 평가설정 > 적합성 추가 popup */
#competencyScore_modal .modal_box {width: 57rem;}
#competencyScore_modal .modal_box .modal_head { min-height: 6.25rem; height: 6.25rem;}
#competencyScore_modal .modal_box .modal_head .infobox { display: flex;  flex-direction: column; gap: 0.5rem;  flex: 1;}
#competencyScore_modal .modal_box .modal_head .top_info {  display: flex;  align-items: center;  gap: 0.75rem;}
#competencyScore_modal .modal_box .modal_head .top_info .info { font: var(--B3_Rg-15); color: var(--grey-grey-500);  display: flex;  align-items: center; gap: 0.5rem;}
#competencyScore_modal .modal_box .modal_head .top_info .info .desc{color: var(--grey-grey-700);}
#competencyScore_modal .modal_box .modal_head .bottom_info {  display: flex;   align-items: center;  gap: 1.25rem;}
#competencyScore_modal .modal_box .modal_head .bottom_info .info { font: var(--B1_Bd-18);  color: var(--grey-grey-900); display: flex;  align-items: center; gap: 0.75rem;}
#competencyScore_modal .modal_box .modal_head .bottom_info .info .desc {color: var(--primary-bluepurple-500);}
#competencyScore_modal .modal_box .modal_head .bottom_info .bar {  width: 1px;  height: 1.25rem; background: var(--grey-grey-200);}
#competencyScore_modal .modal_box .modal_body {padding: 0;}
#competencyScore_modal .competency_wrap {display: flex; flex-direction: column;}
#competencyScore_modal .competency_titbox {width: 100%; padding: 0 1.5rem; height: 3.5rem; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid var(--grey-grey-100); background: var(--grey-grey-50);}
#competencyScore_modal .acc_tit.competency_titbox { gap: 1rem;}
#competencyScore_modal .acc_tit.competency_titbox .title {  flex: 1;  display: flex;   align-items: center; justify-content: space-between;  gap: 1rem;}
#competencyScore_modal .competency_titbox .tit {font:var(--B2_Bd-16); line-height: 1; color: var(--grey-grey-700);}
#competencyScore_modal .competency_titbox .infobox {display: flex; align-items: center; gap: 1.25rem;}
#competencyScore_modal .competency_titbox .infobox .info {display: flex; align-items: center; gap: 0.25rem;}
#competencyScore_modal .competency_titbox .infobox .info .tit {font:var(--B2_Rg-16);color: var(--grey-grey-900);}
#competencyScore_modal .competency_titbox .infobox .info .desc {font:var(--B1_Bd-18);color: var(--grey-grey-900);}
#competencyScore_modal .competency_titbox .infobox .bar {width: 1px; height: 1.25rem; background: var(--grey-grey-200);}
#competencyScore_modal .competency_box {padding: 1.5rem; display: flex; flex-direction: column; gap: 2rem;}
#competencyScore_modal .tbl_wrap {display: flex; flex-direction: column; gap: 1.25rem;}
#competencyScore_modal .tbl_wrap .tbl_tit {font:var(--B2_Bd-16); line-height: 1; color: var(--grey-grey-700);}
#competencyScore_modal .tbl_wrap .tbl { font: var(--B4_Rg-14); color: var(--grey-grey-900);}
#competencyScore_modal .tbl_wrap .tbl thead tr { border-bottom: 2px solid var(--grey-grey-900); border-top: 1px solid var(--grey-grey-200);}
#competencyScore_modal .tbl_wrap .tbl thead tr th {height: 2.875rem; background: var(--grey-grey-50);color: var(--grey-grey-700);}
#competencyScore_modal .tbl_wrap .tbl thead tr th:first-child {padding-left: 1.25rem; border-radius: 0}
#competencyScore_modal .tbl_wrap .tbl thead tr th:last-child {padding-right: 1.25rem; border-radius: 0;}
#competencyScore_modal .tbl_wrap .tbl tbody tr td {height: 2.875rem; color: var(--grey-grey-900);}
#competencyScore_modal .tbl_wrap .tbl tbody tr td:first-child {padding-left: 1.25rem;}
#competencyScore_modal .tbl_wrap .tbl tbody tr td:last-child {padding-right: 1.25rem;}
#competencyScore_modal .text_box {display: flex; flex-direction: column; gap: 0.75rem;}
#competencyScore_modal .text_box .titbox {display: flex; align-items: center; justify-content: space-between;}
#competencyScore_modal .text_box .titbox .tit {font:var(--B2_Bd-16);line-height: 1;color: var(--grey-grey-700);}
#competencyScore_modal .text_box .titbox .word_count {font:var(--B2_Rg-16); line-height: 1; color: var(--grey-grey-700);}
#competencyScore_modal .text_box .titbox .word_count .point {font-weight: 700; color: var(--primary-bluepurple-500);}
#competencyScore_modal .text_box .desc {font:var(--B3_Rg-15); color: var(--grey-grey-700);}
#competencyScore_modal .text_box .desc .highlight1 {background: var(--blue-blue-200);}
#competencyScore_modal .text_box .desc .highlight2 {background: var(--yellow-yellow-200);}
#competencyScore_modal .text_wrap {display: flex; flex-direction: column; gap: 2rem;}
#competencyScore_modal .text_cont {display: flex; flex-direction: column; gap: 1.25rem;}
#competencyScore_modal .text_line {width: 100%; height: 1px;background: var(--grey-grey-200);}
#competencyScore_modal .question_box {border: 1px solid var(--grey-grey-500);border-radius: 0.5rem; padding: 1.25rem; display: flex; flex-direction: column; gap: 1rem;}
#competencyScore_modal .question_box .title {font:var(--B2_Bd-16);line-height: 1;
color: var(--grey-grey-900);}
#competencyScore_modal .question_box .itembox {display: flex; flex-direction: column; gap: 1rem;}
#competencyScore_modal .question_box .itembox .item {display: flex; flex-direction: column; align-items: flex-start; gap: 0.25rem;}
#competencyScore_modal .question_box .itembox .item .tit {font:var(--B3_Bd-15); font-weight: 600; color: var(--grey-grey-700);}
#competencyScore_modal .question_box .itembox .item .tit.highlight1 {background: var(--blue-blue-200); padding: 0 0.25rem;}
#competencyScore_modal .question_box .itembox .item .tit.highlight2 {background: var(--yellow-yellow-200); padding: 0 0.25rem;}
#competencyScore_modal .question_box .itembox .item .desc {font:var(--B3_Rg-15); color: var(--grey-grey-700);}


/* 02평가목록 > 평가설정 > 개별 API 처리 popup */
#saveIntroduction_modal .modal_box {width: 37.625rem;}
#saveIntroduction_modal .modal_box .modal_head {height: 3.5rem; min-height: 3.5rem;}
#saveIntroduction_modal .filter_box {display: flex; flex-direction: column; gap: 1.25rem; padding: 1.5rem 0;}
#saveIntroduction_modal .filter_item {width: 100%;}
#saveIntroduction_modal .filter_item1 {height: 3.5rem; border: 1px solid var(--grey-grey-300);	border-radius: 0.5rem;	padding: 0 1rem; display: flex; align-items: center; gap: 1rem;}
#saveIntroduction_modal .filter_item .switch_box .label_switch { font: var(--B4_Bd-14); color: var(--grey-grey-900); flex:1;}
#saveIntroduction_modal .filter_item .bar {width: 1px; height: 1.25rem; background: var(--grey-grey-200);}
#saveIntroduction_modal .filter_item .full {flex: 1;}
#saveIntroduction_modal .filter_item .check_wrap {gap: 1.25rem;}
#saveIntroduction_modal .filter_item .check_wrap .check_box {flex: 1; gap: 0.375rem;}
#saveIntroduction_modal .filter_item .check_wrap .check_box .label_check {font:var(--B4_Rg-14); white-space: nowrap;}
#saveIntroduction_modal .filter_item .radio_wrap .radio_box {flex: 1;}
#saveIntroduction_modal .filter_item .radio_wrap .radio_box .label_radio {  font: var(--B2_Rg-16); color: var(--grey-grey-900);}



/* PC */

@media screen and (max-width: 1600px) {    

	html {font-size: 15px !important;}  

}

@media screen and (max-width: 1560px) {    

	html {font-size: 14.5px !important;}  

}


@media screen and (max-width: 1440px) {    

	html {font-size: 13px!important;}  

}


@media screen and (max-width: 1380px) {    

	html {font-size: 12.5px !important;}  
	
	.layout .page_section .sec_top .leftbox .select_box.wid256 { width: 14rem;}
	.layout .page_section .sec_top .leftbox .input_schbox.wid392 {  width: 20rem;}

}


@media screen and (max-width: 1200px) {    

	html {font-size: 12px !important;}    

}