

/* PC */
@media screen and (max-width: 1560px) {    

  	html {font-size: 15.5px !important;}  
	
}


@media screen and (max-width: 1440px) {    

  	html {font-size: 15px!important;}    
	
}


@media screen and (max-width: 1380px) {    

  	html {font-size: 14.5px !important;} 

	.ms3 .contbox .imgbox { width: 74.5%;}

	.ms4 .contbox .item .desc { word-break: keep-all;}
	.ms4 .contbox .item .desc br { display: none;}

}


@media screen and (max-width: 1200px) {

  	html {font-size: 14px !important;}  

}



  
/* Tablet */
@media screen and (max-width: 1024px) {

  	html {font-size: 16px !important;} 

  	.pc {display: none !important;}
  	.tablet {display: block !important;}
	.inner {width: 100%; padding-left: 2rem; padding-right: 2rem;}


	.header {height: 8rem;}
	.header .h_logo { width: 21.5rem;}
	.header .h_side {display: none;}

	.footer { padding-bottom: 2.8rem;}
	.footer .f_inner {  gap: 1.5rem;}
	.footer .f_topbox {  padding: 2rem; border-radius: 0.5rem;  align-items: unset;flex-direction: column;  gap: 1.4rem; margin-top: -8.6rem;}
	.footer .f_topbox .leftbox { gap: 0.8rem;}
	.footer .f_topbox .leftbox .tit { font-size: 1.5rem; line-height: 1.333;}
	.footer .f_topbox .leftbox .desc { font-size: 1.1rem; line-height: 1.36;}
	.footer .f_topbox .rightbox { gap: 2rem;}
	.footer .f_topbox .rightbox .link {  width: 100%;  flex: 1;  height: 5rem;   border-radius: 0.3rem; font-size: 1.1rem;}
	.footer .f_infobox { gap: 1.9rem;}
	.footer .f_infobox .f_logo { width: 18.5rem;}
	.footer .f_infobox .f_info {  font-size: 1.1rem; line-height: 1.36;}


	.ms1 { background: url(../img/ms1_bg_mob.png) no-repeat center / cover; padding-top: 14rem;}
	.ms1 .titbox { background: none; height: unset;}
	.ms1 .titbox > .inner {width: auto;}
	.ms1 .titbox .tit { line-height: 1.1;}
	.ms1 .titbox .txtimg1 { width: 67%;  max-width: 24.1rem; left: 3%;  top: -22%;}
	.ms1 .titbox .txtimg2 { width: 42%;  max-width: 14.9rem;  right: 2rem; bottom: -38%;}
	.ms1 .contbox {background: none;}
	.ms1 .contbox > .inner { padding: 0; flex-direction: column; margin-top: 10rem;}
	.ms1 .contbox .leftbox { width: 100%; padding: 0 4rem 6.4rem;}
	.ms1 .contbox .leftbox .tit { font-size: 2rem; line-height: 1.15; margin-bottom: 2rem;}
	.ms1 .contbox .leftbox .desc {  font-size: 1.3rem; line-height: 1.3;  margin-bottom: 2rem;}
	.ms1 .contbox .leftbox .down_btn {  font-size: 1.3rem;  padding: 0;  height: 3.4rem; padding-left: 1rem; padding-right: 0.6rem;  gap: 2.2rem;}
	.ms1 .contbox .leftbox .down_btn .icon { width: 2rem;}
	.ms1 .contbox .centerbox { left: unset;  transform: none;  right: 0;  max-width: unset; width: 52%; justify-content: flex-end;}
	.ms1 .contbox .rightbox { width: 100%; flex-direction: column; padding-right: 50%;   background: #222222;  padding: 1.1rem 4rem 2.5rem;  gap: 1.6rem;}
	.ms1 .contbox .rightbox .txtbox { text-align: left;}
	.ms1 .contbox .rightbox .txtbox .tit { font-size: 1.1rem;}
	.ms1 .contbox .rightbox .txtbox .desc {  display: none;}
	.ms1 .contbox .rightbox .apply_btn { width: 100%; max-width: 11.5rem;  height: 5.6rem;  font-size: 1.3rem;}

	.ms2 { margin-bottom: 3rem; padding: 6.5rem 0 0;}
	.ms2 .left_bg { background-image: url(../img/ms2_bg_mob.png); width: 100%;   max-width: unset;  height: unset; top: 0; aspect-ratio: 720 / 336;}
	.ms2 .contbox { align-items: unset; flex-direction: column;  gap: 2rem; padding: 0 4rem;}
	.ms2 .contbox .imgbox { width: 100%;}
	.ms2 .contbox .txtbox { width: 100%; gap: 3.3rem;}
	.ms2 .contbox .txtbox .title {  font-size: 1.7rem;  line-height: 1.17;  letter-spacing: -0.02em;  word-break: keep-all;}
	.ms2 .contbox .txtbox .descwrap { gap: 3rem;}
	.ms2 .contbox .txtbox .descbox .badge { font-size: 0.7rem;  min-width: 4.2rem;}
	.ms2 .contbox .txtbox .descbox .tit { font-size: 1.3rem; margin-bottom: 0.5rem;}
	.ms2 .contbox .txtbox .descbox .desc { font-size: 1.1rem; color: var(--titleColor); word-break: keep-all;}

	.ms3 { margin-bottom: 5.7rem;}
	.ms3 .contbox { padding: 0;}
	.ms3 .contbox .imgbox { width: 50%; max-width: 17.95rem; margin-left: -12%;      padding-top: 2rem; }
	.ms3 .contbox .txtbox { padding-left: 2rem; display: flex;flex-direction: column;}
	.ms3 .contbox .txtbox .titimg { width: 100%; max-width: 20.6rem; margin-bottom: 2rem;}
	.ms3 .contbox .txtbox .tit { font-size: 1.5rem; line-height: 1.266; margin-bottom: 1rem; padding-left: 2rem;}
	.ms3 .contbox .txtbox .sub { font-size: 1.2rem; line-height: 1.1667;  margin-bottom: 1.4rem;  padding-left: 2rem;}
	.ms3 .contbox .txtbox .desc { font-size: 0.9rem; padding-left: 2rem;}
	.ms3 .contbox .txtbox .note {font-size: 0.6rem; padding-left: 2rem; margin-top: auto; color: #000; font-weight: 500; }

	.ms4 {padding: 3.5rem 0 6.5rem; background-image: url(../img/ms4_bg_mob.png);}
	.ms4 .titbox {gap: 2.5rem; margin-bottom: 4.5rem;}
	.ms4 .titbox .tit { font-size: 2.25rem;}
	.ms4 .titbox .desc { font-size: 1.4rem;}
	.ms4 .contbox { flex-direction: column;  align-items: center; gap: 5.7rem;}
	.ms4 .contbox > .bar { display: none;}
	.ms4 .contbox .item { width: 100%; padding: 0;}
	.ms4 .contbox .item .icon { width: 5rem; margin-bottom: 1rem;}
	.ms4 .contbox .item .tit { margin-bottom: 1rem;}
	.ms4 .contbox .item .desc br { display: block; }

	.ms5 { background: url(../img/ms5_bg_mob.png) no-repeat center top / contain;  padding: 3rem 0 4.3rem; min-height: unset;}
	.ms5 .titbox { margin-bottom: 18rem;}
	.ms5 .titbox .tit { font-size: 2.25rem;}
	.ms5 .contbox { flex-direction: column; gap: 1rem; padding: 0 2rem;}
	.ms5 .contbox .item {  flex: 1;  min-height: 7rem;  padding: 1.3rem 1.2rem;   background: rgba(254, 255, 255, 0.95);  backdrop-filter: none;  gap: 0.4rem;  box-shadow: none; border: 1px solid var(--titleColor);}
	.ms5 .contbox .item .tit { font-size: 1.4rem;}
	.ms5 .contbox .item .desc {  font-size: 1.1rem; color: var(--titleColor);}

	.ms6 { margin: 0 0 7.5rem;}
	.ms6 .cont_box { flex-direction: column;  align-items: unset;  gap: 4rem;  padding: 0 4rem;}
	.ms6 .cont_box .item { width: 100%; flex-direction: column-reverse;  gap: 1.4rem;}
	.ms6 .cont_box .item .txtbox .bar { width: 1.8rem;  height: 0.2rem;}
	.ms6 .cont_box .item .tit { font-size: 1.8rem; margin: 1rem 0 0.6rem;}
	.ms6 .cont_box .item .txtbox .desc { font-size: 1.1rem; word-break: keep-all;}

	.ms7 .contbox { padding: 0 2rem;}
	.ms7 .contbox::before { top: 51%; background-image: url(../img/ms7_bg_mob.png);  aspect-ratio: 720 / 754;}
	.ms7 .titbox { gap: 1.5rem;}
	.ms7 .titbox .tit { font-size: 2.25rem;}
	.ms7 .titbox .desc { font-size: 1.1rem;}
	.ms7 .imgbox { width: 9.55rem; margin: 3rem auto 6rem;}
	.ms7 .bottombox { gap: 1rem;}
	.ms7 .bottombox .tit { font-size: 1.6rem;}
	.ms7 .bottombox .desc { color: var(--titleColor); font-size: 1.1rem;}

	.ms8 .bg {  background-image: url(../img/ms8_bg_mob.png);  min-width: unset;   aspect-ratio: 720 / 622;}
	.ms8 {  margin-top: -1rem;  padding-top: 6.8rem;  margin-bottom: 5rem;}

	.ms9 { margin-bottom: 3.5rem;}
	.ms9 .titbox {  gap: 1rem; margin-bottom: 2.5rem;}
	.ms9 .titbox .tit { font-size: 1.6rem;}
	.ms9 .titbox .desc { font-size: 1.1rem;}
	.ms9 .marquee .marquee_group { gap: 0.6rem;}
	.ms9 .marquee .marquee_group .item { width: 13rem;}

	.ms10 { background-image: url(../img/ms10_bg_mob.png); padding: 3.9rem 0 12.5rem;}
	.ms10 .titbox { margin-bottom: 3.4rem;}
	.ms10 .contbox { gap: 2rem;}
	.ms10 .contbox .item { width: 100%; border-radius: 0.5rem; padding: 0.8rem 1.5rem 1.2rem; gap: 0.5rem;}
	.ms10 .contbox .item .topbox { padding-bottom: 0.65rem;}
	.ms10 .contbox .item .topbox .top_left .tit { gap: 0.6rem; font-size: 1.6rem;}
	.ms10 .contbox .item .topbox .top_left .tit::before {width: 1.4rem;}
	.ms10 .contbox .item .topbox .top_left .desc {  font-size: 1.1rem;}
	.ms10 .contbox .item .topbox .top_right {  width: 8.8rem;  min-height: 4.2rem;}
	.ms10 .contbox .item .topbox .top_right .price { font-size: 1.5rem;}
	.ms10 .contbox .item .descbox { min-height: unset;}
	.ms10 .contbox .item .descbox .desc { gap: 0.4rem; padding-left: 0;}
	.ms10 .contbox .item .bottombox { padding-top: 0.8rem;  font-size: 1.1rem;  gap: 0.4rem;}


}


@media screen and (max-width: 900px) {

  	html {font-size: 14px !important;}

}


@media screen and (max-width: 800px) {

	html {font-size: 2.222223vw;} 
	
}


@media screen and (max-width: 700px) {

  	html {font-size: 11.5px !important;}

}




/* Mobile */
@media screen and (max-width: 599px) {

  	html {font-size: 11px !important;}  
	
  	.mobile {display: block !important;}
  

}
  
      
@media screen and (max-width: 480px) {  

  	html {font-size: 10px !important;}

}


@media screen and (max-width: 320px) {

  	html { font-size: 9px !important;}

}
