


/*----------page이동버튼----------*/
.paging_area {
    position: relative;
    display: block;
    width: 70%;
    margin: 25px auto;
    text-align: center;
    overflow: hidden;
	margin-bottom: 10px;    clear: both;
	color:#0ac7d6;font-weight: 600; font-size: 16px;
}

.paging_area img{display:none}

.paging_area.mt40{margin-top:40px}

.paging_area img {
    vertical-align: top;
}

.paging_area span {
    display: inline-block;
    padding: 0 5px;
    height: 35px;
    font-size: 16px;
    color: #666;
    line-height: 32px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
	font-weight: 400;
}

.paging_area span.on {
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: #0ac7d6;
    line-height:35px;
}


.paging_area a {
	color: #666;
    font-family: 'Montserrat', 'Pretendard';
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}
.paging_area a:hover {
    text-decoration: none;
}

.paging_area .prev, .paging_area .next {
    display: inline-block;
    margin: 0 2px;
    padding: 0
}

.paging_area .prev a, .paging_area .next a {
    margin: 0;
    padding: 0
}

.paging_area .prev {
    margin-right:8px
}

.paging_area .next {
    margin-left:8px
}

.paging_area .next_e {
    margin:0px
}


.paging_area .prev_f {
    margin:0px
}


.paging_area .prev a,.paging_area .prev_f  a,.paging_area .next a,.paging_area .next_e  a{
    border-radius: 100%;
    border: 1px solid #e1e1e1;
    position: relative;
    font-size: 0;
    text-indent: -999px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 35px;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    /*box-shadow: 1px 2px 6px 0px #e5e5e5;*/
    vertical-align: middle;
}

.paging_area .prev a:before {
    content: '';
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -4px;
    border: solid #969696;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}

.paging_area .next a:before {
    content: '';
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -4px;
    border: solid #969696;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

.paging_area .prev_f a:before {
	background: url(/images/admin/arrow2-left.png) center center no-repeat;
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    display: inline-block;
    width: 29px;
    height: 28px;
}

.paging_area .next_e a:before {
	background: url(/images/admin/arrow2-right.png) center center no-repeat;
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    display: inline-block;
    width: 25px;
    height: 28px;
}

.paging_area .prev a:hover,.paging_area .prev_f a:hover,.paging_area .next a:hover,.paging_area .next_e a:hover{border: 1px solid #cacaca;box-shadow: 1px 2px 6px 0px #c8c8c8}

.paging_area span a.none{opacity: 0.4;}
.paging_area span a.none:hover{box-shadow:none;border:1px solid #e1e1e1}