:root {
    --font-family: "Pretendard", sans-serif;
	--transition: all 0.4s ease;
}

/* common */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
body::-webkit-scrollbar {display: none;}
html { scroll-behavior: smooth; }
html, body {font: 400 16px/1.3 'Pretendard', sans-serif;  color: #111111; width: 100%; position: relative;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {display: none;}

body.hidden { overflow: hidden;}
body::before { content: "";  position: fixed;  left: 0;  top: 0;  width: 100%;  height: 100%; background-color: rgba(0,0,0,0.5); z-index: 101;  transition: all 0.4s ease; opacity: 0; pointer-events: none;cursor: pointer;}
  
.wrap {width: 100%; position: relative;}
.pc {display: block;}
.tablet {display: none !important;}
.mobile { display: none !important;}
.container {position: relative; width: 100%; } 
.inner {position: relative; width: 90%; max-width: 1280px; margin-left: auto; margin-right: auto;}


  
/*header*/
.header { position: fixed; left: 0; top: 0; width: 100%; height: 6.25rem; z-index: 100;backdrop-filter: blur(1.12rem);background: rgba(0, 0, 0, 0.1);}
.header .h_inner { height: 100%; display: flex; align-items: center; justify-content: space-between; }
.header .h_logo { width: 10.938rem;}
.header .h_logo > a{display: flex; align-items: center; justify-content: center;}
.header .h_nav { position: absolute; left: 50%; top: 50%;  transform: translate(-50%, -50%); display: flex; align-items: center; gap: 1.75rem;}
.header .h_nav > li{font-weight: 600;font-size: 1rem;text-align: center;color: #fff; white-space: nowrap;}
.header .h_nav > li .link { display: inline-block; transition: var(--transition);}
.header .h_nav > li .link:hover{opacity: 0.5;}
  


/* footer */
.footer { background: #14181e; padding: 13.188rem 0 1.125rem;}
.footer .f_cont{display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 0.625rem;}
.footer .f_cont .left{display: flex; flex-direction: column; gap: 1.125rem;}
.footer .f_cont .left .logo{ width: 8.313rem;}
.footer .f_cont .left .info{font-size: 0.813rem;line-height: 138%;color: #a4abb2;}
.footer .f_cont .left .info .bar { display: inline-block;  margin: 0 0.313rem;}
.footer .f_cont .right{display: flex; flex-direction: column; justify-content: flex-end; gap: 2.313rem;}
.footer .f_cont .right .sns_box{display: flex; align-items: center; justify-content: flex-end; gap: 1.438rem;}
.footer .f_cont .right .sns_box .link{width: 1.5rem; display: flex; align-items: center; justify-content: center;}
.footer .f_cont .right .term_nav{display: flex; align-items: center; gap: 0.75rem;}
.footer .f_cont .right .term_nav .link{font-weight: 600;font-size: 0.813rem;line-height: 100%;color: #a4abb2;}
.footer .f_cont .right .term_nav .bar{width: 1px;height: 0.75rem;background: #a4abb2;}
.footer .f_copy {font-size: 0.75rem;line-height: 150%;color: #a4abb2;}
  


/* landing common */
.landing_wrap {background: #F2F4F6;}
.landing_section { padding-top: 8.75rem; margin-top: -8.75rem; position: relative; width: 100%;}
.landing_section .ls_titbox {display: flex; flex-direction: column;}
.landing_section .ls_titbox.center{align-items: center; text-align: center;}
.landing_section .ls_txt1{font-weight: 700;font-size: 1.125rem;line-height: 100%;color: #439871; word-break: keep-all;}
.landing_section .ls_txt2{font-size: 2.5rem;line-height: 100%;color: #000;  word-break: keep-all;}
.landing_section .ls_txt2 .bold {font-weight: 600;}
.landing_section .ls_txt3{font-size: 1.625rem;line-height: 154%;color: #000; word-break: keep-all;}
.landing_section .ls_txt3 .bold {font-weight: 700;}
.landing_section .ls_txt4{font-size: 1.875rem;line-height: 133%;color: #000;word-break: keep-all;}
.landing_section .ls_morebox{position: relative;}
.landing_section .ls_more{ font-weight: 600;font-size: 1.375rem;line-height: 100%;text-align: center; padding: 1.344rem 3.813rem; border-radius: 0.438rem; display: inline-flex; align-items: center; justify-content: center ; background: #64de90; color: #000; transition: var(--transition);}
.landing_section .ls_more:hover {color: #fff; background: #439871;}
.landing_section .ls_more.ver2{ color: #fff; background: #439871;}
.landing_section .ls_more.ver2:hover { color: #000; background: #64de90;}
  


/* landing section */
.sec1 { margin-top: 0;margin-bottom: 9.375rem; padding: 11.875rem 0 9.375rem;}
.sec1 .vidbox { position: absolute;  left: 0; top: 0;  width: 100%; height: 100%;overflow: hidden;}
.sec1 .vidbox .video {width: 100%; min-height: 920px; object-fit: cover;}
.sec1 .txtbox { display: flex; flex-direction: column;  align-items: center; text-align: center;}
.sec1 .txtbox .tit{font-weight: 200;font-size: 4.375rem;line-height: 114%;color: #fff; margin-bottom: 7.5rem;}
.sec1 .txtbox .tit .color{font-weight: 600;color: #64de90;}
.sec1 .txtbox .desc{font-size: 1.125rem;line-height: 150%;color: #fff; margin-bottom: 6rem;}

.sec2 { margin-bottom: 9.375rem;}
.sec2 .ls_titbox{gap: 1.938rem; max-width: 800px; margin: 0 auto 3.75rem;}
.sec2 .numbox{display: flex; margin-bottom: 4.063rem;}
.sec2 .numbox > .item{width: 25%; border-left: 1px solid #a4abb2; display: flex; flex-direction: column; align-items: center; gap:0.75rem; text-align: center; padding-top: 0.438rem; min-height: 9.375rem;}
.sec2 .numbox > .item:last-child{border-right: 1px solid #a4abb2;} 
.sec2 .numbox > .item .num{font-weight: 600;font-size: 5rem;line-height: 100%;color: #439871;}
.sec2 .numbox > .item .txt{font-size: 1.125rem;line-height: 100%;color: #000;}
.sec2 .contbox {display: flex; gap: 4.875rem;}
.sec2 .contbox .left, .sec2 .contbox .right{width: calc((100% - 4.875rem)/2); display: flex; flex-direction: column; max-width: 600px;}
.sec2 .contbox .left{flex-direction: column-reverse; gap: 4.438rem;}
.sec2 .contbox .right{gap: 3.188rem;}
.sec2 .contbox .imgbox{display: flex; }

.sec3 {margin-bottom: 9.188rem;}
.sec3 .ls_titbox{gap: 2.75rem; margin-bottom: 1.563rem;}
.sec3 .phonebox { position: relative; display: flex;  align-items: center;  justify-content: center;  width: 90%; max-width: 1224px; margin: 0 auto; z-index: 3;}
.sec3 .contbox { background: #e5ecf6;  padding: 26.625rem 0 0; margin-top: -24.625rem; display: flex; flex-direction: column;  align-items: center; gap: 3.563rem;  text-align: center;}
.sec3 .contbox .txtbox { max-width: 1110px;}
.sec3 .contbox .txtbox .ls_txt2 { margin: 7.125rem 0 2.938rem;}
.sec3 .contbox .imgbox { display: flex;  align-items: center;  justify-content: center;  width: 100%;}

.sec4 {margin-bottom: 9.188rem;}
.sec4 .ls_titbox{margin-bottom: 5rem;}
.sec4 .cardbox{display: flex; gap: 2.5rem; margin-bottom: 5rem;}
.sec4 .cardbox > .item{ width: calc((100% - 2.5rem)/2); position: relative; padding: 2.438rem 3.063rem; display: flex; flex-direction: column; gap: 1.125rem;border-radius: 0.75rem;background: #fff;} 
.sec4 .cardbox > .item .icon{position: absolute; right: 2.313rem; top: -0.938rem; width: 5.313rem;}
.sec4 .cardbox > .item .num{font-weight: 600;font-size: 1.875rem;line-height: 100%;color: #439871;}
.sec4 .cardbox > .item .tit{font-weight: 600;font-size: 1.875rem;line-height: 100%;color: #000; word-break: keep-all;}
.sec4 .cardbox > .item .desc{font-size: 1.375rem;line-height: 145%;color: #000; word-break: keep-all;}
.sec4 .cardbox > .item .desc .bold{font-weight: 600;}
.sec4 .databox { position: relative;}
.sec4 .databox .lined_bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: repeating-linear-gradient(to bottom, transparent, transparent calc(100% / 12 - 1px), #dde1e6 calc(100% / 12 - 1px), #dde1e6 calc(100% / 12)); border-top: 1px solid #dde1e6;}
.sec4 .databox .lined_bg::after { content: ""; position: absolute; bottom: 0; left: 0;  height: 1px;  width: 100%; background: #a4abb2;}
.sec4 .databox > .inner { display: flex; align-items: flex-end; gap: 2.5rem;}
.sec4 .databox .left, .sec4 .databox .right {width: calc((100% - 2.5rem) / 2);}
.sec4 .databox .left { display: flex; flex-direction: column;  justify-content: space-between;  gap: 6.875rem;  padding: 3.625rem 0 3rem;}
.sec4 .databox .left .txtbox { padding-left: 3.063rem; display: flex; flex-direction: column;  gap: 0.75rem;}
.sec4 .databox .left .txtbox .tit{font-weight: 600;font-size: 1.5rem;line-height: 100%;color: #000; word-break: keep-all;}
.sec4 .databox .left .txtbox .desc{	font-size: 1rem;line-height: 150%;color: #000; word-break: keep-all;}
.sec4 .databox .left .imgbox { padding-left: 2.313rem; display: flex;}
.sec4 .databox .left .imgbox > img{width: 100%; max-width: 560px;}
.sec4 .databox .right .imgbox{display: flex;}

.sec5 {margin-bottom: 5.313rem;}
.sec5 .ls_titbox{gap: 4.375rem; margin-bottom: 10.563rem;}
.sec5 .imgbox {display: flex; width: 100%;}

.sec6 {margin-bottom: 10.625rem;}
.sec6 .ls_titbox{gap: 4.375rem; margin-bottom: 4.188rem;}
.sec6 .effectbox{display: flex; flex-direction: column; gap: 2.75rem; margin-bottom: 6.875rem;}
.sec6 .effectbox > .title{font-weight: 600;font-size: 1.5rem;line-height: 100%;text-align: center;color: #000;}
.sec6 .effectbox .descbox{display: flex; max-width: 750px; margin: 0 auto;}
.sec6 .effectbox .descbox > .item{width: 15.625rem; display: flex; flex-direction: column; gap: 0.938rem; padding: 0.313rem 1.125rem 0.125rem;border-left: 1px solid #a4abb2;}
.sec6 .effectbox .descbox > .item:last-child{border-right: 1px solid #a4abb2;}
.sec6 .effectbox .descbox > .item .tit{font-size: 1rem;line-height: 100%;color: #333;}
.sec6 .effectbox .descbox > .item .num{font-weight: 600;font-size: 1.875rem;line-height: 100%;text-align: right;color: #439871;}
.sec6 .graphbox { position: relative; display: flex; justify-content: center;  margin-bottom: 8.875rem;}
.sec6 .graphbox .lined_bg { position: absolute; left: 0; top: 3.063rem;  width: 100%;  height: calc(100% - 3.063rem); background-image: repeating-linear-gradient(to bottom, transparent, transparent calc(100% / 13 - 1px), #dde1e6 calc(100% / 13 - 1px), #dde1e6 calc(100% / 13)); border-top: 1px solid #dde1e6;}
.sec6 .graphbox .lined_bg::after { content: ""; position: absolute; bottom: 0; left: 0;  height: 1px;  width: 100%; background: #a4abb2;}
.sec6 .graphbox .graph {width: 90%; max-width: 1112px; position: relative; z-index: 5; margin: 0 auto;}
.sec6 .contbox { display: flex; flex-direction: column; align-items: center;  gap: 9.125rem;}
.sec6 .contbox .titbox{display: flex; flex-direction: column; align-items: center ; gap: 2.063rem; text-align: center;}
.sec6 .contbox .imgbox {display: flex; max-width: 36.125rem;}

.sec7 {margin-bottom: 9.125rem;}
.sec7 .visual{background: url(../img/ls7_bg_pc.jpg) no-repeat center/cover; width: 100%; height: 44.063rem; margin-bottom: 9.125rem;}
.sec7 .ls_titbox{margin-bottom: 4.375rem;}
.sec7 .contbox { display: flex; flex-wrap: wrap; gap: 2.5rem;}
.sec7 .contbox > .item{width: calc((100% - 2.5rem*2)/3); border-radius: 1.25rem;background: #fff; padding: 1.875rem; display: flex; flex-direction: column;gap: 1.125rem;}
.sec7 .contbox > .item .top{display: flex; align-items: center; justify-content: space-between; }
.sec7 .contbox > .item .top .left{display: flex; flex-direction: column; gap: 0.625rem;}
.sec7 .contbox > .item .top .left .num{font-weight: 600;font-size: 0.875rem;line-height: 100%;color: #000;}
.sec7 .contbox > .item .top .left .num .color{font-weight: 800;color: #439871;}
.sec7 .contbox > .item .top .left .tit{font-weight: 600;font-size: 1.5rem;line-height: 100%;color: #000;}
.sec7 .contbox > .item .top .right{display: flex; align-items: center; justify-content: flex-end;}
.sec7 .contbox > .item .top .right .icon{width: 2.5rem;}
.sec7 .contbox > .item .line{width: 100%;height: 1px;background: #c8ced4;display: block;}
.sec7 .contbox > .item .bottom .desc{font-size: 1.25rem;line-height: 140%;color: #666; word-break: keep-all;}

.sec8 {margin-bottom: 10.125rem;}
.sec8 .ls_titbox{gap: 2.5rem; margin-bottom: 5.75rem;}
.sec8 .swiper_box{position: relative;}
.sec8 .sec8_swiper{width: 100%; margin-bottom: 1.938rem;}
.sec8 .sec8_swiper .item { display: flex; border-radius: 0.75rem; overflow: hidden;}
.sec8 .sec8_swiper .item .imgbox { width: 47%; max-width: 600px; display: flex;}
.sec8 .sec8_swiper .item .imgbox > img {width: 100%; height: 100%; object-fit: cover;}
.sec8 .sec8_swiper .item .txtbox{flex: 1; padding: 3.25rem 2.5rem 0; display: flex; flex-direction: column; background: #fff;} 
.sec8 .sec8_swiper .item .txtbox .titbox{display: flex; flex-direction: column; gap: 0.813rem;}
.sec8 .sec8_swiper .item .txtbox .titbox .tit{font-weight: 600;font-size: 2rem;line-height: 100%;color: #000;}
.sec8 .sec8_swiper .item .txtbox .titbox .desc{font-size: 1.5rem;line-height: 100%;color: #000; margin-bottom: 3.75rem;}
.sec8 .sec8_swiper .item .txtbox .infobox{display: flex; align-items: center; gap: 0.688rem; margin-bottom: 2.313rem;}
.sec8 .sec8_swiper .item .txtbox .infobox .infotxt{font-size: 1.25rem;line-height: 100%;color: #000;}
.sec8 .sec8_swiper .item .txtbox .infobox .infotxt .color {font-weight: 600;color: #439871;}
.sec8 .sec8_swiper .item .txtbox .infobox .bar{background: #a4abb2; width: 1px; height: 1.125rem; display: inline-block;}
.sec8 .sec8_swiper .item .txtbox .infoimg{width: 100%; display: flex;}
.sec8 .swiper_box .prev_btn, .sec8 .swiper_box .next_btn { width: 3.125rem; height: auto; aspect-ratio: 1 / 1; background: no-repeat center / contain;}
.sec8 .swiper_box .prev_btn{background-image: url(../img/ls8_prev.png); left: -1.563rem;}
.sec8 .swiper_box .next_btn{background-image: url(../img/ls8_next.png); right: -1.563rem;}
.sec8 .swiper_box .pagination {display: flex; align-items: center; justify-content: center; gap: 0.563rem; position: relative; left: auto; bottom: auto; top: auto;}
.sec8 .swiper_box .pagination .swiper-pagination-bullet{background: #c8ced4; opacity: 1; width: 0.438rem; height: auto; aspect-ratio: 1/1; border-radius: 50%; margin: 0; transition: var(--transition);}
.sec8 .swiper_box .pagination .swiper-pagination-bullet-active{background: #439871;}

.sec9 {margin-bottom: -11.563rem;} 
.sec9 .contbox {display: flex;}
.sec9 .contbox .txtbox { width: 50%; background: #fff; padding: 2.375rem 1rem 2.375rem 3.125rem; display: flex; flex-direction: column; gap: 2.438rem;}
.sec9 .contbox .txtbox .titbox {display: flex; flex-direction: column; gap: 0.813rem; }
.sec9 .contbox .txtbox .titbox .tit{font-weight: 600;font-size: 2.188rem;line-height: 100%;color: #000; }
.sec9 .contbox .txtbox .titbox .desc{font-size: 1.125rem;line-height: 100%;color: #666;}
.sec9 .contbox .txtbox .infobox{display: flex; flex-direction: column; gap: 3.563rem;}
.sec9 .contbox .txtbox .infobox .infoitem{display: flex; align-items: center; gap: 1.125rem;}
.sec9 .contbox .txtbox .infobox .infoitem .tit{font-weight: 600;font-size: 0.875rem;line-height: 100%;color: #000;width: 3.125rem;}
.sec9 .contbox .txtbox .infobox .infoitem .desc{font-size: 1.125rem;line-height: 80%;color: #000; display: flex; align-items: baseline; gap: 1rem;}
.sec9 .contbox .txtbox .infobox .infoitem .desc .num{font-weight: 600;font-size: 2.188rem;line-height: 100%;color: #439871;}
.sec9 .contbox .txtbox .infobox .infoitem .desc .time{font-size: 1rem;line-height: 100%;color: #666;}
.sec9 .contbox .imgbox {width: 50%; display: flex;}
.sec9 .contbox .imgbox > img {width: 100%; height: 100%; object-fit: cover;}




/* PC */
@media screen and (max-width: 1560px) {    

	html {font-size: 15.5px !important;}  
  
}
  
  
@media screen and (max-width: 1440px) {    
  
	html {font-size: 15px!important;}    
  
}
  
  
@media screen and (max-width: 1380px) {    

	html {font-size: 14.5px !important;}

}
  
  
@media screen and (max-width: 1300px) {

	.sec7 .contbox > .item .bottom .desc br {display: none;}

}
  
  
@media screen and (max-width: 1200px) {

	html {font-size: 14px !important;}  

}
  
  
  
	
  /* Tablet */
@media screen and (max-width: 1080px) {
  
	html {font-size: 16px !important;} 
  
	.pc {display: none !important;}
	.tablet {display: block !important;}
	.inner { width: 100%; padding: 0 1.6rem;}
  
  
}
  
  
@media screen and (max-width: 900px) {
  
	html {font-size: 14px !important;}
  
  
}
  
  
@media screen and (max-width: 700px) {
  
	html {font-size: 11.5px !important;}
  
}
  
  
  
  
  /* Mobile */
@media screen and (max-width: 599px) {
  
	html {font-size: 11px !important;}  
  
	.mobile {display: block !important;}
	
  
}
	
		
@media screen and (max-width: 480px) {  
  
	html {font-size: 10px !important;}
  
}
  
  
@media screen and (max-width: 320px) {
  
	html { font-size: 9px !important;}
	
}
  