

/* common */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
body::-webkit-scrollbar {display: none;}
html { scroll-behavior: smooth; }
html, body { min-width: 1400px; font-size: 14px; color: #000000; width: 100%; position: relative;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {display: none;}  
.wrap {width: 100%; position: relative;}
.pc {display: block;}
.tablet {display: none !important;}
.mobile { display: none !important;}
  
   

/* seminar */
.seminar-section {position: relative; width: 100%; font-family:'Pretendard', sans-serif; }
.seminar-inner {position: relative; width: 90%; max-width: 1280px;  margin-left: auto; margin-right: auto;}
.seminar-title {font-size: 2.429rem; font-weight: 600; color: #000000; text-align: center; margin-bottom: 4.286rem;}

.seminar-visual {background: url(../img/seminar-visual-bg.png) no-repeat center/cover; margin-bottom: 10.714rem;}
.seminar-visual .txtbox { padding: 5.715rem 0 13.33rem;}
.seminar-visual .txtbox .logo {  max-width: 35.714rem;  margin-bottom: 3.6rem;}
.seminar-visual .txtbox .tit {  font-size: 5rem;  line-height: 1.1714;  color: #000000;  font-weight: 100;  margin-bottom: 3rem;}
.seminar-visual .txtbox .tit .bold { font-weight: 800;}
.seminar-visual .txtbox .desc {  font-size: 2.857rem;  line-height: 1.25;  color: #000000;  margin-bottom: 3.5rem;}
.seminar-visual .txtbox .more_box .more { display: inline-flex; align-items: center;  justify-content: center; font-size: 2.286rem;  font-weight: 500;  color: #fff;  padding: 0 2.2rem;  border-radius: 0.714rem;  height: 4.5rem;  background: #000;}

.seminar-section1 {margin-bottom: 10.214rem;} 
.seminar-section1 .contbox { display: flex; flex-direction: column; gap: 3.714rem;}
.seminar-section1 .contbox > .item { display: flex; gap: 2.857rem;  word-break: keep-all;}
.seminar-section1 .contbox > .item:nth-child(even) { flex-direction: row-reverse;}
.seminar-section1 .contbox > .item .imgbox { width: 50%; display: flex;}
.seminar-section1 .contbox > .item .imgbox > img {width: 100%; height: 100%; object-fit: cover;}
.seminar-section1 .contbox > .item .txtbox { width: 50%;  font-size: 1.429rem;  line-height: 1.5;  color: #000000;}
.seminar-section1 .contbox > .item .txtbox .more_box {margin-top: 2.286rem;}
.seminar-section1 .contbox > .item .txtbox .more_box .more {  font-size: 1.714rem;   font-weight: 600;  color: #fff;  padding: 0 2.429rem;  border-radius: 0.714rem;   background-color: #000;  display: inline-flex;  align-items: center;  justify-content: center;  height: 4.071rem;}
 
.seminar-section2 {margin-bottom: 9.786rem;} 
.seminar-section2 .seminar-title{margin-bottom: 4.786rem;} 
.seminar-section2 .contbox { display: flex; gap: 2.857rem;}
.seminar-section2 .contbox > .item{width: calc((100% - 2.857rem*2)/3); display: flex; flex-direction: column ; gap: 1.429rem;}
.seminar-section2 .contbox > .item .imgbox{display: flex;}
.seminar-section2 .contbox > .item .imgbox > img {width: 100%; height: 100%; object-fit: cover;}
.seminar-section2 .contbox > .item .txtbox{display: flex; flex-direction: column; align-items: center; gap: 2.286rem; text-align: center; word-break: keep-all; padding: 0 1.429rem;}
.seminar-section2 .contbox > .item .txtbox .tit{font-size: 1.714rem; line-height: 1.4; font-weight: 600; color: #000000;}
.seminar-section2 .contbox > .item .txtbox .desc{font-size: 1.429rem; line-height: 1.5; color: #666666;}

.seminar-section3 {margin-bottom: 10.714rem;} 
.seminar-section3 .contbox {display: flex; gap: 2.857rem; flex-wrap: wrap;}
.seminar-section3 .contbox > .item{width: calc((100% - 2.857rem*2)/3); display: flex; flex-direction: column; gap: 0.925rem; padding: 2.714rem 2.857rem 1.929rem; border-radius: 0.857rem; background: #f4f3ee; font-size: 1.429rem; line-height: 1.5; color: #000; word-break: keep-all;}
.seminar-section3 .contbox > .item .num{font-size: 2.857rem; line-height: 1; font-weight: 600; color: #000000;}
.seminar-section3 .contbox > .item .tit{font-weight: 700; line-height: 1.25;}

.seminar-section4 {margin-bottom: 10.714rem;} 
.seminar-section4 .contbox {display: flex; flex-direction: column; gap: 1.357rem;}
.seminar-section4 .contbox > .item{display: flex; align-items: center; gap: 1.643rem; background: #000; padding: 0.358rem; border-radius: 7.143rem;}
.seminar-section4 .contbox > .item .num{width: 5rem; aspect-ratio: 1/1; background: #fffa35; border-radius: 50%; font-size: 2.143rem; font-weight: 700; line-height: 1; color: #000; display: flex; align-items: center; justify-content: center; }
.seminar-section4 .contbox > .item .tit{flex: 1; font-size: 2.857rem; color: #f4f3ee; font-weight: 500;}

.seminar-section5 {margin-bottom: 10.714rem;} 
.seminar-section5 .seminar-title{margin-bottom: 3.143rem;} 
.seminar-section5 .contbox {display: flex; gap: 2.857rem;}
.seminar-section5 .contbox > .item{width: calc((100% - 2.857rem*2)/3); display: flex; flex-direction: column; align-items: center; gap: 1.714rem; border-radius: 0.857rem; background: #000000; text-align: center; padding: 2.286rem 1.714rem 1.714rem;}
.seminar-section5 .contbox > .item .tit{font-size: 2.5rem; line-height: 1.2857; font-weight: 600; color: #ffffff;}
.seminar-section5 .contbox > .item .desc{font-size: 1.429rem; line-height: 1.4; color: #fffa35; min-height: 2.8em; display: flex; align-items: center; word-break: keep-all; font-weight: 300;}

.seminar-section6 {margin-bottom: 14.286rem;} 
.seminar-section6 .seminar-title{margin-bottom: 5.714rem;} 
.seminar-section6 .contbox { display: flex;  flex-direction: column;  gap: 2.143rem;}
.seminar-section6 .contbox > .item{position: relative;}
.seminar-section6 .contbox > .item .layout{display: flex; align-items: center;  justify-content: space-between;}
.seminar-section6 .contbox > .item .layout .imgbox{display: flex;}
.seminar-section6 .contbox > .item .layout .txtbox{flex: 1; word-break: keep-all;}
.seminar-section6 .contbox > .item .layout .txtbox .tit { font-size: 1.714rem;   line-height: 1.25;  font-weight: 600;color: #000; margin-bottom: 1.3rem;}
.seminar-section6 .contbox > .item .layout .txtbox .sub_tit{font-size: 1.429rem;   line-height: 1.5; font-weight: 600; color: #000;  margin-bottom: 1.5rem;}
.seminar-section6 .contbox > .item .layout .txtbox .descbox { font-size: 1.429rem;   line-height: 1.6;  color: #000; display: flex; flex-direction: column; margin-bottom: 1.8rem;  text-indent: -0.5em; padding-left: 0.5em;}
.seminar-section6 .contbox > .item .layout .txtbox .desc {  font-size: 1.143rem;  line-height: 1.5; color: #666666;}
.seminar-section6 .contbox > .item .layout .txtbox .descbox2 {font-size: 1.143rem;  line-height: 1.5; color: #666666; display: flex; flex-direction: column; text-indent: -0.5em; padding-left: 0.5em;}
.seminar-section6 .contbox > .item .layout .txtbox .descbox2 .desctit{margin-bottom: 0.5rem;}
.seminar-section6 .contbox > .item:nth-child(1) {background: #f5f6f7;}
.seminar-section6 .contbox > .item:nth-child(1) .layout { flex-direction: row-reverse; align-items: flex-start;}
.seminar-section6 .contbox > .item:nth-child(1) .layout .imgbox { width: 36%;   max-width: 32.214rem;}
.seminar-section6 .contbox > .item:nth-child(1) .layout .txtbox { padding: 3.415rem 1rem 5.714rem 0;}
.seminar-section6 .contbox > .item:nth-child(2) .layout {gap: 4.143rem;}
.seminar-section6 .contbox > .item:nth-child(2) .layout .imgbox { width: 35%;  max-width: 31.786rem;}
.seminar-section6 .contbox > .item:nth-child(2) .layout .txtbox { padding-top: 6rem;}
.seminar-section6 .contbox > .item:nth-child(2) .layout .txtbox .descbox {margin-bottom: 1.5rem;}
.seminar-section6 .contbox > .item:nth-child(2) .layout .txtbox .tit {margin-bottom: 1.1rem;}

.seminar-section7 {margin-bottom: 5.429rem;} 
.seminar-section7 .seminar-title{margin-bottom: 5.714rem;} 
.seminar-section7 .slidebox { position: relative;}
.seminar-section7 .seminar-slider {width: 100%;}
.seminar-section7 .seminar-slider .item {display: flex;}
.seminar-section7 .seminar-slider .item > img {width: 100%;height: 100%; object-fit: cover;}
.seminar-section7 .prev_btn, .seminar-section7 .next_btn { width: 4.286rem; height: auto;  aspect-ratio: 1 / 1; background: no-repeat center / contain;  margin: 0;  top: 50%; transform: translateY(-50%);}
.seminar-section7 .prev_btn {background-image: url(../img/seminar-prev.png);left: -7.143rem;} 
.seminar-section7 .next_btn {background-image: url(../img/seminar-next.png);right: -7.143rem;}

.seminar-foot .banner{background: url(../img/seminar-foot-banner.png) no-repeat center/cover; display: flex; width: 100%; margin-bottom: -6.429rem;}
.seminar-foot .banner .txtbox { flex: 1; display: flex; flex-direction: column; gap: 1.2rem; padding: 2.3rem 2.357rem 2rem;}
.seminar-foot .banner .txtbox .tit{font-size: 2.429rem; line-height: 1.1764; font-weight: 100; color: #ffffff;}
.seminar-foot .banner .txtbox .tit .bold{font-weight: 700;}
.seminar-foot .banner .txtbox .desc{font-size: 1.143rem; line-height: 1.5; color: #fff;}
.seminar-foot .banner .linkbox {position: relative; width: 17.714rem;}
.seminar-foot .banner .linkbox::before,
.seminar-foot .banner .linkbox::after {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fffe1c;}
.seminar-foot .banner .linkbox::before { mix-blend-mode: soft-light;}
.seminar-foot .banner .linkbox::after {opacity: 0.8;}
.seminar-foot .banner .linkbox .link{position: relative; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; z-index: 10; font-size: 2.143rem; font-weight: 600; color: #000;}
.seminar-foot .footbox { background: #000000;  padding: 8.5rem 0 1.929rem;}
.seminar-foot .footbox .logo { width: 8.857rem; margin-bottom: 1.5rem;}
.seminar-foot .footbox .info { font-size: 1.143rem; line-height: 1.5;  font-weight: 500;  color: #ffffff;}





/* PC */
@media screen and (max-width: 1520px) {   
	.seminar-section7 .prev_btn { left: 3%;}
	.seminar-section7 .next_btn { right: 3%;}
}

  
/* Tablet */
@media screen and (max-width: 900px) {

	html, body {min-width: 100%; font-size: 3vw;}	
  	.pc {display: none !important;}
  	.tablet {display: block !important;}

	.seminar-title { font-size: 2rem; margin-bottom: 3rem;}

	.seminar-visual { margin-bottom: 7rem;}
	.seminar-visual .txtbox { padding: 4rem 0 20rem;}
	.seminar-visual .txtbox .logo { margin-bottom: 2rem; max-width: 20rem;}
	.seminar-visual .txtbox .tit { font-size: 2.4rem; line-height: 1.3; margin-bottom: 1.5rem;}
	.seminar-visual .txtbox .desc {  font-size: 1.6rem; line-height: 1.3; margin-bottom: 2.2rem;}
	.seminar-visual .txtbox .more_box .more {font-size: 1.3rem; padding: 0 1.2rem;   height: 2.8rem;  border-radius: 0.6rem;  font-weight: 400;}

	.seminar-section1 { margin-bottom: 7rem;}
	.seminar-section1 .contbox > .item {  gap: 2rem; flex-direction: column;}
	.seminar-section1 .contbox > .item .imgbox { width: 100%;}
	.seminar-section1 .contbox > .item .txtbox { width: 100%; font-size: 1.3rem;}
	.seminar-section1 .contbox > .item:nth-child(even) { flex-direction: column;}
	.seminar-section1 .contbox > .item .txtbox .more_box .more { font-size: 1.3rem;   padding: 0 1.8rem;  height: 3.4rem;  border-radius: 0.6rem;  font-weight: 500;}

	.seminar-section2 { margin-bottom: 7rem;}
	.seminar-section2 .contbox {  flex-direction: column; gap: 4rem;}
	.seminar-section2 .contbox > .item {  width: 100%; gap: 2rem;}
	.seminar-section2 .contbox > .item .txtbox { gap: 2rem;  padding: 0 1rem;}
	.seminar-section2 .contbox > .item .txtbox .tit { font-size: 1.6rem;}
	.seminar-section2 .contbox > .item .txtbox .tit br { display: none;}
	.seminar-section2 .contbox > .item .txtbox .desc {  font-size: 1.3rem;}

	.seminar-section3 { margin-bottom: 7rem;}
	.seminar-section3 .contbox { flex-direction: column;  gap: 2rem;}
	.seminar-section3 .contbox > .item {  width: 100%; gap: 1rem;  padding: 2rem 2.4rem;  border-radius: 0.6rem;  font-size: 1.3rem;}
	.seminar-section3 .contbox > .item .num { font-size: 2.4rem;}
	.seminar-section3 .contbox > .item .tit { line-height: 1.5;}
	.seminar-section3 .contbox > .item .desc {max-width: 90%;}
	.seminar-section3 .contbox > .item .desc br {display: none;}	

	.seminar-section4 { margin-bottom: 7rem;}
	.seminar-section4 .contbox > .item { gap: 0.8rem; padding: 0.3rem; border-radius: 10rem;}
	.seminar-section4 .contbox > .item .num {  width: 3rem; font-size: 1.5rem;}
	.seminar-section4 .contbox > .item .tit { font-size: 1.3rem;}

	.seminar-section5 { margin-bottom: 7rem;}
	.seminar-section5 .seminar-title {  margin-bottom: 3rem;}
	.seminar-section5 .contbox { flex-direction: column; gap: 2rem;}
	.seminar-section5 .contbox > .item { width: 100%;  gap: 1rem;  border-radius: 0.6rem;  padding: 2rem 1.6rem 1.6rem;}
	.seminar-section5 .contbox > .item .tit { font-size: 1.8rem;}
	.seminar-section5 .contbox > .item .desc { font-size: 1.3rem; min-height: unset;}

	.seminar-section6 { margin-bottom: 7rem;}	
	.seminar-section6 .seminar-title { margin-bottom: 4rem;}
	.seminar-section6 .contbox { gap: 4rem;}
	.seminar-section6 .contbox > .item .layout { align-items: center;  flex-direction: column; gap: 2.4rem;}
	.seminar-section6 .contbox > .item .layout .txtbox .tit {  font-size: 1.5rem;   line-height: 1.3;  margin-bottom: 1.2rem;}
	.seminar-section6 .contbox > .item .layout .txtbox .sub_tit {  font-size: 1.3rem;  margin-bottom: 1rem;}
	.seminar-section6 .contbox > .item .layout .txtbox .descbox { font-size: 1.2rem;  margin-bottom: 1.5rem;}
	.seminar-section6 .contbox > .item .layout .txtbox .desc { font-size: 1.2rem;}
	.seminar-section6 .contbox > .item .layout .txtbox .descbox2 { font-size: 1.2rem;}
	.seminar-section6 .contbox > .item:nth-child(1) { padding: 2.4rem 0 4rem;}
	.seminar-section6 .contbox > .item:nth-child(1) .layout { flex-direction: column;   align-items: center;}
	.seminar-section6 .contbox > .item:nth-child(1) .layout .imgbox { width: 80%;    max-width: 45rem;}
	.seminar-section6 .contbox > .item:nth-child(1) .layout .txtbox { padding: 0;}
	.seminar-section6 .contbox > .item:nth-child(2) .layout .imgbox { width: 80%;  max-width: 45rem;}
	.seminar-section6 .contbox > .item:nth-child(2) .layout .txtbox { padding-top: 0;}
	.seminar-section6 .contbox > .item:nth-child(2) .layout .txtbox .tit {margin-bottom: 1.2rem;}
	.seminar-section6 .contbox > .item:nth-child(2) .layout .txtbox .descbox {  margin-bottom: 1rem;}

	.seminar-section7 { margin-bottom: 7rem;}	
	.seminar-section7 .seminar-title { margin-bottom: 4rem;}
	.seminar-section7 .prev_btn, .seminar-section7 .next_btn { width: 2.4rem;}

	.seminar-foot .banner { flex-direction: column; margin-bottom: -7rem;}
	.seminar-foot .banner .txtbox { padding: 2.4rem 2rem; gap: 2.4rem;}
	.seminar-foot .banner .txtbox .tit { font-size: 2rem; line-height: 1.3;}
	.seminar-foot .banner .txtbox .desc {  font-size: 1.2rem;}
	.seminar-foot .banner .linkbox { width: 100%;height: 5rem;}
	.seminar-foot .banner .linkbox .link {  font-size: 1.6rem;}
	.seminar-foot .footbox { padding: 10rem 0 2rem;}
	.seminar-foot .footbox .logo {  width: 10rem;  margin-bottom: 1.2rem;}
	.seminar-foot .footbox .info { font-size: 1.1rem;}


}


/* Mobile */
@media screen and (max-width: 599px) {	
	
  	.mobile {display: block !important;}  

}
