
:root {
    /* --font-body-family: 'UNO', 'Pretendard', sans-serif; */
    /* --font-heading-family: 'UNO', 'Pretendard', sans-serif; */
}

/* common */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
html { scroll-behavior: smooth; }
html::-webkit-scrollbar { display: none;}
html, body {position: relative; font-size: 16px;}
a[href^=tel] { color: inherit !important; text-decoration: none !important;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent; outline: none; transition: ease 0.5s;}
img {max-width: 100%;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}
table { width: 100%; border-spacing: 0; border-collapse: collapse;}

.swiper {width: 100%;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {display:none;}

.sans { font-family:'UNO', sans-serif; }
.serif { font-family:'GTS', serif; }
.FBP {font-family: 'FBP', serif; }
.Font { font-family: 'FBP', 'Pretendard', 'UNO', sans-serif;}
.Pretendard {font-family: 'Pretendard','UNO', sans-serif; }
.GM {font-family: 'GentleMonster', 'Pretendard','UNO', sans-serif;}
.freight {font-family: "freight-big-pro", serif;}

.mob_view {display:none}

.conbox {max-width: 1400px;}



/* 제품 */

.col90 { width: 100%;}
.col80 { width: 80%;}
.col75 { width: 75%;}
.col70 { width: 70%;}
.col60 { width: 60%;}
.col50 { width: 50%;}
.col40 { width: 40%;}
.col33 { width: 33.3333333336%;}
.col30 { width: 30%;}
.col25 { width: 25%;}
.col20 { width: 20%;}
.col10 {width: 10%;}

.thumb-img { width:100%; }
.thumbnail {  width: 100%; padding: 0 0.75rem; display: flex; flex-wrap: wrap;}
.product-related .thumbnail {position: relative; top: unset;left: unset;  cursor: unset;  padding: 0 0.75rem; display: flex;}
.thumbnail li { padding: 2.5rem; position: relative;}
.thumbnail li .thumbnail-image { position:relative; background:#F8F8F8;  width: 100%; aspect-ratio: 1/1.265; overflow:hidden;}
.thumbnail li .thumbnail-image a, .thumbnail li .thumbnail-image a:hover { border:0; display:block; width: 100%; height: 100%;}
.thumbnail li .thumbnail-image a > img { position: absolute; left: 50%; top: 50%;  width: 100%; height: 100%; transform: translate(-50%,-50%); object-fit: cover;}
.thumbnail li .thumbnail-image a > img.hover-img { opacity: 0; transition: all 0.35s ease;}
.thumbnail li:hover .thumbnail-image a > img.hover-img { opacity: 1;}
.thumbnail li:hover .thumbnail-image a > img.hover-img { opacity: 1;}
.thumbnail li .icons { display: flex; flex-wrap: wrap;  align-items: center;  gap: 0.5rem; margin-top: 0.875rem;}
.thumbnail li .icons > img {display:inline-block}

.thumbnail li .thumbnail-soldout { color:#7a0e00; text-transform:uppercase; font-size:11px; }
.thumbnail .thumbnail-info { overflow:hidden; padding:10px 0; }
.thumbnail .thumbnail-info p.collection { font-size:15px; opacity:1; margin:0 0 3px; display:none; }
.thumbnail .thumbnail-info p.name {font-size:  0.875rem; color: #666666; line-height: 1.3;  color: #000 !important;font-weight: 600; }
.thumbnail .thumbnail-info p.desc {font-family: 'Pretendard','UNO',sans-serif; color: #666666;  font-size: 0.875rem; line-height: 130%; margin-top: 0.35rem; letter-spacing: -0.025em;}
.thumbnail .thumbnail-info .price { margin-top: 0.5rem; letter-spacing: 0; font-weight: 600; font-size:  0.875rem; line-height: 1.2; color: #6E6E6E;}
.thumbnail .thumbnail-info .price > span, .thumbnail .thumbnail-info .price > div { display:block; }
.thumbnail .thumbnail-info .price.sale_on {color: #b70000;}
.thumbnail .thumbnail-info .price.sale_on .top_price .sale_price { color: #6E6E6E; opacity: 1 !important;}
.thumbnail .thumbnail-info .price.sale_on .top_price .discount, 
.thumbnail .thumbnail-info .price.sale_on .top_price .discount2 { color: #6E6E6E;}
.thumbnail .thumbnail-info .price .pro_rate { font-weight: 600;}
.thumbnail .thumbnail-info .custom_opt1 { margin-top: 0.25rem; font-weight: 500; font-size: 0.75rem; line-height: 1.2; color: #6E6E6E;}
.thumbnail .thumbnail-info .soldout { clear:both; opacity:0.35; font-size:0.875rem; position:relative; margin-top: 0.85rem;}
.thumbnail .thumbnail-info .note { clear:both; font-size:0.875rem; position:absolute; left:0; top:0; width:100%; background:#FFF; }

.product-related.conbox { max-width: 1200px; margin: 5rem auto 0;}
.product-related .colpadding2 { font-size: 2.5rem; text-align: center; letter-spacing: 0.04em; font-family: 'FBP', serif; padding: 1.250rem; margin: 0 0 0.938rem; font-weight: 400;}


/* collection */
.collection__empty {padding-top: 40px;}


/* sale */
.product-item__price .sale { color: #6e5613; font-weight: 500;}
.product-item__price .displayed-discount:not(:empty) { background: #ebe5d4; color: #35312e;   font-weight: 600;  font-size: 0.75rem;  line-height: 1;  padding: 0.125rem 0.5rem;   display: inline-flex;  align-items: center;  justify-content: center;  border-radius: 0.25rem;  margin-left: 0.5rem;}

.product__price s:not(:empty)+[data-price] { color: #6e5613; font-weight: 500;}
.product__price .product__price-displayed-discount:not(:empty) { background: #ebe5d4;  color: #35312e;  font-weight: 600;  font-size: 0.75rem;  line-height: 1;   height: 1rem;  padding: 0 0.5rem;  border-radius: 0.25rem;  align-self: center;}


.account__heading, shopify-account, :host {
	--shopify-account-font-heading: var(--font-heading), sans-serif;
	--shopify-login-form-font-body: var(--font-body), sans-serif;
  	font-family: var(--font-body), sans-serif;
}