html {font-size:16px;}
body { font-family:'Pretendard','UNO', sans-serif; font-weight:400; font-size:16px; letter-spacing:0.035em; background:#FFF; word-break:keep-all; overflow-x:hidden; }
.sans { font-family:'UNO', sans-serif; }
.serif { font-family:'GTS', serif; }
.FBP {font-family: 'FBP', serif; }
.Pretendard {font-family: 'Pretendard','UNO', sans-serif; }
.GM {font-family: 'GentleMonster', 'Pretendard','UNO', sans-serif;}
.freight {font-family: "freight-big-pro", serif;}