

/* PC */
@media screen and (min-width:2000px) {  /* 고해상도 대응  */
	
}


@media screen and (min-width:2200px) {  /* 고해상도 대응  */
	
}


@media screen and (min-width:2400px) {  /* 고해상도 대응  */
	
}


@media screen and (min-aspect-ratio: 1920/960) {
		
}


@media screen and (max-width: 1560px) {    

  	html {font-size: 15.5px !important;}  

	@media screen and (min-aspect-ratio: 1920/960) { /* 노트북 대응 */

  		html {font-size: 14.5px !important;}  

	}

}


@media screen and (max-width: 1440px) {    

  	html {font-size: 15px!important;}    

	@media screen and (min-aspect-ratio: 1920/960) { /* 노트북 대응 */

  		html {font-size: 14px !important;}  

	}

}


@media screen and (max-width: 1380px) {    

  	html {font-size: 14.5px !important;} 

	@media screen and (min-aspect-ratio: 1920/960) { /* 노트북 대응 */

  		html {font-size: 13.5px !important;}  

	}       

}


@media screen and (max-width: 1200px) {

  	html {font-size: 14px !important;}  

	@media screen and (min-aspect-ratio: 1920/960) { /* 노트북 대응 */

  		html {font-size: 13px !important;}  

	}

}



  
/* Tablet */
@media screen and (max-width: 1024px) {

  	html {font-size: 16px !important;} 

  	.pc {display: none !important;}
  	.tablet {display: block !important;}

	/* datepicker */
	.ui-datepicker {  margin-top: 1.2rem;  box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.1);  border-radius: 1.2rem; padding: 1.6rem 1.2rem; z-index: 50;} 
	.ui-datepicker .ui-datepicker-header { padding: 0 0.6rem; margin-bottom: 1rem;}
	.ui-datepicker .ui-datepicker-title { font-size: 1.5rem; gap: 1.4rem;}
	.ui-datepicker .ui-datepicker-title select { font-size: 1.5rem;  background-size: 1.3rem; padding-right: 1.6rem;}
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { width: 1.6rem  !important; }
	.ui-datepicker .ui-datepicker-prev {order: 2; margin-right: 0.8rem;}	
	.ui-datepicker-calendar>thead>tr>th { width: 3rem; height: 3rem;  padding: 0;  }
	.ui-datepicker-calendar>thead>tr>th span { font-size: 1.4rem;}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { width: 3rem; height: 3rem; font-size: 1.4rem;}
	.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,
	.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,
	.ui-button:hover,.ui-button:focus { width: 3rem; height:3rem;}	
	.ui-state-active::before, .ui-widget-content .ui-state-active::before, .ui-widget-header .ui-state-active::before, a.ui-button:active::before, .ui-button:active::before, .ui-button.ui-state-active:hover::before { border-radius: 0.8rem;  width: 3rem; }

}


@media screen and (max-width: 900px) {

  	html {font-size: 14px !important;}


}


@media screen and (max-width: 800px) {

	html {font-size: 2.222223vw;} 
	
}


@media screen and (max-width: 700px) {

  	html {font-size: 11.5px !important;}

}




/* Mobile */
@media screen and (max-width: 599px) {

  	html {font-size: 11px !important;}  
	
  	.mobile {display: block !important;}
  

}
  
      
@media screen and (max-width: 480px) {  

  	html {font-size: 10px !important;}

}


@media screen and (max-width: 320px) {

  	html { font-size: 9px !important;}

}
