
/* main popup */
.main-popup { position: absolute; top: 100px; left: 50px; border-radius: 1rem; z-index: 999; width: 90%; max-width: 400px;}
.main-popup.hide { display:none}
.main-popup.hide2 { display:none}
.main-popup .swiper-slide { width: 100%;}
.main-popup .swiper-slide > a { display: flex;}

.main-popup .swiper-slide img { width: 100%; height: 100%; object-fit: cover;}
.main-popup .main-popup-pagination { bottom: 55px;}
.main-popup .main-popup-pagination .swiper-pagination-bullet { border: 1px solid #fff; background: transparent; opacity: 1; width: 8x; height: 8px; transition:all 0.4s ease-in-out}
.main-popup .main-popup-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background: #fff;}
.main-popup .main-popup-btnbox { display: flex; background: #fff;}

.main-popup .main-popup-btnbox .popup-btn { width: 50%; height: 40px;  background-color: #fff; cursor: pointer; font-size: 0.8rem;  color: #000;  display: flex;
    align-items: center;  justify-content: center; padding: 0.25rem 0.25rem 0.5rem;}
.main-popup .main-popup-btnbox .popup-btn + .popup-btn {}

.main-popup2 {left: 470px;}
.main-popup3 {left: 890px;}


/* main */
.home-title {  font-family: "freight-big-pro", serif; font-size: 3.125rem; line-height: 1.2; margin-bottom: 3.75rem;}
.home-inner { width: 90%; margin: 0 auto; padding: 0 2.5rem;}

.home-visual { position: relative; width: 100%;}
.home-visual .visual-box { position: relative;}
.home-visual .visual-box .imgbox { display: flex; width: 100%;}
.home-visual .visual-box .imgbox > img { width: 100%;}
.home-visual .visual-box .txtbox { position: absolute; bottom: 100px;  left: 50%;transform: translate(-50%,0); color: #fff; text-align: center; z-index: 10; display: flex;  flex-direction: column; align-items: center; gap: 50px;}
.home-visual .visual-box .txtbox > p { font-size: 1.625rem; color: #fff;}
.home-visual .visual-box .txtbox > a { border-radius: 1rem;  font-size: 1rem; max-width: 220px;  width: 100%;  color: #fff;  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15); line-height: 28px; text-decoration: underline; text-underline-offset: 6px;}
.home-visual .visual-box .txtbox > a:hover { opacity: 0.7;}
.pc-main-visual .pc-main-visual-pag { bottom: 2.5%; left: 50%; transform: translateX(-50%);  display: flex; align-items: center; justify-content: center;}
.pc-main-visual .pc-main-visual-pag .swiper-pagination-bullet { border: 0; width: 8px; height: 8px; border-radius: 50px; opacity: 1; background: transparent; border: 1px solid #fff; margin: 4px; transition: all 0.35s ease-in-out;}
.pc-main-visual .pc-main-visual-pag .swiper-pagination-bullet.swiper-pagination-bullet-active {background: #fff;}

.home-swiperbox {position:relative; margin-bottom:10rem; overflow: hidden;}
.home-swiperbox .home-swiper{ width: calc(100% - 2.5rem * 2); overflow:visible;}
.home-swiperbox .home-swiper .swiper-box {width: calc((100% - 80px*3)/4); min-width: 20rem; display: flex;flex-direction: column; gap: 2.5rem;}
.home-swiperbox .home-swiper .swiper-box .imgbox { display: flex; width: 100%; overflow:hidden;}
.home-swiperbox .home-swiper .swiper-box .imgbox > img { width: 100%; transition: transform .75s  cubic-bezier(.215, .61, .355, 1), -webkit-transform .75s 
cubic-bezier(.215, .61, .355, 1);}
.home-swiperbox .home-swiper .swiper-box:hover .imgbox > img { -webkit-transform: scale3d(1.05, 1.05, 1); transform: scale3d(1.05, 1.05, 1); }
.home-swiperbox .home-swiper .swiper-box .txtbox {display:flex; flex-direction:column; align-items:flex-start; gap: 1rem;}
.home-swiperbox .home-swiper .swiper-box .txtbox .txt {position:relative;  font-family: 'Pretendard','UNO', sans-serif, serif;  font-size: 1.5rem;  line-height: 1.3;  color: #242222;  padding-bottom: 0.375rem; overflow: hidden; display: inline-block;}
.home-swiperbox .home-swiper .swiper-box .txtbox .txt::after { background-color: #242222;  bottom: 0;  content: "";  height: .0625rem;  left: 0;  position: absolute;  width: 100%;}
.home-swiperbox .home-swiper .swiper-box:hover .txtbox .txt::after  { -webkit-animation: trace-in .25s cubic-bezier(.215, .61, .355, 1), trace-out .25s cubic-bezier(.215, .61, .355, 1) .25s;  animation: trace-in .25s cubic-bezier(.215, .61, .355, 1), trace-out .25s cubic-bezier(.215, .61, .355, 1) .25s;}
@keyframes  trace-in {
    0% {-webkit-transform: translateZ(0); transform: translateZ(0);}
    100% { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}
}
@keyframes  trace-out {
    0% { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
    100% { -webkit-transform: translateZ(0); transform: translateZ(0)}
}
.home-swiperbox .home-swiper .swiper-box .txtbox .desc {font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 0.938rem;  line-height: 1.6;  color: #242222;}
.swiper-scrollbar.home-scrollbar { position: relative; left: auto;  bottom: auto;  top: auto;  width: 100%;  height: 2px;  background: rgba(36, 34, 34, .1); margin-top:5rem; transition: height .2s cubic-bezier(.215, .61, .355, 1) !important;  will-change: height; border-radius:0; cursor: grab;}
.swiper-scrollbar.home-scrollbar .swiper-scrollbar-drag{position: relative; background: #000; border-radius:0; display: block;}

.home-collection { width:100%;}
.home-collection .swiper-slide .contbox { display: flex; align-items: center; gap: 1.25rem;}
.home-collection .swiper-slide .contbox .imgbox { display: flex; width: 50%;  max-width: 590px;aspect-ratio: 1 / 0.5423728;}
.home-collection .swiper-slide .contbox .imgbox > img { width: 100%; height: 100%; object-fit: cover;}
.home-collection .swiper-slide .contbox .txtbox { flex: 1; display: flex;  flex-direction: column; justify-content: space-between; align-self: stretch;}
.home-collection .swiper-slide .contbox .txtbox .titbox {display: flex;  flex-direction: column;}
.home-collection .swiper-slide .contbox .txtbox .titbox > .tit {font-family: 'Pretendard', 'UNO', sans-serif; font-size: 1.125rem; line-height: 1.75; color: #000;  font-weight: 700;  display: flex; align-items: center; gap: 0.375rem;text-transform: uppercase;}
.home-collection .swiper-slide .contbox .txtbox .titbox > .tit .arrow {font-size: 0.75em;}
.home-collection .swiper-slide .contbox .txtbox .titbox > .desc {font-family: 'Pretendard', 'UNO', sans-serif; margin-top: 1.25rem;  font-size: 0.75rem; line-height: 1.5; color: #212121;  -webkit-box-orient: vertical; -webkit-line-clamp: 3; display: -webkit-box;  overflow: hidden;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail { padding: 0; gap: 1.25rem; display:none;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail li { padding: 0; width: calc((100% - 1.25rem* 3) / 4);}
.home-collection .swiper-slide .contbox .txtbox .thumbnail li .thumbnail-image { aspect-ratio: 1 / 1; background: #f7f7f7; border:1px solid #f7f7f7}
.home-collection .swiper-slide .contbox .txtbox .thumbnail li .iconbox {display:none}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info { padding: 0; margin-top: 0.75rem;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info p.name {  color: #212121; font-weight: 500; font-size: 0.875rem;  overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box;display: none; }
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info p.name * { font: inherit !important; color: inherit !important; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info p.desc { margin: 0; overflow: hidden; font-size: 0.75rem;  color: #212121;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info p.desc a { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; color: inherit;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info .price {display:none;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info .custom_opt1 {display:none;}
.home-collectionbox .main-collection-controls {display:none;}
.home-collectionbox .main-collection-controls .swiper-button-prev, 
.home-collectionbox .main-collection-controls .swiper-button-next { font-size: 2rem; color: #212121; top: calc(50% + 4rem);}
.home-collectionbox .main-collection-controls .swiper-button-prev { left: 0;}
.home-collectionbox .main-collection-controls .swiper-button-next { right:0; }

.home-instagrambox { position: relative; width: 90%; max-width: 1280px; padding: 0 2.5rem;  margin: 0 0 10rem;}
.home-instagrams {margin:0; width:100%;}
.home-instagrams .swiper-slide .contbox { display: flex; flex-direction:column; gap: 0.75rem;}
.home-instagrams .swiper-slide .contbox .imgbox { display: flex; width: 100%; aspect-ratio: 1/1;overflow: hidden;}
.home-instagrams .swiper-slide .contbox .imgbox .link {display:flex; width:100%; height:100%;}
.home-instagrams .swiper-slide .contbox .imgbox .link > img { width: 100%; height: 100%; object-fit: cover;}
.home-instagrams .swiper-slide .contbox .thumbnail { padding: 0; flex-direction:column; display:none;}
.home-instagrams .swiper-slide .contbox .thumbnail li { padding: 0.25rem 0; width:100%;display:flex; align-items: center;; gap:0.625rem}
.home-instagrams .swiper-slide .contbox .thumbnail li .thumbnail-image { width:48px; aspect-ratio: 1 / 1; background: #f7f7f7;}
.home-instagrams .swiper-slide .contbox .thumbnail li .iconbox {display:none}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info { padding: 0; flex:1;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info p.name { color: #212121; font-weight: 500; font-size: 0.875rem;overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; }
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info p.name * { font: inherit !important; color: inherit !important;overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info p.desc { margin: 0; overflow: hidden; font-size: 0.75rem;  color: #212121;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info p.desc a { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; color: inherit;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info .price {display:none;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info .custom_opt1 {display:none;}
.home-instagrambox .main-instagram-controls .swiper-button-prev, 
.home-instagrambox .main-instagram-controls .swiper-button-next { font-size: 2rem; color: #212121; top: calc(50% + 4rem);}
.home-instagrambox .main-instagram-controls .swiper-button-prev { left: 0;}
.home-instagrambox .main-instagram-controls .swiper-button-next { right:0; }

.home-collection.home-swiper .swiper-box {width:calc((100% - 80px)/2); min-width:35rem}
.home-collection .swiper-slide .contbox { width: calc(100% - 2.5rem * 2); margin:0 auto; align-items: unset; flex-direction: column; gap: 2.5rem;}
.home-collection .swiper-slide .contbox .imgbox { max-width: unset; aspect-ratio: unset;}
.home-collection .swiper-slide .contbox .txtbox { justify-content: unset; align-self: unset;}

.home-collectionbanner {position:relative; padding:10rem 0; background: #f5f3ec; margin-bottom:10rem}
.home-collectionbanner .contbox { width: calc(100% - 2.5rem * 2); margin:0 auto; display: flex;  flex-direction: column; gap: 2rem;}
.home-collectionbanner .contbox .imgbox { width: 100%;  display: flex;  align-items: center;  justify-content: center; }
.home-collectionbanner .contbox .imgbox > img{width:100%}
.home-collectionbanner .contbox .txtbox { width: 100%; display: flex; flex-direction: column; align-items: flex-start;}
.home-collectionbanner .contbox .txtbox .tit { font-family: "freight-big-pro", 'Pretendard', 'UNO', sans-serif, serif; font-size: 3.125rem;  line-height: 1.1; color: #242222; font-weight: 700;}
.home-collectionbanner .contbox .txtbox .desc {font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 1.5rem;  line-height: 1.6;  color: #242222; margin-top:1rem}
.home-collectionbanner .contbox .txtbox .desc .fw300 {font-weight: 100;}
.home-collectionbanner .contbox .txtbox .link { font-family: 'Pretendard', 'UNO', sans-serif, serif; margin-top: 1.5rem;  display: inline-flex; align-items: center; justify-content: center; gap: 0.5rem;  border: 1px solid #242222; color: #242222;  font-size: 1rem;  font-weight: 500;  line-height: 1;  height: 3rem;  padding: 0 1.25rem;  border-radius: 6.25rem;  transition: all .15s ease-in-out; text-transform: capitalize; text-decoration: none;}
.home-collectionbanner .contbox .txtbox .link:hover { background: #a39264; color: #fff; border-color:#a39264}
.home-collectionbanner .contbox .txtbox .link i { font-size: 1.2em; margin-top: 0.125em;}

.home-newbox .home-swiper .thumbnail { flex-wrap:nowrap; padding:0}
.home-newbox .home-swiper .swiper-box {gap:0; min-width:20rem}
.home-newbox .home-swiper .swiper-box::before { background-color: rgba(36, 34, 34, .15);  content: "";  height: 100%;  left: -2.5rem;  position: absolute; top: 0; width: 1px;}
.home-newbox .home-swiper .swiper-box:nth-child(1)::before {display:none;}
.home-newbox .home-swiper .swiper-box .thumbnail-image { width: 100%;}
.home-newbox .home-swiper .swiper-box .thumbnail-image a { display: flex;  align-items: center;  justify-content: center;  overflow: hidden;}
.home-newbox .home-swiper .swiper-box .thumbnail-image a .thumb-img { width: 100%; transition: transform .75s  cubic-bezier(.215, .61, .355, 1), -webkit-transform .75s 
cubic-bezier(.215, .61, .355, 1);}
.home-newbox .home-swiper .swiper-box:hover .thumbnail-image a .thumb-img  { -webkit-transform: scale3d(1.05, 1.05, 1); transform: scale3d(1.05, 1.05, 1); }

.home-instagrambox { position: relative;  width: 100%;  max-width: 100%;  margin: 0 0 10rem;}
.home-instagrambox .home-inner {  position: relative; padding: 0;}
.home-instagrambox .swiperobx  { position: relative;}
.home-instagrambox .home-instagrams { position: relative;  width: calc(100% - 2.5rem * 2); margin: 0 auto;}
.home-instagrambox .main-instagram-controls {  position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%, -50%);  width: 100%;  z-index: 10;  pointer-events:none;
    display: flex; align-items: center; justify-content: space-between;}
.home-instagrambox .main-instagram-controls .swiper-button-prev,
.home-instagrambox .main-instagram-controls .swiper-button-next {position:relative; left:auto; right:auto; top:auto; margin:0; pointer-events:all;}


/* 공지사항 */
.board_title { font-family: 'UNO', Noto Sans KR, sans-serif; font-size: 14px; color: #222;  font-weight: 700;  line-height: 1; letter-spacing: 0.15em; text-align: center; margin-bottom: 50px;}
.board_tbl { font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 14px; line-height: 1.4; color: #000; }
.board_tbl thead tr { background-color: #f6f6f6;}
.board_tbl thead tr th { height: 30px;  padding: 15px 10px 16px;  font-weight: 400;  text-align: center;}
.board_tbl tbody tr { border-bottom: 1px solid #e5e5e5;}
.board_tbl tbody tr td {  padding: 15px 10px 16px;  text-align: center;  color: #555555;}
.board_tbl tbody tr td.title_td { padding-left: 20px;  padding-right: 20px; text-align: left;}
.board_tbl tbody tr td.title_td a {color:inherit;}

.board_btn {padding: 12px 20px; height: 40px; font-size: 13px;  box-sizing: border-box;  border: 1px solid #bcbcbc;  line-height: 1;  font-weight: normal;   text-decoration: none; vertical-align: middle;  word-spacing: -0.5px;  letter-spacing: 0;  text-align: center;  white-space: nowrap;  color: #000;  background-color: #fff;  border-radius: 100px;}

.board-admin p { font-family: 'Pretendard', 'UNO', sans-serif; font-size: 15px; color: #333;}
.board-admin select { background: #fff; cursor:pointer;}

.xans-board-paging.paging { font-size: 14px; font-family: 'Pretendard', 'UNO', sans-serif;}

.board-detail .xans-board-title { font-weight: 500; font-size: 32px; color: #1a1a1a; font-family: 'Pretendard', 'UNO', sans-serif; margin-bottom: 10px;}
.board-detail-view { margin: 30px 0 0;}
.board-detail-view .col.title {  font-size: 18px; line-height: 1.4; font-weight: normal;}
.board-detail-view .info { margin-top: 15px;  display: flex;  align-items: center;  gap: 8px;  font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 13px;  color: #000;}
.board-detail-view .info .hit { padding: 0 8px;  color: #6d6d6d;}
.board-detail-contents { margin-top: 30px;  padding: 30px 20px;  border-top: 1px solid #eaeaea; min-height: 400px;}
.board-detail-view .button-box a { margin-left: 0 !important; height: 50px; padding: 0 45px; line-height: 50px;  font-size: 14px;  font-weight: normal;  text-decoration: none; vertical-align: middle;   letter-spacing: 0;  text-align: center;  white-space: nowrap;  color: #000;  border-radius: 16px;  background-color: #fff;  border: 1px solid #b3b3b3;}

.xans-board-movement { border: 0;  margin: 20px 0 0;}
.xans-board-movement li { font-family: 'Pretendard', 'UNO', sans-serif; border-bottom: 0; font-size: 13px; color: #222; line-height: unset; padding: 0; display:flex;}
.xans-board-movement li strong, .xans-board-movement li a { padding: 10px 0; float:none;}
.xans-board-movement li strong {  width: 80px;  background: none !important;  font-weight: 600;  display: flex;  align-items: center;  gap: 8px;}
.xans-board-movement li strong i { font-size: 16px; line-height: 1; margin-top: 3px; color: #000;}
.xans-board-movement li a { width: 100%; border-left: 0; font-family: 'Pretendard', 'UNO', sans-serif;}

.form-submit-board input#subject { max-width: 100%; margin-bottom: 10px;}
.form-submit-board input#password { max-width: 300px;}
.board-wrap .button-box { display: flex; align-items: center; justify-content: space-between;}
.board-wrap .button-box a { display: inline-flex;  align-items: center;  justify-content: center;  padding: 12px 20px;   height: 50px;  font-size: 14px;  box-sizing: border-box;  border: 1px solid #bcbcbc;  line-height: 1;  font-weight: normal;   text-decoration: none; vertical-align: middle;  word-spacing: -0.5px; letter-spacing: 0;   text-align: center;  white-space: nowrap;  color: #000;  background-color: #fff;  border-radius: 16px;}
.xans-board-empty { font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 15px;  font-weight: 500;  color: #999999;  display: flex; align-items: center;  justify-content: center;  width: 100%;  height: 300px;  border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}


/* product */
.prdList_wrap { display: flex; gap: 4%; padding: 0 4%;}
.product_searchdata_wrap { width: 13%;  min-width: 170px; max-width:220px;}
.product_searchdata_wrap #searchSticky.searchData { margin: 0;  width: 100%;}
.product_searchdata_wrap #searchSticky.searchData .searchArea > .title { font-family: 'Pretendard', 'UNO', sans-serif;  border-bottom: 1px solid #aaaaaa;  padding: 0 0 1rem;  font-size: 1.25rem; text-transform: uppercase; font-weight: 500; color: #333333; margin: 0;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .title {font-family: 'UNO', 'Noto Sans KR', sans-serif; padding: 1rem 0; font-size: 1rem; margin-bottom: 0; text-transform: capitalize; margin-top: 0;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .title:after {  content: "\e943";  font-family: xeicon !important;  display: inline-block;  speak: none;  font-style: normal;  font-weight: 400;  font-variant: normal;text-transform: none;  line-height: 1;  -webkit-font-smoothing: antialiased;  background: no-repeat;  width: auto;  height: auto;  right: 0;  margin: 0;  font-size: 0.875rem;  transform: translateY(-50%); transition:all 0.35s ease-in-out}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist.selected .title:after {  transform: translateY(-50%) rotate(180deg);}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .content { margin: 0 0 1rem; font-family: 'UNO', Noto Sans KR, sans-serif; font-weight: 400;  font-size: 16px; letter-spacing: 0.035em; background: none; padding: 0; line-height: unset; min-width: unset; min-height: unset; cursor: unset;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .content::before, .product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .content::after { display: none;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .button .xans-product-filterform { overflow: unset; max-height: unset;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check .xans-product-filterform { overflow: unset; max-height: unset;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .button[data-cont="Size"] .xans-product-filterform { display: flex; gap: 0.25rem; margin:0; flex-wrap:wrap}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .button[data-cont="Size"] li { padding: 0;  min-width: 25%;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .button[data-cont="Size"] li > .btn { font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 0.75rem; line-height: 1.5;  padding: 0.35rem;  cursor: pointer;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .button[data-cont="Size"] li:hover .btn {  border-color: #a39264;  color: #a39264;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .button[data-cont="Size"] li.selected > .btn { border: 1px solid #000; color: #000;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .button[data-cont="Size"] li.disabled > .btn { cursor: default; pointer-events:none;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] .xans-product-filterform { display: flex;  flex-wrap: wrap;  gap: 0.875rem 0;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] li {  width: 33.33%;  margin: 0; display: flex;  flex-direction: column;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] li:first-child { padding-top: 0;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] li > input { display: none;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] li > label {  font-family: 'Pretendard', 'UNO', sans-serif;  display: flex;  flex-direction: column;  align-items: center; gap: 0.25rem;  font-size: 0.75rem;   font-weight: 400; color: #999999;  text-transform: uppercase;  text-align: center; word-break: keep-all;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] li > input[disabled] + label { opacity: 0.35; pointer-events: none;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] li .icoColor { position: relative; width: 1.75rem; aspect-ratio: 1 / 1; height: auto; border-radius: 100%; background-image: none; margin: 0.2rem;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] li .icoColor::before { content: ""; width: calc(100% + 0.4rem);  height: calc(100% + 0.4rem);  position: absolute;  left: 50%;top: 50%;  transform: translate(-50%, -50%);  border-radius: 50%; border: 1px solid #eeeeee; box-sizing: unset;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .check[data-cont="Color"] li > input:checked + label .icoColor::before { border-color: #1f1f1f;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .priceSlide .value {  margin: 0;  font-size: 0.625rem;  font-family: 'Pretendard', 'UNO', sans-serif;  display: flex;  justify-content: space-between; color: #000;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .priceSlide .slider { margin: 1.25rem 0.375rem 0;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .priceSlide .range { border: none; height: 1px;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .priceSlide .noUi-connect { display: block;  top: 0; height: 1px; border: none; background: #000;}
.product_searchdata_wrap #searchSticky.searchData .xans-product-searchfilterlist .priceSlide .noUi-handle { margin: 0 11px 0 0; top: 50%; transform: translateY(-50%); width: 12px;  height: auto; aspect-ratio: 1 / 1;  background: #fff; border: 1.5px solid #000; border-radius: 100%;}
.product_searchdata_wrap #searchSticky.searchData .active-facets__button-wrapper {padding: 0;}
.product_searchdata_wrap #searchSticky.searchData .active-facets facet-remove:only-child {display: block;}
.product_searchdata_wrap #searchSticky.searchData .btnRefresh { width: 100%;  height: 40px;  background-color: #a39264;  line-height: 1;  font-size: 0.875rem;  font-weight: 400;  color: #fff;  text-align: center;  cursor: pointer; display: flex; align-items: center; justify-content: center;}

.product_searchdata_wrap .facets-container {padding-top: 0;}
.product_searchdata_wrap .facets {width: 100%; overflow: hidden;}
.product_searchdata_wrap .facets__form-vertical {width: 100%;}
.product_searchdata_wrap .active-facets-vertical-filter {width: 100%;}
.product_searchdata_wrap .active-facets { margin: 0; flex-wrap: nowrap; flex-direction: column;}
.product_searchdata_wrap .facets__heading { font-family: 'Pretendard', 'UNO', sans-serif; border-bottom: 1px solid #aaaaaa;  padding: 0 0 1rem;  font-size: 1.25rem;  line-height: 1.5;  text-transform: uppercase; font-weight: 500; color: #333333;  margin: 0;}
.product_searchdata_wrap .facets__disclosure-vertical { border-top: 0; border-bottom: 1px solid #d5d5d5; }
.product_searchdata_wrap .facets__summary { font-family: 'UNO', Noto Sans KR, sans-serif; color: #444;   cursor: pointer;  padding: 1rem 0; font-size: 1rem;  line-height: unset;  margin-bottom: 0;   text-transform: capitalize;}
.product_searchdata_wrap .facets__summary:hover .facets__summary-label {text-decoration: none;}
.product_searchdata_wrap .facets__summary .icon-caret {  height: 8px;  opacity: 0.75;}
.product_searchdata_wrap .facet-checkbox {  font-size: 14px; align-items: center;  padding: 0;}
.product_searchdata_wrap .facet-checkbox > svg, 
.product_searchdata_wrap .facet-checkbox > .svg-wrapper { margin-right: 10px;}
.product_searchdata_wrap .facet-checkbox .svg-wrapper { left: 3px;  top: 1px;width: 10px; height: 16px;}
.product_searchdata_wrap .facets-layout-list .facets__label:hover .facet-checkbox__text-label, 
.product_searchdata_wrap .facets-layout-list input:focus ~ .facet-checkbox__text-label {text-decoration: none;}
.product_searchdata_wrap .facets-layout-list.list-unstyled { display: flex; flex-direction: column; gap: 10px;}
.product_searchdata_wrap .facets__header-vertical {padding: 0;}
.product_searchdata_wrap .facets__price {padding: 0;}

.product_listnormal_wrap { flex: 1; width:100%}
.product_listnormal_wrap .xans-product-searchdata .xans-product-searchconditiondata {  padding: 0 !important;  border: 0;  display: flex;  justify-content: space-between;  align-items: flex-start;}
.product_listnormal_wrap .xans-product-searchdata .xans-product-searchconditiondata .btnRefresh {  font-family: 'Pretendard', 'UNO', sans-serif;  position: relative;  left: auto;  top: auto; display: flex;  align-items: center;  cursor: pointer;  width: 34px;  aspect-ratio: 1 / 1;  background: url(https://aquince72.cafe24.com/2023/icn_filter_remove2.svg) no-repeat center / contain #fff;  padding: 0;  line-height: 1;}
.product_listnormal_wrap .xans-product-searchdata .xans-product-searchconditiondata .btnRefresh:after {display:none}
.product_listnormal_wrap .xans-product-searchdata .xans-product-searchconditiondata {  padding: 0.25rem 0.5rem 0.25rem 7.75rem;}
.product_listnormal_wrap .xans-product-searchdata .xans-product-searchconditiondata .list {  display: flex;  flex-wrap: wrap; gap: 0.5rem; flex:1}
.product_listnormal_wrap .xans-product-searchdata .xans-product-searchconditiondata .list li {  margin: 0;  line-height: 1;  height: 1.5rem;  display: inline-flex;  align-items: center; gap: 0.25rem;  font-size: 0.75rem;  font-weight: 600; color: #555555;  padding: 0.25rem 0.5rem 0.25rem 0.75rem;  cursor: pointer;  font-family: 'Pretendard', 'UNO', sans-serif;  background: #fafafa; border: none; border-radius: 0; text-transform: uppercase;}
.product_listnormal_wrap .xans-product-searchdata .xans-product-searchconditiondata .list li > button {  cursor: pointer;  background: url(https://aquince72.cafe24.com/2023/icn_filter_remove.svg) no-repeat center / contain; width: 8px;  height: 8px;  margin: 0;}
.product_listnormal_wrap .xans-product-searchdata .xans-product-searchconditiondata .icoColor { border: 1px solid #ddd;}
.product_listnormal_wrap .prd_top_box { display: flex;align-items: flex-start;justify-content: space-between; gap: 1.5rem;  margin-bottom: 1.5rem;}
.product_listnormal_wrap .prd_top_box > .left {  flex: 1;}
.product_listnormal_wrap .prd_top_box > .right { display: flex;  align-items: center; gap: 0.25rem;}
.product_listnormal_wrap .prd_top_box > .right .xans-product-searchdata { margin-bottom: 0;}
.product_listnormal_wrap .prd_top_box > .right .sortingArea select {  border: 1px solid #cbcbcb;  border-radius: 2px; cursor: pointer; height: 35px; padding: 0 2.5rem 0 0.75rem; background: url(https://aquince72.cafe24.com/2023/arrow_down.svg) no-repeat right 0.75rem center / 0.875rem; font-size: 0.875rem; width: 130px;}
.product_listnormal_wrap .prd_top_box > .right .btnSorting { display: none;}
.product_listnormal_wrap .facets-layout-list .facets__label:hover .facet-checkbox__text-label, .product_listnormal_wrap .facets-layout-list input:focus ~ .facet-checkbox__text-label {text-decoration: none;}

.product_listnormal_wrap .prd_menu_box { display: flex;align-items:center;justify-content: space-between; gap: 1.5rem;  margin-bottom: 10px;}
.detail_category {position:relative;}
.detail_category .cate_btn { font-family: 'Pretendard', 'UNO', sans-serif;  height: 35px;  display: flex;  align-items: center;  gap: 12px; font-size: 14px; font-weight: 500;  color: #333333;  background: none; border: none; cursor: pointer;}
.detail_category .cate_btn .arrow { transition: all 0.4s ease; font-size: 18px; color: #666666;}
.detail_category.show .cate_btn .arrow { transform: rotate(180deg);} 
.detail_category .cate_popup { position: absolute; top: 40px; background: #fff; border-radius: 6px;  border: 1px solid #ddd; z-index: 50; opacity: 0; pointer-events: none; transition: all 0.4s ease;}
.detail_category.show .cate_popup { opacity: 1; pointer-events: unset;}
.detail_category .cate_popup .drop_menu { display: flex; flex-direction: column; gap: 4px; padding: 10px 0;}
.detail_category .cate_popup .drop_menu > li {width: 100%;}
.detail_category .cate_popup .drop_menu > li a { font-family: 'Pretendard', 'UNO', sans-serif; display: block; padding: 6px 14px; font-size: 14px; color: #333; white-space: nowrap;}
.detail_category .cate_popup .drop_menu > li a:hover {color:#a39264}
.product_listnormal_wrap .prd_menu_box > .right .sortingArea select {appearance: none;  border: 0;  cursor: pointer;  height: 35px;  padding: 0 1rem 0 0; background: url(https://aquince72.cafe24.com/2023/arrow_down.svg) no-repeat right center / 0.875rem;  font-size: 14px; color: #333333; width: 90px; border: 0;}

.product_listnormal_wrap .thumbnail { padding: 0; gap: 5rem 2rem;}
.product_listnormal_wrap .thumbnail li {padding: 0; width: calc((100% - 2rem* 3) / 4);}


/* product detail */
.product-header { padding:0px 0; margin:30px auto; line-height:1.45; position: unset; }
.product-header .colpadding { padding:20px; }

.product-images { font-size:0em; text-align:center; max-width: 50% !important; width: 50% !important; }
.product-images img { width:100%; mix-blend-mode:multiply; max-width:800px; }
.product-images .product__modal-opener {cursor:pointer;}
.product-images .product-media-container.constrain-height.media-fit-contain {  width: 100%;}


.prd_popup_wrap { position: fixed; left: 0; top: 0; z-index: 101; width: 100%; height: 100%; background: #ebebed !important;  opacity: 0; pointer-events: none; transition: all 0.4s;}
.prd_popup_wrap.on { opacity: 1; pointer-events: auto;}
.prd_popup_wrap .popup_close { cursor: pointer;  position: absolute;  right: 1.25rem;  top: 1.75rem; font-size: 1.5rem;  color: #000;  z-index: 10;  background: none;   border: none; padding: 0; width: unset;  border-radius: 0;}
.prd_popup_wrap .popup_inner { width: 100%; height: 100%;}
.prd_popup_wrap .popup_slider { width: 100%; height: 100%;}
.prd_popup_wrap .pop-thumbnail { width: 100%; height: 100%;}
.prd_popup_wrap .pop-thumbnail .flickity-viewport { width: 100%; height: 100%;}
.prd_popup_wrap .pop-thumbnail .slide-img { width: 100%; height: 100%; transition: transform .8s cubic-bezier(.42,0,0,1),-webkit-transform .8s cubic-bezier(.42,0,0,1);    display: flex; justify-content: center;}
.prd_popup_wrap .pop-thumbnail .slide-img img { width: auto; height: 100%; max-width: 100%;max-height: 100%; margin: 0; display: block; aspect-ratio: 1/1; object-fit: cover;}
.prd_popup_wrap .swiper-button-prev,
.prd_popup_wrap .swiper-button-next { width: 2rem; height: 2rem; font-size: 1.65rem; opacity: 1; color: #000; margin: 0; top: 50%; transform: translateY(-50%);}
.prd_popup_wrap .swiper-button-next {right:1.25rem;}   
.prd_popup_wrap .swiper-button-prev {left:1.25rem;}  
.prd_popup_wrap .pop-thumbnail-nav { display: flex; justify-content: flex-end; align-items: center; position: absolute; right: 20px;  bottom: 10px; width: calc(70px * 5); z-index: 20;}
.prd_popup_wrap .pop-thumbnail-nav .flickity-viewport { width: 100%;}
.prd_popup_wrap .pop-thumbnail-nav .slide-img { width: 70px; height: 85px; background: #ebebed; cursor: pointer;}
.prd_popup_wrap .pop-thumbnail-nav .slide-img img { width: 100%; height: 100%; margin: 0 auto; display: block; aspect-ratio: 1/1; object-fit: cover;  opacity: 0.5; transition: opacity .1s ease-in;}
.prd_popup_wrap .pop-thumbnail-nav .slide-img:hover img {opacity: 1;}
.prd_popup_wrap .pop-thumbnail-nav .slide-img.swiper-slide-thumb-active img{ opacity: 1;}

.product-info { padding:0px 0 0 40px !important; max-width: 50% !important; width: 50% !important; }
.product-info-box {  max-width:420px; margin:0 auto; }
.product-info .icons { display: flex; flex-wrap: wrap; align-items: center; gap: 0.5rem; margin-bottom: 0.5rem;}
.product-info .product-collection { opacity: 0.45; font-size: 1.125rem;}
.product-info .product-desc {  font-size: 1.5rem; padding-top:0.35rem;  font-weight: 500; margin-bottom: 0.25em;}
.product-info .product-name { font-size: 1.125rem; font-weight: 300; margin-bottom: 0.25rem;}
.product-info .product-price { font-size: 1.25rem; display: flex; flex-direction: column; margin-bottom: 1.5rem; line-height:1}
.product-info .product-price .price-desc {font-family: 'Pretendard','UNO',sans-serif;}
.product-info .product-price #span_product_price_text { font-size: 1.5rem; font-weight: 500;}

.product-info .product-mileage { margin-left:20px; color:#A9A9A9; font-size:10px; display:none; }
.product-info .product-item-wrap {font-size: 1.125rem; margin-bottom: 1.5rem;}
.product-info .product-item-wrap .item {display:none; font-size: 1.125rem;}
.product-info .product-item-wrap .item.product_price_css {display: block;}
.product-info .product-item-wrap .item.prd_price_sale_css {display: block; color: #b70000;}
.product-info .product-item-wrap * { font-family: 'Pretendard','UNO',sans-serif; font-size: 1.125rem; color: inherit; font-weight: normal; color: #000;}
.product-info .product-item-wrap .sale_on { opacity: 1; color: #000;}
.product-info .product-item-wrap .desc .discount { margin-left: 0.5rem;}
.product-info .product-item-wrap .desc .discount,
.product-info .product-item-wrap .desc .discount * { font-size: 1.35rem; font-weight: 500; color: #000;}
.product-spec { position: relative;}
.product-spec p br { display: none;}   
.product-spec ul { display: flex; flex-wrap: wrap;  gap: 1.25rem 0; padding: 0; color: #333333;}    
.product-spec li { position: relative; width: 100%; font-size: 1rem;}
.product-spec li b { display: block; font-weight: bold; color: #666;}
.product-spec li .tit { display: block; font-weight: bold; color: #000;}
.product-spec li label { opacity:0.35; text-transform:uppercase; display:block; }

.product-info .product_keyword { display: none;}
.product-info .prdt_detail_keyword { display: flex;  width: 100%; margin: 1.25rem 0 0; justify-content: flex-start; align-items: center; gap: 0.3rem; flex-wrap: wrap;}
.product-info .prdt_detail_keyword .btn_keyword { display: inline-block; padding: 0.45rem 0.5rem; line-height: 1; font-size: 0.938rem;  background-color: #dbdbdb; color: #555555; border-radius: 0.25rem; font-weight: 500;}
.product-info .prdt_detail_keyword .btn_keyword > a {color:inherit;}
.product-info .prdt_detail_keyword .btn_keyword > a:hover {color:#000;}
.product-info .prdt_detail_keyword .btn_keyword_divider { display: inline-block; opacity: 0.5; font-size: 1rem; line-height: 1.2; display:none}
.product-info .prdt_detail_keyword .btn_keyword_divider:last-child{display:none;}

.product-info variant-selects {display: flex; flex-direction: column; gap: 1rem; margin-top: 1.5rem;}
.product-info variant-selects .product-form__input--dropdown {  margin: 0; max-width: unset; min-width: unset; display: flex; flex-direction: column; gap: 0.5rem;}
.product-info variant-selects .product-form__input .form__label {  margin: 0;  font-size: 1.25rem;   color: #000; font-weight: 500;}
.product-info variant-selects .product-form__input .select::before,
.product-info variant-selects .product-form__input .select::after {display: none;}
.product-info variant-selects .product-form__input .select .select__select { height: 55px; width: 100%;  min-height: unset; min-width: unset;  line-height: 1;  padding: 0 1rem;  margin: 0.25rem 0 0.15rem;  border-radius: 0.75rem;  border: 0;   color: #666666;  font-size: 1rem;  font-weight: 600; box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.05) inset;  background-color: #f7f7f7; cursor: pointer;}

.product-info .product-form__quantity { margin: 1.5rem 0;  max-width: unset;   min-width: unset;   display: flex; flex-direction: column;  gap: 1.5rem;}
.product-info .product-form__quantity .quantity__wrap { display: flex;  align-items: center;  justify-content: space-between;}
.product-info .product-form__quantity .quantity__label { margin: 0; font-size: 1.25rem;  color: #000;  font-weight: 500;}
.product-info .product-form__quantity .quantity__cont { box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.05) inset;  background-color: #f7f7f7;  border-radius: 12px; overflow: hidden;}
.product-info .product-form__quantity .quantity__cont .quantity {min-height: unset;   height: 64px; color: #333; font-size: 1rem;  font-weight: 600; }
.product-info .product-form__quantity .quantity__cont .quantity::before,
.product-info .product-form__quantity .quantity__cont .quantity::after {display: none;}

.product-info .product-form__quantity .totalPrice { padding: 1.5rem 0; display: flex;   justify-content: space-between;  align-items: center;  border-top: 1px solid #e5e5e5;}
.product-info .product-form__quantity .totalPrice > strong { font-size: 1.875rem;   font-family: 'GTS', serif;  color: #000;  font-weight: 500;}
.product-info .product-form__quantity .totalPrice .price_box {  flex: 1;  font-weight: 500; vertical-align: middle;  text-align: right;  display: flex; align-items: center;  flex-wrap: wrap;  justify-content: flex-end;  gap: 5px 8px;  color: #000;  font-size: 1.875rem; font-family: 'GTS', serif;}
.product-info .product-form__quantity .totalPrice .price_box .price { position: relative; margin-left: 0.5rem;  opacity: 0.35;}

.product-info .tabs { width: 100%; display: flex;  flex-direction: column;  margin: 2rem 0;}
.product-info .tabs > li { position: relative; width: 100%; margin-bottom: 1rem; border-top: 1px solid #000; overflow: hidden;}
.product-info .tabs > li .acc_tit { position: relative; font-size: 1.25rem;  font-weight: 600; color: #000000; padding: 0.625em 0; padding-right: 2.75rem; cursor: pointer; display: flex; align-items: center; justify-content: space-between;}
.product-info .tabs > li > .acc_tit .txt {flex:1}
.product-info .tabs > li > .acc_tit .plus {position: absolute;right: 9px;top: 50%; transform: translateY(-50%); width: 1.25rem;height: 1.25rem; display: block;}
.product-info .tabs > li > .acc_tit .plus::before {content: ""; width: 100%; height: 2px; background-color: #000; position: absolute; left: 0px; top: 50%; transform: translateY(-50%); opacity:0.35;}
.product-info .tabs > li > .acc_tit .plus::after { content: ""; max-width: 2px; height: 100%; background-color: #000; width: 100%; margin: auto; transition: all 0.5s ease-in; display: block; opacity:0.35;}
.product-info .tabs > li.show > .acc_tit .plus::after { transform: rotate(90deg);}
.product-info .tabs .tabs_ul { display: none; margin-top: 1rem; color: #000;}
.product-info .tabs .tabs_ul .tabs-content, 
.product-info .tabs .tabs_ul .tabs-content * { font-family: 'UNO','Pretendard',sans-serif!important;}
.product-info .tabs .tabs_ul .tabs-content, 
.product-info .tabs .tabs_ul .tabs-content p, 
.product-info .tabs .tabs_ul .tabs-content span { font-size: 14px !important;}

.product-info .product-button {  margin: 0; overflow: hidden; display: flex !important; flex-wrap: wrap;}
.product-info .product-button .product-form { width: 100%;}
.product-info .product-button .product-form__buttons { max-width: 100%; display: flex;}
.product-info .product-button .product-button::before,
.product-info .product-button .product-button::after {display: none;}
.product-info .product-button .add-to-bag {  height: 60px; line-height: 60px;  display: block;  border: 1px solid #a39264;  text-transform: uppercase;  font-size: 1.25rem;  text-align: center;  width: 60%; flex: 1; }
.product-info .product-button .soldout { height:60px; line-height:60px; display:block; border:1px solid #a39264; text-transform:uppercase; font-size:1.25rem; text-align:center; width:100%;} 
.product-info .product-button .soldout + .shopify-payment-button {display: none;}
.product-info .shopify-payment-button {width: 40%}
.product-info button.shopify-payment-button__button--unbranded { width: 100%; height:60px; line-height:60px; display:block; border:1px solid #a39264; background: none !important; color: #000; text-transform:uppercase; font-size:0; text-align:center; border-left:0; display: flex; align-items: center; justify-content: center; }
.product-info button.shopify-payment-button__button--unbranded::before { content: "Buy Now";  font-size: 1.25rem;  position: relative;  top: unset;  right: unset;  bottom: unset; left: unset; z-index: unset;  border-radius: 0; box-shadow: none;}
.product-info button.shopify-payment-button__button--unbranded::after {display: none;}

.product-info .productSet { margin:20px 0 0; border-top:1px solid #e5e5e5; }
.product-info .productSet .title { position: relative; padding: 1.25rem 0; box-sizing: border-box;  display: flex; justify-content: space-between;  align-items: center; gap:1rem; margin: 0;}
.product-info .productSet .title .accordion__title { font-size:1rem; font-weight:500; flex:1; margin-bottom: 0; max-width: unset; min-height: unset;  color: #000;}
.product-info .productSet .title .accordion__title .txtInfo { color: #868686; font-size: 0.813rem; font-weight: 400; margin-left: 0.625rem;}
.product-info .productSet.additional .toggle {font-size: 1.25rem; color: #000; display: flex; align-items: center; justify-content: center;}
.product-info .productSet .complementary-slide > ul { display: flex; flex-direction: column; gap: 1rem;}
.product-info .productSet .complementary-slide > ul > li { position: relative;  margin: -1px 0 0; border: 1px solid #e5e5e5; border-radius: 0.75rem;}
.product-info .productSet .card.card--horizontal { gap: 1.25rem; padding: 1.25rem;}
.product-info .productSet .card.card--horizontal .card__inner { width: 100px;}
.product-info .productSet .card--horizontal .card__heading, 
.product-info .productSet .card--horizontal .price__container .price-item { font-size: 16px; line-height: 1.3; color:#000; font-weight: 400;}
.product-info .productSet .card--horizontal .card__heading a::after {display: none;}
.product-info .productSet .card--horizontal .quick-add { margin-left: auto;}
.product-info .productSet .card--horizontal .quick-add .icon-plus { width: 1rem;}
.product-info .productSet .card--horizontal .quick-add .icon-arrow { width: 1.2rem;}
.product-info .productSet .quick-add__submit { font-size: 16px; line-height: 1.3;  color: #000;  font-weight: 400; padding: 0.5rem 0; min-height: inherit; }
.product-info .productSet .slider-button {  height: unset;  width: 30px;  aspect-ratio: 1 / 1;}
.product-info .productSet .slider-button .svg-wrapper {margin: 0;}
.product-info .productSet .slider-counter__link--numbers { font-size: 16px;  padding: 12px 14px; transform: scale(1);}
quick-add-modal .product:not(.featured-product) .product__view-details { margin-top: 2.5rem; font-weight: 300; font-size: 20px; margin-left: auto;}

.detail_fixed_toggle_btn_wrap { position: fixed; bottom: 0;  left: 50%;  padding: 0.65rem;  z-index: 9;  display: flex;  flex-wrap: nowrap;  gap: 0.5rem;  overflow: hidden; width: 100%;  max-width: 600px;  transform: translateX(-50%);  transition: all .3s;}
body.fixed .detail_fixed_toggle_btn_wrap {  bottom: 0;}
.detail_fixed_toggle_btn_wrap .detail_fixed_toggle_btn { font-size: 1.75rem; padding: 0 1.5rem; height: 62px; line-height: 60px; border-radius: 1rem; text-align: center; font-family: 'Pretendard', 'UNO', sans-serif; background: #a39264;  border: 1px solid transparent;  color: #fff;  transition: all 0.2s; box-shadow: 0px 4px 4px 0px rgba(0,58,64,0.10);  display: flex;  align-items: center; justify-content: center;}
.detail_fixed_toggle_btn_wrap .detail_fixed_toggle_btn.buy { flex: 1;}
.detail_fixed_toggle_btn_wrap .detail_fixed_toggle_btn.top { width: 62px; height: 62px; padding: 0!important; font-size: 1.15rem;}

.detail_fixed_pannel_bg {  position: fixed;  width: 100%;  height: 100%; left: 0; top: 0;  background: rgba(0,0,0,0.55);  z-index: 8; transition: all .4s; opacity:0; pointer-events: none;}
body.fixed .detail_fixed_pannel_bg.on { opacity:1;  pointer-events: auto;}


.cart-notification__links .button::before,
.cart-notification__links .button::after {display: none;}
.cart-notification__links .button.button--primary {background:#a39264;}
.cart-notification__links .button.button--secondary {border: 1px solid #a39264; color: #a39264;}