
/* 메인 */
.home-title {  font-family: "freight-big-pro", serif; font-size: 3.125rem; line-height: 1.2; margin-bottom: 3.75rem;}
.home-inner { width: 90%; margin: 0 auto; padding: 0 2.5rem;}

.home-visual { position: relative; width: 100%;}
.home-visual .visual-box { position: relative;}
.home-visual .visual-box .imgbox { display: flex; width: 100%;}
.home-visual .visual-box .imgbox > img { width: 100%;}
.home-visual .visual-box .txtbox { position: absolute; bottom: 100px;  left: 50%;transform: translate(-50%,0); color: #fff; text-align: center; z-index: 10; display: flex;  flex-direction: column; align-items: center; gap: 50px;}
.home-visual .visual-box .txtbox > p { font-size: 1.625rem; color: #fff;}
.home-visual .visual-box .txtbox > a { border-radius: 1rem;  font-size: 1rem; max-width: 220px;  width: 100%;  color: #fff;  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15); line-height: 28px; text-decoration: underline; text-underline-offset: 6px;}
.home-visual .visual-box .txtbox > a:hover { opacity: 0.7;}
.pc-main-visual .pc-main-visual-pag { bottom: 2.5%; left: 50%; transform: translateX(-50%);  display: flex; align-items: center; justify-content: center;}
.pc-main-visual .pc-main-visual-pag .swiper-pagination-bullet { border: 0; width: 8px; height: 8px; border-radius: 50px; opacity: 1; background: transparent; border: 1px solid #fff; margin: 4px; transition: all 0.35s ease-in-out;}
.pc-main-visual .pc-main-visual-pag .swiper-pagination-bullet.swiper-pagination-bullet-active {background: #fff;}

.home-swiperbox {position:relative; margin-bottom:10rem; overflow: hidden;}
.home-swiperbox .home-swiper{ width: calc(100% - 2.5rem * 2); overflow:visible;}
.home-swiperbox .home-swiper .swiper-box {width: calc((100% - 80px*3)/4); min-width: 20rem; display: flex;flex-direction: column; gap: 2.5rem;}
.home-swiperbox .home-swiper .swiper-box .imgbox { display: flex; width: 100%; overflow:hidden;}
.home-swiperbox .home-swiper .swiper-box .imgbox > img { width: 100%; transition: transform .75s  cubic-bezier(.215, .61, .355, 1), -webkit-transform .75s 
cubic-bezier(.215, .61, .355, 1);}
.home-swiperbox .home-swiper .swiper-box:hover .imgbox > img { -webkit-transform: scale3d(1.05, 1.05, 1); transform: scale3d(1.05, 1.05, 1); }
.home-swiperbox .home-swiper .swiper-box .txtbox {display:flex; flex-direction:column; align-items:flex-start; gap: 1rem;}
.home-swiperbox .home-swiper .swiper-box .txtbox .txt {position:relative;  font-family: 'Pretendard','UNO', sans-serif, serif;  font-size: 1.5rem;  line-height: 1.3;  color: #242222;  padding-bottom: 0.375rem; overflow: hidden; display: inline-block;}
.home-swiperbox .home-swiper .swiper-box .txtbox .txt::after { background-color: #242222;  bottom: 0;  content: "";  height: .0625rem;  left: 0;  position: absolute;  width: 100%;}
.home-swiperbox .home-swiper .swiper-box:hover .txtbox .txt::after  { -webkit-animation: trace-in .25s cubic-bezier(.215, .61, .355, 1), trace-out .25s cubic-bezier(.215, .61, .355, 1) .25s;  animation: trace-in .25s cubic-bezier(.215, .61, .355, 1), trace-out .25s cubic-bezier(.215, .61, .355, 1) .25s;}
@keyframes  trace-in {
    0% {-webkit-transform: translateZ(0); transform: translateZ(0);}
    100% { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}
}
@keyframes  trace-out {
    0% { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
    100% { -webkit-transform: translateZ(0); transform: translateZ(0)}
}
.home-swiperbox .home-swiper .swiper-box .txtbox .desc {font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 0.938rem;  line-height: 1.6;  color: #242222;}
.swiper-scrollbar.home-scrollbar { position: relative; left: auto;  bottom: auto;  top: auto;  width: 100%;  height: 2px;  background: rgba(36, 34, 34, .1); margin-top:5rem; transition: height .2s cubic-bezier(.215, .61, .355, 1) !important;  will-change: height; border-radius:0; cursor: grab;}
.swiper-scrollbar.home-scrollbar .swiper-scrollbar-drag{position: relative; background: #000; border-radius:0; display: block;}

.home-collection { width:100%;}
.home-collection .swiper-slide .contbox { display: flex; align-items: center; gap: 1.25rem;}
.home-collection .swiper-slide .contbox .imgbox { display: flex; width: 50%;  max-width: 590px;aspect-ratio: 1 / 0.5423728;}
.home-collection .swiper-slide .contbox .imgbox > img { width: 100%; height: 100%; object-fit: cover;}
.home-collection .swiper-slide .contbox .txtbox { flex: 1; display: flex;  flex-direction: column; justify-content: space-between; align-self: stretch;}
.home-collection .swiper-slide .contbox .txtbox .titbox {display: flex;  flex-direction: column;}
.home-collection .swiper-slide .contbox .txtbox .titbox > .tit {font-family: 'Pretendard', 'UNO', sans-serif; font-size: 1.125rem; line-height: 1.75; color: #000;  font-weight: 700;  display: flex; align-items: center; gap: 0.375rem;text-transform: uppercase;}
.home-collection .swiper-slide .contbox .txtbox .titbox > .tit .arrow {font-size: 0.75em;}
.home-collection .swiper-slide .contbox .txtbox .titbox > .desc {font-family: 'Pretendard', 'UNO', sans-serif; margin-top: 1.25rem;  font-size: 0.75rem; line-height: 1.5; color: #212121;  -webkit-box-orient: vertical; -webkit-line-clamp: 3; display: -webkit-box;  overflow: hidden;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail { padding: 0; gap: 1.25rem; display:none;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail li { padding: 0; width: calc((100% - 1.25rem* 3) / 4);}
.home-collection .swiper-slide .contbox .txtbox .thumbnail li .thumbnail-image { aspect-ratio: 1 / 1; background: #f7f7f7; border:1px solid #f7f7f7}
.home-collection .swiper-slide .contbox .txtbox .thumbnail li .iconbox {display:none}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info { padding: 0; margin-top: 0.75rem;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info p.name {  color: #212121; font-weight: 500; font-size: 0.875rem;  overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box;display: none; }
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info p.name * { font: inherit !important; color: inherit !important; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info p.desc { margin: 0; overflow: hidden; font-size: 0.75rem;  color: #212121;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info p.desc a { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; color: inherit;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info .price {display:none;}
.home-collection .swiper-slide .contbox .txtbox .thumbnail .thumbnail-info .custom_opt1 {display:none;}
.home-collectionbox .main-collection-controls {display:none;}
.home-collectionbox .main-collection-controls .swiper-button-prev, 
.home-collectionbox .main-collection-controls .swiper-button-next { font-size: 2rem; color: #212121; top: calc(50% + 4rem);}
.home-collectionbox .main-collection-controls .swiper-button-prev { left: 0;}
.home-collectionbox .main-collection-controls .swiper-button-next { right:0; }

.home-instagrambox { position: relative; width: 90%; max-width: 1280px; padding: 0 2.5rem;  margin: 0 0 10rem;}
.home-instagrams {margin:0; width:100%;}
.home-instagrams .swiper-slide .contbox { display: flex; flex-direction:column; gap: 0.75rem;}
.home-instagrams .swiper-slide .contbox .imgbox { display: flex; width: 100%; aspect-ratio: 1/1;overflow: hidden;}
.home-instagrams .swiper-slide .contbox .imgbox .link {display:flex; width:100%; height:100%;}
.home-instagrams .swiper-slide .contbox .imgbox .link > img { width: 100%; height: 100%; object-fit: cover;}
.home-instagrams .swiper-slide .contbox .thumbnail { padding: 0; flex-direction:column; display:none;}
.home-instagrams .swiper-slide .contbox .thumbnail li { padding: 0.25rem 0; width:100%;display:flex; align-items: center;; gap:0.625rem}
.home-instagrams .swiper-slide .contbox .thumbnail li .thumbnail-image { width:48px; aspect-ratio: 1 / 1; background: #f7f7f7;}
.home-instagrams .swiper-slide .contbox .thumbnail li .iconbox {display:none}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info { padding: 0; flex:1;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info p.name { color: #212121; font-weight: 500; font-size: 0.875rem;overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; }
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info p.name * { font: inherit !important; color: inherit !important;overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info p.desc { margin: 0; overflow: hidden; font-size: 0.75rem;  color: #212121;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info p.desc a { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; color: inherit;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info .price {display:none;}
.home-instagrams .swiper-slide .contbox .thumbnail .thumbnail-info .custom_opt1 {display:none;}
.home-instagrambox .main-instagram-controls .swiper-button-prev, 
.home-instagrambox .main-instagram-controls .swiper-button-next { font-size: 2rem; color: #212121; top: calc(50% + 4rem);}
.home-instagrambox .main-instagram-controls .swiper-button-prev { left: 0;}
.home-instagrambox .main-instagram-controls .swiper-button-next { right:0; }

.home-collection.home-swiper .swiper-box {width:calc((100% - 80px)/2); min-width:35rem}
.home-collection .swiper-slide .contbox { width: calc(100% - 2.5rem * 2); margin:0 auto; align-items: unset; flex-direction: column; gap: 2.5rem;}
.home-collection .swiper-slide .contbox .imgbox { max-width: unset; aspect-ratio: unset;}
.home-collection .swiper-slide .contbox .txtbox { justify-content: unset; align-self: unset;}

.home-collectionbanner {position:relative; padding:10rem 0; background: #f5f3ec; margin-bottom:10rem}
.home-collectionbanner .contbox { width: calc(100% - 2.5rem * 2); margin:0 auto; display: flex;  flex-direction: column; gap: 2rem;}
.home-collectionbanner .contbox .imgbox { width: 100%;  display: flex;  align-items: center;  justify-content: center; }
.home-collectionbanner .contbox .imgbox > img{width:100%}
.home-collectionbanner .contbox .txtbox { width: 100%; display: flex; flex-direction: column; align-items: flex-start;}
.home-collectionbanner .contbox .txtbox .tit { font-family: "freight-big-pro", 'Pretendard', 'UNO', sans-serif, serif; font-size: 3.125rem;  line-height: 1.1; color: #242222; font-weight: 700;}
.home-collectionbanner .contbox .txtbox .desc {font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 1.5rem;  line-height: 1.6;  color: #242222; margin-top:1rem}
.home-collectionbanner .contbox .txtbox .desc .fw300 {font-weight: 100;}
.home-collectionbanner .contbox .txtbox .link { font-family: 'Pretendard', 'UNO', sans-serif, serif; margin-top: 1.5rem;  display: inline-flex; align-items: center; justify-content: center; gap: 0.5rem;  border: 1px solid #242222; color: #242222;  font-size: 1rem;  font-weight: 500;  line-height: 1;  height: 3rem;  padding: 0 1.25rem;  border-radius: 6.25rem;  transition: all .15s ease-in-out; text-transform: capitalize; text-decoration: none;}
.home-collectionbanner .contbox .txtbox .link:hover { background: #a39264; color: #fff; border-color:#a39264}
.home-collectionbanner .contbox .txtbox .link i { font-size: 1.2em; margin-top: 0.125em;}

.home-newbox .home-swiper .thumbnail { flex-wrap:nowrap; padding:0}
.home-newbox .home-swiper .swiper-box {gap:0; min-width:20rem}
.home-newbox .home-swiper .swiper-box::before { background-color: rgba(36, 34, 34, .15);  content: "";  height: 100%;  left: -2.5rem;  position: absolute; top: 0; width: 1px;}
.home-newbox .home-swiper .swiper-box:nth-child(1)::before {display:none;}
.home-newbox .home-swiper .swiper-box .thumbnail-image { width: 100%;}
.home-newbox .home-swiper .swiper-box .thumbnail-image a { display: flex;  align-items: center;  justify-content: center;  overflow: hidden;}
.home-newbox .home-swiper .swiper-box .thumbnail-image a .thumb-img { width: 100%; transition: transform .75s  cubic-bezier(.215, .61, .355, 1), -webkit-transform .75s 
cubic-bezier(.215, .61, .355, 1);}
.home-newbox .home-swiper .swiper-box:hover .thumbnail-image a .thumb-img  { -webkit-transform: scale3d(1.05, 1.05, 1); transform: scale3d(1.05, 1.05, 1); }

.home-instagrambox { position: relative;  width: 100%;  max-width: 100%;  margin: 0 0 10rem;}
.home-instagrambox .home-inner {  position: relative; padding: 0;}
.home-instagrambox .swiperobx  { position: relative;}
.home-instagrambox .home-instagrams { position: relative;  width: calc(100% - 2.5rem * 2); margin: 0 auto;}
.home-instagrambox .main-instagram-controls {  position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%, -50%);  width: 100%;  z-index: 10;  pointer-events:none;
    display: flex; align-items: center; justify-content: space-between;}
.home-instagrambox .main-instagram-controls .swiper-button-prev,
.home-instagrambox .main-instagram-controls .swiper-button-next {position:relative; left:auto; right:auto; top:auto; margin:0; pointer-events:all;}


/* 공지사항 */
.board_title { font-family: 'UNO', Noto Sans KR, sans-serif; font-size: 14px; color: #222;  font-weight: 700;  line-height: 1; letter-spacing: 0.15em; text-align: center; margin-bottom: 50px;}
.board_tbl { font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 14px; line-height: 1.4; color: #000; }
.board_tbl thead tr { background-color: #f6f6f6;}
.board_tbl thead tr th { height: 30px;  padding: 15px 10px 16px;  font-weight: 400;  text-align: center;}
.board_tbl tbody tr { border-bottom: 1px solid #e5e5e5;}
.board_tbl tbody tr td {  padding: 15px 10px 16px;  text-align: center;  color: #555555;}
.board_tbl tbody tr td.title_td { padding-left: 20px;  padding-right: 20px; text-align: left;}
.board_tbl tbody tr td.title_td a {color:inherit;}

.board_btn {padding: 12px 20px; height: 40px; font-size: 13px;  box-sizing: border-box;  border: 1px solid #bcbcbc;  line-height: 1;  font-weight: normal;   text-decoration: none; vertical-align: middle;  word-spacing: -0.5px;  letter-spacing: 0;  text-align: center;  white-space: nowrap;  color: #000;  background-color: #fff;  border-radius: 100px;}

.board-admin p { font-family: 'Pretendard', 'UNO', sans-serif; font-size: 15px; color: #333;}
.board-admin select { background: #fff; cursor:pointer;}

.xans-board-paging.paging { font-size: 14px; font-family: 'Pretendard', 'UNO', sans-serif;}

.board-detail .xans-board-title { font-weight: 500; font-size: 32px; color: #1a1a1a; font-family: 'Pretendard', 'UNO', sans-serif; margin-bottom: 10px;}
.board-detail-view { margin: 30px 0 0;}
.board-detail-view .col.title {  font-size: 18px; line-height: 1.4; font-weight: normal;}
.board-detail-view .info { margin-top: 15px;  display: flex;  align-items: center;  gap: 8px;  font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 13px;  color: #000;}
.board-detail-view .info .hit { padding: 0 8px;  color: #6d6d6d;}
.board-detail-contents { margin-top: 30px;  padding: 30px 20px;  border-top: 1px solid #eaeaea; min-height: 400px;}
.board-detail-view .button-box a { margin-left: 0 !important; height: 50px; padding: 0 45px; line-height: 50px;  font-size: 14px;  font-weight: normal;  text-decoration: none; vertical-align: middle;   letter-spacing: 0;  text-align: center;  white-space: nowrap;  color: #000;  border-radius: 16px;  background-color: #fff;  border: 1px solid #b3b3b3;}

.xans-board-movement { border: 0;  margin: 20px 0 0;}
.xans-board-movement li { font-family: 'Pretendard', 'UNO', sans-serif; border-bottom: 0; font-size: 13px; color: #222; line-height: unset; padding: 0; display:flex;}
.xans-board-movement li strong, .xans-board-movement li a { padding: 10px 0; float:none;}
.xans-board-movement li strong {  width: 80px;  background: none !important;  font-weight: 600;  display: flex;  align-items: center;  gap: 8px;}
.xans-board-movement li strong i { font-size: 16px; line-height: 1; margin-top: 3px; color: #000;}
.xans-board-movement li a { width: 100%; border-left: 0; font-family: 'Pretendard', 'UNO', sans-serif;}

.form-submit-board input#subject { max-width: 100%; margin-bottom: 10px;}
.form-submit-board input#password { max-width: 300px;}
.board-wrap .button-box { display: flex; align-items: center; justify-content: space-between;}
.board-wrap .button-box a { display: inline-flex;  align-items: center;  justify-content: center;  padding: 12px 20px;   height: 50px;  font-size: 14px;  box-sizing: border-box;  border: 1px solid #bcbcbc;  line-height: 1;  font-weight: normal;   text-decoration: none; vertical-align: middle;  word-spacing: -0.5px; letter-spacing: 0;   text-align: center;  white-space: nowrap;  color: #000;  background-color: #fff;  border-radius: 16px;}
.xans-board-empty { font-family: 'Pretendard', 'UNO', sans-serif;  font-size: 15px;  font-weight: 500;  color: #999999;  display: flex; align-items: center;  justify-content: center;  width: 100%;  height: 300px;  border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}