
/* PC */
@media (min-aspect-ratio: 16.01/9)  {

	.page_section .answer_frame { padding-top: 5rem; gap: 3rem;}
	.page_section .answer_frame .a_titbox .title { gap: 2.2rem;  padding: 1rem 2.613rem 1rem 2.175rem;}
	.page_section .answer_frame .a_titbox .title .tit { font-size: 2.8rem}
	.page_section .answer_frame .a_titbox .title .icon { width: 2.8rem;}	
	.page_section .answer_frame .a_titbox .answer.answer_o .icon { width: 11.063rem;}
	.page_section .answer_frame .a_titbox .answer .text { width: 17.188rem;}
	.page_section .answer_frame .a_descbox .desccont .desc { font-size: 2.2rem;}
	.page_section .answer_frame .a_descbox .desccont .progress .txtbox .text { font-size: 1.7rem;}
	.page_section .answer_frame .a_descbox .desccont .progress .txtbox .percent {  font-size: 3.25rem;}
  

	.p1Sec .frame .txtbox {  padding: 2rem 3.5rem 2.2rem;}
	.p1Sec .frame .txtbox .tit { font-size: 3.8rem;}
	.p1Sec .frame .txtbox .desc { font-size: 2.613rem;}	
	.p1Sec .megaphone { top: 2%}
	.p1Sec .character { bottom: 5%;}

	.p2Sec .frame { padding-bottom: 3rem;}

	.p3Sec .imgbox1 { max-height: 68.5vh;}
	.p3Sec .imgbox2 { right: 12rem; max-height: 76vh;}

	.p5Sec .frame .txtbox { padding-top: 3.5rem;}
	.p5Sec .frame .txtbox .hashbox .tag {  height: 5rem;  font-size: 2.25rem;}
	.p5Sec .frame .txtbox .descbox {  gap: 0.5rem; margin-bottom: 1.25rem;}
	.p5Sec .frame .txtbox .descbox .tit {  font-size: 2.5rem;}
	.p5Sec .frame .txtbox .descbox .desc {  font-size: 1.9rem;}
	.p5Sec .frame .txtbox .infobox {  padding: 1.6rem 1.6rem 1.6rem 1.25rem; font-size: 1.9rem;}
	.p5Sec .frame .txtbox .infobox .arrow {  width: 4rem;}

	.p7Sec .imgbox { max-height: 67.5vh;}

	.p13Sec { padding: 8rem 7.5rem 5rem;}
	.p13Sec .frame .leftbox .imgbox { height: 18rem;}
	.p13Sec .frame .leftbox .txtbox { gap: 2rem;}
	.p13Sec .frame .rightbox { gap: 2.5rem; padding: 1.5rem 1.25rem;}
	.p13Sec .frame .rightbox .item .tit {  margin-bottom: 1.25rem;}
	.p13Sec .frame .rightbox .item2 .tit { margin-bottom: 1.25rem;}
	.p13Sec .frame .rightbox .item .desc { font-size: 1.5rem;}
	.p13Sec .frame .rightbox .item .button { margin-top: 2rem;  height: 4.5rem;}
	.p13Sec .frame .rightbox .item .badgebox { margin: 1.25rem}

}


@media screen and (max-width: 1900px) {    

    .page_section .answer_frame {padding-top: 5rem;gap: 5rem;}
	.short_view .page_section .answer_frame { gap: 3rem;}
	.page_section .answer_frame.ver2 {justify-content: unset;}
	.page_section .answer_frame .a_titbox .title { padding: 0.9375vw 2.3438vw 0.9375vw 1.9792vw; gap: 2.0313vw;}
	.page_section .answer_frame .a_titbox .title .tit {font-size: 2.6042vw;}
	.page_section .answer_frame .a_titbox .title .icon { width: 2.6042vw;}
	.page_section .answer_frame .a_titbox .answer { gap: 2.5vw;}
	.page_section .answer_frame .a_titbox .answer.answer_o .icon { width: 10.8854vw;}
	.page_section .answer_frame .a_titbox .answer.answer_o .text {width: 16.8229vw;}
	.page_section .answer_frame .a_titbox .answer.answer_x { margin-top: -2.9583vw;}
	.page_section .answer_frame .a_titbox .answer.answer_x .icon { width: 11.9271vw;}
	.page_section .answer_frame .a_descbox .desctit {  width: 7.2396vw;  left: 2.6042vw; top: -1.5625vw;}
	.page_section .answer_frame .a_titbox .answer.answer_x .text { width: 16.7188vw;}
	.page_section .answer_frame .a_descbox .desccont {  padding: 2.6042vw 2.6042vw 3.1250vw; min-height: 18.2292vw; gap: 1.3750vw;}
	.page_section .answer_frame .a_descbox .desccont .desc { font-size: 1.9792vw;}
	.page_section .answer_frame .a_descbox .desccont.ver2 .desc {font-size: 3.1250vw;}
	.page_section .answer_frame .a_descbox .desccont.ver3 .desc { font-size: 1.6667vw;}
	.page_section .answer_frame .a_descbox .desccont .desc2 { font-size: 1.9792vw;
    border-radius: 0.5208vw; padding: 1.0417vw 1.5625vw;}
	.page_section .answer_frame .a_descbox .desccont .desc2.ver2 { font-size: 1.8750vw;  padding: 0.6250vw 1.8229vw;}
	.page_section .answer_frame .a_descbox .desccont .progress .txtbox { gap: 1.5625vw; padding: 0.9167vw 1.5625vw;}
	.page_section .answer_frame .a_descbox .desccont .progress .txtbox .text {  font-size: 1.5625vw;}
	.page_section .answer_frame .a_descbox .desccont .progress .txtbox .percent {  font-size: 3.1250vw;}
	.page_section .answer_frame .a_note { font-size: 1.0417vw;}

	.page_section .q_box .tit { font-size: 2.0833vw;}
	.page_section .q_box .num { height: 6.2500vw; font-size: 2.6042vw;}
	.page_section .ox_selbox .ox_btn { width: 7.8125vw; padding: 0 1.5104vw;}
	
	.page_section .page_button { width: 10.4167vw; height: 4.1667vw; font-size: 1.5625vw; border-radius: 1.0417vw;}
	.page_section .page_button.ver2 { gap: 1.5104vw;}
	.page_section .page_button .arrow { width: 0.5208vw;}


	.p1Sec .frame .txtbox .tit { font-size: 3.2vw; white-space: nowrap;}
	.p1Sec .frame .txtbox .desc { font-size: 2.3438vw;}
	.p1Sec .character {width: 32%;}

	.p2Sec .frame .txtbox .tit { font-size: 2.3438vw;}
	.p2Sec .frame .txtbox .quiz_btn {  font-size: 2.6042vw;}
	.p2Sec .frame .txtbox .quiz_btn .arrow { width: 1.0938vw;}

	.short_view .p2Sec .frame { padding-bottom: 3rem;}

	.p5Sec .frame .txtbox { padding-top: 3.5rem;display: flex; flex-direction: column; gap: 1rem; }
	.short_view .p5Sec .frame .txtbox {gap: 0;}
	.p5Sec .frame .txtbox .hashbox {gap: 1.0417vw;}
	.p5Sec .frame .txtbox .hashbox .tag { height: 4.6875vw;  font-size: 2.0833vw;  padding: 0 2.3438vw;}
	.p5Sec .frame .txtbox .descbox .tit { font-size: 2.2917vw;}
	.p5Sec .frame .txtbox .descbox .desc { font-size: 1.7708vw;}
	.p5Sec .frame .txtbox .infobox {  padding: 1.6667vw 1.6667vw 1.6667vw 1.2500vw;  font-size: 1.7708vw; gap: 1.1458vw;}
	.p5Sec .frame .txtbox .infobox .arrow { width: 3.8021vw;}

	.p13Sec { padding: 8rem 7.5rem 5rem;}
	.p13Sec .frame .leftbox .imgbox { height: 20rem;}
	.p13Sec .frame .leftbox .imgbox .character { height: 125%;}
	.p13Sec .frame .leftbox .txtbox { gap: 2rem;}
	.p13Sec .frame .leftbox .txtbox .tit { font-size: 1.9792vw;}
	.p13Sec .frame .leftbox .txtbox .desc { font-size: 1.3542vw;}
	.p13Sec .frame .leftbox .txtbox .sub { font-size: 1.6667vw;}
	.short_view .p13Sec .frame .rightbox {gap: 3rem;}
	.p13Sec .frame .rightbox .item .tit { font-size: 1.5625vw;}
	.p13Sec .frame .rightbox .item .desc { font-size: 1.2500vw;}
	.p13Sec .frame .rightbox .item .button {  width: 8.0729vw; height: 3.7500vw;border-radius: 1.0417vw;  font-size: 1.5625vw;  padding: 0 1.3021vw; margin-top: 1.6667vw;}
	.p13Sec .frame .rightbox .item .sub { font-size: 1.1458vw;}
	.p13Sec .frame .rightbox .item .badgebox .tag { height: 2.3438vw; font-size: 1.1458vw;  padding: 0 0.9375vw;}
	.p13Sec .frame .rightbox .item .snsbox .link { width: 2.8646vw;  border-radius: 0.5208vw; padding: 0.6250vw;}

}


@media screen and (max-width: 1680px) {    

	.page_section .answer_frame .a_descbox .desccont {  min-height: 20vw;  justify-content: space-around;}
	.page_section .answer_frame .a_descbox .desccont .desc2.ver2 { padding: 1.0417vw 1.5625vw;}


	.p1Sec .frame .txtbox .tit { font-size: 3vw;}	    
	.p1Sec .frame .txtbox .desc {font-size: 2.25vw;}

	.p2Sec .frame .txtbox .tit { font-size: 2.25vw; }

	.p3Sec .imgbox2 { right: 6rem;max-height: 76vh;}

	.p13Sec .frame .leftbox { width: 45%;}

}


@media screen and (max-width: 1560px) {    

  	html {font-size: 15.5px !important;}  

}


@media screen and (max-width: 1440px) {    

  	html {font-size: 15px!important;}    

}


@media screen and (max-width: 1380px) {    

  	html {font-size: 14.5px !important;}        

}

@media screen and (max-width: 1200px) {    

  	html {font-size: 14px !important;}        

	.p2Sec .frame .txtbox .tit { font-size: 2.2vw;}

	.p5Sec .frame .txtbox .descbox { padding: 0;}

}



  
/* Tablet */
@media screen and (max-width: 1080px) {

  	html {font-size: 2.7778vw !important;}  

  	.pc {display: none !important;}
  	.tablet {display: block !important;}

	.wrap { height: unset; aspect-ratio: 1 / 2.16875;}


	/* header */
	.header .left_logo { width: 30%; max-width: 9.984375rem; margin-top: 1.0125rem;}
	.header .right_logo {width: 25%; max-width: 8.55rem; margin-top: 2.671875rem;  margin-right: 1.125rem;}


	/* page common */
	.page_section .inner { padding: 7.875rem 2.25rem 2.25rem;}

	.page_section .q_box { background: rgba(255, 255, 255, 0.2); flex-direction: column;  align-items: flex-start; /* gap: 1.40625rem; */ gap: 0.9rem; border-radius: 0.5625rem;  padding: 2.25rem 2rem;  min-height: 19.771875rem; border-color: rgba(255, 255, 255, 0.5); box-shadow: inset 0 0 2rem 0.25rem rgba(255, 255, 255, 0.4);}
	.page_section .q_box .num { height: 2.446875rem; font-size: 1.6875rem; padding: 0 0.7875rem; border-radius: 0.28125rem;}
	.page_section .q_box .tit { font-size: 2.109375rem; word-break: keep-all;}
	.page_section .q_box .tit .small {display: none;}

	.page_section .ox_selbox { bottom: 2.25rem; width: calc(100% - 2.25rem * 2); gap: 0; justify-content: space-between;}
	.page_section .ox_selbox .ox_btn {  width: 14.625rem;aspect-ratio: unset; height: 10.040625rem; border-radius: 0.5625rem; padding: 0; border-color: rgba(255, 255, 255, 0.5); box-shadow: inset 0 0 2rem 0.25rem rgba(255, 255, 255, 0.4);}
	.page_section .ox_selbox .ox_btn::after { width: 5.034375rem;}

	.page_section .answer_frame { padding-top: 9.675rem;  gap: 0; }
	.page_section .answer_frame .a_titbox { gap: 3.2rem; margin-bottom: 10.6875rem; }
	.page_section .answer_frame.ver2 .a_titbox { margin-bottom: 11.2rem;}
	.page_section .answer_frame .a_titbox .title { padding: 1.2rem 1.8rem 1.2rem 1.5rem;  gap: 1.125rem;  border-radius: 0.3375rem; }
	.page_section .answer_frame .a_titbox .title .tit {font-size: 2.109375rem;}
	.page_section .answer_frame .a_titbox .title .icon { width: 2.109375rem; }
	.page_section .answer_frame .a_titbox .answer { gap: 2.446875rem; }
	.page_section .answer_frame .a_titbox .answer .icon .img,
	.page_section .answer_frame .a_titbox .answer .text .img {width: 100%;}
	.page_section .answer_frame .a_titbox .answer.answer_o { margin-right: 0; margin-left: 1.4rem;}
	.page_section .answer_frame .a_titbox .answer.answer_o .icon { width: 10.771875rem;}
	.page_section .answer_frame .a_titbox .answer.answer_o .text { width: 13.246875rem;}
	.page_section .answer_frame .a_titbox .answer.answer_x { margin-top: -4.2rem;margin-left: 1rem; }
	.page_section .answer_frame .a_titbox .answer.answer_x .icon { width: 14.765625rem; }
	.page_section .answer_frame .a_titbox .answer.answer_x .text { width: 13.190625rem;  margin-left: -1rem; padding-bottom: 2.3rem;}
	.page_section .answer_frame .a_titbox .answer.answer_x .text .shadow {top: -15%;}
	.page_section .answer_frame .a_descbox { width: 100%; max-width: 100%; flex: 1;}
	.page_section .answer_frame .a_descbox .desctit { display: none; }
	.page_section .answer_frame .a_descbox .desccont { height: 100%; min-height: unset;  justify-content: unset; gap: 0; padding: 7.9rem 2.25rem 2.25rem; border: rgba(255, 255, 255, 0.5);  border-radius: 1.125rem 1.125rem 0 0; background: rgba(255, 255, 255, 0.4); box-shadow: none;}	
	.page_section .answer_frame .a_descbox .desccont.ver3 { padding: 7.6rem 2.25rem 2.25rem; gap: 0;}
	.page_section .answer_frame .a_descbox .desccont.ver4 { justify-content: unset;  padding-bottom: 2.25rem; padding-top: 8.05rem;}
	.page_section .answer_frame .a_descbox .desccont .desc { font-size: 1.6875rem;  line-height: 1.333;  text-align: center;  word-break: keep-all; color: #000000; }
	.page_section .answer_frame .a_descbox .desccont.ver2 .desc { font-size: 2.8125rem; line-height: 1.2; min-height: 20rem; }
	.page_section .answer_frame .a_descbox .desccont.ver3 .desc {font-size: 1.40625rem; line-height: 1.3; margin: 0 -0.5rem;}
	.page_section .answer_frame .a_descbox .desccont.ver4 .desc { font-size: 1.40625rem; line-height: 1.3;}
	.page_section .answer_frame .a_descbox .desccont .desc2 { background: #0e383e; font-size: 1.40625rem; line-height: 1.3; border-radius: 0.5625rem;  text-align: center; margin-top: 1.7rem; padding: 0.75rem 0; }
	.page_section .answer_frame .a_descbox .desccont .desc2.ver2 {font-size: 1.40625rem; line-height: 1.3; border-radius: 0.5625rem; text-align: center;  margin-top: 3.3rem;  padding: 1.6rem 0;}
	.page_section .answer_frame .a_descbox .desccont .progress { margin-top: 1.8rem;  height: 2.5768125rem;  border-radius: 0.28125rem;  overflow: hidden;}
	.page_section .answer_frame .a_descbox .desccont .progress .txtbox {     justify-content: flex-end; gap: 0; width: 13.2rem; height: 100%; border-radius: 0.28125rem; padding: 0 0.984375rem 0.25rem;}
	.page_section .answer_frame .a_descbox .desccont .progress .txtbox .text { display: none;  }
	.page_section .answer_frame .a_descbox .desccont .progress .txtbox .percent {font-size: 1.40625rem;}
	.page_section .answer_frame .a_descbox .desccont .mob_note {font-size: 0.675rem; line-height: 1.6; font-weight: 500; color: #000000; text-align: center;margin-top: 1.125rem;}
	.page_section .answer_frame .a_descbox .character.cha1 { right: auto; bottom: auto;left: 45%; top: -21.25%; transform: translateX(-50%); width: 54%;max-width: 16.790625rem;}
	.page_section .answer_frame .a_descbox .character.cha2 { right: auto; bottom: auto;  left: 50%; top: -24%; transform: translateX(-50%); width: 61%; max-width: 18.984375rem;}
	.page_section .answer_frame .a_note { display: none; }

	.page_section .page_button {right: auto; left: 50%; bottom: 2.25rem; transform: translateX(-50%); width: calc(100% - 4.5rem * 2);  height: 5.540625rem; font-size: 2.25rem; border-radius: 0.421875rem; justify-content: center; gap: 2.19375rem; padding: 0;  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.7), 0 0.8rem 1rem rgba(0, 0, 0, 0.6); background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent), #5320a8;}
	.page_section .page_button.ver2 { width: calc(100% - 4.5rem * 2); gap: 2.19375rem;  }
	.page_section .page_button::before {width: calc(100% - 1px);}
	.page_section .page_button .arrow {width: 0.82884375rem; }

	

	/* page 01 */
	.p1Sec .logo {display: none;}
	.p1Sec {padding: 2.25rem;}
	.p1Sec .frame {background: url(../img/p1_bg_mob.png) no-repeat center top/cover; padding: 2.25rem; border-radius: 0 0 1.125rem 1.125rem;  margin-top: -1.125rem; padding-top: 68vw;; align-items: flex-start;}
	.p1Sec .frame::before {content: ""; position: absolute; left: 50%; top: 80vw; transform: translateX(-50%); background: url(../img/p1_txtbox_mob_shadow.png) no-repeat center / contain;  width: 80%; aspect-ratio: 1 / 0.7844; mix-blend-mode: multiply; }
	.p1Sec .frame .txtbox {position: relative; width: 100%; max-width: 100%; background: url(../img/p1_txtbox_mob.png) no-repeat center / 100% 100%; aspect-ratio: 1 / 0.7844; text-align: center; gap: 1rem; padding: 1.2rem 1rem 4.25rem; word-break: keep-all; z-index: 10;}
	.p1Sec .frame .txtbox .tit {font-size: 3.234375rem; line-height: 1.13; white-space: normal;  }
	.p1Sec .frame .txtbox .desc {font-size: 1.96875rem; line-height: 1.2857; }
	.p1Sec .megaphone {left: auto;right: 0; top: 16.5%; width: 62%;max-width: 22.3875rem;max-height: unset;}
	.p1Sec .character {right: 0; bottom: 0%; width: 88%; max-width: 28.378125rem; max-height: unset; }

	/* page 02 */
	.p2Sec { background-image: url(../img/p2_bg_mob.png);}
	.p2Sec .img { display: none;}
	.p2Sec .frame .txtbox { flex-direction: column; padding: 2.25rem; background: rgba(255, 255, 255, 0.7);border-color: rgba(255, 255, 255, 0.5);}
	.p2Sec .frame .txtbox .tit {font-size: 1.6875rem;  text-align: center;  word-break: keep-all; }
	.p2Sec .frame .txtbox .quiz_btn { position: relative; font-size: 2.25rem; justify-content: center; gap: 1.74375rem; width: 100%; max-width: 100%; height: 5.540624rem;border-radius: 0.421875rem; padding: 0; overflow: unset;}
	.p2Sec .frame .txtbox .quiz_btn::after { content: ""; position: absolute; left: 50%;top: -3%; transform: translateX(-50%); background: url(../img/p2_btn_shadow.png) no-repeat center / contain; width: 101.525%; aspect-ratio: 1 / 0.29; z-index: 0;}
	.p2Sec .frame .txtbox .quiz_btn .arrow { width: 0.8288rem;}

	/* page 03 */
	.p3Sec { background: url(../img/p3_bg_mob.png) no-repeat center / cover; }
	.p3Sec .imgbox1, .p3Sec .imgbox2 {display: none;}

	/* page 04 */
	.p4Sec .answer_frame { padding-bottom: 0;}
	.p4Sec .p4_desc {font-size: 1.6875rem; line-height: 1.333; margin-right: -2.25rem;  margin-left: -1.5rem; text-align: center; margin-top: 1rem; font-weight: 500; }

	/* page 05 */
	.p5Sec .frame {  flex-direction: column; gap: 0; padding: 7.65rem 2.25rem 2.25rem;}
	.p5Sec .frame .imgbox { width: 84%; max-width: 26.465625rem; max-height: unset;  margin: -2.5rem auto 0; transform: translateX(-2.8rem);}
	.p5Sec .frame .txtbox {  padding: 0; gap: 0; margin-top: -1.3rem; }
	.p5Sec .frame .txtbox .hashbox {  gap: 0.65rem 0.3rem; max-width: 80%;}
	.p5Sec .frame .txtbox .hashbox .tag { height: 2.053rem;font-size: 0.95rem; padding: 0 1.25rem 0 1.125rem; border-width: 1px; font-weight: 600;}
	.p5Sec .frame .txtbox .descbox { padding: 0; margin-top: -0.3rem; gap: 0.3rem; padding-left: 0.6rem; margin-bottom: 0.9rem; }
	.p5Sec .frame .txtbox .descbox .tit {font-size: 1.63125rem;line-height: 1;}
	.p5Sec .frame .txtbox .descbox .desc { font-size: 1.265625rem; line-height: 1.333;}
	.p5Sec .frame .txtbox .infobox { font-size: 1.265625rem; text-align: center; padding: 1rem 0.5rem; border-radius: 0.5625rem; }
	.p5Sec .frame .txtbox .infobox .arrow { display: none; }

	/* page 06 */
	.p6Sec .answer_frame { padding-bottom: 0;}
	
	/* page 07 */
	.p7Sec { background: url(../img/p7_bg_mob.png) no-repeat center / cover; }
	.p7Sec .imgbox {display: none;}

	/* page 08 */
	.p8Sec .answer_frame { padding-bottom: 0;}

	/* page 09 */
	.p9Sec .answer_frame { padding-bottom: 0;}

	/* page 10 */
	.p10Sec { background: url(../img/p10_bg_mob.png) no-repeat center / cover; }
	.p10Sec .imgbox {display: none;}

	/* page 11 */
	.p11Sec .answer_frame { padding-bottom: 0;}

	/* page 12 */
	.p12Sec .answer_frame { padding-bottom: 0;}

	/* page 13 */
	.p13Sec {padding: 0 2.25rem 2.25rem; }
	.p13Sec .frame { flex-direction: column; gap: 2rem;}
	.p13Sec .frame .leftbox { width: 100%;  max-width: 100%; }
	.p13Sec .frame .leftbox::before { content: ""; background: url(../img/p13_txtbox_mob_shadow.png) no-repeat center / cover; aspect-ratio: 1 / 0.711; width: 111%; position: absolute; left: 50%; top: 24.5%; transform: translateX(-50%);  z-index: 10;  mix-blend-mode: multiply; }
	.p13Sec .frame .leftbox .imgbox { width: 73%; max-width: 22.978125rem; margin-left: 2.8rem; height: unset;}
	.p13Sec .frame .leftbox .imgbox .bg {display: none;}
	.p13Sec .frame .leftbox .imgbox .character { position: relative; left: unset; bottom: auto; transform: none;  max-width: 100%; height: unset; }
	.p13Sec .frame .leftbox .txtbox {position: relative; background: url(../img/p13_txtbox_mob.png) no-repeat center / 100% 100%;  gap: 0; padding: 2.5rem 2.25rem 2rem; margin-top: -7rem; z-index: 10;  border-radius: unset; }
	.p13Sec .frame .leftbox .txtbox .tit {font-size: 2.109375rem; line-height: 1.2;  margin-bottom: 0.25rem;  }
	.p13Sec .frame .leftbox .txtbox .desc {font-size: 1.125rem; line-height: 1.5; font-weight: 500; margin-bottom: 0.5rem;}
	.p13Sec .frame .leftbox .txtbox .sub { width: 100%; font-size: 1.546875rem; line-height: 1.27; color: #fff; background: #0e383e;  padding: 0.98rem 0 0.7rem; border-radius: 0.28125rem; }
	.p13Sec .frame .leftbox .txtbox .sub .tablet_view {display: inline-block;} 
	.p13Sec .frame .leftbox .txtbox .sub .pc_view {display: none;} 
	.p13Sec .frame .rightbox { justify-content: unset; background: transparent; border-radius: 0; gap: 1.9rem; padding: 0;}
	.p13Sec .frame .rightbox .item .tit { font-size: 1.6875rem;margin-bottom: 0.4rem; }
	.p13Sec .frame .rightbox .item .desc {font-size: 1.06875rem; }
	.p13Sec .frame .rightbox .item .button { width: 8.971875rem;  height: 3.99375rem;  border-radius: 0.5625rem; font-size: 1.40625rem; padding-left: 1.378125rem; padding-right: 1.546875rem; margin-top: 1.12rem;}
	.p13Sec .frame .rightbox .item .button .arrow {width: 0.5rem;}
	.p13Sec .frame .rightbox .item .badgebox { gap: 0.45rem;}
	.p13Sec .frame .rightbox .item .badgebox .tag { height: 2.165625rem; font-size: 1.07rem; background: #bfe8ee; padding-left: 0.609rem; padding-right: 1.09rem; }
	.p13Sec .frame .rightbox .item .sub {font-size: 1.0125rem;line-height: 1.388;}
	.p13Sec .frame .rightbox .item .snsbox {gap: 1.74375rem;}
	.p13Sec .frame .rightbox .item .snsbox .link {padding: 0; width: 5.34375rem; border-radius: 0.84375rem; background: rgba(255, 255, 255, 0.5); }
	.p13Sec .frame .rightbox .item .snsbox .link .icon { width: 2.953125rem; }

}



/* Mobile */
@media screen and (max-width: 599px) {
	
  	.mobile {display: block !important;}  

}
  

