
.subContents02{ width:100%; background-color:#fff; padding-top:72px;min-height:520px;}
.subContents02.pt20{padding-top:20px}
.subContents02.pt30{padding-top:30px}

.subContents02.c1,.subContents02.c2,.subContents02.c3{padding-top:0px;background-color:#ffffff;padding-bottom:50px}
.subContents02 .conArea{width:1320px;margin:0 auto}
.subContents02.c1 .my_open{position:absolute;top:-29px;right:10px}
.subContents02.c1 .my_open .bt_opens{box-shadow:1px -2px 4px 0px #c9c9c9cc}

.subContents02.c2 .my_open{position:absolute;top:-4px;right:10px}
.subContents02.c2 .my_open .bt_opens{box-shadow:0px 2px 4px 0px #c9c9c9cc}

.subContents02.c3 .my_open{position:absolute;top:-4px;right:10px}
.subContents02.c3 .my_open .bt_opens{box-shadow:0px 2px 4px 0px #c9c9c9cc}

#real_content_1{min-height:304px}


.subContents02.c3 .gubun{float:left;min-height:350px;background:url('/images/ari/arrow_result.png') 4px center no-repeat;width:44px}

.subContents02.c3 .correct3_input{margin-top:10px}
.subContents02.c3 .correct3_input td.tit{color:#ff0000;padding:10px 0px 10px 0px;font-size:13px}
.subContents02.c3 .correct3_input td.input_area{border:1px solid #c9c9c9;padding:5px}
.subContents02.c3 .correct3_input td.bottom{padding:5px;border:1px solid #c7c7c7;border-top:0px;background-color:#F8F8F8}
.subContents02.c3 #api_result{background-color: #f3f4f8;border: 1px solid #d0d0d0;min-height:360px}

.subContents02.c3 #c2{width:424px;float:right;min-height:360px;background-color:#f3f4f8;margin-top:10px;}
.subContents02.c3 #c2 .help1{padding-top: 160px;}
.subContents02.c2 .correct2_input{margin:0 auto;padding-bottom:5px;margin-top:10px;}
.subContents02.c2 .correct2_input td{border:1px solid #d6d5d5;padding:5px;width:100%}

.subContents02 .conArea .fl{float:left;width:850px}
.subContents02 .conArea .fr{float:right;width:426px;}
.subContents02 .conArea .minus_btn{position:absolute;top:18px;left:-20px;cursor:pointer;display:none}

.subContents02.c2 .conArea .fl{float:left;width:910px}
.subContents02.c2 .conArea .fr{float:right;width:380px;margin-top:99px}



.subContents02 .conArea .correct1_left{width:1320px;margin:0 auto;padding-bottom:5px;}

.subContents02 .conArea .correct1_left td.tit{font-weight:500;padding:12px 0px 5px 0px;font-size:15px}

.subContents02 .conArea .correct1_left td.body{border:1px solid #c9c9c9;padding:5px;width:838px}
.subContents02 .conArea .correct1_left td.gubun{background:url('/images/ari/arrow_result.png') 4px center no-repeat;width:44px}
.subContents02 .conArea .correct1_left td.result{border:1px solid #d0d0d0;background-color:#f3f4f8}

.subContents02.c1 .bt_layer { width:838px; text-align:center;}
.subContents02 .bt_layer a.correct_btn1{display:inline-block;background-image:url(/images/ari/correct_btn1.jpg); background-repeat:no-repeat; background-size:196px 69px;background-position:center;width:196px;height: 69px;opacity: 0.8;}
.subContents02 .bt_layer a:hover.correct_btn1{opacity: 1}

.subContents02 .bt_layer a.correct_btn2{display:inline-block;background-image:url(/images/ari/correct_btn2.jpg); background-repeat:no-repeat; background-size:196px 69px;background-position:center;width:196px;height: 69px;opacity: 0.8;}
.subContents02 .bt_layer a:hover.correct_btn2{opacity: 1}

.subContents02 .bt_layer a.correct_btn3{display:inline-block;background-image:url(/images/ari/correct_btn3.jpg); background-repeat:no-repeat; background-size:196px 69px;background-position:center;width:196px;height: 69px;opacity: 0.8;}
.subContents02 .bt_layer a:hover.correct_btn3{opacity: 1}

.subContents02 .bt_layer a.re_btn{display:inline-block;background-image:url(/images/ari/re_btn.jpg); background-repeat:no-repeat; background-size:195px 69px;background-position:center;width:195px;height: 69px;opacity: 0.8;}
.subContents02 .bt_layer a:hover.re_btn{opacity: 1}


.pb50{padding-bottom:50px}
.top_title{width:100%;margin:0 auto;padding:50px 0px 15px 0px;border-bottom:5px solid #0fd0cd;height:35px}
.pos_relative,.pos_rel {
	position: relative;
}

.bt_opens {transition: all 0.3s;display:block; width:162px; height:29px; background:url(/images/ari/my_ari_load.png) 0px center no-repeat; text-indent:-10000px;box-shadow: 0px 2px 3px 0px #c9c9c9;}

.bt_opens:hover{transition: all 0.3s;color:#fff;}



.help_correct_ai1{color: #676767;padding: 14px 5px 14px 5px; font-size: 12px;text-align: left;font-weight: 400;letter-spacing: -1px; border-bottom:1px solid #d2d2d2;min-height:15px;}
.help_correct_ai1 strong{color:#fd6000;font-weight:500}
.help_correct_ai1 img:first-child{vertical-align:middle;margin-top:-2px;margin-right:5px}
.help_correct_ai1 img.arrow{vertical-align:middle;margin-right:3px;margin-top:-3px;margin-left:8px}

.help_correct_ai1.right{position:relative;}
.help_correct_ai1.right img{position:absolute;bottom:-1px;left:160px}


.bac_white .title_shadow{height:11px}
.bac_white .title_shadow {padding:0px;width:100%;margin:0 auto;height:11px}
.bac_white .title_shadow li:first-child{float:left;background:url(/images/ari/tit_bg1.png);width:20px;height:11px}
.bac_white .title_shadow li:nth-child(2){float:left;background:url(/images/ari/tit_bg.png);width:800px;height:11px}
.bac_white .title_shadow li:last-child{float:left;background:url(/images/ari/tit_bg2.png);width:30px;height:11px}

.bac_white .title_shadow.right li:first-child{float:left;background:url(/images/ari/tit_bg1.png);width:20px;height:11px}
.bac_white .title_shadow.right li:nth-child(2){float:left;background:url(/images/ari/tit_bg.png);width:372px;height:11px}
.bac_white .title_shadow.right li:last-child{float:left;background:url(/images/ari/tit_bg2.png);width:30px;height:11px}


textarea.input_textarea3::-webkit-input-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:150px;color:#b8b8b8}
textarea.input_textarea3::-moz-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:150px;color:#b8b8b8}
textarea.input_textarea3::-ms-input-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:150px;color:#b8b8b8}
textarea.input_textarea3::placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:150px;color:#b8b8b8}

textarea.input_textarea3{
font-family:  'Noto Sans KR', 'Malgun Gothic', '맑은 고딕';
	font-size: 13px; 
	color:#444444;
	background-color:#FFFFFF;	
	
	border:0px solid #d8d8da;
	padding:0px;
	width:100%;word-break: break-all;;line-height:21px;padding:0px;min-height:370px;outline:none}

textarea.input_textarea4::-webkit-input-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:50px;color:#b8b8b8}
textarea.input_textarea4::-moz-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:50px;color:#b8b8b8}
textarea.input_textarea4::-ms-input-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:50px;color:#b8b8b8}
textarea.input_textarea4::placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:50px;color:#b8b8b8}

textarea.input_textarea4{
font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕';
	font-size: 12px; 
	color:#444444;
	background-color:#FFFFFF;	
	
	border:0px solid #d8d8da;
	padding:0px;
	width:100%;word-break: break-all;;line-height:20px;
height:100px;border:1px solid #c9c9c9;
width:100%;padding:0px;min-height:140px}

.correct_title{width:99.5%;height:35px;border:0px;border:1px solid #c9c9c9;font-size:15px;padding-left:3px}

input.correct_title::-webkit-input-placeholder {font-weight:300;font-size:16px;text-align:center;}
input.correct_title::-moz-placeholder {font-weight:300;font-size:16px;text-align:center;}
input.correct_title::-ms-input-placeholder {font-weight:300;font-size:16px;text-align:center;}
input.correct_title::placeholder {font-weight:300;font-size:16px;text-align:center;}


.correct_rst{padding-bottom:10px;font-weight:300;width:348px;margin:0 auto;padding-top:30px}
.correct_rst li.title{font-size:28px;color:#ff6600;font-weight:700;text-align:center;line-height:30px}
.correct_rst li.title.yellow{color:#ffcc00}
.correct_rst li.title.red{color:#ff0000}
.correct_rst li.title.orange{color:#ff9900}
.correct_rst li.title.red2{color:#f70000}
.correct_rst li.title.blue{color:#3399ff}
.correct_rst li.title.green{color:#33cc00}
.correct_rst li.ex{border:1px solid #e3e3e3;background-color:#ffffff;padding:15px 0px;margin-top:30px;text-align:center;font-size:15px;line-height:23px;border-radius:10px}
.correct_rst_img{margin:0 auto;text-align:center;padding:25px 0px 30px 0px}
.correct_rst_img p{display: inline-block;padding: 30px 20px 0px 20px;font-size: 13.5px;letter-spacing: :1px;line-height: 20px;color:#1e3747}
.correct_rst_img p u{ text-decoration: none;background-image: linear-gradient(1deg, #ff6600 0%, #ff6600 100%);background-repeat: no-repeat;background-size: 100% 1.5px;background-position: 0 100%;padding-bottom: 2px;}



.correct_rst_img span{position:relative;display: block}
.correct_rst_img span i{position:absolute;top:-50px;font-size:11px;font-style:normal}
.correct_rst_img span i:nth-child(1){left:63px}
.correct_rst_img span i:nth-child(2){left:107px}
.correct_rst_img span i:nth-child(3){left:166px}
.correct_rst_img span i:nth-child(4){left:226px}
.correct_rst_img span i:nth-child(5){left:286px}
.correct_rst_img span i:nth-child(6){left:355px}

.correct_rst_img span i:nth-child(7){top:-20px;left:76px;color: #548adc;font-weight: 700}
.correct_rst_img span i:nth-child(8){top:-20px;left:144px;color: #1cc310;font-weight: 700}
.correct_rst_img span i:nth-child(9){top:-20px;left:195px;color: #ebb806;font-weight: 700}
.correct_rst_img span i:nth-child(10){top:-20px;left:254px;color: #f77d07;font-weight: 700}
.correct_rst_img span i:nth-child(11){top:-20px;left:312px;color: #f73a07;font-weight: 700}



.error_cnt{color:#ffc295}
#correct_input ul{border:0px;padding:10px}
#correct_input ul li{padding:4px 10px}
#correct_input ul li.c_email{color:#ff3300;font-weight:normal;font-size:13px}
#correct_input ul li.c_email img{vertical-align:middle;margin-top:-1px;margin-right:3px}



a.button_pink{background: url(/images/ari/tr-arrow.png) 90% 15px no-repeat #da3474;opacity: 0.8;display: inline-block;padding: 13px 70px 13px 16px;font-size:14px;font-weight:300;color: #ffffff;text-align: left;vertical-align: top;text-decoration: none;box-shadow:1px 8px 10px 2px #da347436;margin-right: 10px;}
a.button_bgreen{background: url(/images/ari/tr-arrow.png) 90% 15px no-repeat #0fb3ae;opacity: 0.8;display: inline-block;padding: 13px 70px 13px 16px;font-size:14px;font-weight:300;color: #ffffff;text-align: left;vertical-align: top;text-decoration: none;box-shadow:1px 8px 10px 2px #badfe7;margin-right: 10px;}
a.button_blue{background: url(/images/ari/tr-arrow.png) 90% 15px no-repeat #1a92f3;opacity: 0.8;display: inline-block;padding: 13px 70px 13px 16px;font-size:14px;font-weight:300;color: #ffffff;text-align: left;vertical-align: top;text-decoration: none;box-shadow:1px 8px 10px 2px #0fb3ae3d;margin-right: 10px;}

a:hover.button_pink,a:hover.button_bgreen,a:hover.button_blue{opacity: 1}
.nor{width:88px}
.mr20i{margin-right:20px !important}

.bt_layer {width:100%;text-align:center;margin:30px 0 50px;}


.bac_white div.add_input{background-color:#ffffff;text-align:center;margin:15px 0px 90px 0px}
.apt_result{margin:0 auto;width:100%;overflow-x:hidden;overflow-y:scroll}
.api_result .help1{text-align:center;font-weight:300;font-size:16px;}
.api_result .help1 img{margin-right:4px;vertical-align:middle;margin-bottom:3px}



.word_correct{overflow-x:hidden;overflow-y:auto;padding:10px 5px 15px 10px}
.word_correct table tr td{padding:5px 2px 5px 5px;font-weight:300;font-size:13px;background-color:#f3f4f8;}
.word_correct table tr td:hover{color:#ff3300;text-decoration:underline;}
.word_correct table tr td span.ch{border:1px solid #a8a8a8;border-radius:2px;padding:0px 5px 1px 5px;background-color:#ffffff;cursor:pointer}
.word_correct table tr td span.ch.on{color:#147eb8;background-color: #d3edf5;}
.word_correct table tr td span.ch.on2{color:#147eb8;background-color: #d3edf5;}
.word_correct table tr td.arrow{padding:5px 2px}
.word_correct table tr td.arrow img{ filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); opacity:0.30; -moz-opacity:0.30;}


.word_correct div.no_error{width:100%;;text-align:center;padding:100px 0px;font-size:15px;font-weight:300;color:#6e6e6e}

.word_correct table tr td.rst{padding:5px 0px}
.highlight{background-color:#ffff33;color:red;font-weight:bold;padding:1px 2px 3px 2px}

.highlight.blue{background-color:#d3edf5;color:#147eb8}
.highlight.over{border-radius:2px;color:#fff;background-color:#ff6600;cursor:pointer}
.highlight.blue.over{border-radius:2px;color:#fff;background-color:#0066cc}


.pair_all_btn{border:1px solid #f3f3f3;border-radius:3px;padding:1px 5px;background-color:#ffffff;cursor:pointer;color:#000000;font-size:12px;font-family:맑은 고딕;font-weight:normal}

#real_content_1{width:98%;display:none;

	font-family: "맑은 고딕","굴림", "굴림체", "돋움", "돋움체",AppleGothic;
	font-size: 12px; 
	color:#444444;
	background-color:#FFFFFF;	

	border:0px solid #d8d8da;
	padding:0px;overflow-x:hidden;overflow-y:auto;width:100%;word-break: break-all;line-height:22px
	
}

.real_content{width:98%;display:none;

	font-family: "맑은 고딕","굴림", "굴림체", "돋움", "돋움체",AppleGothic;
	font-size: 12px; 
	color:#444444;
	background-color:#FFFFFF;	

	border:0px solid #d8d8da;
	padding:0px;overflow-x:hidden;overflow-y:auto;width:100%;word-break: break-all;line-height:21px;
	min-height:300px;

}



#real_content_1{width:98%;display:none;

	font-family: "맑은 고딕","굴림", "굴림체", "돋움", "돋움체",AppleGothic;
	font-size: 12px; 
	color:#444444;
	background-color:#FFFFFF;	

	border:0px solid #d8d8da;
	padding:0px;overflow-x:hidden;overflow-y:auto;width:100%;word-break: break-all;line-height:22px
	
}

.real_content{width:98%;display:none;

	font-family: "맑은 고딕","굴림", "굴림체", "돋움", "돋움체",AppleGothic;
	font-size: 12px; 
	color:#444444;
	background-color:#FFFFFF;	

	border:0px solid #d8d8da;
	padding:0px;overflow-x:hidden;overflow-y:auto;width:100%;word-break: break-all;line-height:21px;
	min-height:300px;

}

#real_content_2{position:absolute;top:-50px;right:0px;display:none;padding:20px 10px 10px 0px;text-align:right}

#apt_result{margin:0 auto;width:100%;overflow-x:hidden;overflow-y:scroll}
#api_result .help1{text-align:center;padding-top:190px;font-weight:300;font-size:18px}
#api_result .help1 img{margin-right:4px;vertical-align:middle;margin-bottom:3px}

#api_result3{text-align:center;padding:10px;font-weight:500;font-size:18px;display:none}


.input_textarea2 {

	font-family:"맑은 고딕","굴림", "굴림체", "돋움", "돋움체",AppleGothic;
	font-size: 12px; 
	color:#444444;
	background-color:#FFFFFF;	
	height:150px;
	border:0px solid #d8d8da;
	padding:0px;
	overflow:hidden;width:100%;word-break: break-all;line-height:150%;min-height:150px;outline: none
}

.input_textarea2_correct {

	font-family:"맑은 고딕","굴림", "굴림체", "돋움", "돋움체",AppleGothic;
	font-size: 12px; 
	color:#444444;
	background-color:#FFFFFF;	
	height:150px;
	border:0px solid #d8d8da;
	padding:0px;
	overflow:hidden;width:100%;word-break: break-all;line-height:150%;min-height:150px
}

.input_textarea_non2 {

	font-family:"굴림", "굴림체", "돋움", "돋움체",AppleGothic;
	font-size: 12px; 
	color:#313131;
	background-color:#FFFFFF;

	line-HEIGHT: 16px;
	height:100px;
	padding-top:50px;
	border:0px solid #d8d8da;
	padding:0px;

}


textarea.input_textarea2::-webkit-input-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:120px;color:#b8b8b8}
textarea.input_textarea2::-moz-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:120px;color:#b8b8b8}
textarea.input_textarea2::-ms-input-placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:120px;color:#b8b8b8}
textarea.input_textarea2::placeholder {font-family:"NanumSquare";font-weight:300;font-size:16px;text-align:center;padding-top:120px;color:#b8b8b8}
.txt_small {
	font-family: "맑은 고딕","돋움",AppleGothic;
	font-size: 11px;
	color: #333333;
	letter-spacing: -1px;
}

.gray_t {
	color: #c1c0c0;
}

.byte_stxt {
	letter-spacing: 0px;
	font-size: 11px;
	color: #ff6252;
}

#ajaxLayer,.ajaxLayer  {
	position: absolute;
	z-index:1999;
	display:none;
}


.popup{width:500px; background-color:#ffffff; border-radius:5px;border:1px solid #02a2c4;box-shadow:2px 15px 20px 5px #544e4f;transition: all 0.5s}
.popup img.close{position:absolute;top:9px;right:8px;cursor:pointer;padding:5px}
.popup02{margin:0 auto; width:90%; border:1px solid #02b4db;}
.popup .popTit{ border-radius:4px 4px 0px 0px;background: linear-gradient(to right,#2b94d5,#2dbccc);height:50px; color:#ffffff; font-size:20px; padding-top:12px;  padding-left:20px;    line-height: 26px; font-weight:bold;}
.popup .popTit img{vertical-align:middle;margin-right:5px;margin-bottom:3px}
.popup_tit{background-color:#d8eaf1; height:50px;border-top:1px solid #95c6d9;border-bottom:1px solid #95c6d9}
.popup_tit ul li.menu{text-align:center; float:left; width:10%;  font-size:15px; margin-top:15px; font-weight:bold;}

.popup_txt{background-color:#ffffff; }
.popup_txt ul{min-height:50px; border-bottom:1px solid #d9ecf0;}
.popup_txt ul li.numBox{text-align:center; float:left; font-size:15px; margin-top:15px;}
.popup_txt ul li.filename{float:left; border-right:1px solid #c6c6c6; margin-top:15px; letter-spacing:-1px; font-size:14px;}
.popup_txt ul li.filename a{ color:#454545;}
.popup_txt ul li.date{text-align:center; float:left; font-size:13px; margin-top:15px;}
.popup_txt ul li.ticketNaim{ float:left; text-align:center; border-right:1px solid #c6c6c6; margin-top:15px; letter-spacing:-1px; font-size:14px;}
.popup_txt ul li.ticketNum{float:left; text-align:center; border-right:1px solid #c6c6c6; margin-top:15px; letter-spacing:-1px; font-size:14px;}
.popTxtype01{font-size:18px; text-align:center; margin-top:50px; letter-spacing:-1px; line-height:30px;}
.popTxtype02{width:80%; font-size:13px; text-align:center; margin:0 auto; margin-top:30px; margin-bottom:30px; padding-top:15px; padding-bottom:15px;}

.popBtn{height:100%; overflow:hidden; padding-top:50px; padding-bottom:50px; margin:0 auto;}
.popBtn ul li a span.btn{border:1px solid #018aa7;padding:8px 20px; text-align:center;font-size:17px; font-weight:500;border-radius:3px;font-family:'Noto Sans KR','ë§‘ì€ ê³ ë”•'}
.popBtn ul li a:hover span.btn{background-color:#02c7f0;color:#ffffff;;box-shadow:0px 1px 3px 0px #544e4f;transition: all 0.3s}

.txt_center {
    text-align: center;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    width: 25px;
    height: 25px;
    background: #fff url(/images/ari/ch_off.png) no-repeat center;
    border: 1px solid #d5d5d5;
    cursor: pointer;
    float: left;
}

input[type="checkbox"]:checked + label {
    background: url(/images/ari/ch_on.png) #73d1f7 no-repeat center;
    border: 1px solid #5ebbe1;
    float: left;
    color:#048ecb
}

input[type="checkbox"]:checked + label.full {
    color:#fff
}

input[type="checkbox"] + label span {
    display: block;
    padding-left: 30px;
    padding-top: 4px;
    width: 100px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #d5d5d5;
    cursor: pointer;
    border-radius: 50%;
    float: left;
}

input[type="radio"]:checked + label {
    background: url(/images/ari/radio_on.png) #fff no-repeat center/15px 15px;
    border: 1px solid #d5d5d5;
    float: left;
}

input[type="radio"] + label span {
    display: block;
    padding-left: 30px;
    padding-top: 4px;
    width: 100px;
}

.bac_violet{background-color:#02b4db}
.col_white{color:#ffffff;}
.col_black{color:#000;}
.col_blue{color:#5b87d2;}
.col_blue1{color:#3966cd;}
.col_blue2, .col_blue2 a, .col_blue2:hover{color:#6487CD;}
.col_blue3{color:#a7c1d6;}
.col_blue4 {color:#2380e8;}
.col_pink{color:#e44b62;}
.col_yellow{color:#f6da1a;}
.col_red{color:#ff4200;}
.col_gray, .col_gray a, .col_gray:hover {color:#858585;}
.col_gray1{color:#b4b4b4;}
.col_oran{color:#fb7b2d;}
.col_violet{color:#6c006d;}
.btn_blue{color:#ffffff;background-color:#02b4db;border-top:1px solid #02b4db;border-left:1px solid #02b4db;border-right:1px solid #02b4db;border-bottom:1px solid #02b4db;vertical-align:middle}
.btn_blue:hover{background-color:#02b4db;color:#ffffff;box-shadow:0px 1px 3px #544e4f;transition: all 0.3s}
.btn_blue:active{color:#ffffff;}
.btn_blue:link{color:#ffffff;}
.btn_blue:visited{color:#ffffff;}
.mr5{margin-right:5px}

.lh24{line-height:24px}

.pt20{padding-top:20px}
.bold500{font-weight:500}
.blue {
    color: #01a8cc;
}

.mb30{margin-bottom:30px}


#loading_icon_correct h2,#loading_icon_correct1 h2{font-size:20px;font-weight:500}



.ari_report_s{color:#02a7ca;background-color:#ffffff;border:1px solid #02a7ca;vertical-align:middle;display:inline-block;width:48px;padding:2px 2px 1px 2px;line-height:15px;font-size:12px;text-align:center;margin-left:15px;cursor:pointer}
.ari_report_s:hover{background-color:#fff;color:#02a7ca;box-shadow:0px 1px 3px #544e4f;transition: all 0.3s}
.ari_report_s:active{color:#02a7ca;}
.ari_report_s:link{color:#02a7ca;}
.ari_report_s:visited{color:#02a7ca;}
img{vertical-align:middle}