/* 메인 */
.ms1.pc .contbox {position: relative; display: flex; align-items: flex-start;}
.ms1.pc .contbox .ms1_left {position: sticky; top: 0; width: 50%; height: 100vh;}
.ms1.pc .contbox .ms1_left .imgbox { display: flex; align-items: center;  justify-content: center; width: 100%; height: 100%;}
.ms1.pc .contbox .ms1_left .imgbox .img {width: 100%; height: 100%; object-fit: cover;}
.ms1.pc .contbox .ms1_right { width: 50%; background: #e0a4ca; padding: 2rem 4rem 0;}
.ms1.pc .contbox .ms1_right .right_cont1 {position: relative; display: flex;  flex-direction: column;  margin-bottom: 7.6rem;}
.ms1.pc .contbox .ms1_right .right_cont1 .imgbox { display: flex; align-items: center;  justify-content: center; width: 100%;}
.ms1.pc .contbox .ms1_right .right_cont1 .imgbox .img{width: 100%;}
.ms1.pc .contbox .ms1_right .right_cont1 .btn { display: flex;  align-items: center;   justify-content: center;  gap: 1rem;  background: #3a383d;  font-weight: 700;   font-size: 2.4rem;  text-align: center;  color: #e6c8d0;}
.ms1.pc .contbox .ms1_right .right_cont1 .btn .arrow {width: 8rem;}
.ms1.pc .contbox .ms1_right .right_cont2 {position: relative; display: flex; margin-bottom: 5.8rem;}
.ms1.pc .contbox .ms1_right .right_cont2 .left {  position: relative;  width: 64%;  max-width: 56.3rem;  z-index: 5;  display: flex;  align-items: flex-start;  justify-content: center;}
.ms1.pc .contbox .ms1_right .right_cont2 .left .img {width: 100%;}
.ms1.pc .contbox .ms1_right .right_cont2 .right { position: relative; margin-left: -10rem;  margin-top: 1rem;  flex: 1; display: flex;  flex-direction: column;  gap: 3.5rem;}
.ms1.pc .contbox .ms1_right .right_cont2 .right .imgbox {width: 100%; display: flex; align-items: center; justify-content: center;}
.ms1.pc .contbox .ms1_right .right_cont2 .right .imgbox .img {width: 100%;}
.ms1.pc .contbox .ms1_right .right_cont2 .right .txtbox {display: flex; flex-direction: column; gap: 3.2rem;}
.ms1.pc .contbox .ms1_right .right_cont2 .right .txtbox .tit {width: 13.8rem;}
.ms1.pc .contbox .ms1_right .right_cont2 .right .txtbox .desc {font-weight: 500;font-size: 2.2rem;line-height: 136%;letter-spacing: -0.03em;color: #181818;}
.ms1.pc .contbox .ms1_right .right_cont2 .right .cat { position: absolute;  right: 0;  bottom: -4rem;  width: 15.2rem;}
.ms1.pc .contbox .ms1_right .right_cont3 {position: relative; display: flex; flex-wrap: wrap; gap: 4rem; padding-bottom: 10rem;}
.ms1.pc .contbox .ms1_right .right_cont3 .item {width: calc((100% - 4rem)/2);}
.ms1.pc .contbox .ms1_right .right_cont3 .item .img {width: 100%;}
.ms1.pc .contbox .ms1_right .right_cont3 .item .txt {font-weight: 500;font-size: 2.2rem;line-height: 136%;letter-spacing: -0.03em;color: #181818;}
.ms1.pc .contbox .ms1_right .right_cont3 .cat { position: absolute;  left: -2rem;  bottom: -1.8rem;  z-index: 10; width: 46.2rem;}
.ms2.pc {background: url(../img/ms2_bg.png) no-repeat center/cover; padding: 22rem 0 5.8rem; margin-top: -1px;}
.ms2.pc > .inner {display: flex; flex-direction: column; align-items: center;}
.ms2.pc .tit {width: 58.6rem; margin-bottom: 3rem;}
.ms2.pc .cat {width: 14.7rem; margin-bottom: 4.5rem;}
.ms2.pc .desc {font-family: var(--font3); font-size: 1.5rem; letter-spacing: 0.08em;text-align: center; color: #fff;}
.ms2.pc .more { display: flex; flex-direction: column; align-items: center;}
.ms2.pc .more .arrow {margin-bottom: -2.3rem;}
.ms2.pc .more .txt { width: 27.5rem;}
.ms3.pc {background: #000; padding-bottom: 6rem; margin: -1px 0;}
.ms3.pc .titbox {width: 100%;  padding: 4rem 0;}
.ms3.pc .titbox .tit {font-family: var(--second-family);font-size: 3rem;letter-spacing: 0.12em;text-align: center;color: #fff;}
.ms3.pc .slidebox {display: flex;}
.ms3.pc .slidebox .item {width: 25%; height: 51.4rem; display: flex; align-items: center; justify-content: center;}
.ms3.pc .slidebox .item .img{width: 100%; height: 100%; object-fit: cover;} 
.ms4.pc .contbox {display: flex; flex-wrap: wrap;}
.ms4.pc .contbox .item {width: 50%; height: 72rem; display: flex; align-items: center; justify-content: center;}
.ms4.pc .contbox .item .video {width: 100%; height: 100%; object-fit: cover;}
.ms4.pc .contbox .item .vid_play {background: url(../img/video_play.png) no-repeat center/contain; width: 30rem; aspect-ratio: 1/1; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.ms4.pc .contbox .item .img {width: 100%; height: 100%; object-fit: cover;}


/* 상품목록 */
.prdList_sec {margin-top: 1.5rem; margin-bottom: 6.7rem;}
.prdList_sec > .inner {max-width: 1620px;}
.prdcate {margin-bottom: 5.6rem;}
.prdcate .swiper-wrapper {justify-content: center;}
.prdcate .link { font-family: var(--font5); font-size: 1.4rem; text-align: center; color: #000;}
.prdcate .link.on {font-weight: 600;}
.prdList {display: flex; flex-wrap: wrap; gap: 4rem 3.6rem;}
.prdList .item {width: calc((100% - 3.6rem*3)/4);} 
.prdList .item > .link { width: 100%; display: flex; flex-direction: column; gap: 0.9rem;}
.prdList .item .imgbox {display: flex; align-items: center; justify-content: center; width: 100%; height: 50.6rem;}
.prdList .item .imgbox .img {width: 100%; height: 100%; object-fit: cover;}
.prdList .item .txtbox {display: flex; flex-direction: column;  text-align: center;}
.prdList .item .txtbox .tit {font-weight: 600;font-size: 2rem;color: #000;}
.prdList .item .txtbox .desc {font-weight: 400;font-size: 1.4rem; color: #000;}
.prdList .item .pricebox {display: flex; flex-direction: column; margin-top: 1.4rem;} 
.prdList .item .pricebox .ori {font-size: 1.4rem;letter-spacing: 0.05em;text-decoration: line-through;text-align: center;color: #c4c4c4;}
.prdList .item .pricebox .sale {font-weight: 600;font-size: 1.8rem;letter-spacing: 0.05em;text-align: center;color: #000;}
.prdList .item .pricebox .sale .percent {color: #f00;}


/* 상품상세 */
.prdcate_txt {font-weight: 200;font-size: 1.2rem;color: #6b6b6b; margin:  1.5rem 0 6.8rem; text-align: center;}
.prdcate_txt .bold {font-weight: 700; color: #000;}
.prdInfo {margin-bottom: 8.2rem;}
.prdInfo > .inner {display: flex;}
.prdInfo .imgarea { position: relative;  width: 50%;  display: flex;  flex-direction: column;  gap: 1.2rem; padding-right: 8.5rem;}
.prdInfo .imgarea .prdThum_swiper { width: 100%;}
.prdInfo .imgarea .prdThum_swiper .item {display: flex; align-items: center; justify-content: center; width: 100%; height: 74rem; overflow: hidden;}
.prdInfo .imgarea .prdThum_swiper .item .img {width: 100%; height: 100%; object-fit: cover;}
.prdInfo .imgarea .prdThum_swiper .paging {bottom: 2rem; display: flex; align-items: center; justify-content: center; gap: 0.8rem; display: none;}
.prdInfo .imgarea .prdThum_swiper .paging .swiper-pagination-bullet {background: #fff; opacity: 0.8; width: 0.6rem; height: unset; aspect-ratio: 1/1; margin: 0; transition: var(--transition);}
.prdInfo .imgarea .prdThum_swiper .paging .swiper-pagination-bullet-active {background: #7B7B7B;}
.prdInfo .infoarea { position: relative;  width: 50%;  display: flex;  flex-direction: column;}
.prdInfo .infoarea .titbox { display: flex;  flex-direction: column; margin-bottom: 2.8rem;}
.prdInfo .infoarea .titbox .desc {font-size: 1.4rem;letter-spacing: 0.1em;color: #000; margin-bottom: 0.5rem;}
.prdInfo .infoarea .titbox .tit {font-weight: 700;font-size: 2.6rem;letter-spacing: 0.12em;color: #000; margin-bottom: 1.9rem;}
.prdInfo .infoarea .titbox .style_no {font-weight: 500;color: #797979;font-size: 1rem;}
.prdInfo .infoarea .titbox .style_no .bold {font-weight: 700;color: #000;}
.prdInfo .infoarea .titbox .pricebox {margin-top: 2.8rem; display: flex; flex-direction: column;}
.prdInfo .infoarea .titbox .pricebox .ori {font-size: 1.4rem;letter-spacing: 0.05em;text-decoration: line-through;color: #c4c4c4;}
.prdInfo .infoarea .titbox .pricebox .price {font-weight: 700;font-size: 2.2rem;letter-spacing: 0.03em;color: #000;}
.prdInfo .infoarea .titbox .pricebox .price .sale {color: #f00;}
.prdInfo .infoarea .optionbox {display: flex; flex-direction: column; align-items: flex-start;}
.prdInfo .infoarea .optionbox .opt_select {width: 100%; margin-top: 1.2rem;}
.prdInfo .infoarea .optionbox .opt_select:first-child {margin-top: 0;}
.prdInfo .infoarea .optionbox .opt_select .select { appearance: none; width: 100%;  height: 4rem; border: 1px solid #d1d5d9; border-radius: 0.5rem; padding-left: 1.4rem; padding-right: 4rem; font-size: 1.4rem;line-height: 100%;color: #797979; background: url(../img/select_arrow.png) no-repeat right 1rem center / 2.4rem #fff;  cursor: pointer;}
.prdInfo .infoarea .optionbox .restock_btn {border: 1px solid #dfc9cf; border-radius: 0.5rem;background: #fff0f4; font-weight: 600;font-size: 1.2rem;color: #181818; width: 12.5rem;height: 2.7rem; display: flex; align-items: center; justify-content: center; margin-top: 2.5rem;}

.prdInfo .infoarea .totalbox { margin-top: 3.8rem; display: flex; flex-direction: column;}
.prdInfo .infoarea .totalbox .total_opt { display: flex; flex-direction: column; gap:1.4rem; margin-bottom: 3.8rem;}
.prdInfo .infoarea .totalbox .total_opt .item {position: relative; border-radius: 5px;  width: 100%; background: #f9f9f9; padding: 0.9rem 1.4rem 1.4rem;}
.prdInfo .infoarea .totalbox .total_opt .item .tit {  font-weight: 700; font-size: 1.2rem;  line-height: 117%;  color: #000;  margin-bottom: 1.2rem;}
.prdInfo .infoarea .totalbox .total_opt .item .desc {font-size: 1.2rem;line-height: 117%;color: #000;}
.prdInfo .infoarea .totalbox .total_opt .item .bottom {margin-top: 2.2rem; display: flex; align-items: center; gap: 1.5rem;}
.prdInfo .infoarea .totalbox .total_opt .item .bottom .controls { display: flex; height: 2.2rem; background: #fff;  border-radius: 0.3rem; padding: 0 0.3rem;}
.prdInfo .infoarea .totalbox .total_opt .item .bottom .controls .btn { background: no-repeat center / contain; width: 1.65rem; aspect-ratio: 1 / 1;}
.prdInfo .infoarea .totalbox .total_opt .item .bottom .controls .btn.minus {background-image: url(../img/ico_minus.png);}
.prdInfo .infoarea .totalbox .total_opt .item .bottom .controls .btn.plus {background-image: url(../img/ico_plus.png);}
.prdInfo .infoarea .totalbox .total_opt .item .bottom .controls .input { width: 4rem;  height: 2.2rem; font-weight: 500; font-size: 1.6rem; line-height: 1; text-align: center; color: #000;  border: none;  background: none; padding-top: 1px;}
.prdInfo .infoarea .totalbox .total_opt .item .bottom .price {font-weight: 700;font-size: 1.4rem;letter-spacing: 0.1em;color: #181818;}
.prdInfo .infoarea .totalbox .total_opt .item .del_btn { background: url(../img/ico_x.png) no-repeat center / contain; width: 1.8rem;  aspect-ratio: 1/1;  position: absolute;  right: 0.9rem;  top: 1.4rem;}
.prdInfo .infoarea .totalbox .total_price {font-weight: 500; font-size: 1.6rem;letter-spacing: 0.1em;color: #181818; margin-bottom: 2.7rem;}
.prdInfo .infoarea .totalbox .total_price .bold {font-weight: 700;}
.prdInfo .infoarea .totalbox .total_btns { display: flex; gap: 1.2rem;}
.prdInfo .infoarea .totalbox .total_btns .btn { flex: 1;  height: 4.7rem; display: flex;  align-items: center;  justify-content: center;  font-size: 1.4rem;  line-height: 100%;  border-radius: 0.5rem;}
.prdInfo .infoarea .totalbox .total_btns .btn.typeA {background: #000; color: #e6c8d0; font-weight: 700;}
.prdInfo .infoarea .totalbox .total_btns .btn.typeB {border: 1px solid #d1d5d9; background: #fff; color: #181818;}
.prdInfo .infoarea .totalbox .total_btns .btn.wish {width: 13.6rem; flex: unset;}
.prdInfo .infoarea .infotxtbox {display: flex;  flex-direction: column;  gap: 2.8rem;  margin-top: 3.8rem; } 
.prdInfo .infoarea .infotxtbox .item {display: flex;  flex-direction: column;  gap: 0.6rem; } 
.prdInfo .infoarea .infotxtbox .item .tit {position: relative; display: flex;  align-items: center;   gap: 0.5rem;  font-size: 1.2rem;  font-weight: 600;  color: #181818;}
.prdInfo .infoarea .infotxtbox .item .tit .arrow {  background: url(../img/ico_arrow_up.png) no-repeat center / contain;  width: 2.4rem;  aspect-ratio: 1/1;}
.prdInfo .infoarea .infotxtbox .item .desc { position: relative;font-size: 1.4rem;
color: #494949; }  
.prdInfo .infoarea .infotxtbox .item .desc2 { position: relative;font-size: 1.2rem;
line-height: 150%;color: #494949; }  
.prdInfo .infoarea .infotxtbox .item.spec {margin-top: 1.6rem; border-radius: 0.5rem; background: #f5f7f9; padding: 1.8rem 1.6rem 4rem; gap: 1.4rem;} 
.prdInfo .infoarea .infotxtbox .item.spec .tit {font-size: 1.4rem;}
.prdInfo .infoarea .infotxtbox .item.spec .desc2 {font-weight: 500;line-height: 200%;
color: #919599;}
.prdInfo .infoarea .infotxtbox .item.spec .desc2 .bold{font-weight: 600;}
.prdDetail { margin-bottom: 5.5rem;}
.prdDetail .imgarea { position: relative;  width: 100%; max-width: 89.4rem; height: 124.5rem; display: flex; flex-direction: column; overflow: hidden; margin: 0 auto;}
.prdDetail .imgarea::after { content: ""; position: absolute; left: 0;  bottom: 0;  width: 100%;  aspect-ratio: 1/1;  background:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 82.21%);  pointer-events: none;}
.prdDetail .imgarea .move_view { display: flex;  align-items: center;  justify-content: space-between;  gap: 3.8rem;  padding: 0 2rem;  border: 1px solid #ccc;  border-radius: 0.5rem;  background: #fff;  position: absolute;  left: 50%;  bottom: 21.8rem;  transform: translateX(-50%);  height: 4.8rem;  font-size: 1.6rem;  font-weight: 700;  letter-spacing: -0.05em; color: #181818; z-index: 10;}
.prdDetail .imgarea .move_view .arrow {background: url(../img/ico_arrow_down.png) no-repeat center / contain; width: 1.6rem; aspect-ratio: 1/1;}
.prdReview { border-bottom: 1px solid #000; padding-bottom: 7.4rem;}
.prdReview .rv_top { display: flex; flex-direction: column; gap: 5rem; margin-bottom: 9rem;}
.prdReview .rv_top .rv_btn { font-size: 2.6rem; font-weight: 600;  color: #e6c8d0;  background: #3a383d;  display: flex;  align-items: center;  justify-content: center;  width: 24.4rem;  height: 5.4rem; border-radius: 0.5rem;}
.prdReview .rv_top .bottombox { display: flex;  flex-direction: column;  gap: 2rem;}
.prdReview .rv_top .bottombox .rate {  display: flex;  align-items: center; flex-wrap: wrap; gap: 1rem 3.2rem;  padding: 0 1.4rem;}
.prdReview .rv_top .bottombox .rate .rate_tit { font-size: 2.6rem;  font-weight: 600;  color: #181818;}
.prdReview .rv_top .bottombox .rate .rate_box { display: flex;  align-items: center;  gap: 2.9rem;}
.prdReview .rv_top .bottombox .rate .rate_box > .item { display: flex;  align-items: center; gap: 1rem;}
.prdReview .rv_top .bottombox .rate .rate_box > .item .star {background: no-repeat center/contain; height: 1.6rem;}
.prdReview .rv_top .bottombox .rate .rate_box > .item .star.star1 {background-image: url(../img/rate_star1.png); aspect-ratio: 16/16;}
.prdReview .rv_top .bottombox .rate .rate_box > .item .star.star2 {background-image: url(../img/rate_star2.png); aspect-ratio: 35/16;}
.prdReview .rv_top .bottombox .rate .rate_box > .item .star.star3 {background-image: url(../img/rate_star3.png); aspect-ratio: 54/16;}
.prdReview .rv_top .bottombox .rate .rate_box > .item .star.star4 {background-image: url(../img/rate_star4.png); aspect-ratio: 73/16;}
.prdReview .rv_top .bottombox .rate .rate_box > .item .star.star5 {background-image: url(../img/rate_star5.png); aspect-ratio: 92/16;}
.prdReview .rv_top .bottombox .rate .rate_box > .item .number {  font-size: 2rem;  color: #181818; font-weight: 600;}
.prdReview .rv_top .bottombox .summation {display: flex; flex-direction: column; gap: 1.6rem; padding: 3.2rem 3.4rem 3.6rem; background:#fff0f4; border-radius: 0.5rem;}
.prdReview .rv_top .bottombox .summation .title {font-size: 2rem; font-weight: 700; letter-spacing: -0.05em; color: #181818;}
.prdReview .rv_top .bottombox .summation .desc {font-size: 1.8rem;line-height: 111%;letter-spacing: -0.05em;color: #614a4a;}
.prdReview .rv_list { column-count: 5; column-gap: 2rem;  margin-bottom: 6rem;}
.prdReview .rv_list > .item { break-inside: avoid;  margin-bottom: 4rem;  display: flex;  flex-direction: column; border-radius: 0.5rem;  overflow: hidden;}
.prdReview .rv_list > .item .imgbox {width: 100%; display: flex; align-items: center; justify-content: center;}
.prdReview .rv_list > .item .imgbox .img {width: 100%;}
.prdReview .rv_list > .item .txtbox { padding: 3rem 1.6rem 1.8rem;  display: flex;  flex-direction: column; gap: 1.2rem; background: #fff0f4;}
.prdReview .rv_list > .item .txtbox .top { display: flex; align-items: center; gap: 1.4rem;  margin-bottom: 1rem;}
.prdReview .rv_list > .item .txtbox .top .profile {width: 5.6rem; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center; border-radius: 50%; overflow: hidden;}
.prdReview .rv_list > .item .txtbox .top .profile .img {width: 100%; height: 100%; object-fit: cover;}
.prdReview .rv_list > .item .txtbox .top .info {flex: 1; display: flex; flex-direction: column; gap: 0.6rem;}
.prdReview .rv_list > .item .txtbox .top .info .name {font-weight: 500;font-size: 1.9rem;line-height: 126%;letter-spacing: 0.05em;color: #000;}
.prdReview .rv_list > .item .txtbox .top .info .txt {font-size: 1.2rem;color: #797979;}
.prdReview .rv_list > .item .txtbox .rate {display: flex; align-items: center; gap: 0.4rem;}
.prdReview .rv_list > .item .txtbox .rate .star {background: no-repeat center/contain; height: 1.6rem;}
.prdReview .rv_list > .item .txtbox .rate .star.star1 {background-image: url(../img/rate_star1.png); aspect-ratio: 17/16;}
.prdReview .rv_list > .item .txtbox .rate .star.star2 {background-image: url(../img/rate_star2.png); aspect-ratio: 36/16;}
.prdReview .rv_list > .item .txtbox .rate .star.star3 {background-image: url(../img/rate_star3.png); aspect-ratio: 55/16;}
.prdReview .rv_list > .item .txtbox .rate .star.star4 {background-image: url(../img/rate_star4.png); aspect-ratio: 74/16;}
.prdReview .rv_list > .item .txtbox .rate .star.star5 {background-image: url(../img/rate_star5.png); aspect-ratio: 93/16;}
.prdReview .rv_list > .item .txtbox .rate .number {font-weight: 500;font-size: 1.6rem;line-height: 150%;color: #000;}
.prdReview .rv_list > .item .txtbox .cont { display: flex;  flex-direction: column;  gap: 0.8rem;}
.prdReview .rv_list > .item .txtbox .cont .tit {font-size: 2.1rem; font-weight: 700; color: #000;}
.prdReview .rv_list > .item .txtbox .cont .desc {font-size: 1.4rem;line-height: 171%;
color: #614a4a;}
.prdReview .rv_more { width: 59.2rem;  height: 5.8rem;  display: flex;  align-items: center;  justify-content: center;  margin: 0 auto; border-radius: 0.5rem;  background: #3a383d; font-weight: 600;font-size: 2.6rem;color: #e6c8d0;}

.prdGuide { border-top: 1px solid #000; padding-top: 13rem; margin-bottom: 20.6rem;}
.prdGuide .guide_box { display: flex;  flex-direction: column;  gap: 7.8rem;}
.prdGuide .guide_box .item { display: flex; flex-direction: column; gap: 3.2rem;}
.prdGuide .guide_box .item .tit {font-size: 2.6rem; font-weight: 700; color: #181818;}
.prdGuide .guide_box .item .descbox {display: flex; flex-direction: column; gap: 0.9rem; padding-left: 1rem;}
.prdGuide .guide_box .item .descbox .desc {position: relative;font-weight: 500; font-size: 2rem; letter-spacing: -0.05em;color: #181818; padding-left: 1em;} 
.prdGuide .guide_box .item .descbox .desc::before {  content: "•";  position: absolute;  left: 0; top: -0.2rem;}


/* 아카이브 */
.archive_sec .contbox {display: flex; flex-wrap: wrap;}
.archive_sec .contbox .item {width: 50%; height: 72rem; display: flex; align-items: center; justify-content: center;}
.archive_sec .contbox .item .video {width: 100%; height: 100%; object-fit: cover;}
.archive_sec .contbox .item .vid_play {background: url(../img/video_play.png) no-repeat center/contain; width: 30rem; aspect-ratio: 1/1; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.archive_sec .contbox .item .img {width: 100%; height: 100%; object-fit: cover;}


/* 마이페이지 공통 */
.mypage_sec {margin-top: 4rem; margin-bottom: 9rem;}
.mypage_sec > .inner {display: flex; gap: 4rem;}
.mypage_sec .my_sidbox {width: 20rem; display: flex; flex-direction: column;}
.mypage_sec .my_sidbox > li { width: 100%;  font-size: 1.8rem;  letter-spacing: -0.05em;   color: #797979;  padding: 2rem 0; border-bottom: 1px solid #d0d6e7;}
.mypage_sec .my_sidbox > li:first-child {padding-top: 0;}
.mypage_sec .my_sidbox > li.on {font-weight: 700;color: #000;}
.mypage_sec .my_sidbox > li .link{display: block; width: 100%;}
.mypage_sec .my_contbox {flex: 1;}
.mypage_sec .my_titbox {display: flex; align-items: center; gap: 4.8rem; margin-bottom: 3rem;}
.mypage_sec .my_titbox.ver2 {margin-bottom: 4rem;}
.mypage_sec .my_titbox .title {font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;color: #000;}
.mypage_sec .my_titbox .menu {flex: 1; display: flex; align-items: center; gap: 2rem;}
.mypage_sec .my_titbox .menu > li {font-size: 2rem;letter-spacing: -0.05em;color: #999;}
.mypage_sec .my_titbox .menu > li .link{display: block;}
.mypage_sec .my_titbox .menu > li.on {font-weight: 600;color: #000;}
.mypage_sec .my_titbox .menu > li.bar {color: #d9d9d9;}
.mypage_sec .my_infobox { border: 1px solid #9a9a9a;  border-radius: 1rem;  width: 100%;  height: 8rem;  background: #fff0f4;  display: flex;  align-items: center;  justify-content: space-between; gap: 4rem; padding-left: 2rem; margin-bottom: 4rem;}
.mypage_sec .my_infobox .profile {display: flex; align-items: center; gap: 1.4rem;}
.mypage_sec .my_infobox .profile .thum {width: 4rem; aspect-ratio: 1/1; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center; }
.mypage_sec .my_infobox .profile .thum .img {width: 100%; height: 100%; object-fit: cover;}
.mypage_sec .my_infobox .profile .txt {font-weight: 600;font-size: 2rem;line-height: 100%;letter-spacing: -0.05em;color: #000;}
.mypage_sec .my_infobox .descbox {flex: 1; display: flex; max-width: 71.5rem;} 
.mypage_sec .my_infobox .descbox .bar {width: 1px; height: 5rem;background: rgba(0, 0, 0, 0.1);} 
.mypage_sec .my_infobox .descbox .item {width: 25%; max-width: 18rem; display: flex; flex-direction: column; align-items: center; gap: 0.6rem; text-align: center; font-weight: 600;letter-spacing: -0.05em;color: #000;}  
.mypage_sec .my_infobox .descbox .item .tit {font-size: 1.4rem}  
.mypage_sec .my_infobox .descbox .item .desc{font-size: 2rem} 
.mypage_sec .pagination {margin-top: 4.8rem;}


/* 마이페이지 - 구매내역 */
.purchase_sec {display: flex; flex-direction: column; gap: 4rem;}
.purchase_sec > .title {font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;color: #000;}
.purchase_sec .stepbox { display: flex; gap: 3.5rem;}
.purchase_sec .stepbox .item {flex: 1; font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;text-align: center;color: #999; display: flex; flex-direction: column; align-items: center; gap: 1rem; border: 1px solid #e2e2e2; border-radius: 2rem; background: #fff; padding: 2.2rem 2rem; word-break: keep-all;}
.purchase_sec .stepbox .item.on {color: #3a383d;}
.purchase_sec .stepbox .item .desc {font-size: 1.4rem;}
.purchase_sec .tblbox { font-weight: 600; font-size: 1.4rem; letter-spacing: -0.05em;  color: #3a383d; display: flex; flex-direction: column; gap: 2rem;}
.purchase_sec .tblbox .row { display: flex;  padding: 0 1.8rem;  padding-bottom: 2rem;   border-bottom: 1px solid #e2e2e2;}
.purchase_sec .tblbox .head .row { border-color: #3a383d;}
.purchase_sec .tblbox .body { display: flex;  flex-direction: column; gap: 2rem;}
.purchase_sec .tblbox .body .row:last-child {border-bottom: 0;}
.purchase_sec .tblbox .row .col1{ width: 30%;}
.purchase_sec .tblbox .row .col2 { width: 26%;}
.purchase_sec .tblbox .row .col3 { width: 22%;}
.purchase_sec .tblbox .row .col4 { width: 22%;}


/* 마이페이지 - 나의 리뷰 */
.review_sec {display: flex; flex-direction: column; border-radius: 1rem; border: 1px solid #d0d6e7;}
.review_sec .item {width: 100%; border-bottom: 1px solid #dde1ed;}
.review_sec .item:last-child {border-bottom: 0;}
.review_sec .item > .link {width: 100%; display: flex; align-items: center; gap: 2rem; padding: 2rem;}
.review_sec .item .imgbox {width: 15.4rem; height: 20rem; overflow: hidden; border-radius: 0.5rem;}
.review_sec .item .imgbox .img {width: 100%; height: 100%; object-fit: cover;}
.review_sec .item .txtbox {flex: 1;}
.review_sec .item .txtbox .ratebox {display: flex; align-items: center; gap: 0.2rem; margin-bottom: 1.4rem;}
.review_sec .item .txtbox .ratebox .rate {background: no-repeat center/contain; width: 2rem; aspect-ratio: 1/1;}
.review_sec .item .txtbox .ratebox .rate.on {background-image: url(../img/ico_star_on.png);}
.review_sec .item .txtbox .ratebox .rate.off {background-image: url(../img/ico_star_off.png);}
.review_sec .item .txtbox .tit {font-weight: 700;font-size: 2rem;letter-spacing: 0.12em;color: #000; margin-bottom: 0.6rem;}
.review_sec .item .txtbox .option {font-size: 1.2rem;line-height: 125%;letter-spacing: 0.1em;color: #8c8c8c; margin-bottom: 0.6rem;}
.review_sec .item .txtbox .info {font-size: 1.2rem ;color: #797979;}
.review_sec .item .txtbox .desc {font-size: 1.4rem;line-height: 143%;color: #000; margin-top: 1.5rem;}
.mypage_sec .pagination {margin-top: 7.6rem;}


/* 마이페이지 - 계정 설정 */
.account_sec {}
.account_sec .profile_box {display: flex; align-items: center; gap: 4rem; margin-bottom: 5rem;}
.account_sec .profile_box .thumbox {position: relative; width: 12rem; aspect-ratio: 1/1; border-radius: 50%; border: 2px solid #3a383d;}
.account_sec .profile_box .thumbox .img {width: 100%; height: 100%; object-fit: cover;}
.account_sec .profile_box .thumbox .photo_btn {background: url(../img/ico_camera.png) no-repeat center/contain; width: 3.6rem; aspect-ratio: 36/30; position: absolute; right: 0; bottom: 0;}
.account_sec .profile_box .infobox {flex: 1;}
.account_sec .profile_box .infobox .tit {font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;color: #3a383d; margin-bottom: 0.7rem;}
.account_sec .profile_box .infobox .desc {font-size: 1.6rem;color: #c8c8c8; margin-bottom: 1.8rem;}
.account_sec .profile_box .infobox .del_btn {font-size: 1.6rem;text-decoration: underline;color: #797979;}
.account_sec .form_box { display: flex; flex-direction: column; gap: 3.8rem;}
.account_sec .form_box.frm1 {margin-bottom: 11.6rem;}
.account_sec .form_box .form_item {display: flex; align-items: center; gap: 2.8rem;}
.account_sec .form_box .form_item.first {align-items: flex-start;}
.account_sec .form_box .form_item .form_tit {width: 10rem; font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;color: #3a383d;}
.account_sec .form_box .form_item.first .form_cont {margin-top: 0.2rem;}
.account_sec .form_box .form_item .input_box {flex: 1; width: 100%; display: flex; flex-direction: column; gap: 0.7rem; max-width: 72.2rem;}
.account_sec .form_box .form_item .input_box .input_text { width: 100%;  font-weight: 300; font-size: 2.2rem;  letter-spacing: -0.05em;  color: #3c3c3c;  padding: 0.3rem 0;  border: 0; border-bottom: 1px solid #c8c8c8; background: none;}
.account_sec .form_box .form_item .input_btn { border: 1px solid #c8c8c8;  border-radius: 1rem;  width: 15rem;  height: 4.5rem;  display: flex;  align-items: center;   justify-content: center;  font-weight: 500;  font-size: 2rem;  letter-spacing: -0.05em;  color: #3a383d;}
.account_sec .form_box .form_item .input_flex {flex: 1; width: 100%; display: flex; align-items: flex-end; gap: 4rem;}
.account_sec .form_box .form_item .input_flex .input_box {max-width: unset;}
.account_sec .form_box .form_item .pwd_btn { font-weight: 300;  font-size: 2.5rem;   letter-spacing: -0.05em;  text-decoration: underline;  color: #3c3c3c;   text-underline-offset: 3px;}
.account_sec .form_box .form_btnbox {margin-top: -0.6rem; display: flex; justify-content: flex-end;}
.account_sec .form_box .form_btnbox .withdrawal_btn {font-weight: 700;font-size: 2rem;text-decoration: underline;text-underline-offset: 3px;color: #797979; width: 15rem; text-align: center; }


/* 마이페이지 - 회원탈퇴 */
.signout_sec {margin: 4rem 0 2.6rem;}
.signout_sec > .inner {max-width: 1040px;}
.signout_sec .logobox {display: flex; align-items: center; justify-content: center; width: 43rem; margin: 0 auto 4rem;}
.signout_sec .titbox {display: flex; flex-direction: column; gap: 2rem; margin-bottom: 2rem;}
.signout_sec .titbox .tit {font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;color: #3a383d;}
.signout_sec .titbox .desc {font-size: 1.6rem; line-height: 100%;letter-spacing: -0.05em;
color: #666;}
.signout_sec .form_wrap {display: flex; flex-direction: column; gap: 4rem;}
.signout_sec .form_wrap .term_box {display: flex; flex-direction: column; gap: 2rem;}
.signout_sec .form_wrap .term_box .term_cont { display: flex; flex-direction: column;  gap: 3rem; font-weight: 500;  font-size: 2rem;   line-height: 150%; padding: 2rem; background: #f7f7f7; border: 1px solid #d9d9d9;  border-radius: 1rem; overflow: auto;}
.signout_sec .form_wrap .term_box .term_cont::-webkit-scrollbar{display: none;}
.signout_sec .form_wrap .term_box.box2 .term_cont {height: 34rem; }
.signout_sec .form_wrap .term_box .term_cont .term_item { display: flex;  flex-direction: column;}
.signout_sec .form_wrap .term_box .term_cont .term_item .term_tit { color: #666;}
.signout_sec .form_wrap .term_box .term_cont .term_item .term_desc { display: flex;  flex-direction: column;}
.signout_sec .form_wrap .term_box .term_cont .term_item .term_desc .desc {  position: relative; padding-left: 1.3em; opacity: 0.6;}
.signout_sec .form_wrap .term_box .term_cont .term_item .term_desc .desc::before {  content: "•";  position: absolute;  left: 0.4em;  top: 0;;}
.signout_sec .form_wrap .term_box .term_cont .term_item .term_txt {color: #999;   line-height: 136%;}
.signout_sec .form_wrap .check_box {  display: flex; align-items: center; gap: 1rem;}
.signout_sec .form_wrap .check_box .input_check {appearance: none; position: relative; border: 1px solid #c8c8c8; border-radius: 10rem; width: 2rem;height: 2rem; background: #fff; cursor: pointer;}
.signout_sec .form_wrap .check_box .input_check::before {content: ""; position: absolute; left: 50%; top: 50%; width: 1rem; aspect-ratio: 1/1; border-radius: 50%; background: #3a383d; transform: translate(-50%,-50%); opacity: 0;}
.signout_sec .form_wrap .check_box .input_check:checked:before {opacity: 1;}
.signout_sec .form_wrap .check_box .label_check {font-size: 1.6rem; line-height: 100%; display: flex; align-items: center; gap: 1rem; cursor: pointer;}
.signout_sec .form_wrap .check_box .label_check .tit{color: #3a383d;}
.signout_sec .form_wrap .check_box .label_check .tit .red {color: #ff3f3f;}
.signout_sec .form_wrap .check_box .label_check .desc{flex: 1; color: #8c8c8c;}
.signout_sec .form_wrap .input_box {display: flex; flex-direction: column; gap: 3rem;}
.signout_sec .form_wrap .input_box .input_label {font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;color: #3a383d;}
.signout_sec .form_wrap .input_box .input_text {width: 100%; height: 7rem; border: 1px solid #3a383d; border-radius: 1rem; padding: 0 2rem;font-size: 2.5rem;letter-spacing: -0.05em;color: #3a383d; }
.signout_sec .form_wrap .input_box .input_text::placeholder{color: #c8c8c8;}
.signout_sec .form_wrap .form_item {width: 100%;}
.signout_sec .form_wrap .form_item .submit_btn {width: 100%; height: 7rem; display: flex; align-items: center; justify-content: center; border-radius: 1rem; background: #3a383d; font-weight: 700;font-size: 3.2rem;text-align: center;color: #e6c8d0;}
.signout_sec .form_wrap .form_item .submit_btn:disabled {background: #c0c0c0; ;color: #fff; }


/* 장바구니 */
.cart_sec {display: flex; flex-direction: column; gap: 4rem; }
.cart_sec .cart_box {display: flex; flex-direction: column; border-radius: 1rem; border: 1px solid #c8c8c8; background:#fff;}
.cart_sec .cart_box .titbox {font-weight: 700;font-size: 2.8rem;letter-spacing: -0.05em;color: #3a383d; padding: 1.8rem 2.4rem; border-bottom: 1px solid #c8c8c8;}
.cart_sec .cart_box .contbox {padding: 3.2rem 5rem 4.8rem; display: flex; flex-direction: column; display: flex; flex-direction: column; gap: 4.6rem;}
.cart_sec .cart_box .contbox .check_box {display: flex; align-items: center; gap: 1rem;}
.cart_sec .cart_box .contbox .check_box .input_check{appearance: none; position: relative; border: 1px solid #c8c8c8; border-radius: 10rem; width: 2rem;height: 2rem; background: #fff; cursor: pointer;}
.cart_sec .cart_box .contbox .check_box .input_check::before {content: ""; position: absolute; left: 50%; top: 50%; width: 1rem; aspect-ratio: 1/1; border-radius: 50%; background: #3a383d; transform: translate(-50%,-50%); opacity: 0;}
.cart_sec .cart_box .contbox .check_box .input_check:checked:before {opacity: 1;}
.cart_sec .cart_box .contbox .check_box .label_check {font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;color: #3a383d; cursor: pointer;}
.cart_sec .cart_box .contbox .top {display: flex; align-items: center; justify-content: space-between;}
.cart_sec .cart_box .contbox .top .del_btn {font-weight: 600;font-size: 2rem;line-height: 100%;letter-spacing: -0.05em;text-decoration: underline; text-underline-offset: 3px;color: #8c8c8c;}
.cart_sec .cart_box .contbox .cart_list {display: flex; flex-direction: column; gap: 5rem;}
.cart_sec .cart_box .contbox .cart_list .item {display: flex; align-items: flex-start; gap: 5.5rem;}
.cart_sec .cart_box .contbox .cart_list .item .check_box {margin-top: 1.8rem;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox {flex: 1; display: flex; align-items: flex-start; gap: 1.6rem;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .imgbox {width: 16.6rem; align-self: 166/214; display: flex; align-items: center; justify-content: center; border-radius: 2rem; border: 1px solid #c8c8c8; overflow: hidden;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .imgbox .img {width: 100%; height: 100%; object-fit: cover;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox {flex: 1;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .tit {font-weight: 700;font-size: 3.2rem;letter-spacing: 0.12em;color: #3a383d; margin-bottom: 2.6rem;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .descbox {display: flex; align-items: flex-start; gap: 8.2rem; padding-left: 1.5rem;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .descbox .price {font-size: 2.4rem;color: #3a383d; display: flex; flex-direction: column; gap: 0.7rem;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .descbox .price .ori {text-decoration: line-through; color: #c8c8c8; text-underline-offset: 3px;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .descbox .opt {font-weight: 300;font-size: 2rem;line-height: 175%;color: #8c8c8c;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .control {display: flex; align-items: center; gap: 0.4rem; padding-left: 1.5rem; margin-top: 2rem ;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .control .btn {background: no-repeat center/contain; width: 2.4rem; aspect-ratio: 1/1;}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .control .btn.down{ background-image: url(../img/ctr_down.png);}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .control .btn.up { background-image: url(../img/ctr_up.png);}
.cart_sec .cart_box .contbox .cart_list .item .prdbox .txtbox .control .input {width: 3rem; font-weight: 300;font-size: 1.5rem;letter-spacing: 0.1em;text-align: center;color: #3a383d; background: none; border: none;}
.cart_sec .cart_box .totalbox {display: flex; align-items: center; justify-content: center; gap: 1rem; border-top:  1px solid #c8c8c8; padding: 1.7rem 1rem;}
.cart_sec .cart_box .totalbox .txt {font-weight: 500;font-size: 2rem;color: #181818;}
.cart_sec .cart_box .totalbox .txt .bold {font-weight: 700;}
.cart_sec .cart_box .totalbox .total {font-weight: 700;font-size: 2.8rem;color: #181818;}
.cart_sec .cart_total { border: 1px solid #c8c8c8;  border-radius: 1rem;}
.cart_sec .cart_total .tbl { width: 100%;  border-collapse: collapse;}
.cart_sec .cart_total .tbl thead tr { border-bottom: 1px solid #c8c8c8;}
.cart_sec .cart_total .tbl thead tr th { font-weight: 700;  font-size: 2.2rem;   letter-spacing: 0.03em;  color: #3a383d;  padding: 2.1rem 1rem;  text-align: center;}
.cart_sec .cart_total .tbl tbody tr {background: #e7e7e7;}
.cart_sec .cart_total .tbl tbody tr td { font-weight: 700;  font-size: 2.8rem;   letter-spacing: 0.03em; color: #3a383d; padding: 1.6rem 1rem; text-align: center;}
.cart_sec .cart_btnbox {display: flex; align-items: center; justify-content: space-between;}
.cart_sec .cart_btnbox .leftbox,
.cart_sec .cart_btnbox .rightbox {display: flex; gap: 2.2rem;}
.cart_sec .cart_btnbox .rightbox {justify-content: flex-end;}
.cart_sec .cart_btnbox .btn {width: 22rem; height: 5rem; display: flex; align-items: center; justify-content: center; border-radius: 1rem; font-weight: 700;font-size: 2.2rem;letter-spacing: 0.03em;}
.cart_sec .cart_btnbox .btn.typeA {color: #e6c8d0; border: 1px solid #c8c8c8; background: #3a383d;}
.cart_sec .cart_btnbox .btn.typeB {color: #3a383d; border: 1px solid #c8c8c8; background: #fff;}


/* 위시리스트 */
.wishlist_sec .prd_list {border: 1px solid #3a383d; background: #fff; display: flex; flex-wrap: wrap;}
.wishlist_sec .prd_list .item {width: calc(100%/3); display: flex; flex-direction: column; padding: 3rem 3rem 1rem; border-bottom: 1px solid #3a383d; border-right: 1px solid #3a383d}
.wishlist_sec .prd_list .item:nth-child(3n) {border-right: 0;}
.wishlist_sec .prd_list .item:nth-last-child(-n+3) { border-bottom: 0;}
.wishlist_sec .prd_list .item .imgbox {width: 100%; aspect-ratio: 284/380; overflow: hidden;}
.wishlist_sec .prd_list .item .imgbox .img {width: 100%; height: 100%; object-fit: cover;}
.wishlist_sec .prd_list .item .txtbox {display: flex; flex-direction: column;}
.wishlist_sec .prd_list .item .txtbox .tit {font-weight: 600;font-size: 2rem;color: #000;}
.wishlist_sec .prd_list .item .txtbox .desc {font-size: 1.4rem;color: #000;}
.wishlist_sec .prd_list .item .txtbox .price {margin-top: 1.5rem; font-weight: 600;font-size: 1.8rem;letter-spacing: 0.05em;color: #000;}
.wishlist_sec .pagination {margin-top: 4.6rem;}


/* 최근 본 상품 */
.recently_sec .prd_list {border: 1px solid #3a383d; background: #fff; display: flex; flex-wrap: wrap;}
.recently_sec .prd_list .item {width: calc(100%/3); display: flex; flex-direction: column; padding: 3rem 3rem 1rem; border-bottom: 1px solid #3a383d; border-right: 1px solid #3a383d}
.recently_sec .prd_list .item:nth-child(3n) {border-right: 0;}
.recently_sec .prd_list .item:nth-last-child(-n+3) { border-bottom: 0;}
.recently_sec .prd_list .item .imgbox {width: 100%; aspect-ratio: 284/380; overflow: hidden;}
.recently_sec .prd_list .item .imgbox .img {width: 100%; height: 100%; object-fit: cover;}
.recently_sec .prd_list .item .txtbox {display: flex; flex-direction: column;}
.recently_sec .prd_list .item .txtbox .tit {font-weight: 600;font-size: 2rem;color: #000;}
.recently_sec .prd_list .item .txtbox .desc {font-size: 1.4rem;color: #000;}
.recently_sec .prd_list .item .txtbox .price {margin-top: 1.5rem; font-weight: 600;font-size: 1.8rem;letter-spacing: 0.05em;color: #000;}
.recently_sec .pagination {margin-top: 4.6rem;}


/* 고객센터 */
.board_sec .bo_list {display: flex; flex-direction: column; gap: 1rem;}
.board_sec .bo_list .item {border-radius: 1rem; overflow: hidden;}
.board_sec .bo_list .item .question {padding: 1.4rem 2rem; background: #e6c8d0; cursor: pointer;}
.board_sec .bo_list .item .question .tit { font-weight: 300;  font-size: 2rem;  line-height: 150%;  color: #797979;}
.board_sec .bo_list .item .question .desc {font-size: 2rem;line-height: 150%;color: #3a383d;}
.board_sec .bo_list .item .answer { width: 100%;  min-height: 32rem;  border-top: 1px solid #d9d9d9;  padding: 4.8rem 6rem;  display: none;}
.board_sec .bo_list .item .answer .cont {font-size: 2rem;line-height: 150%;color: #797979;}
.board_sec .bo_list .item.on {border: 1px solid #d9d9d9;}
.board_sec .bo_list .item.on .question {background: #fff0f4;}
.board_sec .bo_list .item.on .answer {display: block;}
.board_sec .pagination {margin-top: 5rem;}
.board_sec .bo_btn {font-weight: 600;font-size: 2.5rem;text-align: center;color: #e6c8d0; display: flex; align-items: center; justify-content: center; width: 100%; height: 7rem; background: #3a383d; border: 1px solid #797979; border-radius: 1rem; margin-top: 5.5rem;}

.board_sec.write {margin-bottom: 7rem;}
.board_sec .write_form {border: 1px solid #8c8c8c; border-radius: 1rem;}
.board_sec .write_form .side_btns {display: flex; align-items: center; gap: 1.9rem;}
.board_sec .write_form .side_btns .btn {font-size: 15px;letter-spacing: -0.05em;text-align: center;color: #8c8c8c; display: inline-flex; align-items: center; justify-content: center;}
.board_sec .write_form .side_btns .bar {font-size: 1.6rem;text-align: center;color: #8c8c8c;}
.board_sec .write_form .topbox {border-bottom: 1px solid #8c8c8c; display: flex; align-items: center; justify-content: space-between; gap: 2.6rem; padding: 2.6rem 3rem;}
.board_sec .write_form .topbox .select { appearance: none;  background: url(../img/write_select_arrow.png) no-repeat right center / 1.7rem transparent;  font-weight: 600; font-size: 2.4rem;  line-height: 125%;  color: #8c8c8c;  border: none;  min-width: 12.8rem;  padding-right: 4rem;}
.board_sec .write_form .topbox .input {width: 100%; flex: 1;  border: none; border-radius: 0; background: #fff; font-size: 2.4rem;line-height: 125%;color: #181818;}
.board_sec .write_form .topbox .input::placeholder {color: #999;}
.board_sec .write_form .topbox .side_btns {margin-right: 9.4rem;}
.board_sec .write_form .contbox { position: relative; padding: 2rem 10rem 2rem 3rem;}
.board_sec .write_form .contbox .side_btns { position: absolute; right: 3rem; top: 2rem;}
.board_sec .write_form .contbox .textarea {width: 100%; height: 27.6rem; font-size: 2rem; line-height: 150%;color: #181818; resize: none; border: none; border-radius: 0; background: #fff;}
.board_sec .write_form .contbox .textarea::placeholder {color: #999;}
.board_sec .write_form .bo_btn {margin-top: 3.5rem;}

.board_sec.state .bo_list .item .question .desc .state { font-weight: 400;  color: #797979; margin-left: 0.2em;}
.board_sec.state .bo_list .item .answer {padding: 0;}
.board_sec.state .bo_list .item .answer .cont {padding: 3rem 5rem; display: flex; flex-direction: column; gap: 1.5rem; font-size: 2rem;line-height: 150%;color: #797979; border-bottom: 1px dashed #d9d9d9;}
.board_sec.state .bo_list .item .answer .cont:last-child{border-bottom: 0;}
.board_sec.state .bo_list .item .answer .cont .tit {color: #999;}



/* 로그인 */
.login_wrap .header {display: none;}
.login_wrap .container {display: flex; flex-direction: column;}
.login_sec {flex: 1; display: flex;}
.login_sec .leftbox { flex: 1;  overflow: hidden;}
.login_sec .leftbox .img {width: 100%; height: 100%; object-fit: cover;}
.login_sec .rightbox { width: 45%; max-width: 86rem; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.login_sec .rightbox .login_box {width:90%; max-width: 420px; }
.login_sec .rightbox .login_box .logo_box {display: flex; align-items: center; justify-content: center; width: 33.2rem; margin: 0 auto 3.2rem;}
.login_sec .rightbox .login_box .form_box { margin-bottom: 1.4rem;  display: flex;  flex-direction: column;}
.login_sec .rightbox .login_box .form_box .input_box {position: relative; margin-bottom: 1.8rem;}
.login_sec .rightbox .login_box .form_box .input_box .input_text { font-size: 1.8rem;  line-height: 100%;  color: #292929;  border: none; background: none; padding: 1.8rem 1.1rem;}
.login_sec .rightbox .login_box .form_box .input_box .input_text::placeholder{color: #292929;}
.login_sec .rightbox .login_box .form_box .input_box .input_line { position: absolute;  left: 0; bottom: 0; width: 100%;}
.login_sec .rightbox .login_box .form_box .check_box {  display: flex; align-items: center; gap: 1rem; margin-top: 1rem;}
.login_sec .rightbox .login_box .form_box .check_box .input_check {appearance: none; position: relative; border: 1px solid #c8c8c8; border-radius: 10rem; width: 2.2rem;height: 2rem; background: #fff; cursor: pointer;}
.login_sec .rightbox .login_box .form_box .check_box .input_check::before {content: ""; position: absolute; left: 50%; top: 50%; width: 1rem; aspect-ratio: 1/1; border-radius: 50%; background: #3a383d; transform: translate(-50%,-50%); opacity: 0;}
.login_sec .rightbox .login_box .form_box .check_box .input_check:checked:before {opacity: 1;}
.login_sec .rightbox .login_box .form_box .check_box .label_check {font-size: 1.2rem;line-height: 100%;color: #8c8c8c; cursor: pointer;}
.login_sec .rightbox .login_box .form_box .login_btn { background: url(../img/login_btn_bg.png) no-repeat center / 100% 100%; font-weight: 700; font-size: 1.8rem;  text-align: center; color: #e6c8d0;  width: 100%;  height: 5.5rem; display: flex;  align-items: center; justify-content: center; margin-top: 5.8rem;}
.login_sec .rightbox .login_box .sch_box { display: flex; align-items: center;  justify-content: center;  gap: 1rem;}
.login_sec .rightbox .login_box .sch_box .link {font-size: 1.3rem;line-height: 100%;letter-spacing: -0.05em;text-align: center;color: #8c8c8c;}
.login_sec .rightbox .login_box .sch_box .bar {width: 1px; height: 1.2rem; background: #d9d9d9;}
.login_sec .rightbox .login_box .sns_box { margin-top: 9rem;  display: flex;  flex-direction: column;  gap: 1.5rem;}
.login_sec .rightbox .login_box .sns_box .sns_btn {  width: 100%;  height: 5.7rem;   border-radius: 1rem; border: 1px solid #e0eddd;  font-weight: 700;  font-size: 1.8rem;  text-align: center;}
.login_sec .rightbox .login_box .sns_box .sns_btn.naver{background: #00ac16; color: #fff;}
.login_sec .rightbox .login_box .sns_box .sns_btn.kakao{background: #fae100; color: #181818;}


/* 회원가입 */
.join_sec {margin: 4rem 0 2.6rem;}
.join_sec > .inner {max-width: 1040px;}
.join_sec .logobox {display: flex; align-items: center; justify-content: center; width: 43rem; margin: 0 auto 4rem;}
.join_sec .form_wrap {display: flex; flex-direction: column; gap: 4rem;}
.join_sec .form_box {display: flex; flex-direction: column; gap: 2rem;}
.join_sec .form_box .titbox .tit {font-weight: 600;font-size: 2.5rem;letter-spacing: -0.05em;color: #3a383d;}
.join_sec .form_box .agree_box {border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 1rem ;background: #fbfbfb; display: flex; flex-direction: column; gap: 1.6rem; padding: 2.2rem 2.6rem;}
.join_sec .form_box .check_box {  display: flex; align-items: center; gap: 1rem;}
.join_sec .form_box .check_box .input_check {appearance: none; position: relative; border: 1px solid #c8c8c8; border-radius: 10rem; width: 2rem;height: 2rem; background: #fff; cursor: pointer;}
.join_sec .form_box .check_box .input_check::before {content: ""; position: absolute; left: 50%; top: 50%; width: 1rem; aspect-ratio: 1/1; border-radius: 50%; background: #3a383d; transform: translate(-50%,-50%); opacity: 0;}
.join_sec .form_box .check_box .input_check:checked:before {opacity: 1;}
.join_sec .form_box .check_box .label_check {font-size: 1.6rem; line-height: 100%; display: flex; align-items: center; gap: 1rem; cursor: pointer;}
.join_sec .form_box .check_box .label_check .tit{color: #3a383d;}
.join_sec .form_box .check_box .label_check .btn {text-decoration: underline; text-underline-offset: 3px; color: #003ece;}
.join_sec .form_box .form_item {display: flex; flex-direction: column; gap: 1.2rem;}
.join_sec .form_box .form_tit {font-weight: 600;font-size: 2.2rem;color: #3a383d; margin-bottom: 0.8rem;}
.join_sec .form_box .input_flex {display: flex; align-items: center; gap: 2rem;}
.join_sec .form_box .input_flex.mt8 {margin-top: 0.8rem;}
.join_sec .form_box .input_box { width: 100%; flex: 1; display: flex; align-items: center; gap: 1rem; padding-bottom: 2rem; border-bottom: 1px solid #c8c8c8;}
.join_sec .form_box .input_box .input_text { font-weight: 300;  font-size: 1.8rem; color: #3a383d;  flex: 1;  width: 100%; border: 0; background: none;}
.join_sec .form_box .input_box .input_text.bold {font-weight: 500;}
.join_sec .form_box .input_box .state {font-size: 1.6rem;color: #e9a2a2;}
.join_sec .form_box .input_btn { width: 16rem; height: 4.5rem; display: flex; align-items: center; justify-content: center; border: 1px solid #c8c8c8;border-radius: 1rem; font-weight: 500;font-size: 2rem;color: #3a383d;}
.join_sec .form_box .form_btn .submit_btn {width: 100%; height: 7rem; display: flex; align-items: center; justify-content: center; border-radius: 1rem; background: #3a383d; font-weight: 700;font-size: 2.4rem;letter-spacing: -0.03em;text-align: center;
color: #e6c8d0;}
.join_sec .form_box .form_btn .submit_btn:disabled {background: #c0c0c0; ;color: #fff; }
