@import url("https://fastly.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

*{font-family:'pretendard','Noto Sans KR'}
html,body{background-color:#666666;padding:0px;margin:0px}
.main{font-size:14px;font-weight:400;width:500px;margin:0 auto;line-height:30px;margin-top:10%;background-color:#f6f6f6;padding:30px 20px 45px 30px;border-radius:10px;color:#1f1f1f;box-shadow:1px 3px 12px 0px #4a4a4a}

h2{font-size:20px;font-weight:500;padding-bottom:15px}
h3{color:red;    padding-left: 32px;font-weight:300}
.text{padding-left:32px}

.footer{position:fixed;bottom:0px;background-color:#313131;color:#fff;height:50px;width:100%;padding:0px;}
.footer div.copyright{width:400px;margin:0 auto;;font-size:12px;font-weight:200;text-align:center;margin-top:15px;color:#a4a4a4}