
h2{font-size:14px; letter-spacing:-1px; color:#000; padding:10px 0 0 2px;}
h2 span{font-size:14px; color:#FF3300}
h3{height:30px;font-size:15px; margin:5px 0;}
h3.step01{background:url(https://image1.educe.co.kr/pop_contents/bg_tit_chap1.gif) repeat-x; color:#01abbb;}
h3.step02{background:url(https://image1.educe.co.kr/pop_contents/bg_tit_chap2.gif) repeat-x; color:#5c7cbd;}
h3.step03{background:url(https://image1.educe.co.kr/pop_contents/bg_tit_chap3.gif) repeat-x; color:#855cbd;}
h3 span{float:right; padding-top:4px;}

h4{ font-size:13px; margin:5px 0;}
h4.step01{color:#01abbb;}
h4.step01 span{background:url(https://image1.educe.co.kr/pop_contents/stit_blt01.gif) no-repeat}
h4.step02{color:#5c7cbd;}
h4.step02 span{background:url(https://image1.educe.co.kr/pop_contents/stit_blt02.gif) no-repeat}
h4.step03{color:#855cbd;}
h4.step03 span{background:url(https://image1.educe.co.kr/pop_contents/stit_blt03.gif) no-repeat}
h4 span.blt{height:23px; width:20px; display:inline-block; color:#FFF; font-family:verdana; font-size:10px; text-align:center; line-height:23px; }

h5{background:url(https://image1.educe.co.kr/pop_contents/blt_arrow.gif) no-repeat 0 6px; padding-left:7px; height:14px;letter-spacing:-1px; font-size:13px; color:#000000; margin:5px 0 10px 0;}

.InfoBox{border:1px solid #e6e6e6; background-color:#f5f5f5; padding:10px; font-size:11px; letter-spacing:-1px}
.keypoint{background-color:#fffad4; border:1px solid #eae09e; padding:10px;}
.keypoint p{font-size:11px; padding-top:10px; line-height:14px;}

.step01_box{border:3px solid #2da9a3; background:url(https://image1.educe.co.kr/pop_contents/bg_tit_step1.gif); padding:19px 24px;}
.step02_box{border:3px solid #5173b9; background:url(https://image1.educe.co.kr/pop_contents/bg_tit_step2.gif); padding:19px 24px;}
.step03_box{border:3px solid #6c42a8; background:url(https://image1.educe.co.kr/pop_contents/bg_tit_step3.gif); padding:19px 24px}

.titStep dl{}
.titStep dt{display:inline-block; width:180px; padding-right:10px;}
.titStep dt.line01{border-right:1px solid #2da9a3;}
.titStep dt.line02{border-right:1px solid #5173b9;}
.titStep dt.line03{border-right:1px solid #6c42a8;}
.titStep dd{display:inline-block;  padding-left:10px; vertical-align:top; font-size:11px; width:440px; letter-spacing:-1px;}

.mauto{margin:0 auto !important}

ul.list_q{color:#000000; letter-spacing:0px; font-size:12px;}
ul.list_q li{background:url(https://image1.educe.co.kr/pop_contents/icn_dotline02.gif) repeat-x bottom; padding:5px 0; }
ul.list_q li:last-child{background:none; }
ul.list_q li dt, dd{display: table-cell;}
ul.list_q li span.q{background:url(https://image1.educe.co.kr/pop_contents/icn_q.gif) no-repeat 0 -1px; padding-left:18px;}
ul.list_q li span.num{background-color:#855cbd; padding:0 3px; margin-right:5px; font-family:verdana; font-size:10px; font-weight:bold; color:#FFFFFF;}
ul.list_a{color:#000000; letter-spacing:0px;}
ul.list_a li{background:url(https://image1.educe.co.kr/pop_contents/icn_dotline02.gif) repeat-x bottom; padding:5px 0;}
ul.list_a li:last-child{background:none; }
ul.list_a li dt, dd{display: table-cell;}
ul.list_a li span.a{background:url(https://image1.educe.co.kr/pop_contents/icn_a.gif) no-repeat; padding-left:16px;}
ul.list_a li span.num{background-color:#01abbb; padding:0 3px; margin-right:5px; font-family:verdana; font-size:10px; font-weight:bold; color:#FFFFFF;}
li span.block{background-color:#54faf6; padding:2px;}


.table_type1 {position:relative;border-collapse:collapse;width:100%; border-top:2px solid #545454;}
.table_type1 th{background-color:#f5f5f5; border:1px solid #d5d5d5; border-width:0 1px 1px 0; padding:5px 10px;text-align:center}
.table_type1 td{border-bottom:1px solid #d5d5d5; padding:5px 10px;}

.table_type2 {position:relative;border-collapse:collapse; border-top:2px solid #545454;}
.table_type2 thead th{background-color:#f5f5f5; border:1px solid #d5d5d5; border-width:0 1px 1px 0; padding:5px 10px;text-align:center}
.table_type2 thead th:first-child{border:1px solid #d5d5d5; border-width:0 1px 1px 1px;}
.table_type2 tbody td{border:1px solid #d5d5d5; border-width:0 1px 1px 0; text-align:center; padding:5px 10px;}
.table_type2 tbody td:first-child{border:1px solid #d5d5d5; border-width:0 1px 1px 1px;}

.table_process{position:relative;border-collapse:collapse; border:0;}
.table_process td{background:url(https://image1.educe.co.kr/pop_contents/bg_process.gif) no-repeat; width:98px; height:113px; text-align:center; color:#FFFFFF;  font-size:13px;}
.table_process td.arrow{background:url(https://image1.educe.co.kr/pop_contents/bg_process_arrow.gif) no-repeat center; width:30px;}
.table_process td.end{background:url(https://image1.educe.co.kr/pop_contents/bg_process_end.gif) no-repeat; width:98px; height:113px; text-align:center; color:#FF3300; font-size:13px;}



A:hover { color:#ff0000; text-decoration:none;}

.satisfyBox{background:url(https://image1.educe.co.kr/pop_contents/img_satisfy_bg.gif) repeat-x; border-right:1px solid #cdcdcd;}
.satisfyBox dl{}
.satisfyBox dl dt{display:inline-block;}
.satisfyBox dl dd{display:inline-block; vertical-align:top; margin:50px 0 0 30px;}

.contents_note { border:1px solid #17909d; padding:5px 10px; margin-top:5px; font-size:11px;	display : none;}




.contents_Topbg{position:fixed; top:80px; z-index:551; background:url(https://image1.educe.co.kr/pop_contents/bg_tit_shadow.png) repeat-x; }
.before_correct_Tab_off{position:fixed; top:70px; z-index:500}
.before_correct_Tab_on{position:fixed; top:70px; z-index:500}
.before_correct_Tab_on li .conTxt{padding-top:10px; border-top:1px solid #CCC; line-height:24px;	font-size:13px;	clear:both; width:618px; height:550px; overflow-y:auto; padding-right:10px;}
.before_correct_Tab_on li .conTxt span{}
.before_correct_Tab_on .before{position:relative; overflow:hidden; clear:both;}
.before_correct_Tab_on .before li.top{background:url(https://image1.educe.co.kr/pop_contents/pop_boxY_top.png) no-repeat; height:33px; padding:25px 60px 0 25px;  font-size:13px; font-weight:bold;}
.before_correct_Tab_on .before li.center{background:url(https://image1.educe.co.kr/pop_contents/pop_boxY_center.png) repeat-y; padding:0 60px 0 25px;}



.correctBox{position:relative; overflow:hidden; clear:both;}
.correctBox li .conTxt{padding-top:10px; border-top:1px solid #CCC; line-height:24px;	font-size:13px;	 overflow:hidden; clear:both; width:100%;}
.correctBox li .conTxt span{}
.correctBox li .conTxt .num li{ float:left; padding-bottom:5px;}
.correctBox li .conTxt .num dl dt{float:left;width:15px; line-height:13px;}
.correctBox li .conTxt .num dl dd{float:left;width:600px; font-size:12px; letter-spacing:-1px; line-height:16px;}

.correctBox .after{position:relative; overflow:hidden; clear:both;}
.correctBox .after li.top{background:url(https://image1.educe.co.kr/pop_contents/pop_boxW_top.png) no-repeat; height:33px; padding:25px 60px 0 25px;  font-size:13px; font-weight:bold;}
.correctBox .after li.top span{}
.correctBox .after li.center{background:url(https://image1.educe.co.kr/pop_contents/pop_boxW_center.png) repeat-y; padding:0 60px 0 25px;}
.correctBox .after li.bottom{background:url(https://image1.educe.co.kr/pop_contents/pop_boxW_bottom.png)  no-repeat;height:24px;}
.correctBox .before{position:relative; overflow:hidden; clear:both;}
.correctBox .before li.top{background:url(https://image1.educe.co.kr/pop_contents/pop_boxY_top.png) no-repeat; height:33px; padding:25px 60px 0 25px;  font-size:13px; font-weight:bold;}
.correctBox .before li.center{background:url(https://image1.educe.co.kr/pop_contents/pop_boxY_center.png) repeat-y; padding:0 60px 0 25px;}
.correctBox .before li.bottom{background:url(https://image1.educe.co.kr/pop_contents/pop_boxY_bottom.png)  no-repeat;height:24px;}


.spec_board03 {

}

.spec_board03 tr th {
	border-top: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;

	padding: 3px 5px;
}


.spec_board03 tr td {
border-top: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	padding: 10px 5px;
}
.spec_board03 tr td ul {
	font-size: 11px;
	width: 98%;
}

.spec_board03 tr td ul li {
	color: #777777;
	line-height: 16px;
	display: block;
	clear: both;
}
.spec_board03 tr td ul li span {
	display: inline;
	width: 40px;
	float: left;
	text-align: right;
	padding-right: 4px;
}

.spec_board03 tr td ul li div {
	margin-top: -1px;
	display: inline;
/*	float: right;
	position: absolute;*/
	width: 170px;
}
.spec_board03 tr td ul li img.stats01 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #3E689A;
	border-left-color: #3E689A;
	height: 6px;
	margin-right: 3px;
}
.spec_board03 tr td ul li img.stats02 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #1F6FA3;
	border-left-color: #1F6FA3;
	height: 6px;
	margin-right: 4px;
}
.spec_board03 tr td ul li img.stats03 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #B83E00;
	border-left-color: #B83E00;
	height: 6px;
	margin-right: 4px;
}


.spec_board03 tr td ul li div .fnum {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	vertical-align: middle;
	letter-spacing: -1px;
}
