
.s_my_pos01.jobkorea .s_my_wrap01 {min-width:920px;max-width:920px;width:100%;position:relative;margin:0 auto;padding:10px;font-size:16px;font-weight:300;}


.s_my_pos01 .s_my_wrap01 .s_my_pos.jobkorea{margin:30px 0px}

.s_my_pos01 .s_my_wrap01 .s_my_pos.jobkorea li {height:42px;width:116px; float:left; text-align:center; color:#000; font-size:14px; padding:12px 0; background:#fafafa; margin-left:-1px; border:1px solid #dcdcdc; box-sizing:border-box; cursor:pointer;border-bottom:1px solid #39f }
.s_my_pos01 .s_my_wrap01 .s_my_pos.jobkorea li.on{width:115px;color:#39f;border:1px solid #39f;border-bottom:1px solid #fff;background-color:#ffffff;margin-right:1px}

.s_my_pos01 .s_my_wrap01 .s_my_pos.jobkorea li span.cnt {color:#000}
.s_my_pos01 .s_my_wrap01 .s_my_pos.jobkorea li.on span.cnt {color:#ff3300}



.table_st2.jobkorea { border-bottom:1px solid #9aa2b2}
.table_st2.jobkorea th { height:40px; border-top:1px solid #9aa2b2; border-bottom:0px solid #69829b; font-size:12px;letter-spacing: -1px;font-weight:normal;font-family:'맑은 고딕';color:#333; background:#f2f4f7;}
.table_st2.jobkorea td { height:50px; border-bottom:1px solid #dadee3; font-size:13px; vertical-align:middle; color:#333; font-weight:normal}
.table_st2.jobkorea td.date{font-size:13px;font-family:'맑은 고딕';letter-spacing:0px}
.table_st2.jobkorea td strong{font-size:13px;font-family: 맑은 고딕;letter-spacing:-0.5px;font-weight:normal;;vertical-align: middle;}

.table_st2.jobkorea td.per_done{font-size:15px;font-family:'맑은 고딕';letter-spacing:0px}
.table_st2.jobkorea td span.part{font-weight:300;color:#39f;font-family:'맑은 고딕';font-weight:bold;font-size:12px;letter-spacing:-0.5px;vertical-align: middle;margin-right:5px}
.table_st2.jobkorea td.step{font-size:12px;font-family:'맑은 고딕';word-break: keep-all}
.table_st2.jobkorea td.txt_l {text-align:left; padding-left:10px;}
.table_st2.jobkorea th.txt_l {text-align:left; padding-left:30px;}
.table_st2.jobkorea th:last-child, .table_st1 td:last-child {border-right:0}
.table_st2.jobkorea .no_data{border-right:0px;padding:100px 0px;font-family:'맑은 고딕';}

.bt_st_my.jobkorea { width:55px;display:inline-block; font-size:13px;line-height: 28px;height: 27px;padding:0 8px;color:#39f; border:1px solid #39f;font-family:'맑은 고딕';transition: all 0.3s;}
.bt_st_my.jobkorea.done{color:#9d9e9e;border: 1px solid #d9d9d9;opacity: 0.6;}

.bt_st_my.jobkorea:hover{background-color:#39f;color:#ffffff;transition: all 0.3s;}
.bt_st_my.jobkorea.done:hover{background-color:#fff;color:#b6bec9;box-shadow:none;}

.bt_result.jobkorea { display:inline-block; font-size:13px;font-family: '맑은 고딕';line-height:27px; background:url(/images/icon/bt_result_blue.png) no-repeat 10px 7px; color:#39f; border:1px solid #39f; padding:0 10px 0 27px; margin-right:5px;}
.bt_result.jobkorea.done{background:url(/images/bt_result.jpg) no-repeat 10px 7px;box-shadow:none;transition:none;color:#9d9e9e;border: 1px solid #d9d9d9;opacity: 0.6;transition: all 0.3s;}
.bt_result.jobkorea.done:hover{}



.bt_video.jobkorea { display:inline-block; font-size:13px;font-family: '맑은 고딕';line-height:29px; background:#97a3b1 url(/images/bt_video.jpg) no-repeat 10px 7px; color:#fff; padding:0 10px 0 27px; margin-right:5px;}
.bt_video.jobkorea:hover{ background-color:#8291a2}
.bt_video.jobkorea.done{box-shadow:none;transition:none;color:#d2d2d2;border: 1px solid #d9d9d9;opacity: 0.6;transition: all 0.3s;}
.bt_video.jobkorea.done:hover{background-color:#97a3b1;box-shadow:none;transition:none;color:#d2d2d2;border: 1px solid #d9d9d9;opacity: 0.6;transition: all 0.3s;}





