@charset "utf-8";

/* CSS Document */


/*---  check/radio box   ----*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { -webkit-text-fill-color: #000; -webkit-box-shadow: 0 0 0px 1000px #fff inset; box-shadow: 0 0 0px 1000px #fff inset; transition: background-color 5000s ease-in-out 0s; } 

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active { -webkit-text-fill-color: #000; -webkit-box-shadow: 0 0 0px 1000px #fff inset; box-shadow: 0 0 0px 1000px #fff inset; transition: background-color 5000s ease-in-out 0s; } 



input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    width: 22px;
    height: 22px;
    background: #fff url(../images/ck_off.png) no-repeat center;
    border: 1px solid #d5d5d5;
    cursor: pointer;
    float: left;
}

input[type="checkbox"]:checked+label {
    background: url(../images/ck_on.png) #fff no-repeat center;
    border: 1px solid #00c1f2;
    float: left;
}

input[type="checkbox"]+label span {
	position: absolute;
    left: 22px;
    padding: 0px 8px;
    line-height: 22px;
    display: inline-block;
    top: 0px;
}

input[type="checkbox"]:checked+label span {
    color: #04b5e2
}

body{    background-color: #fbfbfb;}

/*
body::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/game/img_BG.png);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    z-index: -1;
    content: "";
    background-size: cover
}
*/


/*******************
       login
*******************/

.login_wrap {
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.login {
    position: absolute;
    width: 640px;
    height: auto;
    background: #fff;
    padding: 70px 0 40px 0px;
    text-align: center;
    border-radius:5px;
	border: 1px solid #e9e9e9;
    left: 50%;
    right: 50%;
    margin-left: -320px;
    top: 50%;
    margin-top: -360px;
}

.input_wrap {
    position: relative;
    width: 500px;
    margin: 0 auto;
    letter-spacing: 0;
}

.login_logo {
    display: table;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 40px
}

.login_logo p {
    letter-spacing: -1px;
    font-size: 17px;
    color: #8ac8e0;
    padding-top: 12px;
}

.login_logo p strong {
    color: #10a1d8;
    font-weight: 500
}

.login_logo img {
    max-height: 38px
}

.login_logo span.logo1 {
    display: table-cell;
    width: 49%;
    text-align: left
}

.login_logo span.logo1 img {
    max-height: 25px;    max-width: 180px;
}

.login_logo span.logo2 {
	display: inline-block;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
    margin-bottom: -8px;
	font-size: 14px;
    font-weight: 400;
}

.input_wrap input[type="text"] {
  
    width: 100%;
    height: 45px;
    line-height: 45px;
    letter-spacing: 0;
    color: #555;
    font-size: 15px;   
	font-weight:500
}

.input_wrap input[type="password"] {

    width: 100%;
    height: 45px;
    line-height: 45px;
    letter-spacing: 0;
    color: #555;
    font-size: 15px;
	font-weight:500
}

.input_wrap input[type="text"]:hover,
.input_wrap input[type="password"]:hover {
    border: 1px #0099ff dotted;
    color: #007dfb
}

.input_wrap input[type="password"] {
    font-family: '맑은 고딕'
}

.input_wrap input[type="text"]::-webkit-input-placeholder {
    color: #c8c8c8
}

.input_wrap input[type="text"]::-moz-placeholder {
    color: #c8c8c8
}

.input_wrap input[type="text"]::-ms-input-placeholder {
    color: #c8c8c8
}

.input_wrap input[type="text"]::placeholder {
    color: #c8c8c8;
    
}

.input_wrap input[type="password"]::-webkit-input-placeholder {
    color: #c8c8c8;font-family:Montserrat, Pretendard
}

.input_wrap input[type="password"]::-moz-placeholder {
    color: #c8c8c8;font-family:Montserrat, Pretendard
}

.input_wrap input[type="password"]::-ms-input-placeholder {
    color: #c8c8c8;font-family:Montserrat, Pretendard
}

.input_wrap input[type="password"]::placeholder {
    color: #c8c8c8;font-family:Montserrat, Pretendard
}

.check_remem {
    position: absolute;
    right: 0;
    font-size: 14px;
    width: 110px;
    text-align: right;
	font-weight:600;
	margin-top:15px
}

.check_remem span {
    color: #999;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.5px
}

.login_btn {
    cursor: pointer;
    opacity: 0.90;
    box-shadow:1px 1px 7px -2px #d3d3d3;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 60px 0 35px;
    width: 100%;
    height: 60px;
    font-size: 23px;
    letter-spacing: 0;
	background: linear-gradient( to right, #87c7e5,#1e7bbd,#7744bb);
    color: #fff;
    border-radius: 5px;
    outline: unset;
    transition: all 0.4s
}

.login_btn:hover{opacity:1;box-shadow:1px 1px 7px -1px #9b9b9b;transition: all 0.4s}

.sns_wrap {
    font-size: 13px;
    color: #999;
    letter-spacing: 0.01em;
    font-weight: 400;
    text-align: center
}

.sns_wrap img {
    margin: 0 4px;
    vertical-align: middle;
    width: 30px
}

.input_wrap input[type="text"],
input[type="password"],
.check_remem {
    letter-spacing: 0.01em;
    font-weight: 500
}

#custom-button-login img {
    margin: 0 4px;
    vertical-align: middle;
    width: 30px;
}

#custom-button-login {
    position: absolute;
    bottom: -3px;
    right: 0px;
    ;
    color: #006aca;
    transition: all 0.4s;
    opacity: 0.80;
    cursor: pointer
}

#custom-button-login:hover {
    opacity: 1;
    transition: all 0.4s
}

.mail {
    text-decoration: underline;
    text-underline-position: under
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#sel_area {
    width: 500px;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -250px;
    top: 30%;
    background: #FFF;
    /* border: 1px solid #1f8cbc; */
    padding: 20px;
    box-shadow: 1px 3px 8px 1px #737070;
    display: none;
    border-radius: 10px;
}

#sel_area .sel_mem li {
    padding: 3px 0px
}

#sel_area .sel_mem li.desc {
    border-bottom: 1px dotted #5d5d5d;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
    color: #1e80b8
}

#sel_area .sel_mem li dt {
    display: inline-block;
    width: 360px;
    font-size: 14px
}

#sel_area .sel_mem li dd {
    display: inline-block;
    width: 60px
}

#sel_area .sel_mem li dd .sel-id {
    border: 1px solid #525252;
    background-color: #fff;
    padding: 2px 6px;
    text-align: center;
    font-weight: 200;
    font-size: 13px;
    cursor: pointer;
}

#sel_area .sel_mem li dd .sel-id:hover {
    box-shadow: 1px 1px 3px 0px #707070;
}

.pgc-member-title{background: url(/images/admin/ari_tech01.jpg) center no-repeat;background-size: cover;color: #fff;position:relative;height:100px;border-radius:5px}
.pgc-member-title.main{height:120px;border-radius:5px;}

.pgc-member-title .left-logo{color: #6c6c6c;height: 180px;position: absolute;left: -26px;top: -40px;width: 20px;writing-mode: vertical-rl;font-size: 10px;font-weight: 500;letter-spacing:2px;}
.pgc-member-title .left-logo .red{font-size: 12px;font-weight: 800;}
.pgc-member-title .top-logo{background: url(/images/logo/educe-logo-s.png) center no-repeat;background-size: contain;color: #fff;height: 15px;position: absolute;right: 3px;top: -24px;width: 40px;}
.pgc-member-title h4{font-size:15px;font-weight:500; color: #fff;padding: 14px 0px 5px 20px;text-align: left;}
.pgc-member-title.main h2{font-size:30px;padding: 20px 40px;text-align: left;line-height:42px}
.pgc-member-title p{color: #80a8cb;border-bottom: 1px solid #c6d8e7;}



.input-box.id{border: 1px solid #DEDEDE;background: url(/images/admin/ic-id.svg) 10px center no-repeat;border-radius:5px;display: inline-block;width: 100%; margin-bottom: 14px;}
.input-box.id input[type='text'],.input-box.password input[type='password']{border:0px;margin-left:40px; width: calc(100% - 70px);}

.input-box.password{border: 1px solid #DEDEDE;background: url(/images/admin/ic-password.svg) 10px center no-repeat;border-radius:5px;display: inline-block;width: 100%;}

footer{    position: fixed;
    bottom: 0px;
    background-color: #e1e1e1;
    height: 45px;
    width: 100%;
    vertical-align: middle;
    border-top: 1px solid #d5d5d5;
}
footer span{display:block;text-align:center;font-weight:400;font-size: 12px; color: #424242;width:360px;margin:10px auto;letter-spacing: -0.5px;}
footer span img{height: 12px;margin-top: -3px;margin-right: 20px;filter : grayscale(1)}
