@charset "utf-8";
/* CSS Document */

/*main_visual*/
.main_visual {width:100%; height:565px; position: relative; overflow:hidden;} 
.main_visual .mov_r { position:absolute; width:23px; height:45px; z-index:2; right:120px; top:50%;}
.main_visual .mov_l { position:absolute; width:23px; height:45px; z-index:2; left:120px; top:50%;}

.main_visual .ind { position: absolute; top:385px; z-index:2; }
.main_visual .ind li { display:block; float:left; width:10px; height:10px; margin-right:10px; background:#fff; border-radius:5px; cursor:pointer;}
.main_visual .ind li.on { display:block; width:10px; height:10px; margin-right:10px; background:#01a8cc; border-radius:5px ;  }
 
.main_visual .visual_list { position:relative; margin:auto; display:block; height:565px}
.main_visual .visual_list > li { width:100%; height:100%; /*position: absolute; left: 0; top: 0;*/  }

.main_visual .txt_box { position:relative; width:1200px; margin:auto; }
.main_visual .txt_list > li { width:100%; position:absolute; left:0; top:140px; }
.main_visual .txt_box .txt1 { font-size:60px; color:#fff; line-height:66px; font-weight:bold; margin-bottom:30px}
.main_visual .txt_box .txt2 { font-size:19px; color:#637893; line-height:26px }

.main_visual .visual_list li.visual_01 { background:url(/images/m_img01.jpg) no-repeat center; background-size:cover;}
.main_visual .visual_list li.visual_02 { background:url(/images/m_img02.jpg) no-repeat center; background-size:cover; }


/*main_step*/
.m_step_pos { width:100%; position:relative;}
.m_step_pos .m_step_wrap  { position:relative; width:1200px; height:90px; margin:0 auto 20px auto; background:#2b3043; top:-60px;z-index:99}
.m_step_pos .m_step_wrap li {float:left; line-height:23px;margin:20px 0;padding:0 25px;font-size:16px;color:#78d7ff;border-right:1px solid #363d53;}/*color:#2b92d5;*/
.m_step_pos .m_step_wrap li .fc_bl {color:#78d7ff;}
.m_step_pos .m_step_wrap li:last-child { border-right:0;} 
.m_step_pos .m_step_wrap .step {background:#2b92d5; color:#fff; text-align:center; line-height:25px; font-size:18px; font-weight:bold; width:100px; margin:0; padding-top:20px; height:70px; }
.m_step_pos .m_step_wrap .step01 {cursor:pointer;background: url(/images/m_step_img1.jpg) no-repeat 153px; width:160px;}
.m_step_pos .m_step_wrap .step02 {cursor:pointer;background: url(/images/m_step_img2.jpg) no-repeat 153px; width:160px;}
.m_step_pos .m_step_wrap .step03 {cursor:pointer;background: url(/images/m_step_img3.jpg) no-repeat 153px; width:158px;}
.m_step_pos .m_step_wrap .step04 {cursor:pointer;background: url(/images/m_step_img4.jpg) no-repeat 153px; width:158px;}
.m_step_pos .m_step_wrap .step05 {cursor:pointer;background: url(/images/m_step_img5.jpg) no-repeat 153px; width:158px;}


/*main_section 01*/
.m_sec01_pos { width:100%; position:relative;}
.m_sec01_pos .m_sec01_wrap { width:1200px; position:relative; margin:0 auto;}
.m_sec01_pos .m_sec01_wrap .m_sec01 { margin-bottom:120px;}
.m_sec01_pos .m_sec01_wrap .m_sec01 li { float:left; position:relative; width:399px; padding:30px 0 35px 0; border-right:1px solid #e6e6e6; text-align:center;}
.m_sec01_pos .m_sec01_wrap .m_sec01 li:last-child { width:400px; border-right:0;}
.m_sec01_pos .m_sec01_wrap .m_sec01:after { content:""; display:block; clear:both;}
.m_sec_img { width:100%; margin:50px 0; text-align:center; }
.m_sec01_img {margin:80px 0 140px 0}
.m_sec01_tit { width:100%; color:#2b92d5; font-size:26px; font-weight:bold; margin-bottom:10px}
.m_sec01_txt2 { width:100%; height:70px; margin:25px 0 22px; }
.m_sec01_txt3 { width:100%; height:70px; margin:25px 0 22px; background: url(/images/m_sec1_txt3.png) no-repeat center; text-indent:-9999%;}

.title_box { text-align:center; width:100%; margin-bottom:60px;}
.title_box2 { text-align:center; width:100%; margin-bottom:60px;}

/*main_section 02*/
.m_sec02_pos { width:100%; height:720px; position:relative; margin-bottom:60px; padding:100px 0; background:url(/images/m_sec2_bg.jpg) 50% top}
.m_sec02_pos .m_sec02_wrap { width:1300px; position:relative; margin:0 auto;}
.m_sec02_pos .m_sec02_wrap .m_sec02 { padding:10px 0 0 550px;}
.m_sec02_pos .m_sec02_wrap .m_sec02 li { float:left; position:relative; padding:0; margin-bottom:56px}
.m_sec02_pos .m_sec02_wrap .m_sec02 .list_l {width:340px; margin-right:70px;}
.m_sec02_pos .m_sec02_wrap .m_sec02 .list_r {width:310px;}
.m_sec02_pos .m_sec02_wrap .m_sec02:after { content:""; display:block; clear:both;}
.m_sec02_txt1 {font-size:19px; color:#36eafa; font-weight:bold; line-height:30px;}
.m_sec02_txt2 {font-size:16px; color:#fff; line-height:25px; letter-spacing:-0.08em; font-weight:200;}
.m_sec02_txt3 {font-size:27px; color:#fff; margin-top:20px; letter-spacing:-3px;}
.m_sec02_b{ color:#45ecd3; font-weight:bold; }

/*main_section 03*/
.m_sec03_pos { width:100%; position:relative;z-index:1;background-color:#ffffff}
.m_sec03_pos .m_sec03_wrap { width:1200px; position:relative; margin:0 auto;}
.m_sec03_pos .m_sec03_wrap .m_sec03 { margin-bottom:70px;}
.m_sec03_pos .m_sec03_wrap .m_sec03 li { float:left; position:relative; width:399px; height:130px; padding:270px 0 35px 0; border-right:1px solid #e6e6e6; text-align:center;}
.m_sec03_pos .m_sec03_wrap .m_sec03 li:last-child { width:400px; border-right:0;}
.m_sec03_pos .m_sec03_wrap .m_sec03:after { content:""; display:block; clear:both;}

.m_sec03_pos .m_sec03_wrap .m_sec03_list {margin-bottom:140px;}
.m_sec03_pos .m_sec03_wrap .m_sec03_list li { position:relative; float:left; width:283px; margin-right:20px; border:1px solid #d1e5e8;}
.m_sec03_pos .m_sec03_wrap .m_sec03_list li img {margin:25px 10px;}
.m_sec03_pos .m_sec03_wrap .m_sec03_list li:last-child { margin-right:0;}
.m_sec03_pos .m_sec03_wrap .m_sec03_list:after {content:""; display:block; clear:both;}
.m_sec03_pos .m_sec03_wrap .m_sec03_list .list_txtbox { width:100%; height:60px; display:block; text-align:center; font-size:20px; font-weight:bold; line-height:60px; color:#333; background:#e4f1f3; border-bottom:1px solid #d1e5e8;}

.m_sec03_tit { width:100%; color:#2b92d5; font-size:24px; font-weight:bold; margin-bottom:20px;}
.m_sec03_img1 {background: url(/images/m_sec3_01.jpg) no-repeat center top; }
.m_sec03_img2 {background: url(/images/m_sec3_02.jpg) no-repeat center top; }
.m_sec03_img3 {background: url(/images/m_sec3_03.jpg) no-repeat center top; }
.m_sec03_txt2 { width:100%; height:70px; margin:25px 0 22px; }
.m_sec03_txt3 { width:100%; height:70px; margin:25px 0 22px; background: url(/images/m_sec1_txt3.png) no-repeat center; text-indent:-9999%;}

/*main_section 04*/
.m_sec04s_pos { width:100%; height:119px; position:relative; margin:0 auto; background:#f5f5f5 url(/images/b_bg_1.gif) no-repeat center;background-size:cover;}
.m_sec04_pos { width:100%; position:relative; background-color:#f5f5f5;}
.m_sec04_pos .m_sec04_wrap {width:100%; height:780px; position:relative; margin:0 auto; }/*background:#f5f5f5 url(/images/m_sec4_01.png) no-repeat center ;*/
.m_sec04_pos .m_sec04_wrap .layout04{width:1500px;margin:0 auto;position:relative;}
.m_sec04_pos .m_sec04_wrap div.main{position:absolute;border:1px solid #ebebeb;background-size:cover;box-shadow:0px 4px 12px 2px #9a9a9a;transition: all 0.3s;}
.m_sec04_pos .m_sec04_wrap div.main:hover{;z-index:999;background-size:contain;background-color:#FFFFFF;transition: all 0.6s;box-shadow:0px 4px 22px 3px #464646 !important;}
.m_sec04_pos .m_sec04_wrap .sample1{top:50px;left:0px;width:400px;height:300px;background:#f5f5f5 url(/images/sample/sample8.png) no-repeat center ;}
.m_sec04_pos .m_sec04_wrap .sample1:hover{width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample2{top:40px;left:450px;width:340px;height:230px;background:#f5f5f5 url(/images/sample/sample2.png) no-repeat center;box-shadow:0px 0px 3px 1px #9a9a9a !important}
.m_sec04_pos .m_sec04_wrap .sample2:hover{left:400px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample3{top:-10px;left:840px;width:420px;height:320px;background:#f5f5f5 url(/images/sample/sample3.png) no-repeat center}
.m_sec04_pos .m_sec04_wrap .sample3:hover{left:540px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample4{top:60px;left:1300px;width:220px;height:180px;background:#f5f5f5 url(/images/sample/sample9.png) no-repeat center ;box-shadow:0px 0px 3px 1px #9a9a9a !important}
.m_sec04_pos .m_sec04_wrap .sample4:hover{left:660px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample5{top:420px;left:20px;width:330px;height:260px;background:#f5f5f5 url(/images/sample/sample5.png) no-repeat center}
.m_sec04_pos .m_sec04_wrap .sample5:hover{top:180px;left:0px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample6{top:350px;left:440px;width:540px;height:380px;background:#f5f5f5 url(/images/sample/sample1.png) no-repeat center}
.m_sec04_pos .m_sec04_wrap .sample6:hover{top:200px;left:300px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample7{top:380px;left:1030px;width:380px;height:200px;background:#f5f5f5 url(/images/sample/sample7.png) no-repeat center ;box-shadow:0px 0px 3px 1px #9a9a9a !important}
.m_sec04_pos .m_sec04_wrap .sample7:hover{top:200px;left:600px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample8{top:610px;left:1150px;width:220px;height:130px;background:#f5f5f5 url(/images/sample/sample10.png) no-repeat center ;box-shadow:0px 0px 3px 1px #9a9a9a !important}
.m_sec04_pos .m_sec04_wrap .sample8:hover{top:200px;left:600px;width:860px;height:550px}

.m_sec04_1_pos { width:100%; position:relative; background-color:#ffffff;}
.m_sec04_1_pos .m_sec04_1_wrap {width:1320px;margin:0 auto;text-align:center;position:relative; margin:0 auto;padding:80px 0px 140px 0px}
.m_sec04_1_pos .m_sec04_1_wrap img{padding:3px;position:relative;}

.m_sec04_1_pos .m_sec04_1_wrap img#blur1
,.m_sec04_1_pos .m_sec04_1_wrap img#blur2
,.m_sec04_1_pos .m_sec04_1_wrap img#blur3
,.m_sec04_1_pos .m_sec04_1_wrap img#blur4
,.m_sec04_1_pos .m_sec04_1_wrap img#blur5
,.m_sec04_1_pos .m_sec04_1_wrap img#blur6
,.m_sec04_1_pos .m_sec04_1_wrap img#blur7
,.m_sec04_1_pos .m_sec04_1_wrap img#blur8
{transition: 2s all;opacity: 0.5;}

.m_sec04_1_pos .m_sec04_1_wrap img.p3_2{padding:3px 2px}
.m_sec04_1_pos .m_sec04_1_wrap img.bar{width:15px;height:158px;padding:3px 0px}

/*main_section 05*/
.m_sec05_pos { width:100%;background:#f5f5f5 url(/images/m_sec5_01.jpg) no-repeat center; background-size:cover;;height:802px;position:relative;;overflow:hidden}
.m_sec05_pos .m_sec05_wrap {min-width:1400px; padding:100px 0 120px;position:absolute;right:-290px}
.m_sec05_pos .m_sec05_wrap .m_sec05 { }
.m_sec05_pos .m_sec05_wrap .m_sec05:after {content:""; display:block; clear:both;}
.m_sec05_pos .m_sec05_wrap .m_sec05 li {width:350px; margin-right:40px; float:left;padding-bottom:20px;padding-top:10px}
.m_sec05_pos .m_sec05_wrap .m_sec05 li a { display:block;line-height:0px;}
.m_sec05_pos .m_sec05_wrap .m_sec05 li a:hover {box-shadow:0px 4px 15px 4px rgba(0,0,0,.2);}
.m_sec05_pos .m_sec05_wrap .m_sec05 .m_sec05_box {background:#323a51; padding:20px; font-size:14px; color:#848da7;width:310px}
.m_sec05_pos .m_sec05_wrap .m_sec05 .box_t {height:95px; display:block;}
.m_sec05_pos .m_sec05_wrap .m_sec05 .box_t p {font-size:17px; color:#fff; margin-bottom:10px; display:block; font-weight:500;}
.m_sec05_pos .m_sec05_wrap .m_sec05 .btn_start {margin:0 80px 10px 80px; padding:6px 0; font-weight:bold; display:block; color:#34b7c9; font-size:17px; line-height:17px; text-align:center; border:2px solid #34b7c9; border-radius:20px;}

.btnCtrl {position:absolute; top:50%; left:100px; z-index:2;} 
.btnCtrl a {display:block; width:51px; height:51px; }
.btnCtrl a.next {background:url(/images/btn_next.png) no-repeat 0 0; margin-bottom:10px;}
.btnCtrl a.prev {background:url(/images/btn_prev.png) no-repeat 0 0;}

.blur{
		/*-webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px);*/

		opacity: 1.0 !important;
		box-shadow:0px 12px 34px 2px #000000;	
		/*
		height:185px;
		position:absolute !important;
		*/
		left:0px;top:0px;
}


	
.bx-wrapper-main2{
    position:relative;
	width:100%;
}


.bx-wrapper-main2 .bx-prev {
    left:-80px;
	top:160px;
    background: url(/images/btn_next.png) no-repeat ;
    width:51px;
    height:51px;
}
.bx-wrapper-main2 .bx-next {
     left:-80px;
	 top:220px;
    background: url(/images/btn_prev.png) no-repeat;
    width:51px;
    height:51px;
}


.bx-wrapper-main2 .bx-controls-direction a {
    position: absolute;
   
    margin-top: -27px;
    outline: 0;
    width: 51px;
    height: 51px;
    text-indent: -9999px;
    z-index: 999;
    text-align:center;
}


.bx-wrapper-main{
    position:relative;
    width:100%;
}

.bx-wrapper-main .bx-prev {
    left:90px;
    background: url(/images/mov_l.png) no-repeat ;
    width:27px;
    height:53px;
}
.bx-wrapper-main .bx-next {
    right:90px;
    background: url(/images/mov_r.png) no-repeat;
    width:27px;
    height:53px;
}

.bx-wrapper-main .bx-controls-direction a {
    position: absolute;
    top: 49%;
    margin-top: -27px;
    outline: 0;
    width: 27px;
    height: 53px;
    text-indent: -9999px;
    z-index: 999;
    text-align:center;
}

#timelinelite,#tagline span,#tagline2 span,#tagline3 span,#timelinelite2 span,#timelinelite3 span{
	position:relative;
	display:inline-block;
}

.main_visual .mov_r { position:absolute; width:28px; height:54px; z-index:2; right: 90px; top:50%;}
.main_visual .mov_l { position:absolute; width:28px; height:54px; z-index:2; left: 90px; top:50%;}

.main_visual .ind { margin-top: 30px; position: absolute; bottom: 0; }
.main_visual .ind li {  display:block; float:left; width:10px; height:10px; margin:8px; background:#fff; border-radius:5px; cursor:pointer;}
.main_visual .ind li.on { display:block; width:14px; height:14px; margin:6px 8px 8px 8px; background:#01a8cc; border-radius:7px ;  }
