*{box-sizing: border-box;}

.player-id-dimensions {
 width:100% !important;height:auto !important
}
body{padding:0px;margin:0px;overflow-y:hidden}


/* player */
#playWrap{width:100%;}
.playHeader{background:#F2F2F2;height:55px;border-bottom:1px solid #E1DED7;position:relative;}
.playHeader .logo{padding:14px;}
.playHeader .playHelpBtn{position:absolute;top:14px;right:14px;font-weight: 700;color: #6e6e6e;}
.playContainer{position:relative;min-height:562px;}

.playContainer .playerPanel{width:calc(100% - 280px);-moz-box-sizing: border-box;box-sizing:border-box;height:auto;box-shadow: 0px 4px 10px -2px #7e7e7e;    display: inline-block;}
.playContainer .playerDetail{vertical-align:top;display: inline-block;width:276px;padding-bottom:13px;}
.playerInfo{padding:15px 10px 10px 15px;border-bottom: 1px solid #efefef;}
.playerTitle{color:#231815;letter-spacing:-1px;padding-left:22px;font-size:110%;background:url(../../images/player/v2_ico_tit.gif) no-repeat 0 3px;font-weight:700}
.playerDesc{font-size:13px;color:#575757;padding-top:5px;font-weight: 500;padding-left: 22px;}
.playSubTitle{margin:12px 12px 0 12px;height:22px;font-size: 13px;line-height: 22px;background-color: #767676;;text-align:center;color:#fff;}

.playSubTitlePlan{margin:12px 12px 0 12px;height:21px;background-color:#428ed5;text-align:center;color:#fff;padding:1px 0 0 0;border-left:1px solid #428ed5;border-top:1px solid #428ed5;border-right:1px solid #428ed5;}
.playerBoxPlan{margin:0px 12px 0 12px;border:1px solid #428ed5;height:185px;overflow:auto;}

.playerBox{margin:0px 12px 0 12px;border:1px solid #d9d9d9;height:200px;overflow:auto;}
ul.playList{padding:5px 5px 5px 5px;}
ul.playList li a{line-height:150%;font-size:12px;}
ul.playList li{border-bottom:1px solid #d4d4d4;padding-bottom:2px;padding-top:2px}

ul.playLists{padding:0px 5px;}
ul.playLists li{font-size:12px;background-color:#FFFFFF;border-top: 1px dashed #dfdfdf;clear:both;}
ul.playLists li:first-child{border-top:0px}
ul.playLists span{padding:2px 0px}
ul.playLists li a{line-height:140%;font-size:12px;word-break: keep-all;padding: 5px 0px;display: inline-block;}
ul.playLists li.current{font-weight:bold;color:#ff6600}
ul.playLists li span.current_num{color:#2f77d0;padding:0px 3px 2px 3px}
ul.playLists .order{display: inline-block;width:20px;text-align:center;font-size:12px;vertical-align: top;margin-top: 5px;display: inline-block;}
ul.playLists li span.tit{display: inline-block;width:200px}
ul.playLists li span.tit img{margin-right:4px;vertical-align:middle;margin-top: -2px;height: 16px;}
ul.playLists li.current .tit a{color:#ff6600}
ul.playLists li span.tit a .name:hover{text-underline-position: under; text-decoration: underline;}
ul.playLists li span.minute{color:#a7a7a7;margin-left: 3px;letter-spacing: 0.5px;font-weight: 400;}

.mv-bookmark li .num{display: inline-block;width:17px;text-align:right;font-size:12px;vertical-align: top;margin-top: 5px;display: inline-block;}

.mv-bookmark li .btn{margin-left:2px;font-size:12px;cursor:pointer;display:inline-block;padding:0px 3px 0px 6px;width:24px;border:1px solid #ff3300;background-color:#ff6600;color:#FFFFFF;border-radius:3px;line-height:22px;line-height: 20px;vertical-align: middle;}
.mv-bookmark li{margin:10px 0px}
.mv-bookmark li .save-title{width:calc(100% - 60px);ime-mode:active;font-size:12px;display:inline-block;border:1px solid #cfcfcf;padding:0px 5px 0px 3px;line-height:20px;border-radius:2px}
.mv-bookmark li .btn-area{margin-left:21px;margin-top: 3px;}
.mv-bookmark li .save-btn{    border-radius: 2px; border: 1px solid #f00; display: inline-block; height: 18px; line-height: 16px; font-size: 11px; font-weight: 600; padding: 0px 4px; color: #f60; }
.mv-bookmark li .time-info{vertical-align: middle;font-size: 13px;margin-top: -2px;display: inline-block;text-align: right;width: calc(100% - 70px);}
.mv-bookmark li .time-info img{margin:-3px 4px 0px 0px}

.playRateBar{background-color:#ff7920;color:#FFFFFF;font-size:10px;height:10px;border-radius:10px}

ul.playList li.current{;font-weight:bold;background-color:#edf1f3}
ul.playList li span.current_num{background-color:#4ba0c5;color:#FFFFFF;padding:0px 3px 2px 3px}

ul.bookMark{padding:10px;}
ul.bookMark li{position:relative;border-bottom:1px solid #d4d4d4;padding-bottom:10px;margin-bottom:10px;}
ul.bookMark li .conrtoll{padding-left:25px;}
ul.bookMark li .conrtoll input{border:1px solid #ccc;height:17px;width:130px;}
ul.bookMark li .no{position:absolute;top:0;left:0;font-size:85%;font-weight:bold;}

.playerPanel .video-js .vjs-tech {
  
    /*height: 562px;*/
}

.playerPanel .video-js .vjs-big-play-button,.playerPanel .vjs-default-skin .vjs-big-play-button {
   
    left: 50%;
    top:280px;
	margin-left:-42px;
}

.bg-w{background-color:#fff}
.playHeader .logo.pt8{padding-top:8px}
.mr5{margin-right:5px}

.playerPanel .vjs-poster {
	/*margin-top: 82px;
	height:auto
	*/
	
	height:562px !important;
	background-size: auto !important;
}


.scroll_box {
  max-height: 240px;
  min-height:120px;
  overflow-y: auto;
}

.scroll_box::-webkit-scrollbar {
  width: 4px;
}

.scroll_box::-webkit-scrollbar-thumb {
  background-color: #d3e2e5;
  border-radius: 2px;
}

.scroll_box::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 5px #fff;
          box-shadow: inset 0px 0px 5px #fff;
}

.progress-help{padding-left:20px;font-size:12px;vertical-align:middle;line-height:24px;display:block;margin-bottom: 10px;margin-top: -8px;}
.progress-help .text{width:32px;display:inline-block;font-size:12px;color:#ff5722;font-weight: 400;}
.progress-help .bar-main{display:inline-block;border:1px solid #ffae78;width:144px;vertical-align: middle;background-color:#fffcfc;border-radius:10px}

#Continew{position:relative;cursor:pointer}
#Continew .layer1{z-index:9999;position:absolute;top:0px;left:0px;width:100%;height:562px;}
#Continew .layer2{z-index:9998;position:absolute;top:420px;left:0px;width:100%;height:50px;color:#FFFFFF;font-size:16px;font-weight:bold;line-height:30px;text-align:center}
.layer3{position:relative;display:block}
.layer3 div{z-index:9998;position:absolute;color:#FFFFFF;top:-85px;left:0px;width:100%;height:40px;border:0px solid red}
#view_alert{position:relative;display:none}
#view_alert div{    z-index: 9999;
    position: absolute;
    color: #fff;
    top: -130px;
    left: 50%;
    border: 0px solid #f00;
    font-size: 15px;
    text-shadow: 1px 1px 3px black;
    background-color: #666;
    padding: 10px 30px;
    border-radius: 10px;
    margin-left: -130px;}

.ajaxLayer{  position: absolute; z-index: 1999; display: none;}
.ajaxProc{  position: absolute; z-index: 1999; display: none;}
#hideBackGround{margin:0;
	display:none;
	z-index:1;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#2F2F2F;
	filter:alpha(opacity=50);
	opacity:0.50;}

#total_rate{color:#f60;font-weight: 700;margin-right: 20px;}
.ready-text{font-size:13px;color:#ff6633;text-align:center;padding-top:25px}

.print-btn{display: inline-block;
    height: 26px;
    border: 1px solid #ff7920;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 4px;
    line-height: 25px;
    font-size: 12px;
    background-color: #fff;
    padding: 0px 10px;
    color: #ff7920;
    cursor: pointer;}



#popPlan{min-width:460px;width: 100%; border:3px solid #8b2533; padding-top:20px; text-align:center;background-color:#FFFFFF}

.logoPlan {
	text-align:left;
	padding-left:20px;
}
.infoBoxPlan {
	background-color:#8b2533;
	padding:10px 20px;
	width:400px;
	margin:20px auto;
	color:#FFF;
	font-size:15px;
}
.infoBoxPlan .title {
	border-bottom:1px solid #FFF;
	font-size:17px;
	font-weight:bold;
	padding:15px 5px 12px 5px;color:#FFFFFF;margin:0 auto
}

#popPlan .auth{margin:0 auto;font-size:14px;font-weight:bold;color:#000000;letter-spacing:-1px}


.datePlan {
	font-size:19px;
	font-weight:bold;
	padding-top:40px;
}
.btnPlan {
	background-color:#f1f1f1;
	padding:20px 0;
	margin-top:20px;
}


#popPlan #CloseBtn{position:relative}
#popPlan #CloseBtn a{position:absolute;top:-9px;right:10px}
#popPlan .logoPlan img{max-height:25px}
#popPlan h1{padding:22px 10px 10px 10px}

#popPlan table td{color:#FFFFFF;vertical-align:middle;line-height:22px}
#popPlan table td .img1{margin-top:-3px;margin-right:3px}
#popPlan table td .img2{margin-top:-1px;margin-right:3px}
#popPlan .datePlan{text-align:center;margin:0 auto;color:#000000;padding-top:50px;;padding-bottom:20px;line-height:30px}
#popPlan .foot-text{color:#8f3037;font-size:16px;padding-bottom:35px;font-weight:bold;}
.mt10{margin-top:10px}

#ajaxHTML{top:10px;left:50%;margin-left: -227px;}


.video-js .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button {
   
    border-radius: 50% !important;
}
