#popPlan .auth{margin:0 auto;font-size:14px;font-weight:bold;color:#000000;letter-spacing:-1px}

.datePlan {
	font-size:19px;
	font-weight:bold;
	padding-top:40px;
}
.btnPlan {
	background-color:#f1f1f1;
	padding:20px 0;
	margin-top:20px;
}


#popPlan #CloseBtn{position:relative}
#popPlan #CloseBtn a{position:absolute;top:-9px;right:10px}
#popPlan .logoPlan img{max-height:25px}
#popPlan h1{padding:22px 10px 10px 10px}

#popPlan table td{color:#FFFFFF;vertical-align:middle;line-height:22px}
#popPlan table td .img1{margin-top:-3px;margin-right:3px}
#popPlan table td .img2{margin-top:-1px;margin-right:3px}
#popPlan .datePlan{text-align:center;margin:0 auto;color:#000000;padding-top:50px;;padding-bottom:20px;line-height:30px}
#popPlan .foot-text{color:#8f3037;font-size:16px;padding-bottom:35px;font-weight:bold;}
.mt10{margin-top:10px}