@charset "utf-8";

/* CSS Document */


/*header영역*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
form,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
th,
td,
input,
textarea,
button,
select,
pre,
legend {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none
}

body,
form,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
th,
td,
input,
textarea,
button,
select,
pre,
table {
    font-size: 13px;
    line-height: 1.35em;
    font-family: 'NanumSquare', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
}

body {
    position: relative;
    background-color: #fff;
    color: #666;
    /*word-wrap:break-word;*/
    word-break: break-all
}

img,
fieldset {
    border: 0
}

ul,
ol {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer
}

em,
address {
    font-style: normal
}

hr {
    display: none !important
}

table {
    border: 0;
    border-spacing: 0;
    padding: 0;
    border-collapse: 0;
    border-collapse: collapse;
}

body,
div,
textarea,
iframe {
    scrollbar-3dlight-color: #ffffff;
    scrollbar-arrow-color: #919191;
    scrollbar-track-color: #f4f4f4;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-face-color: #d8d8d8;
    scrollbar-highlight-color: #cdcdcd;
    scrollbar-shadow-color: #d8d8d8;
}



.part_sel_modal {
    position: relative;
    width: fit-content;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    outline: 0;
}

.part_sel_modal.sel2{
	width: 100%;
    max-width: 100%;
}

.hd_modal {
	position: relative;
    height: 42px;
    padding: 10px 45px 0 20px;
    background: #2a7fbf;
    font-family: 'NanumSquare';
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.part_body_modal {
    padding: 15px 15px 120px 15px;
    text-align: center;
    font-size: 16px;
    color: #000419;
    /*max-height: calc(100vh - 200px);*/
    overflow-y: auto;
}

.part_sel_modal.sel2 .part_body_modal{
padding:0px
}

.btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


#searchAppResult ul {
    padding-bottom: 100px
}

.popup_in #searchAppResult ul {
    padding-bottom:40px
}

#searchAppResult.searchResult.parts ul {
    padding-bottom: 0px
}

#searchAppResult ul li.biglist {
    float: left;
    width: 25%
}

#searchAppResult.searchResult.parts ul li.biglist {
    float: none;
    width: 100%
}

#searchAppResult ul li.biglist:nth-child(5) {
    clear: both
}

#searchAppResult ul li.biglist h3 {
    font-size: 13px;
    width: 94%;
    background-color: #3179c5;
    padding: 1px 2px 2px 6px;
    color: #fff;
	margin: 0 auto;
    text-align: left;
}

#searchAppResult.searchResult.parts ul li.biglist h3 {
    width: 100%;
    padding: 8px
}

#searchAppResult ul li.biglist h3 img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 3px
}

#searchAppResult ul li.biglist ul {
    padding: 5px 5px 15px 5px;
	width: 94%;
    margin: 0 auto;
}

#searchAppResult ul li.biglist ul li {
    text-align: left;
    line-height: 20px
}

#searchAppResult ul li.biglist ul li a {
    font-size: 13px;
    font-weight: 300;
    color: #333333
}

#searchAppResult ul li.biglist ul li a:hover {
    text-decoration: underline;
    cursor: pointer
}

#searchAppResult ul li.biglist ul li div.selcate {
    display: none;
    position: relative;
}

#searchAppResult.searchResult.parts ul li.biglist ul li div.selcate {
    display: block;
    margin: 10px 0px 15px 0px;
}

#searchAppResult ul li.biglist ul li div.selcate ul {
    width: 300px;
    position: absolute;
    left: -4px;
    border: 1px solid #0066cc;
    border-radius: 10px;
    padding: 3px 10px 10px 10px;
    background-color: #f5f5f8
}

#searchAppResult.searchResult.parts ul li.biglist ul li div.selcate ul {
    width: 100%;
    position: relative;
    left: 0px;
    border: 1px solid #b6c3ca;
    min-height: 60px;
    overflow: hidden;
}

#searchAppResult ul li.biglist:nth-child(4n) .selcate {
    right: 86px !important
}

#searchAppResult ul li.biglist ul li div.selcate ul li {
    float: left;
    width: 33%;
    padding: 3px 0px 3px 0px;
    line-height: 15px
}

#searchAppResult.searchResult.parts ul li.biglist ul li div.selcate ul li {
    width: 182px;
    line-height: 22px;
    list-style: disc;
    margin-left: 18px;
}

#searchAppResult.searchResult.parts ul li.biglist ul li div.selcate ul li::marker {
    font-size: 12px;
    color: #868686;
}

#searchAppResult.searchResult.parts ul li.biglist:nth-child(4n) .selcate {
    right: 0px !important
}

#searchAppResult ul li.biglist ul li div.selcate ul div.tit {
    border-bottom: 1px dotted #babcbd;
	font-weight:500
}

#searchAppResult.searchResult.parts ul li.biglist ul li div.selcate ul div.tit {
    color: #354f6b;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

#searchAppResult ul li.biglist ul li div.selcate ul img.close {
    position: absolute;
    right: 10px;
    top: 5px;
    vertical-align: middle;
    cursor: pointer
}

#searchAppResult ul li.biglist ul li div.selcate ul li a {
    font-size: 12px;
    letter-spacing: -1px
}

#searchAppResult.searchResult.parts ul li.biglist ul li div.selcate ul li a {
    font-size: 13px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #ccc;
    margin-left: -5px
}

#searchAppResult.searchResult.parts ul li.biglist ul li div.selcate ul li a:hover {
    font-size: 13px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(247, 177, 177);
    color: red
}

#searchAppResult ul li.biglist ul li div.selcate ul.bottom {
    bottom: 0px;
}

#searchAppResult ul li.biglist ul li div.selcate ul.top {
    top: -20px
}



.popup_in {
    background-color: #fff;
    min-width: 350px;
}

.popup_in li p {
    display: block;
}

.popup_in .pop_tit {
    position: relative;
    width: 100%;
    background: url(/images/inbbg.jpg);
    border-bottom: 1px solid #b3dbe8;
}

.popup_in .pop_tit:after {
    content: "";
    display: block;
    clear: both;
}

.popup_in .pop_tit p {
    float: left;
    box-sizing: border-box;
    padding: 15px 0px;
}

.popup_in .pop_tit .pop_t {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700
}

.popup_in .pop_tit .pop_c a {
    display: block;
    top: 14px;
    right: 14px;
    padding: 5px;
    position: absolute;
    width: 30px;
    background: url(/images/button/close24w.png) no-repeat center right 0px;
    background-size: 20px 20px;
    text-indent: -9999px;
}

.popup_in .pop_txt {
    padding: 20px 0px;
}

.popup_in .pop_txt p {
    display: block;
}

.popup_in .pop_txt .popTxt_info {
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.popup_in .pop_btn1 a {
    display: block;
    color: #fff;
    background-color: #666;
    width: 100px;
    padding: 7px 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px
}

.popup_in .pop_btn1 a:hover {
    background-color: #505050;
}

.popup_in .pop_txt .join {
    font-size: 14px;
    text-align: center;
    color: #0099cc
}

.popup_in .pop_txt .join .join_link {
    color: #ff3300;
    font-weight: 500;
    text-decoration: underline;
}

.popup_in .pop_txt .popTxt_tit {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.popup_in .pop_txt .popTxt_notice {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e0ec;
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
}

.popup_in .pop_txt .popTxt_txt {
    margin: 30px 20px 50px 20px;
}

.popup_in .pop_txt .pop_btn2 {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.popup_in .pop_txt .pop_btn2:after {
    content: "";
    display: block;
    clear: both;
}

.popup_in .pop_txt .pop_btn2 a {
    display: block;
    float: left;
    color: #fff;
    background-color: #666;
    padding: 7px 30px;
    margin-right: 15px;
    width: 100px;
    text-align: center;
    margin-bottom: 30px;
}

.popup_in ul li.searchResult {
    overflow: hidden;
}

.popup_in ul li.searchResult table.searchBox {
    border-top: 4px solid #c2c6d3;
    border-bottom: 4px solid #c2c6d3
}

.popup_in ul li.searchResult table.searchBox tr td {
    padding: 0px
}

.popup_in ul li.searchResult table.searchBox tr td ul.com {
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px;
    height: 260px
}

.popup_in ul li.searchResult table.searchBox tr td ul.com li {
    float: left;
    width: 33%;
    text-align: left;
    line-height: 28px
}

.popup_in ul li.searchResult table.searchBox tr td ul.com img {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 1px
}

.popup_in ul li.searchResult table.searchBox tr td ul.com a {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 300
}

.popup_in ul li.searchResult table.searchBox tr td ul.com a:hover {
    font-size: 14px;
    color: #7f7f7f;
    text-decoration: underline;
    color: #30475c
}

.popup_in ul li.searchResult h3 {
    font-size: 18px;
    font-weight: 500;
    padding: 0px 0px 18px 10px;
    text-align: center;
    color: #ff6600
}

.popup_in ul li.searchResult table.searchBox tr td.cate {
    padding: 0px
}

.popup_in ul li.searchResult table.searchBox tr td h4 {
    font-weight: 700;
    vertical-align: middle;
    margin-left: 32px;
    margin-top: 3px;
    color: #2c587c
}

.popup_in ul li.searchResult table.searchBox tr td.cate.line {
    border-top: 1px solid #e1e1e1
}

.popup_in ul li.searchResult table.searchBox tr td.cate.first {
    padding: 0px 0px 0px 10px;
}

.popup_in ul li.searchResult table.searchBox tr td.cate ul.cate.line {
    border-bottom: 1px solid #e1e1e1
}

.popup_in ul li.searchResult table.searchBox tr td.cate ul.cate li {
    float: left;
    width: none;
    text-align: left;
    line-height: 30px;
}

.popup_in ul li.searchResult table.searchBox tr td.cate ul.cate img {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 1px;
    margin-left: 15px;
}

.popup_in ul li.searchResult table.searchBox tr td.cate ul.cate a {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 300
}

.popup_in ul li.searchResult table.searchBox tr td.cate ul.cate a:hover {
    font-size: 14px;
    color: #7f7f7f;
    text-decoration: underline;
    color: #30475c
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist {
    width: 150px;
    display: inline-block;
    margin-right: 3px
}

.popup_in.part_no_div ul li.searchResult#searchAppResult ul li.biglist {
    width: 230px
}

.popup_in.part_no_div ul li.searchResult#searchAppResult ul li.biglist:nth-child(4n) {
    margin: 0px
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist h3 {
    font-size: 13px;
    width: 100%;
    text-align: left;
    background-color: #fff;
    padding: 2px 2px 2px 10px;
    color: #fff;
    line-height: 22px;
    margin-top: 2px;
    margin-bottom: 4px;
    cursor: pointer;
    color: #3179c5;
    border: 1px solid #77ace4;
    box-shadow: 1px 1px 3px 0px #bfbfbf;
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist h3.on {
    background-color: #77ace4;
    color: #fff;
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist h3:hover {
    background-color: #5c9ade;
    color: #fff;
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist h3.sel {
    background: #fff url(/images/icon/icn_check_small.png) right 6px center no-repeat;
    background-size: 14px
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist h3.on.sel {
    background: #77ace4 url(/images/icon/icn_check_small.png) right 6px center no-repeat;
    background-size: 14px
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist h3.sel:hover {
    background: #5c9ade url(/images/icon/icn_check_small.png) right 6px center no-repeat !important;
    background-size: 14px !important
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist h3 .arrow {
    font-size: 12px;
    margin-right: 3px;
    font-family: sans-serif;
}

.popup_in ul li.searchResult#searchAppResult ul li.biglist h3 img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 3px
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate {
    padding: 0px
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li a {
    font-size: 13px;
    font-weight: 300;
    color: #333333
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li dt.seltitle {
    line-height: 28px;
    font-size: 13px;
    font-weight: 300;
    color: #3179c5;
    margin-top: 0px;
    display: block
}

.part-area {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e2dcc9;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fefff0;
    overflow-x: hidden;
    max-height: 500px;
}

.part-area p {
    line-height: 22px;
    font-size: 11px
}

.part-area p strong {
    padding-left: 4px;
    color: #c957ea;
    font-size: 13px;
    font-weight: 300
}

.part-area p.move {
    border-bottom: 1px dashed #bbb;
}

.part-area p:last-child.move {
    border-bottom: 0px
}

.part-area.que1 strong,
.part-area.que2 strong {
    color: #c957ea;
    font-size: 12px;
    font-weight: 300;
    margin-left: 15px;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 870px;
    line-height: 17px;
}

.part-area p img {
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -2px;
    cursor: pointer;
}

.part-area p .item~img {
    vertical-align: top;
    margin-left: 12px;
    margin-top: 5px;
}

.part-area p .item~img.voice {
    vertical-align: top;
    margin-left: 5px;
    margin-top: 2px;
}

.part-area p .item~img.voice.w {
    margin-left: 10px;
}

.part-area h3 {
    color: #338ec2;
    font-weight: 300;
    line-height: 28px;
    padding: 0px 5px;
}

.popup_in ul li.searchResult .part-area h3 {
    color: #338ec2;
    font-weight: 300;
    line-height: 28px;
    padding: 0px 5px;
    font-size: 13px;
    text-align: left
}

.part-area.que1 p span.num,
.part-area.que2 p span.num {
    display: inline-block;
    width: 18px;
    font-size: 13px
}

.part-area.que1 p span.cate {
    display: inline-block
}

.part-area p .item {
    cursor: move;
    font-size: 12px
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li a:hover {
    text-decoration: underline;
    cursor: pointer
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate .cate_no {
    display: none
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate {
    position: relative;
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate ul {
    border: 1px solid #77ace4;
    border-radius: 10px;
    padding: 10px 10px 10px 16px;
    background-color: #f7fbff
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate ul li {
    padding: 3px 0px 3px 0px;
    line-height: 15px;
    float: left;
    width: 20%
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate ul div.tit {
    border-bottom: 1px solid #bfbfbf
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate ul img.close {
    position: absolute;
    right: 10px;
    top: 5px;
    vertical-align: middle;
    cursor: pointer
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate ul li a {
    font-size: 12px;
    letter-spacing: -1px
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate ul li label {
    cursor: pointer;
    font-size: 12px;
    letter-spacing: -1px;
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate ul.bottom {
    bottom: 0px;
}

.popup_in ul li.searchResult#searchAppResult ul.show_cate li div.selcate ul.top {
    overflow: hidden
}

.popup_in ul li.searchResult#searchAppResult ul.part_list {
    border-top: 4px solid #c2c6d3
}

.popup_in ul li.searchResult#searchAppResult ul.part_list li {
    float: left;
    width: 32%;
    padding: 3px 0px 3px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px
}

.popup_in ul li.searchResult#searchAppResult ul.part_list li span.title {
    margin-left: 8px;
    font-weight: 700;
    font-size: 14px
}

.popup_in ul li.searchResult#searchAppResult ul.part_list li:nth-child(3n+1) {
    clear: both
}

.popup_in ul li.searchResult#searchAppResult ul.part_list li div.desc {
    margin-left: 35px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -1px
}

.popup_in ul li.searchResult#searchAppResult ul.part_list li label {
    margin-top: 7px
}

.popup_in ul li.searchResult#searchAppResult .end {
    clear: both;
    border-top: 4px solid #c2c6d3;
    text-align: center;
    padding-top: 20px
}


.choice_list {
    position: relative;
    margin: 5px 0;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #B3C6DF;
    display: none
}

.choice_list.on {
    display: block;
}

.choice_list thead th {
    padding: 3px 0;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    border: 1px solid #B3C6DF;
    border-width: 0 0 1px 1px;
    background: #E7EEF9;
    color: #3179c5
}

.choice_list thead th.frist {
    border-left: 0;
}

.table_st2 tr td .choice_list tbody td {
    border: 1px dashed #B3C6DF;
    padding: 4px;
    font-size: 11px;
    text-align: center;
    line-height: 14px;
}

.table_st2 tr td .choice_list tbody td.left {
    text-align: left
}

.choice_list .inner {
    overflow-y: scroll;
    overflow: hidden;
    width: 100%;
    height: 100px;
    padding: 0
}

.choice_list dl {
    float: left;
    padding: 5px 10px;
    width: 95%;
    border-bottom: 1px solid #F1F1F1;
}

.choice_list dl dt {
    float: left;
    font-size: 11px;
    text-align: left;
    margin-right: 10px;
    letter-spacing: -1px
}

.choice_list dl dt input {
    margin-bottom: 6px;
}

.choice_list dl dd {
    float: left;
}

.choice_list dl dd ul li {
    text-align: left;
    margin-bottom: 5px;
}

.choice_list dl dd ul li label {
    font-size: 11px;
}

.choice_list dl dd ul li span {
    margin-left: 20px;
}

.choice_list dl dd ul li span label {
    font-size: 12px;
}



#change_part {
    position: absolute;
    display: none;
    z-index: 1002
}

.red {
    color: red !important
}
.ml5 {
    margin-left: 5px;
}

.table_st2 {width:100%}

.table_st2 tr td {
    text-align: left;
    padding: 4px 0 4px 12px;
    border-bottom: 1px #ddd dashed
}



input[type="checkbox"].hidden {
    display: none;
}

input[type="checkbox"].all_chk {
    display: none;
}

input[type="checkbox"].all_chk+label {
    position: relative;
    width: 88px;
    height: 28px;
    background: #fff url(/images/admin/ck_off.png) no-repeat 5px center;
    border: 1px solid #d5d5d5;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block
}

input[type="checkbox"].all_chk.btn+label {
    width: 132px;
 
}

input[type="checkbox"].all_chk:checked+label {
    background: url(/images/admin/ck_on.png) #fff no-repeat 5px center;
    border: 1px solid #61bce9;
    color: #1bafcf;
    vertical-align: middle;
    display: inline-block
}

input[type="checkbox"].all_chk+label span {
    position: absolute;
    left: 25px;
    top: -13px;
    display: block;
    width: 93px;
    font-size: 13px;
    font-weight: 300;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


input[type="checkbox"].all_chk.btn+label span {
        width: max-content;
    height: 28px;
    top: -1px;
    line-height: 28px;
    display: inline-block;
}




input[type="checkbox"].all_chk:checked+label span {
    font-weight: 300 !important
}

input[type="checkbox"].all_chk+label:hover {
    box-shadow: 0px 1px 6px 0px #dddddd
}

input[type="checkbox"].all_chk.p+label {
    width: 18px;
    height: 18px;
    background: #fff url(/images/admin/ck_off.png) no-repeat 2px center;
    background-size: 12px 8px;
    margin-left: 0px
}

input[type="checkbox"].all_chk.p:checked+label {
    background: url(/images/admin/ck_on.png) #fff no-repeat 2px center;
    background-size: 12px 8px;
    margin-left: 0px;
    border: 1px solid #61bce9;
    color: #1bafcf
}

input[type="checkbox"].all_chk.in+label {
    width: 43px;
    height: 20px;
    background: #fff url(/images/admin/ck_off.png) no-repeat 3px center;
    background-size: 12px 8px;
    margin-left: 0px
}

input[type="checkbox"].all_chk.in+label span {
    position: absolute;
    left: 10px;
    top: 2px;
    display: block;
    width: 35px;
    font-size: 11px;
    font-weight: 300;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #42bfd8;
}

input[type="checkbox"].all_chk.in:checked+label {
    background: url(/images/admin/ck_on.png) #fff no-repeat 3px center;
    background-size: 12px 8px;
    margin-left: 0px;
    border: 1px solid #61bce9;
    color: #1bafcf
}

input[type="checkbox"].all_chk.text+label {
    width: unset;
    height: unset;
    padding: 5px 5px 5px 26px;
    margin-top: 5px
}



.btn_normal {
    height: 26px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 1px 1px 2px 0px #dddddd;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    font-weight: 300;
    transition: all 0.3s;
    outline: none;
    transition: all 0.3s;
    opacity: 0.80;
    box-sizing: border-box;
}

.btn_normal:hover {
    transition: all 0.3s;
    opacity: 1;
    box-shadow: 0px 1px 6px 0px #a8a8a8;
}

.btn_normal.save {
    color: #ffffff !important;
    border: 1px solid #1483c5;
    background: #2b91ce url(/images/admin/save16w.png) 6px 3px no-repeat;
    padding-left: 26px;
}

.mt20{margin-top:20px}



.exam_ing {
    border-bottom: 1px dashed #d5d5d5
}

.exam_ing th {
    background-color: #8da3b9;
    border-bottom: 1px dashed #d5d5d5;
    border-right: 1px solid #e5e5e5;
    color: #fff;
}

.exam_ing td {
    border-bottom: 1px dashed #d5d5d5;
    /*border-right: 1px solid #e5e5e5;*/
    padding: 5px;
	text-align:left;
}

.exam_ing td.wh {
    background-color: #fff
}

.exam_ing td.tts {
    font-size: 12px;
    font-weight: 300;
    line-height: 26px
}

.exam_ing td.tts img {
    cursor: pointer;
    vertical-align: middle;
    margin: -3px 5px 0px 5px
}

.exam_ing th.head {
    font-size: 11px;
    color: #4471bb;
    padding-bottom: 5px;
    padding-top: 3px
}

.exam_ing td.num {
    font-weight: bold;
    color: #6e9eaf
}


.tab-cate {
    overflow: hidden;
}

.tab-cate li {
    display: inline-block;
    margin-right: 3px;
}

.tab-cate li h3 {
    font-size: 13px;
    width: 100%;
    text-align: left;
    background-color: #fff;
    padding: 1px 8px;
    color: #fff;
    line-height: 22px;
    margin-top: 2px;
    margin-bottom: 4px;
    cursor: pointer;
    color: #3179c5;
    border: 1px solid #77ace4;
    box-shadow: 1px 1px 3px 0px #bfbfbf;
}

.tab-cate li h3:hover,
.tab-cate li h3.on {
    background-color: #3179c5;
    color: #FFF;
    border: 1px solid #3179c5
}

.tab-cate li h3 .cnts {
    color: red;
    font-size: 12px;
    line-height: 12px;
    margin-left: 2px;
    letter-spacing: 1px;
}

.tab-cate li h3.on .cnts {
    color: #fff
}

#tab-help {
    line-height: 25px;
    color: #52a5d7;
    padding: 10px 0px 0px 5px;
    vertical-align: middle;
}

.btn_normal .cnts {
    margin-left: 5px;
    color: #ff0;
    letter-spacing: 1px;
}

.exam_ing tr td.que_td_sel {
    display: block;
    min-height: 46px;
    padding: 0px 10px 10px 10px
}


.select_warp {
    height: 54px;
    padding: 0 10px;
    background: #f8fafb;
    border-top: 1px #e8e8e8 solid;
    border-bottom: 1px #e8e8e8 solid;
    font-size: 14px;
    overflow: hidden;
}


.select_warp li {
    float: left;
    line-height: 54px;
    margin-right: 14px;
}

.select_warp li.fr {
    float: right;
    margin-right: 5px;
}

.select_warp li select {
    padding-right: 22px;
    font-weight: 300;
    outline: none
}

.select_warp li select:hover {
    box-shadow: 0px 1px 6px 0px #dddddd
}

.select_warp li select option {
    font-weight: 300;
    outline: none
}

.select_warp #ck_all {
    vertical-align: middle;
    margin-left: 5px;
    margin-top: 3px;
}


input:hover {
    box-shadow: 0px 1px 6px 0px #dddddd
}

select {
    display: inline-block;
    padding-right: 20px;
    border: 1px solid #dededd;
    height: 28px;
    padding-left: 6px;
    background: #fff url(/images/admin/sel_arr.png) right 6px center no-repeat;
    appearance: none;
    -webkit-appearance: none;
    color: #666;
    font-size: 12px;
    vertical-align: middle;
    font-weight: 300;
    outline: none;
    line-height: 28px;
    min-width: 45px;
}

select option {
    font-weight: 300;
}

select::-ms-expand {
    display: none;
}

select:hover {
    box-shadow: 0px 1px 6px 0px #dddddd
}

select:focus {
    outline: none
}


/*input[type="checkbox"] { width:15px; height:15px; border:1px #d5d5d5 solid; cursor: pointer; }*/

input[type="text"] {
    height: 28px;
    border: 1px #dededd solid;
    padding: 0 7px;
    color: #555;
    outline: none;
    transition: all 0.3s;
    vertical-align: middle;
    display: inline;
    line-height: 28px
}

input[type="password"] {
    height: 28px;
    border: 1px #dededd solid;
    padding: 0 7px;
    color: #555;
    outline: none;
    transition: all 0.3s;
    vertical-align: middle;
    display: inline;
    line-height: 28px;
    font-family: "맑은 고딕";
    letter-spacing: 1px
}

input[type="text"]:hover {
    border: 1px #f1c077 dashed;
    background-color: #ffffe7;
}

input[type="password"]:hover {
    border: 1px #ff6d40 dashed;
    background-color: #fff0e7;
}

input::-webkit-input-placeholder {
    color: #bbb;
    font-weight: 300;
}

input:-ms-input-placeholder {
    color: #bbb;
    font-weight: 300
}

input:focus::-webkit-input-placeholder {
    color: #fff
}

input:focus::-ms-input-placeholder {
    color: #fff
}

textarea::-webkit-input-placeholder {
    color: #bbb;
    font-weight: 300;
}

textarea:-ms-input-placeholder {
    color: #bbb;
    font-weight: 300
}

textarea:focus::-webkit-input-placeholder {
    color: #fff
}

textarea:focus::-ms-input-placeholder {
    color: #fff
}

textarea {
    border: 1px #dededd solid;
    padding: 4px;
    color: #555;
    outline: none;
    transition: all 0.3s;
    vertical-align: middle;
    display: inline;
}

textarea.recruit {
    width: 96%;
    height: 18px;
    margin: 3px 0px
}


.search_sel_input select {
    outline: none;
    margin-right: 5px;
    text-align: center
}

.search_sel_input select:hover {
    box-shadow: 0px !important
}

.search_sel_input input[type="text"] {
    outline: none;
    margin-left: 0px;
    padding-left: 12px
}

.search_sel_input input[type="text"].con {}

.search_sel_input input[type="submit"] {
    cursor: pointer;
    border: 0px;
    outline: none;
    display: inline-block;
    width: 65px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    border-radius: 0px 1px 1px 0px;
    font-size: 16px;
    background: #1bc0e0 url(/images/admin/icon_serch.png) 8px center no-repeat;
    padding-left: 15px;
    vertical-align: middle;
    font-weight: 300;
}

.search_sel_label label {
    font-size: 13px;
    outline: none;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dededd;
    border-right: 0px;
    padding: 0px 0px 0px 6px;
    background-color: #ffffff;
    color: #1cb0d0
}

.search_sel_label label span {
    color: #dfdfdf;
    margin-left: 5px
}

.search_sel_label select {
    border-left: 0px;
    line-height: 28px;
}


.reg_div {
    float: right;
}

.reg_div.top {
    margin-top: 20px;
    margin-bottom: -25px
}

.reg_div.bottom {
    margin-top: 0px
}


.tab {
    border-bottom: 1px solid #55a7d8;
    overflow: hidden;
    width: 100%;
    display: block;
}

.tab.b3 {
    border-bottom: 3px solid #55a7d8;
}

.tab li {
    float: left;
    list-style: none;
    cursor: pointer
}

.tab li:first-child {
    border-left: 1px solid #55a7d8;
    margin-left: 15px
}

.tab li span {
    border: 1px solid #55a7d8;
    display: inline-block;
    padding: 0px 20px;
    border-left: 0px;
    ;
    border-bottom: 0px;
    font-size: 15px;
    color: #1db7d8;
    box-shadow: 0px 0px 5px 1px #1db7d838 inset;
    line-height: 34px;
    box-sizing: border-box;
}

.tab li.on span {
    background-color: #55a7d8;
    color: #ffffff;
    font-weight: 300;
    box-shadow: none;
}

.tab li.off span {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #afafaf;
    cursor: default;
    box-shadow: none
}

.clear {
    clear: both
}

.btn_normal.reg {
    color: #ffffff !important;
    border: 1px solid #1483c5;
    background: #2b91ce url(/images/admin/pens_w.png) 6px center no-repeat;
    padding-left: 26px;
    ;
    background-size: 14px
}



.table_st1 {
    width: 100%;
    text-align: center;
    min-width: fit-content;
}

.table_st1 thead {
   
}

.table_st1 thead tr {
    min-height: 24px;
    /*background: #EEF3FB;*/
    background: linear-gradient(to right, #55a7d8, #55a7d8, #8a81d2);
    color: #333;
    box-shadow: 1px 1px 8px -1px #b9b9b9;
    border-radius: 8px;
}

.table_st1 thead th {
    padding: 6px 0;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px #c5cde8 solid;
    border-right: 1px dashed rgb(255, 255, 255, 0.4);
}

.recruit_table .table_st1 thead th:first-child,
.recruit_table .table_st1 thead th:last-child {
    border-radius: 0px;
}

.table_st1 thead th:first-child {
    border-radius: 8px 0px 0px 8px;
}

.table_st1 thead th:last-child {
    border-right: 0px;
    border-radius: 0px 8px 8px 0px;
}

.table_st1 tbody tr.listTxt.stop td {
    background-color: #e4e4e4;
    opacity: 0.5;
}

.table_st1 tbody tr.listTxt.ing td {
    background-color: #fefff4;
}

.table_st1 tbody tr:last-child td {
    border-bottom: 1px #c5cde8 solid
}

.table_st1 tbody td {
    padding: 7px 0;
    font-size: 12px;
    border-bottom: 1px #c5cde8 dashed
}

.table_st1 tbody tr.group td {
    position: relative;
    min-height: 55px;
}

.table_st1 tbody tr.group td img.group-rel-dot {
    position: absolute;
    top: -27px;
    left: 10px;
}

.table_st1 tbody td.small {
    font-size: 12px
}

.table_st1 tbody td.code {
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #5c94c3;
}

.table_st1 tbody tr.listTxt.diff {
    border-top: 2px solid #92b9d4
}

.table_st1 tbody tr.listTxt:hover {
    background-color: #f8fafb
}

.text-hidden {
    visibility: hidden;
}

.table_st1 tbody td.site_code {
    font-weight: 500;
    font-size: 15px
}

.table_st1 tbody td.site_code.setup {
    padding-left: 5px
}

.table_st1 tbody td.site_code.setup.rel {
    padding-left: 20px;
    /*background: url(/images/icon/rel_dot.png) 15px 0px no-repeat;*/
}

.table_st1 tbody td.site_code .group-admin {
    font-size: 11px;
    background-color: #ca72fb;
    padding: 0px 5px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    box-shadow: 1px 1px 3px 0px #b7b7b7;
    border-radius: 1px;
    width: 66px;
    text-align: center;
    font-family: sans-serif;
    margin-left: 13px;
}

.table_st1 tbody td.site_code .single-admin {
    font-size: 11px;
    background-color: #71bfd4;
    padding: 0px 5px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    box-shadow: 1px 1px 3px 0px #b7b7b7;
    border-radius: 1px;
    width: 66px;
    text-align: center;
    font-family: sans-serif;
    margin-left: 13px;
}

.table_st1 tbody td .group-title {
    color: #c772f7
}

.table_st1 tbody td .single-title {
    color: #3ba6bb
}

.table_st1 tbody td a strong {
    font-size: 13px;
    font-weight: 300
}

.table_st1 tbody td a:hover {
    text-decoration: underline
}

.table_st1 tbody td img.link {
    margin-right: 3px;
    width: 12px;
    vertical-align: middle;
    opacity: 0.50;
}

.table_st1 select {
    border-color: #a5cad1;
    color: #333;
}

.table_st1 tbody td a.link {
    background: url(/images/admin/link-12.png) 6px 4px no-repeat;
    padding-left: 20px;
    background-size: 10px;
    display: inline-block;
    vertical-align: middle
}

.table_st1 tbody td a.link.group {
    font-size: 12px;
    margin-top: -2px;
    background: url(/images/admin/link-12.png) left 4px no-repeat;
    background-size: 10px;
    padding-left: 13px;
}

.table_st1 tbody td a.link.home {
    font-size: 12px;
    margin-top: -2px;
    background: url(/images/icon/home-icon.png) left 4px no-repeat;
    background-size: 11px;
    padding-left: 15px;
    text-decoration: underline;
    text-underline-position: under;
    letter-spacing: 0px;
}

.table_st1 tbody td a.link.home.second {
    background: url(/images/admin/blt_folder.gif) left 5px no-repeat;
    background-size: 11px;
    padding-left: 15px;
}

.table_st1 tbody td a.link2 {
    background: url(/images/admin/btn_01.gif) 6px 3px no-repeat;
    padding-left: 20px;
    background-size: 10px;
    display: inline-block;
    vertical-align: middle
}

.table_st1 thead th.pl30 {
    padding-left: 30px
}

.table_st1 tbody td.site_code.setup.rel a.link.home {
    color: #888
}

.table_st1 tbody td a.link.home.group {
    color: #c772f7
}

.table_st1 tbody td.no_data {
    font-weight: 300;
    height: 100px;
    color: #999999;
    font-size: 15px
}

.table_st1 tbody td strong.cl_title.normal {
    margin-top: 0px;
}

.table_st1 tbody td strong.cl_title {
    position: relative;
    display: inline-block;
    margin-top: 19px;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
}

.table_st1 tbody td strong.cl_title span.company {
    position: absolute;
    top: -19px;
    left: 9px;
    font-size: 11px;
    color: #a2a2a2;
    font-family: sans-serif;
}

.table_st1 tbody td strong.cl_title span.company a {
    font-size: 11px;
    color: #afafaf;
}

.table_st1 tbody td strong.cl_title span.company.nolink {
    left: 15px;
}

.table_st1 span.orders_work {
    position: relative
}

.table_st1 span.orders_work span.asc {
    position: absolute;
    left: 3px;
    top: -7px;
    background: url(/images/admin/asc.png) center center no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0.30
}

.table_st1 span.orders_work span.desc {
    position: absolute;
    left: 3px;
    top: 6px;
    background: url(/images/admin/desc.png) center center no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0.30
}

.table_st1 span.orders_work span.on {
    opacity: 1
}

.table_st1.tb td {
    border-left: 1px #cecece dashed;
    padding: 5px 7px;
    line-height: 18px;
}

.table_st1.tb td:first-child {
    border-left: 0
}

.table_st1 tbody td a.link_tit img {
    margin-top: 6px
}

.table_st1 tbody td a.link_tit span {
    font-size: 10px;
    display: block;
    color: #64a6c6;
    margin-top: 2px
}

.mt10{margin-top:10px}


.btn_normal.small {
    background-color: #ffffff;
    color: #2d6b90 !important;
    border: 1px solid #96b6ca;
    font-size: 11px;
    padding: 0px 4px 0px 4px;
    line-height: 21px;
    height: 22px;
    font-weight: 300
}

.btn_normal.small.red {
    color: #ff0000 !important;
    border: 1px solid #ff0000
}

.btn_normal.small.del {
    color: #ff4f4f !important;
    border: 1px solid #ff9797;
}

.paging_area {
    position: relative;
    display: block;
       width: 90%;
    margin: 10px auto;
    text-align: center;
    overflow: hidden
}

.paging_area img {
    vertical-align: top;
}

.paging_area span {
    display: inline-block;
    padding: 0 5px;
    height: 28px;
    font-size: 16px;
    color: #666;
    line-height: 26px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

.paging_area span.on {
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    color: #0399db;
    line-height:26px;
}


.paging_area a {
     color: #666;
}
.paging_area a:hover {
    text-decoration: none;
}

.paging_area .prev, .paging_area .next {
    display: inline-block;
    margin: 0 2px;
    padding: 0
}

.paging_area .prev a, .paging_area .next a {
    margin: 0;
    padding: 0
}

.paging_area .prev {
    margin-right:8px
}

.paging_area .next {
    margin-left:8px
}

.paging_area .next_e {
    margin:0px
}


.paging_area .prev_f {
    margin:0px
}


#loading_area {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    background-color: #494949;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=20);
    opacity: 0.20;
    -moz-opacity: 0.20;
}

.loading_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 8px solid #94b7d2;
    border-radius: 50%;
    border-top-color: #2a7fbf;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    z-index: 300;
    box-shadow: 0px 0px 4px -1px #000000;
    left: 50%;
    right: 50%;
    margin-left: -25px;
}

#loading_icon {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 12px solid rgba(255, 255, 255, .7);
    border-radius: 50%;
    border-top-color: #77c8ca;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    z-index: 300;
}

#loading_area2 {
    position: absolute;
    display: none;
    z-index: 100;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.txt-left{text-align:left}

.re_list {
    background: #fff url(/images/icon/icons8-reset-blue.png) center no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #3eaacc;
    margin-left: 5px;
    border-radius: 2px;
}

.re_list:hover {
    box-shadow: 1px 1px 4px 1px #cecece
}


input[type="checkbox"].toggle-mode {
    display: none;
}

input[type="checkbox"].toggle-mode+label {
    position: relative;
    width: 32px;
    height: 32px;
    background: url(/images/icon/toggle-right32-grey.png) center no-repeat;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block
}

input[type="checkbox"].toggle-mode.fair+label {
    transition: all 0.3s;
    position: relative;
    width: 32px;
    height: 32px;
    background: url(/images/icon/toggle-right32-epic.png) center no-repeat;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block
}

input[type="checkbox"].toggle-mode.red+label {
    transition: all 0.3s;
    position: relative;
    width: 32px;
    height: 32px;
    background: url(/images/icon/toggle-right32.png) center no-repeat;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block
}

input[type="checkbox"].toggle-mode:checked+label {
    background: url(/images/icon/toggle-left32.png) center no-repeat;
    vertical-align: middle;
    display: inline-block
}

input[type="checkbox"].toggle-mode+label:hover {}

input[type="checkbox"]#part_nos.toggle-mode.fair+label {
    transition: none
}

.answer_position {
    position: relative
}

.answer_position span {
    line-height: 32px;
    display: inline-block;
    padding: 0px 8px;
    font-family: "NanumSquare", "nanumfont", "맑은고딕"
}

.answer_position .right {
    color: #b1b1b1
}

.answer_position .left {
    color: #b1b1b1;
    float: left;
    padding-left: 0px;
}

.answer_position input[type="checkbox"].toggle-mode:checked~.right {
    color: #b1b1b1
}

.answer_position input[type="checkbox"].toggle-mode.fair~.right {
    color: #c957ea
}

.answer_position input[type="checkbox"].toggle-mode:checked.fair~.right {
    color: #b1b1b1
}

.answer_position input[type="checkbox"].toggle-mode.red~.right {
    color: #ff0000
}

.answer_position input[type="checkbox"].toggle-mode:checked.red~.right {
    color: #b1b1b1
}

.answer_position input[type="checkbox"].toggle-mode:checked~.left {
    color: #00bcd4 !important
}

.answer_position {
    padding: 0px 0px 0px 0px;
    display: inline-block;
    font-weight: 300
}

.answer_position.pl15 {
    padding-left: 15px
}

.answer_position.pl20 {
    padding-left: 20px
}

.answer_position #answer_position.toggle-mode+label {
    margin: -3px 10px 0px 10px
}


.btn_normal.list {
    color: #6092b3;
    border: 1px solid #94b5cc;
    background: #ffffff url(/images/admin/bt_result.jpg) 6px center no-repeat;
    padding-left: 26px;
    font-weight: 300
}


.checks {
    position: relative;
}

.checks input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.checks input[type="radio"]+label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    vertical-align: middle;
    line-height: 14px;
}

.checks input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 21px;
    height: 21px;
    text-align: center;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks input[type="radio"]+label:active:before,
.checks input[type="radio"]:checked+label:active:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checks input[type="radio"]:checked+label {
    color: #208ba6
}

.checks input[type="radio"]:checked+label.no {
    color: #ff3300
}

.checks input[type="radio"]:checked+label:before {
    background: #E9ECEE;
    border-color: #38b8d8;
}

.checks input[type="radio"]:checked+label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 13px;
    height: 13px;
    background: #51c1dd;
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3)
}

.checks input[type="radio"]:checked+label.no:before {
    border-color: #ff3300;
}

.checks input[type="radio"]:checked+label.no:after {
    background: #ff3300;
}

.checks input[type="radio"].sel+label {
    border: 1px solid #ffffff;
    padding: 5px 0px 3px 30px
}

.checks input[type="radio"].sel+label:hover {
    background-color: #e0e9f1;
    border: 1px solid #c6d7e6
}

.checks input[type="radio"].sel+label:before {
    left: 6px;
    top: 8px;
}

.checks input[type="radio"].sel:checked+label:after {
    top: 13px;
    left: 11px
}

.checks span.area {
    display: inline-block;
    width: 83px
}

.checks span.area20 {
    display: inline-block;
    width: 20px
}


.common_nm_small {
    color: #2b92d5;
    background-color: #fff;
    font-weight: normal;
    padding: 0px 3px;
    line-height: 16px;
    font-family: sans-serif;
    font-size: 11px;
    vertical-align: middle;
    margin: 2px 5px 3px 0px;
    border: 1px solid #8cbfe0;
    float: left;
    margin-top: -1px;
}

.company_nm_small {
    color: #32a99e;
    background-color: #ecfff9;
    font-weight: normal;
    padding: 0px 3px;
    line-height: 16px;
    font-family: sans-serif;
    font-size: 11px;
    vertical-align: middle;
    margin: 2px 5px 3px 0px;
    border: 1px solid #80ccc5;
    float: left;
    margin-top: -1px;
}

.base_nm_small {
    color: #fff;
    background-color: #71bfd4;
    font-weight: normal;
    padding: 0px 3px;
    line-height: 16px;
    border-radius: 2px;
    font-family: sans-serif;
    font-size: 11px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px
}

.adv_nm_small {
    color: #fff;
    background-color: #ca72fb;
    font-weight: normal;
    padding: 0px 3px;
    line-height: 16px;
    border-radius: 2px;
    font-family: sans-serif;
    font-size: 11px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px
}

.mr5{margin-right:5px}