@font-face {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/NEXON_Lv2_Gothic_Light.eot)format("embedded-opentype"), url(/fonts/NEXON_Lv2_Gothic_Light.woff) format("woff");
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 500;
    font-style: normal;
    src: url(/fonts/NEXON_Lv2_Gothic.eot)format("embedded-opentype"), url(/fonts/NEXON_Lv2_Gothic.woff) format("woff");
}

@font-face {
    font-family: 'NEXON Lv2 Gothict';
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/NEXON_Lv2_Gothic_Bold.eot) format("embedded-opentype"), url(/fonts/NEXON_Lv2_Gothic_Bold.woff) format("woff");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/NanumSquare_Light.eot") format("eot"), url("/fonts/NanumSquare_Light.otf") format("opentype"), url("/fonts/NanumSquare_Light.woff") format("woff"), url("/fonts/NanumSquare_Light.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 200;
    font-style: normal;
    src: url("/fonts/NanumSquare_Light.eot") format("eot"), url("/fonts/NanumSquare_Light.otf") format("opentype"), url("/fonts/NanumSquare_Light.woff") format("woff"), url("/fonts/NanumSquare_Light.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/NanumSquare_Regular.eot") format("eot"), url("/fonts/NanumSquare_Regular.otf") format("opentype"), url("/fonts/NanumSquare_Regular.woff") format("woff"), url("/fonts/NanumSquare_Regular.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/NanumSquare_Regular.eot") format("eot"), url("/fonts/NanumSquare_Regular.otf") format("opentype"), url("/fonts/NanumSquare_Regular.woff") format("woff"), url("/fonts/NanumSquare_Regular.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/NanumSquare_Bold.eot") format("eot"), url("/fonts/NanumSquare_Bold.otf") format("opentype"), url("/fonts/NanumSquare_Bold.woff") format("woff"), url("/fonts/NanumSquare_Bold.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/NanumSquare_ExtraBold.eot") format("eot"), url("/fonts/NanumSquare_ExtraBold.otf") format("opentype"), url("/fonts/NanumSquare_ExtraBold.woff") format("woff"), url("/fonts/NanumSquare_ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 900;
    font-style: normal;
    src: url("/fonts/NanumSquare_ExtraBold.eot") format("eot"), url("/fonts/NanumSquare_ExtraBold.otf") format("opentype"), url("/fonts/NanumSquare_ExtraBold.woff") format("woff"), url("/fonts/NanumSquare_ExtraBold.woff2") format("woff2");
}

html,
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    touch-action: auto;
    font-size: 15px;
    -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
address,
em,
img,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    background: #fff;
    font-family: 'NEXON Lv2 Gothic', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
    font-size: 14px;
    line-height: normal;
    color: #000;
    box-sizing: border-box;
    min-width: 280px;
    min-height: 100%;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal
}

ol,
ul,
li {
    list-style: none
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0
}

form,
fieldset,
iframe {
    display: block;
    border: 0
}

img,
button {
    border: 0 none;
    vertical-align: middle
}

img {
    width: 100%;
    height: auto;
    border: 0;
}

hr {
    height: 0;
    display: none
}

i,
em,
address {
    font-style: normal
}

label,
button {
    cursor: pointer
}

caption,
legend {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -9999em;
    overflow: hidden;
    font-size: 0;
}

.blind {
    position: absolute !important;
    left: -9999em;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -9999em;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block;
    box-sizing: border-box;
}

input,
textarea,
select {
    margin: 0;
    padding: 0;
    font-family: 'NEXON Lv2 Gothic', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
    font-size: 16px;
    color: #000;
    vertical-align: middle;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none
}

textarea {
    border: 1px solid #000;
    resize: none;
    overflow-y: auto
}

button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: none;
    font-size: 0;
    font-family: 'NEXON Lv2 Gothic', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
    vertical-align: top;
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

.ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    color: #000;
    text-decoration: none;
    word-break: break-all;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    font-family: 'NanumSquare';
    font-weight: 300;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.ft-Poppins {
    font-family: 'Poppins', sans-serif !important;
}

.wrap {
    width: 100%;
    overflow-x: hidden;
}

[class^="bg"],
[class^="btn"],
[class^="ico"] {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-main {
    background-color: #00c779 !important;
}


/*btn style*/

.btn-basic,
.btn-arrow,
.ico-basic {
    display: inline-block;
    vertical-align: middle;
}

.btn-basic,
.btn-arrow,
.ico-basic {
    display: inline-block;
    vertical-align: middle;
}

.btn-basic.type01 {
    font-size: 16px;
    font-weight: 700;
    color: #3380f1;
    text-align: center;
    min-width: 162px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    padding: 0 15px;
}

.btn-basic.type02 {
    font-size: 14px;
    font-weight: 700;
    color: #3380f1;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    padding: 0 20px;
}

.btn-basic.type03 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    min-width: 162px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    padding: 0 15px;
}

.btn-arrow.black {
    font-size: 12px;
    font-weight: 700;
    color: #333;
    background-image: url(https://reina.solutions/images/ico-arrow-black.svg);
    padding-right: 12px;
    background-position: right center;
}

.btn-arrow.main {
    font-size: 16px;
    font-weight: 700;
    color: #3380f1;
    background-image: url(https://reina.solutions/images/ico-arrow-blue.svg);
    padding-right: 14px;
    background-position: right 6px;
}

.btn-arrow.blue {
    font-size: 14px;
    font-weight: 700;
    color: #0f216a;
    background-image: url(https://reina.solutions/images/ico-arrow-blue.svg);
    padding-right: 14px;
    background-position: right center;
}

.btn-arrow.red {
    font-size: 14px;
    font-weight: 700;
    color: #e2011b;
    background-image: url(https://reina.solutions/images/ico-arrow-red.svg);
    padding-right: 14px;
    background-position: right center;
}

.btn-arrow.grey {
    font-size: 14px;
    font-weight: 700;
    color: #969696;
    background-image: url(https://reina.solutions/images/ico-grey-down.svg);
    padding-right: 18px;
    background-position: right 3px;
}

.btn-arrow.grey.up {
    background-image: url(https://reina.solutions/images/ico-grey-up.svg);
    background-position: right 6px;
}

.txt-btn {
    font-size: 0;
}

.txt-btn+.txt-btn {
    margin-top: 6px !important;
}


/*header*/

#header {
    width: 100%;
    height: 3.4rem;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

#header .header-sec {
    width: 100%;
    height: 100%;
}

#header .header-sec .ly-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    padding: 0 1.2rem;
}

#header .header-sec .logo {
    background: url(/images/inface-ep-logo-white.png)no-repeat;
    background-size: 100%;
}

#header .header-sec .logo a {
    display: block;
    font-size: 0;
    width: 4rem;
    height: 1.6rem;
}

#header .header-sec .inquiry {
    position: absolute;
    right: 0;
    width: 1.6rem;
    height: 1.6rem;
    padding: 1.2rem;
    background: url(https://reina.solutions/images/main_v2/ic-question.svg)center center no-repeat;
    background-size: 1.6rem 1.6rem;
    box-sizing: content-box;
    transition: border 0.4s;
}

#header .header-sec .inquiry span {
    color: transparent;
    font-size: 0;
    text-indent: -9999px;
    transition: color 0.4s;
}

#header .header-sec .inquiry:hover {
    border-color: #00c779 !important;
}

#header .header-sec .inquiry:hover span {
    color: #00c779 !important;
}

#header .header-sec nav.only-m {
    width: 1.6rem;
    height: 1.2rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1.2rem;
    box-sizing: content-box;
    text-align: left;
    line-height: 0;
    cursor: pointer;
}

#header .header-sec nav.only-m span {
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #fff;
    transition: all .2s ease;
}

#header .header-sec nav.only-m span+span {
    margin-top: 12px;
}

#header .header-sec nav.only-m span:nth-child(2) {
    width: 16px;
}

#header .header-sec nav.only-m.active .top {
    transform: translateY(6px) translateX(0) rotate(45deg);
}

#header .header-sec nav.only-m.active .bottom {
    width: 100%;
    transform: translateY(-9px) translateX(0) rotate(-45deg);
}

#header.fixed {
    -webkit-animation: fadeItem 0.4s both;
    animation: fadeItem 0.4s both;
}

#header.fixed .header-sec {
    background: #fff;
    border-bottom: 1px solid #eee;
}

#header.fixed .header-sec .logo {
    background: url(/images/inface-ep-logo.png)no-repeat;
    background-size: 100%;
}

#header.fixed .header-sec .inquiry {
    background-image: url(https://reina.solutions/images/main_v2/ic-question-black.svg);
}

#header.fixed nav ul li a {
    color: #333;
    text-shadow: none;
}

#header.fixed .join-box a.inquiry {
    color: #333;
}

#header.fixed .header-sec nav.only-m span {
    background-color: #333;
}

.m-menu-pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #000;
    z-index: 100;
    display: none;
}

.m-menu-pop .pop-close {
    position: absolute;
    width: auto;
    right: 0;
    top: 0;
    padding: 1.2rem;
    box-sizing: content-box;
    text-align: left;
    cursor: pointer;
}

.m-menu-pop .pop-close span {
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif !important;
}

.m-menu-pop .pop-in {
    padding: 40% 0;
}

.m-menu-pop .pop-in>ul>li {
    text-align: center;
}

.m-menu-pop .pop-in>ul>li+li {
    margin-top: 4.2rem;
}

.m-menu-pop .pop-in>ul>li>a {
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
}

.m-menu-pop .pop-in>ul>li>a.on {
    color: #00c779;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* footer */

footer {
    background: #242424;
}

.footer-in {
    padding: 1.5rem 1.2rem 2.2rem;
    max-width: 1080px;
    margin: auto;
    text-align: center;
}

.footer-in .footer-logo {
    display: inline-block;
    width: 5rem;
}

.footer-in .f-notice {
    color: rgba(255, 255, 255, 0.2);
    font-size: 0.7rem;
    line-height: 1.83;
    margin-top: 0.9rem;
}

.footer-in .footer-list {
    margin-top: 2.5rem;
    display: inline-block;
}

.footer-in .footer-list>li {
    text-align: left;
}

.footer-in .footer-list>li+li {
    margin-top: 1.4rem;
}

.footer-in .footer-list>li .tit {
    font-size: 0.8rem;
    color: #fff;
    display: block;
    text-align: left;
    margin-bottom: 0.8rem;
}

.footer-in .footer-list>li .list-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    padding: 0 1.2rem;
    position: relative;
}

.footer-in .footer-list>li .list-item:after {
    content: '';
    width: 1px;
    height: 0.7rem;
    background-color: rgba(68, 68, 68, 0.5);
    position: absolute;
    left: 0;
    top: 1px;
}

.footer-in .footer-list>li .list-item:first-child {
    padding-left: 0;
}

.footer-in .footer-list>li .list-item.link {
    background: url(https://reina.solutions/images/main_v2/footer-link-out.png)right 0.7rem center no-repeat;
    background-size: 0.7rem auto;
    padding-right: 2rem;
}

.footer-in .footer-list>li .address {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
}

.footer-in .footer-list>li .address a {
    display: inline-block;
    color: #ffaa0f;
    margin-left: 0.9rem;
    text-decoration: underline;
}

.footer-in .copyright {
    display: inline-block;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.1);
    text-align: left;
    margin-top: 2.5rem;
}


/* flex */

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/* align */

.ta-center {
    text-align: center !important;
}

.box_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* layout */

.sec-inner {
    padding: 0 20px;
    max-width: 1140px;
    margin: auto;
}

.br-20 {
    border-top: 20px solid #f9f9f9;
}


/*content*/

.top-title {
    text-align: center;
}

.top-title h2 {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.top-title p {
    font-size: 0.8rem;
    line-height: 1.6;
    margin-top: 2rem;
    color: #555;
    transform: skew(-0.000001deg);
}

.top-title.tp02 h2 {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500;
    font-family: 'Poppins', sans-serif !important;
}

.top-title.tp02 p {
    margin-top: 0;
}

.ct01 {
    padding: 3.5rem 0 3.2rem;
    background-color: #f8fafc;
}

.ct02 {
    padding: 3.5rem 0 3.2rem;
}

.ct03 {
    padding: 3.5rem 0 3.2rem;
}

.ct04 {
    padding: 3.5rem 0 3.2rem;
}

.ct05 {
    padding: 2.1rem 0;
    background: url(https://reina.solutions/images/main_v2/ct05-back.jpg)left 20% center no-repeat;
    background-size: cover;
}

.ct02 .sec-inner,
.ct03 .sec-inner,
.ct04 .sec-inner {
    padding: 0;
}


/* top-visual */

[class^="bg"] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section.top-visual {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    background-color: #11131d;
    position: relative;
}

.section.top-visual .ct-inner {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin: auto;
    position: relative;
    padding: 0 1.2rem;
}

.section.top-visual .ct-inner h1 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.2;
    padding-top: 3rem;
}

.section.top-visual .ct-inner h1 .ft-Poppins {
    -webkit-animation: fadeItem 2s both;
    animation: fadeItem 2s both;
}

.section.top-visual .ct-inner h1 span.sub-txt {
    display: block;
    font-size: 0.7rem;
    margin-top: 2rem;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.5);
    -webkit-animation: fadeItem 1s both;
    animation: fadeItem 1s both;
    animation-delay: 0.5s
}

.section.top-visual .ct-inner h1 button {
    border: 1px solid #fff;
    padding: 0.9rem 4rem 0.9rem 1.2rem;
    border-radius: 2rem;
    margin-top: 5rem;
    background: url(https://reina.solutions/images/main_v2/ic-down.png)right 1.2rem center no-repeat;
    background-size: 0.8rem auto;
    -webkit-animation: fadeItem 1s both;
    animation: fadeItem 1s both;
    animation-delay: 1s
}

.section.top-visual .ct-inner h1 button span {
    position: relative;
    font-size: 0.75rem;
    color: #fff;
    display: inline-block;
}

.visual-item {
    position: absolute;
    transition: transform 20s linear;
}

.visual-item.vi01 {
    left: -8%;
    bottom: 15%;
    width: 20%;
}

.visual-item.vi02 {
    left: -100px;
    top: 0;
    width: 40%;
}

.visual-item.vi03 {
    left: 0;
    top: 40%;
    width: 30%;
    opacity: 0.7;
}

.visual-item.vi04 {
    right: 10%;
    bottom: 5%;
    width: 20%;
}

.visual-item.vi05 {
    right: -500px;
    bottom: 100px;
    width: 40%;
}

.visual-item.vi06 {
    right: 15%;
    top: 50%;
    width: 25%;
}

.visual-item.vi07 {
    right: 50px;
    top: -15%;
    width: 50%;
}

.visual-item.vi08 {
    right: -5%;
    top: 40%;
    width: 10%;
}

.visual-item.vi09 {
    width: 154px;
    height: 154px;
    border-radius: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-color: rgba(9, 170, 15, 0.1);
    bottom: -80px;
    right: 300px;
}

.visual-item.vi10 {
    width: 154px;
    height: 154px;
    border-radius: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-color: rgba(255, 170, 15, 0.1);
    bottom: -40px;
    right: 400px;
}

.visual-item.vi11 {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-color: rgba(255, 170, 15, 0.2);
    top: 500px;
    left: -400px;
}

.visual-item.vi12 {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-color: rgba(255, 170, 15, 0.2);
    top: -40px;
    left: 0;
}

@-webkit-keyframes fadeItem {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeItem {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* section-tab*/

.sc-tab-wrap {
    border-bottom: 1px solid #eee;
}

.sc-tab {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: auto;
}

.sc-tab>li {
    width: 50%;
    position: relative;
    background-size: 1.6rem auto;
    background-position: right 1rem bottom 1rem;
    background-repeat: no-repeat;
}

.sc-tab>li>a {
    width: 100%;
    height: 5.1rem;
    padding: 1rem;
    display: block;
}

.sc-tab>li>a>span {
    font-family: 'Poppins', sans-serif !important;
    position: relative;
    font-weight: 500;
    transition: color 0.4s;
}

.sc-tab>li>a>span:after {
    content: '';
    position: absolute;
    right: -1.2rem;
    top: 50%;
    margin-top: -0.25rem;
    border: solid #cfcfcf;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 0.2rem;
    transform: rotate(-45deg);
    transition: all 0.2s;
}

.sc-tab>li>a:hover>span {
    color: #00c779
}

.sc-tab>li>a:hover>span:after {
    border-color: #00c779;
}

.sc-tab>li.sc-tab01 {
    background-image: url(https://reina.solutions/images/main_v2/ic-tab01.png);
}

.sc-tab>li.sc-tab02 {
    background-image: url(https://reina.solutions/images/main_v2/ic-tab02.png);
}

.sc-tab>li.sc-tab03 {
    background-image: url(https://reina.solutions/images/main_v2/ic-tab03.png);
}

.sc-tab>li.sc-tab04 {
    background-image: url(https://reina.solutions/images/main_v2/ic-tab04.png);
}

.sc-tab>li:nth-child(even):before {
    content: '';
    width: 1px;
    height: 2rem;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1rem;
}


/* section01*/

.sc-list {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sc-list li {
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 22rem;
}

.sc-list li+li {
    margin-top: 1.4rem;
}

.sc-list li .txt {
    padding: 6.5rem 1.4rem 1.8rem 1.4rem;
    background-repeat: no-repeat;
    background-position: right 1.5rem top 1.8rem;
}

.sc-list li .txt .sbj {
    font-size: 0.7rem;
    color: #00c779;
    font-weight: 700;
    display: block;
    margin-bottom: 0.8rem;
}

.sc-list li .txt .tit {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.sc-list li .txt .cont {
    font-size: 0.85rem;
    line-height: 1.67;
}

.sc-list li .button-box {
    border-top: 1px solid #eee;
    padding: 1.1rem 1rem 1.25rem;
}

.sc-list li .button-box a {
    width: 33%;
    border: 1px solid #eee;
    padding: 0 0.9rem;
    font-size: 0.9rem;
    color: #00c779;
    height: 2.5rem;
    line-height: 2.4rem;
    border-radius: 1.3rem;
    background: url(https://reina.solutions/images/main_v2/ic-link-out-off.png)right 0.9rem center no-repeat;
    background-size: 0.7rem auto;
}

.sc-list li .button-box a+a {
    margin-left: 0.5rem;
}

.sc-list .sc-list01 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution01.png);
    background-size: 2rem auto;
}

.sc-list .sc-list02 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution02.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list03 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution03.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list04 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution04.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list05 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution05.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list06 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution06.png);
    background-size: 2rem auto;
}

.sc-list .sc-list07 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution04.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list08 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution08.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list09 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution09.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list10 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution10.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list11 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution11.png);
    background-size: 2.5rem auto;
}

.sc-list .sc-list12 .txt {
    background-image: url(https://reina.solutions/images/main_v2/ic-solution12.png);
    background-size: 2.1rem auto;
}

.sc-list.tp02 li {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem 1.2rem 0 1.2rem;
    margin: 0 0.5rem;
    background: transparent;
}

.sc-list.tp02 li+li {
    margin-top: 0;
}

.more-info {
    text-align: center;
}

.more-info p {
    font-size: 1.3rem;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 1.2rem;
}

.more-info .btn-basic {
    color: #fff;
    font-size: 0.9rem;
    border: 1px solid #fff;
    border-radius: 1.6rem;
    padding: 0.9rem 1.4rem 0.8rem;
    transition: background 0.4s;
}

.more-info .btn-basic:hover {
    background: #fff;
    color: #ffaa0f
}


/*slide*/

.slide-wrap {
    position: relative;
    width: 100%;
    max-width: 22rem;
    margin: auto;
}

.slick-list {
    overflow: visible !important;
}

.slick-slide:focus {
    outline: none;
}


/*layer-pop*/

.layer-pop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.layer-pop-in {
    width: 100%;
    height: 100%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.pop-close {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(https://reina.solutions/images/main_v2/b_close.svg)no-repeat;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 11;
}

.layer-pop-wrap {
    width: 100%;
    background: #fff;
    border-radius: 10px 10px 0 0;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: calc(100% - 54px);
    overflow-y: auto;
    transform: translateY(100%);
    transition: all 0.2s;
}

.layer-pop.open .layer-pop-wrap {
    transform: translateY(0);
    transition: all 0.2s;
}

.layer-pop-cont .accout-wrap {
    padding: 20px 20px 24px;
    position: relative;
    z-index: 10;
}

.input-list li+li {
    margin-top: 10px;
    overflow: hidden;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px 16px;
    transition: all 0.2s;
    line-height: 1;
    outline: none;
    font-size: 14px;
}

.input-container label {
    position: absolute;
    font-size: 14px;
    color: #999;
    left: 16px;
    top: 14px;
    transition: all 0.2s;
    font-family: 'NanumSquare';
    font-weight: 300;
}

.input-container input:focus {
    padding: 21px 16px 9px;
    border-color: #3380f1;
}

.input-container input#captcha:focus {
    padding: 15px 16px 15px;
    border-color: #3380f1;
}

.input-container.on input {
    padding: 21px 16px 9px;
}

.input-container input:focus+label {
    transform: translate(0, -8px);
    font-size: 10px;
    color: #3380f1;
}

.input-container.on label {
    transform: translate(0, -8px);
    font-size: 10px;
}

.check-container {
    position: relative;
}

.check-container input {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    ;
    z-index: 3;
    outline: none;
    overflow: hidden;
}

.check-container input[type="checkbox"]+label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    z-index: 2;
    font-size: 16px;
    line-height: normal;
}

.check-container input[type="checkbox"]+label:before {
    z-index: 2;
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
    background: url(https://reina.solutions/images/main_v2/ico_chkbox.svg)no-repeat center 22px;
    transition: all 0.2s;
}

.check-container input[type="checkbox"]:checked+label:before {
    content: '';
    border: 0;
    background-position: center center;
}

textarea {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    font-size: 14px;
    color: #999;
}

.inquiry-service {
    margin-top: 17px;
}

.inquiry-service .check-list li {
    width: 161px;
    display: inline-block;
    margin: 16px 16px 0 0;
}

.inquiry-comment {
    margin-top: 20px;
}

.inquiry-btn {
    text-align: center;
    margin-top: 22px;
}

.alert-noti {
    font-size: 11px;
    color: #e2011b;
    margin-top: 8px;
    font-family: 'NanumSquare';
    font-weight: 300;
}

.only-m {
    display: block;
}

.only-p {
    display: none;
}

@media all and (min-width:400px) {
    html,
    body {
        font-size: 16px;
    }
}

@media all and (min-width:768px) {
    .section.top-visual .ct-inner h1 {
        font-size: 50px;
    }
    .sc-list>li {
        margin-top: 1rem;
    }
    .sc-list>li+li {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .slide-wrap {
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: auto;
    }
}

@media all and (min-width:1132px) {
    #header {
        height: 80px;
    }
    #header .header-sec .ly-inner {
        padding: 0;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    #header .header-sec .logo a {
        width: 160px;
        height: 21px;
    }
    #header .header-sec .inquiry {
        position: static;
        margin-left: auto;
        background: none;
        display: inline-block;
        width: 120px;
        height: 44px;
        line-height: 42px;
        text-align: center;
        padding: 0;
        border-radius: 22px;
        border: 1px solid #fff;
    }
    #header .header-sec .inquiry span {
        color: #fff;
        font-size: 14px;
        text-indent: 0;
        white-space: nowrap;
    }
    #header.fixed .header-sec .inquiry {
        background: none;
        border-color: #eee;
    }
    #header.fixed .header-sec .inquiry span {
        color: #555;
    }
    nav.only-p {
        display: block;
        margin-left: 206px;
    }
    nav.only-p ul li {
        margin: 0 36px;
    }
    nav.only-p ul li a {
        position: relative;
        display: inline-block;
        color: #fff;
        font-size: 15px;
        padding: 7px 2px 3px;
        position: relative;
    }
    nav.only-p ul li.on a,
    nav ul li:hover a {
        font-weight: bold;
    }
    .footer-in {
        padding: 60px 0 55px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .footer-in .footer-list {
        margin-top: 0;
        margin-left: 100px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .footer-in .footer-list>li {
        margin-right: 40px;
    }
    .footer-in .footer-list>li+li {
        margin-top: 0;
    }
    .footer-in .footer-list>li .flex {
        flex-wrap: wrap;
        width: 100px;
    }
    .footer-in .footer-list>li .tit {
        margin-bottom: 30px;
    }
    .footer-in .footer-list>li .list-item {
        padding: 0;
    }
    .footer-in .footer-list>li .list-item+.list-item {
        margin-top: 18px;
    }
    .footer-in .footer-list>li .address {
        display: block;
    }
    .footer-in .footer-list>li .address a {
        display: block;
        margin: 18px 0 0 0;
    }
    .footer-in .f-notice {
        order: 1;
        width: 333px;
        text-align: left;
        margin: 0 0 0 30px;
    }
    .footer-in .copyright {
        order: 2;
        margin: 60px 0 0 180px;
    }
    .sec-inner {
        padding: 0;
    }
    .top-title {
        position: relative;
    }
    .top-title h2 {
        font-size: 36px;
        font-weight: 700
    }
    .top-title p {
        font-size: 15px;
        margin-top: 40px
    }
    .top-title.tp02 {
        text-align: left;
    }
    .top-title.tp02 h2 {
        font-size: 36px;
    }
    .top-title.tp02 p {
        font-size: 15px;
        margin-top: 99px;
    }
    .top-title.tp02 .ct-img {
        position: absolute;
        z-index: -1;
    }
    .top-title.tp02 .ct-img01 {
        left: 307px;
        top: -200px;
        width: 1216px;
    }
    .top-title.tp02 .ct-img02 {
        right: 295px;
        top: -190px;
        width: 1227px;
    }
    .top-title.tp02 .ct-img03 {
        left: 280px;
        top: -200px;
        width: 1209px;
    }
    .top-title.reverse {
        padding-left: 770px;
    }
    .section {
        position: relative;
    }
    .ct01 {
        padding: 150px 0 190px;
    }
    .ct02 {
        padding: 160px 0 130px;
    }
    .ct03 {
        padding: 150px 0 180px;
    }
    .ct04 {
        padding: 120px 0;
    }
    .ct05 {
        padding: 80px 0 63px;
    }
    /* top-visual */
    .section.top-visual {
        height: 100vh;
        position: relative;
    }
    .section.top-visual .ct-inner h1 {
        text-align: left;
        padding-top: 0;
    }
    .section.top-visual .ct-inner h1 span.sub-txt {
        font-size: 15px;
        margin-top: 50px;
    }
    .section.top-visual .ct-inner h1 button {
        margin-top: 90px;
        padding: 20px 80px 20px 30px;
        background-size: 15px auto;
        background-position: right 25px center;
        transition: border-color 0.4s;
    }
    .section.top-visual .ct-inner h1 button span {
        font-size: 16px;
        transition: color 0.4s;
    }
    .section.top-visual .ct-inner h1 button:hover {
        border-color: #00c779;
    }
    .section.top-visual .ct-inner h1 button:hover span {
        color: #00c779;
    }
    .visual-item.vi01 {
        left: 10%;
        bottom: 11%;
        width: 12%;
    }
    .visual-item.vi02 {
        left: 5%;
        top: 0;
        width: 17%;
    }
    .visual-item.vi03 {
        left: 45%;
        top: 30%;
        width: 14%;
    }
    .visual-item.vi04 {
        left: 70%;
        bottom: 20%;
        width: 10%;
    }
    .visual-item.vi05 {
        right: 0;
        bottom: 40%;
        width: 12%;
        opacity: 0.4;
    }
    .visual-item.vi06 {
        right: 20%;
        top: 20%;
        width: 10%;
    }
    .visual-item.vi07 {
        right: 20%;
        top: -25%;
        width: 20%;
    }
    .visual-item.vi08 {
        right: -1%;
        top: 0;
        width: 3%;
    }
    .visual-item.vi09 {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        filter: blur(2px);
        -webkit-filter: blur(2px);
        background-color: rgba(9, 170, 15, 0.1);
        bottom: -4%;
        right: 50%;
    }
    .visual-item.vi10 {
        width: 154px;
        height: 154px;
        border-radius: 100%;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        background-color: rgba(255, 170, 15, 0.1);
        bottom: -5%;
        right: 47%;
    }
    .visual-item.vi11 {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        background-color: rgba(255, 170, 15, 0.2);
        top: 50%;
        left: -1%;
    }
    /* section-tab*/
    .sc-tab {
        flex-wrap: nowrap;
    }
    .sc-tab>li {
        width: 25%;
        background-size: 39px auto;
        background-position: right 30px bottom 30px;
    }
    .sc-tab>li+li:before,
    .sc-tab>li:nth-child(even):before {
        content: '';
        width: 1px;
        height: 110px;
        background-color: #eee;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -55px;
    }
    .sc-tab>li>a {
        height: 170px;
        padding: 40px 20px;
    }
    .sc-tab>li>a>span {
        font-size: 24px;
    }
    .sc-tab>li>a>span:after {
        padding: 4px;
        right: -1.8rem;
        margin-top: -0.3rem;
        border-width: 0 2px 2px 0;
    }
    /* section01*/
    .slide-wrap {
        width: 100%;
    }
    .sc-list {
        margin-top: 100px;
        flex-wrap: nowrap;
    }
    .sc-list li {
        margin-top: 0;
        width: 364px;
        max-width: 364px;
    }
    .sc-list li+li {
        margin-top: 0;
        margin-left: 23px;
    }
    .sc-list li .txt {
        padding: 120px 22px 40px;
    }
    .sc-list li .txt .tit {
        font-size: 20px;
    }
    .sc-list li .txt .cont {
        font-size: 15px;
    }
    .sc-list li .button-box {
        padding: 26px 23px;
    }
    .sc-list li .button-box a {
        font-size: 13px;
        background-size: 10px auto;
        transition: all 0.2s;
    }
    .sc-list li .button-box a:hover {
        border-color: #00c779;
        background-color: #00c779;
        background-image: url(https://reina.solutions/images/main_v2/ic-link-out-on.png);
        color: #fff;
    }
    .sc-list .sc-list01 .txt {
        background-size: 36px auto;
    }
    .sc-list .sc-list02 .txt {
        background-size: 50px auto;
    }
    .sc-list .sc-list03 .txt {
        background-size: 51px auto;
    }
    .sc-list.tp02 li {
        margin: 0;
    }
    .sc-list.tp02 li+li {
        margin-left: 23px;
    }
    .more-info p {
        font-size: 30px;
        line-height: 1.2
    }
    .more-info .btn-basic {
        font-size: 16px;
        padding: 1rem 1.7rem 0.9rem;
        margin-top: 30px;
    }
    .layer-pop-wrap {
        width: 480px;
        left: 50%;
        top: 50%;
        bottom: auto;
        border-radius: 10px;
        transform: translate(-50%, -50%) scale(0.7);
        transition: all 0.3s ease-out;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
        border: solid 1px #eeeeee;
    }
    .layer-pop.open .layer-pop-wrap {
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.3s ease-out;
    }
    .only-m {
        display: none;
    }
    .only-p {
        display: block;
    }
}

@media all and (min-width:1600px) {
    .section.top-visual .ct-inner h1 {
        font-size: 50px;
        line-height: 1.22;
    }
}

@media all and (max-width:360px) {
    html,
    body {
        font-size: 13px;
    }
}

.agree_box {
    margin: 20px 0px;
    border: 2px solid #d4d4d4;
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    font-size: 13px;
    line-height: 1.5em;
    font-family: 'NanumSquare';
}

.checklabel2 {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 14px;
    margin-right: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 12px;
    color: #0099cc;
}

.checklabel2:last-child {
    margin-right: 0;
}

.checklabel2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checklabel2 .checkmark {
    position: absolute;
    top: -3px;
    left: 1px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #09c
}

.checklabel2 input:checked~.checkmark {
    background-color: #fff;
    border: 1px solid #fff;
}

.checklabel2 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checklabel2 input:checked~.checkmark:after {
    display: block;
}

.checklabel2 .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #09c;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn_inquiry2 {
    position: relative;
    overflow: hidden;
    width: 35%;
    height: 50px;
    background: #5587a2;
    border-radius: 4px;
    font-family: 'NanumSquare';
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    z-index: 2;
    margin-left: 5px;
}

.input-container input.input_popup {
    height: 45px;
    margin-top: 5px;
    float: right;
    margin-bottom: 10px;
}

#captcha_img,
#captcha_img2 {
    width: 50%;
    max-width: 250px;
}