@charset "utf-8";
/* CSS Document */

/*sub_visual*/
.sub_visual {width:100%; height:270px; position: relative; overflow:hidden;} 
 
.sub_visual .visual_wrap { position:relative; margin:auto; display:block; height:270px; }
.sub_visual .visual_wrap > li { width:100%; height:100%; /*position: absolute; left: 0; top: 0;*/  }
.sub_visual .visual_wrap li.visual_01 { background:url(/images/s_vis01.jpg) no-repeat center; background-size:cover;}
.sub_visual .visual_wrap li.visual_02 { background:url(/images/s_vis02.jpg) no-repeat center; background-size:cover;}
.sub_visual .visual_wrap li.visual_03 { background:url(/images/s_vis03.jpg) no-repeat center; background-size:cover;}

.sub_visual .txt_box { position:relative; width:1200px; margin:auto; z-index:1;}
.sub_visual .txt_list > li { width:100%; position:absolute; left:0; top:80px; }
.sub_visual .txt_box .txt1 { font-size:50px; color:#fff; line-height:50px; font-weight:500; margin-bottom:30px}
.sub_visual .txt_box .txt2 { font-size:19px; color:#98aac1; line-height:26px }


/*ability 01*/
.s_abil01_pos { width:100%; position:relative; background:#f5f5f5;}
.s_abil01_pos .s_abil01_wrap { width:1200px; position:relative; margin:0 auto; text-align:center; padding:100px 0 120px 0;}
.s_abil01_pos .s_abil01_wrap .s_abil01 { background:url(/images/s_img02.jpg) no-repeat center top; padding:0 13px; margin-top:70px;}
.s_abil01_pos .s_abil01_wrap .s_abil01 li { float:left; font-weight:bold; font-size:20px; color:#333; width:170px; height:373px; margin-right:30px;}
.s_abil01_pos .s_abil01_wrap .s_abil01 li:last-child {margin:0;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .txt_t1 { font-size:20px; font-weight:bold; color:#333; margin-bottom:80px;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .txt_t2 { font-size:20px; font-weight:bold; color:#333; margin-bottom:20px; height:50px;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .txt_s { font-size:15px; color:#666666d1; line-height:150%; font-weight: 300;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .txt_num { font-size:22px; font-weight:normal; margin:42px 0 10px;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .num01 { color:#1a71c3;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .num02 { color:#2a99d3;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .num03 { color:#2ba4d1;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .num04 { color:#2cb1ce;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .num05 { color:#2db7cd;}
.s_abil01_pos .s_abil01_wrap .s_abil01 .num06 { color:#2dccca;}
.s_abil01_pos .s_abil01_wrap .s_abil01:after { content:""; display:block; clear:both;}

/*ability 02*/
.s_abil02_pos { width:100%; position:relative;}
.s_abil02_pos .s_abil02_wrap { width:100%; position:relative; margin:0 auto; text-align:center; padding:100px 0 120px 0;}
.s_abil02_pos .s_abil02_wrap .stepArea {width:1240px; margin:auto;}
.s_abil02_pos .s_abil02_wrap .stepArea .s_abil02 { background:url(/images/s_img03.jpg) no-repeat center top; padding:0 20px; margin-bottom:120px}
.s_abil02_pos .s_abil02_wrap .stepArea .s_abil02 li { float:left; font-weight:bold; font-size:20px; color:#333; width:180px; height:260px; margin-right:75px;}
.s_abil02_pos .s_abil02_wrap .stepArea .s_abil02 li:last-child {margin:0;}
.s_abil02_pos .s_abil02_wrap .stepArea .s_abil02 .txt_t1 { font-size:16px; color:#1278ba; margin-top:165px;}
.s_abil02_pos .s_abil02_wrap .stepArea .s_abil02 .txt_t1 span { font-size:18px; font-weight:bold;}
.s_abil02_pos .s_abil02_wrap .stepArea .s_abil02 .txt_t2{ color:#333; font-size:18px; margin-top:5px; }
.s_abil02_pos .s_abil02_wrap .stepArea .s_abil02:after { content:""; display:block; clear:both;}
.s_abil02_pos .s_abil02_wrap .imgArea { width:100%; background:url(/images/s_img04.jpg) no-repeat center top; height:90px; margin:0 auto 40px auto; padding-top:570px; }
.s_abil02_pos .s_abil02_wrap .check {text-align:left;width:1034px;margin:0 auto;font-size:18px;font-weight:300;letter-spacing: -1px;}
.s_abil02_pos .s_abil02_wrap .check p { display:inline; background:#1278ba url(/images/check_01.jpg) no-repeat 20px 4px; color:#fff; font-size:18px; border-radius:20px; padding:5px 25px 5px 40px; margin-right:15px; letter-spacing:0;}
.s_abil02_pos .s_abil02_wrap .check .txt_blue { color:#1278ba; font-weight:bold;}

/*ability 03*/
.s_abil03_pos { width:100%; position:relative; background:url(/images/s_img05.jpg) no-repeat center; background-size:cover; }
.s_abil03_pos .s_abil03_wrap { width:1200px; position:relative; margin:0 auto; text-align:center; padding:100px 0; }


.media_pos { width:100%; position:relative;margin-top:70px}
.media_pos .m_sec01_wrap { width:1200px; position:relative; margin:0 auto;}
.media_pos .m_sec01_wrap .m_sec01 { margin-bottom:120px;}
.media_pos .m_sec01_wrap .m_sec01 li { float:left; position:relative; width:399px; padding:30px 0 35px 0; border-right:1px solid #e6e6e6; text-align:center;}
.media_pos .m_sec01_wrap .m_sec01 li:last-child { width:400px; border-right:0;}
.media_pos .m_sec01_wrap .m_sec01:after { content:""; display:block; clear:both;}
.title_box { text-align:center; width:100%; margin-bottom:60px;}
.title_box2 { text-align:center; width:100%;}

/*myinface 01 */
.s_my_pos01 { width:100%; position:relative;}
.s_my_pos01 .s_my_wrap01 { width:1200px; position:relative; margin:0 auto; padding:100px 0 120px 0; font-size:16px;font-weight:300 }
.s_my_pos01 .s_my_wrap01 .s_my_pos { margin:40px 0 55px 0; }
.s_my_pos01 .s_my_wrap01 .s_my_pos li {height:52px;width:151px; float:left; text-align:center; color:#fff; font-size:16px; padding:15px 0; background:#b2bdca; margin-left:-1px; border:1px solid #92a1b2; box-sizing:border-box; cursor:pointer; }
.s_my_pos01 .s_my_wrap01 .s_my_pos li.on { color:#2b92d5; background:#fff; border:1px solid #2b92d5;font-weight:500 }
.s_my_pos01 .s_my_wrap01 .s_my_pos:after { content:""; display:block; clear:both;}
.s_my_pos01 .s_my_wrap01 .s_my_pos li span.cnt {font-size:13px;letter-spacing:1px;color:#fff;font-family:'맑은 고딕';vertical-align: middle;margin-top: -5px; display: inline-block;}
.s_my_pos01 .s_my_wrap01 .s_my_pos li.on span.cnt {font-size:13px;letter-spacing:1px;color:#ff3300;font-family:'맑은 고딕';vertical-align: middle;margin-top: -5px; display: inline-block;}


/*study 01 */
.s_std01_pos { width:100%; position:relative;}
.s_std01_pos .s_std01_wrap { width:1200px; position:relative; margin:0 auto; text-align:center; padding:100px 0 120px 0;}

/*study 02 */
.s_std02_pos { width:100%; position:relative; background:url(/images/s_img06.jpg) no-repeat center; background-size:cover; }
.s_std02_pos .s_std02_wrap { position:relative; width:1200px; margin:0 auto; text-align:center; padding:100px 0; }
.s_std02_pos .s_std02_wrap .check { text-align:left;width:1034px;margin:0 auto; font-size:18px; color:#0f2f44 ;letter-spacing: -1px;}
.s_std02_pos .s_std02_wrap .check p { display:inline; background:#0f2f44 url(/images/check_02.jpg) no-repeat 20px 4px; color:#6bbbee; font-size:18px; border-radius:20px; padding:5px 25px 5px 40px; margin-right:15px; letter-spacing:0;}

/*study 03 */
.s_std03_pos { width:100%; position:relative; background:url(/images/s_img07.jpg) no-repeat center; background-size:cover; }
.s_std03_pos .s_std03_wrap { width:100%; position:relative; background:url(/images/s_img08.png) no-repeat bottom; margin:0 auto; text-align:center; padding-top:100px; }
.s_std03_pos .s_std03_wrap .padArea { width:1200px; margin:70px auto 0 auto; padding-top:100px;}
.s_std03_pos .s_std03_wrap .padArea ul { margin:0 60px; }
.s_std03_pos .s_std03_wrap .padArea ul li { float:left; padding:170px 0 100px 0; position:relative; width:360px; text-align:center;} 
.s_std03_pos .s_std03_wrap .padArea ul li.ic01 { background:url(/images/m_sec1_01.jpg) no-repeat center top;}
.s_std03_pos .s_std03_wrap .padArea ul li.ic02 { background:url(/images/m_sec1_02.jpg) no-repeat center top;}
.s_std03_pos .s_std03_wrap .padArea ul li.ic03 { background:url(/images/m_sec1_03.jpg) no-repeat center top;}
.s_std03_pos .s_std03_wrap .padArea ul:after { content:""; display:block; clear:both;}

/*study 04 */
.s_std04_pos { width:100%; position:relative;}
.s_std04_pos .s_std04_wrap { width:1200px; position:relative; margin:0 auto; text-align:center; padding:100px 0; }
.s_std04_pos .s_std04_wrap .s_std04 { padding-top:50px; }
.s_std04_pos .s_std04_wrap .s_std04 li { display:table; width:600px; float:left; text-align:left; font-size:14px; margin-bottom:15px;}
.s_std04_pos .s_std04_wrap .s_std04 li img { float:left; }
.s_std04_pos .s_std04_wrap .s_std04 li p { float:left; font-size:16px; color:#555; line-height:160%}
.s_std04_pos .s_std04_wrap .s_std04 li p.line1 { padding:42px 0 0 10px;}
.s_std04_pos .s_std04_wrap .s_std04 li p.line2 { padding:28px 0 0 10px;}
.s_std04_pos .s_std04_wrap .s_std04:after { content:""; display:block; clear:both;}

/*study 06 */
.s_std06_pos { width:100%; position:relative;}
.s_std06_pos .s_std06_wrap { width:100%; height:780px; position:relative; margin:0 auto; background:#f5f5f5 url(/images/m_sec4_01.png) no-repeat center ;}


.m_sec04_pos { width:100%; position:relative; background-color:#f5f5f5;}
.m_sec04_pos .m_sec04_wrap {width:1600px; height:780px; position:relative; margin:0 auto; }/*background:#f5f5f5 url(/images/m_sec4_01.png) no-repeat center ;*/
.m_sec04_pos .m_sec04_wrap .layout04{width:1500px;margin:0 auto;position:relative;}
.m_sec04_pos .m_sec04_wrap div.main{position:absolute;border:1px solid #ebebeb;background-size:cover;box-shadow:0px 4px 12px 2px #9a9a9a;transition: all 0.3s;}
.m_sec04_pos .m_sec04_wrap div.main:hover{z-index:999;background-size:contain;background-color:#FFFFFF;transition: all 0.6s;box-shadow:0px 4px 22px 3px #464646 !important;}
.m_sec04_pos .m_sec04_wrap .sample1{top:50px;left:0px;width:400px;height:300px;background:#f5f5f5 url(/images/sample/sample8.png) no-repeat center ;}
.m_sec04_pos .m_sec04_wrap .sample1:hover{width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample2{top:40px;left:450px;width:340px;height:230px;background:#f5f5f5 url(/images/sample/sample2.png) no-repeat center;box-shadow:0px 0px 3px 1px #9a9a9a !important}
.m_sec04_pos .m_sec04_wrap .sample2:hover{left:400px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample3{top:-10px;left:840px;width:420px;height:320px;background:#f5f5f5 url(/images/sample/sample3.png) no-repeat center}
.m_sec04_pos .m_sec04_wrap .sample3:hover{left:540px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample4{top:60px;left:1300px;width:220px;height:180px;background:#f5f5f5 url(/images/sample/sample9.png) no-repeat center ;box-shadow:0px 0px 3px 1px #9a9a9a !important}
.m_sec04_pos .m_sec04_wrap .sample4:hover{left:660px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample5{top:420px;left:20px;width:330px;height:260px;background:#f5f5f5 url(/images/sample/sample5.png) no-repeat center}
.m_sec04_pos .m_sec04_wrap .sample5:hover{top:180px;left:0px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample6{top:350px;left:440px;width:540px;height:380px;background:#f5f5f5 url(/images/sample/sample1.png) no-repeat center}
.m_sec04_pos .m_sec04_wrap .sample6:hover{top:200px;left:300px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample7{top:380px;left:1030px;width:380px;height:200px;background:#f5f5f5 url(/images/sample/sample7.png) no-repeat center ;box-shadow:0px 0px 3px 1px #9a9a9a !important}
.m_sec04_pos .m_sec04_wrap .sample7:hover{top:200px;left:600px;width:860px;height:550px}
.m_sec04_pos .m_sec04_wrap .sample8{top:610px;left:1150px;width:220px;height:130px;background:#f5f5f5 url(/images/sample/sample10.png) no-repeat center ;box-shadow:0px 0px 3px 1px #9a9a9a !important}
.m_sec04_pos .m_sec04_wrap .sample8:hover{top:200px;left:600px;width:860px;height:550px}



.m_sec04_1_pos { width:100%; position:relative; background-color:#ffffff;}
.m_sec04_1_pos .m_sec04_1_wrap {width:1320px;margin:0 auto;text-align:center;position:relative; margin:0 auto;padding:80px 0px 140px 0px}
.m_sec04_1_pos .m_sec04_1_wrap img{padding:3px;position:relative;}

.m_sec04_1_pos .m_sec04_1_wrap img#blur1
,.m_sec04_1_pos .m_sec04_1_wrap img#blur2
,.m_sec04_1_pos .m_sec04_1_wrap img#blur3
,.m_sec04_1_pos .m_sec04_1_wrap img#blur4
,.m_sec04_1_pos .m_sec04_1_wrap img#blur5
,.m_sec04_1_pos .m_sec04_1_wrap img#blur6
,.m_sec04_1_pos .m_sec04_1_wrap img#blur7
,.m_sec04_1_pos .m_sec04_1_wrap img#blur8
{transition: 2s all;opacity: 0.5;}

.m_sec04_1_pos .m_sec04_1_wrap img.p3_2{padding:3px 2px}
.m_sec04_1_pos .m_sec04_1_wrap img.bar{width:15px;height:158px;padding:3px 0px}

.blur{
		/*-webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px);*/

		opacity: 1.0 !important;
		box-shadow:0px 12px 34px 2px #000000;	
		/*
		height:185px;
		position:absolute !important;
		*/
		left:0px;top:0px;
}


/*study 07 */
.s_std07_pos { width:100%; position:relative;}
.s_std07_pos .s_std07_wrap { width:100%; position:relative; background:url(/images/s_img09.jpg) no-repeat center; background-size:cover; margin:0 auto; text-align:center; padding:100px 0; }


/* 공통 */ 
.txt_wrap { width:1200px; margin:auto; }
.txt_stit { font-size:42px; text-align:center; font-weight:bold; color:#333; letter-spacing:-0.08em; margin-bottom:40px; padding-bottom:20px; background:url(/images/stit_bg.jpg) center bottom no-repeat; }
.txt_stit2 { font-size:45px; text-align:center; font-weight:bold; color:#333; margin-bottom:70px; }
.txt_stit2:before { content:""; display:inline-block; width:120px; height:1px; background:#2b92d5; vertical-align:top; margin:30px 35px 0 0;}
.txt_stit2:after { content:""; display:inline-block; width:120px; height:1px; background:#2b92d5; vertical-align:top; margin:30px 0 0 35px;}
.txt_stit_wh { font-size:42px; text-align:center; font-weight:700; color:#fff; letter-spacing:-0.08em; margin-bottom:40px; padding-bottom:20px; background:url(/images/stit_wh_bg.jpg) center bottom no-repeat; }
.txt_ssub { font-size:18px; text-align:center; line-height:160%; color:#666; letter-spacing:-0.05em; margin-bottom:80px;font-weight:300}
.txt_ssub_st1 { font-size:25px; text-align:center; line-height:160%; color:#333; letter-spacing:-0.05em; margin-bottom:20px;}
.txt_ssub_st2 { font-size:20px; text-align:center; line-height:160%; color:#666; letter-spacing:-0.05em; margin-bottom:30px;}
.txt_border { font-size:18px; color:#666; border:1px solid #c1c1c1; padding:5px 15px; display:inline-block; margin-top:20px;}
.btnArea { width:1200px; text-align:center;  margin:auto; }
.btnArea2 { width:1200px; text-align:center; margin:auto; padding:40px 0 50px 0; }
.button { display:inline-block; margin:auto; text-align:center; font-weight:bold;}
.button:hover{box-shadow:0px 1px 5px 0px #857a7c;transition: all 0.3s;}
.aiStart { background:#2a93d4 url(/images/btn_arr.png) no-repeat 305px 23px; color:#fff; width:280px; font-size:26px; padding:25px 60px 25px 30px;}
.sampleView { background:url(/images/btn_arr.jpg) no-repeat 280px 23px; border:1px solid #999; color:#333; width:200px; font-size:26px; padding:25px 100px 25px 70px;}
.aiGame { background:url(/images/btn_arr.jpg) no-repeat 280px 23px; border:1px solid #999; color:#333; width:200px; font-size:26px; padding:25px 100px 25px 70px;}
.btBasic { background:url(/images/btn_arr.png) no-repeat 280px 23px; border:1px solid #fff; color:#fff; width:200px; font-size:26px; padding:25px 100px 25px 70px;}
.btBasic:hover{box-shadow:0px 1px 10px 2px #264d73;transition: all 0.3s;}



/*---section6_에듀스TV---*/

.sec6 { position:relative; width:1200px; margin:0 auto;}


.sec6_wrap { background:#fff; padding:60px 0 10px;margin-bottom:0px;padding-bottom:100px;overflow:hidden}
.etv_wrap ul,.etv_wrap h2{clear:both}
.etv_wrap h2{font-size:20px;font-weight:700;color:#ff9900;border-bottom:1px solid #ffa41a;display:block;margin-bottom:30px;line-height:45px;}
.etv_wrap h2 span.bl{color:#000000}
.etv_wrap { position:relative; }
.etv_wrap li { position:relative; float:left; background:#fff; margin-right:34px;padding-right:34px; width:247px;margin-bottom:60px;border-right:1px dotted #afafaf;min-height:280px}

.etv_wrap li div.popupVideo {display:inline-block;border:1px solid #d2d2d2;padding:0px;text-decoration: none;transition: all 0.5s;min-width: 245px; }
.etv_wrap li div.popupVideo:hover {transition: all 0.5s;border:1px solid #d2d2d2; box-shadow: 0px 4px 20px 0px #918888; text-decoration: none;}
.etv_wrap li div.popupVideo:hover dl dt{text-decoration:none}
.etv_wrap li div.popupVideo:hover dl dd{text-decoration:none}
.etv_wrap li div.popupVideo:hover .bt_play{background-size:15px;transition: all 0.5s;}
.etv_wrap li div.popupVideo:hover .bt_youtube{opacity:1;background-size:70px;transition: all 0.5s;}
.etv_wrap li .bt_youtube { position:absolute; left:90px; top:36px; width:64px; height:64px; z-index:555; background:url(/images/icon/youtube_icon64.png) center no-repeat ;opacity:0.7;transition: all 0.5s; }


.etv_wrap li a:a dl dt{transition: all 0.5s}

.etv_wrap li a h3{font-size:15px;font-weight:500;color:#000000;display:block;line-height:40px;margin-left:12px}
.etv_wrap li a h3 span{float:right;margin-right:10px;font-size:13px;font-weight:300;color:#939393}

.etv_wrap li img.thum{border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;max-height:138px}

.etv_wrap li div.popupVideo .etv_thum { position:relative; width:100%;height:139px}
.etv_wrap li div.popupVideo dl{padding:10px 10px;}
.etv_wrap li div.popupVideo dl dt.etv_mtit {color:#333;margin-bottom:8px;display:block;text-decoration:none;}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t1{font-weight:600;font-size:13px;display:inline-block;width:48px;letter-spacing:-0.5px;text-align:right;margin-right:4px}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t1_1{font-weight:600;font-size:13px;display:inline-block;width:70px;letter-spacing:-0.5px;text-align:left;}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t1_1 img{vertical-align:middle;width:10px;margin-top:-4px;margin-left:2px}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t2{font-weight:600;font-size:12px;display:inline-block;width:43px;letter-spacing:-0.5px;text-align:right}
.etv_wrap li div.popupVideo dl dt.etv_mtit span.t3{font-weight:600;font-size:13px;display:inline-block;width:42px;letter-spacing:-0.5px;text-align:right}

.etv_wrap li div.popupVideo dl dt.etv_mtit2 {border-top:1px solid #e7e7e7;color:#333;margin-bottom:8px;padding-top:8px;display:block;text-decoration:none;}
.etv_wrap li div.popupVideo dl dt.etv_mtit2 span.t1{font-weight:600;font-size:12px;display:inline-block;width:48px;letter-spacing:-0.5px;text-align:right;margin-right:4px}
.etv_wrap li div.popupVideo dl dt.etv_mtit2 span.t2{font-weight:600;font-size:13px;display:inline-block;width:70px;letter-spacing:-0.5px;text-align:left;color:#ff6600}
.etv_wrap li div.popupVideo dl dt.etv_mtit2 span.t3{font-weight:600;font-size:12px;display:inline-block;width:43px;letter-spacing:-0.5px;text-align:right;}
.etv_wrap li div.popupVideo dl dt.etv_mtit2 span.t4{font-weight:600;font-size:13px;display:inline-block;width:42px;letter-spacing:-0.5px;text-align:right;color:#ff6600}

.etv_wrap li div.popupVideo dl dt.etv_mtit span.orange {margin-left:5px;color:#ff6600;font-weight:bold;font-size:13px;letter-spacing:-1.5px;font-family:맑은 고딕}
.etv_wrap li div.popupVideo dl dd.etv_count{font-weight:600;margin:4px 0px 2px 0px;padding-top:6px;;border-top:1px solid #e7e7e7;display:block;text-decoration:none;}
.etv_wrap li div.popupVideo dl dd.etv_count span.t1{cursor:pointer;font-weight:600;font-size:13px;display:inline-block;width:210px;letter-spacing:-1.5px;text-align:right}

.etv_wrap li .bt_play { position:absolute; left:74px; top:36px; width:41px; height:41px; z-index:555; background:rgba(43, 180, 218, 0.8) url(/images/icon/bt_play_arr.png) center no-repeat; border-radius:50%;}







.etv_wrap li:nth-child(4n+0){ margin-right:0;padding-right:0px;border-right:0px }

.etv_wrap li div.help{padding-left:2px;background:url(/images/icon/quick.gif) no-repeat 3px 15px;padding-top:40px;font-size:13px;color:#6d6d6d ;font-weight:400;font-family:'Noto Sans KR'}

.game_tip{padding:20px}
.game_tip table{width:100%;border-top:3px solid #e6ecf7;;border-bottom:0px solid #e6ecf7;}

.game_tip table th{padding:10px;font-weight:700;background-color: rgba(0, 4, 25, 0.45);}
.game_tip table td{padding:5px 10px;font-weight:400;border-top:1px; background-color: rgba(0, 4, 25, 0.15);font-size:12px;font-weight:300}
.game_tip table td.center,.game_tip table th.center{text-align:center}

.desc_top {
	display:block;
	width:95%;	
	padding: 10px 35px 8px 35px;
	background-color: rgba(0, 4, 25, 0.25);
	border-radius: 35px;
	font-family: 'NanumSquare';
	font-size: 18px;
	font-weight: 600;
	margin:0 auto;	
	text-align:center;
}

.tip_write{text-align:center;padding-top:10px}
.tip_write a{color:#ffffff;font-size:20px;font-weight:400;line-height:22px}
.tip_write a img{height:24px;vertical-align:middle;margin-top:-7px;margin-right:3px}

.tip_write a:nth-child(1){background-color: rgba(0, 4, 25, 0.25);padding:5px 15px 8px 15px;border-radius:15px}
.tip_write a:nth-child(2){background-color: rgba(0, 4, 25, 0.25);padding:5px 15px 8px 15px;border-radius:15px;margin-left:15px}

.game_tip_write{padding:20px;display:none}
.game_tip_write h3{margin-bottom:10px}
.game_tip_write #title{width:100%;height:150px;padding:10px}
#tip_close{display:none}
#tip_close img{width:16px;height:16px;margin-top:-3px}

#game_sel{height:26px;margin-bottom:10px;width:100%}

.nobr{text-overflow:ellipsis;overflow: hidden;display : -webkit-box;-webkit-line-clamp : 1;height:22px;line-height:20px;-webkit-box-orient: vertical;}
.nobr.zoom{cursor:zoom-in}
.nobr.zoom_in{cursor:zoom-out;overflow:visible;background-color: rgba(0, 4, 25, 0.25);padding:10px;;-webkit-line-clamp: unset;height:unset}

.game_tip ul.cate{margin-bottom:10px}
.game_tip ul li{float:left;padding:3px 10px 5px 10px;background-color: rgba(0, 4, 25, 0.25);border-radius: 25px;margin-bottom:10px;margin-right:7px;font-size:11px}
.game_tip ul li.on{background-color: rgba(0, 4, 25, 0.55);font-weight:700;}

.game_tip ul li a{color:#ffffff}

