
body{background-color:#575e6d;margin:0px}


body, html {height: unset;font-family: 'Montserrat', 'Pretendard', 'Malgun Gothic', '맑은고딕', gulim, '굴림', dotum, '돋움', AppleGothic, sans-serif;
  font-size: 16px;
  color: #333333;}


#wrapper{width:740px;margin:0 auto;background-color:#fff;margin-top:50px;margin-bottom:120px;border-radius: 20px;}
*{padding:0;margin:0;font-size:13px;outline:none;font-size:11px}
.item{clear: both;padding-bottom:20px;padding-top:20px;margin-bottom:10px;border-bottom:1px dotted #ccc;}
.item dt{padding-bottom:5px;font-weight:bold;vertical-align: middle;}
.item dt span{color:#8e8e8e;font-size:16px;font-weight:500}
.item dd{line-height:150%;}
textarea{    width: 97%;
    height: 60px;
    outline: none;
    border: 1px solid #dededd;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;background-color:#fffef5;
    line-height: 20px;border-radius: 5px;}
.btn{text-align:center;padding: 20px 0px;}
.survey span{font-size:13px}


li{list-style: none;}

.item.fl{overflow:hidden;width: 100%;}
.item.fl dd{float:left}

.item.disabled{opacity:0.40}
.item dt span.ask_sub,.items dt span.ask_sub{color:#838383;margin-right:5px;display:inline-block;}

.multi{letter-spacing:-1px;color:#838383;margin-left:5px;display:inline-block;font-size:13px !important}

.items li.text{ 
    border: 1px solid #d2d2d2;
    padding:8px 10px;
    line-height: 20px;
    font-size: 12px;
    margin: 5px 10px 15px 20px;
    background-color: #fbfbfb;
    box-sizing: border-box;
    word-break: keep-all;border-radius:5px
}

.item.desc{border-bottom: 0px; padding: 10px 10px 0px 10px; border: 1px solid #e0e8ed; background-color: #f4fafb; border-radius: 10px;}
.item.desc.basic{    font-size: 14px;
    font-weight: 500;
    color: #5f7992;
    line-height: 22px;
    padding: 10px 15px;}
.item.desc.first{margin-top:0px}
.item.desc dt{    font-size: 14px;
    font-weight: 500;
    color:#5f7992;line-height:22px}

input[type=radio],input[type=checkbox]{vertical-align:middle;margin-top:-1.5px}
input[type=text]{vertical-align:middle;border:1px solid #afafaf;padding:0px 10px;line-height:12px;vertical-align:middle;border-radius: 5px;background-color: #fffef5;}

select{vertical-align:middle;border:1px solid #afafaf;padding:2px;line-height:12px;vertical-align:middle}
.btn_univ {padding:6px 18px 8px 18px; display:inline-block; color:#FFF; background-color:#01a8cc;font-weight:500; font-size:17px;line-height:22px;letter-spacing:-1px;
/* A semi-transparent text shadow */
		
	/* Overriding the default underline styling of the links */
	text-decoration:none !important;
	white-space:nowrap;	
	display:inline-block;
	vertical-align:baseline;
	cursor:pointer;

	
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;
	
	/* Applying a default border raidus of 2px */
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
	border:1px solid #01a8cc
}
.btn_univ span{font-size:12px;color:#eeeeee}

.btn_univ:hover { background:#02b4db;box-shadow:0px 2px 8px #544e4f;transition: all 0.5s}


.red {color:#ff0000}
.green{color:#009966}
/* Not-Found */
.not_found{padding:20px 40px;box-shadow:0px 0px 15px -1px #000000}
.not_found dt{font-size:15px; line-height:25px; padding-bottom:10px;font-weight:500;color:#393939;}
.not_found dd{font-size:13px;margin-left:12px;color:#000000}
.survey strong{font-size:15px;font-weight:700;color:#393939;vertical-align:middle}
.survey label{font-size:14px;font-weight:400;color:#393939;vertical-align:middle;line-height:25px;padding:3px 0px;display: inline-block;}

ul.item{padding-bottom:20px;padding-top:20px;margin-bottom:10px;border-bottom:1px dotted #ccc;}
ul.item li{padding:4px 5px 4px 0px;margin-left:20px}

ul.item li label{padding-right:8px}
ul.item li strong{padding-right:8px}


input[type="radio"],input[type="checkbox"]  {
    display:inline-block !important;
}

.bt_write{    cursor: pointer;    border-radius: 5px;
    display: inline-block;
    width: 150px;
    padding: 0px 10px;
    background-color: #6c8eaf;
    color: #fff;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.4s;
    border: 1px solid #637b92;
}
.bt_write:hover{box-shadow:1px 3px 8px -4px #707070;background-color:#507294;   transition: all 0.4s}
.text{width:97%}

.textarea{width:97%;height:60px}

.textarea_after{width:97%;height:120px}
.clear_both{clear:both}
.pt20{padding-top:20px}
.done{border:1px solid #c0c0c0;display:inline-block;width:150px;padding:5px 10px;background-color:#dfdfdf;color:#8b8b8b;height:42px}

.survey_input{width:97%;border:1px solid #d2d2d2 !important}

.survey .title{padding:30px 0px}
.survey .title img{vertical-align:middle;margin-top:-2px}
.survey .title .logo_txt{display:inline-block;vertical-align:middle;font-size:21px;font-weight:600;color:#6c8eaf;margin-left:20px;line-height:21px;}
.survey .title_memo{padding:10px;font-size:13px;font-weight:300;color:#637c92;border:1px solid #aec5d2;background-color:#f4fafb}
.survey .items{padding-bottom:20px;padding-top:20px;    overflow: hidden;border-bottom:1px dotted #ccc;clear: both;}
.survey .items dt span{color:#8e8e8e;font-size:17px;font-weight:500;}
.survey .items.first{border-top:0px}
.survey .items.second{border-top:0px;margin-left:20px}

.survey .items_left{float:left;width:40%;vertical-align:top}
.survey .items_right{float:left;width:60%;}
.survey .items_left ul{padding:5px 0px 10px 10px}
.survey .items_left ul li{overflow: hidden}
.survey .items_left ul li span{line-height:16px;font-size:13px;color:#4f4f4f;padding-right:10px;    display: inline-block;;margin:5px 0px}
.survey .items_left ul li label.num{line-height:16px;font-size:12px;color:#9b9b9b}
.survey .items_left ul li span:first-child{float:left;width:60%;line-height:16px;}
.survey .items_left ul li span:last-child{text-align:right;width:30%;line-height:16px;}

input{height:30px}

.btn_normal{height: 26px;line-height: 24px;display:inline-block;vertical-align:middle;box-shadow:1px 1px 2px 0px #dddddd;border-radius:0px;cursor:pointer;font-size:13px;padding:0px 10px 0px 10px;font-weight:200;transition: all 0.3s; outline: none;transition: all 0.3s;opacity:0.80}
.btn_normal:hover{transition: all 0.3s;opacity:1;box-shadow: 0px 1px 6px 0px #a8a8a8;}

.btn_normal.save{background-color:#ffffff;color:#298cc7 !important;border:1px solid #298cc7;font-size:12px;padding:0px 4px;height: 22px;line-height: 22px;}
.btn_normal.remove{background-color:#ffffff;color:#ff0000 !important;border:1px solid #ff0000;font-size:12px;padding:0px 4px;height: 22px;line-height: 22px;}
.btn_normal.close{background-color:#ffffff;color:#767070 !important;border:1px solid #a49f9f;font-size:12px;padding:0px 4px;height: 22px;line-height: 22px;}

.btn_normal.edit-small{    color: #59acd0;
    border: 1px solid #66b4d4;
    font-size: 11px;
    background: #fff url(/images/admin/icon_viewbn.png) 5px center no-repeat;
    padding: 0px 5px 0px 20px;
    background-size: 12px;
    height: 20px;
    line-height: 17px;
    margin-left: 6px;}

.edit-view{    cursor: pointer;
    display: none;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
    margin-top: -3px;}

.edit-check:hover img.edit-view{display:inline-block}



input[type="radio"]{display:inline-block;position:relative;}
input[type="radio"]~label{display:inline-block;min-height:20px;font-size:14px;position:relative;padding-left:34px;cursor:pointer;margin-top:2px}
input[type="radio"]~label:before{content:'';position:absolute;top:4px;left:0;width:24px;height:24px;border-radius:100%;box-sizing:border-box;background-color:#fff;border:1px solid #ddd;}
input[type="radio"]~label:after{content:'';position:absolute;width:12px;height:12px;border-radius:100%;left:6px;top:9.5px;}
input[type="radio"]{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
input[type="radio"]:checked + label:before{background:#00A4FF;border-color:#00A4FF;}
input[type="radio"]:checked + label:after{background-color:#fff;}


input[type="checkbox"]{display:inline-block;position:relative;}
input[type="checkbox"]~label{vertical-align: middle;display:inline-block;position:relative;padding-left:31px;cursor:pointer;min-width:24px;min-height:26px;line-height:26px;font-size:14px;color:#000;}
input[type="checkbox"]~label:before{content:'';position:absolute;top:4px;left:0;width:24px;height:24px;border-radius:100%;box-sizing:border-box;border:1px solid #cacece;background: #fbfbfb;}
input[type="checkbox"]{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
input[type="checkbox"]:checked + label:before{background:url(/images/icon/ic-check-on.svg) no-repeat;border:0;} 
input[type="checkbox"]:disabled + label{color:#c4c7cd;}
input[type="checkbox"].check-all{margin-top:-1px;}
input[type="checkbox"].check-all label{background-color:#E7EDF4;border:1px solid #E7EDF4 !important;white-space:nowrap;}


.scroll-css::-webkit-scrollbar {
	width:6px;height:12px
  }
  .scroll-css::-webkit-scrollbar-track {
	  background-color: #fafafa;
	  border-left: 1px solid #f8f8f8;
	  border-radius: 6px;
  }
  .scroll-css::-webkit-scrollbar-thumb {
		border-radius: 6px;
	  background-color: #ced5e5;
  }
  .scroll-css::-webkit-scrollbar-button {
	width: 0;
	height: 0;
  }