
.pop-wrap.jobpart{position:absolute;top:0px;left:0px;z-index:9999;background-color:#fff;width:100%;display:none}


.pop-wrap .pop-header{background-color:#46b2e5}
.pop-wrap .pop-header h2{;color:#fff;line-height:50px;padding-left:20px;font-size:20px}
.pop-wrap .find-job-wrap{display:flex;height:800px;}
.pop-wrap .find-job-wrap .left-box{width:260px;overflow:hidden;overflow-y:auto;}
.pop-wrap ::-webkit-scrollbar{width:5px;}
.pop-wrap ::-webkit-scrollbar-thumb{background-color:#DFDFDF;border-radius:10px;background-clip:padding-box;}
.pop-wrap ::-webkit-scrollbar-track{background-color:#fff;border-radius:10px;}
.pop-wrap .find-job-wrap .right-box{width:calc(100% - 270px);border-left:1px solid #DFDFDF;display:flex;flex-direction:column;padding-bottom:30px;}
.pop-wrap .find-job-wrap .right-box .btn{margin-top:auto;margin-left:auto;}
.pop-wrap .find-job-wrap .find-job-list li a{position:relative;display:block;line-height:32px;padding:0 30px 0px 40px;font-size:14px;font-weight:500;}
.pop-wrap .find-job-wrap .find-job-list li a.big{font-size:15px;margin-left:-10px;border-bottom:1px solid #fff;border-top:1px solid #fff}
.pop-wrap .find-job-wrap .find-job-list li a:after{content:'';position:absolute;right:15px;top:50%;margin-top:-14px;width:28px;height:28px;background:url(/images/icon/ic-select.svg)no-repeat;}
.pop-wrap .find-job-wrap .find-job-list li a .num{position:absolute;top:50%;margin-top:-10px;right:20px;width:20px;height:20px;border-radius:100%;background-color:#73b1e5;color:#fff;font-size:13px;font-weight:700;line-height:20px;text-align:center;}
.pop-wrap .find-job-wrap .find-job-list > li:hover > a{background-color:#F5F6FF;border-bottom:1px solid #e8e9ff;border-top:1px solid #e8e9ff}
.pop-wrap .find-job-wrap .find-job-list > li:hover > a .num{background:#fff;color:#73b1e5;}
.pop-wrap .find-job-wrap .find-job-list > li.active > a{color:#73b1e5;font-weight:700;background-color:#fff;border-bottom:1px solid #e8e9ff;border-top:1px solid #e8e9ff}


.pop-wrap .find-job-wrap .find-job-list > li.active a:after{transform:rotate(-180deg);}
.pop-wrap .find-job-wrap .find-sub-list{display:none;border-bottom: 1px solid #e8e9ff;}
.pop-wrap .find-job-wrap .find-sub-list li a{background-color:#f6fafd}
.pop-wrap .find-job-wrap .find-sub-list li a:after{content:none;}
.pop-wrap .find-job-wrap .find-sub-list li:hover a, 
.pop-wrap .find-job-wrap .find-sub-list li.active a{background-color:#73b1e5;color:#fff;font-weight:700;}
.pop-wrap .find-job-wrap .find-sub-list li.active a:before{content:'';position:absolute;top:0;right:-60px;width:60px;height:100%;background:url(/images/icon/menu-back.png)no-repeat;}
.pop-wrap .find-job-wrap .find-sub-list li:hover a .num,
.pop-wrap .find-job-wrap .find-sub-list li.active a .num{background:#fff;color:#73b1e5;}
.pop-wrap .job-list-wrap .job-list{display:flex;flex-wrap:wrap;padding:15px 0; animation: fadein 0.3s;
  -moz-animation: fadein 0.3s; /* Firefox */
  -webkit-animation: fadein 0.3s; /* Safari and Chrome */
  -o-animation: fadein 0.3s; /}
.pop-wrap .job-list-wrap .job-list.dis-none{display:none;}
.pop-wrap .job-list-wrap .job-list li{width:calc(100% /3);}
.pop-wrap .job-list-wrap .job-list li a{display:block;padding:8px 0 8px 25px;font-size:14px;cursor:pointer}
.pop-wrap .job-list-wrap .job-list li a .txt{position:relative;}
.pop-wrap .job-list-wrap .job-list li a .point{display:inline-block;margin-left:5px;color:#73b1e5;letter-spacing: 1.5px;font-size: 12px;font-weight: 500;}
.pop-wrap .job-list-wrap .job-list li:hover a{color:#FF5F5F;}
.pop-wrap .job-list-wrap .job-list li:hover a .point{color:#FF5F5F;}
.pop-wrap .job-list-wrap .job-list li.active a,
.pop-wrap .job-list-wrap .job-list li.active a .point{color:#FF5F5F;font-weight:700;}
.pop-wrap .job-list-wrap .job-list li.active a .txt:after{content: '';position: absolute;right: -20px;background: url(/images/icon/ic-check-red.svg) no-repeat;width: 14px;height: 14px;margin-left: 5px;margin-top: 2px;}
.pop-wrap .find-item-wrap{display:flex;flex-wrap:wrap;padding-bottom:30px;}
.pop-wrap .find-item-wrap .find-item-list{width:100%;padding:0px 15px 15px 20px;box-sizing:border-box;}
.pop-wrap .find-item-wrap .find-item-list + .find-item-list{border-left:1px solid #DFDFDF;}
.pop-wrap .find-item-wrap .find-item-list li{padding:15px 12px 10px 15px;width: 33%;display: inline-block;border-right: 1px solid #d9d9d9;box-sizing: border-box;}
.pop-wrap .find-item-wrap .find-item-list li:nth-child(3n-2){padding-left:0px}
.pop-wrap .find-item-wrap .find-item-list li:nth-child(3n){border-right:0px;padding-right:5px}

.pop-wrap .find-item-wrap .find-item-list li .radio-box label{font-size:15px;font-weight:700;}
.pop-wrap .find-item-wrap .find-item-list li .radio-box label span{display:block;font-size:12px;margin-top:5px;font-weight:400;}
.pop-wrap .find-item-wrap .find-item-list li .radio-box label:before{top:50%;margin-top:-12px;}
.pop-wrap .find-item-wrap .find-item-list li .radio-box label:after{top:50%;margin-top:-6px}
.pop-wrap .find-item-wrap .find-item-list li .radio-box input[type="radio"]:checked + label{color:#73b1e5;}
.pop-wrap .find-item-wrap .btn{margin:auto;}

.close.ic-pop-close{    background: url(/images/button/icon_close1.png) center center no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 5px;
    top: 3px;cursor:pointer }