@charset "utf-8";
/* ---------------------------------------------------
 2014년 02월 18일 AFS
 Style Markup ver1.0 2014-02-18
 공통사용 정의 - AFS공통 마크업 사용
---------------------------------------------------- */

/* padding */
.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt35 { padding-top:35px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }

.pr5 { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr25 { padding-right:25px; }
.pr30 { padding-right:30px; }
.pr35 { padding-right:35px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }

.pb5 { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px; }
.pb30 { padding-bottom:30px; }
.pb35 { padding-bottom:35px; }
.pb40 { padding-bottom:40px; }
.pb45 { padding-bottom:45px; }
.pb50 { padding-bottom:50px; }

.pl0 { padding-left:0px; }
.pl5 { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl25 { padding-left:25px; }
.pl30 { padding-left:30px; }
.pl35 { padding-left:35px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }

.pppp0{padding:0px;}
.pppp5{padding:5px;}
.pppp10{padding:10px;}
.pppp15{padding:15px;}
.pppp20{padding:20px;}

/* margin */
.mauto{ margin:0 auto}
.mlr2{ margin:0 2px}
.mt-5 { margin-top:-5px; }
.mt-23 { margin-top:-23px; }
.mt3 { margin-top:3px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt35 { margin-top:35px; }
.mt40 { margin-top:40px; }
.mt45 { margin-top:45px; }
.mt50 { margin-top:50px; }
.mt60 { margin-top:60px; }

.mr5 { margin-right:5px; }
.mr8 { margin-right:8px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr25 { margin-right:25px; }
.mr30 { margin-right:30px; }
.mr35 { margin-right:35px; }
.mr40 { margin-right:40px; }
.mr45 { margin-right:45px; }
.mr50 { margin-right:50px; }

.mb0 { margin-bottom:0; }
.mb5 { margin-bottom:5px; }
.mb8 { margin-bottom:8px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb35 { margin-bottom:35px; }
.mb40 { margin-bottom:40px; }
.mb45 { margin-bottom:45px; }
.mb50 { margin-bottom:50px; }

.ml0 { margin-left:0; }
.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.ml35 { margin-left:35px; }
.ml40 { margin-left:40px; }
.ml45 { margin-left:45px; }
.ml50 { margin-left:50px; }

/* width */
.wid_100p{width:100%;}
.wid_50p{width:50%;}
.wid_49p{width:49%;}
.wid_45p{width:45%;}
.wid_30px{width:30px;}
.wid_60px{width:60px;}
.wid_110px{width:110px;}
.wid_145px{width:145px;}
.wid_200px{width:200px;}
.wid_210px{width:210px;}
.wid_230px{width:230px;}
.wid_240px{width:240px;}
.wid_250px{width:250px;}
.wid_255px{width:255px;}
.wid_285px{width:285px;}
.wid_290px{width:290px;}
.wid_295px{width:295px;}
.wid_300px{width:300px;}
.wid_310px{width:310px;}
.wid_330px{width:330px;}
.wid_346px{width:346px;}
.wid_360px{width:360px;}
.wid_370px{width:370px;}
.wid_400px{width:400px;}
.wid_440px{width:440px;}
.wid_435px{width:435px;}
.wid_430px{width:430px;}
.wid_450px{width:450px;}
.wid_500px{width:500px;}
.wid_520px{width:520px;}
.wid_530px{width:530px;}
.wid_545px{width:545px;}
.wid_555px{width:555px;}
.wid_560px{width:560px;}
.wid_580px{width:580px;}
.wid_620px{width:620px;}
.wid_650px{width:650px;}
.wid_660px{width:660px;}
.wid_670px{width:670px;}
.wid_700px{width:700px;}
.wid_725px{width:725px;}
.wid_760px{width:760px;}
.wid_762px{width:762px;}

/* height */
.hig100p{height:100%;overflow:hidden;}
.hig200p{height:200px;}

/* font-size */
.fon_09{font-size:09px;}
.fon_10{font-size:10px;}
.fon_11{font-size:11px;}
.fon_12{font-size:12px;}
.fon_13{font-size:13px;}
.fon_14{font-size:14px;}
.fon_20{font-size:20px;}

/* font-color */
.col_oran{color:#ff711b;}
.col_yell{color:#ffff00;}
.col_blue{color:#3966cd;}
.col_yellgreen {color:#86BE3D}
.col_green{color:#338001;}
.col_greenBright{color:#97E234}
.col_skygreen{color:#18A0AC;}
.col_gray{color:#6E6E6E;}
.col_grayBright{color:#868687}
.col_red,.col_red a{color:#ff3e24;}
.col_purple{color:#8055b4;}
.col_black{color:#000;}
.col_violet{color:#e814af;}
.col_white{color:#FFFFFF;}

/* font-family */
.fon_fam_ver{ line-height:1}
.fon_fam_taho{}
.fon_fam_geo{font-family: Georgia, "Times New Roman", Times, serif;}

/* font-weight */
.fon_we_bold{font-weight:bold;}
.fon_we_nor{font-weight:normal;}

/* letter-spacing */
.lett_0{letter-spacing:0px}
.lett_1{letter-spacing:-1px}

/* line-height */
.line_h15{line-height:15px}
.line_h20{line-height:20px}/* 20130723_정인추가*/
.line_h24{line-height:24px}

/* underline */
.dec_line{text-decoration:underline;}
.dec_line_none{text-decoration:none;}
.dec_lineTh{text-decoration:line-through;}/* 20121105_정인추가*/

/* text-align */
.txt_left{text-align:left;}
.txt_right{text-align:right;}
.txt_center{text-align:center;}

/* clear:both */
.clear_b{clear:both;}

/* float:left,right */
.flo_lt{float:left;}
.flo_rt{float:right;}

/* background-color */
.bac_blue{background-color:#ecf2fa;}
.bac_gray{background-color:#f6f6f6;}
.bac_white{background-color:#FFF;}

/* background-image */
.bac_no{background:none;}

/* text vertical-align:middle */
.v_a_top{vertical-align:top}
.v_a_mid{vertical-align:middle}
.v_a_bot{vertical-align:bottom}

/* border */
.bor0{border:0;}
.bor0_btm{border-bottom:0;}
.bor0_top{border-top:0;}
.bor2{border:2px solid #dfdfdf;}
.bor2_blue{border:2px solid #4a5466;}
.bor1_top{border-top:1px solid #dedede;}
.bor1_btm{border-bottom:1px solid #dedede;}
.bor2_top{border-top:2px solid #898989;}
table.bor0{border:0;}
.brd1{border:1px solid #b7c0c4;}
.brd1_gray{border:1px solid #E0E0E0;}
.brd1_gray_lr{border:1px solid #E0E0E0; border-width:0 1px}
.brd1_dotted{border-top:1px dotted #b7c0c4;}
.bor1_right{border-right:1px solid #dfdfdf;}

/* display:block */
.dis_blo{display:block;}
.dis_none{display:none;}
.dis_inline{display:inline;}
.dis_inlBlo{display:inline-block}
.dis_tabc{display:table-cell}

/* btn_more공통 */
.btn_more a{padding-left:8px;font-size:11px;letter-spacing:-1px;color:#666;background:url(https://image1.educe.co.kr/icon/ic_more.gif) no-repeat left center;}
.btn_review a{padding-left:15px;font-size:11px;letter-spacing:-1px;color:#5887B8;background:url(https://image1.educe.co.kr/icon/icon_pop.gif) no-repeat left center; text-decoration:underline}
/*.search_btn_more a{padding-left:10px;font-size:11px;letter-spacing:-1px;color:#666;background:url(https://image1.educe.co.kr/icon/icon_arr_blue_02.gif) no-repeat left center;}*/
.search_btn_more a{padding-left:10px;font-size:11px;letter-spacing:-1px;color:#666;}/* 20121023_희경수정*/
.btn_erro a{padding-left:13px;font-size:11px;letter-spacing:-1px;color:#ff3300;background:url(https://image1.educe.co.kr/icon/icon_error.gif) no-repeat;}
.search_btn_entry a{padding-left:15px;font-size:11px;letter-spacing:-1px;color:#ff3300;background:url(https://image1.educe.co.kr/icon/icon_check_orange.gif) no-repeat;}

/* position:relative */
.pos_rel{position:relative;}
.pos_abs{position:absolute;}

/* blt_icon */
.blt_icon0{padding-left:20px;background:url(https://image1.educe.co.kr/icon/icon_warning.gif) no-repeat 0 2px;}
.blt_icon1{padding-left:28px;background:url(https://image1.educe.co.kr/icon/icon_warning.gif) no-repeat 8px 6px;}
.blt_icon2{padding-left:15px;background:url(https://image1.educe.co.kr/icon/icon_arr_gray_02.gif) no-repeat;}
.blt_icon3{padding-left:18px;background:url(https://image1.educe.co.kr/icon/icon_excl.gif) no-repeat 0 2px;}
.blt_icon4{padding-left:18px;background:url(https://image1.educe.co.kr/icon/icon_warning_ani.gif) no-repeat 0 2px;}
.blt_icon5{padding-left:10px;background:url(https://image1.educe.co.kr/icon/icon_round_gray.gif) no-repeat left center;}
.blt_icon6{padding-left:10px;background:url(https://image1.educe.co.kr/common/icon_arr_orange.gif) no-repeat left center;}
.blt_icon7{padding-left:10px;background:url(https://image1.educe.co.kr/icon/blt_lmenu_job.gif) no-repeat -1px 4px;}
.blt_icon8{padding-left:18px;background:url(https://image1.educe.co.kr/icon/icon_info.gif) no-repeat 0 2px;}
.ic_tv{padding-left:16px;background:url(https://image1.educe.co.kr/icon/ico_tv_high.gif) no-repeat;}


/* 테이블 tr오버 */
.tr_hover tbody tr:hover td{background:#f5f5f5;}
.tr_hover tbody tr.none td{background:none;}
.th_fon11 tbody th,.th_fon11 tfoot th{font-size:11px;}
.th_nor tbody th,.th_nor tfoot th{font-weight:normal;}
.th_bol tbody th,.th_bol tfoot th{font-weight:bold;}
.th_left tbody th{text-align:left;}
.td_left tbody td{text-align:left;}

/* table td color */
td.td_gray{color:#888888}

/* 기본블릿 */
ul.basic_blt li{padding-left:10px;background:url(https://image1.educe.co.kr/icon/icon_round_gray.gif) no-repeat left center;}

/* 이벤트 */
.sale{position:absolute;top:-1px;left:-1px;}
.po_nu{font-family:"Verdana",Arial,Helvetica,sans-serif;font-weight:bold}

/* 가격-121105 정인추가 */
.price01{font-family:Tahoma, Geneva, sans-serif;font-weight:bold; background:url(https://image1.educe.co.kr/icon/icn_point.gif) no-repeat left; padding-left:23px; height:20px; display:inline-block}
.price02{font-family: Tahoma, Geneva, sans-serif;font-weight:bold; background:url(https://image1.educe.co.kr/icon/icn_point_s.gif) no-repeat left; padding-left:14px; height:19px; display:inline-block}
.price03{font-family: Tahoma, Geneva, sans-serif;font-weight:bold; background:url(https://image1.educe.co.kr/icon/icn_point.gif) no-repeat left; padding-left:23px; height:20px; display:inline-block}
.break {page-break-before: always;}