.break-keep-all {
  word-break: keep-all;
}

/* NICE SCROLLBAR */
.nice-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

/* Track */
.nice-scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #fff;
}

/* Handle */
.nice-scrollbar::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 100vh;
  border: 4px solid #dfdfdf;
}

/* Handle on hover */
.nice-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

/* CENTERED */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index:1
}

/* SLIDER */
.slider .slick-list {
  margin: 0 -15px;
}

.slider .slick-slide {
  margin: 0 15px;
}

.slider .item {
  height: auto;
}

.cover-letter-ai-slick .slick-list {
  margin: 0 -6px;
}

.cover-letter-ai-slick .slick-slide {
  margin: 0 6px;
}

.cover-letter-ai-slick .item {
  height: auto;
}

.slick-prev {
  position: absolute;
  left: -70px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 30px;
  height: 30px;
  background: url("/images/renewal/ic-arrow-slider-left.png") no-repeat center center;
  background-size: contain;
}

.slick-next {
  position: absolute;
  right: -70px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 30px;
  height: 30px;
  background: url("/images/renewal/ic-arrow-slider-right.png") no-repeat center center;
  background-size: contain;
}

/* TAB */
.nav-tabs .nav-link.active {
  border-color: #ff5500;
  color: #ff5500 !important;
  font-weight: 700;
}

/* CUSTOM RADIO */
.custom-checkbox {
  position: relative;
  appearance: none;
  width: 24px;
  height: 24px;
  content: none;
  outline: none;
  margin: 0;
  background: url(/images/renewal/ic-check-off.png) no-repeat center center;
}

.custom-checkbox:checked {
  appearance: none;
  outline: none;
  padding: 0;
  content: none;
  border: none;
}

.custom-checkbox:checked::before {
  position: absolute;
  left: 0;
  color: green !important;
  content: "" !important;
  background: url(/images/renewal/ic-check-on.png) no-repeat center center;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

/* FIX Accordion */
.collapse {
  visibility: visible !important;
}

/* FIX Slick in Modal */
.wrap-cover-letter-ai-slick {
  opacity: 0;
  transition: all 0.3s;
}

.wrap-cover-letter-ai-slick.open {
  opacity: 1;
}

div.modal-content,
div.modal-dialog {
  transition: width 5s;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 6px;
  height: 6px;
  background: #ccc;
  opacity: 0.5;
  margin: -3px 0 0 -3px;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #ff5500;
  opacity: 1;
}
