


/*----------page이동버튼----------*/
.paging_area {
    position: relative;
    display: block;
       width: 90%;
    margin: 10px auto;
    text-align: center;
    overflow: hidden
}

.paging_area img {
    vertical-align: top;
}

.paging_area span {
    display: inline-block;
    padding: 0 5px;
    height: 28px;
    font-size: 16px;
    color: #666;
    line-height: 26px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

.paging_area span.on {
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    color: #0399db;
    line-height:26px;
}


.paging_area a {
     color: #666;
}
.paging_area a:hover {
    text-decoration: none;
}

.paging_area .prev, .paging_area .next {
    display: inline-block;
    margin: 0 2px;
    padding: 0
}

.paging_area .prev a, .paging_area .next a {
    margin: 0;
    padding: 0
}

.paging_area .prev {
    margin-right:8px
}

.paging_area .next {
    margin-left:8px
}

.paging_area .next_e {
    margin:0px
}


.paging_area .prev_f {
    margin:0px
}

