
/* 티켓 페이지 공통 */
.tk_section {position: relative; width: 100%;}
.tk_titbox {position: relative; width: 100%; margin-bottom: 72px;}
.tk_title {font-weight: 700; font-size: 36px; line-height: 130%;color: #222; text-align: center;}


/* 공연예매 필터 */
.tk_list_wrap {}

