
/* 01마이루핏_01메인 */
.m_titbox {margin-bottom: 3rem;}
.m_titbox .m_txt1{font-weight: 700;font-size: 2.25rem;line-height: 133%;text-align: center;color: #131720;}

.main_wrap .ms1{margin-bottom: 7.5rem;}
.main_wrap .ms1 .ms1_cont {position: relative; background: linear-gradient(181deg, #f3e7ff 0%, #ecd2ff 100%); padding: 4rem 0;}
.main_wrap .ms1 .ms1_cont::before {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fcfcfc; opacity: 0.7;}
.main_wrap .ms1 .ms1_cont .contbox{ display: flex; gap: 1.25rem;}
.main_wrap .ms1 .ms1_cont .contitem{position: relative;}
.main_wrap .ms1 .ms1_cont .contitem .banner { flex: 1; display: flex;  align-items: center; gap: 1rem;  padding: 1.25rem 1.5rem;  border-radius: 1rem;}
.main_wrap .ms1 .ms1_cont .contitem .banner1 {background: #ffdaeb;}
.main_wrap .ms1 .ms1_cont .contitem .banner2 {background: #edffe0;}
.main_wrap .ms1 .ms1_cont .contitem .banner3 {background: #d3f5ed;}
.main_wrap .ms1 .ms1_cont .contitem .banner .txtbox{flex: 1; display: flex; flex-direction: column; gap: 0.5rem;}
.main_wrap .ms1 .ms1_cont .contitem .banner .txtbox .tit{font-weight: 700;font-size: 1.125rem;line-height: 144%;color: #131720;}
.main_wrap .ms1 .ms1_cont .contitem .banner .txtbox .desc{font-size: 0.813rem;line-height: 154%;color: #334353; word-break: keep-all;}
.main_wrap .ms1 .ms1_cont .contitem .banner .imgbox { display: flex; width: 5.313rem;}
.main_wrap .ms1 .ms1_cont .contitem1,
.main_wrap .ms1 .ms1_cont .contitem3{width: 23.907%; max-width: 19.125rem; display: flex; flex-direction: column; gap: 1.25rem;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box{background: #fff;border: 1px solid #dfdfdf;border-radius: 1rem;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .top {  display: flex;  align-items: center;  gap: 0.5rem;  border-bottom: 1px solid #dfe5ec;  padding: 1.5rem 1.5rem 1.25rem;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .top .thum{width: 1.5rem; aspect-ratio: 1/1; display: flex}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .top .txt{font-weight: 700;font-size: 1rem;line-height: 150%;color: #131720;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .bottom { padding: 1.5rem 1rem 1.625rem; display: flex; flex-direction: column; align-items: center; gap: 0.75rem;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .bottom .tit {  font-weight: 600;   font-size: 0.875rem;  line-height: 157%; color: #131720;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .bottom .infobox { display: flex;  align-items: flex-start; justify-content: center; gap: 2.5rem;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .bottom .infoitem { display: flex; flex-direction: column; align-items: center;  text-align: center;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .bottom .infoitem .subtit {  font-size: 0.813rem; line-height: 154%; color: #334353;}
.main_wrap .ms1 .ms1_cont .contitem1 .profile_box .bottom .infoitem .desc {  font-weight: 700; font-size: 1.5rem; line-height: 133%; color: #131720;}
.main_wrap .ms1 .ms1_cont .contitem2 {flex: 1; border: 1px solid #dfdfdf; border-radius: 1rem; background: #fff; overflow: hidden;}
.main_wrap .ms1 .ms1_cont .contitem2 > .title {font-weight: 700;font-size: 1rem;line-height: 150%;color: #131720; display: flex; align-items: center; gap: 0.5rem; padding: 1.5rem 1.5rem 0;}
.main_wrap .ms1 .ms1_cont .contitem2 > .title .icon{width: 1.5rem;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper{position: relative; width: 100%; padding:1.25rem 6.875rem 1.625rem 1.5rem;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper::after {content: ""; position: absolute; right: 0; top: 0; background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.89) 65.85%, #fff 100%); width: 6.875rem; height: 100%; z-index: 10;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item { width: 15rem; border: 1px solid #dfe5ec; border-radius: 1rem;  box-shadow: 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.08);  background: #fff; overflow: hidden;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox {position: relative; padding: 1.25rem;} 
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .dday{font-weight: 800;
font-size: 0.688rem; height: 1.375rem; line-height: 1; text-transform: uppercase;color: #7c00ff; border: 1px solid #7c00ff; border-radius: 0.5rem; padding: 0.188rem 0.5rem; margin-bottom: 0.75rem; display: inline-flex; align-items: center; justify-content: center;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .logo { display: flex;  align-items: center;  height: 1.125rem; margin-bottom: 0.25rem;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .logo img{max-width: unset; max-height: 100%;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .tit { font-weight: 700;  font-size: 1.125rem; line-height: 144%; color: #131720; margin-bottom: 0.25rem; text-overflow: ellipsis;  overflow: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .sub {  font-size: 0.813rem;  line-height: 154%;  color: #334353;  margin-bottom: 1rem;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .location{display: flex; align-items: center; gap: 0.125rem;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .location .icon{background: url(../img/ic_map.png) no-repeat center/contain; width: 1rem; aspect-ratio: 1/1;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .location .txt {font-size: 0.75rem;line-height: 150%;color: #627383; display: flex; align-items: center; gap: 0.25rem;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .location .txt .dot{width: 0.188rem; aspect-ratio: 1/1; background: #b4b8bd; border-radius: 50%;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .topbox .bookmark_btn {  position: absolute; right: 1.25rem; top: 1.25rem; z-index: 10;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .bottombox { background: #fafafc;  padding: 0.938rem 1.125rem 0.938rem 1.25rem; display: flex; align-items: center;  gap: 0.75rem;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .bottombox .progress { flex: 1;  height: 0.5rem; border-radius: 6.25rem;  background: #eae0f4; mix-blend-mode: multiply;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .bottombox .progress .bar {  height: 100%; background: linear-gradient(90deg, #f9471e 0%, #7c00ff 100%);  border-radius: 6.25rem;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .bottombox .txt { width: 3.875rem; font-size: 0.75rem; line-height: 150%;  color: #131720;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .item .bottombox .txt .percent{font-weight: 700;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .prev_btn,
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .next_btn {background: no-repeat center/contain; width: 2rem; height: unset; aspect-ratio: 1/1; z-index: 20; transition: var(--transition);}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .prev_btn {background-image: url(../img/ic_slide_arrow_small2.png); left: 1rem; display: none;}
.main_wrap .ms1 .ms1_cont .contitem2 .ms1_swiper .next_btn {background-image : url(../img/ic_slide_arrow_small.png); right: 1rem;}
.main_wrap .ms1 .ms1_cont .contitem3 .swiper-wrapper { gap: 1.25rem;}
.main_wrap .ms1 .ms1_cont .contitem3 .banner1 {display: none;}
.main_wrap .ms1 .ms1_bottom {border-bottom: 1px solid #dfe5ec; padding: 1.5rem 0;}
.main_wrap .ms1 .ms1_bottom .slidebox{display: flex; align-items: center; gap: 4.5rem;}
.main_wrap .ms1 .ms1_bottom .slideitem { width: calc((100% - 4.5rem) / 2); display: flex; align-items: center; gap: 1.5rem; overflow: hidden;}
.main_wrap .ms1 .ms1_bottom .slideitem .titbox{display: flex; align-items: center; gap: 0.5rem;}
.main_wrap .ms1 .ms1_bottom .slideitem .titbox .icon1{width: 1.5rem;}
.main_wrap .ms1 .ms1_bottom .slideitem .titbox .icon2{width: 4.063rem;}
.main_wrap .ms1 .ms1_bottom .slideitem .titbox .tit { font-weight: 700;  font-size: 1rem;  line-height: 150%; color: #131720;}
.main_wrap .ms1 .ms1_bottom .slideitem .ms1_latest { flex: 1; height: 1.5rem;   overflow: hidden;}
.main_wrap .ms1 .ms1_bottom .slideitem .ms1_latest .item{height: auto; font-size: 1rem;line-height: 150%;color: #131720;}
.main_wrap .ms1 .ms1_bottom .slideitem .ms1_latest .item .txt { white-space: nowrap;  overflow: hidden; text-overflow: ellipsis;}
.main_wrap .ms1 .ms1_bottom .slideitem .contols { position: relative; display: flex;  border: 1px solid #c4cdd6; border-radius: 0.5rem;}
.main_wrap .ms1 .ms1_bottom .slideitem .contols::before { content: "";  position: absolute;  left: 50%;  top: 0; width: 1px; height: 100%; background: #c4cdd6;}
.main_wrap .ms1 .ms1_bottom .slideitem .contols .prev_btn, 
.main_wrap .ms1 .ms1_bottom .slideitem .contols .next_btn {position: relative;  left: auto; right: auto; top: auto; bottom: auto; margin: 0;  background: no-repeat center / 1.25rem;  width: 2rem; height: auto; aspect-ratio: 1 / 1;}
.main_wrap .ms1 .ms1_bottom .slideitem .contols .prev_btn {background-image: url(../img/btn_arrow_up.png);}
.main_wrap .ms1 .ms1_bottom .slideitem .contols .next_btn {background-image: url(../img/btn_arrow_down.png);}

.main_wrap .ms2 {margin-bottom: 11.25rem;} 
.main_wrap .ms2 .slidebox {position: relative;}
.main_wrap .ms2 .slidebox .ms2_swiper{width: calc(100% + 0.75rem*2); padding: 0.75rem; margin:-0.75rem} 
.main_wrap .ms2 .slidebox .ms2_swiper .item { box-shadow: var(--shadow); background: #fff; border-radius: 1rem; overflow: hidden; display: flex;  flex-direction: column;}
.main_wrap .ms2 .slidebox .ms2_swiper .item .topbox { display: flex;  flex-direction: column; gap: 0.25rem; padding: 1.5rem 1.5rem 4rem;}
.main_wrap .ms2 .slidebox .ms2_swiper .item .topbox .tit { font-weight: 700; font-size: 1rem; line-height: 150%; color: #131720;}
.main_wrap .ms2 .slidebox .ms2_swiper .item .topbox .desc { font-size: 0.813rem; line-height: 154%; color: #334353;}
.main_wrap .ms2 .slidebox .ms2_swiper .item .bottombox { position: relative;  width: 100%;  height: 11.75rem;}
.main_wrap .ms2 .slidebox .ms2_swiper .item .bottombox .icon { position: absolute;  left: 1.5rem; top: -2.5rem; width: 5rem; border-radius: 0.5rem;  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.12); background: #fff;}
.main_wrap .ms2 .slidebox .ms2_swiper .item .bottombox .img{width: 100%; height: 100%; object-fit: cover;} 
.main_wrap .ms2 .slidebox .prev_btn { left: -3.75rem;}
.main_wrap .ms2 .slidebox .next_btn { right: -3.75rem;}

.main_wrap .ms3 {margin-bottom: 10.25rem;} 
.main_wrap .ms3 .slidebox {position: relative;}
.main_wrap .ms3 .slidebox .ms3_swiper{width: calc(100% + 0.75rem*2); padding: 0.75rem; margin:-0.75rem} 
.main_wrap .ms3 .slidebox .ms3_swiper .item {position: relative; box-shadow: var(--shadow); background: #fff; border-radius: 1rem; overflow: hidden; padding: 1.5rem;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .dday{font-weight: 800;
font-size: 0.688rem; height: 1.375rem; line-height: 1;text-transform: uppercase;color: #7c00ff; border: 1px solid #7c00ff; border-radius: 0.5rem; padding: 0.188rem 0.5rem; margin-bottom: 0.75rem; display: inline-flex; align-items: center; justify-content: center;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .logo { display: flex;  align-items: center;  height: 1.125rem; margin-bottom: 0.25rem;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .logo img{max-width: unset; max-height: 100%;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .tit { font-weight: 700;  font-size: 1.125rem; line-height: 144%; color: #131720; margin-bottom: 0.25rem; text-overflow: ellipsis;  overflow: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .sub {  font-size: 0.813rem;  line-height: 154%;  color: #334353;  margin-bottom: 1rem;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .location{display: flex; align-items: center; gap: 0.25rem;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .location .icon{background: url(../img/ic_map2.png) no-repeat center/contain; width: 1rem; aspect-ratio: 1/1;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .location .txt { font-size: 0.813rem;  line-height: 154%; color: #627383; display: flex; align-items: center; gap: 0.25rem;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .location .txt .dot{width: 0.188rem; aspect-ratio: 1/1; background: #b4b8bd; border-radius: 50%;}
.main_wrap .ms3 .slidebox .ms3_swiper .item .bookmark_btn {  position: absolute; right: 1.5rem; top: 1.5rem; z-index: 10;}
.main_wrap .ms3 .slidebox .prev_btn { left: -3.75rem;}
.main_wrap .ms3 .slidebox .next_btn { right: -3.75rem;}

.main_wrap .ms4 {margin-bottom: 7.5rem;}
.main_wrap .ms4 .m_titbox{margin-bottom: 1.5rem;}
.main_wrap .ms4 .top_box{display: flex; align-items: center; justify-content: space-between; margin-bottom: 1.5rem;}
.main_wrap .ms4 .top_box .leftbox .check_box{border: 1px solid #dfdfdf; border-radius: 1rem; background: #fff; padding: 0 1.25rem; height: 3.5rem;}
.main_wrap .ms4 .top_box .leftbox .check_box .label_check{font-size: 1rem;line-height: 150%;color: #131720;}
.main_wrap .ms4 .top_box .rightbox{display: flex; justify-content: flex-end;}
.main_wrap .ms4 .top_box .rightbox .select_box{width: 11.25rem;}


/* 01마이루핏_02상세_01디폴트 */
#detail_modal .modal_box { left: 0; top: 5rem; width: 100%;  max-width: 100%;  height: calc(100% - 5rem); max-height: calc(100% - 5rem); transform: none; border-radius: 0;  box-shadow: none; padding: 0; align-items: unset; overflow: hidden;}
#detail_modal .modal_box .modal_head {display: none;}
#detail_modal .modal_box .modal_head  .close_btn { background-image: url(../img/ic_exit.png); }
#detail_modal .detail_top{position: sticky; top: 0;  border-bottom: 1px solid #dfe5ec; background: #fff; z-index: 30;}
#detail_modal .detail_top .contbox{height: 5rem; display: flex; align-items: center; gap: 1.5rem;}
#detail_modal .detail_top .contbox .logo{max-width: 10rem;}
#detail_modal .detail_top .contbox .logo .img{max-height: 3rem;}
#detail_modal .detail_top .contbox .title{flex: 1; font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720; display: flex; align-items: center; gap: 0.75rem; overflow: hidden;}
#detail_modal .detail_top .contbox .title .tit { white-space: nowrap;  text-overflow: ellipsis; overflow: hidden; max-width: calc(100% - 3.5rem - 0.75rem);}
#detail_modal .detail_top .contbox .dday{width: 3.5rem; height: 1.5rem; font-weight: 800;font-size: 0.813rem;  line-height: 1; text-transform: uppercase;color: #7c00ff; border: 1px solid #7c00ff;border-radius: 0.5rem; display: inline-flex; align-items: center; justify-content: center;}
#detail_modal .detail_top .contbox .btnbox{display: flex; align-items: center; gap: 0.75rem;}
#detail_modal .detail_top .contbox .btnbox .bookmark_btn{width: 2.5rem;}
#detail_modal .detail_top .contbox .btnbox .apply_btn {width: 8.75rem;}
#detail_modal .tab_navwrap {  z-index: 20;  background: #fff;  padding-top: 2.5rem;}
#detail_modal .ds_titbox{display: flex; flex-direction: column; gap: 0.5rem; margin-bottom: 1.5rem;}
#detail_modal .ds_tit{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720;}
#detail_modal .ds_sub{font-size: 1rem;line-height: 150%;color: #131720;font-weight: 700;}
#detail_modal .ds_desc{font-size: 1rem;line-height: 162%;color: #334353;}
#detail_modal .ds_wrap {display: flex; flex-direction: column; gap: 3rem; padding:2.5rem 0 4.25rem; flex: 1; overflow: auto;  scroll-behavior: smooth;}
#detail_modal .ds_wrap::-webkit-scrollbar {display: none;}
#detail_modal .ds_wrap .section { padding-top: 2rem; margin-top: -2rem;}
#detail_modal .ds_wrap .section .inner {padding-bottom: 3rem; border-bottom: 1px solid #dfe5ec;}
#detail_modal .ds_wrap .section:last-child .inner {padding-bottom: 0; border-bottom: 0;}
#detail_modal .ds1 {z-index: 5;}
#detail_modal .ds2 {z-index: 4;}
#detail_modal .ds3 {z-index: 3;}
#detail_modal .ds4 {z-index: 2;}
#detail_modal .ds5 {z-index: 1;}
#detail_modal .ds1 .ds_titbox{gap: 0.75rem; margin-bottom: 0;}
#detail_modal .ds2 .contbox{display: flex; gap: 1.125rem; margin-bottom: 1.5rem;}
#detail_modal .ds2 .contbox .item{width: calc((100% - 1.125rem*3)/4); background: #fafafc; border-radius: 1rem; padding: 2.5rem 1rem; display: flex; flex-direction: column; align-items: center; text-align: center;}
#detail_modal .ds2 .contbox .item .icon{width: 4rem; margin-bottom: 1rem;}
#detail_modal .ds2 .contbox .item .sub{font-size: 1rem;line-height: 162%;color: #334353;}
#detail_modal .ds2 .contbox .item .tit{font-weight: 700;font-size: 1.5rem;line-height: 133%;color: #131720;}
#detail_modal .ds2 .infobox{display: flex; flex-direction: column; gap: 0.25rem;}
#detail_modal .ds2 .infobox .item{font-size: 1rem;line-height: 162%;color: #334353; display: flex; gap: 2.5rem;}
#detail_modal .ds2 .infobox .item .tit{font-weight: 700; width: 3.5rem;}
#detail_modal .ds2 .infobox .item .desc{flex: 1;}
#detail_modal .ds2 .infobox .item .desc .link{text-decoration: underline;color: #7c00ff;}
#detail_modal .ds3 .ds_titbox{margin-bottom: 2.5rem;}
#detail_modal .ds3 .slidewrap {display: flex; flex-direction: column; gap: 1rem; margin-bottom: 2.5rem;}
#detail_modal .ds3 .slidebox {position: relative;}
#detail_modal .ds3 .ds3_swiper {width: 100%;}
#detail_modal .ds3 .ds3_swiper .item {border: 1px solid #dfdfdf;border-radius: 1rem; padding: 1.5rem;}
#detail_modal .ds3 .ds3_swiper .item .jobkorea{font-weight: 700;font-size: 0.813rem;line-height: 154%;color: #131720; display: flex; align-items: center; gap: 0.5rem; margin-bottom: 0.75rem;}
#detail_modal .ds3 .ds3_swiper .item .jobkorea .icon{background: url(../img/ic_jobkorea.png) no-repeat center/contain ; width: 1.25rem; aspect-ratio: 1/1;}
#detail_modal .ds3 .ds3_swiper .item > .tit{ text-overflow: ellipsis;  overflow: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1; font-weight: 700;font-size: 1rem;line-height: 150%;color: #131720; margin-bottom: 0.25rem;}
#detail_modal .ds3 .ds3_swiper .item > .desc{ text-overflow: ellipsis;  overflow: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 3; font-size: 0.813rem;line-height: 154%;color: #334353; margin-bottom: 0.75rem;}
#detail_modal .ds3 .ds3_swiper .item > .cmt {display: flex; align-items: center ; gap: 0.25rem; font-size: 0.813rem;line-height: 154%;color: #627383;}
#detail_modal .ds3 .ds3_swiper .item > .cmt .icon{background: url(../img/ic_cmt.png) no-repeat center/contain ; width: 1rem; aspect-ratio: 1/1;}
#detail_modal .ds3 .slidebox .swiper_prev_btn.swiper-button-disabled {opacity: 0.3;}
#detail_modal .ds3 .slidebox .swiper_next_btn.swiper-button-disabled {opacity: 0.3;}
#detail_modal .ds3 .slidebox .prev_btn { left: -3.75rem;}
#detail_modal .ds3 .slidebox .next_btn { right: -3.75rem;}
#detail_modal .ds3 .analyzewrap {display: flex; flex-direction: column; gap: 0.75rem;}
#detail_modal .ds4 .ds4_swiper {padding: 0.75rem;  margin: -0.75rem; width: calc(100% + 0.75rem * 2);}
#detail_modal .ds4 .ds4_swiper .contbox {gap: 1.75rem;}
#detail_modal .ds4 .ds4_swiper .contbox .item{width: calc((100% - 1.75rem*2)/3); box-shadow: var(--shadow); background: #fff; border-radius: 1rem; display: flex; flex-direction: column; align-items: center; text-align: center;  padding: 2.5rem; word-break: keep-all;}
#detail_modal .ds4 .ds4_swiper .contbox .item .icon{width: 5rem; margin-bottom: 1.5rem;}
#detail_modal .ds4 .ds4_swiper .contbox .item .tit{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720; margin-bottom: 0.5rem;}
#detail_modal .ds4 .ds4_swiper .contbox .item .desc{font-size: 1rem;line-height: 150%;text-align: center;color: #334353;}
#detail_modal .ds4 .ds4_swiper .contbox .item .desc .more{color: #627383;}


/* 01마이루핏_02상세_04지원서작성하기popup */
#applyForm_modal .modal_body {width: 30rem;}
#applyForm_modal .topbox{position: relative;}
#applyForm_modal .topbox .logo { display: flex;  align-items: center;  height: 2rem; margin-bottom: 0.375rem;}
#applyForm_modal .topbox .logo img{max-width: unset; max-height: 100%;}
#applyForm_modal .topbox .tit { font-weight: 700;font-size: 1.25rem;line-height: 140%;
color: #000; margin-bottom: 0.25rem; text-overflow: ellipsis;  overflow: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
#applyForm_modal .topbox .sub {  font-size: 0.813rem;  line-height: 154%;  color: #334353;  margin-bottom: 1rem;}
#applyForm_modal .topbox .location{display: flex; align-items: center; gap: 0.125rem;}
#applyForm_modal .topbox .location .icon{background: url(../img/ic_map.png) no-repeat center/contain; width: 1rem; aspect-ratio: 1/1;}
#applyForm_modal .topbox .location .txt {font-size: 0.75rem;line-height: 150%;color: #627383; display: flex; align-items: center; gap: 0.25rem;}
#applyForm_modal .topbox .location .txt .dot{width: 0.188rem; aspect-ratio: 1/1; background: #b4b8bd; border-radius: 50%;}
#applyForm_modal .topbox .input_box {margin-top: 1.5rem; gap: 0.688rem;}
#applyForm_modal .topbox .input_box .label_text {font-size: 0.875rem;line-height: 157%;}
#applyForm_modal .topbox .input_box .input_text {height: 2.75rem; padding: 0 1rem; border-radius: 0.5rem;font-size: 0.875rem;line-height: 157%;}
#applyForm_modal .bottombox {display: flex; flex-direction: column; gap: 0.75rem; padding-top: 1.5rem; border-top: 1px solid #dfe5ec; margin-top: 1.5rem; }
#applyForm_modal .bottombox > .title{font-weight: 700;font-size: 0.875rem;line-height: 157%;color: #131720;}
#applyForm_modal .bottombox .applybox{display: flex; align-items: flex-start; gap: 1rem; box-shadow: var(--shadow); background: #fff; padding: 1.25rem;border-radius: 1rem; overflow: hidden;}
#applyForm_modal .bottombox .applybox .imgbox{display: flex; width: 3rem;}
#applyForm_modal .bottombox .applybox .txtbox{flex: 1; display: flex; flex-direction: column; gap: 0.125rem;}
#applyForm_modal .bottombox .applybox .txtbox .tit{font-weight: 700;font-size: 0.875rem;line-height: 157%;color: #131720;}
#applyForm_modal .bottombox .applybox .txtbox .desc{font-size: 0.75rem;line-height: 150%;color: #334353;}
#applyForm_modal .bottombox .applybox2 {box-shadow:var(--shadow);background: #fff; border-radius: 1rem;}
#applyForm_modal .bottombox .applybox2 .apply_top{padding: 1rem 1.5rem; display: flex; align-items: center; justify-content: space-between; gap: 1rem; border-bottom: 1px solid #dfe5ec;}
#applyForm_modal .bottombox .applybox2 .apply_top .tit{font-weight: 700;font-size: 0.813rem;line-height: 154%;color: #131720; flex: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#applyForm_modal .bottombox .applybox2 .apply_top .edit_btn { font-weight: 400;   font-size: 0.688rem; line-height: 145%;  color: #334353;  border-color: #c4cdd6;  border-radius: 0.5rem; padding: 0; width: 2.5rem; height: 1.5rem;}
#applyForm_modal .bottombox .applybox2 .apply_bottom { display: flex; align-items: flex-start;  gap: 0.75rem; padding: 1.25rem 1.5rem 1.5rem;}
#applyForm_modal .bottombox .applybox2 .apply_bottom .input_box .label_text { font-size: 0.813rem; line-height: 154%;}
#applyForm_modal .bottombox .applybox2 .apply_bottom .input_box .input_text { height: 2.75rem;  padding: 0 1rem; border-radius: 0.5rem; font-size: 0.875rem; line-height: 157%;}
#applyForm_modal .bottombox .descbox { font-size: 0.75rem; line-height: 150%;  color: #627383; display: flex; flex-direction: column;  gap: 0.125rem;}


/* 01마이루핏_03로그인 */
.login_wrap .login_section{ margin: 3rem 0 7.5rem;}
.login_wrap .login_section > .inner {max-width: 640px;}
.login_wrap .login_box .form_box{ gap: 1rem; margin-bottom: 2.5rem;}
.login_wrap .login_box .login_btn{width: 100%;}
.login_wrap .login_box .bottom_box{margin-top: 1.25rem; display: flex; align-items: center; justify-content: center; gap: 0.5rem;}
.login_wrap .login_box .bottom_box .link{font-size: 0.875rem;line-height: 157%;color: #627383; display: inline-block ;}
.login_wrap .login_box .bottom_box .dot{width: 0.188rem; aspect-ratio: 1/1; background: #adb2bb; border-radius: 50%;}


/* 01마이루핏_04회원가입_01입력 */
.join_wrap .join_section{ margin: 3rem 0 7.5rem;}
.join_wrap .join_section > .inner {max-width: 640px;}
.join_wrap .join_box .form_box{margin-bottom: 1rem;}
.join_wrap .join_box .form_check{display: flex; flex-direction: column; align-items: flex-start; gap: 0.5rem; margin-bottom: 3rem;}
.join_wrap .join_box .form_check .check_box .label_check {color: #334353;}
.join_wrap .join_box .form_check .check_box #agreeAll + .label_check {font-weight: 500;}
.join_wrap .join_box .form_check .check_line{ width: 100%; height: 1px; background: #dfe5ec; margin: 0.5rem 0;}
.join_wrap .join_box .form_btn{display: flex; gap: 0.75rem;}
.join_wrap .join_box .form_btn .cancel_btn{width: 11.25rem; font-weight: 400;}
.join_wrap .join_box .form_btn .submit_btn{flex: 1;}


/* 01마이루핏_04회원가입_03회원가입정보로찾기 */
.join_wrap .search_section{ margin: 3rem 0 7.5rem;}
.join_wrap .search_section > .inner {max-width: 640px;}
.join_wrap .search_wrap {display: flex; flex-direction: column; gap: 3rem;}
.join_wrap .search_box {display: flex; flex-direction: column; gap: 2.5rem;}
.join_wrap .search_box .form_box{gap: 1.5rem;}
.join_wrap .search_box .form_box .sch_tit{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720;}
.join_wrap .search_box .search_btn{width: 100%;}


/* 01마이루핏_05마이페이지_01지원관리_01매칭지원서 */
.mypage_wrap .mypage_section{ padding: 3rem 0 0}
.mypage_wrap .mypage_section > .inner { padding-bottom: 7.5rem;}
.mypage_wrap .mypage_wrap{display: flex; flex-direction: column; gap: 4rem;}

.mypage_wrap .mypage_titbox{display: flex; flex-direction: column; gap: 2rem; margin-bottom: 2.5rem;}
.mypage_wrap .mypage_titbox .tabs { display: flex;}
.mypage_wrap .mypage_titbox .tabs .tab {  flex: 1;  height: 3.5rem;  position: relative;  font-size: 1rem; line-height: 150%;  text-align: center;  color: #627383;  display: flex; align-items: center; justify-content: center;}
.mypage_wrap .mypage_titbox .tabs .tab:nth-child(1) {border-radius: 1rem 0 0 1rem;}
.mypage_wrap .mypage_titbox .tabs .tab:last-child {border-radius: 0 1rem 1rem 0;}
.mypage_wrap .mypage_titbox .tabs .tab::before { content: "";  position: absolute;  left: 50%; top: 50%;  width: calc(100% - 1px); height: calc(100% - 1px);  transform: translate(-50%, -50%);border: 1px solid #c4cdd6; border-right: 0; border-radius: inherit;}
.mypage_wrap .mypage_titbox .tabs .tab:nth-child(1)::before,  
.mypage_wrap .mypage_titbox .tabs .tab:last-child::before {border: 1px solid #c4cdd6;}
.mypage_wrap .mypage_titbox .tabs .tab:nth-child(2)::before {border-left: 0;} 
.mypage_wrap .mypage_titbox .tabs .tab.on{font-weight: 700;color: #131720;}
.mypage_wrap .mypage_titbox .tabs .tab.on::before {border: 2px solid #131720;}

.mypage_wrap .suppoer_banner {display: flex; align-items: center; justify-content: space-between; gap: 2.5rem; padding: 0.875rem 2.5rem;  border-radius: 1rem;}
.mypage_wrap .suppoer_banner.banner1 {background: #edffe0;}
.mypage_wrap .suppoer_banner.banner2 {background: #ffeaf4;}
.mypage_wrap .suppoer_banner .txtbox{flex: 1; display: flex; flex-direction: column; gap: 0.25rem;}
.mypage_wrap .suppoer_banner .txtbox .tit{font-weight: 700;font-size: 1.125rem;line-height: 144%;color: #131720;}
.mypage_wrap .suppoer_banner .txtbox .desc{font-size: 0.875rem;line-height: 157%;color: #334353;}
.mypage_wrap .suppoer_banner .imgbox{display: flex; align-items: center; justify-content: center; width: 4.5rem;}

.mypage_wrap .support_section {position: relative;}
.mypage_wrap .support_section .form_wrap {display: flex; flex-direction: column; margin-top: 2.5rem;}
.mypage_wrap .support_section .form_wrap .form_tit{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720;  margin-bottom: 1.5rem;}
.mypage_wrap .support_section .form_wrap .form_box{border-top: 1px solid #131720; padding-top: 2.5rem;}
.mypage_wrap .support_section .form_wrap .form_box .form_item{width: 100%;}
.mypage_wrap .support_section .form_wrap .form_box .form_item.wid50{width: calc((100% - 2.5rem)/2);}
.mypage_wrap .support_section .form_wrap .form_box .input_box.row_ver{flex-direction: row; gap: 5rem;}
.mypage_wrap .support_section .form_wrap .form_box .input_box.row_ver .input_item { flex-direction: column; align-items: unset; justify-content: unset; gap: 0.75rem;}
.mypage_wrap .support_section .form_wrap .form_box .form_txtbox{display: flex; flex-direction: column; gap: 0.5rem; border-bottom: 1px solid #131720; padding-bottom: 1.5rem;}
.mypage_wrap .support_section .form_wrap .form_box .form_txtbox .tit{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720;}
.mypage_wrap .support_section .form_wrap .form_box .form_txtbox .desc{font-size: 1rem;line-height: 162%;color: #334353;}
.mypage_wrap .support_section .form_wrap .form_btn {display: flex; justify-content: center; margin-top: 2.5rem;}
.mypage_wrap .support_section .form_wrap .form_btn .button {padding: 0 2.5rem; min-width: 7.5rem;}


/* 01마이루핏_05마이페이지_01지원관리_01매칭지원서_(플로팅버전) */
#matching_popup { position: absolute; right: 0; bottom: 3rem; width: 20rem;  padding: 1.5rem 1.5rem 4.5rem;  box-shadow: 0 0.375rem 0.75rem 0 rgba(0, 0, 0, 0.12); background: #defaf8;   border-radius: 1rem;  transition: all 0.4s ease;}
#matching_popup .pop_close{position: absolute; top: 1rem; right: 1rem;}
#matching_popup .txtbox .tit{font-weight: 700;font-size: 1.125rem;line-height: 144%;color: #131720; margin-bottom: 0.25rem;}
#matching_popup .txtbox .desc{font-size: 0.875rem;line-height: 157%;color: #334353; margin-bottom: 1rem;}
#matching_popup .txtbox .button { padding: 0 1.25rem; font-size: 0.875rem; line-height: 127%;}
#matching_popup .imgbox{position: absolute; right: 1.25rem; bottom: 1rem; display: flex; width: 6rem;}


/* 01마이루핏_05마이페이지_01지원관리_02지원기업 */
.mypage_wrap .support_section .filter_box { border-radius: 1rem; background: #fafafc; padding: 1rem 1.5rem; display: flex; align-items: center; justify-content: space-between;}
.mypage_wrap .support_section .filter_box .leftbox{width: 50%; display: flex; align-items: center; gap: 1.25rem;}
.mypage_wrap .support_section .filter_box .leftbox .bar{width: 1px; height: 0.75rem; background: #c4cdd6;}
.mypage_wrap .support_section .filter_box .leftbox .check_box .label_check {  font-size: 1rem;  line-height: 150%; color: #131720;}
.mypage_wrap .support_section .filter_box .leftbox .input_box.date{flex-direction: row; align-items: center; gap: 1.25rem;}
.mypage_wrap .support_section .filter_box .leftbox .input_box.date .label_text{font-weight: 400;}
.mypage_wrap .support_section .filter_box .leftbox .input_box.date .input_text.datepicker{width: 18.75rem;}
.mypage_wrap .support_section .filter_box .rightbox{width: 50%; display: flex; align-items: center ; justify-content:flex-end; gap : 1rem;}
.mypage_wrap .support_section .filter_box .rightbox .select_box{width: 11.25rem;}
.mypage_wrap .support_section .filter_box .rightbox .sch_btn { height: 3.5rem;   border-radius: 1rem; font-size: 1rem; line-height: 150%; padding: 0 1.625rem;}
.mypage_wrap .support_section .joblist {margin-top: 1.5rem;}


/* 01마이루핏_05마이페이지_01지원관리_03받은제안 */
.mypage_wrap .mypage_section .alert_txt {display: flex; align-items: center; gap: 0.25rem;font-size: 0.813rem;line-height: 154%;color: #627383; margin-top: 0.75rem;}
.mypage_wrap .mypage_section .alert_txt .icon{background: url(../img/ic_alert.png) no-repeat center/contain; width: 1rem; aspect-ratio: 1/1;}
.mypage_wrap .mypage_section .alert_txt .link {text-decoration: underline;color: #131720;}
.mypage_wrap .mypage_section .alert_txt + .paging {margin-top: 0.5rem;}


/* 01마이루핏_05마이페이지_01지원관리_04스크랩 */
.mypage_wrap .support_section .filter_box .rightbox .input_box_sch {width: 18.75rem;}


/* 01마이루핏_05마이페이지_02정보관리_01기본정보 */
.mypage_wrap .info_section .form_wrap {display: flex; flex-direction: column; margin-top: 2.5rem;}
.mypage_wrap .info_section .form_wrap .form_tit{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720;  margin-bottom: 1.5rem;}
.mypage_wrap .info_section .form_wrap .form_box{border-top: 1px solid #131720;  gap: 0;}
.mypage_wrap .info_section .form_wrap .form_box .form_item { width: 100%;  display: flex; border-bottom: 1px solid #dfe5ec; padding: 1rem 0;}
.mypage_wrap .info_section .form_wrap .form_box .form_item .input_box { width: 50%;  flex-direction: row; align-items: center; gap: 2rem; padding-right: 4.063rem;}
.mypage_wrap .info_section .form_wrap .form_box .form_item .input_box .label_text {width: 4rem;}
.mypage_wrap .info_section .form_wrap .form_box .form_item .input_box .input_text {flex: 1;}
.mypage_wrap .info_section .form_wrap .form_box .form_item .input_box .input_item {flex: 1;}
.mypage_wrap .info_section .form_wrap .form_btn{display: flex; justify-content: center; gap: 0.75rem; margin-top: 2.5rem;}
.mypage_wrap .info_section .form_wrap .form_btn .button { padding: 0 2.5rem; min-width: 7.5rem;}
.mypage_wrap .info_section .form_wrap .form_btn .cancel_btn{font-weight: 400;}


/* 01마이루핏_05마이페이지_02정보관리_02비밀번호변경 */
.mypage_wrap .info_section .info_titbox {display: flex; flex-direction: column; gap: 0.5rem; margin-bottom: 2.5rem;}
.mypage_wrap .info_section .info_titbox .tit{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720;}
.mypage_wrap .info_section .info_titbox .desc{font-size: 1rem;line-height: 162%;color: #334353;}
.mypage_wrap .info_section .pwd_box { background: #fafafc; border-radius: 1rem;  display: flex; align-items: center; justify-content: center; gap: 2.313rem;  padding: 3rem;}
.mypage_wrap .info_section .pwd_box .input_box { width: auto;  flex-direction: row;  align-items: center;  gap: 1.5rem;}
.mypage_wrap .info_section .pwd_box .input_box .input_text{width: 35rem;}
.mypage_wrap .info_section .pwd_box .bar {width: 1px; height: 1.125rem; background: #dfe5ec;}


/* 01마이루핏_05마이페이지_02정보관리_03알림서비스 */
.mypage_wrap .info_section .alarm_box {display: flex; gap: 1.75rem;}
.mypage_wrap .info_section .alarm_box .item{width: calc((100% - 1.75rem)/2); box-shadow: var(--shadow);background: #fff; border-radius: 1rem; padding: 2.5rem; display: flex; flex-direction: column; align-items: center; text-align: center;}
.mypage_wrap .info_section .alarm_box .item .icon { width: 5rem; margin-bottom: 1.5rem;}
.mypage_wrap .info_section .alarm_box .item .tit{font-weight: 700; font-size: 1.125rem;line-height: 144%;color: #131720; margin-bottom: 0.313rem;}
.mypage_wrap .info_section .alarm_box .item .desc{font-size: 0.875rem;line-height: 157%;color: #334353; margin-bottom: 1.5rem;}


/* 01마이루핏_05마이페이지_02정보관리_04회원탈퇴 */
.mypage_wrap .info_section .withdraw_box {margin-bottom: 3rem;}
.mypage_wrap .info_section .withdraw_box > .title{font-weight: 700;font-size: 1.25rem;line-height: 140%;color: #131720; margin-bottom: 1.5rem;}
.mypage_wrap .info_section .withdraw_box .contbox{display: flex; gap: 1.25rem; margin-bottom: 1rem;}
.mypage_wrap .info_section .withdraw_box .contbox .item{width: calc((100% - 1.25rem*3)/4); box-shadow:var(--shadow);background: #fff; border-radius: 1rem; padding: 2.5rem 2rem; display: flex; flex-direction: column; align-items: center; gap: 0.875rem; text-align: center;}
.mypage_wrap .info_section .withdraw_box .contbox .item .icon{width: 2rem;}
.mypage_wrap .info_section .withdraw_box .contbox .item .tit{font-size: 1rem;line-height: 150%;color: #131720;font-weight: 700;}
.mypage_wrap .info_section .withdraw_box .check_box .label_check{color: #334353; flex: unset;}
.mypage_wrap .info_section .reason_box { border-top: 1px solid #131720; border-bottom: 1px solid #dfe5ec; padding: 1.5rem 0; display: flex; flex-wrap:wrap; justify-content: space-between; gap: 0.75rem 1rem;}
.mypage_wrap .info_section .reason_box .item{width: calc((100% - 1rem*3)/4)}
.mypage_wrap .info_section .reason_box .item.input_box{width: 100%;}
.mypage_wrap .info_section .reason_box .item.input_box .input_text {  margin-left: 1.875rem;  width: 30rem;  height: 3rem;  font-size: 0.875rem;  line-height: 157%;   border-radius: 0.75rem;}


/* 01마이루핏_06어드민_01대시보드 */
.dashboard_wrap {min-width: 1279px; background: #f0f1f8;}
.dashboard_wrap .header .h_inner { width: 100%; max-width: 100%; padding: 0 2rem;}
.dashboard_wrap .header .h_logo{width: 10.438rem;}
.dashboard_wrap .layout { display: flex; min-height: 100vh; padding-top: 5rem;}
.dashboard_wrap .layout .sidemenu { width: 16%;  max-width: 18.25rem; background: #fff;  padding: 2rem; display: flex; flex-direction: column;  gap: 2.5rem;}
.dashboard_wrap .layout .sidemenu .sideitem{display: flex; flex-direction: column; gap: 0.75rem;}
.dashboard_wrap .layout .sidemenu .sideitem .title{font-weight: 700;font-size: 1.125rem;line-height: 144%;color: #131720;}
.dashboard_wrap .layout .sidemenu .sideitem .submenu{display: flex; flex-direction: column; gap: 0.5rem;}
.dashboard_wrap .layout .sidemenu .sideitem .submenu .link{font-size: 0.875rem;line-height: 157%;color: #131720; display: inline-block;}
.dashboard_wrap .layout .sidemenu .sideitem .submenu .link.on {font-weight: 700; color: #7c00ff;}
.dashboard_wrap .layout .container {flex: 1; height: calc(100vh - 5rem); padding: 2.5rem 3.625rem 5rem; overflow: auto;}
.dashboard_wrap .layout .container::-webkit-scrollbar {display: none;}
.dashboard_wrap .dash_title {font-weight: 700;font-size: 2rem;line-height: 137%;color: #131720; margin-bottom: 2.5rem;}
.dashboard_wrap .section {box-shadow:var(--shadow);background: #fff; border-radius: 1rem; padding: 2.5rem;}
.dashboard_wrap .section + .section {margin-top: 1.5rem;}

.dashboard_wrap .chart_section .chart_box { position: relative; display: flex; flex-direction: column; align-items: center; }
.dashboard_wrap .chart_section .chart_box .chart_tit {font-weight: 700;font-size: 1rem;line-height: 150%;color: #131720; text-align: center; margin-bottom: 1.5rem;}
.dashboard_wrap .chart_section .chart_box .chart{width: 100%;}
.dashboard_wrap .chart_section .chart_box .chart canvas { width: 100% !important; height: auto !important; aspect-ratio: 1 / 0.26047;}
.dashboard_wrap .chart_section .chart_box .chart_labels { display: flex; align-items: center;  gap: 1.5rem; border: 1px solid #dfe5ec; border-radius: 0.5rem; padding: 1rem 1.5rem;  margin-top: 2rem;}
.dashboard_wrap .chart_section .chart_box .chart_labels .label { display: flex; align-items: center; gap: 0.5rem;}
.dashboard_wrap .chart_section .chart_box .chart_labels .label .line_color { display: inline-block; width: 1rem;  height: 0.188rem;  border-radius: 100px;}
.dashboard_wrap .chart_section .chart_box .chart_labels .label .line_color.color1{background-color: #7c00ff;}
.dashboard_wrap .chart_section .chart_box .chart_labels .label .line_color.color2{background-color: #32baff;}
.dashboard_wrap .chart_section .chart_box .chart_labels .label .box_color { display: inline-block; width: 1rem;  aspect-ratio: 1 / 1; border-radius: 0.25rem;}
.dashboard_wrap .chart_section .chart_box .chart_labels .label .box_color.color1{background: linear-gradient(136deg, #b875ff 0%, #7e04ff 100%);}
.dashboard_wrap .chart_section .chart_box .chart_labels .label .box_color.color2{background: linear-gradient(180deg, #6acdff 0%, #11a1eb 100%);}
.dashboard_wrap .chart_section .chart_box .chart_labels .label .box_color.color3{background: linear-gradient(180deg, #adb2bb 0%, #878b92 100%);}
.dashboard_wrap .chart_section .chart_box .chart_labels .label .label_txt{ font-size: 0.875rem; line-height: 157%; color: #131720;}

.dashboard_wrap .info_section {display: flex; flex-wrap: wrap; gap: 1.5rem;}
.dashboard_wrap .info_section .item{width: calc((100% - 1.5rem*2)/3); display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; background: #fafafc; border-radius: 1rem; padding: 1.5rem;}
.dashboard_wrap .info_section .item .icon{width: 3.5rem; margin-bottom: 0.75rem;}
.dashboard_wrap .info_section .item .tit{font-weight: 700;font-size: 0.875rem;line-height: 157%;color: #131720;}
.dashboard_wrap .info_section .item .num{font-weight: 700;font-size: 1.125rem;line-height: 140%;color: #131720; margin-bottom: 0.25rem;}
.dashboard_wrap .info_section .item .sub{font-size: 12px;line-height: 150%;color: #334353;}


/* 01마이루핏_06어드민_02회원목록 */
.dashboard_wrap .list_section {padding: 0;}
.dashboard_wrap .list_section .sec_top { padding: 1rem 1.5rem;  display: flex;  align-items: center; justify-content: space-between; gap: 1rem;}
.dashboard_wrap .list_section .sec_top .leftbox{display: flex; align-items: center;  gap: 0.75rem;}
.dashboard_wrap .list_section .sec_top .rightbox{display: flex; align-items: center; justify-content: flex-end; gap: 0.75rem;}
.dashboard_wrap .list_section .sec_top .rightbox .select_box {width: 8.625rem;}
.dashboard_wrap .list_section .sec_top .rightbox .select_box .select { height: 2.75rem;  border-radius: 0.5rem; padding: 0 3rem 0 1rem;  background: url(../img/select_arrow.png) no-repeat right 1rem top 50% / 1.5rem #fff; font-size: 0.875rem; line-height: 157%;}
.dashboard_wrap .list_section .sec_top .rightbox .input_box_sch{width: 17.5rem;}
.dashboard_wrap .list_section .sec_top .rightbox .input_box_sch .input_text {  height: 2.75rem;  border-radius: 0.5rem;  padding: 0 3rem 0 1rem;  font-size: 0.875rem;  line-height: 157%;}
.dashboard_wrap .list_section .sec_top .rightbox .input_box_sch .search_btn {  right: 1rem;}
.dashboard_wrap .layout .container .page_bottom {display: flex; align-items: center; gap: 1rem; justify-content: space-between; margin-top: 2rem; }
.dashboard_wrap .layout .container .page_bottom .leftbox,
.dashboard_wrap .layout .container .page_bottom .rightbox{flex: 1; display: flex; align-items: center; gap: 0.75rem;}
.dashboard_wrap .layout .container .page_bottom .rightbox {justify-content: flex-end;}
.dashboard_wrap .layout .container .page_bottom .paging {margin-top: 0;}


/* 01마이루핏_07약관_01이용약관_01PC */
.policy_wrap .policy_section { padding: 3rem 0 0; margin-bottom: 7.5rem;}
.policy_wrap .policy_section .policy_tabwrap { display: flex; flex-direction: column;  gap: 4rem;}
.policy_wrap .policy_section .policy_tabwrap .tab_swiper { width: 100%; border-bottom: 1px solid #dfe5ec;}
.policy_wrap .policy_section .policy_tabwrap .tab_swiper .tab_navbox {  justify-content: unset; gap: 0; border-bottom: 0;}
.policy_wrap .policy_section .policy_tabwrap .tab_swiper .tab_navbox .tab_nav {width: 100%;}
.policy_wrap .policy_section .policy_contbox {position: relative; display: flex; flex-direction: column; gap: 3rem;}
.policy_wrap .policy_section .policy_cont {display: flex; flex-direction: column;}
.policy_wrap .policy_section .policy_cont .tit{font-weight: 700;font-size: 1.125rem;line-height: 144%;color: #131720; }
.policy_wrap .policy_section .policy_cont .desc{font-weight: 400; font-size: 1rem;line-height: 175%; color: #131720;}
.policy_wrap .policy_section .policy_cont .tit + .desc {margin-top: 0.5rem;}
.policy_wrap .policy_section .policy_cont .tit + .desc.ver2 {margin-top: 1.5rem;}
.policy_wrap .policy_section .policy_cont .desc + .desc {margin-top: 1.5rem;}
.policy_wrap .policy_section .policy_cont .desc + .desc.ver3 {margin-top: 1rem;}
.policy_wrap .policy_section .policy_cont .desc .bold {font-weight: 700;}
.policy_wrap .policy_section .policy_cont .desc .link {text-decoration: underline; color: #7c00ff;}