
/* TAN NIMBUS */
@font-face {
	font-family: "TAN NIMBUS";
	src: url("../font/TAN-NIMBUS/TAN-NIMBUS.woff2") format("woff2"), 
         url("../font/TAN-NIMBUS/TAN-NIMBUS.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


/* EDLavonia */
@font-face {
	font-family: "EDLavonia";
	src: url("../font/EDLavonia/EDLavonia-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


/* Qeldorat */
@font-face {
  font-family: "Qeldorat";
  src: url("../font/Qeldorat/Qeldorat-LV3PD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Paperlogy */
@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-1Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-2ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-3Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-4Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-5Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-6SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-7Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-8ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('https://work.marronde.com/font/Paperlogy/Paperlogy-9Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


/* Pretendard */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-Black.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-Bold.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-Medium.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-Regular.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-Light.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: url('https://work.marronde.com/font/Pretendard/Pretendard-Thin.woff2') format('woff2'), url('https://work.marronde.com/font/Pretendard/Pretendard-Thin.woff') format('woff');
}