.break-keep-all {
  word-break: keep-all;
}

/* NICE SCROLLBAR */
.nice-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

/* Track */
.nice-scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #fff;
}

/* Handle */
.nice-scrollbar::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 100vh;
  border: 4px solid #dfdfdf;
}

/* Handle on hover */
.nice-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

/* CENTERED */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* SLIDER */
.slider .slick-list {
  margin: 0 -15px;
}

.slider .slick-slide {
  margin: 0 15px;
}

.slider .item {
  height: auto;
}

.cover-letter-ai-slick .slick-list {
  margin: 0 -6px;
}

.cover-letter-ai-slick .slick-slide {
  margin: 0 6px;
}

.cover-letter-ai-slick .item {
  height: auto;
}

.slick-prev {
  position: absolute;
  left: -70px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 30px;
  height: 30px;
  background: url("/images/solution/ic-arrow-slider-left.png") no-repeat center center;
  background-size: contain;
}

.slick-next {
  position: absolute;
  right: -70px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 30px;
  height: 30px;
  background: url("/images/solution/ic-arrow-slider-right.png") no-repeat center center;
  background-size: contain;
}

/* TAB */
.nav-tabs .nav-link.active {
  border-color: #ff5500;
  color: #ff5500 !important;
  font-weight: 700;
}

/* CUSTOM RADIO */
.custom-checkbox {
  position: relative;
  appearance: none;
  width: 24px;
  height: 24px;
  content: none;
  outline: none;
  margin: 0;
  background: url(/images/solution/ic-check-off.png) no-repeat center center;
}

.custom-checkbox:checked {
  appearance: none;
  outline: none;
  padding: 0;
  content: none;
  border: none;
}

.custom-checkbox:checked::before {
  position: absolute;
  left: 0;
  color: green !important;
  content: "" !important;
  background: url(/images/solution/ic-check-on.png) no-repeat center center;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

/* FIX Accordion */
.collapse {
  visibility: visible !important;
}

/* FIX Slick in Modal */
.wrap-cover-letter-ai-slick {
  opacity: 0;
  transition: all 0.3s;
}

.wrap-cover-letter-ai-slick.open {
  opacity: 1;
}

div.modal-content,
div.modal-dialog {
  transition: width 5s;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 6px;
  height: 6px;
  background: #ccc;
  opacity: 0.5;
  margin: -3px 0 0 -3px;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #ff5500;
  opacity: 1;
}

/***new page***/
.n-layout {
  width: 1294px;
  flex-shrink: 0;
}
.n-layout .l-left {
  width: 750px;
}
.n-layout .l-top-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 130px;
  color: #333;
}
.n-layout .l-top-title.mb50 {
  margin-bottom: 50px;
}
.n-layout .l-top-title.mb100 {
  margin-bottom: 100px;
}
.n-layout .l-top-title span {
  display: inline-block;
  position: relative;
}
.n-layout .l-top-title span:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 9px;
  border-radius: 3px;
  background-color: #c6e5d3;
  z-index: -1;
}
.n-layout .l-form-line + .l-form-line {
  margin-top: 90px;
}
.n-layout .l-form-line > label {
  position: relative;
  font-size: 26px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 0 5px;
  font-weight: 700;
}
.n-layout .l-form-line > label span {
  font-size: 14px;
  color: rgba(4, 7, 35, 0.5);
  margin-top: 4px;
  margin-left: 13px;
}
.n-layout .l-form-line > label:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 1px;
  background-color: #4f4f4f;
  transform: rotate(-38deg);
  left: -5px;
}
.n-layout .l-form-line > label.essential:before {
  background-color: #ff3b14;
}
.n-layout .l-form-line textarea {
  height: 90px;
  font-size: 14px;
}
.n-layout .l-form-line textarea::placeholder {
  font-size: 14px;
}
.n-layout .l-form-line .custom-select-wrap {
  margin: 0 -25px;
  display: flex;
}
.n-layout .l-form-line .custom-select {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  width: 150px;
  margin: 0 25px;
}
.n-layout .l-form-line button,.n-layout .l-form-line .button-type {
  border-style: dashed;text-align: center;cursor: pointer;
}
.n-layout .l-form-line button span,.n-layout .l-form-line .button-type span {
  display: inline-flex;
  align-items: center;
}
.n-layout .l-form-line button span i,.n-layout .l-form-line .button-type span i {
  width: 12px;
  height: 12px;
  position: relative;
  margin-right: 8px;
}
.n-layout .l-form-line button span i:before,.n-layout .l-form-line .button-type span i:before {
  content: "";
  width: 2px;
  height: 12px;
  background-color: #aeaeae;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.n-layout .l-form-line button span i:after,.n-layout .l-form-line .button-type span i:after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #aeaeae;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.n-layout .l-right {
  width: 380px;
}
.n-layout .l-right .l-intro {
  background-color: #0ac681;
  color: #fff;
  border-radius: 10px;
  padding: 28px 0 0px 62px;
  display: flex;
  align-items: center;
}
.n-layout .l-right .l-intro.green {
  background-color: #7cc918;
}

.n-layout .l-right .l-intro.blue {
  background-color: #1ab9bb;
}

.n-layout .l-right .l-intro.orange {
  background-color: #ff9000;
}

.n-layout .l-right .l-intro.green img{margin-bottom:-6px}

.n-layout .l-right .l-intro dl {
	flex-shrink: 0;
	margin-right: 20px;
	width: 160px;
	word-break: keep-all;margin-bottom:30px
}

.n-layout .l-right .l-intro.green dl{width:168px}
.n-layout .l-right .l-intro.blue dl{width:175px}
.n-layout .l-right .l-intro.orange dl{width:175px}

.n-layout .l-right .l-intro.orange dl dt:before  {background-color: #ffb755}
.n-layout .l-right .l-intro.green dl dt:before  {background-color: #a7ea4d}
.n-layout .l-right .l-intro.blue dl dt:before  {background-color: #1ed5d5}

.n-layout .l-right .l-intro dl dt {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  position: relative;
}
.n-layout .l-right .l-intro dl dt:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #85e3c0;
  left: -62px;
  top: 8px;
}
.n-layout .l-right .l-intro dl dd {
  font-size: 13px;
  font-weight: 500;line-height:18px
}
.n-layout .l-right .l-intro-summary {
  width: 380px;
  min-height: 700px;
  margin-top: 25px;
  position: relative;
}
.n-layout .l-right .l-intro-summary .l-fixed-inner {
  position: relative;
  width: 380px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 100px 10px 75px 50px;
  word-break: keep-all;

}
.n-layout .l-right .l-intro-summary .l-fixed-inner:after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #ff4f2e;
  position: absolute;
  top: 59px;
  left: 50px;
}
.n-layout .l-right .l-intro-summary p {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.8;
}
.n-layout .l-right .l-intro-summary p .spc-txt {
  color: #afafb3;
      opacity: 0.3;
}
.n-layout .l-right .l-intro-summary p .spc-txt.active {
  color: #ff0000;
      opacity: 1.0;
}
.n-layout .l-right .l-intro-summary p + p {
  margin-top: 54px;
}
.n-layout .l-right .l-intro-summary.n-fixed .l-fixed-inner {
	position: fixed;
	left: 50%;
	margin-left: 267px;
	top: 100px;
	padding-right: 20px;
	word-break: keep-all;
}
.n-layout-tab {
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
}
.n-tab li a {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 23px;
  font-size:20px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}

.n-tab li a span {
  position: relative;
  height: 100%;
  line-height: 68px;
}
.n-tab li a.active {
  color: #000 !important;
}
.n-tab li a.active span:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #000;
  bottom: 0;
  left: 0;
  position: absolute;
}
.n-button-group {
  border-bottom: 1px solid #e3e3e3;
}
.n-button-group .n-layout {
  height: 68px;
  display: flex;
  align-items: center;
  padding-left:5px;
}
.n-button-group .n-layout button {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  height: 30px;
  border-radius: 14px;
  padding: 0 15px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.n-button-group .n-layout button:hover {
  opacity: 0.8;
}
.n-button-group .n-layout button + button {
  margin-left: 5px;
}
.n-button-group .n-layout button.type-1 {
  background-color: #ff8920;
  color: #fff;
}
.n-button-group .n-layout button.type-2 {
  background-color: #527eff;
  color: #fff;
}
.n-button-group .n-layout button.type-3 {
  border: 1px solid #d7d7d7;
}
.n-button-group .n-layout button.type-3:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.n-slide-group {
  position: relative;
  border-bottom: 4px solid #000;
}
.n-slide-group .btn-more {
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 30px;
  color: #fff;
  font-weight: 700;
}
.n-slide-group .btn-more span {
  display: inline-flex;
  align-items: center;
}
.n-slide-group .btn-more i {
  width: 12px;
  height: 12px;
  position: relative;
  margin-right: 8px;
  display: inline-block;
  vertical-align: -1px;
}
.n-slide-group .btn-more i:before {
  content: "";
  width: 2px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.n-slide-group .btn-more i:after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.n-slide-group .btn-more.active i:before {
  content: none;
}
.n-slide-group .n-layout {
  /*position: relative;*/
  max-height: 320px;
  overflow: hidden;
  transition: all 1s;
}
.n-slide-group .normal-group {
  padding: 18px 26px 18px 26px;
  position: relative;
}
.n-slide-group .normal-group ul li {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  min-height: 35px;
  display: flex;
  align-items: center;
  padding: 7px 14px;
    line-height: 15px;
  + li {
    margin-top: 5px;
  }
}
.n-slide-group .normal-group ul li .title {
  font-size: 12px;
  font-weight: 700;
  color: #303030;width: 108px;
}
.n-slide-group .normal-group.type-2 {
  &:before {
    content: "";
    position: absolute;
    width: calc(100% - 58px);
    left: 29px;
    top: -1px;
    height: 1px;
    /*background-color: #dadede;*/
  }
}
.n-slide-group .normal-group.type-2 ul li {
  background-color: #eceeee;
  
}
.n-slide-group .normal-group.type-2 ul li .title {
  color: rgba(48, 48, 48, 0.6);
}
.n-slide-group .scroll-box .title-group {
  margin-bottom: 18px;
}
.n-slide-group .scroll-box .title-group h3 .num {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #9f9f9f;
  background-color: #adadad;
  line-height: 13px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  margin-right: 8px;
}
.n-slide-group .scroll-box {
  width: calc(100% / 4);
  padding:0px 20px 23px 20px;
  max-height: 560px;
  overflow-y: auto;
  border-right: 1px solid #dcdcdc;
  transition: all 0.3s;
}

.n-slide-group .scroll-box.off {
	overflow-y: hidden;
}

.n-slide-group .scroll-box.n3 {
  width: calc(100% /3); 
}

.n-slide-group .scroll-box.n2 {
  width: calc(100% /2); 
}

.n-slide-group .scroll-box.n3 .tit-fixed{width:316px}

.n-slide-group .scroll-box.n2 .tit-fixed{width:500px}

.n-slide-group .scroll-box .title-group h3 .title {
  font-size: 17px;
  font-weight: 700;
}
.n-slide-group .scroll-box .keyword-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background-color: #f1f1f1;
  padding: 0 10px;
}
.n-slide-group .scroll-box .keyword-box .toggle button {
  position: relative;
  width: 45px;
  height: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.n-slide-group .scroll-box .keyword-box .toggle button + button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 1px;
  height: 10px;
  background-color: #525252;
  vertical-align: middle;
}
.n-slide-group .left {
  width: 215px;
  background-color: #f5fafa;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;    overflow-y: auto;
}
.n-slide-group .right {
  width: calc(100% - 215px);
}
.n-layout *::-webkit-scrollbar {
  width: 5px;
}
.n-layout *::-webkit-scrollbar-track {
  background-color: #fff;
}
.n-layout *::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
}
.n-layout * .keyword-box .search,.n-layout * .keyword-box .nor-search{  
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.n-layout * .keyword-box .search img,.n-layout * .keyword-box .nor-search img{
	margin-right:4px;width:12px
}
.n-slide-group .scroll-box .scroll-wrap ul li {
  padding: 15px 0;
  /* border-top: 1px solid #ebebeb;*/
}
.n-slide-group .scroll-box .scroll-wrap ul li a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:7;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 13px;    text-underline-position: under;
}

.n-slide-group .scroll-box .scroll-wrap ul li a:hover {
  text-decoration: underline;text-decoration-color:#7a7a7a
}
.n-slide-group .scroll-box .scroll-wrap ul li .point {
  font-size: 14px;
  color: #fe6c00;
  font-weight: 700;
  display: block;
  margin-bottom: 6px; 
}

.n-slide-group .scroll-box .scroll-wrap ul li.no-data{
text-align:center;padding-top:80px
}

.n-slide-group .n-layout.active {
  max-height: calc(100vh - 200px)
}
.n-slide-group .n-layout.active .scroll-box {
  max-height: calc(100vh - 200px)
}
.n-deco-group {
  margin-top: 50px;
}
.deco-title {
  width: 160px;
  height: 40px;
  background-color: #1db8c1;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px 6px 16px 6px;
  margin-bottom: 10px;
  box-shadow: 6px 0 14px rgba(0, 0, 0, 0.12);
  position: relative;
}
.deco-title.type-2 {
  width: 100%;
  background-color: #fff;
  color: #0ac681;
  justify-content: flex-start;
  padding-left: 38px;
}
.deco-title.type-2:before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("/images/solution/n-ico-radio-off.png") center center no-repeat;
  position: absolute;
  left: 13px;
  top: 50%;
  margin-top: -9px;
}
.deco-title.type-2.select {
  padding-right: 38px;
}
.deco-title.type-2.select:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 14px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.radio-group {
  position: relative;
}
.radio-group .select-list {
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 5px 0;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.radio-group .select-list > div > a {
  display: block;
  padding: 10px 20px;
  font-weight: 500;
  transition: color 0.3s;
}
.radio-group .select-list > div > a:hover,
.radio-group .select-list > div > a.active {
  color: #0ac681;
}
.normalInput {
  position: absolute;
  z-index: -1;
}
.normalInput + .deco-title {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 40px;
}
.normalInput:checked + .deco-title {
  background-color: #0ac681;
  color: #fff;
  &:before {
    background-image: url("/images/solution/n-ico-radio-on.png");
  }
}
.normalInput:checked + .deco-title.type-2.select:after {
  border-color: #fff;
}
.normalInput:checked + .deco-title + .select-list {
  display: block;
}
.n-deco-group .left {
  width: 330px;
}
.n-deco-group .right {
  width: 915px;
}

.n-deco-group .right.p100 {
  width: 100%;
}

.n-deco-group .deco-box {
  width: 330px;
  height: 396px;
  background: url(/images/solution/n-image02.png) center center no-repeat;
}
.n-deco-group .deco-box .title {
  height: 95px;
  display: flex;
  align-items: center;
  padding-left: 80px;
}
.n-deco-group .deco-box .title p {
  font-size: 13px;
  font-weight: 500;
  .point {
    color: #5a00ff;
  }
}
.n-deco-group .deco-box .btn-group {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 28px;
}
.n-deco-group .deco-box .btn-group button {
  width: 123px;
  height: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  color: #1c4395;
  margin: 7px;
  box-shadow: 6px 0 14px rgba(0, 0, 0, 0.12);
}


.n-deco-group .deco-box .btn-group button.wid100 {width:100%}

.n-deco-group .deco-box .btn-group button span {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  height: 18px;
}
.n-deco-group .deco-box .btn-group button span .txt {
  font-style: normal;
  transition: all 0.3s;
}
.n-deco-group .deco-box .btn-group button i {
  width: 5px;
  height: 10px;
  background: url(/images/solution/ico-arrow.png) center center no-repeat;
  margin-right: 5px;
}
.n-deco-group .deco-box .btn-group button:hover span .txt {
  transform: translateY(-21px);
}
.n-deco-group .editor {
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    height: 500px;
    width: 100%;
    padding: 15px 20px;
    letter-spacing:0px;
    font-size: 14px;
}

.more-layer {
	position: absolute;
	left: 50%;
	top: 55px;
	transform: translateX(-50%);
	background-color: #fff;
	width: 535px;
	height: 225px;
	overflow: hidden;
	border: 4px solid #1db8c1;
	border-radius: 10px;
	z-index: 10;
	display: none;
	box-shadow: 3px 3px 10px -2px #5f5f5f;
}

.more-layer.detail-text{    

	width: fit-content;
	    max-width:540px;
    min-width: 340px;
    height: initial;
    min-height:50px;border: 3px solid #fe6c00;    transform: initial;
    left: initial;
    top: initial;right:-50px;}
.more-layer.detail-text dl dd {width:fit-content;font-size:13px}

.more-layer.detail-text .x-shape {
    right: 0px;
    top: 0px;
}

.more-layer.detail-text dl {
    padding:20px 28px 5px 20px
}

.more-layer.left-pos1{left:247px}
.more-layer.left-pos2{left:247px}
.more-layer.left-pos3{left:247px}
.more-layer.left-pos4{left:60px}

#searchLayer,.searchLayer{top:60px;}
#searchLayer.left-pos1{left:404px}
#searchLayer.left-pos2{left:673px}
#searchLayer.left-pos3{left:943px}
#searchLayer.left-pos4{left:1150px}


#nor-searchLayer1{left:404px}
#nor-searchLayer2{left:763px}
#nor-searchLayer3{left:1123px}

.more-layer.type-2 {
  height: 294px;
}
.more-layer.type-3 {
  width: 510px;
  height: auto;
}
.more-layer.type-4 {
  border: 1px solid #a1a1a1;
  box-shadow: 12px 0 26px rgba(0, 0, 0, 0.2);
  height: auto;
  min-width: 380px;
  width: auto;
}

.more-layer dl {
  padding: 20px 15px;
}
.more-layer dl dt {
  margin-bottom: 15px;
}
.more-layer dl dt .main-title {
  font-size: 16px;
  font-weight: 700;
  color: #fe6c00;
  border-bottom: 2px solid #feb57f;
  margin-right: 7px;
}
.more-layer dl dt .sub-title {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  color: #000;
}
.more-layer dl dd {
  width: 500px;
  font-size: 12px;
}
.more-layer dl dd .point {
  display: inline-block;
  background-color: #ffd6b2;
  margin-top: 3px;
}
.more-layer .search-inner {
  text-align: center;
  padding: 28px 25px;
}
.more-layer .search-inner p {
  font-size: 15px;
  margin-bottom: 18px;
}
.more-layer .search-inner .input-line {
  display: flex;
  align-items: center;
}
.more-layer .search-inner .input-line span {
  font-size: 12px;
  font-weight: 700;
  color: #0ac681;
  min-height: 26px;
  border: 2px solid #0ac681;
  line-height: 22px;
  padding: 0 15px;
  border-radius: 13px;
  margin-right: 9px;
}
.more-layer .search-inner .input-line input {
  height: 26px;padding:0px 7px;
  border-bottom: 1px solid #ddd;
}

.x-shape {
  display: block;

  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.x-shape::before,
.x-shape::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 7px;
  width: 50%;
  height: 2px;
  background-color: black;
}

.x-shape::before {
  transform: rotate(45deg);
}

.x-shape::after {
  transform: rotate(-45deg);
}

.info-more {
  border-radius: 100%;
  transition: all 0.3s;
  &:hover {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  }
}

.normal-num {
  display: inline-block;
  width: 13px;
  height: 13px;
  /*border: 1px solid #9f9f9f;*/
  background-color: #adadad;
  line-height: 13px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  margin-right: 10px;
  background-size: cover;
  background-repeat: none;
}
.normal-num.num-1 {
  background-image: url("/images/solution/num-1.png");
}
.normal-num.num-2 {
  background-image: url("/images/solution/num-2.png");
}
.normal-num.num-3 {
  background-image: url("/images/solution/num-3.png");
}
.normal-num.num-4 {
  background-image: url("/images/solution/num-4.png");
}
.w16{width:16px}

.n-layout .l-form-line label span.choice{margin-left:3px;color:#b1b1b1;font-weight:400}
.n-layout .l-form-line label span.red{margin-left:3px;color:red;font-weight:400}

.app-sel-rst img{width: 20px; margin-right: 3px}
.app-sel-rst {display: inline-block; padding: 8px 16px; border: 1px solid #ff860f; border-radius: 20px;margin: 5px; font-size: 13px; font-weight: 500; color: #ff8610;}
.remove-sel-btn{position:relative}
.remove-sel-btn img{position: absolute;margin-top:16px;right: 5px; padding: 5px; cursor: pointer; z-index: 10; width: 40px;}
.remove-sel-btn.v2 img{right: initial;left: 704px;top: -74px;}

.spc-txt .black{color:#000000}
.popup .pop_btn1 a.w200px{width:200px}

.popup ul li.searchResult#searchAppResult ul.part_list li span.title { margin-left: 10px;font-size:13px}
#section_name .articleList{width: calc(100% - 50px); margin: 0 auto;}
#section_name .articleList .article_txt{display: inline-block; padding: 8px 16px; border: 1px solid #ff860f; border-radius: 20px;margin:5px;font-size: 12px; font-weight: 500; color: #ff8610;cursor: move;}
#section_name .articleList .article_txt .num{font-size:12px;font-weight:700;margin-right:3px}

.disabled{opacity:0.4}

.bg-cover{background-size: cover;}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translateZ(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 1;
		transform: translateZ(0);
	}
	to {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		
	}
}

@keyframes fadeIn {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.n-layout .l-right .l-intro-summary p .spc-txt  {position: relative;display:inline-block}
.n-layout .l-right .l-intro-summary p .spc-txt.active {
	
	animation: fadeInLeft 1s;
}

.n-layout .l-right .l-intro-summary p .spc-txt.deActive {

	animation: fadeInRight 1s;
}

.n-layout .l-right .l-intro-summary p .spc-txt .sel{word-break: keep-all;display: inline-block;}

.popup ul li.searchResult#searchAppResult ul li.biglist{display: inline-block;width: calc(25% - 3px);vertical-align: top;box-sizing: border-box;float: initial;}

.popup ul li.searchResult { padding: 30px}
.popup .pop-close{position: absolute; top:5px; right:5px; background: url(/images/admin/renewal/icon-close.svg) center no-repeat; background-size: 20px; width: 25px; height: 25px; cursor: pointer;}

.pb100{padding-bottom: 100px;}

.popup .pop_btn1 a {
   border-radius:4px;
    font-size: 14px;
}

.popup ul li.searchResult#searchAppResult ul.part_list li {
    float: initial;
    width: 49%;
    padding: 3px 0px 3px 10px;
    border: initial;
    border-radius: initial;
    display: inline-block;
    vertical-align: top;
}

.popup ul li.searchResult#searchAppResult ul.part_list li span.desc{margin-left:12px;font-size:12px;font-weight:300;letter-spacing:-1px}


.popup ul li.searchResult#searchAppResult ul.part_list li label {
    margin-top:3px;
}

.experience-rst{display:block}
.experience-rst.active{display:inline-block}
.mtm3{margin-top: -3px;}

.fon-han{font-family: 'Pretendard';}

.pos_rel{position:relative}

.w_pos{position:absolute;top:-40px;left:0px}


.view-ai,.view-normal{width: 100%; display: inline-flex;animation: fadeIn 0.8s;transition: all 0.2s;/*position:relative*/}

.view-ai.hide,.view-normal.hide{display: none}
.d-body{position:absolute;  
    left: 50%;
    margin-left: -100px;
    top: 110px;
}
.d-body span { display: inline-block; width: 12px; height: 40px; border-radius: 2px; animation: loading-device 1.2s 0s linear infinite; margin: 3px;box-shadow:0px 0px 10px -2px #497ba5 }
.d-body span:nth-child(1) {  /*loading의 자식 중 첫번째 span*/
	/*nth-child : 형제 사이에서의 순서*/
	animation-delay: 0s;
	background-color: #87cdc9;
}

.d-body span:nth-child(2) {
	animation-delay: 0.15s;
	background-color: #87cdc9;
}

.d-body span:nth-child(3) {
	animation-delay: 0.3s;
	background-color: #87cdc9;
}

.d-body span:nth-child(4) {
	animation-delay: 0.45s;
	background-color: #87cdc9;
}

.d-body span:nth-child(5) {
	animation-delay: 0.6s;
	background-color: #87cdc9;
}
.d-body span:nth-child(6) {
	animation-delay: 0.75s;
	background-color: #87cdc9;
}

@keyframes loading-device {        /*loading이라는 keyframe 애니메이션*/
    0%,                      /* 0, 50, 100은 구간*/
    100% {
      opacity: 0.1;            /* 안보였다가 */
      transform: scale(0.4); /*transform의 scale로 요소를 확대 또는 축소할 수 있음*/   
    }
    50% {
      opacity: 1;             /* 보였다가 */
      transform: scale(1.2); /* 1.2배 */
    }
  } 

.loading_icon_custom {
  position:absolute;
  width: 80px;
  height: 80px;
  border: 12px solid rgba(255,255,255,.7);
  border-radius: 50%;
  border-top-color: #77c8ca;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
   z-index:300;
   left:50%;
   top:50%;
   margin-left:-40px;
   margin-top:-40px;
}

.load-data{width: 100%; display: inline-block; text-align: center; margin-top: 120px; font-size: 16px; color: #14c0ca;}
.load-data img.ld-img{vertical-align:middle;margin-right:5px;    width: 20px; margin-top: -2px; }

.storage-btn{    position: absolute;
    top: -180px;
    right: 0px;
    background-color: #4f4f4f;
    padding: 13px 24px;
}

.view_all_title {
       transition: all 0.3s;
    border-radius: 2px;
    background-color: #fe6c00;
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    text-align: center;
    padding: 4px 5px;
    vertical-align: middle;
    text-decoration: none;
  
    display: block;
    width: 56px;
    margin: 20px auto;
    cursor: pointer;
}

.view_all_title.w80{width:80px}

.scroll-box .tit-fixed{position: absolute; width: 224px; background-color: #fff;padding-top: 23px;padding-bottom:10px;}

.scroll-box 	.scroll-wrap{padding-top:100px}

.green-w{color:#31c54b}

/*
.highlight { color: #ff1b1b; background-color: #fbffa3; font-weight: 500; border-radius: 2px; display: inline-block; }
*/

 .highlight {   display: initial;
    background-color: #ffd6b2;
    margin-top: 3px;}
.ex_view_none .loading_s_layer {margin: 0 auto; width: 230px; padding-left: 20px; color: #ff6600; font-weight: 500; padding-top: 80px; font-size: 14px;}
.ex_view_none .loading_s_layer .loading_s{display: inline-block; vertical-align: middle; margin-right: 10px; margin-top: -2px; }

.load-data .loading_s_layer {margin: 0 auto; width: 230px; padding-left: 0px; color: #ff6600; font-weight: 500; padding-top: 10px; font-size: 16.5px;}
.load-data .loading_s_layer .loading_s{display: inline-block; vertical-align: middle; margin-right: 10px; margin-top: -2px; }


.detail-text .view_all {
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding: 4px 0px;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    margin: 14px auto;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
    border-bottom: 1px solid #797979;
    font-weight: 600;margin-bottom: 0px;
}

.detail-text .view_all.fi{color: #FF5722; border-bottom: 1px solid #FF5722;}
.detail-text .view_all.ml20{margin-left:20px;}
#cursor_p{position:absolute;display:none;z-index:100}

.key_recom{margin-top: 20px; border-top: 1px dotted #000; padding-top: 20px; text-align: center; width: 328px;}
.key_recom li{display:inline-block}

.key_recom .keywordBox p { display: inline-block; border: 1px solid #c9c9c9; border-radius: 20px; margin-right:6px; margin-bottom: 8px; font-size: 12px; padding: 2px 10px; }

.key_recom .keywordBox p.active{ background-color:#ed1a3b; border:1px solid #ed1a3b;}
.key_recom .keywordBox p.active a{ color:#fff;}

.key_recom .keywordBox p.active:hover a{color:#ffffff}

.key_recom .keywordBox p:hover a{color:#ed1a3b}


#ajaxLayer,.ajaxLayer  {
	position: absolute;
	z-index:1999;
	display:none;
}



 .light {
	width: 50%;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}


#progress {
	appearance: none;
	block-size: 2px;
	width: calc(100%);
}



#progress::-webkit-progress-bar {
	background: #FFF;
	border-radius: 0px;
}

#progress::-webkit-progress-value {
	border-radius: 0px;
	background: black;
}

.progress {
	display: flex;
	justify-content: center;
}

.progress_name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	margin-bottom: 5px;
	font-family: "pretendard-B";
}

.progress_name span{color:#000}

#progress_percent {
	position: relative;
	left: -440px;
	font-size: 14px;
}


.text-box {
	font-family: "NanumMyungjo";
	margin-top: 50px;
	line-height: 1.6em;
	letter-spacing: -0.05em;
	margin-left: 10px;
	font-size: 16px;    color: #000;
}

.hr-div {
	width: 35px;
	margin-top: 30px;
	margin-left: 10px;
}


.typing{min-height: 360px; margin-bottom: 220px;  margin: 0 auto;font-size:17px;

width: 100%;
    border: 1px solid #cbcbcb;
  padding:20px;font-size:14px


}

.typing.ing::after {
  content: '';
  margin-left: .6rem;
  border-right: 1.5px solid #777;
  animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
  from { border-right: 1.5px solid #777 }
  to { border-right: 1.5px solid #f3f3f3; }
}


.font_style1{
    font-size: 15px;
    line-height: 170%;
    letter-spacing: 0px;
    font-weight: 300;
    color: #000;
}

.gpt_alert{padding: 50px;
    text-align: center;
    word-break: keep-all;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;}

	
.dis_none_abs{display:none;position:absolute;z-index:3}

#service_ready{width:460px;z-index:1002}

.detail-text h3{font-size: 16px; font-weight: 700; color: #fe6c00; margin-right: 7px; display: block; padding: 10px 0px 0px 20px}

.no-sel{color: #a5a5a5; font-weight: 400 !important;cursor:default }
.no-sel.cursor-pointer { cursor:pointer }
.chat-grp-memo{display:block;font-size:18px;font-weight:700;line-height:30px}
.chat-grp-memo span{color:#ff6600}
.mtm8{margin-top:-8px}

.n-button-group .n-layout button.hide{display:none}
.n-button-group .n-layout button.not{cursor:default}
.n-button-group .n-layout button.not:hover{opacity: 1.0;}

.ml20{margin-left:20px}
.word-cnt{padding: 5px 0px 0px 5px; color: #31b5bd; font-weight: 500; font-size: 13px;position: absolute; right: 10px; top: -30px; }
.word-cnt span{color:#f74f4f}

.hr-div hr{height: 1px; background-color: black; border: none;display: block !important;}
.chat-gpt-loading-foot{display: flex;align-items: center; justify-content: center;margin-top:30px}
.chat-gpt-loading-foot video{width:-webkit-fill-available;height: auto;outline: 2px solid transparent;outline-offset: -1px;}



/*
	width: calc(100% - 60px);
    height: calc(100vh - 60px);
    position: absolute;
    background-image: url(https://s3.ap-northeast-2.amazonaws.com/educe.static/common/image/bg_loading.png);
    padding-top: 60px;
    padding-right: 40px;
    padding-left: 40px;
    left: 30px;
    top: 30px;
    z-index: 998;
*/

.main_container {
display:none;
	    width: calc(100% - 80px);
    height:100vh;
    position: absolute;
   
    top:0px;
    left: 50%;
    z-index: 999;
    overflow: hidden; 
    border-radius: 5px;
    max-width: 1300px;
    transform: translate(-50%, 0%);
    max-height: 1024px;

}

.main_container .desc{ position: absolute;left:0px;top:0px;padding:60px 40px;width:100%}

.main_container  video{height: 100%; width: 100%;text-align:center; object-fit: cover; outline: 1px solid #d4edee; outline-offset: -1px;}

.ai-title{background-color: #f1f1f1; padding: 5px 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #e5e5e5;}


.typing.scroll-height1{overflow-y: scroll; height: calc(100vh - 400px)}


.modal-dialog-scrollable .modal-body.write {
    overflow-y: hidden;    overflow-x: hidden;
}



.view-keyword{width:100%;    display: flex}
.view-keyword.hide {display:none}

.n-slide-group .view-keyword .scroll-box.sb1 {
    width:630px;
    padding: 0px 20px 23px 20px;
    max-height: 560px;
    overflow-y: auto;
    border-right: 1px solid #dcdcdc;
    transition: all 0.3s;
}

.n-slide-group .view-keyword .scroll-box.sb2 {
    width:100%;
    padding: 0px 20px 23px 20px;
    max-height: 560px;
    overflow-y: auto;
    border-right: 1px solid #dcdcdc;
    transition: all 0.3s;
}

.view-keyword .search-form{display: flex ; margin: 10px 0px; justify-content: space-between; width: 100%;box-sizing: content-box;column-gap:6px}
.view-keyword .search-form .input{    border: 1px solid #ddd; height: 40px; padding: 0px 15px; line-height: 38px; width: 100%;}
.view-keyword .search-form button.btn_ai_search{    height: 40px; padding: 0px; line-height: 38px; text-align: center; width: 70px; color: #878787; font-weight: 600; border: 1px solid #e7e7e7; background-color: #f1f1f1;font-size:13px }

.view-keyword .help{padding:20px;display:flex;    word-break: keep-all; line-height: 22px;    border-top: 1px solid #0ac681;margin-top:28px;  position: relative;}
.view-keyword .help img{width: 22px; height: 22px; vertical-align: top; margin-top:1px; margin-right: 8px;margin-left:15px}
.view-keyword .help span{font-weight:400;font-size: 14px;color:#ff5500}

.view-keyword .help .circle{    position: absolute; width: 8px; height: 8px; background-color: #0ac681; border-radius: 100%; top: -4.5px; left: 0px;}

.view-keyword .scroll-box .tit-fixed {
  padding-bottom:0px;
    width: 360px}


.view-keyword .scroll-box  .exam_list{     width: 322px;
    border: 1px solid #ddd;
    margin: 220px 20px 20px 20px;
    padding: 20px 0px;
	}
.view-keyword .scroll-box  .exam_list li{text-align:center;font-size:14px;    padding: 3px 0px;color:#35333F}
.view-keyword .scroll-box  .exam_list li p{color:#35333F}
.view-keyword .scroll-box  .exam_list li:hover {
  background-color:#FBFBFB;
}

.view-keyword .scroll-box .tit-fixed .scroll-line1{background-color: #ddd; height: 1px; display: block; line-height: 1px; width: calc(100% - 38px); margin-left: 20px;}

.view-keyword .scroll-box.sb2 .kw-help{    text-align: center; display: flex ; justify-content: center; align-items: center; height: 300px; font-size: 14px; font-weight: 400; letter-spacing: 0.5px;color:#959595}

.view-keyword .scroll-box.sb2 .tit-fixed {
    padding-bottom: 0px;
    width:635px
}

.view-keyword .scroll-box.sb2  .scroll-wrap {
    padding-top: 60px;
}
