
@font-face {
	font-family: 'SUITE';
	font-weight: 700;
	font-style: normal;	
	font-display: swap;
	src: url(../font/Suite/SUITE-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'SUITE';
	font-weight: 500;
	font-style: normal;
	src: url(../font/Suite/SUITE-Medium.woff2) format('woff2');
}

@font-face {
	font-family: 'SUITE';
	font-weight: 300;
	font-style: normal;
	src: url(../font/Suite/SUITE-Light.woff2) format('woff2');
}