@charset "utf-8";

/* web font */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap&subset=korean');
* {
    box-sizing: border-box;
}

#gameHtml {
    height: 100%;
}

#gameBody .hide {
    display: none
}

#wrapGame {
    background: url(/images/game/img_bg_blue.png) left top no-repeat;
    background-size: cover;
}

#wrapInterview {
    width: 100%;
    background: url(/images/game/img_bg_blue.png) left top no-repeat;
    background-size: cover;
}

#wrapHd {
    position: relative;
    width: 100%;
    height: 100px;
    padding-top: 30px;
    background: url(/images/game/bg_gnb_step1.png) no-repeat center bottom;
    color: #fff;
}

#wrapHd.step6 {
    background: url(/images/game/bg_gnb_step6.png) no-repeat center bottom;
}

.header {
    width: 1120px;
    margin: 0 auto;
}

.header {
    min-width: 1120px;
}

.header ul li {
    float: left;
    width: 160px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Noto Sans KR', 'NanumSquare';
}

.header ul li p {
    width: 160px;
    height: 28px;
    font-size: 11px;
    opacity: 0.5;
    font-family: 'Noto Sans KR', 'NanumSquare';
}

.header ul li:first-child p {
    opacity: 1;
}

.btn_setting {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
}

.webgl-content {
    min-height: 920px;
}

#unityContainer {
    margin: 0 auto;
    box-shadow: 1px 1px 6px 1px #5f5f5f;
}

.footer_inface {
    width: 100%;
    height: 80px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.footer_inface span {
    margin-left: 30px;
    font-family: 'Noto Sans KR', 'NanumSquare';
}

.phone {
    padding-left: 25px;
    background: url(/images/game/icon_exclamation2.png) left 3px no-repeat;
}

.cs_center {
    padding-left: 25px;
    background: url(/images/game/icon_headset.png) left 3px no-repeat;
}

@keyframes shadow-pulse-fs {
    0% {
        box-shadow: 0 0 0 0px #205671;
    }
    100% {
        box-shadow: 0 0px 0px 60px rgba(0, 0, 0, 0);
    }
}

.fs_help {
    background: url(/images/game/check_blue.png) 10px 8px no-repeat;
    display: none;
    position: fixed;
    left: 50%;
    right: 50%;
    margin-left: -200px;
    font-size: 14px;
    top: 0px;
    width: 400px;
    text-align: center;
    color: #1481b0;
    border: 1px solid #8eb5cc;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    padding: 2px 15px 5px 24px;
    background-color: #fff;
    font-weight: normal;
    font-family: 맑은 고딕;
    letter-spacing: -1px;
    animation: shadow-pulse-fs 0.8s infinite;
}

.fs_help img {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -3px
}

.game_select_title {
    font-family: 'NanumSquare';
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(0, 4, 25, 0.25);
    border-radius: 50px
}

#wrapGame #wrapHd #selected_game_title {
    text-align: center;
    font-size: 20px;
    margin-top: -20px
}

.button {
    display: inline-block;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    box-shadow: 0px 1px 5px 0px #857a7c;
    transition: all 0.3s;
}

.select_game_start {
    cursor: pointer;
    background: #2d3559 url(/images/btn_arr.png) no-repeat 118px 20px;
    background-size: 22px 20px;
    color: #fff;
    width: 160px;
    font-family: 'NanumSquare';
    font-size: 21px;
    padding: 18px 50px 15px 30px;
}

#unityContainer.ready {
    border: 1px solid #e7e7e7;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 6px 1px #5f5f5f;
}

#list_bnt {
    position: absolute;
    bottom: 22px;
    left: 50%;
    right: 50%;
    margin-left: -80px;
    display: none
}

#loading_pre {
    width: 100%;
    ;
    height: 720px;
    display: none;
    background: url(/images/game/img_BG.png) left top no-repeat;
    text-align: center;
    position: absolute;
    padding-top: 340px;
    z-index: 999
}

#loading_pre img {
    width: 170px;
    margin: 0 auto;
}

#unityContainer.ready #game_ready {
    width: 900px;
    margin: 0 auto;
}

#unityContainer.ready #game_ready .r_logo {
    width: 126px;
    margin: 0 auto;
}

#unityContainer.ready #game_ready .r_logo img {
    padding-top: 30px;
    text-align: center
}

#unityContainer.ready #game_ready .r_game_title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: 'NanumSquare';
    font-weight: 600;
    padding-top: 30px;
    color: #262626;
}

#unityContainer.ready #game_ready .r_game_title_desc {
    line-height: 25px;
    font-size: 17.5px;
    font-family: 'NanumSquare';
    font-weight: 700;
    padding-top: 30px;
    color: #707070
}

#unityContainer.ready #game_ready ul.r_game_help {
    line-height: 30px;
    font-size: 14px;
    font-family: 맑은 고딕;
    margin-top: 30px;
    padding: 20px 30px;
    color: #4d4d4d;
    border: 1px solid #d2d2d2;
    background-color: #fff
}

#unityContainer.ready #game_ready .r_game_ready_start {
    text-align: center;
    line-height: 25px;
    font-size: 17.5px;
    font-family: 'NanumSquare';
    font-weight: 600;
    padding-top: 30px;
    color: #393939
}

#unityContainer.ready #game_ready .r_game_ready_start strong {
    font-weight: 800;
}

#unityContainer.ready #game_ready .ready_btn {
    text-align: center;
    margin-top: 30px
}

#unityContainer.ready #game_select {
    width: 100%;
    margin: 0 auto;
    display: none
}

#unityContainer.ready #game_select .game_desc {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #cecece;
    font-size: 18px;
    font-family: 'NanumSquare';
    font-weight: 400;
    color: #717171
}

#unityContainer.ready #game_select .game_desc strong {
    font-size: 22px;
    font-weight: 600;
    color: #0d0d0d
}

#unityContainer.ready #game_select .game_desc span {
    font-weight: 400;
    color: #717171;
    margin: 0 10px
}

#unityContainer.ready #game_select .game_select_box {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px
}

#unityContainer.ready #game_select .game_select_box li {
    width: 186px;
    border: 1px solid #dbdbdb;
    background-color: #FFF;
    height: 280px;
    float: left;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 20px;
    ;
    position: relative
}

#unityContainer.ready #game_select .game_select_box li .use_done {
    position: absolute;
    left: 35px;
    top: 120px;
    z-index: 999;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #ff6600;
    background-color: #ff3300;
    border-radius: 50px;
    padding: 10px 20px
}

#unityContainer.ready #game_select .game_select_box li.off {
    opacity: 0.80;
    -moz-opacity: 0.80;
    cursor: default;
}

#unityContainer.ready #game_select .game_select_box li.on {
    border: 3px solid #31b0c2
}

#unityContainer.ready #game_select .game_select_box li.on:hover {
    border: 3px solid #2b9aaa;
    transition: all 0.3s;
    box-shadow: 1px 3px 8px 1px #2d9cac;
}

#unityContainer.ready #game_select .game_select_box li:nth-child(6n) {
    margin-right: 0px;
}

#unityContainer.ready #game_select .game_select_box li .game_sel_desc {
    height: 150px
}

#unityContainer.ready #game_select .game_select_box li .game_sel_desc h2 {
    text-align: center;
    padding: 15px 10px 5px 10px;
    font-size: 16px;
    color: #929292;
    font-weight: 400;
    font-family: 'Noto Sans KR';
}

#unityContainer.ready #game_select .game_select_box li.off .game_sel_desc h2 {
    color: #dbdbdb;
}

#unityContainer.ready #game_select .game_select_box li .game_sel_desc h2.info {
    padding: 10px;
    font-size: 14px;
    font-weight: 300
}

#unityContainer.ready #game_select .game_select_box li .game_sel_desc h3 {
    word-break: keep-all;
    text-align: center;
    font-size: 22px;
    color: #1c1c1c;
    font-weight: 700;
    font-family: 'Noto Sans KR';
}

#unityContainer.ready #game_select .game_select_box li.off .game_sel_desc h3 {
    color: #dbdbdb;
}

#unityContainer.ready #game_select .game_select_box li .game_icon {
    display: table;
    height: 100px;
    width: 100%
}

#unityContainer.ready #game_select .game_select_box li .game_icon .area {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#unityContainer.ready #game_select .game_select_box li .game_icon .use_cnt {
    color: #31b0c2;
    right: 10px;
    position: absolute;
    bottom: 6px;
    font-weight: 600
}

#unityContainer.ready #game_select .game_select_box li.off .game_icon .use_cnt {
    color: #9c9c9c;
    right: 10px;
    position: absolute;
    bottom: 6px;
    font-weight: 600
}

#unityContainer.ready #game_select .game_select_box li.off .game_icon .area {
    opacity: 0.30;
    -moz-opacity: 0.30
}

.step_pass_admin {
    position: absolute;
    right: 80px;
    top: 30px;
    border-radius: 20px;
    padding: 3px 15px 6px;
    color: #fff;
    cursor: pointer;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 6px 1px #363636;
    font-size: 12px;
    font-weight: 300;
    font-family: 맑은 고딕
}


/* modal 장치가이드 */

.wrap_modal_guide {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}

.cont_modal.cont_guide {
    width: 880px;
    height: 800px;
}

.cont_modal.cont_guide .body_modal {
    padding: 30px 30px 20px 30px;
}

.tab_menu>li {
    float: left;
    width: 25%;
    padding: 15px 0;
    background: #333C64;
    font-family: 'NanumSquare';
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.tab_menu>li.selected {
    background: #34BACC;
}

.tab_contents {
    padding-top: 20px;
    text-align: left;
    clear: both;
}

.tab_con2,
.tab_con3,
.tab_con4 {
    display: none;
}

.tit_guide {
    font-family: 'NanumSquare';
    font-size: 20px;
    font-weight: 500;
}

.img_guide {
    text-align: center;
}

.txt_guide p {
    margin-bottom: 10px;
    font-family: 'NanumSquare';
    font-size: 17px;
}

.txt_guide p>span {
    font-weight: 600;
}

.foot_email {
    color: #fff
}


/* modal */

.wrap_modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 130px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}

.cont_modal {
    position: relative;
    width: 550px;
    height: 580px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    outline: 0;
    box-shadow: 1px 1px 6px 1px #363636;
}

.hd_modal {
    position: relative;
    height: 60px;
    padding: 18px 0 0 25px;
    background: #34BACC;
    font-family: 'NanumSquare';
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}

.btn_close {
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}

.body_modal {
    padding: 35px 15px 40px 15px;
    text-align: center;
    font-size: 16px;
    color: #000419;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt70 {
    margin-top: 70px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.logo_loadings {
    text-align: center;
    width: 25px;
    height: 25px;
    border: 5px solid #d9f0f9;
    border-radius: 50%;
    border-top-color: #176d93;
    animation: spin_logo 1s ease-in-out infinite;
    -webkit-animation: spin_logo 1s ease-in-out infinite;
    margin: 0 auto;
}

@keyframes spin_logo {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin_logo {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.game-select {
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px -1px #696868;
}

.game-select ul.game-tab {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.game-select ul.game-tab li {
    width: 427px;
    height: 60px;
    line-height: 58px;
    font-weight: 500;
    font-family: 'NanumSquare';
    font-size: 20px;
    background-color: #333c64;
    color: #fff;
    display: inline-block;
    text-align: center
}

.game-select ul.game-tab li:first-child {
    width: 426px;
    background-color: #34bacc
}

.game-select .main-body {
    display: block;
    width: 100%;
    height: 660px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.game-select .main-body .step {
    display: none
}

.game-select .main-body .step.n1 {
    display: block;
    background: url(/images/game/game_select_top.png) center 30px no-repeat;
    padding-top: 150px;
    width: 920px;
    margin: 0 auto
}

.game-select .main-body .step.n1 h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'NanumSquare';
    line-height: 70px;
}

.game-select .main-body .step.n1 h2 {
    font-size: 17px;
    font-weight: 500;
    font-family: 'NanumSquare';
    line-height: 24px;
    color: #888888;
    word-break: keep-all;
    letter-spacing: 0.5px;
}

.game-select .main-body .step.n1 ul.desc {
    border: 1px solid #d6d6d6;
    margin-top: 30px;
    background-color: #fff;
    padding: 20px 40px 20px 42px;
    box-sizing: border-box;
}

.game-select .main-body .step.n1 ul.desc li {
    font-family: 'NanumSquare';
    box-sizing: border-box;
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    margin: 12px 0px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.game-select .main-body .step.n1 ul.desc li:before {
    content: '-';
    position: absolute;
    margin-left: -12px;
    font-weight: 500
}

.game-select .main-body .step.n1 ul.desc li:first-child:before {
    content: unset;
}

.game-select .main-body .step.n1 ul.desc li:first-child {
    content: unset;
    font-weight: 500;
}

.game-select .main-body .next-area {
    display: block;
    text-align: center;
    padding: 15px
}

.game-select .main-body .next-area.start {
    margin-top: 20px
}

.game-select .main-body .next-area span.help {
    font-weight: 500;
    font-family: 'NanumSquare';
    line-height: 30px;
    color: #000;
    display: block;
    margin-bottom: 20px
}

.game-select .main-body .btn-game-start {
    color: #fff;
    background-color: #333c64;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'NanumSquare';
    padding: 5px 60px 5px 40px;
    cursor: pointer;
    background: #2d3559 url(/images/icon/btn_arr20.png) right 12px center no-repeat
}

.game-select .main-body .btn-game-start:hover {
    background-color: #3d4778
}

.game-select .main-body .game_desc {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #cecece;
    font-size: 18px;
    font-family: 'NanumSquare';
    font-weight: 400;
    color: #717171;
}

.game-select .main-body .game_desc strong {
    font-size: 22px;
    font-weight: 600;
    color: #0d0d0d
}

.game-select .main-body .game_desc span {
    font-weight: 400;
    color: #717171;
    margin: 0 10px
}

.game-select .main-body .game_select_box {
    width: 1200px;
    margin: 26px auto;
    overflow: hidden;
}

.game-select .main-body .game_select_box li {
    width: 187px;
    border: 1px solid #dbdbdb;
    background-color: #FFF;
    height: 280px;
    float: left;
    margin-right: 15px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.game-select .main-body .game_select_box li .use_done {
    position: absolute;
    left: 35px;
    top: 120px;
    z-index: 999;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #ff6600;
    background-color: #ff3300;
    border-radius: 50px;
    padding: 10px 20px
}

.game-select .main-body .game_select_box li.off {
    opacity: 0.80;
    -moz-opacity: 0.80;
    cursor: default;
}

.game-select .main-body .game_select_box li.on {
    border: 3px solid #31b0c2
}


/*
.game-select .main-body .game_select_box li.on:hover{
	border:3px solid #2b9aaa;transition: all 0.3s;box-shadow:1px 3px 8px 1px #2d9cac;
}
*/

.game-select .main-body .game_select_box li:nth-child(6n) {
    margin-right: 0px;
}

.game-select .main-body .game_select_box li .game_sel_desc {
    height: 150px
}

.game-select .main-body .game_select_box li .game_sel_desc h2 {
    text-align: center;
    padding: 15px 10px 5px 10px;
    font-size: 16px;
    color: #929292;
    font-weight: 400;
    font-family: 'Noto Sans KR';
}

.game-select .main-body .game_select_box li.off .game_sel_desc h2 {
    color: #dbdbdb;
}

.game-select .main-body .game_select_box li .game_sel_desc h2.info {
    padding: 10px;
    font-size: 14px;
    font-weight: 300
}

.game-select .main-body .game_select_box li .game_sel_desc h3 {
    word-break: keep-all;
    text-align: center;
    font-size: 22px;
    color: #1c1c1c;
    font-weight: 700;
    font-family: 'Noto Sans KR';
}

.game-select .main-body .game_select_box li.off .game_sel_desc h3 {
    color: #dbdbdb;
}

.game-select .main-body .game_select_box li .game_icon {
    display: table;
    height: 100px;
    width: 100%
}

.game-select .main-body .game_select_box li .game_icon .area {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.game-select .main-body .game_select_box li .game_icon .use_cnt {
    color: #31b0c2;
    right: 10px;
    position: absolute;
    bottom: 6px;
    font-weight: 600;
    text-align: center;
    width: 180px;
    left: 0px;
}

.game-select .main-body .game_select_box li.off .game_icon .use_cnt {
    color: #9c9c9c;
    right: 10px;
    position: absolute;
    bottom: 6px;
    font-weight: 600
}

.game-select .main-body .game_select_box li.off .game_icon .area {
    opacity: 0.30;
    -moz-opacity: 0.30
}