
/* 01온보딩_01스플래시 */
.splash_wrap {height: 100vh;}
.splash_wrap .container {padding-top: 0;}
.splash_wrap .splash_section {flex: 1; display: flex; flex-direction: column; align-items: center;}
.splash_wrap .splash_section .logo { display: flex;  align-items: center;  justify-content: flex-start; width: 4.9rem; margin: auto; overflow: hidden; animation: logoStepAnimation 2s ease-in-out forwards;}
.splash_wrap .splash_section .logo .img { width: 21.9rem;  max-width: unset;}
.splash_wrap .splash_section .copyright {font-size: 1.3rem; line-height: 154%; text-align: center;color: #7c7c7e; padding-bottom: 1.7rem;}

@keyframes logoStepAnimation {
	0% { opacity: 0;}
	50% { opacity: 1; width: 4.9rem; }
	100% { opacity: 1; width: 21.9rem; }
}

/* 01온보딩_02인트로 */
.intro_wrap .container {padding-top: 0;}
.intro_wrap .intro_section { flex: 1; display: flex; flex-direction: column;  padding-top: 6.3rem;}
.intro_wrap .intro_swiper .item { display: flex; align-items: center;  justify-content: center;} 
.intro_wrap .intro_swiper .item .img {width: 100%;} 
.intro_wrap .intro_swiper .pagination { margin-top: 2rem;}

/* 01온보딩_04로그인 */
.login_wrap .login_section { padding-top: 11rem;}
.login_wrap .login_section .tit_box { display: flex; flex-direction: column;  align-items: center;   gap: 0.4rem;  margin-bottom: 2.2rem;}
.login_wrap .login_section .tit_box .tit { font-weight: 600; font-size: 2rem; line-height: 160%;  color: #000;}
.login_wrap .login_section .tit_box .desc { font-size: 1.2rem; line-height: 167%; color: #7c7c7e;}
.login_wrap .login_section .form_box .check_wrap {margin-top: 0.4rem;}
.login_wrap .login_section .sch_box {margin-top: 1.2rem; display: flex; align-items: center; justify-content: center; gap: 0.6rem;}
.login_wrap .login_section .sch_box .link {font-size: 1.1rem;line-height: 145%;color: #7c7c7e;}
.login_wrap .login_section .sch_box .dot {width: 0.3rem; height: 0.3rem; background: #adb2bb; border-radius: 50%;}
.login_wrap .login_section .sns_login { margin-top: 13rem;}

/* 01온보딩_05회원가입 */
.join_wrap .join_section .form_box .check_wrap {margin-top: 0.4rem;}

/* 01온보딩_06아이디찾기&07비밀번호찾기 */
.account_wrap .search_section .note_desc{font-weight: 600;font-size: 1.2rem;line-height: 150%;color: #000; margin-bottom: 1.6rem;}
.account_wrap .search_section .result_box {display: flex; flex-direction: column; align-items: center; gap: 1.2rem; padding: 3.2rem 0; border: 1px solid #d2d2d2; border-radius: 0.2rem;}
.account_wrap .search_section .result_box .iconbox {display: flex; align-items: center; justify-content: center; width: 4.8rem;}
.account_wrap .search_section .result_box .txtbox {display: flex; flex-direction: column; align-items: center; gap: 0.2rem; text-align: center;}
.account_wrap .search_section .result_box .txtbox .desc {font-size: 1.2rem; line-height: 150%; color: #53585a;}
.account_wrap .search_section .result_box .txtbox .tit {font-weight: 600;font-size: 1.6rem;line-height: 150%;color: #000;}
.account_wrap .search_section .result_box .txtbox .tit2 {font-weight: 600;font-size: 1.3rem;line-height: 154%;color: #000;}



/* 02검사하기_01홈 */
.exam_wrap .exam_swiper { width: calc(100% + 1.6rem * 2); margin: -1.6rem;  padding: 1.6rem;}
.exam_wrap .exam_box { display: flex; flex-direction: column; padding: 2.4rem 1.6rem; border: 1px solid #e5e8ec; border-radius: 0.4rem;  box-shadow: 0 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.12); background: #fff;}
.exam_wrap .exam_box .topbox {display: flex; flex-direction: column; text-align: center; margin-bottom: 3.2rem;}
.exam_wrap .exam_box .topbox .tit {font-weight: 600;font-size: 1.8rem;line-height: 144%;color: #000;}
.exam_wrap .exam_box .topbox .sub {margin-top: 0.2rem;font-size: 1.1rem;line-height: 145%;color: #7c7c7e;}
.exam_wrap .exam_box .topbox .desc {margin-top: 1.2rem;font-size: 1.2rem;line-height: 167%;color: #53585a;}
.exam_wrap .exam_box .topbox .btnbox {margin-top: 2rem; display: flex; gap: 0.8rem;}
.exam_wrap .exam_box .topbox .btnbox .button {height: 3.6rem;font-size: 1.2rem;
line-height: 150%;}
.exam_wrap .exam_box .plusbox { display: flex; margin-bottom: 2.4rem;}
.exam_wrap .exam_box .plusbox .item { flex: 1; aspect-ratio: 1 / 1; display: flex;  align-items: center;  justify-content: center; border: 0.6rem solid transparent;  border-radius: 50%;}
.exam_wrap .exam_box .plusbox .item1 { border-color: #f6c154;}
.exam_wrap .exam_box .plusbox .item2 { border-color: #e64f1c;}
.exam_wrap .exam_box .plusbox .item3 { border-color: #c0272d;}
.exam_wrap .exam_box .plusbox .item4 { border-color: #610d15;}
.exam_wrap .exam_box .plusbox .item .txt { font-weight: 600; font-size: 1.1rem;   line-height: 145%; color: #000; text-align: center; margin-top: 0.4rem;}
.exam_wrap .exam_box .plusbox .plus { display: flex; align-items: center;  justify-content: center;  width: 2rem; margin: 0 -0.6rem; z-index: 10;}
.exam_wrap .exam_box .contbox { display: flex; flex-direction: column; border-top: 1px solid #000;}
.exam_wrap .exam_box .contbox .item { width: 100%; min-height: 3.2rem;  display: flex;   align-items: center;  justify-content: space-between;  padding: 0.6rem 1.2rem;   border-bottom: 1px solid #e5e8ec;}
.exam_wrap .exam_box .contbox .item .tit { font-weight: 600;  font-size: 1.2rem;   line-height: 150%; color: #000;}
.exam_wrap .exam_box .contbox .item .desc { font-size: 1.1rem;  line-height: 145%;  text-align: right; color: #7c7c7e; flex: 1;}

/* 02검사하기_02온라인검사안내 */
.exam_wrap .guide_box { border: 1px solid #d2d2d2; border-radius: 0.2rem;  background: #f2f4f6;  padding: 1.6rem;}
.exam_wrap .guide_box .guide_tit {font-weight: 600;font-size: 1.3rem;line-height: 169%;color: #000; margin-bottom: 1.1rem;}
.exam_wrap .guide_box .guide_list {display: flex; flex-direction: column; gap: 1.3rem;}
.exam_wrap .guide_box .guide_list > .item {display: flex; align-items: flex-start; gap: 0.6rem; }
.exam_wrap .guide_box .guide_list > .item .num {font-weight: 600;font-size: 1rem;line-height: 100%;color: #fff; width: 1.8rem; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center; background: #000; border-radius: 50%;}
.exam_wrap .guide_box .guide_list > .item .cont { flex: 1; display: flex;   flex-direction: column;  gap: 0.4rem;}
.exam_wrap .guide_box .guide_list > .item .cont .tit {font-size: 1.2rem;  line-height: 167%; color: #000;}
.exam_wrap .guide_box .guide_list > .item .cont .tit .point {font-weight: 600;color: #c0272d;}
.exam_wrap .guide_box .guide_list > .item .cont .descbox {display: flex; flex-direction: column; gap: 0.6rem;}
.exam_wrap .guide_box .guide_list > .item .cont .descbox .desc {position: relative; padding-left: 0.9rem; font-size: 1.1rem;line-height: 145%;color: #53585a;}
.exam_wrap .guide_box .guide_list > .item .cont .descbox .desc::before {content: ""; position: absolute; left:  0; top: 0.6rem; width: 0.3rem; height: 0.3rem; border-radius: 50%; background: #7c7c7e;}

/* 02검사하기_03검사시작하기 */
.exam_wrap .exam_tit {font-weight: 600;font-size: 1.2rem;line-height: 150%;color: #000;margin-bottom: 1.2rem;}
.exam_wrap .guide_box2 { border: 1px solid #d2d2d2;  border-radius: 0.2rem;   background: #f2f4f6;  padding: 1.6rem; display: flex; flex-direction: column; gap: 0.6rem;}
.exam_wrap .guide_box2 .desc {position: relative; padding-left: 0.9rem; font-size: 1.1rem;line-height: 145%;color: #53585a;}
.exam_wrap .guide_box2 .desc::before {content: ""; position: absolute; left: 0; top: 0.6rem; width: 0.2rem; height: 0.2rem; border-radius: 50%; background: #7c7c7e;}
.exam_wrap .guide_box2 .point {font-weight: 600;color: #c0272d;}
.exam_wrap .exam_list {display: flex; flex-direction: column; border-top: 1px solid #000;}
.exam_wrap .exam_list .item {padding: 1rem 1.2rem; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #e5e8ec;} 
.exam_wrap .exam_list .item .left {display: flex; flex-direction: column;gap: 0.4rem;}
.exam_wrap .exam_list .item .left .tit {font-weight: 600;font-size: 1.3rem;line-height: 154%;color: #000;}
.exam_wrap .exam_list .item .left .desc {font-size: 1.1rem;line-height: 145%;color: #53585a;}
.exam_wrap .exam_list .item .right {flex: 1; display: flex; justify-content: flex-end;}
.exam_wrap .exam_list .item .right .button {min-width: 7.4rem;}



/* 03검사소개_01아우란트&02아우란트AUS */
.about_wrap .about_section {margin-bottom: 6.4rem;}
.about_wrap .about_section:last-child {margin-bottom: 0;}
.about_wrap .about_tit { font-weight: 600; font-size: 2rem;  line-height: 160%;  color: #000; text-align: center;  margin-bottom: 0.8rem;}
.about_wrap .tab_navbox { margin-bottom: 2.4rem;}
.about_wrap .introbox {display: flex; flex-direction: column; gap: 2.4rem; margin-bottom: 2.4rem;}
.about_wrap .introbox .item {display: flex; flex-direction: column; align-items: center; gap: 0.8rem; text-align: center;}
.about_wrap .introbox .item .tit {font-size: 1.4rem;line-height: 157%;color: #000;}
.about_wrap .introbox .item .tit .bold {font-weight: 600;}
.about_wrap .introbox .item .desc {font-size: 1.2rem;line-height: 167%; color: #53585a;}
.about_wrap .plusbox { display: flex; justify-content: center; margin-bottom: 1.6rem;}
.about_wrap .plusbox .item {width: 7.2rem; aspect-ratio: 1 / 1; display: flex;  align-items: center;  justify-content: center; border: 0.6rem solid transparent;  border-radius: 50%;}
.about_wrap .plusbox .item1 { border-color: #f6c154;}
.about_wrap .plusbox .item2 { border-color: #e64f1c;}
.about_wrap .plusbox .item3 { border-color: #c0272d;}
.about_wrap .plusbox .item4 { border-color: #610d15;}
.about_wrap .plusbox .item .txt { font-weight: 600; font-size: 1.1rem;   line-height: 145%; color: #000; text-align: center; margin-top: 0.4rem;}
.about_wrap .plusbox .plus { display: flex; align-items: center;  justify-content: center;  width: 2rem; margin: 0 -0.6rem; z-index: 10;}
.about_wrap .arrow_down {display: flex; align-items: center; justify-content: center; width: 1.4rem; margin: 0 auto 1.6rem; }
.about_wrap .btnbox {display: flex; flex-direction: column; gap: 0.8rem;}
.about_wrap .titbox {margin-bottom: 2.4rem; text-align: center;}
.about_wrap .titbox .tit {font-weight: 600;font-size: 2rem;line-height: 160%;color: #000;}
.about_wrap .titbox .tit .num {color: #c0272d;}
.about_wrap .samplebox {border: 1px solid #e5e8ec; border-radius: 0.4rem; box-shadow: 0 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.12); background: #fff; padding: 3.2rem 0 2.4rem; display: flex; flex-direction: column; align-items: center; gap: 2.4rem; margin-bottom: 4rem;}
.about_wrap .samplebox .imgbox {width: 100%; max-width: 29.4rem; display: flex; align-items: center; justify-content: center;}
.about_wrap .samplebox .imgbox .img {width: 100%;}
.about_wrap .samplebox .desc {font-size: 1.2rem;line-height: 167%;text-align: center;color: #53585a; padding: 0 2rem;}
.about_wrap .samplebox .button {width: calc(100% - 2rem*2);}
.about_wrap .descwrap {  display: flex; flex-direction: column;  gap: 4rem;}
.about_wrap .descwrap > .item {display: flex; flex-direction: column; gap: 0.8rem;}
.about_wrap .descwrap > .item .tit {font-weight: 600;font-size: 1.4rem;line-height: 157%;color: #000;}
.about_wrap .descwrap > .item .desc {font-size: 1.2rem;line-height: 167%;color: #53585a;}
.about_wrap .descwrap > .item .descbox {display: flex; flex-direction: column; gap: 0.4rem;}
.about_wrap .descwrap > .item .descbox .desc { position: relative; padding-left: 1.2rem;}
.about_wrap .descwrap > .item .descbox .desc::before { content: "";  width: 0.6rem;  aspect-ratio: 1 / 1;  border: 0.2rem solid #d2d2d2;  border-radius: 50%;  position: absolute; left: 0;  top: 0.6rem; box-sizing: border-box;}
.about_wrap .descwrap > .item .label_box {margin-top: 0.4rem;}

/* 03검사소개_03결과지샘플popups */
#reportSample_popup .modal_body {padding: 1.6rem 1.6rem 2.4rem;}
#reportSample_popup .modal_body .samplebox {width: 100%; height: 48rem; border: 1px solid #d2d2d2; background: #f4f6f8; overflow: auto; display: flex; flex-direction: column;}
#reportSample_popup .modal_body .samplebox::-webkit-scrollbar {display: none;}
#reportSample_popup .modal_body .samplebox img {width: 100%;}
#reportSample_popup .modal_body .samplebox .txt { font-weight: 400;  font-size: 1.4rem;   line-height: 157%;  color: #7c7c7e;  text-align: center;  flex: 1;   display: flex;   align-items: center;  justify-content: center;}



/* 04검사가이드 */
.guide_wrap .guide_tit { font-weight: 600; font-size: 2rem; line-height: 160%;  color: #000; text-align: center;  margin-bottom: 1.6rem;}
.guide_wrap .guide_cont {border: 1px solid #e5e8ec; border-radius: 0.4rem; box-shadow: 0 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.12); background: #fff; display: flex; flex-direction: column;}
.guide_wrap .guide_cont .topbox {padding: 3.2rem 1.6rem;}
.guide_wrap .guide_cont .topbox .tit {font-weight: 600;font-size: 1.8rem;line-height: 167%;color: #000; text-align: center;}
.guide_wrap .guide_cont .topbox .tit .point {color: #c0272d;}
.guide_wrap .guide_cont .topbox .desc {font-size: 1.2rem;line-height: 167%;text-align: center;color: #53585a;margin-top: 0.4rem;}
.guide_wrap .guide_cont .topbox .btnbox {display: flex; gap: 1.2rem; margin-top: 2.4rem;}
.guide_wrap .guide_cont .imgbox {display: flex; align-items: center; justify-content: center;}
.guide_wrap .guide_cont .imgbox .img {width: 100%; }
.guide_wrap .guide_cont .chapterbox { padding: 2.4rem 1.6rem;  display: flex;   flex-wrap: wrap;  gap: 2rem 0;}
.guide_wrap .guide_cont .chapterbox .item { width: 50%;  display: flex; flex-direction: column;}
.guide_wrap .guide_cont .chapterbox .item .tit { font-size: 1.2rem;  line-height: 167%;  color: #53585a;}
.guide_wrap .guide_cont .chapterbox .item .number { font-weight: 600;  font-size: 1.8rem;  line-height: 156%; color: #000; margin-top: -0.2rem;}
.guide_wrap .guide_cont .chapterbox .item .desc { font-size: 1.2rem; line-height: 167%;  color: #53585a;}
.guide_wrap .guide_cont .chapterbox .line {width: 100%; height: 1px; background: #e5e8ec;}

/* 04검사가이드_02저학년검사안내&03고학년검사안내 */
.guide_wrap .video_section { padding: 2.4rem 0; border-bottom: 1rem solid #f2f4f6;}
.guide_wrap .video_section:last-child {padding-bottom: 0; border-bottom: 0;}
.guide_wrap .video_sec1 {padding-top: 0;}
.guide_wrap .video_sec1 .titbox {display: flex; flex-direction: column; gap: 0.2rem; margin-bottom: 1.6rem;}
.guide_wrap .video_sec1 .titbox .tit {font-weight: 600;font-size: 1.8rem;line-height: 167%;color: #000;}
.guide_wrap .video_sec1 .descbox {display: flex; align-items: center; gap: 0.6rem;}
.guide_wrap .video_sec1 .descbox .desc {font-size: 1.2rem;line-height: 167%;color: #53585a;}
.guide_wrap .video_sec1 .descbox .dot {width: 0.3rem; height: 0.3rem; background: #adb2bb; border-radius: 50%;}
.guide_wrap .video_sec1 .vidcont { position: relative; display: flex; flex-direction: column; border-radius: 0.4rem; overflow: hidden;}
.guide_wrap .video_sec1 .vidcont .vidbox { position: relative; display: flex;   align-items: center; justify-content: center;}
.guide_wrap .video_sec1 .vidcont .vidbox .video {width: 100%; height: 100%; object-fit: cover;}
.guide_wrap .video_sec1 .vidcont .vidbox .play_video { background: url(../img/ico_play.png) no-repeat center / contain;  position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%, -50%);  width: 4rem;  aspect-ratio: 1 / 1; transition: all 0.3s ease;}
.guide_wrap .video_sec1 .vidcont .vidbox .play_video.hide {opacity: 0; pointer-events: none;}
.guide_wrap .video_sec1 .vidcont .controls { background: #000; display: flex;   align-items: center;  width: 100%;  height: 3.2rem; padding-left: 0.8rem;  padding-right: 1rem;}
.guide_wrap .video_sec1 .vidcont .controls .btnbox {display: flex; align-items: center; gap: 0.7rem;}
.guide_wrap .video_sec1 .vidcont .controls .btnbox .btn {background: no-repeat center/contain; width: 1.4rem; aspect-ratio: 1/1; display: block;}
.guide_wrap .video_sec1 .vidcont .controls .btnbox .btn.play_btn {background-image: url(../img/ctr_play.png);}
.guide_wrap .video_sec1 .vidcont .controls .btnbox .btn.play_btn.on {background-image: url(../img/ctr_pause.png);}
.guide_wrap .video_sec1 .vidcont .controls .btnbox .btn.volume_btn {background-image: url(../img/ctr_volume.png);}
.guide_wrap .video_sec1 .vidcont .controls .btnbox .btn.fullscreen_btn {background-image: url(../img/ctr_fullscreen.png);}
.guide_wrap .video_sec1 .vidcont .controls .btnbox .btn.option_btn {background-image: url(../img/ctr_option.png);}
.guide_wrap .video_sec1 .vidcont .controls .time {font-size: 1.1rem;line-height: 145%;color: #7c7c7e; margin-left: 0.4rem; margin-right: 0.9rem;}
.guide_wrap .video_sec1 .vidcont .controls .time .now {color: #fff;}
.guide_wrap .video_sec1 .vidcont .controls .progress { flex: 1;  position: relative;   margin-right: 1.4rem;  height: 0.2rem;  background: #53585a;  border-radius: 10rem;   overflow: hidden;}
.guide_wrap .video_sec1 .vidcont .controls .progress .load {  position: absolute;  left: 0;  top: 0;  height: 100%;  background: #7c7c7e;  opacity: 0.5; border-radius: 10rem;}
.guide_wrap .video_sec1 .vidcont .controls .progress .bar {  position: absolute;  left: 0;  top: 0;  height: 100%;  background: #e64f1c; border-radius: 10rem;}
.guide_wrap .video_sec2 {margin-bottom: 3.2rem;}
.guide_wrap .video_sec2 .video_cont {margin-bottom: 4rem;}
.guide_wrap .video_sec2 .video_cont:last-child {margin-bottom: 0;}
.guide_wrap .video_sec2 .video_tit {font-weight: 600;font-size: 1.2rem;line-height: 167%;color: #000; margin-bottom: 1rem;}
.guide_wrap .video_sec2 .video_list {display: flex; flex-direction: column; gap: 2.4rem;}
.guide_wrap .video_sec2 .video_list .item {display: flex; align-items: flex-start; gap: 1.6rem;}
.guide_wrap .video_sec2 .video_list .item .vidbox {width: 14.6rem; aspect-ratio: 146/96;  position: relative; display: flex; flex-direction: column;border-radius: 0.4rem; overflow: hidden;}
.guide_wrap .video_sec2 .video_list .item .vidbox .video {width: 100%; height: 100%; object-fit: cover;}
.guide_wrap .video_sec2 .video_list .item .vidbox .play_video { background: url(../img/ico_play.png) no-repeat center / contain;  position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%, -50%);  width: 2.6rem;  aspect-ratio: 1 / 1; transition: all 0.3s ease;;}
.guide_wrap .video_sec2 .video_list .item .vidbox .play_video.hide {opacity: 0; pointer-events: none;}
.guide_wrap .video_sec2 .video_list .item .vidbox .progress { position: relative; width: 100%; height: 0.4rem;  background: #53585a;  border-radius: 10rem;  overflow: hidden;}
.guide_wrap .video_sec2 .video_list .item .vidbox .progress .bar { position: absolute;  left: 0;  top: 0;  height: 100%;  background: #e64f1c; border-radius: 10rem;}
.guide_wrap .video_sec2 .video_list .txtbox {flex: 1; display: flex; flex-direction: column; gap: 0.2rem;}
.guide_wrap .video_sec2 .video_list .txtbox .tit {font-weight: 600;font-size: 1.2rem;line-height: 167%;color: #000;}
.guide_wrap .video_sec2 .video_list .txtbox .desc {font-size: 1.2re,;line-height: 167%;color: #53585a;}
.guide_wrap .video_sec2 .video_btnbox {display: flex;flex-direction: column;gap: 1rem;}
.guide_wrap .video_sec2 .video_btnbox .vid_btn {  gap: 0.8rem;  color: #000;   border: 1px solid #d2d2d2; border-radius: 0.4rem; background: #fff;}
.guide_wrap .video_sec2 .video_btnbox .vid_btn .icon {background: url(../img/ico_play2.png) no-repeat center/contain; width: 2rem; aspect-ratio: 1/1;}



/* 05마이페이지_01홈 */
.mypage_wrap .mypage_sec1 { padding-bottom: 2.4rem; border-bottom: 0.8rem solid #f2f4f6;}
.mypage_wrap .mypage_tit { font-weight: 600; font-size: 2rem; line-height: 160%;  color: #000; text-align: center;  margin-bottom: 1.6rem;}
.mypage_wrap .mypage_sec1 .alert_box {padding: 1.2rem 1.6rem; background: #f4f6f8; border-radius: 0.2rem; margin-bottom: 1.2rem;}
.mypage_wrap .mypage_sec1 .alert_box .alert_txt { font-weight: 600; font-size: 1.3rem; line-height: 154%; padding-left: 2rem; display: flex; align-items: center; gap: 1rem;}
.mypage_wrap .mypage_sec1 .alert_box .alert_txt::before { top: 50%; transform: translateY(-50%);}
.mypage_wrap .mypage_sec1 .alert_box .alert_txt .txt {flex: 1;}
.mypage_wrap .mypage_sec1 .alert_box .alert_txt .arrow {background: url(../img/ico_btn_arrow.png) no-repeat center/contain; width: 2.4rem; aspect-ratio: 1/1;}
.mypage_wrap .mypage_menu {display: flex; flex-direction: column; gap: 0.4rem; padding: 0.8rem 0 2.2rem;}
.mypage_wrap .mypage_menu > li {font-size: 1.3rem;line-height: 154%;color: #53585a;}
.mypage_wrap .mypage_menu > li .link {width: 100%; height: 4rem; display: flex; align-items: center; justify-content: space-between; gap: 0.6rem;}
.mypage_wrap .mypage_menu > li .tit {flex: 1; display: flex; align-items: center; gap: 0.6rem;}
.mypage_wrap .mypage_menu > li .tit .icon {width: 2rem;}
.mypage_wrap .mypage_menu > li .tit .txt {flex: 1; font-weight: 600; color: #000;}
.mypage_wrap .mypage_menu > li > .txt {flex: 1;}
.mypage_wrap .mypage_menu > li .arrow {background: url(../img/ico_btn_arrow.png) no-repeat center/contain; width: 2.4rem; aspect-ratio: 1/1;}

/* 05마이페이지_02~07 */
.mypage_wrap .listbox_wrap { display: flex; flex-direction: column; gap: 1.2rem;}
.mypage_wrap .listbox { border: 1px solid #e5e8ec; border-radius: 0.2rem;  box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.08);  background: #fff;  padding: 1.6rem 2rem 2rem;   display: flex;  align-items: center; justify-content: space-between; gap: 1rem; font-size: 1.1rem;line-height: 145%;color: #7c7c7e;}
.mypage_wrap .listbox .leftbox {flex: 1; display: flex; flex-direction: column; gap: 0.4rem;}
.mypage_wrap .listbox .leftbox .tit {font-weight: 600;font-size: 1.6rem;line-height: 150%;color: #000;}
.mypage_wrap .listbox .leftbox .state {font-weight: 700; margin-top: 0.8rem;}
.mypage_wrap .listbox .leftbox .state.typeA {color: #33b6ff;}
.mypage_wrap .listbox .leftbox .state.typeB {color: #25ad6c;}
.mypage_wrap .listbox .leftbox .dot_txtbox {display: flex; align-items: center; gap: 0.6rem;}
.mypage_wrap .listbox .leftbox .dot_txtbox .desc .bold {font-weight: 600; color: #000;}
.mypage_wrap .listbox .leftbox .dot_txtbox .desc .red {color: #c0272d;}
.mypage_wrap .listbox .leftbox .dot_txtbox .dot {background: #d2d2d2; width: 0.3rem; height: 0.3rem; border-radius: 50%;}
.mypage_wrap .listbox .rightbox {display: flex; align-items: center; justify-content: flex-end; gap: 0.8rem;}
.mypage_wrap .listbox .rightbox .button.mw72 {min-width: 7.8rem;}
.mypage_wrap .listbox .rightbox .button.state { width: 6rem; padding: 0;}
.mypage_wrap .accordion .listbox { align-items: unset; justify-content: unset;   flex-direction: column; gap: 0; padding-bottom: 0;}
.mypage_wrap .accordion .listbox .acc_tit { width: 100%; display: flex;  align-items: center;  justify-content: space-between; gap: 1rem; padding-bottom: 2rem;}
.mypage_wrap .accordion .listbox .rightbox .acc_arrow {background: url(../img/ico_acc_arrow.png) no-repeat center/contain; width: 2.4rem; aspect-ratio: 1/1; transition: var(--transition);}
.mypage_wrap .accordion .listbox.show .rightbox .acc_arrow {transform: rotate(180deg);}
.mypage_wrap .accordion .listbox .acc_cont {display: none;}
.mypage_wrap .accordion .listbox .detail_list {display: flex; flex-direction: column; gap: 0.4rem; padding: 1.6rem 0; border-top: 1px solid #e5e8ec;}
.mypage_wrap .accordion .listbox .detail_list .item {display: flex; align-items: center; justify-content: space-between; gap: 1rem;}
.mypage_wrap .accordion .listbox .detail_list .item .tit {font-weight: 600; color: #000;}
.mypage_wrap .accordion .listbox .detail_list .item .date {flex: 1; text-align: right;}
.mypage_wrap .accordion .listbox .detail_cont { font-size: 1.2rem; line-height: 167%; color: #7c7c7e; padding: 1.6rem 2rem;  background: rgb(242, 244, 246, 0.7);}
.mypage_wrap .accordion.ver2 .listbox {padding-left: 0; padding-right: 0;}
.mypage_wrap .accordion.ver2 .listbox .acc_tit {padding-left: 1.6rem; padding-right: 1.6rem;}
.mypage_wrap .accordion.ver2 .listbox .leftbox .tit {font-size: 1.3rem;line-height: 154%;}

/* 05마이페이지_08유료이용권 */
.mypage_wrap .mypage_sec3 {padding: 2.4rem 0 3rem;}
.mypage_wrap .titbox {display: flex; flex-direction: column; gap: 0.8rem; }
.mypage_wrap .titbox .tit { font-weight: 600; font-size: 1.4rem; line-height: 157%;  color: #000;}
.mypage_wrap .titbox .desc {font-size: 1.2rem;line-height: 167%;color: #53585a;}
.mypage_wrap .plan_list { display: flex; flex-direction: column; gap: 4rem;}
.mypage_wrap .plan_list .plan_item { display: flex; flex-direction: column; gap: 1.2rem;}
.mypage_wrap .plan_list .plan_item .plan_tit {font-weight: 600;font-size: 1.4rem;line-height: 157%;color: #000;}
.mypage_wrap .plan_list .plan_item .box { border: 1px solid #d2d2d2;  border-radius: 0.4rem; box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.09);  background: #fff;   display: flex; flex-direction: column; overflow: hidden;}
.mypage_wrap .plan_list .plan_item .box .topbox { width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 1.3rem 2rem;}
.mypage_wrap .plan_list .plan_item.planA .box .topbox {background: linear-gradient(180deg, #47bdff 0%, #2aa2e6 100%);}
.mypage_wrap .plan_list .plan_item.planB .box .topbox {background: linear-gradient(180deg, #60d19b 0%, #25ad6c 100%);}
.mypage_wrap .plan_list .plan_item .box .topbox .leftbox {flex: 1;}
.mypage_wrap .plan_list .plan_item .box .topbox .leftbox .tit {font-weight: 600;font-size: 1.4rem;line-height: 157%;color: #fff;}
.mypage_wrap .plan_list .plan_item .box .topbox .rightbox { display: flex; align-items: center; justify-content: flex-end; gap: 0.7rem;}
.mypage_wrap .plan_list .plan_item .box .topbox .rightbox .price {font-weight: 600;font-size: 1.8rem;line-height: 167%;color: #fff;}
.mypage_wrap .plan_list .plan_item .box .topbox .rightbox .month {font-size: 1.1rem;line-height: 164%;color: #fff;}
.mypage_wrap .plan_list .plan_item .box .contbox { padding: 1.6rem 2rem 2rem;  display: flex;  flex-direction: column; gap: 1.6rem;}
.mypage_wrap .plan_list .plan_item .box .contbox .checklist { display: flex; flex-direction: column; gap: 0.6rem;}
.mypage_wrap .plan_list .plan_item .box .contbox .checkitem { display: flex;  align-items: flex-start; gap: 0.6rem; font-size: 1.2rem; line-height: 167%; color: #53585a;}
.mypage_wrap .plan_list .plan_item .box .contbox .checkitem .icon {background: url(../img/ico_check2.png) no-repeat center/contain; width: 1.6rem; aspect-ratio: 1/1; margin-top: 0.2rem;}
.mypage_wrap .plan_list .plan_item .box .contbox .checkitem .txt {flex: 1;}
.mypage_wrap .plan_list .plan_item .box .contbox .buy_btn { height: 3.6rem;  font-size: 1.2rem; line-height: 150%; font-weight: 700;}
.mypage_wrap .plan_list .plan_item .alert_box { margin-top: 0; }
.mypage_wrap .payment_box {display: flex; flex-direction: column; gap: 1.6rem;}
.mypage_wrap .payment_box .payment_list {display: flex; flex-direction: column; border-top: 1px solid #000;}
.mypage_wrap .payment_box .payment_list .item {display: flex; align-items: center; justify-content: space-between; font-size: 1.2rem;line-height: 150%;color: #000; padding: 1rem 1.6rem; border-bottom: 1px solid #e5e8ec;}
.mypage_wrap .payment_box .payment_list .item .price {flex: 1; font-weight: 600; text-align: right;}
.mypage_wrap .payment_box .payment_list .item .price.total {color: #c0272d;}



/* 06인성검사_03질의응답하기 */
.personality_wrap .container {padding-top: 6rem;}
.personality_wrap .personality_section .progressbox { margin: 0.8rem 0 1.6rem;   display: flex; align-items: center; gap: 0.8rem;}
.personality_wrap .personality_section .progressbox .progress { position: relative;   width: 100%;  height: 0.8rem;  border-radius: 10rem; background: #f2f4f6;}
.personality_wrap .personality_section .progressbox .progress .bar {position: relative; height: 100%;  border-radius: 10rem; overflow: hidden;}
.personality_wrap .personality_section .progressbox .progress .bar::before { content: ""; position: absolute; left: 0; top: 0; width: var(--progress-width); height: 100%;  background: linear-gradient(90deg, #35acf0 0%, #2db273 100%);}
.personality_wrap .personality_section .progressbox.done .progress .bar::before {background: linear-gradient(90deg, #d62018 0%, #670e0c 100%);}
.personality_wrap .personality_section .progressbox .time {font-size: 1.1rem;line-height: 145%;color: #53585a;}
.personality_wrap .personality_section .progressbox.done .time {font-weight: 700; color: #c0272d;}
.personality_wrap .personality_section .question {display: flex; flex-direction: column;}
.personality_wrap .personality_section .question .q_toptxt {font-weight: 600;font-size: 1.2rem;line-height: 167%;color: #000; margin-bottom: 1.6rem;}
.personality_wrap .personality_section .question .q_toptxt.ver2 {margin-bottom: 2.4rem;}
.personality_wrap .personality_section .question .q_toptxt .small {font-weight: 400;color: #53585a;}
.personality_wrap .personality_section .question .q_toptxt .normal {font-weight: 400;}
.personality_wrap .personality_section .question .q_toptxt .red {font-weight: 700;
color: #c0272d;}
.personality_wrap .personality_section .question .q_sub {font-size: 1.1rem;line-height: 145%;color: #53585a; margin-bottom: 0.6rem;}
.personality_wrap .personality_section .question .q_tit {font-weight: 600;font-size: 1.4rem;line-height: 157%;color: #000; margin-bottom: 1.6rem;}
.personality_wrap .personality_section .question .q_tit.flex {display: flex; align-items: center; flex-wrap: wrap; gap: 0.4rem 0.8rem;}
.personality_wrap .personality_section .question .q_tit.flex .desc {font-weight: 400; font-size: 1.1rem;line-height: 145%;color: #53585a;}
.personality_wrap .personality_section .question .form_item .q_tit {margin-bottom: 0.4rem;}
.personality_wrap .personality_section .question .answer_box {display: flex; flex-direction: column; gap: 1.2rem;}
.personality_wrap .personality_section .question .answer_item {width: 100%;}
.personality_wrap .personality_section .question .answer_item .input_answer {display: none;}
.personality_wrap .personality_section .question .answer_item .label_answer {width: 100%; height: 4.8rem; padding: 0 1.6rem; display: flex; align-items: center; justify-content: space-between; font-size: 1.3rem;line-height: 154%; color: #7c7c7e; border: 1px solid #e5e8ec; border-radius: 0.2rem; box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.08); background: #fff; transition: var(--transition);}
.personality_wrap .personality_section .question .answer_item .label_answer .txt { flex: 1;}
.personality_wrap .personality_section .question .answer_item .label_answer .check {background: url(../img/ico_check.png) no-repeat center/contain; width: 2.4rem; aspect-ratio: 1/1; transition: var(--transition); opacity: 0;}
.personality_wrap .personality_section .question .answer_item .input_answer:checked + .label_answer {font-weight: 600;color: #000; border-color: #000;}
.personality_wrap .personality_section .question .answer_item .input_answer:checked + .label_answer .check {opacity: 1;}
.personality_wrap .personality_state {margin-top: 2.4rem;}
.personality_wrap .personality_state .txtbox {border-top:1px solid #e5e8ec;padding:1.6rem 0 0.8rem;}
.personality_wrap .personality_state .txtbox .title {font-size: 1.3rem;line-height: 138%;
text-align: center;color: #53585a;}
